In [48]:
def fill():
    a=[]
    for i in range(9):
        c=input()
        a.append([])
        for j in c:
            if(j>='1' and j<='9'):
                a[-1].append(int(j))
            else:
                a[-1].append(int(0))
    return(a)
def display(a):
    for i in range(9):
        for j in range(18):
            print("=",end="")
        print()
        print("|",end="")
        for j in range(9):
            if(a[i][j]==0):
                print(str(possible[i][j]),end="")
                print("|",end="")
            else:
                print(a[i][j],end="")
                print("|",end="")
        print()
def eliminate():
    for i in range(9):
        for j in range(9):
            if(a[i][j]!=0):
                possible[i][j]=[]
def row_elimination():
    for i in range(9):
        row_ele=list(set(a[i]))
        for ele in row_ele:
            for j in range(9):
                if(ele in possible[i][j]):
                    possible[i][j].remove(ele)
def col_elimination():
    for i in range(9):
        col_ele=[]
        for j in range(9):
            col_ele.append(a[j][i])
        col_ele=list(set(col_ele))
        for j in range(9):
            for ele in col_ele:
                if(ele in possible[j][i]):
                    possible[j][i].remove(ele)
def box_elimination():
    for m in [0,3,6]:
        for n in [0,3,6]:
            box_ele=[]
            for i in range(m,m+3):
                for j in range(n,n+3):
                    box_ele.append(a[i][j])
            box_ele=list(set(box_ele))
            for i in range(m,m+3):
                for j in range(n,n+3):
                    for ele in box_ele:
                        if(ele in possible[i][j]):
                            possible[i][j].remove(ele)
def single_ele():
    for i in range(9):
        for j in range(9):
            if(len(possible[i][j])==1):
                #print("SINGLE ELE")
                #print(i,j)
                a[i][j]=possible[i][j][0]
                possible[i][j]=[]
                row_elimination()
                col_elimination()
                box_elimination()
def single_in():
    for no in range(1,10):
        for i in range(9):
            count=0
            m=-1
            n=-1
            for j in range(9):
                if(no in possible[i][j]):
                    count+=1
                    m=i
                    n=j
            if(count==1):
                #print("ROW")
                #print(m,n)
                a[m][n]=no
                possible[m][n]=[]
                row_elimination()
                col_elimination()
                box_elimination()
            count=0
            m=-1
            n=-1
            for j in range(9):
                if(no in possible[j][i]):
                    count+=1
                    m=j
                    n=i
            if(count==1):
                #print("COLUMN")
                #print(m,n)
                a[m][n]=no
                possible[m][n]=[]
                row_elimination()
                col_elimination()
                box_elimination()
        count=0
        m=-1
        n=-1
        for m1 in [0,3,6]:
            for n1 in [0,3,6]:
                for i in range(m1,m1+3):
                    for j in range(n1,n1+3):
                        if(no in possible[i][j]):
                            count+=1
                            m=i
                            n=j
                if(count==1):
                    #print("BOX")
                    #print(m,n)
                    a[m][n]=no
                    possible[m][n]=[]
                    row_elimination()
                    col_elimination()
                    box_elimination()
def double_ele():
    for i in range(9):
        len_two=[]
        row_ele=[]
        for j in range(9):
            if(len(possible[i][j])==2):
                len_two.append(possible[i][j])
        for j in range(len(len_two)):
            for k in len_two[j+1:]:
                if(len_two[j][0]==k[0] and k[1]==len_two[j][1]):
                    row_ele=k
        if(len(row_ele)==2):
            print("row "+str(i+1)+"double_ele"+str(row_ele))
        for ele in row_ele:
            for j in range(9):
                if(len(possible[i][j])==2 and row_ele[0]==possible[i][j][0] and row_ele[1]==possible[i][j][1]):
                    #print(i,j)
                    print(end="")
                else:
                    if(ele in possible[i][j]):
                        possible[i][j].remove(ele)
        row_ele=[]
        len_two=[]
        for j in range(9):
            if(len(possible[j][i])==2):
                len_two.append(possible[j][i])
        for j in range(len(len_two)):
            for k in len_two[j+1:]:
                if(len_two[j][0]==k[0] and k[1]==len_two[j][1]):
                    row_ele=k
        if(len(row_ele)==2):
            print("column"+str(i+1)+" double_ele"+str(row_ele))
        for ele in row_ele:
            for j in range(9):
                if(len(possible[j][i])==2 and row_ele[0]==possible[j][i][0] and row_ele[1]==possible[j][i][1]):
                    #print(j,i)
                    print(end="")
                else:
                    if(ele in possible[j][i]):
                        possible[j][i].remove(ele)
    for m1 in [0,3,6]:
            for n1 in [0,3,6]:
                len_two=[]
                row_ele=[]
                for i in range(m1,m1+3):
                    for j in range(n1,n1+3):
                        if(len(possible[i][j])==2):
                            len_two.append(possible[i][j])
                for j in range(len(len_two)):
                    for k in len_two[j+1:]:
                        if(len_two[j][0]==k[0] and k[1]==len_two[j][1]):
                            row_ele=k
                for ele in row_ele:
                    for i in range(m1,m1+3):
                        for j in range(n1,n1+3):
                            if(len(possible[i][j])==2 and row_ele[0]==possible[i][j][0] and row_ele[1]==possible[i][j][1]):
                                #print(i,j)
                                print(end="")
                            else:
                                if(ele in possible[i][j]):
                                    possible[i][j].remove(ele)                    
def percent():
    count=0
    count1=[0,0,0,0,0,0,0,0,0]
    for i in range(9):
        for j in range(9):
            if(a[i][j]>=1):
                count+=1
                k=a[i][j]
                count1[k-1]+=1
    #print(count1)
    return int((count*100)/81)
def triple_ele():
    for i in range(9):
        len_two=[]
        len_three=[]
        row_ele=[]
        for j in range(9):
            if(len(possible[i][j])==2):
                len_two.append(possible[i][j])
            if(len(possible[i][j])==3):
                len_three.append(possible[i][j])
        for j in range(len(len_two)):
            for k in len_two[j+1:]:
                s1=set(len_two[j])
                s2=set(k)
                if(list(s1|s2)in len_three):
                    row_ele=list(s1|s2)
        if(len(row_ele)>0):
            print("row "+str(i+1)+"triple_ele"+str(row_ele))
            #print(possible[i])
        for ele in row_ele:
            for j in range(9):
                if(len(possible[i][j])==2 and possible[i][j][0] in row_ele and possible[i][j][1] in row_ele):
                    #print("l=2")
                    #print(i,j)
                    print(end="")
                elif(len(possible[i][j])==3 and possible[i][j][0] in row_ele and possible[i][j][1] in row_ele and possible[i][j][2] in row_ele):
                    #print("l=3")
                    #print(i,j)
                    print(end="")
                else:
                    if(ele in possible[i][j]):
                        possible[i][j].remove(ele)
            #print(possible[i])
        row_ele=[]
        len_three=[]
        len_two=[]
        for j in range(9):
            if(len(possible[j][i])==2):
                len_two.append(possible[j][i])
            if(len(possible[i][j])==3):
                len_three.append(possible[i][j])
        for j in range(len(len_two)):
            for k in len_two[j+1:]:
                s1=set(len_two[j])
                s2=set(k)
                if(list(s1|s2)in len_three):
                    row_ele=list(s1|s2)
        if(len(row_ele)==3):
            print("column"+str(i+1)+" triple_ele"+str(row_ele))
        for ele in row_ele:
            for j in range(9):
                if(len(possible[j][i])==2 and possible[j][i][0] in row_ele and possible[j][i][1] in row_ele):
                    #print(j,i)
                    print(end="")
                elif(len(possible[j][i])==3 and possible[j][i][0] in row_ele and possible[j][i][1] in row_ele and possible[j][i][2] in row_ele):
                    #print(j,i)
                    print(end="")
                else:
                    if(ele in possible[j][i]):
                        possible[j][i].remove(ele)
    for m1 in [0,3,6]:
            for n1 in [0,3,6]:
                len_two=[]
                len_three=[]
                row_ele=[]
                for i in range(m1,m1+3):
                    for j in range(n1,n1+3):
                        if(len(possible[i][j])==2):
                            len_two.append(possible[i][j])
                        if(len(possible[i][j])==3):
                            len_three.append(possible[i][j])
                for j in range(len(len_two)):
                    for k in len_two[j+1:]:
                        s1=set(len_two[j])
                        s2=set(k)
                        if(list(s1|s2)in len_three):
                            row_ele=list(s1|s2)
                if(len(row_ele)==3):
                    print("box"+str(i+1)+" triple_ele"+str(row_ele))
                    #print(possible)
                for ele in row_ele:
                    for i in range(m1,m1+3):
                        for j in range(n1,n1+3):
                            if(len(possible[i][j])==2 and possible[i][j][0] in row_ele and possible[i][j][1] in row_ele):
                                #print(i,j)
                                print(end="")
                            elif(len(possible[i][j])==3 and possible[i][j][0] in row_ele and possible[i][j][1] in row_ele and  possible[i][j][2] in row_ele ):
                                #print(i,j)
                                print(end="")
                            else:
                                if(ele in possible[i][j]):
                                    possible[i][j].remove(ele)

In [2]:
a=fill()
a

9-1------
275--4--8
-36-9--5-
---9-8--2
---------
7--6-5---
-9--4-52-
6--3--891
------4-3

[[9, 0, 1, 0, 0, 0, 0, 0, 0],
 [2, 7, 5, 0, 0, 4, 0, 0, 8],
 [0, 3, 6, 0, 9, 0, 0, 5, 0],
 [0, 0, 0, 9, 0, 8, 0, 0, 2],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [7, 0, 0, 6, 0, 5, 0, 0, 0],
 [0, 9, 0, 0, 4, 0, 5, 2, 0],
 [6, 0, 0, 3, 0, 0, 8, 9, 1],
 [0, 0, 0, 0, 0, 0, 4, 0, 3]]

In [54]:
import pandas as pd
count=0
count1=0
data=pd.read_csv("sudoku.csv")
for b in data['quizzes'][480847:]:
    possible=[[[i for i in range(1,10)] for j in range(9)]for k in range(9)]
    a=[]
    j=0
    for i in b:
        if(j==0):
            a.append([])
        a[-1].append(int(i))
        j=(j+1)%9
    #print(a)
    previous=-1
    present=0
    while (previous!=present):
        previous=present
        present=percent()
        double_ele()
        triple_ele()
        eliminate()
        row_elimination()
        col_elimination()
        box_elimination()
        single_ele()
        single_in()
    if(present==100):
        count+=1
    count1+=1
    print("count-"+str(count))
    print("total-"+str(count1))
    #display(a)
    #display(possible)

count-1
total-1
count-2
total-2
count-3
total-3
count-4
total-4
count-5
total-5
row 1double_ele[2, 5]
row 2double_ele[2, 5]
column4 double_ele[1, 5]
column5 double_ele[2, 5]
column8 double_ele[2, 5]
count-6
total-6
row 4double_ele[1, 6]
column5 double_ele[1, 4]
count-7
total-7
count-8
total-8
count-9
total-9
count-10
total-10
row 9double_ele[2, 4]
count-11
total-11
count-12
total-12
count-13
total-13
count-14
total-14
count-15
total-15
count-16
total-16
count-17
total-17
count-18
total-18
count-19
total-19
count-20
total-20
count-21
total-21
count-22
total-22
count-23
total-23
count-24
total-24
count-25
total-25
count-26
total-26
row 5double_ele[1, 4]
count-27
total-27
count-28
total-28
count-29
total-29
count-30
total-30
count-31
total-31
count-32
total-32
count-33
total-33
count-34
total-34
count-35
total-35
count-36
total-36
count-37
total-37
count-38
total-38
count-39
total-39
count-40
total-40
count-41
total-41
count-42
total-42
count-43
total-43
count-44
total-44
count-45
total-45
count-46
total-46
column6 double_ele[1, 4]
count-47
total-47
count-48
total-48
count-49
total-49
column6 double_ele[1, 6]
row 8double_ele[1, 6]
count-50
total-50
count-51
total-51
count-52
total-52
count-53
total-53
count-54
total-54
row 2double_ele[4, 8]
row 6double_ele[6, 8]
row 8double_ele[2, 4]
count-55
total-55
count-56
total-56
count-57
total-57
count-58
total-58
count-59
total-59
count-60
total-60
count-61
total-61
count-62
total-62
count-63
total-63
count-64
total-64
count-65
total-65
count-66
total-66
count-67
total-67
count-68
total-68
count-69
total-69
count-70
total-70
count-71
total-71
count-72
total-72
count-73
total-73
count-74
total-74
count-75
total-75
count-76
total-76
row 3double_ele[2, 5]
count-77
total-77
count-78
total-78
count-79
total-79
column6 double_ele[1, 5]
column9 double_ele[4, 5]
count-80
total-80
count-81
total-81
count-82
total-82
count-83
total-83
count-84
total-84
count-85
total-85
count-86
total-86
count-87
total-87
count-88
total-88
count-89
total-89
count-90
total-90
count-91
total-91
count-92
total-92
count-93
total-93
count-94
total-94
count-95
total-95
count-96
total-96
count-97
total-97
count-98
total-98
count-99
total-99
count-100
total-100
count-101
total-101
count-102
total-102
count-103
total-103
count-104
total-104
count-105
total-105
count-106
total-106
count-107
total-107
count-108
total-108
count-109
total-109
count-110
total-110
count-111
total-111
count-112
total-112
count-113
total-113
count-114
total-114
count-115
total-115
count-116
total-116
count-117
total-117
count-118
total-118
count-119
total-119
count-120
total-120
count-121
total-121
column1 double_ele[2, 6]
row 2double_ele[2, 6]
count-122
total-122
count-123
total-123
count-124
total-124
count-125
total-125
count-126
total-126
column2 double_ele[3, 6]
count-127
total-127
count-128
total-128
count-129
total-129
count-130
total-130
count-131
total-131
count-132
total-132
count-133
total-133
count-134
total-134
column2 double_ele[2, 3]
count-135
total-135
count-136
total-136
count-137
total-137
count-138
total-138
count-139
total-139
row 1double_ele[1, 4]
count-140
total-140
count-141
total-141
count-142
total-142
count-143
total-143
count-144
total-144
count-145
total-145
count-146
total-146
count-147
total-147
count-148
total-148
count-149
total-149
count-150
total-150
count-151
total-151
count-152
total-152
count-153
total-153
count-154
total-154
count-155
total-155
count-156
total-156
count-157
total-157
count-158
total-158
count-159
total-159
count-160
total-160
column5 double_ele[2, 5]
count-161
total-161
column7 double_ele[1, 6]
count-162
total-162
count-163
total-163
count-164
total-164
count-165
total-165
count-166
total-166
count-167
total-167
count-168
total-168
count-169
total-169
count-170
total-170
count-171
total-171
count-172
total-172
count-173
total-173
count-174
total-174
count-175
total-175
count-176
total-176
count-177
total-177
count-178
total-178
count-179
total-179
count-180
total-180
count-181
total-181
count-182
total-182
count-183
total-183
count-184
total-184
count-185
total-185
count-186
total-186
count-187
total-187
count-188
total-188
count-189
total-189
count-190
total-190
count-191
total-191
count-192
total-192
count-193
total-193
column4 double_ele[2, 5]
count-194
total-194
row 4double_ele[1, 6]
count-195
total-195
count-196
total-196
count-197
total-197
count-198
total-198
count-199
total-199
count-200
total-200
count-201
total-201
count-202
total-202
count-203
total-203
count-204
total-204
count-205
total-205
column6 double_ele[1, 3]
column7 double_ele[3, 5]
row 5triple_ele[1, 3, 5]
count-206
total-206
count-207
total-207
count-208
total-208
count-209
total-209
count-210
total-210
count-211
total-211
count-212
total-212
count-213
total-213
count-214
total-214
count-215
total-215
count-216
total-216
count-217
total-217
count-218
total-218
count-219
total-219
count-220
total-220
count-221
total-221
count-222
total-222
count-223
total-223
count-224
total-224
column8 double_ele[1, 3]
count-225
total-225
count-226
total-226
column5 double_ele[1, 2]
row 9double_ele[1, 2]
count-227
total-227
count-228
total-228
count-229
total-229
count-230
total-230
count-231
total-231
count-232
total-232
count-233
total-233
count-234
total-234
count-235
total-235
row 2double_ele[3, 8]
column6 double_ele[3, 8]
count-236
total-236
count-237
total-237
count-238
total-238
row 4triple_ele[2, 3, 5]
count-239
total-239
count-240
total-240
count-241
total-241
count-242
total-242
column1 double_ele[3, 4]
count-243
total-243
count-244
total-244
count-245
total-245
count-246
total-246
count-247
total-247
count-248
total-248
count-249
total-249
count-250
total-250
count-251
total-251
count-252
total-252
count-253
total-253
count-254
total-254
count-255
total-255
count-256
total-256
count-257
total-257
count-258
total-258
count-259
total-259
count-260
total-260
count-261
total-261
count-262
total-262
count-263
total-263
column1 double_ele[1, 2]
count-264
total-264
count-265
total-265
count-266
total-266
count-267
total-267
count-268
total-268
count-269
total-269
count-270
total-270
count-271
total-271
count-272
total-272
count-273
total-273
count-274
total-274
row 6double_ele[3, 6]
count-275
total-275
count-276
total-276
count-277
total-277
count-278
total-278
count-279
total-279
count-280
total-280
count-281
total-281
count-282
total-282
count-283
total-283
count-284
total-284
count-285
total-285
count-286
total-286
count-287
total-287
count-288
total-288
count-289
total-289
count-290
total-290
count-291
total-291
count-292
total-292
count-293
total-293
column2 double_ele[2, 5]
count-294
total-294
count-295
total-295
count-296
total-296
count-297
total-297
count-298
total-298
column1 double_ele[2, 3]
count-299
total-299
count-300
total-300
column7 double_ele[1, 3]
count-301
total-301
count-302
total-302
count-303
total-303
row 6double_ele[3, 4]
count-304
total-304
column6 double_ele[1, 6]
count-305
total-305
count-306
total-306
count-307
total-307
column2 double_ele[2, 3]
row 7double_ele[2, 3]
count-308
total-308
count-309
total-309
count-310
total-310
count-311
total-311
count-312
total-312
count-313
total-313
count-314
total-314
count-315
total-315
count-316
total-316
count-317
total-317
row 4double_ele[1, 3]
column6 double_ele[1, 3]
count-318
total-318
count-319
total-319
column4 double_ele[2, 4]
count-320
total-320
count-321
total-321
count-322
total-322
count-323
total-323
column3 double_ele[3, 4]
column6 double_ele[1, 3]
row 9triple_ele[3, 4, 6]
box9 triple_ele[3, 4, 6]
count-324
total-324
count-325
total-325
count-326
total-326
count-327
total-327
count-328
total-328
count-329
total-329
count-330
total-330
count-331
total-331
count-332
total-332
count-333
total-333
count-334
total-334
count-335
total-335
count-336
total-336
count-337
total-337
count-338
total-338
count-339
total-339
row 5double_ele[1, 4]
column7 double_ele[1, 4]
row 8double_ele[1, 2]
count-340
total-340
count-341
total-341
count-342
total-342
count-343
total-343
count-344
total-344
count-345
total-345
count-346
total-346
count-347
total-347
count-348
total-348
count-349
total-349
count-350
total-350
count-351
total-351
column2 double_ele[2, 3]
row 5double_ele[2, 3]
count-352
total-352
count-353
total-353
count-354
total-354
column5 double_ele[1, 2]
count-355
total-355
count-356
total-356
count-357
total-357

row 2double_ele[2, 6]
column7 double_ele[2, 6]
count-358
total-358
count-359
total-359
count-360
total-360
count-361
total-361
count-362
total-362
row 9double_ele[2, 7]
count-363
total-363
count-364
total-364
count-365
total-365
count-366
total-366
row 7double_ele[1, 4]
count-367
total-367
count-368
total-368
count-369
total-369
count-370
total-370
count-371
total-371
count-372
total-372
count-373
total-373
count-374
total-374
count-375
total-375
count-376
total-376
row 1double_ele[1, 6]
count-377
total-377
column7 double_ele[2, 3]
count-378
total-378
count-379
total-379
count-380
total-380
count-381
total-381
count-382
total-382
count-383
total-383
count-384
total-384
count-385
total-385
count-386
total-386
column3 double_ele[4, 7]
count-387
total-387
count-388
total-388
count-389
total-389
count-390
total-390
count-391
total-391
count-392
total-392
count-393
total-393
count-394
total-394
count-395
total-395
count-396
total-396
row 3triple_ele[2, 3, 5]
count-397
total-397
count-398
total-398
count-399
total-399
count-400
total-400
count-401
total-401
row 4triple_ele[1, 5, 7]
box6 triple_ele[1, 5, 7]
count-402
total-402
count-403
total-403
count-404
total-404
count-405
total-405
count-406
total-406
count-407
total-407
count-408
total-408
count-409
total-409
count-410
total-410
count-411
total-411
count-412
total-412
count-413
total-413
count-414
total-414
count-415
total-415
count-416
total-416
count-417
total-417
count-418
total-418
count-419
total-419
count-420
total-420
count-421
total-421
count-422
total-422
count-423
total-423
count-424
total-424
count-425
total-425
count-426
total-426
count-427
total-427
count-428
total-428
count-429
total-429
row 3double_ele[1, 5]
column9 double_ele[1, 5]
count-430
total-430
count-431
total-431
count-432
total-432
count-433
total-433
count-434
total-434
row 5double_ele[4, 6]
column8 double_ele[4, 6]
count-435
total-435
count-436
total-436
count-437
total-437
count-438
total-438
count-439
total-439
count-440
total-440
count-441
total-441
count-442
total-442
count-443
total-443
count-444
total-444
count-445
total-445
count-446
total-446
count-447
total-447
count-448
total-448
count-449
total-449
count-450
total-450
count-451
total-451
count-452
total-452
row 7double_ele[1, 4]
count-453
total-453
count-454
total-454
count-455
total-455
count-456
total-456
count-457
total-457
count-458
total-458
count-459
total-459
count-460
total-460
count-461
total-461
count-462
total-462
count-463
total-463
count-464
total-464
count-465
total-465
row 2double_ele[2, 8]
column6 double_ele[3, 6]
row 7double_ele[3, 6]
row 8double_ele[3, 8]
count-466
total-466
count-467
total-467
count-468
total-468
count-469
total-469
count-470
total-470
count-471
total-471
count-472
total-472
count-473
total-473
count-474
total-474
count-475
total-475
count-476
total-476
count-477
total-477
count-478
total-478
box6 triple_ele[1, 3, 7]
count-479
total-479
count-480
total-480
count-481
total-481
count-482
total-482
count-483
total-483
count-484
total-484
column3 double_ele[3, 4]
count-485
total-485
count-486
total-486
count-487
total-487
column5 double_ele[1, 2]
count-488
total-488
row 3double_ele[3, 7]
count-489
total-489
count-490
total-490
count-491
total-491
count-492
total-492
count-493
total-493
count-494
total-494
count-495
total-495
count-496
total-496
count-497
total-497
count-498
total-498
count-499
total-499
count-500
total-500
count-501
total-501
count-502
total-502
count-503
total-503
count-504
total-504
count-505
total-505
count-506
total-506
count-507
total-507
count-508
total-508
count-509
total-509
count-510
total-510
column5 double_ele[2, 3]
count-511
total-511
count-512
total-512
count-513
total-513
count-514
total-514
count-515
total-515
count-516
total-516
count-517
total-517
count-518
total-518
count-519
total-519
count-520
total-520
count-521
total-521
count-522
total-522
count-523
total-523
count-524
total-524
count-525
total-525
count-526
total-526
count-527
total-527
count-528
total-528
column4 double_ele[1, 5]
count-529
total-529
count-530
total-530
count-531
total-531
count-532
total-532
count-533
total-533
count-534
total-534
count-535
total-535
column2 double_ele[2, 5]
column4 double_ele[5, 6]
row 5double_ele[5, 6]
box6 triple_ele[2, 5, 6]
count-536
total-536
count-537
total-537
count-538
total-538
count-539
total-539
count-540
total-540
count-541
total-541
count-542
total-542
count-543
total-543
count-544
total-544
count-545
total-545
count-546
total-546
count-547
total-547
count-548
total-548
count-549
total-549
count-550
total-550
count-551
total-551
count-552
total-552
count-553
total-553
count-554
total-554
count-555
total-555
count-556
total-556
count-557
total-557
count-558
total-558
count-559
total-559
count-560
total-560
count-561
total-561
count-562
total-562
count-563
total-563
count-564
total-564
count-565
total-565
count-566
total-566
count-567
total-567
count-568
total-568
count-569
total-569
count-570
total-570
row 2double_ele[1, 5]
column7 double_ele[1, 5]
count-571
total-571
count-572
total-572
count-573
total-573
count-574
total-574
count-575
total-575
count-576
total-576
count-577
total-577
row 8double_ele[1, 8]
count-578
total-578
count-579
total-579
count-580
total-580
column7 double_ele[1, 2]
count-581
total-581
count-582
total-582
count-583
total-583
count-584
total-584
count-585
total-585
count-586
total-586
count-587
total-587
count-588
total-588
count-589
total-589
count-590
total-590
count-591
total-591
count-592
total-592
count-593
total-593
count-594
total-594
count-595
total-595
count-596
total-596
count-597
total-597
row 6double_ele[4, 8]
count-598
total-598
count-599
total-599
count-600
total-600
count-601
total-601
count-602
total-602
row 1double_ele[4, 5]
count-603
total-603
count-604
total-604
count-605
total-605
count-606
total-606
count-607
total-607
count-608
total-608
count-609
total-609
count-610
total-610
count-611
total-611
count-612
total-612
count-613
total-613
count-614
total-614
count-615
total-615
count-616
total-616
count-617
total-617
count-618
total-618
count-619
total-619
count-620
total-620
count-621
total-621
count-622
total-622
count-623
total-623
count-624
total-624
count-625
total-625
count-626
total-626
count-627
total-627
count-628
total-628
count-629
total-629
count-630
total-630
count-631
total-631
count-632
total-632
count-633
total-633
count-634
total-634
count-635
total-635
count-636
total-636
count-637
total-637
count-638
total-638
count-639
total-639
count-640
total-640
count-641
total-641
count-642
total-642
count-643
total-643
count-644
total-644
row 2double_ele[4, 6]
count-645
total-645
count-646
total-646
count-647
total-647
count-648
total-648
count-649
total-649
count-650
total-650
count-651
total-651
count-652
total-652
count-653
total-653
column7 double_ele[3, 6]
row 9double_ele[1, 6]
count-654
total-654
count-655
total-655
count-656
total-656
count-657
total-657
count-658
total-658
count-659
total-659
count-660
total-660
count-661
total-661
count-662
total-662
row 7double_ele[3, 5]
count-663
total-663
count-664
total-664
row 9double_ele[1, 2]
count-665
total-665
count-666
total-666
count-667
total-667
count-668
total-668
column5 double_ele[1, 4]
count-669
total-669
count-670
total-670
count-671
total-671
count-672
total-672
column8 double_ele[2, 3]
count-673
total-673
count-674
total-674
count-675
total-675
count-676
total-676
count-677
total-677
row 8double_ele[2, 3]
count-678
total-678
count-679
total-679
count-680
total-680
count-681
total-681
count-682
total-682
count-683
total-683
column4 double_ele[4, 6]
column9 double_ele[1, 5]
count-684
total-684
column3 double_ele[1, 6]
count-685
total-685
column1 double_ele[1, 2]
count-686
total-686
count-687
total-687
count-688
total-688
count-689
total-689
count-690
total-690
count-691
total-691
count-692
total-692
count-693
total-693
row 1double_ele[2, 3]
count-694
total-694
count-695
total-695
count-696
total-696
count-697
total-697
count-698
total-698
count-699
total-699
count-700
total-700
count-701
total-701
count-702
total-702
count-703
total-703
count-704
total-704
count-705
total-705
count-706
total-706
row 3double_ele[1, 7]
column7 double_ele[2, 4]
row 8double_ele[2, 4]
box6 triple_ele[1, 2, 4]
count-707
total-707
count-708
total-708
row 5double_ele[3, 5]
count-709
total-709
count-710
total-710
count-711
total-711
count-712
total-712
count-713
total-713
count-714
total-714
count-715
total-715
count-716
total-716
count-717
total-717
count-718
total-718
count-719
total-719
count-720
total-720
count-721
total-721
count-722
total-722
count-723
total-723
count-724
total-724
count-725
total-725
count-726
total-726

count-727
total-727
count-728
total-728
column2 double_ele[2, 7]
column3 double_ele[2, 5]
count-729
total-729
count-730
total-730
count-731
total-731
count-732
total-732
column2 double_ele[1, 5]
count-733
total-733
count-734
total-734
count-735
total-735
count-736
total-736
row 8double_ele[1, 4]
count-737
total-737
count-738
total-738
count-739
total-739
count-740
total-740
count-741
total-741
count-742
total-742
count-743
total-743
count-744
total-744
column5 double_ele[1, 2]
row 8double_ele[1, 2]
count-745
total-745
count-746
total-746
count-747
total-747
count-748
total-748
count-749
total-749
count-750
total-750
count-751
total-751
count-752
total-752
count-753
total-753
count-754
total-754
count-755
total-755
count-756
total-756
count-757
total-757
count-758
total-758
count-759
total-759
count-760
total-760
count-761
total-761
count-762
total-762
count-763
total-763
count-764
total-764
count-765
total-765
count-766
total-766
column3 double_ele[1, 2]
count-767
total-767
count-768
total-768
count-769
total-769
count-770
total-770
count-771
total-771
count-772
total-772
count-773
total-773
count-774
total-774
count-775
total-775
count-776
total-776
count-777
total-777
count-778
total-778
count-779
total-779
count-780
total-780
count-781
total-781
count-782
total-782
row 6double_ele[2, 6]
count-783
total-783
count-784
total-784
count-785
total-785
count-786
total-786
count-787
total-787
count-788
total-788
count-789
total-789
count-790
total-790
count-791
total-791
count-792
total-792
count-793
total-793
count-794
total-794
count-795
total-795
count-796
total-796
count-797
total-797
count-798
total-798
count-799
total-799
count-800
total-800
count-801
total-801
count-802
total-802
count-803
total-803
count-804
total-804
count-805
total-805
count-806
total-806
count-807
total-807
count-808
total-808
row 3double_ele[3, 5]
count-809
total-809
count-810
total-810
count-811
total-811
count-812
total-812
count-813
total-813
count-814
total-814
count-815
total-815
count-816
total-816
count-817
total-817
row 6double_ele[2, 4]
count-818
total-818
count-819
total-819
count-820
total-820
count-821
total-821
count-822
total-822
count-823
total-823
row 6double_ele[2, 5]
column7 double_ele[2, 5]
count-824
total-824
count-825
total-825
count-826
total-826
count-827
total-827
count-828
total-828
count-829
total-829
count-830
total-830
count-831
total-831
row 1double_ele[3, 6]
count-832
total-832
count-833
total-833
count-834
total-834
count-835
total-835
count-836
total-836
count-837
total-837
count-838
total-838
count-839
total-839
count-840
total-840
count-841
total-841
count-842
total-842
count-843
total-843
column6 double_ele[1, 5]
count-844
total-844
count-845
total-845
count-846
total-846
count-847
total-847
row 1double_ele[3, 5]
column3 double_ele[3, 6]
row 9double_ele[1, 6]
count-848
total-848
count-849
total-849
count-850
total-850
count-851
total-851
count-852
total-852
count-853
total-853
count-854
total-854
count-855
total-855
row 2double_ele[2, 4]
count-856
total-856
count-857
total-857
count-858
total-858
column1 double_ele[1, 8]
column2 double_ele[1, 7]
column4 double_ele[7, 8]
row 5double_ele[7, 8]
count-859
total-859
count-860
total-860
count-861
total-861
count-862
total-862
count-863
total-863
count-864
total-864
count-865
total-865
count-866
total-866
column1 double_ele[1, 3]
row 7double_ele[1, 3]
column8 double_ele[1, 3]
count-867
total-867
count-868
total-868
column7 double_ele[2, 5]
count-869
total-869
count-870
total-870
count-871
total-871
count-872
total-872
count-873
total-873
count-874
total-874
count-875
total-875
count-876
total-876
count-877
total-877
count-878
total-878
count-879
total-879
count-880
total-880
count-881
total-881
count-882
total-882
count-883
total-883
count-884
total-884
count-885
total-885
count-886
total-886
count-887
total-887
count-888
total-888
count-889
total-889
count-890
total-890
count-891
total-891
count-892
total-892
column4 double_ele[6, 8]
row 7double_ele[6, 8]
count-893
total-893
count-894
total-894
count-895
total-895
count-896
total-896
count-897
total-897
count-898
total-898
count-899
total-899
count-900
total-900
row 2double_ele[5, 7]
column9 double_ele[5, 7]
count-901
total-901
column3 double_ele[3, 5]
count-902
total-902
count-903
total-903
count-904
total-904
count-905
total-905
count-906
total-906
column7 double_ele[3, 4]
count-907
total-907
count-908
total-908
count-909
total-909
count-910
total-910
count-911
total-911
count-912
total-912
column8 double_ele[1, 4]
count-913
total-913
count-914
total-914
count-915
total-915
row 3double_ele[3, 4]
column9 double_ele[3, 4]
count-916
total-916
count-917
total-917
count-918
total-918
count-919
total-919
count-920
total-920
count-921
total-921
count-922
total-922
count-923
total-923
count-924
total-924
count-925
total-925
count-926
total-926
count-927
total-927
count-928
total-928
count-929
total-929
column5 double_ele[1, 6]
row 9triple_ele[1, 3, 6]
count-930
total-930
count-931
total-931
count-932
total-932
row 8double_ele[1, 4]
count-933
total-933
count-934
total-934
count-935
total-935
count-936
total-936
count-937
total-937
count-938
total-938
count-939
total-939
count-940
total-940
count-941
total-941
count-942
total-942
count-943
total-943
count-944
total-944
count-945
total-945
count-946
total-946
row 7double_ele[4, 6]
count-947
total-947
count-948
total-948
count-949
total-949
count-950
total-950
count-951
total-951
count-952
total-952
count-953
total-953
count-954
total-954
column3 double_ele[3, 4]
column9 double_ele[4, 6]
count-955
total-955
column6 double_ele[4, 7]
count-956
total-956
count-957
total-957
count-958
total-958
count-959
total-959
count-960
total-960
count-961
total-961
count-962
total-962
count-963
total-963
count-964
total-964
count-965
total-965
count-966
total-966
count-967
total-967
count-968
total-968
count-969
total-969
count-970
total-970
count-971
total-971
count-972
total-972
count-973
total-973
count-974
total-974
column1 double_ele[1, 3]
row 8double_ele[1, 3]
count-975
total-975
count-976
total-976
count-977
total-977
count-978
total-978
count-979
total-979
count-980
total-980
row 7double_ele[2, 5]
count-981
total-981
count-982
total-982
count-983
total-983
count-984
total-984
row 7double_ele[4, 8]
column7 double_ele[4, 8]
count-985
total-985
count-986
total-986
count-987
total-987
count-988
total-988
count-989
total-989
count-990
total-990
count-991
total-991
count-992
total-992
row 6double_ele[3, 4]
row 7double_ele[2, 3]
count-993
total-993
count-994
total-994
count-995
total-995
column3 double_ele[3, 4]
row 9double_ele[2, 5]
count-996
total-996
count-997
total-997
count-998
total-998
column5 double_ele[3, 4]
count-999
total-999
count-1000
total-1000
count-1001
total-1001
count-1002
total-1002
count-1003
total-1003
count-1004
total-1004
count-1005
total-1005
count-1006
total-1006
count-1007
total-1007
count-1008
total-1008
count-1009
total-1009
count-1010
total-1010
count-1011
total-1011
count-1012
total-1012
count-1013
total-1013
count-1014
total-1014
column9 double_ele[1, 6]
count-1015
total-1015
count-1016
total-1016
count-1017
total-1017
count-1018
total-1018
count-1019
total-1019
count-1020
total-1020
column4 double_ele[1, 4]
row 5double_ele[1, 4]
count-1021
total-1021
count-1022
total-1022
count-1023
total-1023
count-1024
total-1024
count-1025
total-1025
count-1026
total-1026
count-1027
total-1027
count-1028
total-1028
count-1029
total-1029
count-1030
total-1030
count-1031
total-1031
count-1032
total-1032
count-1033
total-1033
count-1034
total-1034
count-1035
total-1035
count-1036
total-1036
row 5double_ele[1, 2]
count-1037
total-1037
count-1038
total-1038
count-1039
total-1039
count-1040
total-1040
column4 double_ele[1, 5]
count-1041
total-1041
column2 double_ele[1, 2]
count-1042
total-1042
count-1043
total-1043
count-1044
total-1044
count-1045
total-1045
count-1046
total-1046
count-1047
total-1047
column6 double_ele[2, 4]
count-1048
total-1048
count-1049
total-1049
count-1050
total-1050
count-1051
total-1051
count-1052
total-1052
count-1053
total-1053
count-1054
total-1054
count-1055
total-1055
count-1056
total-1056
count-1057
total-1057
count-1058
total-1058
row 4double_ele[1, 8]
column4 double_ele[1, 8]
count-1059
total-1059
count-1060
total-1060
count-1061
total-1061
count-1062
total-1062
row 5double_ele[2, 4]
count-1063
total-1063
count-1064
total-1064
count-1065
total-1065
count-1066
total-1066
column2 double_ele[1, 6]
row 8double_ele[2, 6]
column8 double_ele[2, 6]

count-1067
total-1067
row 7double_ele[3, 4]
count-1068
total-1068
count-1069
total-1069
count-1070
total-1070
count-1071
total-1071
count-1072
total-1072
count-1073
total-1073
row 1double_ele[1, 7]
column3 double_ele[1, 7]
count-1074
total-1074
count-1075
total-1075
count-1076
total-1076
count-1077
total-1077
count-1078
total-1078
count-1079
total-1079
count-1080
total-1080
count-1081
total-1081
count-1082
total-1082
count-1083
total-1083
count-1084
total-1084
count-1085
total-1085
count-1086
total-1086
count-1087
total-1087
count-1088
total-1088
count-1089
total-1089
count-1090
total-1090
column6 double_ele[3, 6]
count-1091
total-1091
count-1092
total-1092
count-1093
total-1093
count-1094
total-1094
count-1095
total-1095
count-1096
total-1096
count-1097
total-1097
count-1098
total-1098
count-1099
total-1099
count-1100
total-1100
count-1101
total-1101
count-1102
total-1102
count-1103
total-1103
column1 double_ele[3, 4]
row 4double_ele[4, 6]
column8 double_ele[4, 6]
count-1104
total-1104
count-1105
total-1105
count-1106
total-1106
count-1107
total-1107
count-1108
total-1108
count-1109
total-1109
count-1110
total-1110
count-1111
total-1111
count-1112
total-1112
count-1113
total-1113
row 1double_ele[1, 4]
column5 double_ele[1, 4]
count-1114
total-1114
row 8double_ele[1, 8]
count-1115
total-1115
count-1116
total-1116
row 6double_ele[5, 6]
column9 double_ele[5, 6]
count-1117
total-1117
count-1118
total-1118
count-1119
total-1119
count-1120
total-1120
count-1121
total-1121
count-1122
total-1122
count-1123
total-1123
count-1124
total-1124
row 6double_ele[1, 6]
count-1125
total-1125
count-1126
total-1126
count-1127
total-1127
column7 double_ele[2, 6]
count-1128
total-1128
count-1129
total-1129
count-1130
total-1130
count-1131
total-1131
count-1132
total-1132
count-1133
total-1133
count-1134
total-1134
count-1135
total-1135
count-1136
total-1136
count-1137
total-1137
count-1138
total-1138
count-1139
total-1139
count-1140
total-1140
count-1141
total-1141
count-1142
total-1142
column8 double_ele[2, 6]
row 9double_ele[2, 6]
count-1143
total-1143
count-1144
total-1144
column6 double_ele[3, 8]
row 8double_ele[3, 8]
count-1145
total-1145
count-1146
total-1146
count-1147
total-1147
count-1148
total-1148
count-1149
total-1149
count-1150
total-1150
count-1151
total-1151
count-1152
total-1152
count-1153
total-1153
count-1154
total-1154
count-1155
total-1155
count-1156
total-1156
count-1157
total-1157
column1 double_ele[3, 7]
row 2double_ele[3, 7]
column2 double_ele[1, 4]
count-1158
total-1158
row 2double_ele[4, 5]
count-1159
total-1159
column2 double_ele[1, 4]
row 3triple_ele[1, 4, 7]
box3 triple_ele[1, 4, 7]
count-1160
total-1160
count-1161
total-1161
count-1162
total-1162
count-1163
total-1163
row 9double_ele[2, 9]
count-1164
total-1164
count-1165
total-1165
count-1166
total-1166
count-1167
total-1167
count-1168
total-1168
count-1169
total-1169
count-1170
total-1170
count-1171
total-1171
count-1172
total-1172
count-1173
total-1173
count-1174
total-1174
count-1175
total-1175
count-1176
total-1176
count-1177
total-1177
count-1178
total-1178
count-1179
total-1179
count-1180
total-1180
count-1181
total-1181
count-1182
total-1182
count-1183
total-1183
count-1184
total-1184
count-1185
total-1185
count-1186
total-1186
count-1187
total-1187
count-1188
total-1188
column4 double_ele[1, 8]
count-1189
total-1189
count-1190
total-1190
column3 double_ele[2, 9]
row 4double_ele[2, 9]
column6 double_ele[2, 3]
row 8double_ele[2, 3]
column8 double_ele[2, 9]
row 9double_ele[2, 3]
count-1191
total-1191
row 1double_ele[3, 4]
count-1192
total-1192
count-1193
total-1193
count-1194
total-1194
count-1195
total-1195
count-1196
total-1196
count-1197
total-1197
count-1198
total-1198
row 4double_ele[1, 6]
row 6double_ele[3, 6]
count-1199
total-1199
count-1200
total-1200
count-1201
total-1201
count-1202
total-1202
column5 double_ele[2, 6]
count-1203
total-1203
count-1204
total-1204
count-1205
total-1205
count-1206
total-1206
count-1207
total-1207
count-1208
total-1208
row 1double_ele[2, 4]
column5 triple_ele[2, 3, 4]
count-1209
total-1209
count-1210
total-1210
count-1211
total-1211
count-1212
total-1212
count-1213
total-1213
count-1214
total-1214
count-1215
total-1215
count-1216
total-1216
row 1double_ele[2, 9]
count-1217
total-1217
count-1218
total-1218
count-1219
total-1219
count-1220
total-1220
count-1221
total-1221
count-1222
total-1222
count-1223
total-1223
row 5double_ele[1, 8]
column9 double_ele[1, 2]
count-1224
total-1224
count-1225
total-1225
count-1226
total-1226
count-1227
total-1227
count-1228
total-1228
count-1229
total-1229
count-1230
total-1230
count-1231
total-1231
count-1232
total-1232
count-1233
total-1233
count-1234
total-1234
count-1235
total-1235
count-1236
total-1236
count-1237
total-1237
count-1238
total-1238
count-1239
total-1239
count-1240
total-1240
count-1241
total-1241
row 7double_ele[2, 4]
count-1242
total-1242
count-1243
total-1243
count-1244
total-1244
count-1245
total-1245
count-1246
total-1246
count-1247
total-1247
count-1248
total-1248
count-1249
total-1249
count-1250
total-1250
count-1251
total-1251
count-1252
total-1252
count-1253
total-1253
count-1254
total-1254
count-1255
total-1255
count-1256
total-1256
count-1257
total-1257
count-1258
total-1258
count-1259
total-1259
count-1260
total-1260
count-1261
total-1261
column3 double_ele[6, 7]
row 9double_ele[6, 7]
row 4triple_ele[1, 6, 7]
count-1262
total-1262
count-1263
total-1263
count-1264
total-1264
count-1265
total-1265
count-1266
total-1266
count-1267
total-1267
count-1268
total-1268
count-1269
total-1269
count-1270
total-1270
count-1271
total-1271
count-1272
total-1272
count-1273
total-1273
column9 double_ele[5, 7]
count-1274
total-1274
count-1275
total-1275
count-1276
total-1276
count-1277
total-1277
column2 double_ele[1, 2]
count-1278
total-1278
count-1279
total-1279
row 1double_ele[4, 5]
column8 double_ele[4, 5]
row 9double_ele[4, 5]
count-1280
total-1280
count-1281
total-1281
count-1282
total-1282
count-1283
total-1283
count-1284
total-1284
count-1285
total-1285
count-1286
total-1286
count-1287
total-1287
count-1288
total-1288
count-1289
total-1289
count-1290
total-1290
count-1291
total-1291
count-1292
total-1292
count-1293
total-1293
count-1294
total-1294
count-1295
total-1295
count-1296
total-1296
count-1297
total-1297
count-1298
total-1298
count-1299
total-1299
count-1300
total-1300
count-1301
total-1301
count-1302
total-1302
count-1303
total-1303
count-1304
total-1304
count-1305
total-1305
count-1306
total-1306
count-1307
total-1307
count-1308
total-1308
count-1309
total-1309
count-1310
total-1310
count-1311
total-1311
count-1312
total-1312
count-1313
total-1313
count-1314
total-1314
count-1315
total-1315
row 5double_ele[1, 3]
count-1316
total-1316
count-1317
total-1317
count-1318
total-1318
count-1319
total-1319
count-1320
total-1320
count-1321
total-1321
count-1322
total-1322
count-1323
total-1323
count-1324
total-1324
count-1325
total-1325
count-1326
total-1326
count-1327
total-1327
count-1328
total-1328
count-1329
total-1329
count-1330
total-1330
count-1331
total-1331
count-1332
total-1332
row 3double_ele[1, 3]
count-1333
total-1333
count-1334
total-1334
count-1335
total-1335
count-1336
total-1336
count-1337
total-1337
count-1338
total-1338
count-1339
total-1339
count-1340
total-1340
count-1341
total-1341
count-1342
total-1342
count-1343
total-1343
count-1344
total-1344
count-1345
total-1345
count-1346
total-1346
count-1347
total-1347
count-1348
total-1348
count-1349
total-1349
count-1350
total-1350
count-1351
total-1351
count-1352
total-1352
count-1353
total-1353
count-1354
total-1354
count-1355
total-1355
count-1356
total-1356
count-1357
total-1357
count-1358
total-1358
count-1359
total-1359
column6 double_ele[2, 3]
row 8double_ele[1, 3]
count-1360
total-1360
count-1361
total-1361
count-1362
total-1362
count-1363
total-1363
count-1364
total-1364
count-1365
total-1365
count-1366
total-1366
count-1367
total-1367
count-1368
total-1368
count-1369
total-1369
count-1370
total-1370
count-1371
total-1371
count-1372
total-1372
count-1373
total-1373
count-1374
total-1374
count-1375
total-1375
count-1376
total-1376
count-1377
total-1377
count-1378
total-1378
count-1379
total-1379
column9 double_ele[2, 5]
count-1380
total-1380
column6 double_ele[1, 3]
count-1381
total-1381
count-1382
total-1382
count-1383
total-1383
row 2double_ele[3, 5]
count-1384
total-1384
count-1385
total-1385
count-1386
total-1386
count-1387
total-1387
count-1388
total-1388
count-1389
total-1389
count-1390
total-1390
count-1391
total-1391

count-1392
total-1392
count-1393
total-1393
count-1394
total-1394
row 1double_ele[1, 6]
row 2double_ele[3, 6]
column3 double_ele[1, 7]
row 5double_ele[1, 7]
count-1395
total-1395
count-1396
total-1396
count-1397
total-1397
column2 double_ele[2, 9]
row 3double_ele[2, 6]
column5 double_ele[2, 6]
column8 double_ele[5, 9]
count-1398
total-1398
column2 double_ele[3, 5]
row 4double_ele[5, 6]
column5 double_ele[1, 2]
count-1399
total-1399
count-1400
total-1400
count-1401
total-1401
count-1402
total-1402
count-1403
total-1403
count-1404
total-1404
count-1405
total-1405
count-1406
total-1406
count-1407
total-1407
count-1408
total-1408
column9 double_ele[3, 7]
count-1409
total-1409
count-1410
total-1410
count-1411
total-1411
count-1412
total-1412
count-1413
total-1413
count-1414
total-1414
count-1415
total-1415
column1 double_ele[1, 5]
row 3double_ele[2, 5]
row 6double_ele[1, 2]
count-1416
total-1416
column9 double_ele[4, 7]
count-1417
total-1417
count-1418
total-1418
count-1419
total-1419
count-1420
total-1420
row 3double_ele[2, 6]
row 5double_ele[2, 4]
count-1421
total-1421
count-1422
total-1422
count-1423
total-1423
count-1424
total-1424
count-1425
total-1425
count-1426
total-1426
count-1427
total-1427
count-1428
total-1428
count-1429
total-1429
count-1430
total-1430
count-1431
total-1431
count-1432
total-1432
count-1433
total-1433
count-1434
total-1434
count-1435
total-1435
count-1436
total-1436
count-1437
total-1437
count-1438
total-1438
count-1439
total-1439
column2 double_ele[1, 4]
count-1440
total-1440
count-1441
total-1441
count-1442
total-1442
count-1443
total-1443
count-1444
total-1444
count-1445
total-1445
count-1446
total-1446
count-1447
total-1447
count-1448
total-1448
count-1449
total-1449
column6 double_ele[4, 7]
column8 double_ele[3, 7]
count-1450
total-1450
count-1451
total-1451
count-1452
total-1452
column7 double_ele[1, 2]
count-1453
total-1453
count-1454
total-1454
count-1455
total-1455
count-1456
total-1456
count-1457
total-1457
count-1458
total-1458
count-1459
total-1459
count-1460
total-1460
count-1461
total-1461
count-1462
total-1462
count-1463
total-1463
count-1464
total-1464
count-1465
total-1465
count-1466
total-1466
count-1467
total-1467
count-1468
total-1468
count-1469
total-1469
count-1470
total-1470
count-1471
total-1471
count-1472
total-1472
count-1473
total-1473
count-1474
total-1474
count-1475
total-1475
count-1476
total-1476
count-1477
total-1477
count-1478
total-1478
count-1479
total-1479
count-1480
total-1480
count-1481
total-1481
count-1482
total-1482
count-1483
total-1483
count-1484
total-1484
row 4double_ele[1, 6]
count-1485
total-1485
count-1486
total-1486
count-1487
total-1487
count-1488
total-1488
count-1489
total-1489
count-1490
total-1490
row 3double_ele[2, 4]
row 5double_ele[3, 6]
count-1491
total-1491
count-1492
total-1492
count-1493
total-1493
count-1494
total-1494
count-1495
total-1495
count-1496
total-1496
count-1497
total-1497
count-1498
total-1498
count-1499
total-1499
count-1500
total-1500
column5 double_ele[4, 7]
row 6double_ele[1, 3]
count-1501
total-1501
count-1502
total-1502
count-1503
total-1503
count-1504
total-1504
count-1505
total-1505
column9 double_ele[3, 5]
count-1506
total-1506
count-1507
total-1507
count-1508
total-1508
count-1509
total-1509
count-1510
total-1510
count-1511
total-1511
count-1512
total-1512
count-1513
total-1513
count-1514
total-1514
count-1515
total-1515
count-1516
total-1516
count-1517
total-1517
count-1518
total-1518
count-1519
total-1519
row 2double_ele[2, 3]
count-1520
total-1520
count-1521
total-1521
count-1522
total-1522
count-1523
total-1523
count-1524
total-1524
count-1525
total-1525
count-1526
total-1526
count-1527
total-1527
count-1528
total-1528
count-1529
total-1529
count-1530
total-1530
count-1531
total-1531
count-1532
total-1532
count-1533
total-1533
count-1534
total-1534
count-1535
total-1535
count-1536
total-1536
count-1537
total-1537
column3 double_ele[2, 5]
column9 double_ele[1, 2]
count-1538
total-1538
count-1539
total-1539
count-1540
total-1540
row 6double_ele[2, 9]
count-1541
total-1541
row 1double_ele[1, 2]
count-1542
total-1542
count-1543
total-1543
count-1544
total-1544
count-1545
total-1545
count-1546
total-1546
count-1547
total-1547
count-1548
total-1548
count-1549
total-1549
count-1550
total-1550
count-1551
total-1551
count-1552
total-1552
count-1553
total-1553
count-1554
total-1554
count-1555
total-1555
count-1556
total-1556
count-1557
total-1557
count-1558
total-1558
count-1559
total-1559
count-1560
total-1560
count-1561
total-1561
count-1562
total-1562
column4 double_ele[2, 3]
count-1563
total-1563
count-1564
total-1564
count-1565
total-1565
count-1566
total-1566
count-1567
total-1567
count-1568
total-1568
row 1double_ele[3, 4]
column4 double_ele[3, 4]
count-1569
total-1569
count-1570
total-1570
count-1571
total-1571
count-1572
total-1572
count-1573
total-1573
count-1574
total-1574
count-1575
total-1575
count-1576
total-1576
column4 double_ele[6, 8]
count-1577
total-1577
count-1578
total-1578
count-1579
total-1579
column1 double_ele[1, 5]
count-1580
total-1580
count-1581
total-1581
column5 double_ele[2, 5]
count-1582
total-1582
column6 double_ele[1, 4]
count-1583
total-1583
count-1584
total-1584
count-1585
total-1585
count-1586
total-1586
count-1587
total-1587
count-1588
total-1588
count-1589
total-1589
count-1590
total-1590
count-1591
total-1591
count-1592
total-1592
count-1593
total-1593
count-1594
total-1594
count-1595
total-1595
count-1596
total-1596
count-1597
total-1597
count-1598
total-1598
count-1599
total-1599
count-1600
total-1600
count-1601
total-1601
count-1602
total-1602
count-1603
total-1603
count-1604
total-1604
count-1605
total-1605
count-1606
total-1606
column3 double_ele[2, 3]
row 7double_ele[2, 7]
count-1607
total-1607
count-1608
total-1608
count-1609
total-1609
count-1610
total-1610
count-1611
total-1611
count-1612
total-1612
count-1613
total-1613
count-1614
total-1614
count-1615
total-1615
count-1616
total-1616
count-1617
total-1617
count-1618
total-1618
count-1619
total-1619
count-1620
total-1620
count-1621
total-1621
count-1622
total-1622
count-1623
total-1623
count-1624
total-1624
count-1625
total-1625
count-1626
total-1626
count-1627
total-1627
count-1628
total-1628
count-1629
total-1629
count-1630
total-1630
count-1631
total-1631
count-1632
total-1632
count-1633
total-1633
count-1634
total-1634
count-1635
total-1635
count-1636
total-1636
count-1637
total-1637
count-1638
total-1638
count-1639
total-1639
row 4double_ele[1, 5]
count-1640
total-1640
count-1641
total-1641
count-1642
total-1642
count-1643
total-1643
count-1644
total-1644
count-1645
total-1645
count-1646
total-1646
count-1647
total-1647
count-1648
total-1648
count-1649
total-1649
count-1650
total-1650
count-1651
total-1651
row 5double_ele[1, 4]
count-1652
total-1652
count-1653
total-1653
count-1654
total-1654
count-1655
total-1655
count-1656
total-1656
count-1657
total-1657
count-1658
total-1658
count-1659
total-1659
count-1660
total-1660
count-1661
total-1661
count-1662
total-1662
count-1663
total-1663
column2 double_ele[1, 4]
count-1664
total-1664
count-1665
total-1665
count-1666
total-1666
count-1667
total-1667
count-1668
total-1668
count-1669
total-1669
count-1670
total-1670
count-1671
total-1671
count-1672
total-1672
count-1673
total-1673
count-1674
total-1674
row 9double_ele[1, 4]
count-1675
total-1675
count-1676
total-1676
column6 double_ele[2, 6]
row 8double_ele[2, 6]
count-1677
total-1677
count-1678
total-1678
count-1679
total-1679
column5 double_ele[1, 6]
count-1680
total-1680
count-1681
total-1681
count-1682
total-1682
count-1683
total-1683
count-1684
total-1684
column6 double_ele[2, 4]
count-1685
total-1685
count-1686
total-1686
column5 double_ele[1, 2]
column7 double_ele[2, 3]
count-1687
total-1687
column2 double_ele[1, 2]
count-1688
total-1688
count-1689
total-1689
count-1690
total-1690
count-1691
total-1691
count-1692
total-1692
count-1693
total-1693
count-1694
total-1694
count-1695
total-1695
count-1696
total-1696
count-1697
total-1697
count-1698
total-1698
count-1699
total-1699
count-1700
total-1700
count-1701
total-1701
count-1702
total-1702
count-1703
total-1703
count-1704
total-1704
count-1705
total-1705
count-1706
total-1706
count-1707
total-1707
count-1708
total-1708
count-1709
total-1709
count-1710
total-1710
count-1711
total-1711

count-1712
total-1712
count-1713
total-1713
count-1714
total-1714
count-1715
total-1715
count-1716
total-1716
count-1717
total-1717
count-1718
total-1718
count-1719
total-1719
count-1720
total-1720
count-1721
total-1721
count-1722
total-1722
count-1723
total-1723
count-1724
total-1724
count-1725
total-1725
count-1726
total-1726
row 2double_ele[2, 7]
count-1727
total-1727
count-1728
total-1728
count-1729
total-1729
count-1730
total-1730
count-1731
total-1731
column2 double_ele[2, 3]
column8 double_ele[3, 9]
count-1732
total-1732
count-1733
total-1733
count-1734
total-1734
count-1735
total-1735
column3 double_ele[1, 4]
count-1736
total-1736
count-1737
total-1737
count-1738
total-1738
row 3double_ele[5, 8]
count-1739
total-1739
count-1740
total-1740
count-1741
total-1741
count-1742
total-1742
column8 double_ele[1, 3]
count-1743
total-1743
count-1744
total-1744
count-1745
total-1745
count-1746
total-1746
count-1747
total-1747
count-1748
total-1748
count-1749
total-1749
count-1750
total-1750
count-1751
total-1751
count-1752
total-1752
count-1753
total-1753
count-1754
total-1754
count-1755
total-1755
count-1756
total-1756
count-1757
total-1757
count-1758
total-1758
count-1759
total-1759
count-1760
total-1760
column8 double_ele[3, 4]
row 9double_ele[2, 4]
count-1761
total-1761
count-1762
total-1762
count-1763
total-1763
count-1764
total-1764
count-1765
total-1765
count-1766
total-1766
count-1767
total-1767
count-1768
total-1768
count-1769
total-1769
count-1770
total-1770
count-1771
total-1771
row 4double_ele[2, 3]
count-1772
total-1772
count-1773
total-1773
column3 double_ele[1, 2]
row 4double_ele[1, 3]
row 5double_ele[1, 2]
count-1774
total-1774
count-1775
total-1775
count-1776
total-1776
count-1777
total-1777
count-1778
total-1778
row 1double_ele[1, 7]
column1 double_ele[1, 7]
row 2double_ele[1, 7]
column4 double_ele[1, 7]
column5 double_ele[5, 7]
column7 double_ele[5, 9]
count-1779
total-1779
column1 double_ele[3, 6]
count-1780
total-1780
column6 double_ele[2, 3]
count-1781
total-1781
count-1782
total-1782
count-1783
total-1783
count-1784
total-1784
count-1785
total-1785
count-1786
total-1786
count-1787
total-1787
count-1788
total-1788
count-1789
total-1789
count-1790
total-1790
count-1791
total-1791
count-1792
total-1792
count-1793
total-1793
count-1794
total-1794
count-1795
total-1795
count-1796
total-1796
count-1797
total-1797
count-1798
total-1798
count-1799
total-1799
count-1800
total-1800
count-1801
total-1801
count-1802
total-1802
count-1803
total-1803
count-1804
total-1804
count-1805
total-1805
count-1806
total-1806
count-1807
total-1807
count-1808
total-1808
count-1809
total-1809
count-1810
total-1810
count-1811
total-1811
row 6double_ele[5, 6]
count-1812
total-1812
count-1813
total-1813
count-1814
total-1814
row 2double_ele[3, 7]
row 5double_ele[4, 7]
column9 double_ele[3, 7]
count-1815
total-1815
count-1816
total-1816
count-1817
total-1817
count-1818
total-1818
count-1819
total-1819
count-1820
total-1820
count-1821
total-1821
count-1822
total-1822
count-1823
total-1823
count-1824
total-1824
count-1825
total-1825
count-1826
total-1826
count-1827
total-1827
count-1828
total-1828
count-1829
total-1829
count-1830
total-1830
count-1831
total-1831
count-1832
total-1832
count-1833
total-1833
count-1834
total-1834
count-1835
total-1835
count-1836
total-1836
count-1837
total-1837
count-1838
total-1838
count-1839
total-1839
count-1840
total-1840
count-1841
total-1841
row 5double_ele[1, 3]
count-1842
total-1842
count-1843
total-1843
row 6double_ele[2, 6]
count-1844
total-1844
count-1845
total-1845
count-1846
total-1846
count-1847
total-1847
column1 double_ele[1, 2]
row 9triple_ele[1, 2, 6]
box9 triple_ele[1, 2, 6]
count-1848
total-1848
count-1849
total-1849
count-1850
total-1850
count-1851
total-1851
count-1852
total-1852
count-1853
total-1853
count-1854
total-1854
column1 double_ele[6, 7]
row 6double_ele[2, 4]
count-1855
total-1855
count-1856
total-1856
column7 double_ele[1, 3]
row 8double_ele[1, 3]
count-1857
total-1857
column5 double_ele[3, 6]
count-1858
total-1858
count-1859
total-1859
count-1860
total-1860
count-1861
total-1861
count-1862
total-1862
count-1863
total-1863
count-1864
total-1864
count-1865
total-1865
count-1866
total-1866
count-1867
total-1867
count-1868
total-1868
count-1869
total-1869
column9 double_ele[1, 5]
count-1870
total-1870
count-1871
total-1871
count-1872
total-1872
count-1873
total-1873
count-1874
total-1874
count-1875
total-1875
count-1876
total-1876
count-1877
total-1877
count-1878
total-1878
count-1879
total-1879
count-1880
total-1880
count-1881
total-1881
count-1882
total-1882
count-1883
total-1883
count-1884
total-1884
count-1885
total-1885
count-1886
total-1886
count-1887
total-1887
count-1888
total-1888
count-1889
total-1889
count-1890
total-1890
count-1891
total-1891
count-1892
total-1892
count-1893
total-1893
count-1894
total-1894
count-1895
total-1895
count-1896
total-1896
count-1897
total-1897
column9 double_ele[1, 4]
count-1898
total-1898
count-1899
total-1899
count-1900
total-1900
row 2double_ele[2, 8]
column6 double_ele[2, 8]
count-1901
total-1901
count-1902
total-1902
count-1903
total-1903
count-1904
total-1904
count-1905
total-1905
count-1906
total-1906
count-1907
total-1907
count-1908
total-1908
count-1909
total-1909
row 9double_ele[1, 3]
count-1910
total-1910
count-1911
total-1911
count-1912
total-1912
count-1913
total-1913
count-1914
total-1914
count-1915
total-1915
count-1916
total-1916
count-1917
total-1917
column9 double_ele[2, 9]
count-1918
total-1918
count-1919
total-1919
count-1920
total-1920
count-1921
total-1921
count-1922
total-1922
count-1923
total-1923
count-1924
total-1924
count-1925
total-1925
count-1926
total-1926
count-1927
total-1927
count-1928
total-1928
count-1929
total-1929
count-1930
total-1930
count-1931
total-1931
count-1932
total-1932
count-1933
total-1933
count-1934
total-1934
count-1935
total-1935
count-1936
total-1936
count-1937
total-1937
count-1938
total-1938
count-1939
total-1939
count-1940
total-1940
count-1941
total-1941
count-1942
total-1942
count-1943
total-1943
count-1944
total-1944
count-1945
total-1945
count-1946
total-1946
row 4double_ele[3, 4]
column8 double_ele[3, 4]
count-1947
total-1947
count-1948
total-1948
count-1949
total-1949
count-1950
total-1950
row 3double_ele[1, 4]
row 4double_ele[3, 7]
count-1951
total-1951
count-1952
total-1952
count-1953
total-1953
count-1954
total-1954
count-1955
total-1955
count-1956
total-1956
count-1957
total-1957
column9 double_ele[2, 3]
count-1958
total-1958
row 7double_ele[1, 3]
count-1959
total-1959
count-1960
total-1960
count-1961
total-1961
column7 double_ele[4, 8]
count-1962
total-1962
count-1963
total-1963
count-1964
total-1964
count-1965
total-1965
count-1966
total-1966
count-1967
total-1967
column7 double_ele[2, 5]
count-1968
total-1968
count-1969
total-1969
count-1970
total-1970
count-1971
total-1971
count-1972
total-1972
count-1973
total-1973
count-1974
total-1974
row 3double_ele[1, 7]
column8 double_ele[1, 7]
count-1975
total-1975
count-1976
total-1976
count-1977
total-1977
count-1978
total-1978
count-1979
total-1979
count-1980
total-1980
column9 double_ele[1, 5]
count-1981
total-1981
count-1982
total-1982
count-1983
total-1983
count-1984
total-1984
count-1985
total-1985
count-1986
total-1986
count-1987
total-1987
count-1988
total-1988
count-1989
total-1989
count-1990
total-1990
count-1991
total-1991
count-1992
total-1992
count-1993
total-1993
count-1994
total-1994
count-1995
total-1995
count-1996
total-1996
count-1997
total-1997
count-1998
total-1998
column8 double_ele[3, 4]
count-1999
total-1999
count-2000
total-2000
count-2001
total-2001
count-2002
total-2002
row 2double_ele[1, 2]
column2 double_ele[1, 2]
row 6double_ele[1, 2]
column8 double_ele[1, 2]
column9 double_ele[1, 2]
count-2003
total-2003
count-2004
total-2004
count-2005
total-2005
count-2006
total-2006
count-2007
total-2007
count-2008
total-2008
count-2009
total-2009
count-2010
total-2010
count-2011
total-2011
count-2012
total-2012
count-2013
total-2013
count-2014
total-2014
count-2015
total-2015
count-2016
total-2016
count-2017
total-2017
count-2018
total-2018
count-2019
total-2019
count-2020
total-2020
row 7double_ele[1, 3]
count-2021
total-2021
count-2022
total-2022
count-2023
total-2023
column8 double_ele[2, 6]
count-2024
total-2024
column7 double_ele[3, 9]
count-2025
total-2025
count-2026
total-2026
row 8double_ele[2, 3]
count-2027
total-2027
count-2028
total-2028
count-2029
total-2029
count-2030
total-2030
count-2031
total-2031

count-2032
total-2032
count-2033
total-2033
count-2034
total-2034
count-2035
total-2035
column1 double_ele[3, 6]
count-2036
total-2036
count-2037
total-2037
column5 double_ele[1, 5]
column9 double_ele[1, 6]
count-2038
total-2038
count-2039
total-2039
row 6double_ele[1, 5]
count-2040
total-2040
count-2041
total-2041
count-2042
total-2042
count-2043
total-2043
count-2044
total-2044
count-2045
total-2045
count-2046
total-2046
count-2047
total-2047
column2 double_ele[1, 3]
column4 double_ele[1, 2]
count-2048
total-2048
count-2049
total-2049
count-2050
total-2050
count-2051
total-2051
count-2052
total-2052
count-2053
total-2053
count-2054
total-2054
column5 double_ele[2, 5]
count-2055
total-2055
count-2056
total-2056
count-2057
total-2057
count-2058
total-2058
count-2059
total-2059
count-2060
total-2060
count-2061
total-2061
count-2062
total-2062
count-2063
total-2063
count-2064
total-2064
count-2065
total-2065
count-2066
total-2066
count-2067
total-2067
row 2double_ele[4, 8]
count-2068
total-2068
count-2069
total-2069
box3 triple_ele[2, 3, 7]
count-2070
total-2070
count-2071
total-2071
count-2072
total-2072
count-2073
total-2073
count-2074
total-2074
count-2075
total-2075
row 9double_ele[1, 2]
count-2076
total-2076
count-2077
total-2077
count-2078
total-2078
count-2079
total-2079
count-2080
total-2080
count-2081
total-2081
row 2double_ele[2, 6]
column6 double_ele[2, 5]
row 7double_ele[2, 5]
count-2082
total-2082
row 3double_ele[4, 5]
count-2083
total-2083
row 8double_ele[3, 8]
count-2084
total-2084
count-2085
total-2085
count-2086
total-2086
count-2087
total-2087
count-2088
total-2088
count-2089
total-2089
count-2090
total-2090
column7 double_ele[1, 4]
count-2091
total-2091
count-2092
total-2092
count-2093
total-2093
count-2094
total-2094
row 3double_ele[3, 7]
column7 double_ele[1, 5]
column8 double_ele[3, 7]
count-2095
total-2095
count-2096
total-2096
count-2097
total-2097
count-2098
total-2098
count-2099
total-2099
count-2100
total-2100
count-2101
total-2101
count-2102
total-2102
count-2103
total-2103
count-2104
total-2104
count-2105
total-2105
count-2106
total-2106
count-2107
total-2107
count-2108
total-2108
count-2109
total-2109
count-2110
total-2110
count-2111
total-2111
count-2112
total-2112
count-2113
total-2113
column3 double_ele[5, 6]
count-2114
total-2114
count-2115
total-2115
count-2116
total-2116
count-2117
total-2117
count-2118
total-2118
count-2119
total-2119
count-2120
total-2120
row 2double_ele[1, 3]
row 4double_ele[2, 3]
count-2121
total-2121
count-2122
total-2122
count-2123
total-2123
count-2124
total-2124
count-2125
total-2125
count-2126
total-2126
count-2127
total-2127
count-2128
total-2128
count-2129
total-2129
count-2130
total-2130
count-2131
total-2131
count-2132
total-2132
count-2133
total-2133
count-2134
total-2134
count-2135
total-2135
count-2136
total-2136
count-2137
total-2137
count-2138
total-2138
count-2139
total-2139
count-2140
total-2140
count-2141
total-2141
count-2142
total-2142
count-2143
total-2143
count-2144
total-2144
count-2145
total-2145
count-2146
total-2146
count-2147
total-2147
count-2148
total-2148
count-2149
total-2149
count-2150
total-2150
count-2151
total-2151
count-2152
total-2152
count-2153
total-2153
count-2154
total-2154
count-2155
total-2155
row 6double_ele[2, 4]
count-2156
total-2156
count-2157
total-2157
count-2158
total-2158
count-2159
total-2159
count-2160
total-2160
count-2161
total-2161
count-2162
total-2162
count-2163
total-2163
count-2164
total-2164
count-2165
total-2165
count-2166
total-2166
count-2167
total-2167
count-2168
total-2168
count-2169
total-2169
count-2170
total-2170
count-2171
total-2171
count-2172
total-2172
count-2173
total-2173
count-2174
total-2174
count-2175
total-2175
count-2176
total-2176
count-2177
total-2177
count-2178
total-2178
count-2179
total-2179
count-2180
total-2180
count-2181
total-2181
count-2182
total-2182
count-2183
total-2183
count-2184
total-2184
count-2185
total-2185
count-2186
total-2186
count-2187
total-2187
count-2188
total-2188
count-2189
total-2189
column2 double_ele[3, 5]
row 5double_ele[3, 5]
count-2190
total-2190
column6 double_ele[3, 4]
row 9double_ele[3, 6]
count-2191
total-2191
column3 double_ele[2, 3]
row 5double_ele[2, 3]
count-2192
total-2192
row 8double_ele[1, 2]
count-2193
total-2193
count-2194
total-2194
count-2195
total-2195
row 1double_ele[2, 3]
column3 double_ele[2, 3]
column7 double_ele[2, 3]
count-2196
total-2196
count-2197
total-2197
count-2198
total-2198
count-2199
total-2199
count-2200
total-2200
count-2201
total-2201
count-2202
total-2202
count-2203
total-2203
count-2204
total-2204
count-2205
total-2205
column9 double_ele[1, 4]
count-2206
total-2206
count-2207
total-2207
count-2208
total-2208
count-2209
total-2209
count-2210
total-2210
row 2double_ele[1, 6]
column7 double_ele[1, 6]
count-2211
total-2211
row 5double_ele[2, 4]
column9 double_ele[2, 4]
count-2212
total-2212
count-2213
total-2213
count-2214
total-2214
count-2215
total-2215
count-2216
total-2216
column8 double_ele[1, 2]
count-2217
total-2217
count-2218
total-2218
count-2219
total-2219
count-2220
total-2220
count-2221
total-2221
count-2222
total-2222
count-2223
total-2223
count-2224
total-2224
count-2225
total-2225
count-2226
total-2226
column5 double_ele[2, 4]
row 7double_ele[2, 4]
row 8double_ele[2, 4]
column9 double_ele[2, 4]
count-2227
total-2227
count-2228
total-2228
row 2double_ele[5, 8]
count-2229
total-2229
count-2230
total-2230
count-2231
total-2231
count-2232
total-2232
count-2233
total-2233
count-2234
total-2234
count-2235
total-2235
count-2236
total-2236
count-2237
total-2237
count-2238
total-2238
column2 double_ele[3, 4]
count-2239
total-2239
count-2240
total-2240
row 6double_ele[1, 2]
row 9triple_ele[1, 2, 3]
count-2241
total-2241
row 1double_ele[4, 6]
column8 double_ele[4, 6]
count-2242
total-2242
count-2243
total-2243
row 3double_ele[1, 3]
count-2244
total-2244
count-2245
total-2245
count-2246
total-2246
count-2247
total-2247
count-2248
total-2248
count-2249
total-2249
count-2250
total-2250
count-2251
total-2251
count-2252
total-2252
count-2253
total-2253
count-2254
total-2254
count-2255
total-2255
count-2256
total-2256
count-2257
total-2257
count-2258
total-2258
column2 double_ele[6, 8]
count-2259
total-2259
count-2260
total-2260
count-2261
total-2261
count-2262
total-2262
count-2263
total-2263
count-2264
total-2264
count-2265
total-2265
count-2266
total-2266
count-2267
total-2267
column1 double_ele[6, 8]
column2 double_ele[4, 6]
count-2268
total-2268
count-2269
total-2269
count-2270
total-2270
count-2271
total-2271
count-2272
total-2272
count-2273
total-2273
count-2274
total-2274
count-2275
total-2275
count-2276
total-2276
count-2277
total-2277
count-2278
total-2278
count-2279
total-2279
count-2280
total-2280
count-2281
total-2281
count-2282
total-2282
count-2283
total-2283
count-2284
total-2284
count-2285
total-2285
count-2286
total-2286
count-2287
total-2287
count-2288
total-2288
count-2289
total-2289
row 3double_ele[1, 2]
count-2290
total-2290
count-2291
total-2291
count-2292
total-2292
count-2293
total-2293
count-2294
total-2294
count-2295
total-2295
row 1double_ele[1, 2]
count-2296
total-2296
count-2297
total-2297
count-2298
total-2298
count-2299
total-2299
count-2300
total-2300
count-2301
total-2301
count-2302
total-2302
count-2303
total-2303
count-2304
total-2304
count-2305
total-2305
count-2306
total-2306
count-2307
total-2307
count-2308
total-2308
count-2309
total-2309
count-2310
total-2310
count-2311
total-2311
count-2312
total-2312
count-2313
total-2313
count-2314
total-2314
count-2315
total-2315
row 9double_ele[2, 5]
column9 double_ele[2, 5]
count-2316
total-2316
count-2317
total-2317
count-2318
total-2318
count-2319
total-2319
count-2320
total-2320
count-2321
total-2321
count-2322
total-2322
row 7double_ele[1, 3]
count-2323
total-2323
count-2324
total-2324
count-2325
total-2325
count-2326
total-2326
count-2327
total-2327
count-2328
total-2328
row 2double_ele[1, 5]
count-2329
total-2329
count-2330
total-2330
count-2331
total-2331
count-2332
total-2332
count-2333
total-2333
count-2334
total-2334
count-2335
total-2335
count-2336
total-2336
count-2337
total-2337
count-2338
total-2338
count-2339
total-2339
count-2340
total-2340
count-2341
total-2341
count-2342
total-2342
count-2343
total-2343
count-2344
total-2344
count-2345
total-2345
count-2346
total-2346
column1 double_ele[2, 4]
count-2347
total-2347
count-2348
total-2348
count-2349
total-2349
count-2350
total-2350
count-2351
total-2351
count-2352
total-2352
count-2353
total-2353
count-2354
total-2354
count-2355
total-2355

count-2356
total-2356
count-2357
total-2357
count-2358
total-2358
count-2359
total-2359
count-2360
total-2360
count-2361
total-2361
count-2362
total-2362
count-2363
total-2363
count-2364
total-2364
count-2365
total-2365
count-2366
total-2366
count-2367
total-2367
count-2368
total-2368
count-2369
total-2369
count-2370
total-2370
count-2371
total-2371
count-2372
total-2372
count-2373
total-2373
column2 double_ele[3, 8]
count-2374
total-2374
column2 double_ele[4, 5]
row 4double_ele[4, 5]
count-2375
total-2375
count-2376
total-2376
count-2377
total-2377
count-2378
total-2378
column1 double_ele[7, 8]
count-2379
total-2379
count-2380
total-2380
count-2381
total-2381
count-2382
total-2382
count-2383
total-2383
count-2384
total-2384
count-2385
total-2385
row 7double_ele[1, 2]
column9 double_ele[1, 2]
count-2386
total-2386
count-2387
total-2387
count-2388
total-2388
count-2389
total-2389
count-2390
total-2390
count-2391
total-2391
count-2392
total-2392
count-2393
total-2393
count-2394
total-2394
count-2395
total-2395
count-2396
total-2396
count-2397
total-2397
count-2398
total-2398
row 3double_ele[5, 7]
count-2399
total-2399
count-2400
total-2400
count-2401
total-2401
count-2402
total-2402
count-2403
total-2403
count-2404
total-2404
count-2405
total-2405
column1 double_ele[1, 3]
column3 double_ele[1, 7]
column5 double_ele[1, 2]
count-2406
total-2406
count-2407
total-2407
count-2408
total-2408
count-2409
total-2409
count-2410
total-2410
count-2411
total-2411
count-2412
total-2412
count-2413
total-2413
count-2414
total-2414
count-2415
total-2415
count-2416
total-2416
column2 double_ele[2, 5]
row 6double_ele[2, 5]
count-2417
total-2417
column4 double_ele[3, 4]
column6 double_ele[3, 4]
row 8double_ele[3, 4]
count-2418
total-2418
count-2419
total-2419
count-2420
total-2420
count-2421
total-2421
count-2422
total-2422
row 7double_ele[4, 5]
count-2423
total-2423
count-2424
total-2424
count-2425
total-2425
count-2426
total-2426
count-2427
total-2427
count-2428
total-2428
count-2429
total-2429
count-2430
total-2430
count-2431
total-2431
count-2432
total-2432
count-2433
total-2433
count-2434
total-2434
count-2435
total-2435
count-2436
total-2436
count-2437
total-2437
count-2438
total-2438
count-2439
total-2439
count-2440
total-2440
count-2441
total-2441
count-2442
total-2442
count-2443
total-2443
count-2444
total-2444
count-2445
total-2445
count-2446
total-2446
count-2447
total-2447
count-2448
total-2448
count-2449
total-2449
count-2450
total-2450
count-2451
total-2451
count-2452
total-2452
count-2453
total-2453
count-2454
total-2454
count-2455
total-2455
count-2456
total-2456
count-2457
total-2457
count-2458
total-2458
count-2459
total-2459
count-2460
total-2460
count-2461
total-2461
count-2462
total-2462
count-2463
total-2463
count-2464
total-2464
count-2465
total-2465
count-2466
total-2466
count-2467
total-2467
count-2468
total-2468
count-2469
total-2469
count-2470
total-2470
count-2471
total-2471
count-2472
total-2472
count-2473
total-2473
count-2474
total-2474
count-2475
total-2475
count-2476
total-2476
count-2477
total-2477
count-2478
total-2478
count-2479
total-2479
count-2480
total-2480
count-2481
total-2481
count-2482
total-2482
count-2483
total-2483
count-2484
total-2484
count-2485
total-2485
count-2486
total-2486
count-2487
total-2487
count-2488
total-2488
count-2489
total-2489
count-2490
total-2490
count-2491
total-2491
count-2492
total-2492
count-2493
total-2493
count-2494
total-2494
count-2495
total-2495
row 2double_ele[1, 4]
count-2496
total-2496
column6 double_ele[1, 3]
count-2497
total-2497
count-2498
total-2498
count-2499
total-2499
count-2500
total-2500
count-2501
total-2501
row 2double_ele[1, 2]
column6 double_ele[1, 2]
count-2502
total-2502
count-2503
total-2503
count-2504
total-2504
count-2505
total-2505
count-2506
total-2506
count-2507
total-2507
count-2508
total-2508
count-2509
total-2509
count-2510
total-2510
count-2511
total-2511
count-2512
total-2512
count-2513
total-2513
count-2514
total-2514
count-2515
total-2515
row 5double_ele[3, 6]
column9 double_ele[3, 5]
count-2516
total-2516
count-2517
total-2517
count-2518
total-2518
count-2519
total-2519
count-2520
total-2520
count-2521
total-2521
count-2522
total-2522
count-2523
total-2523
count-2524
total-2524
count-2525
total-2525
count-2526
total-2526
count-2527
total-2527
count-2528
total-2528
count-2529
total-2529
count-2530
total-2530
count-2531
total-2531
count-2532
total-2532
count-2533
total-2533
count-2534
total-2534
count-2535
total-2535
column3 double_ele[5, 6]
count-2536
total-2536
count-2537
total-2537
count-2538
total-2538
count-2539
total-2539
count-2540
total-2540
count-2541
total-2541
count-2542
total-2542
column4 double_ele[3, 6]
box6 triple_ele[2, 3, 7]
count-2543
total-2543
count-2544
total-2544
count-2545
total-2545
count-2546
total-2546
count-2547
total-2547
count-2548
total-2548
count-2549
total-2549
column9 double_ele[1, 4]
count-2550
total-2550
row 2double_ele[2, 5]
count-2551
total-2551
count-2552
total-2552
count-2553
total-2553
count-2554
total-2554
row 2double_ele[3, 9]
count-2555
total-2555
count-2556
total-2556
count-2557
total-2557
count-2558
total-2558
row 6double_ele[2, 5]
count-2559
total-2559
count-2560
total-2560
count-2561
total-2561
count-2562
total-2562
row 5double_ele[6, 8]
count-2563
total-2563
column5 double_ele[2, 4]
row 7double_ele[2, 4]
count-2564
total-2564
count-2565
total-2565
count-2566
total-2566
count-2567
total-2567
count-2568
total-2568
count-2569
total-2569
count-2570
total-2570
count-2571
total-2571
count-2572
total-2572
count-2573
total-2573
count-2574
total-2574
count-2575
total-2575
count-2576
total-2576
count-2577
total-2577
count-2578
total-2578
count-2579
total-2579
count-2580
total-2580
count-2581
total-2581
count-2582
total-2582
count-2583
total-2583
count-2584
total-2584
count-2585
total-2585
count-2586
total-2586
count-2587
total-2587
count-2588
total-2588
count-2589
total-2589
count-2590
total-2590
count-2591
total-2591
count-2592
total-2592
count-2593
total-2593
count-2594
total-2594
count-2595
total-2595
count-2596
total-2596
count-2597
total-2597
count-2598
total-2598
count-2599
total-2599
count-2600
total-2600
count-2601
total-2601
count-2602
total-2602
count-2603
total-2603
count-2604
total-2604
count-2605
total-2605
count-2606
total-2606
count-2607
total-2607
count-2608
total-2608
count-2609
total-2609
count-2610
total-2610
count-2611
total-2611
count-2612
total-2612
count-2613
total-2613
count-2614
total-2614
count-2615
total-2615
count-2616
total-2616
count-2617
total-2617
count-2618
total-2618
count-2619
total-2619
column9 double_ele[1, 5]
count-2620
total-2620
count-2621
total-2621
column1 double_ele[6, 9]
column4 double_ele[1, 9]
count-2622
total-2622
count-2623
total-2623
count-2624
total-2624
column7 double_ele[1, 5]
row 8double_ele[2, 7]
count-2625
total-2625
count-2626
total-2626
count-2627
total-2627
count-2628
total-2628
count-2629
total-2629
count-2630
total-2630
count-2631
total-2631
count-2632
total-2632
count-2633
total-2633
count-2634
total-2634
count-2635
total-2635
count-2636
total-2636
count-2637
total-2637
count-2638
total-2638
count-2639
total-2639
count-2640
total-2640
column5 double_ele[1, 2]
count-2641
total-2641
count-2642
total-2642
count-2643
total-2643
count-2644
total-2644
count-2645
total-2645
count-2646
total-2646
count-2647
total-2647
count-2648
total-2648
count-2649
total-2649
count-2650
total-2650
count-2651
total-2651
count-2652
total-2652
row 4double_ele[2, 3]
count-2653
total-2653
count-2654
total-2654
count-2655
total-2655
count-2656
total-2656
count-2657
total-2657
count-2658
total-2658
count-2659
total-2659
count-2660
total-2660
count-2661
total-2661
count-2662
total-2662
column1 double_ele[5, 6]
column2 double_ele[4, 5]
row 4double_ele[3, 6]
row 7double_ele[4, 5]
count-2663
total-2663
row 3double_ele[1, 7]
count-2664
total-2664
count-2665
total-2665
count-2666
total-2666
count-2667
total-2667
count-2668
total-2668
count-2669
total-2669
count-2670
total-2670
count-2671
total-2671
count-2672
total-2672
count-2673
total-2673
count-2674
total-2674
count-2675
total-2675
count-2676
total-2676
count-2677
total-2677
count-2678
total-2678
count-2679
total-2679
count-2680
total-2680
count-2681
total-2681
count-2682
total-2682
count-2683
total-2683
count-2684
total-2684
row 3double_ele[1, 3]
column4 double_ele[1, 3]
column6 double_ele[1, 3]
count-2685
total-2685
count-2686
total-2686
column2 double_ele[2, 4]
column3 double_ele[2, 4]
row 4double_ele[2, 4]
row 8double_ele[2, 4]
count-2687
total-2687
count-2688
total-2688
count-2689
total-2689
count-2690
total-2690
count-2691
total-2691
count-2692
total-2692
column9 double_ele[2, 5]
count-2693
total-2693

column3 double_ele[2, 4]
column6 double_ele[1, 4]
count-2694
total-2694
count-2695
total-2695
count-2696
total-2696
count-2697
total-2697
count-2698
total-2698
count-2699
total-2699
count-2700
total-2700
column3 double_ele[1, 2]
count-2701
total-2701
count-2702
total-2702
count-2703
total-2703
count-2704
total-2704
count-2705
total-2705
count-2706
total-2706
count-2707
total-2707
count-2708
total-2708
count-2709
total-2709
count-2710
total-2710
count-2711
total-2711
count-2712
total-2712
count-2713
total-2713
count-2714
total-2714
row 4double_ele[3, 7]
count-2715
total-2715
count-2716
total-2716
count-2717
total-2717
count-2718
total-2718
count-2719
total-2719
count-2720
total-2720
count-2721
total-2721
row 9double_ele[3, 7]
count-2722
total-2722
count-2723
total-2723
count-2724
total-2724
count-2725
total-2725
count-2726
total-2726
count-2727
total-2727
count-2728
total-2728
column1 double_ele[3, 5]
count-2729
total-2729
count-2730
total-2730
count-2731
total-2731
row 2double_ele[3, 4]
count-2732
total-2732
count-2733
total-2733
count-2734
total-2734
count-2735
total-2735
count-2736
total-2736
row 1double_ele[1, 4]
row 4double_ele[2, 5]
count-2737
total-2737
count-2738
total-2738
count-2739
total-2739
count-2740
total-2740
count-2741
total-2741
count-2742
total-2742
count-2743
total-2743
count-2744
total-2744
count-2745
total-2745
column2 double_ele[2, 4]
count-2746
total-2746
count-2747
total-2747
count-2748
total-2748
count-2749
total-2749
count-2750
total-2750
row 6double_ele[1, 5]
count-2751
total-2751
count-2752
total-2752
count-2753
total-2753
count-2754
total-2754
count-2755
total-2755
count-2756
total-2756
count-2757
total-2757
count-2758
total-2758
count-2759
total-2759
count-2760
total-2760
count-2761
total-2761
count-2762
total-2762
count-2763
total-2763
count-2764
total-2764
count-2765
total-2765
column1 double_ele[4, 8]
row 2double_ele[4, 8]
column9 double_ele[4, 8]
count-2766
total-2766
count-2767
total-2767
count-2768
total-2768
count-2769
total-2769
count-2770
total-2770
count-2771
total-2771
count-2772
total-2772
count-2773
total-2773
count-2774
total-2774
count-2775
total-2775
count-2776
total-2776
count-2777
total-2777
count-2778
total-2778
count-2779
total-2779
row 1double_ele[2, 6]
column2 double_ele[4, 6]
column4 double_ele[1, 6]
column7 double_ele[2, 6]
row 4triple_ele[1, 4, 7]
row 5triple_ele[1, 6, 7]
count-2780
total-2780
row 7double_ele[2, 3]
count-2781
total-2781
count-2782
total-2782
count-2783
total-2783
count-2784
total-2784
count-2785
total-2785
count-2786
total-2786
count-2787
total-2787
count-2788
total-2788
column5 double_ele[3, 8]
count-2789
total-2789
column2 double_ele[1, 2]
row 5double_ele[1, 2]
column9 double_ele[1, 2]
count-2790
total-2790
count-2791
total-2791
column2 double_ele[1, 4]
count-2792
total-2792
count-2793
total-2793
row 2double_ele[2, 5]
column2 double_ele[2, 5]
count-2794
total-2794
count-2795
total-2795
count-2796
total-2796
count-2797
total-2797
count-2798
total-2798
count-2799
total-2799
count-2800
total-2800
count-2801
total-2801
count-2802
total-2802
column8 double_ele[1, 4]
count-2803
total-2803
count-2804
total-2804
count-2805
total-2805
count-2806
total-2806
count-2807
total-2807
count-2808
total-2808
count-2809
total-2809
count-2810
total-2810
count-2811
total-2811
count-2812
total-2812
row 4double_ele[2, 7]
count-2813
total-2813
count-2814
total-2814
count-2815
total-2815
count-2816
total-2816
count-2817
total-2817
count-2818
total-2818
count-2819
total-2819
count-2820
total-2820
count-2821
total-2821
row 5double_ele[1, 5]
column7 double_ele[1, 6]
count-2822
total-2822
count-2823
total-2823
count-2824
total-2824
count-2825
total-2825
row 6double_ele[3, 5]
row 8double_ele[1, 5]
count-2826
total-2826
count-2827
total-2827
count-2828
total-2828
column5 double_ele[4, 7]
count-2829
total-2829
count-2830
total-2830
column1 double_ele[1, 5]
column4 double_ele[3, 5]
count-2831
total-2831
count-2832
total-2832
count-2833
total-2833
count-2834
total-2834
count-2835
total-2835
count-2836
total-2836
count-2837
total-2837
count-2838
total-2838
count-2839
total-2839
count-2840
total-2840
row 3double_ele[3, 4]
count-2841
total-2841
count-2842
total-2842
count-2843
total-2843
count-2844
total-2844
count-2845
total-2845
count-2846
total-2846
column5 double_ele[3, 6]
count-2847
total-2847
count-2848
total-2848
count-2849
total-2849
count-2850
total-2850
column8 double_ele[1, 2]
count-2851
total-2851
count-2852
total-2852
count-2853
total-2853
count-2854
total-2854
count-2855
total-2855
count-2856
total-2856
count-2857
total-2857
count-2858
total-2858
count-2859
total-2859
count-2860
total-2860
row 6double_ele[1, 8]
row 8double_ele[4, 8]
count-2861
total-2861
count-2862
total-2862
count-2863
total-2863
count-2864
total-2864
count-2865
total-2865
count-2866
total-2866
count-2867
total-2867
count-2868
total-2868
count-2869
total-2869
column5 double_ele[4, 6]
row 8double_ele[4, 6]
row 9double_ele[4, 6]
count-2870
total-2870
column4 double_ele[1, 3]
row 8double_ele[2, 3]
column9 double_ele[1, 7]
count-2871
total-2871
row 1double_ele[1, 4]
count-2872
total-2872
count-2873
total-2873
count-2874
total-2874
count-2875
total-2875
count-2876
total-2876
count-2877
total-2877
row 9double_ele[1, 4]
column9 double_ele[1, 4]
count-2878
total-2878
count-2879
total-2879
count-2880
total-2880
count-2881
total-2881
count-2882
total-2882
count-2883
total-2883
count-2884
total-2884
count-2885
total-2885
count-2886
total-2886
count-2887
total-2887
count-2888
total-2888
count-2889
total-2889
count-2890
total-2890
count-2891
total-2891
count-2892
total-2892
count-2893
total-2893
row 9triple_ele[3, 4, 5]
count-2894
total-2894
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-2895
total-2895
count-2896
total-2896
column4 double_ele[3, 4]
column5 double_ele[2, 4]
count-2897
total-2897
count-2898
total-2898
count-2899
total-2899
count-2900
total-2900
count-2901
total-2901
count-2902
total-2902
column3 triple_ele[1, 4, 5]
box3 triple_ele[1, 4, 5]
count-2903
total-2903
count-2904
total-2904
count-2905
total-2905
count-2906
total-2906
count-2907
total-2907
count-2908
total-2908
count-2909
total-2909
column3 double_ele[4, 7]
column4 double_ele[1, 4]
row 6double_ele[1, 4]
count-2910
total-2910
count-2911
total-2911
count-2912
total-2912
column1 double_ele[2, 5]
count-2913
total-2913
count-2914
total-2914
count-2915
total-2915
count-2916
total-2916
count-2917
total-2917
count-2918
total-2918
column4 double_ele[4, 6]
row 6double_ele[4, 6]
row 8double_ele[1, 2]
row 1triple_ele[2, 6, 7]
row 4triple_ele[1, 2, 6]
column7 triple_ele[1, 2, 4]
box3 triple_ele[4, 6, 7]
count-2919
total-2919
count-2920
total-2920
count-2921
total-2921
count-2922
total-2922
count-2923
total-2923
count-2924
total-2924
row 9double_ele[1, 2]
count-2925
total-2925
column2 double_ele[1, 2]
count-2926
total-2926
row 5double_ele[1, 7]
count-2927
total-2927
count-2928
total-2928
count-2929
total-2929
count-2930
total-2930
count-2931
total-2931
count-2932
total-2932
count-2933
total-2933
count-2934
total-2934
count-2935
total-2935
count-2936
total-2936
count-2937
total-2937
count-2938
total-2938
count-2939
total-2939
count-2940
total-2940
row 4double_ele[2, 6]
count-2941
total-2941
count-2942
total-2942
row 1double_ele[5, 6]
column3 double_ele[5, 6]
column6 double_ele[5, 6]
count-2943
total-2943
count-2944
total-2944
count-2945
total-2945
count-2946
total-2946
column4 double_ele[3, 6]
count-2947
total-2947
count-2948
total-2948
count-2949
total-2949
count-2950
total-2950
count-2951
total-2951
row 8double_ele[1, 3]
count-2952
total-2952
count-2953
total-2953
count-2954
total-2954
count-2955
total-2955
count-2956
total-2956
count-2957
total-2957
count-2958
total-2958
count-2959
total-2959
count-2960
total-2960
row 2double_ele[3, 7]
count-2961
total-2961
column4 double_ele[4, 5]
count-2962
total-2962
count-2963
total-2963
count-2964
total-2964
count-2965
total-2965
count-2966
total-2966
count-2967
total-2967
row 3double_ele[1, 3]
column9 double_ele[2, 8]
count-2968
total-2968
count-2969
total-2969
count-2970
total-2970
count-2971
total-2971
row 5double_ele[1, 3]
column9 double_ele[1, 3]
count-2972
total-2972
count-2973
total-2973
count-2974
total-2974
count-2975
total-2975
count-2976
total-2976
count-2977
total-2977
count-2978
total-2978
count-2979
total-2979

count-2980
total-2980
count-2981
total-2981
count-2982
total-2982
count-2983
total-2983
count-2984
total-2984
row 1double_ele[1, 6]
row 9double_ele[6, 8]
count-2985
total-2985
count-2986
total-2986
column1 double_ele[6, 8]
row 5double_ele[6, 8]
row 2triple_ele[2, 4, 6]
count-2987
total-2987
count-2988
total-2988
count-2989
total-2989
count-2990
total-2990
count-2991
total-2991
count-2992
total-2992
row 1double_ele[1, 2]
column1 double_ele[3, 6]
count-2993
total-2993
count-2994
total-2994
count-2995
total-2995
count-2996
total-2996
count-2997
total-2997
count-2998
total-2998
count-2999
total-2999
count-3000
total-3000
count-3001
total-3001
column9 double_ele[2, 3]
count-3002
total-3002
count-3003
total-3003
count-3004
total-3004
count-3005
total-3005
count-3006
total-3006
count-3007
total-3007
count-3008
total-3008
count-3009
total-3009
count-3010
total-3010
count-3011
total-3011
count-3012
total-3012
count-3013
total-3013
count-3014
total-3014
count-3015
total-3015
count-3016
total-3016
count-3017
total-3017
count-3018
total-3018
count-3019
total-3019
count-3020
total-3020
column3 double_ele[5, 6]
row 4double_ele[5, 8]
row 7double_ele[5, 6]
row 8double_ele[2, 8]
count-3021
total-3021
count-3022
total-3022
count-3023
total-3023
column2 double_ele[1, 2]
column4 double_ele[1, 4]
row 6double_ele[1, 2]
count-3024
total-3024
count-3025
total-3025
count-3026
total-3026
count-3027
total-3027
count-3028
total-3028
count-3029
total-3029
count-3030
total-3030
count-3031
total-3031
count-3032
total-3032
count-3033
total-3033
count-3034
total-3034
count-3035
total-3035
count-3036
total-3036
count-3037
total-3037
count-3038
total-3038
count-3039
total-3039
count-3040
total-3040
count-3041
total-3041
count-3042
total-3042
count-3043
total-3043
count-3044
total-3044
count-3045
total-3045
count-3046
total-3046
count-3047
total-3047
count-3048
total-3048
count-3049
total-3049
count-3050
total-3050
count-3051
total-3051
column6 double_ele[3, 4]
row 9double_ele[3, 4]
column9 double_ele[3, 4]
count-3052
total-3052
count-3053
total-3053
count-3054
total-3054
count-3055
total-3055
count-3056
total-3056
count-3057
total-3057
count-3058
total-3058
column3 double_ele[1, 5]
count-3059
total-3059
count-3060
total-3060
count-3061
total-3061
count-3062
total-3062
count-3063
total-3063
count-3064
total-3064
count-3065
total-3065
count-3066
total-3066
count-3067
total-3067
count-3068
total-3068
count-3069
total-3069
count-3070
total-3070
count-3071
total-3071
column4 double_ele[4, 5]
count-3072
total-3072
count-3073
total-3073
count-3074
total-3074
count-3075
total-3075
count-3076
total-3076
count-3077
total-3077
count-3078
total-3078
count-3079
total-3079
count-3080
total-3080
count-3081
total-3081
count-3082
total-3082
count-3083
total-3083
count-3084
total-3084
count-3085
total-3085
count-3086
total-3086
count-3087
total-3087
count-3088
total-3088
column9 double_ele[2, 7]
count-3089
total-3089
count-3090
total-3090
count-3091
total-3091
row 3double_ele[1, 3]
count-3092
total-3092
column6 double_ele[1, 2]
count-3093
total-3093
count-3094
total-3094
count-3095
total-3095
count-3096
total-3096
count-3097
total-3097
count-3098
total-3098
count-3099
total-3099
column8 double_ele[1, 2]
count-3100
total-3100
count-3101
total-3101
count-3102
total-3102
count-3103
total-3103
count-3104
total-3104
count-3105
total-3105
count-3106
total-3106
column7 double_ele[2, 5]
count-3107
total-3107
count-3108
total-3108
count-3109
total-3109
count-3110
total-3110
count-3111
total-3111
count-3112
total-3112
count-3113
total-3113
count-3114
total-3114
count-3115
total-3115
count-3116
total-3116
row 8double_ele[1, 4]
count-3117
total-3117
count-3118
total-3118
count-3119
total-3119
column4 double_ele[1, 4]
count-3120
total-3120
row 6triple_ele[1, 2, 6]
count-3121
total-3121
count-3122
total-3122
column4 double_ele[2, 7]
count-3123
total-3123
count-3124
total-3124
count-3125
total-3125
count-3126
total-3126
count-3127
total-3127
count-3128
total-3128
count-3129
total-3129
count-3130
total-3130
count-3131
total-3131
count-3132
total-3132
count-3133
total-3133
count-3134
total-3134
row 6double_ele[1, 6]
row 7double_ele[3, 7]
count-3135
total-3135
count-3136
total-3136
row 6double_ele[1, 3]
count-3137
total-3137
count-3138
total-3138
count-3139
total-3139
count-3140
total-3140
count-3141
total-3141
count-3142
total-3142
count-3143
total-3143
count-3144
total-3144
count-3145
total-3145
count-3146
total-3146
count-3147
total-3147
count-3148
total-3148
count-3149
total-3149
count-3150
total-3150
count-3151
total-3151
count-3152
total-3152
count-3153
total-3153
count-3154
total-3154
count-3155
total-3155
count-3156
total-3156
count-3157
total-3157
count-3158
total-3158
count-3159
total-3159
count-3160
total-3160
count-3161
total-3161
count-3162
total-3162
count-3163
total-3163
count-3164
total-3164
count-3165
total-3165
count-3166
total-3166
count-3167
total-3167
count-3168
total-3168
count-3169
total-3169
count-3170
total-3170
count-3171
total-3171
count-3172
total-3172
count-3173
total-3173
count-3174
total-3174
count-3175
total-3175
count-3176
total-3176
column2 double_ele[1, 3]
count-3177
total-3177
count-3178
total-3178
column1 double_ele[2, 5]
count-3179
total-3179
count-3180
total-3180
count-3181
total-3181
count-3182
total-3182
count-3183
total-3183
count-3184
total-3184
count-3185
total-3185
count-3186
total-3186
count-3187
total-3187
count-3188
total-3188
count-3189
total-3189
count-3190
total-3190
count-3191
total-3191
count-3192
total-3192
count-3193
total-3193
count-3194
total-3194
count-3195
total-3195
count-3196
total-3196
count-3197
total-3197
count-3198
total-3198
count-3199
total-3199
count-3200
total-3200
count-3201
total-3201
count-3202
total-3202
count-3203
total-3203
column3 double_ele[1, 4]
count-3204
total-3204
count-3205
total-3205
count-3206
total-3206
count-3207
total-3207
column1 double_ele[2, 3]
count-3208
total-3208
row 1double_ele[2, 3]
count-3209
total-3209
count-3210
total-3210
count-3211
total-3211
count-3212
total-3212
count-3213
total-3213
count-3214
total-3214
count-3215
total-3215
count-3216
total-3216
count-3217
total-3217
count-3218
total-3218
count-3219
total-3219
count-3220
total-3220
count-3221
total-3221
row 8double_ele[2, 4]
count-3222
total-3222
row 7double_ele[2, 6]
count-3223
total-3223
count-3224
total-3224
count-3225
total-3225
count-3226
total-3226
count-3227
total-3227
count-3228
total-3228
count-3229
total-3229
count-3230
total-3230
count-3231
total-3231
count-3232
total-3232
count-3233
total-3233
count-3234
total-3234
count-3235
total-3235
count-3236
total-3236
count-3237
total-3237
row 5double_ele[1, 5]
column5 double_ele[1, 5]
count-3238
total-3238
count-3239
total-3239
count-3240
total-3240
count-3241
total-3241
count-3242
total-3242
count-3243
total-3243
count-3244
total-3244
count-3245
total-3245
count-3246
total-3246
count-3247
total-3247
count-3248
total-3248
count-3249
total-3249
column1 double_ele[3, 5]
column2 double_ele[1, 2]
row 8double_ele[1, 3]
count-3250
total-3250
count-3251
total-3251
row 1double_ele[3, 5]
count-3252
total-3252
count-3253
total-3253
count-3254
total-3254
count-3255
total-3255
column5 double_ele[1, 3]
column7 double_ele[3, 8]
count-3256
total-3256
count-3257
total-3257
count-3258
total-3258
count-3259
total-3259
column3 double_ele[4, 7]
count-3260
total-3260
count-3261
total-3261
count-3262
total-3262
column5 double_ele[5, 6]
count-3263
total-3263
count-3264
total-3264
count-3265
total-3265
column4 double_ele[2, 8]
count-3266
total-3266
count-3267
total-3267
count-3268
total-3268
count-3269
total-3269
count-3270
total-3270
count-3271
total-3271
count-3272
total-3272
count-3273
total-3273
count-3274
total-3274
count-3275
total-3275
count-3276
total-3276
count-3277
total-3277
count-3278
total-3278
count-3279
total-3279
count-3280
total-3280
count-3281
total-3281
count-3282
total-3282
count-3283
total-3283
count-3284
total-3284
count-3285
total-3285
count-3286
total-3286
count-3287
total-3287
column8 double_ele[3, 7]
count-3288
total-3288
row 1double_ele[1, 4]
count-3289
total-3289
count-3290
total-3290
count-3291
total-3291
count-3292
total-3292
count-3293
total-3293
count-3294
total-3294
count-3295
total-3295
count-3296
total-3296
column9 double_ele[1, 4]
count-3297
total-3297
count-3298
total-3298
row 4double_ele[2, 7]
column5 double_ele[2, 7]
count-3299
total-3299
count-3300
total-3300
column8 double_ele[4, 5]
count-3301
total-3301
count-3302
total-3302
count-3303
total-3303
count-3304
total-3304
count-3305
total-3305
column5 double_ele[1, 6]
count-3306
total-3306
count-3307
total-3307
count-3308
total-3308
count-3309
total-3309
row 3double_ele[2, 3]
column8 double_ele[2, 3]
count-3310
total-3310

count-3311
total-3311
count-3312
total-3312
count-3313
total-3313
count-3314
total-3314
count-3315
total-3315
count-3316
total-3316
row 1double_ele[2, 5]
count-3317
total-3317
count-3318
total-3318
count-3319
total-3319
count-3320
total-3320
count-3321
total-3321
count-3322
total-3322
count-3323
total-3323
count-3324
total-3324
count-3325
total-3325
count-3326
total-3326
count-3327
total-3327
count-3328
total-3328
count-3329
total-3329
count-3330
total-3330
count-3331
total-3331
count-3332
total-3332
count-3333
total-3333
count-3334
total-3334
count-3335
total-3335
row 3double_ele[1, 4]
count-3336
total-3336
count-3337
total-3337
column2 double_ele[1, 7]
count-3338
total-3338
count-3339
total-3339
count-3340
total-3340
count-3341
total-3341
row 6double_ele[1, 6]
count-3342
total-3342
count-3343
total-3343
count-3344
total-3344
column9 double_ele[3, 4]
count-3345
total-3345
count-3346
total-3346
count-3347
total-3347
row 2double_ele[2, 4]
column6 double_ele[2, 4]
count-3348
total-3348
count-3349
total-3349
count-3350
total-3350
count-3351
total-3351
count-3352
total-3352
count-3353
total-3353
count-3354
total-3354
count-3355
total-3355
count-3356
total-3356
count-3357
total-3357
count-3358
total-3358
count-3359
total-3359
count-3360
total-3360
count-3361
total-3361
row 5double_ele[3, 5]
count-3362
total-3362
count-3363
total-3363
count-3364
total-3364
count-3365
total-3365
count-3366
total-3366
count-3367
total-3367
count-3368
total-3368
count-3369
total-3369
count-3370
total-3370
count-3371
total-3371
count-3372
total-3372
count-3373
total-3373
column3 double_ele[1, 5]
count-3374
total-3374
count-3375
total-3375
count-3376
total-3376
row 8double_ele[1, 6]
count-3377
total-3377
count-3378
total-3378
count-3379
total-3379
count-3380
total-3380
row 9double_ele[2, 3]
count-3381
total-3381
count-3382
total-3382
count-3383
total-3383
count-3384
total-3384
count-3385
total-3385
count-3386
total-3386
count-3387
total-3387
count-3388
total-3388
row 5double_ele[1, 3]
column6 double_ele[1, 2]
column9 double_ele[1, 3]
row 6triple_ele[1, 2, 3]
box6 triple_ele[1, 2, 3]
count-3389
total-3389
count-3390
total-3390
count-3391
total-3391
count-3392
total-3392
count-3393
total-3393
count-3394
total-3394
count-3395
total-3395
count-3396
total-3396
count-3397
total-3397
count-3398
total-3398
count-3399
total-3399
row 9double_ele[2, 5]
count-3400
total-3400
count-3401
total-3401
count-3402
total-3402
count-3403
total-3403
count-3404
total-3404
count-3405
total-3405
count-3406
total-3406
count-3407
total-3407
count-3408
total-3408
row 9double_ele[2, 8]
count-3409
total-3409
count-3410
total-3410
count-3411
total-3411
count-3412
total-3412
count-3413
total-3413
count-3414
total-3414
count-3415
total-3415
row 3double_ele[1, 5]
row 8double_ele[1, 4]
count-3416
total-3416
count-3417
total-3417
count-3418
total-3418
count-3419
total-3419
count-3420
total-3420
count-3421
total-3421
count-3422
total-3422
count-3423
total-3423
count-3424
total-3424
count-3425
total-3425
count-3426
total-3426
count-3427
total-3427
count-3428
total-3428
row 1double_ele[2, 6]
count-3429
total-3429
count-3430
total-3430
count-3431
total-3431
count-3432
total-3432
count-3433
total-3433
count-3434
total-3434
count-3435
total-3435
count-3436
total-3436
count-3437
total-3437
count-3438
total-3438
count-3439
total-3439
count-3440
total-3440
count-3441
total-3441
count-3442
total-3442
count-3443
total-3443
count-3444
total-3444
count-3445
total-3445
count-3446
total-3446
count-3447
total-3447
count-3448
total-3448
row 5double_ele[1, 5]
count-3449
total-3449
count-3450
total-3450
count-3451
total-3451
count-3452
total-3452
count-3453
total-3453
count-3454
total-3454
count-3455
total-3455
count-3456
total-3456
count-3457
total-3457
count-3458
total-3458
row 9double_ele[2, 5]
box9 triple_ele[2, 3, 5]
count-3459
total-3459
count-3460
total-3460
count-3461
total-3461
row 5double_ele[4, 6]
count-3462
total-3462
count-3463
total-3463
count-3464
total-3464
count-3465
total-3465
count-3466
total-3466
count-3467
total-3467
count-3468
total-3468
count-3469
total-3469
count-3470
total-3470
count-3471
total-3471
column5 double_ele[1, 7]
count-3472
total-3472
count-3473
total-3473
count-3474
total-3474
count-3475
total-3475
row 2double_ele[2, 8]
count-3476
total-3476
count-3477
total-3477
count-3478
total-3478
count-3479
total-3479
count-3480
total-3480
count-3481
total-3481
count-3482
total-3482
count-3483
total-3483
count-3484
total-3484
count-3485
total-3485
count-3486
total-3486
count-3487
total-3487
count-3488
total-3488
count-3489
total-3489
count-3490
total-3490
count-3491
total-3491
count-3492
total-3492
column6 double_ele[1, 4]
count-3493
total-3493
count-3494
total-3494
column3 double_ele[2, 4]
row 8double_ele[2, 4]
count-3495
total-3495
count-3496
total-3496
count-3497
total-3497
count-3498
total-3498
row 2double_ele[2, 6]
column3 double_ele[2, 6]
count-3499
total-3499
column9 double_ele[3, 6]
count-3500
total-3500
count-3501
total-3501
count-3502
total-3502
count-3503
total-3503
count-3504
total-3504
count-3505
total-3505
count-3506
total-3506
count-3507
total-3507
count-3508
total-3508
count-3509
total-3509
count-3510
total-3510
count-3511
total-3511
count-3512
total-3512
count-3513
total-3513
count-3514
total-3514
count-3515
total-3515
count-3516
total-3516
column5 double_ele[3, 7]
count-3517
total-3517
count-3518
total-3518
row 9double_ele[2, 3]
count-3519
total-3519
column6 double_ele[1, 3]
count-3520
total-3520
count-3521
total-3521
count-3522
total-3522
count-3523
total-3523
row 2double_ele[3, 5]
count-3524
total-3524
count-3525
total-3525
count-3526
total-3526
count-3527
total-3527
count-3528
total-3528
count-3529
total-3529
row 1double_ele[1, 2]
column4 double_ele[1, 2]
count-3530
total-3530
count-3531
total-3531
count-3532
total-3532
count-3533
total-3533
count-3534
total-3534
count-3535
total-3535
count-3536
total-3536
count-3537
total-3537
count-3538
total-3538
count-3539
total-3539
count-3540
total-3540
count-3541
total-3541
count-3542
total-3542
row 1double_ele[1, 7]
count-3543
total-3543
count-3544
total-3544
column1 double_ele[3, 4]
count-3545
total-3545
count-3546
total-3546
count-3547
total-3547
count-3548
total-3548
count-3549
total-3549
count-3550
total-3550
count-3551
total-3551
count-3552
total-3552
count-3553
total-3553
count-3554
total-3554
count-3555
total-3555
count-3556
total-3556
column8 double_ele[2, 7]
count-3557
total-3557
count-3558
total-3558
count-3559
total-3559
count-3560
total-3560
count-3561
total-3561
count-3562
total-3562
count-3563
total-3563
column7 double_ele[3, 6]
count-3564
total-3564
count-3565
total-3565
count-3566
total-3566
count-3567
total-3567
count-3568
total-3568
row 3double_ele[1, 3]
column5 double_ele[1, 3]
row 6double_ele[3, 7]
count-3569
total-3569
column7 double_ele[1, 5]
count-3570
total-3570
count-3571
total-3571
count-3572
total-3572
count-3573
total-3573
row 2double_ele[3, 4]
count-3574
total-3574
count-3575
total-3575
count-3576
total-3576
count-3577
total-3577
count-3578
total-3578
count-3579
total-3579
count-3580
total-3580
count-3581
total-3581
count-3582
total-3582
count-3583
total-3583
count-3584
total-3584
count-3585
total-3585
count-3586
total-3586
count-3587
total-3587
count-3588
total-3588
count-3589
total-3589
count-3590
total-3590
count-3591
total-3591
count-3592
total-3592
count-3593
total-3593
count-3594
total-3594
count-3595
total-3595
count-3596
total-3596
count-3597
total-3597
count-3598
total-3598
count-3599
total-3599
count-3600
total-3600
count-3601
total-3601
count-3602
total-3602
count-3603
total-3603
count-3604
total-3604
count-3605
total-3605
count-3606
total-3606
count-3607
total-3607
count-3608
total-3608
column3 double_ele[2, 3]
count-3609
total-3609
column3 double_ele[1, 2]
count-3610
total-3610
count-3611
total-3611
count-3612
total-3612
count-3613
total-3613
column4 double_ele[3, 5]
count-3614
total-3614
count-3615
total-3615
count-3616
total-3616
count-3617
total-3617
count-3618
total-3618
count-3619
total-3619
count-3620
total-3620
count-3621
total-3621
count-3622
total-3622
count-3623
total-3623
count-3624
total-3624
count-3625
total-3625
count-3626
total-3626
row 8double_ele[4, 7]
row 9double_ele[1, 5]
count-3627
total-3627

count-3628
total-3628
count-3629
total-3629
count-3630
total-3630
count-3631
total-3631
count-3632
total-3632
count-3633
total-3633
row 9double_ele[1, 3]
count-3634
total-3634
count-3635
total-3635
count-3636
total-3636
count-3637
total-3637
count-3638
total-3638
count-3639
total-3639
count-3640
total-3640
count-3641
total-3641
count-3642
total-3642
count-3643
total-3643
count-3644
total-3644
count-3645
total-3645
row 4double_ele[3, 6]
count-3646
total-3646
row 3double_ele[1, 4]
count-3647
total-3647
count-3648
total-3648
count-3649
total-3649
count-3650
total-3650
count-3651
total-3651
count-3652
total-3652
count-3653
total-3653
count-3654
total-3654
count-3655
total-3655
row 5double_ele[1, 4]
count-3656
total-3656
row 8double_ele[2, 7]
count-3657
total-3657
count-3658
total-3658
count-3659
total-3659
count-3660
total-3660
row 1double_ele[3, 5]
count-3661
total-3661
count-3662
total-3662
count-3663
total-3663
column6 double_ele[5, 6]
row 8double_ele[2, 4]
count-3664
total-3664
row 8double_ele[2, 5]
count-3665
total-3665
row 5double_ele[4, 5]
column6 double_ele[4, 5]
count-3666
total-3666
count-3667
total-3667
count-3668
total-3668
row 4double_ele[3, 4]
column4 double_ele[3, 4]
box9 triple_ele[1, 3, 4]
count-3669
total-3669
count-3670
total-3670
count-3671
total-3671
count-3672
total-3672
count-3673
total-3673
count-3674
total-3674
count-3675
total-3675
count-3676
total-3676
count-3677
total-3677
count-3678
total-3678
count-3679
total-3679
column1 double_ele[1, 3]
column7 double_ele[2, 3]
count-3680
total-3680
count-3681
total-3681
count-3682
total-3682
count-3683
total-3683
row 3double_ele[1, 3]
row 4double_ele[2, 3]
count-3684
total-3684
count-3685
total-3685
count-3686
total-3686
count-3687
total-3687
count-3688
total-3688
count-3689
total-3689
row 3double_ele[2, 7]
column3 double_ele[2, 7]
column7 double_ele[2, 3]
count-3690
total-3690
count-3691
total-3691
count-3692
total-3692
count-3693
total-3693
count-3694
total-3694
count-3695
total-3695
count-3696
total-3696
count-3697
total-3697
count-3698
total-3698
count-3699
total-3699
count-3700
total-3700
count-3701
total-3701
count-3702
total-3702
count-3703
total-3703
count-3704
total-3704
count-3705
total-3705
column4 double_ele[1, 4]
row 9double_ele[1, 4]
count-3706
total-3706
row 3double_ele[3, 7]
count-3707
total-3707
count-3708
total-3708
row 6double_ele[5, 7]
count-3709
total-3709
count-3710
total-3710
row 8triple_ele[2, 4, 6]
count-3711
total-3711
count-3712
total-3712
count-3713
total-3713
count-3714
total-3714
count-3715
total-3715
count-3716
total-3716
count-3717
total-3717
count-3718
total-3718
count-3719
total-3719
count-3720
total-3720
count-3721
total-3721
count-3722
total-3722
count-3723
total-3723
count-3724
total-3724
row 1double_ele[2, 5]
count-3725
total-3725
count-3726
total-3726
count-3727
total-3727
count-3728
total-3728
count-3729
total-3729
count-3730
total-3730
count-3731
total-3731
count-3732
total-3732
count-3733
total-3733
row 6double_ele[4, 8]
column6 double_ele[4, 8]
count-3734
total-3734
count-3735
total-3735
count-3736
total-3736
count-3737
total-3737
count-3738
total-3738
count-3739
total-3739
count-3740
total-3740
row 2double_ele[6, 7]
row 4double_ele[1, 6]
column8 double_ele[6, 7]
count-3741
total-3741
count-3742
total-3742
count-3743
total-3743
column7 double_ele[5, 8]
count-3744
total-3744
count-3745
total-3745
count-3746
total-3746
count-3747
total-3747
count-3748
total-3748
column1 double_ele[1, 6]
count-3749
total-3749
count-3750
total-3750
count-3751
total-3751
count-3752
total-3752
count-3753
total-3753
count-3754
total-3754
count-3755
total-3755
count-3756
total-3756
count-3757
total-3757
row 1double_ele[2, 6]
column5 double_ele[2, 6]
count-3758
total-3758
count-3759
total-3759
count-3760
total-3760
count-3761
total-3761
count-3762
total-3762
count-3763
total-3763
count-3764
total-3764
row 2double_ele[1, 2]
column4 double_ele[1, 2]
column7 double_ele[1, 2]
count-3765
total-3765
count-3766
total-3766
count-3767
total-3767
column7 double_ele[4, 7]
count-3768
total-3768
count-3769
total-3769
count-3770
total-3770
count-3771
total-3771
count-3772
total-3772
count-3773
total-3773
count-3774
total-3774
count-3775
total-3775
count-3776
total-3776
count-3777
total-3777
count-3778
total-3778
count-3779
total-3779
count-3780
total-3780
count-3781
total-3781
row 8double_ele[3, 8]
count-3782
total-3782
count-3783
total-3783
column6 double_ele[2, 6]
column7 double_ele[2, 6]
row 8double_ele[2, 6]
row 9double_ele[2, 6]
count-3784
total-3784
count-3785
total-3785
count-3786
total-3786
count-3787
total-3787
count-3788
total-3788
count-3789
total-3789
count-3790
total-3790
column8 double_ele[5, 8]
row 7triple_ele[2, 4, 5]
box9 triple_ele[2, 4, 5]
count-3791
total-3791
row 8double_ele[2, 8]
count-3792
total-3792
count-3793
total-3793
count-3794
total-3794
count-3795
total-3795
count-3796
total-3796
count-3797
total-3797
count-3798
total-3798
count-3799
total-3799
count-3800
total-3800
count-3801
total-3801
count-3802
total-3802
row 8double_ele[2, 6]
count-3803
total-3803
count-3804
total-3804
count-3805
total-3805
count-3806
total-3806
count-3807
total-3807
count-3808
total-3808
count-3809
total-3809
count-3810
total-3810
row 9double_ele[4, 5]
count-3811
total-3811
count-3812
total-3812
count-3813
total-3813
count-3814
total-3814
count-3815
total-3815
count-3816
total-3816
count-3817
total-3817
row 1double_ele[2, 7]
row 6double_ele[2, 3]
row 7double_ele[4, 7]
count-3818
total-3818
count-3819
total-3819
count-3820
total-3820
count-3821
total-3821
count-3822
total-3822
count-3823
total-3823
count-3824
total-3824
column6 double_ele[4, 8]
count-3825
total-3825
count-3826
total-3826
count-3827
total-3827
count-3828
total-3828
count-3829
total-3829
count-3830
total-3830
row 6double_ele[1, 2]
count-3831
total-3831
count-3832
total-3832
column7 double_ele[2, 8]
count-3833
total-3833
row 6double_ele[3, 5]
count-3834
total-3834
count-3835
total-3835
count-3836
total-3836
count-3837
total-3837
count-3838
total-3838
count-3839
total-3839
column2 double_ele[2, 3]
count-3840
total-3840
count-3841
total-3841
count-3842
total-3842
row 9double_ele[3, 7]
count-3843
total-3843
column2 double_ele[1, 7]
count-3844
total-3844
count-3845
total-3845
count-3846
total-3846
count-3847
total-3847
count-3848
total-3848
count-3849
total-3849
count-3850
total-3850
count-3851
total-3851
count-3852
total-3852
count-3853
total-3853
count-3854
total-3854
count-3855
total-3855
count-3856
total-3856
count-3857
total-3857
count-3858
total-3858
count-3859
total-3859
count-3860
total-3860
count-3861
total-3861
row 2double_ele[5, 6]
count-3862
total-3862
count-3863
total-3863
count-3864
total-3864
count-3865
total-3865
count-3866
total-3866
count-3867
total-3867
count-3868
total-3868
count-3869
total-3869
count-3870
total-3870
count-3871
total-3871
count-3872
total-3872
count-3873
total-3873
row 7double_ele[1, 5]
count-3874
total-3874
count-3875
total-3875
count-3876
total-3876
count-3877
total-3877
count-3878
total-3878
count-3879
total-3879
count-3880
total-3880
column2 double_ele[4, 7]
row 5double_ele[4, 7]
count-3881
total-3881
count-3882
total-3882
count-3883
total-3883
count-3884
total-3884
count-3885
total-3885
row 3double_ele[1, 4]
count-3886
total-3886
count-3887
total-3887
count-3888
total-3888
count-3889
total-3889
count-3890
total-3890
row 3double_ele[5, 6]
row 4double_ele[1, 5]
count-3891
total-3891
count-3892
total-3892
count-3893
total-3893
column8 double_ele[1, 2]
count-3894
total-3894
row 7double_ele[3, 4]
count-3895
total-3895
count-3896
total-3896
count-3897
total-3897
count-3898
total-3898
count-3899
total-3899
count-3900
total-3900
count-3901
total-3901
row 1double_ele[4, 6]
count-3902
total-3902
count-3903
total-3903
count-3904
total-3904
count-3905
total-3905
count-3906
total-3906
count-3907
total-3907
count-3908
total-3908
count-3909
total-3909
count-3910
total-3910
count-3911
total-3911
count-3912
total-3912
count-3913
total-3913
count-3914
total-3914
count-3915
total-3915
count-3916
total-3916
count-3917
total-3917
count-3918
total-3918
count-3919
total-3919
count-3920
total-3920
count-3921
total-3921
count-3922
total-3922
count-3923
total-3923
count-3924
total-3924
count-3925
total-3925
count-3926
total-3926
count-3927
total-3927
count-3928
total-3928
count-3929
total-3929
row 5double_ele[1, 6]
count-3930
total-3930
count-3931
total-3931
row 8double_ele[3, 5]
count-3932
total-3932
count-3933
total-3933
count-3934
total-3934
count-3935
total-3935
count-3936
total-3936
row 7double_ele[3, 7]
count-3937
total-3937
count-3938
total-3938
count-3939
total-3939
row 2double_ele[2, 6]
column5 double_ele[2, 6]
count-3940
total-3940
count-3941
total-3941
count-3942
total-3942
count-3943
total-3943

row 7double_ele[1, 3]
column9 double_ele[1, 3]
count-3944
total-3944
count-3945
total-3945
count-3946
total-3946
count-3947
total-3947
count-3948
total-3948
count-3949
total-3949
count-3950
total-3950
count-3951
total-3951
count-3952
total-3952
count-3953
total-3953
count-3954
total-3954
count-3955
total-3955
count-3956
total-3956
count-3957
total-3957
count-3958
total-3958
count-3959
total-3959
column1 double_ele[1, 4]
row 7double_ele[1, 4]
count-3960
total-3960
count-3961
total-3961
count-3962
total-3962
count-3963
total-3963
count-3964
total-3964
count-3965
total-3965
count-3966
total-3966
count-3967
total-3967
count-3968
total-3968
count-3969
total-3969
count-3970
total-3970
count-3971
total-3971
count-3972
total-3972
count-3973
total-3973
column8 double_ele[1, 9]
count-3974
total-3974
column4 double_ele[1, 7]
count-3975
total-3975
count-3976
total-3976
count-3977
total-3977
count-3978
total-3978
count-3979
total-3979
count-3980
total-3980
column8 double_ele[1, 2]
count-3981
total-3981
count-3982
total-3982
count-3983
total-3983
count-3984
total-3984
count-3985
total-3985
count-3986
total-3986
count-3987
total-3987
count-3988
total-3988
count-3989
total-3989
column2 double_ele[1, 3]
count-3990
total-3990
count-3991
total-3991
column6 double_ele[3, 4]
count-3992
total-3992
count-3993
total-3993
count-3994
total-3994
count-3995
total-3995
count-3996
total-3996
count-3997
total-3997
count-3998
total-3998
count-3999
total-3999
count-4000
total-4000
count-4001
total-4001
count-4002
total-4002
count-4003
total-4003
count-4004
total-4004
count-4005
total-4005
column1 double_ele[3, 6]
column4 double_ele[2, 6]
column7 double_ele[1, 3]
row 9double_ele[2, 6]
column9 double_ele[1, 7]
count-4006
total-4006
count-4007
total-4007
count-4008
total-4008
count-4009
total-4009
count-4010
total-4010
count-4011
total-4011
count-4012
total-4012
count-4013
total-4013
count-4014
total-4014
count-4015
total-4015
count-4016
total-4016
count-4017
total-4017
count-4018
total-4018
count-4019
total-4019
count-4020
total-4020
row 8double_ele[1, 2]
column9 double_ele[1, 2]
count-4021
total-4021
count-4022
total-4022
column2 double_ele[1, 2]
count-4023
total-4023
count-4024
total-4024
count-4025
total-4025
count-4026
total-4026
count-4027
total-4027
count-4028
total-4028
row 1double_ele[2, 4]
count-4029
total-4029
count-4030
total-4030
count-4031
total-4031
row 7double_ele[2, 4]
row 9double_ele[2, 5]
column9 double_ele[2, 5]
count-4032
total-4032
count-4033
total-4033
count-4034
total-4034
count-4035
total-4035
count-4036
total-4036
count-4037
total-4037
count-4038
total-4038
count-4039
total-4039
count-4040
total-4040
count-4041
total-4041
count-4042
total-4042
count-4043
total-4043
count-4044
total-4044
count-4045
total-4045
count-4046
total-4046
count-4047
total-4047
count-4048
total-4048
count-4049
total-4049
row 7double_ele[1, 6]
count-4050
total-4050
count-4051
total-4051
count-4052
total-4052
count-4053
total-4053
count-4054
total-4054
count-4055
total-4055
count-4056
total-4056
count-4057
total-4057
count-4058
total-4058
count-4059
total-4059
count-4060
total-4060
column8 double_ele[2, 6]
count-4061
total-4061
count-4062
total-4062
row 3double_ele[3, 5]
count-4063
total-4063
count-4064
total-4064
count-4065
total-4065
count-4066
total-4066
count-4067
total-4067
count-4068
total-4068
count-4069
total-4069
count-4070
total-4070
count-4071
total-4071
count-4072
total-4072
count-4073
total-4073
count-4074
total-4074
count-4075
total-4075
count-4076
total-4076
count-4077
total-4077
count-4078
total-4078
count-4079
total-4079
count-4080
total-4080
row 3double_ele[1, 4]
count-4081
total-4081
row 1double_ele[1, 2]
column5 double_ele[1, 2]
count-4082
total-4082
count-4083
total-4083
count-4084
total-4084
count-4085
total-4085
count-4086
total-4086
count-4087
total-4087
count-4088
total-4088
count-4089
total-4089
count-4090
total-4090
count-4091
total-4091
count-4092
total-4092
count-4093
total-4093
count-4094
total-4094
count-4095
total-4095
count-4096
total-4096
count-4097
total-4097
count-4098
total-4098
count-4099
total-4099
row 3double_ele[2, 6]
column6 double_ele[2, 6]
row 7double_ele[3, 5]
column7 double_ele[2, 6]
count-4100
total-4100
count-4101
total-4101
count-4102
total-4102
row 4double_ele[3, 5]
column5 double_ele[3, 5]
column6 double_ele[3, 9]
column8 double_ele[5, 9]
count-4103
total-4103
count-4104
total-4104
count-4105
total-4105
count-4106
total-4106
count-4107
total-4107
count-4108
total-4108
count-4109
total-4109
count-4110
total-4110
count-4111
total-4111
count-4112
total-4112
count-4113
total-4113
count-4114
total-4114
count-4115
total-4115
count-4116
total-4116
count-4117
total-4117
count-4118
total-4118
count-4119
total-4119
count-4120
total-4120
count-4121
total-4121
count-4122
total-4122
count-4123
total-4123
count-4124
total-4124
count-4125
total-4125
count-4126
total-4126
column9 double_ele[2, 4]
count-4127
total-4127
row 8double_ele[2, 3]
count-4128
total-4128
count-4129
total-4129
count-4130
total-4130
column9 double_ele[5, 6]
count-4131
total-4131
count-4132
total-4132
count-4133
total-4133
count-4134
total-4134
count-4135
total-4135
count-4136
total-4136
count-4137
total-4137
count-4138
total-4138
count-4139
total-4139
count-4140
total-4140
count-4141
total-4141
count-4142
total-4142
count-4143
total-4143
count-4144
total-4144
count-4145
total-4145
count-4146
total-4146
column2 double_ele[2, 3]
row 5double_ele[2, 3]
count-4147
total-4147
count-4148
total-4148
count-4149
total-4149
count-4150
total-4150
count-4151
total-4151
row 1double_ele[1, 3]
column5 double_ele[3, 6]
count-4152
total-4152
count-4153
total-4153
column1 double_ele[3, 4]
column9 double_ele[2, 4]
count-4154
total-4154
count-4155
total-4155
row 8double_ele[7, 9]
column8 double_ele[7, 9]
count-4156
total-4156
column3 double_ele[6, 7]
row 7double_ele[6, 7]
box6 triple_ele[2, 6, 7]
count-4157
total-4157
count-4158
total-4158
count-4159
total-4159
count-4160
total-4160
count-4161
total-4161
count-4162
total-4162
count-4163
total-4163
count-4164
total-4164
count-4165
total-4165
column1 double_ele[3, 4]
count-4166
total-4166
count-4167
total-4167
count-4168
total-4168
count-4169
total-4169
count-4170
total-4170
row 1double_ele[5, 6]
count-4171
total-4171
count-4172
total-4172
count-4173
total-4173
count-4174
total-4174
count-4175
total-4175
count-4176
total-4176
count-4177
total-4177
column6 double_ele[2, 5]
count-4178
total-4178
count-4179
total-4179
count-4180
total-4180
column1 double_ele[3, 5]
column5 double_ele[3, 5]
row 7double_ele[3, 5]
row 8double_ele[3, 5]
count-4181
total-4181
count-4182
total-4182
count-4183
total-4183
count-4184
total-4184
count-4185
total-4185
count-4186
total-4186
count-4187
total-4187
count-4188
total-4188
count-4189
total-4189
column2 double_ele[2, 4]
count-4190
total-4190
count-4191
total-4191
count-4192
total-4192
count-4193
total-4193
row 9double_ele[2, 7]
count-4194
total-4194
count-4195
total-4195
count-4196
total-4196
column1 double_ele[2, 8]
row 4double_ele[2, 8]
count-4197
total-4197
count-4198
total-4198
count-4199
total-4199
count-4200
total-4200
count-4201
total-4201
count-4202
total-4202
count-4203
total-4203
column6 double_ele[6, 7]
count-4204
total-4204
row 3double_ele[1, 3]
count-4205
total-4205
count-4206
total-4206
count-4207
total-4207
count-4208
total-4208
count-4209
total-4209
count-4210
total-4210
count-4211
total-4211
column2 double_ele[1, 3]
row 8double_ele[2, 6]
count-4212
total-4212
count-4213
total-4213
count-4214
total-4214
count-4215
total-4215
column2 double_ele[2, 4]
count-4216
total-4216
count-4217
total-4217
count-4218
total-4218
count-4219
total-4219
count-4220
total-4220
count-4221
total-4221
count-4222
total-4222
row 6double_ele[3, 5]
count-4223
total-4223
count-4224
total-4224
count-4225
total-4225
count-4226
total-4226
count-4227
total-4227
count-4228
total-4228
count-4229
total-4229
count-4230
total-4230
count-4231
total-4231
count-4232
total-4232
count-4233
total-4233
count-4234
total-4234
count-4235
total-4235
count-4236
total-4236
count-4237
total-4237
count-4238
total-4238
count-4239
total-4239
count-4240
total-4240
count-4241
total-4241
count-4242
total-4242
count-4243
total-4243
count-4244
total-4244
count-4245
total-4245
count-4246
total-4246
count-4247
total-4247

count-4248
total-4248
count-4249
total-4249
count-4250
total-4250
column2 double_ele[5, 7]
row 6double_ele[5, 7]
count-4251
total-4251
count-4252
total-4252
count-4253
total-4253
row 8double_ele[1, 2]
count-4254
total-4254
count-4255
total-4255
count-4256
total-4256
count-4257
total-4257
count-4258
total-4258
count-4259
total-4259
count-4260
total-4260
count-4261
total-4261
count-4262
total-4262
count-4263
total-4263
count-4264
total-4264
count-4265
total-4265
count-4266
total-4266
count-4267
total-4267
count-4268
total-4268
count-4269
total-4269
row 3double_ele[2, 4]
column7 double_ele[3, 6]
count-4270
total-4270
count-4271
total-4271
row 8double_ele[2, 3]
count-4272
total-4272
count-4273
total-4273
count-4274
total-4274
count-4275
total-4275
count-4276
total-4276
count-4277
total-4277
count-4278
total-4278
count-4279
total-4279
column4 double_ele[1, 2]
count-4280
total-4280
count-4281
total-4281
count-4282
total-4282
count-4283
total-4283
count-4284
total-4284
count-4285
total-4285
count-4286
total-4286
count-4287
total-4287
count-4288
total-4288
count-4289
total-4289
count-4290
total-4290
count-4291
total-4291
count-4292
total-4292
count-4293
total-4293
count-4294
total-4294
count-4295
total-4295
count-4296
total-4296
count-4297
total-4297
count-4298
total-4298
row 7double_ele[3, 5]
count-4299
total-4299
column9 double_ele[1, 2]
count-4300
total-4300
count-4301
total-4301
count-4302
total-4302
column8 double_ele[2, 8]
count-4303
total-4303
count-4304
total-4304
count-4305
total-4305
count-4306
total-4306
count-4307
total-4307
count-4308
total-4308
row 3double_ele[3, 4]
count-4309
total-4309
count-4310
total-4310
count-4311
total-4311
count-4312
total-4312
row 7double_ele[4, 5]
count-4313
total-4313
count-4314
total-4314
count-4315
total-4315
count-4316
total-4316
count-4317
total-4317
column3 double_ele[4, 8]
column6 double_ele[4, 7]
count-4318
total-4318
count-4319
total-4319
count-4320
total-4320
count-4321
total-4321
row 1double_ele[2, 7]
count-4322
total-4322
count-4323
total-4323
count-4324
total-4324
count-4325
total-4325
count-4326
total-4326
box6 triple_ele[2, 5, 6]
count-4327
total-4327
count-4328
total-4328
count-4329
total-4329
count-4330
total-4330
count-4331
total-4331
count-4332
total-4332
count-4333
total-4333
count-4334
total-4334
count-4335
total-4335
count-4336
total-4336
count-4337
total-4337
count-4338
total-4338
count-4339
total-4339
count-4340
total-4340
count-4341
total-4341
count-4342
total-4342
count-4343
total-4343
column4 double_ele[2, 3]
count-4344
total-4344
count-4345
total-4345
count-4346
total-4346
count-4347
total-4347
count-4348
total-4348
count-4349
total-4349
count-4350
total-4350
count-4351
total-4351
count-4352
total-4352
count-4353
total-4353
count-4354
total-4354
count-4355
total-4355
count-4356
total-4356
count-4357
total-4357
count-4358
total-4358
count-4359
total-4359
count-4360
total-4360
count-4361
total-4361
count-4362
total-4362
count-4363
total-4363
count-4364
total-4364
count-4365
total-4365
count-4366
total-4366
column2 double_ele[1, 2]
row 6double_ele[1, 2]
column7 double_ele[1, 2]
count-4367
total-4367
count-4368
total-4368
count-4369
total-4369
count-4370
total-4370
count-4371
total-4371
count-4372
total-4372
count-4373
total-4373
row 5double_ele[5, 6]
count-4374
total-4374
count-4375
total-4375
count-4376
total-4376
count-4377
total-4377
count-4378
total-4378
count-4379
total-4379
count-4380
total-4380
count-4381
total-4381
count-4382
total-4382
column4 double_ele[4, 5]
count-4383
total-4383
count-4384
total-4384
count-4385
total-4385
count-4386
total-4386
count-4387
total-4387
count-4388
total-4388
count-4389
total-4389
count-4390
total-4390
count-4391
total-4391
count-4392
total-4392
count-4393
total-4393
count-4394
total-4394
count-4395
total-4395
count-4396
total-4396
count-4397
total-4397
count-4398
total-4398
row 6double_ele[1, 4]
count-4399
total-4399
count-4400
total-4400
row 5double_ele[5, 7]
count-4401
total-4401
count-4402
total-4402
count-4403
total-4403
count-4404
total-4404
count-4405
total-4405
column8 double_ele[1, 5]
count-4406
total-4406
count-4407
total-4407
count-4408
total-4408
count-4409
total-4409
count-4410
total-4410
count-4411
total-4411
count-4412
total-4412
count-4413
total-4413
count-4414
total-4414
row 2double_ele[3, 4]
column6 double_ele[3, 4]
count-4415
total-4415
count-4416
total-4416
column6 double_ele[3, 4]
count-4417
total-4417
column5 double_ele[1, 2]
count-4418
total-4418
count-4419
total-4419
count-4420
total-4420
count-4421
total-4421
count-4422
total-4422
count-4423
total-4423
count-4424
total-4424
column1 double_ele[3, 5]
row 5double_ele[3, 5]
row 7double_ele[3, 5]
count-4425
total-4425
count-4426
total-4426
count-4427
total-4427
count-4428
total-4428
count-4429
total-4429
count-4430
total-4430
count-4431
total-4431
count-4432
total-4432
count-4433
total-4433
count-4434
total-4434
count-4435
total-4435
count-4436
total-4436
count-4437
total-4437
count-4438
total-4438
count-4439
total-4439
count-4440
total-4440
count-4441
total-4441
count-4442
total-4442
column4 double_ele[3, 6]
count-4443
total-4443
count-4444
total-4444
row 3double_ele[1, 2]
count-4445
total-4445
count-4446
total-4446
count-4447
total-4447
count-4448
total-4448
count-4449
total-4449
count-4450
total-4450
count-4451
total-4451
count-4452
total-4452
count-4453
total-4453
count-4454
total-4454
count-4455
total-4455
count-4456
total-4456
count-4457
total-4457
count-4458
total-4458
count-4459
total-4459
count-4460
total-4460
count-4461
total-4461
count-4462
total-4462
count-4463
total-4463
count-4464
total-4464
count-4465
total-4465
count-4466
total-4466
count-4467
total-4467
count-4468
total-4468
count-4469
total-4469
count-4470
total-4470
count-4471
total-4471
count-4472
total-4472
column1 double_ele[2, 8]
count-4473
total-4473
count-4474
total-4474
count-4475
total-4475
row 2double_ele[1, 4]
count-4476
total-4476
count-4477
total-4477
count-4478
total-4478
count-4479
total-4479
column5 double_ele[1, 7]
count-4480
total-4480
count-4481
total-4481
count-4482
total-4482
column7 double_ele[2, 4]
count-4483
total-4483
count-4484
total-4484
count-4485
total-4485
count-4486
total-4486
count-4487
total-4487
column5 double_ele[2, 4]
count-4488
total-4488
count-4489
total-4489
count-4490
total-4490
count-4491
total-4491
count-4492
total-4492
count-4493
total-4493
column3 double_ele[2, 5]
count-4494
total-4494
count-4495
total-4495
count-4496
total-4496
count-4497
total-4497
count-4498
total-4498
count-4499
total-4499
count-4500
total-4500
count-4501
total-4501
count-4502
total-4502
count-4503
total-4503
count-4504
total-4504
row 1double_ele[1, 3]
count-4505
total-4505
count-4506
total-4506
count-4507
total-4507
count-4508
total-4508
count-4509
total-4509
count-4510
total-4510
count-4511
total-4511
count-4512
total-4512
count-4513
total-4513
count-4514
total-4514
count-4515
total-4515
count-4516
total-4516
count-4517
total-4517
column6 double_ele[2, 5]
row 6triple_ele[2, 4, 5]
box6 triple_ele[2, 4, 5]
count-4518
total-4518
count-4519
total-4519
count-4520
total-4520
count-4521
total-4521
count-4522
total-4522
count-4523
total-4523
row 4double_ele[5, 6]
count-4524
total-4524
count-4525
total-4525
row 9double_ele[1, 3]
count-4526
total-4526
count-4527
total-4527
count-4528
total-4528
count-4529
total-4529
count-4530
total-4530
count-4531
total-4531
count-4532
total-4532
count-4533
total-4533
count-4534
total-4534
column5 double_ele[2, 8]
count-4535
total-4535
count-4536
total-4536
count-4537
total-4537
count-4538
total-4538
count-4539
total-4539
column8 double_ele[1, 8]
count-4540
total-4540
count-4541
total-4541
row 4double_ele[1, 2]
count-4542
total-4542
count-4543
total-4543
count-4544
total-4544
count-4545
total-4545
count-4546
total-4546
count-4547
total-4547
count-4548
total-4548
count-4549
total-4549
count-4550
total-4550
count-4551
total-4551
count-4552
total-4552
column1 double_ele[4, 5]
row 8double_ele[4, 5]
count-4553
total-4553
column2 double_ele[1, 2]
row 5double_ele[1, 2]
count-4554
total-4554
row 1double_ele[2, 4]
count-4555
total-4555
count-4556
total-4556
count-4557
total-4557
count-4558
total-4558
count-4559
total-4559
count-4560
total-4560
column3 double_ele[2, 5]
row 4double_ele[2, 5]
count-4561
total-4561
count-4562
total-4562
count-4563
total-4563
row 6double_ele[4, 5]
column8 double_ele[4, 5]
count-4564
total-4564
count-4565
total-4565
count-4566
total-4566
count-4567
total-4567
count-4568
total-4568

count-4569
total-4569
count-4570
total-4570
count-4571
total-4571
count-4572
total-4572
count-4573
total-4573
count-4574
total-4574
count-4575
total-4575
count-4576
total-4576
count-4577
total-4577
count-4578
total-4578
count-4579
total-4579
count-4580
total-4580
count-4581
total-4581
count-4582
total-4582
count-4583
total-4583
column7 double_ele[3, 5]
count-4584
total-4584
count-4585
total-4585
count-4586
total-4586
row 1double_ele[4, 5]
count-4587
total-4587
column6 double_ele[2, 6]
count-4588
total-4588
count-4589
total-4589
count-4590
total-4590
count-4591
total-4591
count-4592
total-4592
count-4593
total-4593
count-4594
total-4594
count-4595
total-4595
count-4596
total-4596
count-4597
total-4597
count-4598
total-4598
count-4599
total-4599
count-4600
total-4600
count-4601
total-4601
count-4602
total-4602
row 2double_ele[2, 7]
count-4603
total-4603
count-4604
total-4604
count-4605
total-4605
count-4606
total-4606
count-4607
total-4607
count-4608
total-4608
count-4609
total-4609
count-4610
total-4610
count-4611
total-4611
row 2triple_ele[1, 2, 5]
box3 triple_ele[1, 2, 5]
count-4612
total-4612
count-4613
total-4613
count-4614
total-4614
count-4615
total-4615
count-4616
total-4616
count-4617
total-4617
row 2double_ele[3, 4]
count-4618
total-4618
count-4619
total-4619
count-4620
total-4620
count-4621
total-4621
count-4622
total-4622
count-4623
total-4623
count-4624
total-4624
count-4625
total-4625
count-4626
total-4626
count-4627
total-4627
count-4628
total-4628
count-4629
total-4629
count-4630
total-4630
count-4631
total-4631
count-4632
total-4632
count-4633
total-4633
column1 double_ele[2, 3]
row 8double_ele[2, 3]
column8 double_ele[2, 3]
count-4634
total-4634
count-4635
total-4635
count-4636
total-4636
count-4637
total-4637
count-4638
total-4638
count-4639
total-4639
count-4640
total-4640
count-4641
total-4641
row 1double_ele[1, 5]
count-4642
total-4642
count-4643
total-4643
count-4644
total-4644
row 1double_ele[3, 5]
count-4645
total-4645
count-4646
total-4646
count-4647
total-4647
count-4648
total-4648
count-4649
total-4649
count-4650
total-4650
count-4651
total-4651
row 9double_ele[4, 5]
count-4652
total-4652
count-4653
total-4653
count-4654
total-4654
count-4655
total-4655
column1 double_ele[2, 4]
count-4656
total-4656
count-4657
total-4657
count-4658
total-4658
count-4659
total-4659
count-4660
total-4660
count-4661
total-4661
count-4662
total-4662
count-4663
total-4663
count-4664
total-4664
count-4665
total-4665
column7 double_ele[1, 3]
count-4666
total-4666
count-4667
total-4667
count-4668
total-4668
count-4669
total-4669
count-4670
total-4670
count-4671
total-4671
count-4672
total-4672
count-4673
total-4673
count-4674
total-4674
count-4675
total-4675
count-4676
total-4676
count-4677
total-4677
count-4678
total-4678
count-4679
total-4679
count-4680
total-4680
count-4681
total-4681
count-4682
total-4682
count-4683
total-4683
row 4double_ele[1, 2]
count-4684
total-4684
count-4685
total-4685
row 3double_ele[5, 6]
row 8double_ele[1, 6]
count-4686
total-4686
count-4687
total-4687
count-4688
total-4688
count-4689
total-4689
count-4690
total-4690
count-4691
total-4691
count-4692
total-4692
count-4693
total-4693
count-4694
total-4694
count-4695
total-4695
count-4696
total-4696
count-4697
total-4697
count-4698
total-4698
count-4699
total-4699
count-4700
total-4700
count-4701
total-4701
count-4702
total-4702
count-4703
total-4703
count-4704
total-4704
count-4705
total-4705
count-4706
total-4706
count-4707
total-4707
count-4708
total-4708
count-4709
total-4709
count-4710
total-4710
count-4711
total-4711
count-4712
total-4712
count-4713
total-4713
count-4714
total-4714
count-4715
total-4715
count-4716
total-4716
count-4717
total-4717
count-4718
total-4718
count-4719
total-4719
count-4720
total-4720
count-4721
total-4721
count-4722
total-4722
count-4723
total-4723
count-4724
total-4724
count-4725
total-4725
row 3double_ele[3, 5]
column3 double_ele[3, 5]
column7 double_ele[3, 5]
count-4726
total-4726
count-4727
total-4727
count-4728
total-4728
count-4729
total-4729
count-4730
total-4730
column3 double_ele[1, 4]
count-4731
total-4731
count-4732
total-4732
count-4733
total-4733
count-4734
total-4734
count-4735
total-4735
count-4736
total-4736
count-4737
total-4737
count-4738
total-4738
count-4739
total-4739
count-4740
total-4740
count-4741
total-4741
count-4742
total-4742
row 2double_ele[2, 8]
column6 double_ele[2, 8]
count-4743
total-4743
count-4744
total-4744
count-4745
total-4745
count-4746
total-4746
count-4747
total-4747
count-4748
total-4748
count-4749
total-4749
count-4750
total-4750
count-4751
total-4751
count-4752
total-4752
column1 double_ele[1, 4]
count-4753
total-4753
count-4754
total-4754
count-4755
total-4755
count-4756
total-4756
count-4757
total-4757
count-4758
total-4758
count-4759
total-4759
count-4760
total-4760
count-4761
total-4761
count-4762
total-4762
count-4763
total-4763
count-4764
total-4764
count-4765
total-4765
count-4766
total-4766
count-4767
total-4767
count-4768
total-4768
row 4double_ele[1, 7]
row 5double_ele[1, 4]
column5 double_ele[1, 7]
count-4769
total-4769
count-4770
total-4770
count-4771
total-4771
count-4772
total-4772
count-4773
total-4773
count-4774
total-4774
row 9double_ele[2, 5]
count-4775
total-4775
row 5double_ele[4, 8]
column7 double_ele[4, 8]
count-4776
total-4776
count-4777
total-4777
count-4778
total-4778
count-4779
total-4779
count-4780
total-4780
count-4781
total-4781
count-4782
total-4782
count-4783
total-4783
count-4784
total-4784
count-4785
total-4785
count-4786
total-4786
row 7double_ele[1, 4]
count-4787
total-4787
count-4788
total-4788
column7 double_ele[5, 6]
count-4789
total-4789
count-4790
total-4790
count-4791
total-4791
count-4792
total-4792
count-4793
total-4793
count-4794
total-4794
count-4795
total-4795
count-4796
total-4796
count-4797
total-4797
count-4798
total-4798
count-4799
total-4799
count-4800
total-4800
count-4801
total-4801
count-4802
total-4802
row 5double_ele[3, 5]
count-4803
total-4803
count-4804
total-4804
count-4805
total-4805
row 8double_ele[2, 8]
count-4806
total-4806
count-4807
total-4807
column1 double_ele[1, 4]
row 8double_ele[1, 4]
count-4808
total-4808
count-4809
total-4809
count-4810
total-4810
count-4811
total-4811
column1 double_ele[1, 4]
count-4812
total-4812
row 5double_ele[1, 4]
count-4813
total-4813
count-4814
total-4814
count-4815
total-4815
count-4816
total-4816
count-4817
total-4817
count-4818
total-4818
row 5double_ele[3, 4]
column6 double_ele[3, 4]
column7 double_ele[2, 3]
count-4819
total-4819
count-4820
total-4820
count-4821
total-4821
count-4822
total-4822
count-4823
total-4823
row 2double_ele[2, 6]
row 3double_ele[1, 2]
row 8double_ele[1, 5]
count-4824
total-4824
count-4825
total-4825
count-4826
total-4826
count-4827
total-4827
count-4828
total-4828
count-4829
total-4829
count-4830
total-4830
count-4831
total-4831
row 8double_ele[2, 6]
count-4832
total-4832
count-4833
total-4833
count-4834
total-4834
count-4835
total-4835
row 8double_ele[2, 5]
count-4836
total-4836
count-4837
total-4837
count-4838
total-4838
count-4839
total-4839
column1 double_ele[4, 7]
row 5double_ele[4, 7]
count-4840
total-4840
count-4841
total-4841
count-4842
total-4842
count-4843
total-4843
count-4844
total-4844
count-4845
total-4845
row 1double_ele[1, 4]
count-4846
total-4846
count-4847
total-4847
count-4848
total-4848
count-4849
total-4849
count-4850
total-4850
count-4851
total-4851
column3 double_ele[2, 3]
row 8double_ele[2, 3]
count-4852
total-4852
count-4853
total-4853
count-4854
total-4854
count-4855
total-4855
count-4856
total-4856
row 8double_ele[2, 3]
count-4857
total-4857
column3 double_ele[3, 9]
column6 double_ele[1, 9]
count-4858
total-4858
count-4859
total-4859
count-4860
total-4860
count-4861
total-4861
column6 double_ele[1, 6]
count-4862
total-4862
count-4863
total-4863
count-4864
total-4864
column2 double_ele[2, 5]
count-4865
total-4865
count-4866
total-4866
count-4867
total-4867
count-4868
total-4868
count-4869
total-4869
count-4870
total-4870
count-4871
total-4871
count-4872
total-4872
count-4873
total-4873
count-4874
total-4874
count-4875
total-4875
count-4876
total-4876
count-4877
total-4877
count-4878
total-4878
count-4879
total-4879
count-4880
total-4880
row 1double_ele[1, 2]
count-4881
total-4881
count-4882
total-4882
count-4883
total-4883
column9 double_ele[1, 5]
count-4884
total-4884
count-4885
total-4885
count-4886
total-4886
count-4887
total-4887
count-4888
total-4888
count-4889
total-4889
count-4890
total-4890
count-4891
total-4891
row 3double_ele[1, 4]
count-4892
total-4892
count-4893
total-4893
column3 double_ele[1, 3]
row 7double_ele[1, 5]
count-4894
total-4894
count-4895
total-4895
column2 double_ele[1, 4]
count-4896
total-4896
row 9double_ele[3, 4]
count-4897
total-4897

count-4898
total-4898
count-4899
total-4899
count-4900
total-4900
count-4901
total-4901
count-4902
total-4902
column3 double_ele[1, 2]
count-4903
total-4903
count-4904
total-4904
row 4double_ele[1, 2]
column6 double_ele[1, 4]
column8 double_ele[1, 2]
count-4905
total-4905
row 3double_ele[1, 5]
count-4906
total-4906
count-4907
total-4907
count-4908
total-4908
count-4909
total-4909
count-4910
total-4910
count-4911
total-4911
count-4912
total-4912
count-4913
total-4913
count-4914
total-4914
count-4915
total-4915
count-4916
total-4916
count-4917
total-4917
count-4918
total-4918
count-4919
total-4919
count-4920
total-4920
count-4921
total-4921
count-4922
total-4922
count-4923
total-4923
count-4924
total-4924
count-4925
total-4925
count-4926
total-4926
count-4927
total-4927
count-4928
total-4928
column2 double_ele[2, 3]
column5 double_ele[2, 7]
column7 double_ele[2, 8]
count-4929
total-4929
count-4930
total-4930
count-4931
total-4931
count-4932
total-4932
count-4933
total-4933
count-4934
total-4934
count-4935
total-4935
count-4936
total-4936
count-4937
total-4937
count-4938
total-4938
count-4939
total-4939
count-4940
total-4940
count-4941
total-4941
count-4942
total-4942
count-4943
total-4943
count-4944
total-4944
count-4945
total-4945
count-4946
total-4946
row 1double_ele[1, 3]
count-4947
total-4947
count-4948
total-4948
count-4949
total-4949
count-4950
total-4950
count-4951
total-4951
count-4952
total-4952
count-4953
total-4953
count-4954
total-4954
count-4955
total-4955
count-4956
total-4956
count-4957
total-4957
count-4958
total-4958
count-4959
total-4959
count-4960
total-4960
count-4961
total-4961
column2 double_ele[1, 7]
count-4962
total-4962
count-4963
total-4963
column2 double_ele[2, 8]
column3 double_ele[6, 7]
row 4double_ele[6, 7]
column8 double_ele[1, 3]
row 9double_ele[2, 7]
count-4964
total-4964
count-4965
total-4965
count-4966
total-4966
count-4967
total-4967
count-4968
total-4968
count-4969
total-4969
count-4970
total-4970
count-4971
total-4971
count-4972
total-4972
count-4973
total-4973
count-4974
total-4974
row 9double_ele[4, 5]
count-4975
total-4975
count-4976
total-4976
count-4977
total-4977
count-4978
total-4978
count-4979
total-4979
column5 double_ele[1, 5]
row 7double_ele[1, 2]
column9 double_ele[1, 2]
count-4980
total-4980
row 7double_ele[1, 8]
column7 double_ele[1, 8]
count-4981
total-4981
row 3double_ele[4, 5]
row 7double_ele[2, 4]
count-4982
total-4982
row 6double_ele[2, 3]
count-4983
total-4983
count-4984
total-4984
count-4985
total-4985
row 3double_ele[1, 4]
column7 double_ele[1, 4]
count-4986
total-4986
count-4987
total-4987
count-4988
total-4988
count-4989
total-4989
count-4990
total-4990
count-4991
total-4991
row 9double_ele[3, 5]
count-4992
total-4992
row 8double_ele[3, 7]
count-4993
total-4993
count-4994
total-4994
count-4995
total-4995
count-4996
total-4996
count-4997
total-4997
count-4998
total-4998
count-4999
total-4999
row 9double_ele[1, 7]
count-5000
total-5000
count-5001
total-5001
count-5002
total-5002
count-5003
total-5003
count-5004
total-5004
count-5005
total-5005
row 4double_ele[2, 7]
count-5006
total-5006
count-5007
total-5007
count-5008
total-5008
count-5009
total-5009
count-5010
total-5010
count-5011
total-5011
count-5012
total-5012
column4 double_ele[2, 4]
row 7double_ele[2, 4]
count-5013
total-5013
column7 double_ele[1, 7]
count-5014
total-5014
count-5015
total-5015
count-5016
total-5016
count-5017
total-5017
count-5018
total-5018
count-5019
total-5019
count-5020
total-5020
count-5021
total-5021
count-5022
total-5022
count-5023
total-5023
count-5024
total-5024
count-5025
total-5025
count-5026
total-5026
count-5027
total-5027
column3 double_ele[1, 3]
count-5028
total-5028
count-5029
total-5029
count-5030
total-5030
count-5031
total-5031
row 4double_ele[4, 5]
count-5032
total-5032
count-5033
total-5033
count-5034
total-5034
count-5035
total-5035
column1 double_ele[2, 7]
column2 double_ele[3, 4]
count-5036
total-5036
count-5037
total-5037
column3 double_ele[4, 5]
count-5038
total-5038
count-5039
total-5039
count-5040
total-5040
count-5041
total-5041
count-5042
total-5042
count-5043
total-5043
count-5044
total-5044
count-5045
total-5045
count-5046
total-5046
column6 double_ele[1, 4]
count-5047
total-5047
count-5048
total-5048
row 4double_ele[2, 5]
column8 double_ele[5, 8]
count-5049
total-5049
column2 double_ele[2, 3]
count-5050
total-5050
box6 triple_ele[1, 3, 4]
count-5051
total-5051
count-5052
total-5052
count-5053
total-5053
count-5054
total-5054
count-5055
total-5055
count-5056
total-5056
count-5057
total-5057
count-5058
total-5058
count-5059
total-5059
count-5060
total-5060
row 7double_ele[3, 6]
column8 double_ele[3, 6]
count-5061
total-5061
count-5062
total-5062
count-5063
total-5063
count-5064
total-5064
count-5065
total-5065
count-5066
total-5066
count-5067
total-5067
count-5068
total-5068
count-5069
total-5069
count-5070
total-5070
count-5071
total-5071
count-5072
total-5072
count-5073
total-5073
count-5074
total-5074
count-5075
total-5075
count-5076
total-5076
count-5077
total-5077
count-5078
total-5078
count-5079
total-5079
count-5080
total-5080
count-5081
total-5081
count-5082
total-5082
count-5083
total-5083
count-5084
total-5084
count-5085
total-5085
count-5086
total-5086
count-5087
total-5087
row 4double_ele[4, 7]
row 7double_ele[4, 5]
row 9double_ele[5, 7]
count-5088
total-5088
count-5089
total-5089
count-5090
total-5090
count-5091
total-5091
count-5092
total-5092
count-5093
total-5093
count-5094
total-5094
row 2double_ele[1, 5]
row 5double_ele[4, 5]
count-5095
total-5095
count-5096
total-5096
count-5097
total-5097
count-5098
total-5098
column1 double_ele[4, 5]
row 4double_ele[4, 5]
row 5triple_ele[1, 4, 5]
box6 triple_ele[1, 4, 5]
count-5099
total-5099
count-5100
total-5100
count-5101
total-5101
count-5102
total-5102
count-5103
total-5103
count-5104
total-5104
count-5105
total-5105
count-5106
total-5106
count-5107
total-5107
count-5108
total-5108
row 6double_ele[2, 3]
count-5109
total-5109
count-5110
total-5110
row 4double_ele[4, 5]
count-5111
total-5111
count-5112
total-5112
count-5113
total-5113
count-5114
total-5114
count-5115
total-5115
count-5116
total-5116
count-5117
total-5117
count-5118
total-5118
row 8double_ele[1, 4]
count-5119
total-5119
count-5120
total-5120
count-5121
total-5121
count-5122
total-5122
count-5123
total-5123
count-5124
total-5124
count-5125
total-5125
count-5126
total-5126
count-5127
total-5127
count-5128
total-5128
count-5129
total-5129
column3 double_ele[4, 6]
row 7double_ele[4, 6]
count-5130
total-5130
count-5131
total-5131
count-5132
total-5132
count-5133
total-5133
row 1double_ele[3, 4]
row 5double_ele[3, 4]
column6 double_ele[3, 4]
count-5134
total-5134
count-5135
total-5135
count-5136
total-5136
count-5137
total-5137
count-5138
total-5138
count-5139
total-5139
count-5140
total-5140
count-5141
total-5141
count-5142
total-5142
count-5143
total-5143
column8 double_ele[2, 6]
count-5144
total-5144
count-5145
total-5145
column2 double_ele[2, 4]
count-5146
total-5146
row 1double_ele[1, 2]
count-5147
total-5147
count-5148
total-5148
count-5149
total-5149
count-5150
total-5150
count-5151
total-5151
count-5152
total-5152
count-5153
total-5153
count-5154
total-5154
count-5155
total-5155
count-5156
total-5156
count-5157
total-5157
count-5158
total-5158
count-5159
total-5159
count-5160
total-5160
count-5161
total-5161
count-5162
total-5162
count-5163
total-5163
count-5164
total-5164
count-5165
total-5165
count-5166
total-5166
count-5167
total-5167
row 5double_ele[1, 5]
column5 double_ele[1, 3]
count-5168
total-5168
row 7double_ele[1, 3]
count-5169
total-5169
count-5170
total-5170
count-5171
total-5171
count-5172
total-5172
count-5173
total-5173
count-5174
total-5174
count-5175
total-5175
count-5176
total-5176
count-5177
total-5177
count-5178
total-5178
count-5179
total-5179
count-5180
total-5180
count-5181
total-5181
count-5182
total-5182
count-5183
total-5183
count-5184
total-5184
count-5185
total-5185
count-5186
total-5186
count-5187
total-5187
count-5188
total-5188
count-5189
total-5189
count-5190
total-5190
count-5191
total-5191
count-5192
total-5192
column2 double_ele[1, 4]
count-5193
total-5193
row 3double_ele[2, 4]
column9 double_ele[2, 4]
count-5194
total-5194
count-5195
total-5195
count-5196
total-5196
count-5197
total-5197
count-5198
total-5198
count-5199
total-5199
count-5200
total-5200
count-5201
total-5201
count-5202
total-5202
row 6double_ele[2, 5]
column6 double_ele[1, 2]
count-5203
total-5203
count-5204
total-5204
count-5205
total-5205
count-5206
total-5206
count-5207
total-5207
column1 double_ele[1, 3]
column6 double_ele[3, 5]
column8 double_ele[3, 5]
count-5208
total-5208
column7 double_ele[1, 2]
count-5209
total-5209
count-5210
total-5210

count-5211
total-5211
count-5212
total-5212
count-5213
total-5213
row 2double_ele[4, 6]
column6 double_ele[4, 6]
count-5214
total-5214
count-5215
total-5215
count-5216
total-5216
count-5217
total-5217
count-5218
total-5218
count-5219
total-5219
count-5220
total-5220
count-5221
total-5221
count-5222
total-5222
count-5223
total-5223
count-5224
total-5224
row 2double_ele[1, 3]
column2 double_ele[1, 2]
row 5double_ele[1, 2]
column5 double_ele[1, 2]
row 6double_ele[1, 2]
count-5225
total-5225
column3 double_ele[2, 5]
column7 double_ele[1, 2]
row 9double_ele[1, 2]
count-5226
total-5226
count-5227
total-5227
count-5228
total-5228
count-5229
total-5229
row 9double_ele[2, 4]
count-5230
total-5230
row 9double_ele[3, 5]
count-5231
total-5231
count-5232
total-5232
count-5233
total-5233
column5 double_ele[1, 3]
row 7double_ele[1, 3]
count-5234
total-5234
count-5235
total-5235
count-5236
total-5236
count-5237
total-5237
count-5238
total-5238
count-5239
total-5239
count-5240
total-5240
count-5241
total-5241
count-5242
total-5242
column7 double_ele[1, 2]
row 8double_ele[1, 2]
count-5243
total-5243
count-5244
total-5244
column5 double_ele[2, 3]
count-5245
total-5245
count-5246
total-5246
count-5247
total-5247
count-5248
total-5248
count-5249
total-5249
count-5250
total-5250
count-5251
total-5251
count-5252
total-5252
count-5253
total-5253
count-5254
total-5254
count-5255
total-5255
count-5256
total-5256
count-5257
total-5257
count-5258
total-5258
row 7double_ele[1, 4]
count-5259
total-5259
count-5260
total-5260
count-5261
total-5261
count-5262
total-5262
count-5263
total-5263
count-5264
total-5264
row 7double_ele[1, 3]
count-5265
total-5265
count-5266
total-5266
count-5267
total-5267
count-5268
total-5268
count-5269
total-5269
count-5270
total-5270
count-5271
total-5271
count-5272
total-5272
count-5273
total-5273
count-5274
total-5274
count-5275
total-5275
count-5276
total-5276
count-5277
total-5277
count-5278
total-5278
count-5279
total-5279
count-5280
total-5280
count-5281
total-5281
count-5282
total-5282
count-5283
total-5283
count-5284
total-5284
row 6double_ele[1, 3]
count-5285
total-5285
count-5286
total-5286
count-5287
total-5287
count-5288
total-5288
row 5double_ele[4, 6]
count-5289
total-5289
count-5290
total-5290
count-5291
total-5291
count-5292
total-5292
row 1double_ele[3, 6]
count-5293
total-5293
count-5294
total-5294
count-5295
total-5295
count-5296
total-5296
count-5297
total-5297
row 6double_ele[3, 5]
row 8double_ele[5, 6]
count-5298
total-5298
column8 double_ele[2, 4]
count-5299
total-5299
count-5300
total-5300
count-5301
total-5301
count-5302
total-5302
count-5303
total-5303
count-5304
total-5304
count-5305
total-5305
count-5306
total-5306
count-5307
total-5307
row 3double_ele[3, 6]
count-5308
total-5308
column2 double_ele[3, 4]
column9 double_ele[3, 5]
count-5309
total-5309
count-5310
total-5310
count-5311
total-5311
count-5312
total-5312
count-5313
total-5313
count-5314
total-5314
count-5315
total-5315
count-5316
total-5316
count-5317
total-5317
count-5318
total-5318
count-5319
total-5319
count-5320
total-5320
count-5321
total-5321
row 7double_ele[1, 4]
column7 double_ele[1, 4]
column8 double_ele[4, 7]
count-5322
total-5322
count-5323
total-5323
count-5324
total-5324
count-5325
total-5325
count-5326
total-5326
count-5327
total-5327
count-5328
total-5328
count-5329
total-5329
count-5330
total-5330
row 3double_ele[2, 9]
count-5331
total-5331
column3 double_ele[1, 3]
box9 triple_ele[1, 2, 7]
count-5332
total-5332
count-5333
total-5333
count-5334
total-5334
count-5335
total-5335
count-5336
total-5336
count-5337
total-5337
count-5338
total-5338
count-5339
total-5339
count-5340
total-5340
count-5341
total-5341
count-5342
total-5342
column2 double_ele[3, 4]
row 3double_ele[3, 4]
count-5343
total-5343
count-5344
total-5344
count-5345
total-5345
count-5346
total-5346
count-5347
total-5347
count-5348
total-5348
count-5349
total-5349
count-5350
total-5350
count-5351
total-5351
count-5352
total-5352
count-5353
total-5353
column3 double_ele[1, 5]
count-5354
total-5354
count-5355
total-5355
count-5356
total-5356
count-5357
total-5357
count-5358
total-5358
count-5359
total-5359
count-5360
total-5360
count-5361
total-5361
count-5362
total-5362
count-5363
total-5363
count-5364
total-5364
count-5365
total-5365
count-5366
total-5366
column7 double_ele[3, 6]
count-5367
total-5367
count-5368
total-5368
count-5369
total-5369
count-5370
total-5370
count-5371
total-5371
count-5372
total-5372
count-5373
total-5373
count-5374
total-5374
count-5375
total-5375
count-5376
total-5376
count-5377
total-5377
column1 double_ele[1, 8]
count-5378
total-5378
count-5379
total-5379
count-5380
total-5380
count-5381
total-5381
count-5382
total-5382
column9 double_ele[4, 7]
count-5383
total-5383
count-5384
total-5384
count-5385
total-5385
count-5386
total-5386
count-5387
total-5387
count-5388
total-5388
count-5389
total-5389
count-5390
total-5390
count-5391
total-5391
count-5392
total-5392
count-5393
total-5393
count-5394
total-5394
count-5395
total-5395
count-5396
total-5396
count-5397
total-5397
count-5398
total-5398
column5 double_ele[2, 3]
row 7double_ele[2, 3]
count-5399
total-5399
count-5400
total-5400
count-5401
total-5401
count-5402
total-5402
count-5403
total-5403
column3 double_ele[4, 5]
count-5404
total-5404
count-5405
total-5405
count-5406
total-5406
count-5407
total-5407
count-5408
total-5408
count-5409
total-5409
column4 double_ele[1, 8]
count-5410
total-5410
count-5411
total-5411
count-5412
total-5412
count-5413
total-5413
count-5414
total-5414
count-5415
total-5415
count-5416
total-5416
count-5417
total-5417
count-5418
total-5418
count-5419
total-5419
count-5420
total-5420
count-5421
total-5421
count-5422
total-5422
count-5423
total-5423
count-5424
total-5424
count-5425
total-5425
row 8double_ele[3, 6]
count-5426
total-5426
count-5427
total-5427
count-5428
total-5428
count-5429
total-5429
count-5430
total-5430
count-5431
total-5431
count-5432
total-5432
count-5433
total-5433
count-5434
total-5434
count-5435
total-5435
count-5436
total-5436
count-5437
total-5437
count-5438
total-5438
count-5439
total-5439
count-5440
total-5440
count-5441
total-5441
count-5442
total-5442
count-5443
total-5443
count-5444
total-5444
count-5445
total-5445
count-5446
total-5446
count-5447
total-5447
count-5448
total-5448
count-5449
total-5449
count-5450
total-5450
count-5451
total-5451
count-5452
total-5452
count-5453
total-5453
count-5454
total-5454
count-5455
total-5455
count-5456
total-5456
count-5457
total-5457
count-5458
total-5458
count-5459
total-5459
count-5460
total-5460
count-5461
total-5461
count-5462
total-5462
count-5463
total-5463
count-5464
total-5464
count-5465
total-5465
count-5466
total-5466
count-5467
total-5467
count-5468
total-5468
count-5469
total-5469
count-5470
total-5470
count-5471
total-5471
count-5472
total-5472
count-5473
total-5473
row 5double_ele[2, 5]
count-5474
total-5474
count-5475
total-5475
count-5476
total-5476
count-5477
total-5477
count-5478
total-5478
count-5479
total-5479
count-5480
total-5480
count-5481
total-5481
count-5482
total-5482
count-5483
total-5483
count-5484
total-5484
count-5485
total-5485
count-5486
total-5486
count-5487
total-5487
count-5488
total-5488
count-5489
total-5489
count-5490
total-5490
count-5491
total-5491
count-5492
total-5492
count-5493
total-5493
count-5494
total-5494
count-5495
total-5495
column5 double_ele[4, 6]
count-5496
total-5496
count-5497
total-5497
count-5498
total-5498
count-5499
total-5499
count-5500
total-5500
count-5501
total-5501
count-5502
total-5502
count-5503
total-5503
count-5504
total-5504
count-5505
total-5505
count-5506
total-5506
count-5507
total-5507
count-5508
total-5508
count-5509
total-5509
count-5510
total-5510
count-5511
total-5511
count-5512
total-5512
count-5513
total-5513
count-5514
total-5514
count-5515
total-5515
count-5516
total-5516
count-5517
total-5517
count-5518
total-5518
count-5519
total-5519
count-5520
total-5520
row 8double_ele[3, 4]
count-5521
total-5521
count-5522
total-5522
count-5523
total-5523
count-5524
total-5524
count-5525
total-5525
count-5526
total-5526
count-5527
total-5527
count-5528
total-5528
count-5529
total-5529
count-5530
total-5530
count-5531
total-5531
count-5532
total-5532
count-5533
total-5533
count-5534
total-5534
column5 double_ele[1, 5]
count-5535
total-5535
count-5536
total-5536
column2 double_ele[4, 8]
count-5537
total-5537
count-5538
total-5538

count-5539
total-5539
count-5540
total-5540
count-5541
total-5541
count-5542
total-5542
count-5543
total-5543
count-5544
total-5544
count-5545
total-5545
count-5546
total-5546
count-5547
total-5547
count-5548
total-5548
count-5549
total-5549
count-5550
total-5550
row 4double_ele[4, 5]
count-5551
total-5551
count-5552
total-5552
count-5553
total-5553
count-5554
total-5554
count-5555
total-5555
count-5556
total-5556
count-5557
total-5557
column8 double_ele[4, 6]
count-5558
total-5558
count-5559
total-5559
row 8double_ele[3, 5]
count-5560
total-5560
count-5561
total-5561
count-5562
total-5562
count-5563
total-5563
count-5564
total-5564
count-5565
total-5565
count-5566
total-5566
count-5567
total-5567
row 5double_ele[4, 7]
count-5568
total-5568
count-5569
total-5569
row 6double_ele[4, 7]
count-5570
total-5570
count-5571
total-5571
count-5572
total-5572
count-5573
total-5573
row 4double_ele[3, 4]
row 8double_ele[1, 4]
count-5574
total-5574
count-5575
total-5575
count-5576
total-5576
count-5577
total-5577
count-5578
total-5578
count-5579
total-5579
row 4double_ele[1, 5]
count-5580
total-5580
row 1double_ele[1, 2]
row 3double_ele[2, 6]
column6 double_ele[2, 6]
row 7double_ele[2, 6]
count-5581
total-5581
row 6double_ele[3, 8]
count-5582
total-5582
count-5583
total-5583
column2 double_ele[1, 2]
count-5584
total-5584
count-5585
total-5585
count-5586
total-5586
count-5587
total-5587
count-5588
total-5588
count-5589
total-5589
count-5590
total-5590
count-5591
total-5591
count-5592
total-5592
count-5593
total-5593
count-5594
total-5594
count-5595
total-5595
count-5596
total-5596
column3 double_ele[1, 6]
count-5597
total-5597
count-5598
total-5598
count-5599
total-5599
count-5600
total-5600
column1 double_ele[2, 5]
count-5601
total-5601
count-5602
total-5602
count-5603
total-5603
count-5604
total-5604
count-5605
total-5605
column7 double_ele[2, 3]
count-5606
total-5606
count-5607
total-5607
count-5608
total-5608
count-5609
total-5609
count-5610
total-5610
count-5611
total-5611
count-5612
total-5612
row 6double_ele[3, 6]
count-5613
total-5613
row 1double_ele[6, 8]
count-5614
total-5614
count-5615
total-5615
count-5616
total-5616
row 2double_ele[2, 6]
column5 double_ele[2, 6]
count-5617
total-5617
count-5618
total-5618
count-5619
total-5619
count-5620
total-5620
count-5621
total-5621
count-5622
total-5622
count-5623
total-5623
count-5624
total-5624
count-5625
total-5625
count-5626
total-5626
count-5627
total-5627
count-5628
total-5628
count-5629
total-5629
row 4double_ele[1, 2]
row 5double_ele[1, 5]
count-5630
total-5630
count-5631
total-5631
count-5632
total-5632
count-5633
total-5633
count-5634
total-5634
count-5635
total-5635
count-5636
total-5636
count-5637
total-5637
count-5638
total-5638
count-5639
total-5639
count-5640
total-5640
count-5641
total-5641
count-5642
total-5642
count-5643
total-5643
count-5644
total-5644
count-5645
total-5645
count-5646
total-5646
count-5647
total-5647
count-5648
total-5648
count-5649
total-5649
count-5650
total-5650
count-5651
total-5651
count-5652
total-5652
count-5653
total-5653
count-5654
total-5654
count-5655
total-5655
count-5656
total-5656
count-5657
total-5657
count-5658
total-5658
count-5659
total-5659
count-5660
total-5660
count-5661
total-5661
count-5662
total-5662
row 9double_ele[1, 3]
count-5663
total-5663
count-5664
total-5664
count-5665
total-5665
count-5666
total-5666
count-5667
total-5667
count-5668
total-5668
count-5669
total-5669
count-5670
total-5670
count-5671
total-5671
count-5672
total-5672
count-5673
total-5673
count-5674
total-5674
count-5675
total-5675
count-5676
total-5676
count-5677
total-5677
count-5678
total-5678
count-5679
total-5679
count-5680
total-5680
count-5681
total-5681
count-5682
total-5682
count-5683
total-5683
count-5684
total-5684
row 1double_ele[2, 4]
count-5685
total-5685
count-5686
total-5686
count-5687
total-5687
count-5688
total-5688
count-5689
total-5689
count-5690
total-5690
count-5691
total-5691
count-5692
total-5692
count-5693
total-5693
count-5694
total-5694
count-5695
total-5695
count-5696
total-5696
count-5697
total-5697
count-5698
total-5698
count-5699
total-5699
count-5700
total-5700
count-5701
total-5701
count-5702
total-5702
count-5703
total-5703
count-5704
total-5704
count-5705
total-5705
count-5706
total-5706
count-5707
total-5707
count-5708
total-5708
count-5709
total-5709
count-5710
total-5710
count-5711
total-5711
column1 double_ele[1, 5]
column9 double_ele[1, 2]
count-5712
total-5712
count-5713
total-5713
count-5714
total-5714
count-5715
total-5715
count-5716
total-5716
count-5717
total-5717
count-5718
total-5718
count-5719
total-5719
count-5720
total-5720
column3 double_ele[2, 4]
row 4double_ele[2, 4]
row 8double_ele[2, 4]
count-5721
total-5721
count-5722
total-5722
count-5723
total-5723
count-5724
total-5724
count-5725
total-5725
count-5726
total-5726
count-5727
total-5727
count-5728
total-5728
count-5729
total-5729
count-5730
total-5730
row 4double_ele[2, 3]
column4 double_ele[2, 3]
count-5731
total-5731
count-5732
total-5732
count-5733
total-5733
count-5734
total-5734
row 8double_ele[2, 4]
count-5735
total-5735
count-5736
total-5736
count-5737
total-5737
count-5738
total-5738
count-5739
total-5739
column6 double_ele[1, 3]
row 9double_ele[1, 3]
count-5740
total-5740
column5 double_ele[1, 2]
count-5741
total-5741
row 7double_ele[1, 6]
count-5742
total-5742
count-5743
total-5743
count-5744
total-5744
count-5745
total-5745
count-5746
total-5746
count-5747
total-5747
count-5748
total-5748
row 8triple_ele[1, 2, 4]
count-5749
total-5749
count-5750
total-5750
count-5751
total-5751
count-5752
total-5752
count-5753
total-5753
count-5754
total-5754
count-5755
total-5755
count-5756
total-5756
count-5757
total-5757
count-5758
total-5758
count-5759
total-5759
count-5760
total-5760
count-5761
total-5761
count-5762
total-5762
row 7double_ele[2, 9]
count-5763
total-5763
column6 double_ele[1, 4]
row 9triple_ele[1, 4, 5]
count-5764
total-5764
count-5765
total-5765
count-5766
total-5766
count-5767
total-5767
count-5768
total-5768
count-5769
total-5769
column1 double_ele[3, 8]
count-5770
total-5770
count-5771
total-5771
count-5772
total-5772
count-5773
total-5773
count-5774
total-5774
count-5775
total-5775
count-5776
total-5776
count-5777
total-5777
count-5778
total-5778
count-5779
total-5779
row 1double_ele[2, 4]
count-5780
total-5780
count-5781
total-5781
row 4double_ele[1, 2]
count-5782
total-5782
count-5783
total-5783
count-5784
total-5784
column1 double_ele[2, 5]
row 3double_ele[2, 5]
count-5785
total-5785
count-5786
total-5786
count-5787
total-5787
count-5788
total-5788
count-5789
total-5789
count-5790
total-5790
count-5791
total-5791
row 2double_ele[2, 3]
row 3double_ele[2, 5]
count-5792
total-5792
count-5793
total-5793
count-5794
total-5794
count-5795
total-5795
count-5796
total-5796
count-5797
total-5797
count-5798
total-5798
count-5799
total-5799
count-5800
total-5800
count-5801
total-5801
count-5802
total-5802
column4 double_ele[1, 7]
row 5double_ele[1, 7]
row 9double_ele[3, 7]
count-5803
total-5803
count-5804
total-5804
count-5805
total-5805
count-5806
total-5806
count-5807
total-5807
count-5808
total-5808
count-5809
total-5809
count-5810
total-5810
count-5811
total-5811
count-5812
total-5812
count-5813
total-5813
count-5814
total-5814
count-5815
total-5815
count-5816
total-5816
count-5817
total-5817
count-5818
total-5818
count-5819
total-5819
count-5820
total-5820
count-5821
total-5821
count-5822
total-5822
count-5823
total-5823
count-5824
total-5824
count-5825
total-5825
count-5826
total-5826
count-5827
total-5827
count-5828
total-5828
row 4double_ele[6, 8]
column4 double_ele[6, 8]
column7 double_ele[6, 8]
count-5829
total-5829
row 2double_ele[2, 5]
column2 double_ele[2, 5]
count-5830
total-5830
count-5831
total-5831
count-5832
total-5832
count-5833
total-5833
count-5834
total-5834
count-5835
total-5835
count-5836
total-5836
count-5837
total-5837
count-5838
total-5838
count-5839
total-5839
count-5840
total-5840
count-5841
total-5841
count-5842
total-5842
column2 double_ele[2, 8]
count-5843
total-5843
count-5844
total-5844
row 3double_ele[5, 7]
count-5845
total-5845
count-5846
total-5846
count-5847
total-5847
count-5848
total-5848
count-5849
total-5849
count-5850
total-5850
count-5851
total-5851

count-5852
total-5852
count-5853
total-5853
count-5854
total-5854
column1 double_ele[1, 2]
count-5855
total-5855
count-5856
total-5856
count-5857
total-5857
count-5858
total-5858
row 2double_ele[3, 4]
row 9double_ele[1, 3]
box3 triple_ele[1, 3, 4]
count-5859
total-5859
count-5860
total-5860
count-5861
total-5861
count-5862
total-5862
count-5863
total-5863
count-5864
total-5864
count-5865
total-5865
count-5866
total-5866
count-5867
total-5867
count-5868
total-5868
count-5869
total-5869
count-5870
total-5870
count-5871
total-5871
count-5872
total-5872
count-5873
total-5873
count-5874
total-5874
count-5875
total-5875
count-5876
total-5876
count-5877
total-5877
count-5878
total-5878
count-5879
total-5879
count-5880
total-5880
count-5881
total-5881
column1 double_ele[2, 3]
count-5882
total-5882
count-5883
total-5883
count-5884
total-5884
row 4double_ele[4, 5]
count-5885
total-5885
count-5886
total-5886
count-5887
total-5887
count-5888
total-5888
count-5889
total-5889
count-5890
total-5890
column8 double_ele[2, 9]
count-5891
total-5891
count-5892
total-5892
count-5893
total-5893
count-5894
total-5894
count-5895
total-5895
row 1double_ele[1, 3]
column5 double_ele[1, 3]
count-5896
total-5896
count-5897
total-5897
count-5898
total-5898
count-5899
total-5899
count-5900
total-5900
count-5901
total-5901
count-5902
total-5902
row 8double_ele[2, 4]
count-5903
total-5903
count-5904
total-5904
count-5905
total-5905
count-5906
total-5906
row 8double_ele[5, 9]
count-5907
total-5907
count-5908
total-5908
count-5909
total-5909
count-5910
total-5910
count-5911
total-5911
count-5912
total-5912
column4 double_ele[2, 3]
row 7double_ele[4, 6]
count-5913
total-5913
count-5914
total-5914
count-5915
total-5915
count-5916
total-5916
row 4double_ele[1, 2]
column6 double_ele[1, 2]
count-5917
total-5917
count-5918
total-5918
count-5919
total-5919
row 3double_ele[2, 9]
column5 double_ele[2, 3]
row 7double_ele[2, 3]
count-5920
total-5920
count-5921
total-5921
count-5922
total-5922
count-5923
total-5923
count-5924
total-5924
count-5925
total-5925
count-5926
total-5926
count-5927
total-5927
count-5928
total-5928
count-5929
total-5929
count-5930
total-5930
count-5931
total-5931
count-5932
total-5932
count-5933
total-5933
count-5934
total-5934
count-5935
total-5935
count-5936
total-5936
count-5937
total-5937
count-5938
total-5938
row 5double_ele[3, 4]
count-5939
total-5939
count-5940
total-5940
count-5941
total-5941
row 7double_ele[1, 3]
column7 double_ele[1, 3]
count-5942
total-5942
count-5943
total-5943
row 8double_ele[1, 5]
count-5944
total-5944
row 1double_ele[4, 6]
count-5945
total-5945
count-5946
total-5946
count-5947
total-5947
count-5948
total-5948
count-5949
total-5949
count-5950
total-5950
count-5951
total-5951
count-5952
total-5952
count-5953
total-5953
count-5954
total-5954
count-5955
total-5955
count-5956
total-5956
count-5957
total-5957
count-5958
total-5958
count-5959
total-5959
count-5960
total-5960
count-5961
total-5961
count-5962
total-5962
count-5963
total-5963
count-5964
total-5964
column1 double_ele[3, 9]
count-5965
total-5965
column7 double_ele[1, 2]
count-5966
total-5966
count-5967
total-5967
count-5968
total-5968
count-5969
total-5969
count-5970
total-5970
column5 double_ele[4, 6]
count-5971
total-5971
count-5972
total-5972
count-5973
total-5973
count-5974
total-5974
count-5975
total-5975
count-5976
total-5976
count-5977
total-5977
column4 double_ele[1, 2]
count-5978
total-5978
column4 double_ele[2, 6]
count-5979
total-5979
count-5980
total-5980
count-5981
total-5981
row 3double_ele[5, 6]
column7 double_ele[5, 6]
column9 double_ele[5, 6]
count-5982
total-5982
count-5983
total-5983
count-5984
total-5984
count-5985
total-5985
count-5986
total-5986
count-5987
total-5987
count-5988
total-5988
count-5989
total-5989
count-5990
total-5990
count-5991
total-5991
count-5992
total-5992
count-5993
total-5993
count-5994
total-5994
count-5995
total-5995
count-5996
total-5996
count-5997
total-5997
count-5998
total-5998
count-5999
total-5999
count-6000
total-6000
count-6001
total-6001
count-6002
total-6002
column7 double_ele[1, 3]
count-6003
total-6003
count-6004
total-6004
count-6005
total-6005
count-6006
total-6006
count-6007
total-6007
count-6008
total-6008
count-6009
total-6009
count-6010
total-6010
count-6011
total-6011
count-6012
total-6012
count-6013
total-6013
count-6014
total-6014
column8 double_ele[1, 2]
count-6015
total-6015
count-6016
total-6016
count-6017
total-6017
count-6018
total-6018
count-6019
total-6019
count-6020
total-6020
count-6021
total-6021
count-6022
total-6022
count-6023
total-6023
count-6024
total-6024
count-6025
total-6025
row 6double_ele[5, 6]
count-6026
total-6026
count-6027
total-6027
count-6028
total-6028
count-6029
total-6029
count-6030
total-6030
count-6031
total-6031
count-6032
total-6032
count-6033
total-6033
count-6034
total-6034
count-6035
total-6035
count-6036
total-6036
count-6037
total-6037
count-6038
total-6038
column3 double_ele[2, 5]
count-6039
total-6039
count-6040
total-6040
count-6041
total-6041
count-6042
total-6042
count-6043
total-6043
count-6044
total-6044
count-6045
total-6045
count-6046
total-6046
count-6047
total-6047
count-6048
total-6048
count-6049
total-6049
count-6050
total-6050
count-6051
total-6051
count-6052
total-6052
count-6053
total-6053
count-6054
total-6054
row 4double_ele[6, 8]
column7 double_ele[4, 8]
count-6055
total-6055
count-6056
total-6056
count-6057
total-6057
count-6058
total-6058
count-6059
total-6059
count-6060
total-6060
row 4double_ele[2, 3]
count-6061
total-6061
count-6062
total-6062
count-6063
total-6063
count-6064
total-6064
count-6065
total-6065
count-6066
total-6066
count-6067
total-6067
count-6068
total-6068
count-6069
total-6069
count-6070
total-6070
count-6071
total-6071
count-6072
total-6072
count-6073
total-6073
count-6074
total-6074
count-6075
total-6075
column9 double_ele[3, 5]
count-6076
total-6076
count-6077
total-6077
count-6078
total-6078
count-6079
total-6079
count-6080
total-6080
count-6081
total-6081
count-6082
total-6082
column9 double_ele[1, 2]
count-6083
total-6083
count-6084
total-6084
count-6085
total-6085
count-6086
total-6086
count-6087
total-6087
count-6088
total-6088
count-6089
total-6089
count-6090
total-6090
count-6091
total-6091
count-6092
total-6092
count-6093
total-6093
count-6094
total-6094
count-6095
total-6095
count-6096
total-6096
count-6097
total-6097
count-6098
total-6098
count-6099
total-6099
count-6100
total-6100
count-6101
total-6101
count-6102
total-6102
column9 double_ele[1, 6]
count-6103
total-6103
count-6104
total-6104
count-6105
total-6105
count-6106
total-6106
count-6107
total-6107
count-6108
total-6108
count-6109
total-6109
count-6110
total-6110
count-6111
total-6111
count-6112
total-6112
count-6113
total-6113
count-6114
total-6114
count-6115
total-6115
count-6116
total-6116
count-6117
total-6117
count-6118
total-6118
count-6119
total-6119
column2 double_ele[1, 4]
count-6120
total-6120
count-6121
total-6121
count-6122
total-6122
count-6123
total-6123
count-6124
total-6124
count-6125
total-6125
count-6126
total-6126
count-6127
total-6127
count-6128
total-6128
count-6129
total-6129
count-6130
total-6130
count-6131
total-6131
count-6132
total-6132
count-6133
total-6133
count-6134
total-6134
count-6135
total-6135
count-6136
total-6136
count-6137
total-6137
count-6138
total-6138
count-6139
total-6139
count-6140
total-6140
count-6141
total-6141
count-6142
total-6142
count-6143
total-6143
count-6144
total-6144
count-6145
total-6145
count-6146
total-6146
column7 double_ele[4, 5]
count-6147
total-6147
column1 double_ele[1, 6]
column3 double_ele[1, 5]
column7 double_ele[2, 6]
column8 double_ele[5, 6]
row 9double_ele[5, 6]
count-6148
total-6148
count-6149
total-6149
count-6150
total-6150
count-6151
total-6151
column3 double_ele[4, 5]
count-6152
total-6152
column6 double_ele[1, 2]
count-6153
total-6153
count-6154
total-6154
count-6155
total-6155
count-6156
total-6156
count-6157
total-6157
count-6158
total-6158
row 3double_ele[1, 2]
column5 double_ele[1, 2]
count-6159
total-6159
count-6160
total-6160
count-6161
total-6161
count-6162
total-6162
count-6163
total-6163
count-6164
total-6164
count-6165
total-6165
count-6166
total-6166
count-6167
total-6167
count-6168
total-6168
count-6169
total-6169
count-6170
total-6170
row 3double_ele[2, 5]
column3 double_ele[2, 5]
count-6171
total-6171
count-6172
total-6172
count-6173
total-6173
count-6174
total-6174

count-6175
total-6175
count-6176
total-6176
count-6177
total-6177
row 6double_ele[3, 4]
count-6178
total-6178
count-6179
total-6179
count-6180
total-6180
count-6181
total-6181
count-6182
total-6182
row 6double_ele[1, 7]
count-6183
total-6183
count-6184
total-6184
count-6185
total-6185
count-6186
total-6186
count-6187
total-6187
count-6188
total-6188
count-6189
total-6189
row 9double_ele[1, 4]
count-6190
total-6190
count-6191
total-6191
count-6192
total-6192
column7 double_ele[3, 7]
count-6193
total-6193
count-6194
total-6194
count-6195
total-6195
count-6196
total-6196
count-6197
total-6197
count-6198
total-6198
count-6199
total-6199
count-6200
total-6200
count-6201
total-6201
count-6202
total-6202
count-6203
total-6203
count-6204
total-6204
count-6205
total-6205
count-6206
total-6206
count-6207
total-6207
count-6208
total-6208
column1 double_ele[2, 4]
count-6209
total-6209
count-6210
total-6210
count-6211
total-6211
count-6212
total-6212
count-6213
total-6213
column5 double_ele[1, 5]
count-6214
total-6214
count-6215
total-6215
count-6216
total-6216
row 4double_ele[1, 7]
column5 double_ele[1, 7]
count-6217
total-6217
count-6218
total-6218
count-6219
total-6219
count-6220
total-6220
count-6221
total-6221
count-6222
total-6222
count-6223
total-6223
count-6224
total-6224
count-6225
total-6225
count-6226
total-6226
row 2double_ele[2, 3]
column2 double_ele[2, 3]
column8 double_ele[2, 3]
count-6227
total-6227
count-6228
total-6228
count-6229
total-6229
count-6230
total-6230
count-6231
total-6231
count-6232
total-6232
column2 double_ele[4, 6]
count-6233
total-6233
count-6234
total-6234
count-6235
total-6235
count-6236
total-6236
count-6237
total-6237
count-6238
total-6238
column3 double_ele[2, 5]
count-6239
total-6239
count-6240
total-6240
count-6241
total-6241
count-6242
total-6242
count-6243
total-6243
count-6244
total-6244
count-6245
total-6245
count-6246
total-6246
count-6247
total-6247
count-6248
total-6248
count-6249
total-6249
count-6250
total-6250
count-6251
total-6251
count-6252
total-6252
count-6253
total-6253
row 4double_ele[2, 5]
column9 double_ele[2, 5]
count-6254
total-6254
count-6255
total-6255
count-6256
total-6256
count-6257
total-6257
column3 double_ele[3, 5]
count-6258
total-6258
count-6259
total-6259
count-6260
total-6260
count-6261
total-6261
count-6262
total-6262
count-6263
total-6263
count-6264
total-6264
count-6265
total-6265
count-6266
total-6266
count-6267
total-6267
row 1double_ele[1, 5]
count-6268
total-6268
count-6269
total-6269
count-6270
total-6270
count-6271
total-6271
count-6272
total-6272
count-6273
total-6273
count-6274
total-6274
count-6275
total-6275
count-6276
total-6276
count-6277
total-6277
row 3double_ele[1, 6]
row 4double_ele[1, 6]
column5 double_ele[1, 6]
count-6278
total-6278
column6 double_ele[1, 4]
count-6279
total-6279
count-6280
total-6280
count-6281
total-6281
count-6282
total-6282
count-6283
total-6283
count-6284
total-6284
count-6285
total-6285
count-6286
total-6286
count-6287
total-6287
count-6288
total-6288
count-6289
total-6289
count-6290
total-6290
count-6291
total-6291
count-6292
total-6292
count-6293
total-6293
count-6294
total-6294
count-6295
total-6295
count-6296
total-6296
count-6297
total-6297
count-6298
total-6298
count-6299
total-6299
count-6300
total-6300
count-6301
total-6301
count-6302
total-6302
count-6303
total-6303
count-6304
total-6304
count-6305
total-6305
count-6306
total-6306
row 7double_ele[2, 7]
count-6307
total-6307
column7 double_ele[3, 5]
count-6308
total-6308
count-6309
total-6309
count-6310
total-6310
column7 double_ele[4, 5]
count-6311
total-6311
row 1double_ele[1, 2]
count-6312
total-6312
count-6313
total-6313
count-6314
total-6314
count-6315
total-6315
count-6316
total-6316
count-6317
total-6317
count-6318
total-6318
count-6319
total-6319
count-6320
total-6320
count-6321
total-6321
count-6322
total-6322
column7 double_ele[2, 3]
count-6323
total-6323
count-6324
total-6324
count-6325
total-6325
count-6326
total-6326
count-6327
total-6327
count-6328
total-6328
count-6329
total-6329
count-6330
total-6330
count-6331
total-6331
count-6332
total-6332
column5 double_ele[3, 6]
count-6333
total-6333
count-6334
total-6334
count-6335
total-6335
count-6336
total-6336
row 3double_ele[1, 5]
column6 double_ele[1, 5]
count-6337
total-6337
count-6338
total-6338
count-6339
total-6339
count-6340
total-6340
count-6341
total-6341
count-6342
total-6342
count-6343
total-6343
count-6344
total-6344
count-6345
total-6345
count-6346
total-6346
count-6347
total-6347
row 2double_ele[2, 6]
count-6348
total-6348
count-6349
total-6349
row 9double_ele[1, 2]
count-6350
total-6350
count-6351
total-6351
count-6352
total-6352
count-6353
total-6353
column1 double_ele[1, 3]
row 7double_ele[1, 3]
count-6354
total-6354
count-6355
total-6355
count-6356
total-6356
count-6357
total-6357
count-6358
total-6358
count-6359
total-6359
count-6360
total-6360
count-6361
total-6361
count-6362
total-6362
count-6363
total-6363
count-6364
total-6364
count-6365
total-6365
count-6366
total-6366
column3 double_ele[2, 5]
count-6367
total-6367
count-6368
total-6368
count-6369
total-6369
count-6370
total-6370
count-6371
total-6371
count-6372
total-6372
count-6373
total-6373
count-6374
total-6374
count-6375
total-6375
count-6376
total-6376
count-6377
total-6377
count-6378
total-6378
count-6379
total-6379
count-6380
total-6380
count-6381
total-6381
count-6382
total-6382
row 2double_ele[1, 9]
count-6383
total-6383
count-6384
total-6384
count-6385
total-6385
count-6386
total-6386
count-6387
total-6387
count-6388
total-6388
count-6389
total-6389
count-6390
total-6390
count-6391
total-6391
count-6392
total-6392
column5 double_ele[1, 4]
count-6393
total-6393
count-6394
total-6394
count-6395
total-6395
count-6396
total-6396
count-6397
total-6397
count-6398
total-6398
count-6399
total-6399
count-6400
total-6400
count-6401
total-6401
count-6402
total-6402
count-6403
total-6403
count-6404
total-6404
count-6405
total-6405
count-6406
total-6406
count-6407
total-6407
count-6408
total-6408
count-6409
total-6409
count-6410
total-6410
count-6411
total-6411
count-6412
total-6412
count-6413
total-6413
count-6414
total-6414
count-6415
total-6415
count-6416
total-6416
count-6417
total-6417
count-6418
total-6418
count-6419
total-6419
count-6420
total-6420
count-6421
total-6421
column4 double_ele[2, 3]
count-6422
total-6422
count-6423
total-6423
count-6424
total-6424
count-6425
total-6425
count-6426
total-6426
count-6427
total-6427
count-6428
total-6428
count-6429
total-6429
count-6430
total-6430
count-6431
total-6431
count-6432
total-6432
count-6433
total-6433
count-6434
total-6434
row 4double_ele[1, 2]
column4 double_ele[1, 2]
column5 double_ele[1, 2]
count-6435
total-6435
row 6double_ele[1, 4]
count-6436
total-6436
count-6437
total-6437
count-6438
total-6438
count-6439
total-6439
count-6440
total-6440
count-6441
total-6441
count-6442
total-6442
count-6443
total-6443
count-6444
total-6444
count-6445
total-6445
row 5double_ele[4, 5]
count-6446
total-6446
count-6447
total-6447
column4 double_ele[2, 3]
count-6448
total-6448
count-6449
total-6449
count-6450
total-6450
count-6451
total-6451
count-6452
total-6452
count-6453
total-6453
count-6454
total-6454
count-6455
total-6455
column6 double_ele[1, 6]
count-6456
total-6456
count-6457
total-6457
row 7double_ele[2, 6]
count-6458
total-6458
row 2double_ele[4, 6]
count-6459
total-6459
column5 double_ele[1, 8]
count-6460
total-6460
count-6461
total-6461
count-6462
total-6462
count-6463
total-6463
count-6464
total-6464
count-6465
total-6465
count-6466
total-6466
count-6467
total-6467
count-6468
total-6468
count-6469
total-6469
count-6470
total-6470
count-6471
total-6471
count-6472
total-6472
count-6473
total-6473
count-6474
total-6474
count-6475
total-6475
column2 double_ele[5, 9]
row 3double_ele[5, 9]
count-6476
total-6476
count-6477
total-6477
row 8double_ele[1, 6]
count-6478
total-6478
count-6479
total-6479
count-6480
total-6480
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-6481
total-6481
count-6482
total-6482
count-6483
total-6483
count-6484
total-6484
count-6485
total-6485
count-6486
total-6486
count-6487
total-6487
count-6488
total-6488
count-6489
total-6489
count-6490
total-6490
count-6491
total-6491
count-6492
total-6492
count-6493
total-6493
count-6494
total-6494
count-6495
total-6495
row 2double_ele[3, 7]
row 9double_ele[3, 8]
count-6496
total-6496
row 3double_ele[1, 2]
count-6497
total-6497
count-6498
total-6498
count-6499
total-6499
count-6500
total-6500
row 7double_ele[1, 2]
count-6501
total-6501
count-6502
total-6502
count-6503
total-6503
count-6504
total-6504
count-6505
total-6505
count-6506
total-6506

count-6507
total-6507
count-6508
total-6508
count-6509
total-6509
count-6510
total-6510
count-6511
total-6511
count-6512
total-6512
count-6513
total-6513
row 2double_ele[1, 4]
row 5double_ele[1, 4]
row 6double_ele[1, 3]
column6 double_ele[1, 4]
count-6514
total-6514
count-6515
total-6515
count-6516
total-6516
count-6517
total-6517
column3 double_ele[1, 2]
count-6518
total-6518
count-6519
total-6519
count-6520
total-6520
column2 double_ele[4, 7]
row 4double_ele[4, 7]
row 7double_ele[4, 7]
column7 double_ele[4, 7]
row 8double_ele[4, 7]
column9 double_ele[4, 7]
count-6521
total-6521
column4 double_ele[5, 6]
count-6522
total-6522
count-6523
total-6523
count-6524
total-6524
column5 double_ele[1, 6]
count-6525
total-6525
count-6526
total-6526
count-6527
total-6527
row 3double_ele[4, 7]
count-6528
total-6528
count-6529
total-6529
count-6530
total-6530
count-6531
total-6531
count-6532
total-6532
count-6533
total-6533
count-6534
total-6534
count-6535
total-6535
count-6536
total-6536
count-6537
total-6537
count-6538
total-6538
column2 double_ele[1, 7]
count-6539
total-6539
count-6540
total-6540
column1 double_ele[2, 3]
column2 double_ele[3, 5]
row 3double_ele[2, 3]
count-6541
total-6541
count-6542
total-6542
count-6543
total-6543
count-6544
total-6544
count-6545
total-6545
count-6546
total-6546
count-6547
total-6547
count-6548
total-6548
count-6549
total-6549
count-6550
total-6550
column2 double_ele[3, 9]
count-6551
total-6551
count-6552
total-6552
count-6553
total-6553
count-6554
total-6554
count-6555
total-6555
count-6556
total-6556
count-6557
total-6557
count-6558
total-6558
count-6559
total-6559
count-6560
total-6560
count-6561
total-6561
column1 double_ele[3, 4]
count-6562
total-6562
count-6563
total-6563
count-6564
total-6564
column8 double_ele[1, 5]
count-6565
total-6565
count-6566
total-6566
count-6567
total-6567
count-6568
total-6568
count-6569
total-6569
count-6570
total-6570
count-6571
total-6571
column2 double_ele[1, 3]
column3 double_ele[1, 3]
row 8double_ele[1, 3]
count-6572
total-6572
count-6573
total-6573
count-6574
total-6574
count-6575
total-6575
count-6576
total-6576
count-6577
total-6577
count-6578
total-6578
count-6579
total-6579
count-6580
total-6580
column3 double_ele[3, 6]
count-6581
total-6581
column2 double_ele[2, 4]
count-6582
total-6582
count-6583
total-6583
count-6584
total-6584
column1 double_ele[1, 2]
count-6585
total-6585
count-6586
total-6586
count-6587
total-6587
count-6588
total-6588
count-6589
total-6589
count-6590
total-6590
count-6591
total-6591
count-6592
total-6592
count-6593
total-6593
count-6594
total-6594
row 2double_ele[1, 4]
count-6595
total-6595
count-6596
total-6596
count-6597
total-6597
count-6598
total-6598
count-6599
total-6599
count-6600
total-6600
count-6601
total-6601
count-6602
total-6602
count-6603
total-6603
count-6604
total-6604
count-6605
total-6605
count-6606
total-6606
column2 double_ele[3, 5]
count-6607
total-6607
count-6608
total-6608
count-6609
total-6609
count-6610
total-6610
count-6611
total-6611
count-6612
total-6612
count-6613
total-6613
count-6614
total-6614
count-6615
total-6615
count-6616
total-6616
count-6617
total-6617
row 7double_ele[2, 8]
count-6618
total-6618
count-6619
total-6619
count-6620
total-6620
count-6621
total-6621
count-6622
total-6622
count-6623
total-6623
count-6624
total-6624
count-6625
total-6625
count-6626
total-6626
count-6627
total-6627
count-6628
total-6628
count-6629
total-6629
count-6630
total-6630
count-6631
total-6631
count-6632
total-6632
count-6633
total-6633
count-6634
total-6634
row 3double_ele[3, 4]
column4 double_ele[3, 4]
column8 double_ele[3, 4]
count-6635
total-6635
count-6636
total-6636
count-6637
total-6637
row 1double_ele[2, 8]
count-6638
total-6638
count-6639
total-6639
count-6640
total-6640
count-6641
total-6641
count-6642
total-6642
count-6643
total-6643
count-6644
total-6644
count-6645
total-6645
count-6646
total-6646
count-6647
total-6647
count-6648
total-6648
count-6649
total-6649
count-6650
total-6650
count-6651
total-6651
count-6652
total-6652
count-6653
total-6653
count-6654
total-6654
count-6655
total-6655
count-6656
total-6656
count-6657
total-6657
count-6658
total-6658
column3 double_ele[7, 8]
column8 double_ele[1, 8]
count-6659
total-6659
count-6660
total-6660
count-6661
total-6661
count-6662
total-6662
count-6663
total-6663
count-6664
total-6664
count-6665
total-6665
count-6666
total-6666
count-6667
total-6667
count-6668
total-6668
count-6669
total-6669
column4 double_ele[2, 6]
count-6670
total-6670
count-6671
total-6671
count-6672
total-6672
count-6673
total-6673
count-6674
total-6674
count-6675
total-6675
count-6676
total-6676
count-6677
total-6677
column9 double_ele[6, 7]
count-6678
total-6678
count-6679
total-6679
count-6680
total-6680
count-6681
total-6681
count-6682
total-6682
count-6683
total-6683
count-6684
total-6684
box3 triple_ele[1, 5, 7]
count-6685
total-6685
count-6686
total-6686
column3 double_ele[1, 4]
row 6double_ele[1, 4]
box3 triple_ele[1, 3, 4]
count-6687
total-6687
count-6688
total-6688
count-6689
total-6689
count-6690
total-6690
count-6691
total-6691
column3 double_ele[5, 6]
count-6692
total-6692
count-6693
total-6693
count-6694
total-6694
count-6695
total-6695
count-6696
total-6696
count-6697
total-6697
count-6698
total-6698
count-6699
total-6699
count-6700
total-6700
count-6701
total-6701
count-6702
total-6702
count-6703
total-6703
count-6704
total-6704
count-6705
total-6705
column4 double_ele[2, 5]
count-6706
total-6706
column5 double_ele[4, 6]
row 6double_ele[1, 6]
row 7double_ele[4, 6]
column9 double_ele[4, 6]
count-6707
total-6707
count-6708
total-6708
count-6709
total-6709
count-6710
total-6710
count-6711
total-6711
count-6712
total-6712
count-6713
total-6713
count-6714
total-6714
row 2double_ele[1, 4]
count-6715
total-6715
count-6716
total-6716
column2 double_ele[1, 7]
count-6717
total-6717
column7 double_ele[2, 5]
row 7triple_ele[2, 3, 5]
count-6718
total-6718
column6 double_ele[1, 6]
count-6719
total-6719
count-6720
total-6720
count-6721
total-6721
count-6722
total-6722
count-6723
total-6723
count-6724
total-6724
column3 double_ele[2, 7]
column7 double_ele[2, 5]
count-6725
total-6725
count-6726
total-6726
count-6727
total-6727
count-6728
total-6728
count-6729
total-6729
count-6730
total-6730
count-6731
total-6731
count-6732
total-6732
count-6733
total-6733
count-6734
total-6734
count-6735
total-6735
count-6736
total-6736
column2 double_ele[1, 8]
row 5double_ele[1, 8]
row 6double_ele[1, 2]
row 7double_ele[1, 5]
count-6737
total-6737
count-6738
total-6738
column8 double_ele[1, 5]
count-6739
total-6739
count-6740
total-6740
count-6741
total-6741
count-6742
total-6742
count-6743
total-6743
count-6744
total-6744
count-6745
total-6745
count-6746
total-6746
count-6747
total-6747
count-6748
total-6748
row 8double_ele[3, 6]
count-6749
total-6749
count-6750
total-6750
count-6751
total-6751
count-6752
total-6752
count-6753
total-6753
count-6754
total-6754
count-6755
total-6755
count-6756
total-6756
count-6757
total-6757
count-6758
total-6758
count-6759
total-6759
count-6760
total-6760
count-6761
total-6761
count-6762
total-6762
count-6763
total-6763
count-6764
total-6764
count-6765
total-6765
column1 double_ele[2, 4]
column7 double_ele[4, 5]
count-6766
total-6766
count-6767
total-6767
count-6768
total-6768
count-6769
total-6769
count-6770
total-6770
count-6771
total-6771
count-6772
total-6772
column7 double_ele[4, 6]
count-6773
total-6773
count-6774
total-6774
count-6775
total-6775
count-6776
total-6776
count-6777
total-6777
column3 double_ele[2, 5]
row 4double_ele[2, 5]
row 9double_ele[2, 5]
column9 double_ele[2, 5]
count-6778
total-6778
count-6779
total-6779
count-6780
total-6780
count-6781
total-6781
count-6782
total-6782
count-6783
total-6783
row 4triple_ele[1, 2, 6]
count-6784
total-6784
count-6785
total-6785
count-6786
total-6786
count-6787
total-6787
count-6788
total-6788
count-6789
total-6789
count-6790
total-6790
count-6791
total-6791
count-6792
total-6792
count-6793
total-6793
count-6794
total-6794
count-6795
total-6795
column2 double_ele[2, 4]
count-6796
total-6796
column5 double_ele[5, 6]
count-6797
total-6797
count-6798
total-6798
count-6799
total-6799
count-6800
total-6800
column7 double_ele[3, 7]
count-6801
total-6801
count-6802
total-6802
count-6803
total-6803
row 7double_ele[1, 8]
column9 double_ele[1, 8]
count-6804
total-6804
count-6805
total-6805
count-6806
total-6806
count-6807
total-6807
count-6808
total-6808
count-6809
total-6809
count-6810
total-6810
count-6811
total-6811
count-6812
total-6812
count-6813
total-6813
count-6814
total-6814
count-6815
total-6815
count-6816
total-6816
count-6817
total-6817

count-6818
total-6818
count-6819
total-6819
count-6820
total-6820
count-6821
total-6821
count-6822
total-6822
count-6823
total-6823
count-6824
total-6824
count-6825
total-6825
count-6826
total-6826
count-6827
total-6827
count-6828
total-6828
count-6829
total-6829
count-6830
total-6830
count-6831
total-6831
count-6832
total-6832
count-6833
total-6833
count-6834
total-6834
count-6835
total-6835
row 8double_ele[1, 7]
count-6836
total-6836
row 2double_ele[3, 7]
count-6837
total-6837
count-6838
total-6838
count-6839
total-6839
count-6840
total-6840
count-6841
total-6841
row 6double_ele[3, 7]
count-6842
total-6842
row 4double_ele[1, 5]
box6 triple_ele[1, 2, 5]
box6 triple_ele[1, 4, 5]
count-6843
total-6843
count-6844
total-6844
count-6845
total-6845
row 2double_ele[5, 8]
column2 double_ele[5, 8]
row 5double_ele[3, 8]
count-6846
total-6846
count-6847
total-6847
count-6848
total-6848
count-6849
total-6849
count-6850
total-6850
count-6851
total-6851
count-6852
total-6852
count-6853
total-6853
count-6854
total-6854
count-6855
total-6855
count-6856
total-6856
count-6857
total-6857
count-6858
total-6858
count-6859
total-6859
count-6860
total-6860
count-6861
total-6861
count-6862
total-6862
count-6863
total-6863
count-6864
total-6864
count-6865
total-6865
count-6866
total-6866
count-6867
total-6867
row 1double_ele[1, 4]
count-6868
total-6868
count-6869
total-6869
count-6870
total-6870
count-6871
total-6871
count-6872
total-6872
count-6873
total-6873
count-6874
total-6874
count-6875
total-6875
count-6876
total-6876
count-6877
total-6877
count-6878
total-6878
count-6879
total-6879
count-6880
total-6880
count-6881
total-6881
count-6882
total-6882
count-6883
total-6883
count-6884
total-6884
count-6885
total-6885
count-6886
total-6886
count-6887
total-6887
count-6888
total-6888
count-6889
total-6889
count-6890
total-6890
count-6891
total-6891
count-6892
total-6892
count-6893
total-6893
count-6894
total-6894
count-6895
total-6895
count-6896
total-6896
column5 double_ele[4, 9]
column8 double_ele[2, 9]
count-6897
total-6897
count-6898
total-6898
count-6899
total-6899
count-6900
total-6900
column1 double_ele[3, 9]
count-6901
total-6901
count-6902
total-6902
count-6903
total-6903
count-6904
total-6904
count-6905
total-6905
row 1double_ele[1, 6]
count-6906
total-6906
count-6907
total-6907
count-6908
total-6908
count-6909
total-6909
count-6910
total-6910
count-6911
total-6911
column5 double_ele[1, 6]
count-6912
total-6912
count-6913
total-6913
count-6914
total-6914
count-6915
total-6915
count-6916
total-6916
count-6917
total-6917
count-6918
total-6918
row 5double_ele[1, 3]
count-6919
total-6919
count-6920
total-6920
count-6921
total-6921
count-6922
total-6922
count-6923
total-6923
count-6924
total-6924
count-6925
total-6925
count-6926
total-6926
count-6927
total-6927
count-6928
total-6928
count-6929
total-6929
row 2double_ele[1, 4]
count-6930
total-6930
count-6931
total-6931
count-6932
total-6932
count-6933
total-6933
count-6934
total-6934
count-6935
total-6935
count-6936
total-6936
count-6937
total-6937
count-6938
total-6938
count-6939
total-6939
count-6940
total-6940
count-6941
total-6941
count-6942
total-6942
count-6943
total-6943
count-6944
total-6944
count-6945
total-6945
count-6946
total-6946
count-6947
total-6947
count-6948
total-6948
column1 double_ele[3, 4]
count-6949
total-6949
count-6950
total-6950
count-6951
total-6951
count-6952
total-6952
count-6953
total-6953
count-6954
total-6954
count-6955
total-6955
count-6956
total-6956
count-6957
total-6957
count-6958
total-6958
count-6959
total-6959
count-6960
total-6960
count-6961
total-6961
count-6962
total-6962
count-6963
total-6963
row 1double_ele[3, 4]
column2 double_ele[3, 4]
row 6double_ele[3, 4]
count-6964
total-6964
count-6965
total-6965
row 9double_ele[1, 4]
count-6966
total-6966
count-6967
total-6967
count-6968
total-6968
column6 double_ele[1, 5]
count-6969
total-6969
column7 double_ele[1, 4]
count-6970
total-6970
count-6971
total-6971
count-6972
total-6972
count-6973
total-6973
count-6974
total-6974
count-6975
total-6975
count-6976
total-6976
count-6977
total-6977
row 4double_ele[3, 5]
row 8double_ele[2, 5]
count-6978
total-6978
count-6979
total-6979
count-6980
total-6980
count-6981
total-6981
count-6982
total-6982
count-6983
total-6983
count-6984
total-6984
count-6985
total-6985
count-6986
total-6986
count-6987
total-6987
count-6988
total-6988
count-6989
total-6989
row 1double_ele[4, 5]
count-6990
total-6990
count-6991
total-6991
count-6992
total-6992
count-6993
total-6993
row 6double_ele[1, 2]
count-6994
total-6994
count-6995
total-6995
count-6996
total-6996
count-6997
total-6997
count-6998
total-6998
count-6999
total-6999
count-7000
total-7000
count-7001
total-7001
count-7002
total-7002
count-7003
total-7003
count-7004
total-7004
count-7005
total-7005
count-7006
total-7006
count-7007
total-7007
count-7008
total-7008
count-7009
total-7009
count-7010
total-7010
count-7011
total-7011
count-7012
total-7012
count-7013
total-7013
count-7014
total-7014
count-7015
total-7015
count-7016
total-7016
count-7017
total-7017
count-7018
total-7018
count-7019
total-7019
column5 double_ele[1, 4]
row 7double_ele[1, 4]
count-7020
total-7020
count-7021
total-7021
row 1double_ele[1, 3]
row 2double_ele[1, 2]
column4 double_ele[1, 2]
box9 triple_ele[1, 2, 5]
count-7022
total-7022
count-7023
total-7023
count-7024
total-7024
count-7025
total-7025
count-7026
total-7026
count-7027
total-7027
count-7028
total-7028
count-7029
total-7029
count-7030
total-7030
count-7031
total-7031
count-7032
total-7032
column4 double_ele[2, 6]
count-7033
total-7033
count-7034
total-7034
count-7035
total-7035
count-7036
total-7036
column9 double_ele[6, 8]
count-7037
total-7037
count-7038
total-7038
count-7039
total-7039
count-7040
total-7040
column4 double_ele[1, 6]
count-7041
total-7041
count-7042
total-7042
count-7043
total-7043
count-7044
total-7044
count-7045
total-7045
count-7046
total-7046
count-7047
total-7047
count-7048
total-7048
count-7049
total-7049
count-7050
total-7050
count-7051
total-7051
count-7052
total-7052
count-7053
total-7053
count-7054
total-7054
count-7055
total-7055
count-7056
total-7056
count-7057
total-7057
count-7058
total-7058
count-7059
total-7059
count-7060
total-7060
row 8double_ele[5, 6]
count-7061
total-7061
count-7062
total-7062
count-7063
total-7063
count-7064
total-7064
count-7065
total-7065
count-7066
total-7066
count-7067
total-7067
count-7068
total-7068
count-7069
total-7069
count-7070
total-7070
count-7071
total-7071
count-7072
total-7072
count-7073
total-7073
count-7074
total-7074
count-7075
total-7075
count-7076
total-7076
count-7077
total-7077
count-7078
total-7078
count-7079
total-7079
count-7080
total-7080
count-7081
total-7081
count-7082
total-7082
count-7083
total-7083
count-7084
total-7084
count-7085
total-7085
count-7086
total-7086
count-7087
total-7087
count-7088
total-7088
count-7089
total-7089
count-7090
total-7090
count-7091
total-7091
count-7092
total-7092
count-7093
total-7093
count-7094
total-7094
row 3double_ele[3, 6]
count-7095
total-7095
count-7096
total-7096
count-7097
total-7097
count-7098
total-7098
count-7099
total-7099
count-7100
total-7100
count-7101
total-7101
count-7102
total-7102
count-7103
total-7103
count-7104
total-7104
row 6double_ele[1, 5]
count-7105
total-7105
count-7106
total-7106
count-7107
total-7107
count-7108
total-7108
count-7109
total-7109
count-7110
total-7110
column2 double_ele[2, 5]
column8 double_ele[1, 2]
count-7111
total-7111
count-7112
total-7112
count-7113
total-7113
row 1double_ele[1, 9]
row 8double_ele[7, 9]
count-7114
total-7114
count-7115
total-7115
column2 double_ele[2, 5]
count-7116
total-7116
column7 double_ele[3, 6]
count-7117
total-7117
count-7118
total-7118
count-7119
total-7119
count-7120
total-7120
count-7121
total-7121
row 2double_ele[1, 8]
column5 double_ele[2, 8]
row 7double_ele[5, 6]
column8 double_ele[5, 6]
count-7122
total-7122
count-7123
total-7123
count-7124
total-7124
count-7125
total-7125
count-7126
total-7126
count-7127
total-7127
count-7128
total-7128
count-7129
total-7129
row 2double_ele[6, 7]
column2 double_ele[6, 7]
row 9double_ele[7, 9]
count-7130
total-7130
count-7131
total-7131
count-7132
total-7132
count-7133
total-7133
count-7134
total-7134
count-7135
total-7135
count-7136
total-7136
count-7137
total-7137
count-7138
total-7138
count-7139
total-7139

count-7140
total-7140
count-7141
total-7141
count-7142
total-7142
row 3double_ele[2, 3]
column6 double_ele[2, 3]
count-7143
total-7143
count-7144
total-7144
count-7145
total-7145
count-7146
total-7146
count-7147
total-7147
count-7148
total-7148
count-7149
total-7149
count-7150
total-7150
count-7151
total-7151
count-7152
total-7152
count-7153
total-7153
count-7154
total-7154
count-7155
total-7155
count-7156
total-7156
count-7157
total-7157
count-7158
total-7158
count-7159
total-7159
count-7160
total-7160
count-7161
total-7161
count-7162
total-7162
count-7163
total-7163
count-7164
total-7164
count-7165
total-7165
count-7166
total-7166
count-7167
total-7167
count-7168
total-7168
count-7169
total-7169
count-7170
total-7170
column1 double_ele[1, 6]
row 2double_ele[1, 6]
count-7171
total-7171
count-7172
total-7172
count-7173
total-7173
count-7174
total-7174
count-7175
total-7175
row 7double_ele[2, 4]
count-7176
total-7176
count-7177
total-7177
row 9double_ele[2, 4]
count-7178
total-7178
count-7179
total-7179
count-7180
total-7180
count-7181
total-7181
count-7182
total-7182
count-7183
total-7183
count-7184
total-7184
column2 double_ele[1, 2]
row 4double_ele[1, 5]
column9 double_ele[1, 4]
count-7185
total-7185
count-7186
total-7186
count-7187
total-7187
count-7188
total-7188
count-7189
total-7189
count-7190
total-7190
count-7191
total-7191
count-7192
total-7192
row 5double_ele[2, 5]
count-7193
total-7193
count-7194
total-7194
count-7195
total-7195
count-7196
total-7196
count-7197
total-7197
count-7198
total-7198
count-7199
total-7199
count-7200
total-7200
count-7201
total-7201
count-7202
total-7202
count-7203
total-7203
count-7204
total-7204
count-7205
total-7205
row 1double_ele[3, 4]
column6 double_ele[1, 3]
count-7206
total-7206
row 1double_ele[2, 6]
count-7207
total-7207
column3 double_ele[1, 4]
row 4double_ele[1, 4]
count-7208
total-7208
count-7209
total-7209
count-7210
total-7210
count-7211
total-7211
row 2double_ele[1, 5]
row 7double_ele[3, 5]
count-7212
total-7212
count-7213
total-7213
row 1double_ele[4, 7]
count-7214
total-7214
count-7215
total-7215
count-7216
total-7216
count-7217
total-7217
count-7218
total-7218
count-7219
total-7219
count-7220
total-7220
count-7221
total-7221
count-7222
total-7222
count-7223
total-7223
count-7224
total-7224
count-7225
total-7225
row 3double_ele[1, 7]
count-7226
total-7226
count-7227
total-7227
count-7228
total-7228
count-7229
total-7229
column7 double_ele[1, 5]
count-7230
total-7230
count-7231
total-7231
count-7232
total-7232
count-7233
total-7233
count-7234
total-7234
count-7235
total-7235
count-7236
total-7236
count-7237
total-7237
count-7238
total-7238
count-7239
total-7239
count-7240
total-7240
count-7241
total-7241
count-7242
total-7242
count-7243
total-7243
count-7244
total-7244
count-7245
total-7245
count-7246
total-7246
count-7247
total-7247
count-7248
total-7248
count-7249
total-7249
count-7250
total-7250
count-7251
total-7251
count-7252
total-7252
count-7253
total-7253
count-7254
total-7254
count-7255
total-7255
row 3double_ele[2, 4]
count-7256
total-7256
count-7257
total-7257
row 8double_ele[1, 7]
count-7258
total-7258
count-7259
total-7259
count-7260
total-7260
count-7261
total-7261
count-7262
total-7262
count-7263
total-7263
count-7264
total-7264
count-7265
total-7265
column8 double_ele[2, 4]
count-7266
total-7266
count-7267
total-7267
count-7268
total-7268
count-7269
total-7269
count-7270
total-7270
row 1double_ele[3, 4]
column1 double_ele[1, 3]
column9 double_ele[2, 3]
row 8triple_ele[1, 2, 3]
count-7271
total-7271
count-7272
total-7272
count-7273
total-7273
count-7274
total-7274
count-7275
total-7275
count-7276
total-7276
count-7277
total-7277
count-7278
total-7278
count-7279
total-7279
count-7280
total-7280
count-7281
total-7281
count-7282
total-7282
count-7283
total-7283
count-7284
total-7284
count-7285
total-7285
count-7286
total-7286
count-7287
total-7287
row 3double_ele[2, 7]
count-7288
total-7288
count-7289
total-7289
count-7290
total-7290
count-7291
total-7291
count-7292
total-7292
column9 double_ele[2, 3]
count-7293
total-7293
count-7294
total-7294
count-7295
total-7295
count-7296
total-7296
count-7297
total-7297
count-7298
total-7298
row 5double_ele[4, 6]
count-7299
total-7299
count-7300
total-7300
count-7301
total-7301
count-7302
total-7302
count-7303
total-7303
count-7304
total-7304
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-7305
total-7305
count-7306
total-7306
count-7307
total-7307
count-7308
total-7308
count-7309
total-7309
count-7310
total-7310
count-7311
total-7311
count-7312
total-7312
count-7313
total-7313
count-7314
total-7314
count-7315
total-7315
count-7316
total-7316
column4 double_ele[4, 6]
row 6double_ele[4, 6]
count-7317
total-7317
row 3double_ele[2, 9]
column7 double_ele[2, 9]
count-7318
total-7318
count-7319
total-7319
count-7320
total-7320
count-7321
total-7321
count-7322
total-7322
count-7323
total-7323
count-7324
total-7324
count-7325
total-7325
count-7326
total-7326
row 2double_ele[6, 7]
column2 double_ele[6, 7]
count-7327
total-7327
count-7328
total-7328
column9 double_ele[2, 6]
count-7329
total-7329
row 1double_ele[2, 5]
column2 double_ele[2, 5]
count-7330
total-7330
count-7331
total-7331
count-7332
total-7332
count-7333
total-7333
count-7334
total-7334
count-7335
total-7335
count-7336
total-7336
count-7337
total-7337
count-7338
total-7338
count-7339
total-7339
count-7340
total-7340
count-7341
total-7341
count-7342
total-7342
count-7343
total-7343
column9 double_ele[4, 8]
count-7344
total-7344
count-7345
total-7345
column1 double_ele[2, 6]
row 7double_ele[2, 6]
count-7346
total-7346
count-7347
total-7347
row 7double_ele[1, 2]
count-7348
total-7348
count-7349
total-7349
row 8double_ele[1, 4]
count-7350
total-7350
count-7351
total-7351
count-7352
total-7352
count-7353
total-7353
count-7354
total-7354
count-7355
total-7355
count-7356
total-7356
count-7357
total-7357
count-7358
total-7358
count-7359
total-7359
count-7360
total-7360
count-7361
total-7361
count-7362
total-7362
row 1double_ele[1, 2]
count-7363
total-7363
count-7364
total-7364
count-7365
total-7365
count-7366
total-7366
count-7367
total-7367
count-7368
total-7368
count-7369
total-7369
column4 double_ele[1, 4]
row 8double_ele[1, 4]
count-7370
total-7370
count-7371
total-7371
count-7372
total-7372
count-7373
total-7373
count-7374
total-7374
count-7375
total-7375
count-7376
total-7376
count-7377
total-7377
row 9double_ele[3, 6]
count-7378
total-7378
count-7379
total-7379
count-7380
total-7380
count-7381
total-7381
count-7382
total-7382
row 1double_ele[1, 2]
row 7double_ele[2, 3]
column8 double_ele[2, 3]
count-7383
total-7383
row 5double_ele[1, 4]
count-7384
total-7384
count-7385
total-7385
count-7386
total-7386
row 5double_ele[5, 6]
column6 double_ele[5, 6]
row 8double_ele[1, 3]
count-7387
total-7387
column6 double_ele[1, 2]
count-7388
total-7388
count-7389
total-7389
count-7390
total-7390
count-7391
total-7391
count-7392
total-7392
count-7393
total-7393
count-7394
total-7394
count-7395
total-7395
column7 double_ele[5, 6]
count-7396
total-7396
count-7397
total-7397
column2 double_ele[1, 5]
count-7398
total-7398
count-7399
total-7399
count-7400
total-7400
count-7401
total-7401
row 1double_ele[1, 4]
count-7402
total-7402
count-7403
total-7403
count-7404
total-7404
count-7405
total-7405
count-7406
total-7406
count-7407
total-7407
count-7408
total-7408
count-7409
total-7409
count-7410
total-7410
count-7411
total-7411
count-7412
total-7412
count-7413
total-7413
count-7414
total-7414
count-7415
total-7415
count-7416
total-7416
column5 double_ele[3, 5]
count-7417
total-7417
count-7418
total-7418
count-7419
total-7419
count-7420
total-7420
row 6double_ele[3, 8]
count-7421
total-7421
count-7422
total-7422
count-7423
total-7423
count-7424
total-7424
count-7425
total-7425
count-7426
total-7426
count-7427
total-7427
count-7428
total-7428
count-7429
total-7429
count-7430
total-7430
count-7431
total-7431
count-7432
total-7432
count-7433
total-7433
count-7434
total-7434
count-7435
total-7435
count-7436
total-7436
count-7437
total-7437
count-7438
total-7438
count-7439
total-7439
count-7440
total-7440
column6 double_ele[1, 3]
count-7441
total-7441
column8 double_ele[2, 8]
row 9double_ele[2, 8]
count-7442
total-7442
column1 double_ele[4, 6]
column4 double_ele[4, 5]
count-7443
total-7443
count-7444
total-7444
count-7445
total-7445
count-7446
total-7446
count-7447
total-7447
count-7448
total-7448
row 4double_ele[2, 3]
count-7449
total-7449
count-7450
total-7450
count-7451
total-7451
count-7452
total-7452
count-7453
total-7453
count-7454
total-7454

count-7455
total-7455
count-7456
total-7456
count-7457
total-7457
row 1double_ele[1, 3]
column1 double_ele[1, 9]
row 5double_ele[3, 9]
row 9double_ele[1, 9]
column9 double_ele[3, 9]
count-7458
total-7458
row 7double_ele[1, 6]
count-7459
total-7459
count-7460
total-7460
count-7461
total-7461
count-7462
total-7462
count-7463
total-7463
count-7464
total-7464
count-7465
total-7465
count-7466
total-7466
count-7467
total-7467
count-7468
total-7468
count-7469
total-7469
count-7470
total-7470
count-7471
total-7471
count-7472
total-7472
count-7473
total-7473
count-7474
total-7474
count-7475
total-7475
count-7476
total-7476
count-7477
total-7477
count-7478
total-7478
count-7479
total-7479
count-7480
total-7480
count-7481
total-7481
count-7482
total-7482
count-7483
total-7483
count-7484
total-7484
count-7485
total-7485
count-7486
total-7486
count-7487
total-7487
count-7488
total-7488
count-7489
total-7489
count-7490
total-7490
row 2double_ele[6, 8]
column4 double_ele[6, 8]
column8 double_ele[3, 8]
count-7491
total-7491
count-7492
total-7492
count-7493
total-7493
count-7494
total-7494
count-7495
total-7495
count-7496
total-7496
count-7497
total-7497
count-7498
total-7498
count-7499
total-7499
count-7500
total-7500
count-7501
total-7501
count-7502
total-7502
count-7503
total-7503
count-7504
total-7504
count-7505
total-7505
count-7506
total-7506
count-7507
total-7507
count-7508
total-7508
row 8double_ele[3, 6]
count-7509
total-7509
count-7510
total-7510
count-7511
total-7511
count-7512
total-7512
column5 double_ele[1, 5]
count-7513
total-7513
count-7514
total-7514
count-7515
total-7515
count-7516
total-7516
count-7517
total-7517
count-7518
total-7518
column3 double_ele[6, 8]
row 4double_ele[6, 8]
count-7519
total-7519
count-7520
total-7520
count-7521
total-7521
count-7522
total-7522
count-7523
total-7523
count-7524
total-7524
count-7525
total-7525
count-7526
total-7526
count-7527
total-7527
count-7528
total-7528
count-7529
total-7529
count-7530
total-7530
count-7531
total-7531
count-7532
total-7532
count-7533
total-7533
count-7534
total-7534
count-7535
total-7535
count-7536
total-7536
count-7537
total-7537
count-7538
total-7538
count-7539
total-7539
count-7540
total-7540
count-7541
total-7541
count-7542
total-7542
count-7543
total-7543
column4 double_ele[1, 6]
count-7544
total-7544
count-7545
total-7545
count-7546
total-7546
count-7547
total-7547
count-7548
total-7548
count-7549
total-7549
count-7550
total-7550
count-7551
total-7551
count-7552
total-7552
column4 double_ele[1, 3]
count-7553
total-7553
row 2double_ele[2, 3]
count-7554
total-7554
count-7555
total-7555
count-7556
total-7556
count-7557
total-7557
column5 double_ele[3, 4]
count-7558
total-7558
count-7559
total-7559
count-7560
total-7560
count-7561
total-7561
row 7double_ele[1, 6]
count-7562
total-7562
count-7563
total-7563
row 7double_ele[1, 3]
count-7564
total-7564
count-7565
total-7565
column7 double_ele[2, 4]
count-7566
total-7566
count-7567
total-7567
count-7568
total-7568
count-7569
total-7569
count-7570
total-7570
count-7571
total-7571
count-7572
total-7572
count-7573
total-7573
count-7574
total-7574
count-7575
total-7575
count-7576
total-7576
count-7577
total-7577
count-7578
total-7578
count-7579
total-7579
count-7580
total-7580
count-7581
total-7581
count-7582
total-7582
count-7583
total-7583
count-7584
total-7584
count-7585
total-7585
count-7586
total-7586
count-7587
total-7587
count-7588
total-7588
count-7589
total-7589
count-7590
total-7590
count-7591
total-7591
count-7592
total-7592
count-7593
total-7593
count-7594
total-7594
count-7595
total-7595
count-7596
total-7596
count-7597
total-7597
count-7598
total-7598
count-7599
total-7599
count-7600
total-7600
column5 double_ele[5, 6]
count-7601
total-7601
count-7602
total-7602
count-7603
total-7603
count-7604
total-7604
count-7605
total-7605
count-7606
total-7606
count-7607
total-7607
count-7608
total-7608
count-7609
total-7609
count-7610
total-7610
count-7611
total-7611
count-7612
total-7612
count-7613
total-7613
count-7614
total-7614
count-7615
total-7615
count-7616
total-7616
count-7617
total-7617
column4 double_ele[1, 2]
count-7618
total-7618
count-7619
total-7619
count-7620
total-7620
count-7621
total-7621
count-7622
total-7622
count-7623
total-7623
count-7624
total-7624
count-7625
total-7625
count-7626
total-7626
count-7627
total-7627
count-7628
total-7628
count-7629
total-7629
count-7630
total-7630
count-7631
total-7631
count-7632
total-7632
count-7633
total-7633
count-7634
total-7634
count-7635
total-7635
count-7636
total-7636
count-7637
total-7637
count-7638
total-7638
count-7639
total-7639
count-7640
total-7640
count-7641
total-7641
count-7642
total-7642
count-7643
total-7643
count-7644
total-7644
count-7645
total-7645
row 3double_ele[1, 3]
count-7646
total-7646
count-7647
total-7647
count-7648
total-7648
count-7649
total-7649
count-7650
total-7650
count-7651
total-7651
count-7652
total-7652
row 5double_ele[3, 4]
column5 double_ele[3, 4]
count-7653
total-7653
count-7654
total-7654
count-7655
total-7655
count-7656
total-7656
count-7657
total-7657
count-7658
total-7658
count-7659
total-7659
count-7660
total-7660
count-7661
total-7661
count-7662
total-7662
count-7663
total-7663
count-7664
total-7664
count-7665
total-7665
count-7666
total-7666
count-7667
total-7667
row 2double_ele[1, 2]
count-7668
total-7668
row 2double_ele[1, 4]
column3 double_ele[1, 8]
row 6double_ele[1, 8]
count-7669
total-7669
count-7670
total-7670
count-7671
total-7671
count-7672
total-7672
count-7673
total-7673
count-7674
total-7674
row 4double_ele[4, 6]
count-7675
total-7675
count-7676
total-7676
count-7677
total-7677
count-7678
total-7678
count-7679
total-7679
count-7680
total-7680
count-7681
total-7681
count-7682
total-7682
count-7683
total-7683
count-7684
total-7684
count-7685
total-7685
count-7686
total-7686
count-7687
total-7687
count-7688
total-7688
count-7689
total-7689
count-7690
total-7690
count-7691
total-7691
count-7692
total-7692
count-7693
total-7693
count-7694
total-7694
count-7695
total-7695
count-7696
total-7696
count-7697
total-7697
count-7698
total-7698
box3 triple_ele[1, 2, 5]
count-7699
total-7699
count-7700
total-7700
count-7701
total-7701
count-7702
total-7702
count-7703
total-7703
count-7704
total-7704
count-7705
total-7705
count-7706
total-7706
row 2double_ele[1, 3]
row 5double_ele[1, 3]
column7 double_ele[1, 3]
row 9double_ele[3, 5]
column9 double_ele[1, 3]
count-7707
total-7707
count-7708
total-7708
count-7709
total-7709
count-7710
total-7710
count-7711
total-7711
column2 double_ele[1, 6]
count-7712
total-7712
row 1double_ele[4, 7]
count-7713
total-7713
row 9double_ele[3, 7]
count-7714
total-7714
count-7715
total-7715
count-7716
total-7716
count-7717
total-7717
count-7718
total-7718
column4 double_ele[3, 4]
count-7719
total-7719
count-7720
total-7720
count-7721
total-7721
count-7722
total-7722
box9 triple_ele[1, 3, 9]
count-7723
total-7723
count-7724
total-7724
count-7725
total-7725
column6 double_ele[2, 3]
count-7726
total-7726
count-7727
total-7727
count-7728
total-7728
count-7729
total-7729
count-7730
total-7730
count-7731
total-7731
count-7732
total-7732
count-7733
total-7733
count-7734
total-7734
column3 double_ele[6, 7]
row 9double_ele[6, 7]
count-7735
total-7735
count-7736
total-7736
count-7737
total-7737
count-7738
total-7738
count-7739
total-7739
count-7740
total-7740
count-7741
total-7741
count-7742
total-7742
count-7743
total-7743
row 6double_ele[1, 3]
count-7744
total-7744
count-7745
total-7745
count-7746
total-7746
count-7747
total-7747
count-7748
total-7748
count-7749
total-7749
row 5double_ele[1, 2]
count-7750
total-7750
count-7751
total-7751
count-7752
total-7752
count-7753
total-7753
count-7754
total-7754
count-7755
total-7755
count-7756
total-7756
count-7757
total-7757
count-7758
total-7758
count-7759
total-7759
count-7760
total-7760
column2 double_ele[2, 7]
column4 double_ele[2, 4]
count-7761
total-7761
count-7762
total-7762
count-7763
total-7763
column2 double_ele[1, 4]
row 8double_ele[1, 4]
count-7764
total-7764
count-7765
total-7765
count-7766
total-7766
count-7767
total-7767
count-7768
total-7768
count-7769
total-7769
count-7770
total-7770
count-7771
total-7771
count-7772
total-7772
count-7773
total-7773
count-7774
total-7774
count-7775
total-7775
count-7776
total-7776
count-7777
total-7777
count-7778
total-7778
row 1double_ele[3, 5]
count-7779
total-7779
count-7780
total-7780
count-7781
total-7781

count-7782
total-7782
count-7783
total-7783
count-7784
total-7784
count-7785
total-7785
count-7786
total-7786
row 6double_ele[1, 4]
column9 double_ele[1, 4]
row 5triple_ele[1, 2, 4]
box6 triple_ele[1, 2, 4]
count-7787
total-7787
count-7788
total-7788
count-7789
total-7789
count-7790
total-7790
count-7791
total-7791
count-7792
total-7792
row 1double_ele[3, 4]
column1 double_ele[3, 4]
count-7793
total-7793
count-7794
total-7794
count-7795
total-7795
count-7796
total-7796
count-7797
total-7797
count-7798
total-7798
count-7799
total-7799
count-7800
total-7800
count-7801
total-7801
count-7802
total-7802
count-7803
total-7803
count-7804
total-7804
row 2double_ele[1, 8]
count-7805
total-7805
count-7806
total-7806
row 3double_ele[1, 6]
column3 double_ele[1, 6]
row 8double_ele[1, 4]
column8 double_ele[1, 4]
box9 triple_ele[1, 4, 5]
count-7807
total-7807
count-7808
total-7808
count-7809
total-7809
count-7810
total-7810
count-7811
total-7811
count-7812
total-7812
count-7813
total-7813
count-7814
total-7814
count-7815
total-7815
count-7816
total-7816
count-7817
total-7817
count-7818
total-7818
count-7819
total-7819
count-7820
total-7820
count-7821
total-7821
count-7822
total-7822
count-7823
total-7823
count-7824
total-7824
count-7825
total-7825
count-7826
total-7826
count-7827
total-7827
count-7828
total-7828
count-7829
total-7829
count-7830
total-7830
count-7831
total-7831
count-7832
total-7832
count-7833
total-7833
count-7834
total-7834
count-7835
total-7835
count-7836
total-7836
count-7837
total-7837
count-7838
total-7838
count-7839
total-7839
column3 double_ele[1, 7]
count-7840
total-7840
count-7841
total-7841
count-7842
total-7842
count-7843
total-7843
count-7844
total-7844
count-7845
total-7845
count-7846
total-7846
count-7847
total-7847
row 3double_ele[1, 3]
count-7848
total-7848
count-7849
total-7849
count-7850
total-7850
count-7851
total-7851
count-7852
total-7852
count-7853
total-7853
count-7854
total-7854
count-7855
total-7855
count-7856
total-7856
count-7857
total-7857
count-7858
total-7858
count-7859
total-7859
count-7860
total-7860
count-7861
total-7861
row 1double_ele[2, 6]
column6 double_ele[2, 6]
count-7862
total-7862
count-7863
total-7863
count-7864
total-7864
count-7865
total-7865
count-7866
total-7866
count-7867
total-7867
count-7868
total-7868
count-7869
total-7869
row 6double_ele[2, 5]
count-7870
total-7870
count-7871
total-7871
count-7872
total-7872
count-7873
total-7873
count-7874
total-7874
count-7875
total-7875
count-7876
total-7876
count-7877
total-7877
count-7878
total-7878
count-7879
total-7879
count-7880
total-7880
count-7881
total-7881
count-7882
total-7882
count-7883
total-7883
count-7884
total-7884
column8 double_ele[1, 4]
count-7885
total-7885
count-7886
total-7886
count-7887
total-7887
count-7888
total-7888
count-7889
total-7889
count-7890
total-7890
row 4double_ele[1, 4]
column4 double_ele[1, 4]
count-7891
total-7891
count-7892
total-7892
count-7893
total-7893
count-7894
total-7894
count-7895
total-7895
count-7896
total-7896
row 2double_ele[2, 9]
count-7897
total-7897
count-7898
total-7898
count-7899
total-7899
count-7900
total-7900
count-7901
total-7901
count-7902
total-7902
count-7903
total-7903
count-7904
total-7904
count-7905
total-7905
count-7906
total-7906
count-7907
total-7907
row 2double_ele[3, 5]
column9 double_ele[1, 4]
count-7908
total-7908
count-7909
total-7909
count-7910
total-7910
count-7911
total-7911
count-7912
total-7912
count-7913
total-7913
count-7914
total-7914
count-7915
total-7915
count-7916
total-7916
column3 double_ele[1, 5]
row 7double_ele[1, 5]
count-7917
total-7917
count-7918
total-7918
count-7919
total-7919
column1 double_ele[2, 7]
column8 double_ele[7, 8]
count-7920
total-7920
count-7921
total-7921
count-7922
total-7922
count-7923
total-7923
count-7924
total-7924
count-7925
total-7925
column2 double_ele[3, 5]
count-7926
total-7926
count-7927
total-7927
count-7928
total-7928
count-7929
total-7929
count-7930
total-7930
count-7931
total-7931
count-7932
total-7932
row 7double_ele[3, 6]
count-7933
total-7933
count-7934
total-7934
count-7935
total-7935
count-7936
total-7936
count-7937
total-7937
count-7938
total-7938
column1 double_ele[5, 7]
count-7939
total-7939
count-7940
total-7940
row 4double_ele[2, 5]
column8 double_ele[2, 5]
count-7941
total-7941
count-7942
total-7942
count-7943
total-7943
count-7944
total-7944
count-7945
total-7945
count-7946
total-7946
count-7947
total-7947
count-7948
total-7948
count-7949
total-7949
column8 double_ele[5, 6]
count-7950
total-7950
count-7951
total-7951
column1 double_ele[3, 7]
count-7952
total-7952
count-7953
total-7953
count-7954
total-7954
count-7955
total-7955
count-7956
total-7956
count-7957
total-7957
count-7958
total-7958
count-7959
total-7959
count-7960
total-7960
count-7961
total-7961
count-7962
total-7962
count-7963
total-7963
count-7964
total-7964
count-7965
total-7965
row 2double_ele[2, 7]
count-7966
total-7966
row 7double_ele[1, 2]
column7 double_ele[1, 2]
count-7967
total-7967
count-7968
total-7968
count-7969
total-7969
column1 double_ele[5, 7]
row 7double_ele[5, 7]
count-7970
total-7970
row 1double_ele[1, 2]
count-7971
total-7971
count-7972
total-7972
count-7973
total-7973
count-7974
total-7974
count-7975
total-7975
count-7976
total-7976
count-7977
total-7977
count-7978
total-7978
count-7979
total-7979
count-7980
total-7980
count-7981
total-7981
count-7982
total-7982
count-7983
total-7983
row 7double_ele[3, 4]
count-7984
total-7984
count-7985
total-7985
count-7986
total-7986
count-7987
total-7987
count-7988
total-7988
count-7989
total-7989
count-7990
total-7990
count-7991
total-7991
count-7992
total-7992
count-7993
total-7993
column6 double_ele[5, 6]
count-7994
total-7994
count-7995
total-7995
count-7996
total-7996
count-7997
total-7997
count-7998
total-7998
count-7999
total-7999
count-8000
total-8000
count-8001
total-8001
count-8002
total-8002
count-8003
total-8003
count-8004
total-8004
count-8005
total-8005
count-8006
total-8006
count-8007
total-8007
count-8008
total-8008
count-8009
total-8009
column9 double_ele[2, 5]
count-8010
total-8010
count-8011
total-8011
column8 double_ele[1, 4]
count-8012
total-8012
count-8013
total-8013
count-8014
total-8014
count-8015
total-8015
count-8016
total-8016
count-8017
total-8017
count-8018
total-8018
count-8019
total-8019
count-8020
total-8020
count-8021
total-8021
count-8022
total-8022
count-8023
total-8023
count-8024
total-8024
count-8025
total-8025
count-8026
total-8026
count-8027
total-8027
count-8028
total-8028
count-8029
total-8029
column1 double_ele[3, 6]
count-8030
total-8030
row 9double_ele[3, 7]
count-8031
total-8031
count-8032
total-8032
count-8033
total-8033
count-8034
total-8034
count-8035
total-8035
count-8036
total-8036
count-8037
total-8037
count-8038
total-8038
count-8039
total-8039
count-8040
total-8040
count-8041
total-8041
row 4double_ele[1, 5]
count-8042
total-8042
count-8043
total-8043
count-8044
total-8044
count-8045
total-8045
count-8046
total-8046
count-8047
total-8047
count-8048
total-8048
count-8049
total-8049
count-8050
total-8050
count-8051
total-8051
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-8052
total-8052
column1 double_ele[2, 6]
count-8053
total-8053
count-8054
total-8054
count-8055
total-8055
count-8056
total-8056
count-8057
total-8057
count-8058
total-8058
count-8059
total-8059
count-8060
total-8060
count-8061
total-8061
count-8062
total-8062
count-8063
total-8063
count-8064
total-8064
count-8065
total-8065
count-8066
total-8066
count-8067
total-8067
row 2double_ele[3, 5]
column3 double_ele[3, 5]
count-8068
total-8068
count-8069
total-8069
count-8070
total-8070
count-8071
total-8071
count-8072
total-8072
count-8073
total-8073
count-8074
total-8074
count-8075
total-8075
count-8076
total-8076
count-8077
total-8077
count-8078
total-8078
count-8079
total-8079
count-8080
total-8080
count-8081
total-8081
count-8082
total-8082
count-8083
total-8083
count-8084
total-8084
count-8085
total-8085
count-8086
total-8086
count-8087
total-8087
count-8088
total-8088
count-8089
total-8089
count-8090
total-8090
row 8double_ele[1, 7]
count-8091
total-8091
row 8double_ele[2, 3]
column8 double_ele[2, 5]
count-8092
total-8092
count-8093
total-8093
column2 double_ele[1, 3]
count-8094
total-8094
count-8095
total-8095
count-8096
total-8096
count-8097
total-8097
count-8098
total-8098
count-8099
total-8099
count-8100
total-8100
count-8101
total-8101
count-8102
total-8102
count-8103
total-8103
count-8104
total-8104
count-8105
total-8105
count-8106
total-8106
row 3double_ele[2, 6]
column8 double_ele[2, 6]
count-8107
total-8107
count-8108
total-8108
count-8109
total-8109
count-8110
total-8110
count-8111
total-8111
count-8112
total-8112
count-8113
total-8113
count-8114
total-8114
count-8115
total-8115
count-8116
total-8116
count-8117
total-8117
count-8118
total-8118
count-8119
total-8119

count-8120
total-8120
row 2double_ele[1, 8]
row 7double_ele[4, 8]
count-8121
total-8121
count-8122
total-8122
count-8123
total-8123
count-8124
total-8124
count-8125
total-8125
row 1double_ele[5, 7]
row 2double_ele[1, 5]
row 3double_ele[1, 5]
column8 double_ele[1, 5]
count-8126
total-8126
column8 double_ele[1, 3]
count-8127
total-8127
count-8128
total-8128
count-8129
total-8129
column8 double_ele[1, 5]
count-8130
total-8130
row 3double_ele[2, 3]
column9 double_ele[2, 3]
count-8131
total-8131
count-8132
total-8132
count-8133
total-8133
count-8134
total-8134
count-8135
total-8135
count-8136
total-8136
count-8137
total-8137
count-8138
total-8138
count-8139
total-8139
count-8140
total-8140
count-8141
total-8141
column7 double_ele[2, 5]
count-8142
total-8142
count-8143
total-8143
count-8144
total-8144
count-8145
total-8145
count-8146
total-8146
count-8147
total-8147
count-8148
total-8148
count-8149
total-8149
count-8150
total-8150
count-8151
total-8151
count-8152
total-8152
count-8153
total-8153
count-8154
total-8154
count-8155
total-8155
count-8156
total-8156
count-8157
total-8157
count-8158
total-8158
count-8159
total-8159
count-8160
total-8160
count-8161
total-8161
count-8162
total-8162
count-8163
total-8163
count-8164
total-8164
count-8165
total-8165
count-8166
total-8166
count-8167
total-8167
count-8168
total-8168
count-8169
total-8169
count-8170
total-8170
count-8171
total-8171
count-8172
total-8172
column2 double_ele[6, 7]
column6 double_ele[2, 5]
box6 triple_ele[3, 6, 7]
count-8173
total-8173
count-8174
total-8174
count-8175
total-8175
row 2double_ele[5, 6]
column3 double_ele[5, 6]
column5 double_ele[5, 6]
count-8176
total-8176
count-8177
total-8177
count-8178
total-8178
count-8179
total-8179
count-8180
total-8180
count-8181
total-8181
row 1double_ele[1, 4]
count-8182
total-8182
count-8183
total-8183
column1 double_ele[1, 6]
count-8184
total-8184
count-8185
total-8185
count-8186
total-8186
count-8187
total-8187
count-8188
total-8188
count-8189
total-8189
count-8190
total-8190
count-8191
total-8191
count-8192
total-8192
count-8193
total-8193
count-8194
total-8194
count-8195
total-8195
count-8196
total-8196
row 3double_ele[2, 5]
column3 double_ele[2, 5]
count-8197
total-8197
count-8198
total-8198
count-8199
total-8199
count-8200
total-8200
count-8201
total-8201
column2 double_ele[2, 4]
row 6double_ele[2, 4]
count-8202
total-8202
count-8203
total-8203
count-8204
total-8204
count-8205
total-8205
count-8206
total-8206
count-8207
total-8207
count-8208
total-8208
count-8209
total-8209
count-8210
total-8210
count-8211
total-8211
count-8212
total-8212
count-8213
total-8213
count-8214
total-8214
count-8215
total-8215
count-8216
total-8216
count-8217
total-8217
count-8218
total-8218
count-8219
total-8219
count-8220
total-8220
count-8221
total-8221
count-8222
total-8222
count-8223
total-8223
column9 double_ele[1, 4]
count-8224
total-8224
count-8225
total-8225
count-8226
total-8226
count-8227
total-8227
count-8228
total-8228
row 4double_ele[1, 4]
count-8229
total-8229
count-8230
total-8230
count-8231
total-8231
count-8232
total-8232
count-8233
total-8233
count-8234
total-8234
count-8235
total-8235
count-8236
total-8236
row 6double_ele[2, 6]
count-8237
total-8237
count-8238
total-8238
count-8239
total-8239
count-8240
total-8240
count-8241
total-8241
count-8242
total-8242
count-8243
total-8243
row 1double_ele[1, 6]
row 9double_ele[6, 8]
count-8244
total-8244
count-8245
total-8245
count-8246
total-8246
count-8247
total-8247
row 2double_ele[2, 5]
row 7double_ele[2, 5]
column8 double_ele[2, 5]
count-8248
total-8248
count-8249
total-8249
count-8250
total-8250
count-8251
total-8251
row 1double_ele[4, 9]
row 8double_ele[1, 4]
count-8252
total-8252
count-8253
total-8253
count-8254
total-8254
count-8255
total-8255
count-8256
total-8256
count-8257
total-8257
count-8258
total-8258
count-8259
total-8259
count-8260
total-8260
count-8261
total-8261
count-8262
total-8262
count-8263
total-8263
count-8264
total-8264
count-8265
total-8265
count-8266
total-8266
count-8267
total-8267
count-8268
total-8268
count-8269
total-8269
count-8270
total-8270
count-8271
total-8271
count-8272
total-8272
count-8273
total-8273
count-8274
total-8274
row 9double_ele[1, 4]
count-8275
total-8275
count-8276
total-8276
count-8277
total-8277
count-8278
total-8278
count-8279
total-8279
count-8280
total-8280
count-8281
total-8281
count-8282
total-8282
count-8283
total-8283
count-8284
total-8284
count-8285
total-8285
count-8286
total-8286
count-8287
total-8287
count-8288
total-8288
count-8289
total-8289
count-8290
total-8290
count-8291
total-8291
count-8292
total-8292
count-8293
total-8293
count-8294
total-8294
count-8295
total-8295
count-8296
total-8296
count-8297
total-8297
count-8298
total-8298
count-8299
total-8299
count-8300
total-8300
count-8301
total-8301
count-8302
total-8302
count-8303
total-8303
row 5double_ele[2, 7]
column3 triple_ele[1, 5, 9]
count-8304
total-8304
count-8305
total-8305
count-8306
total-8306
count-8307
total-8307
count-8308
total-8308
count-8309
total-8309
count-8310
total-8310
count-8311
total-8311
row 6double_ele[1, 2]
count-8312
total-8312
count-8313
total-8313
count-8314
total-8314
count-8315
total-8315
row 6double_ele[2, 5]
count-8316
total-8316
count-8317
total-8317
count-8318
total-8318
count-8319
total-8319
count-8320
total-8320
count-8321
total-8321
count-8322
total-8322
count-8323
total-8323
count-8324
total-8324
count-8325
total-8325
count-8326
total-8326
count-8327
total-8327
column5 double_ele[1, 5]
count-8328
total-8328
column6 double_ele[3, 4]
count-8329
total-8329
count-8330
total-8330
count-8331
total-8331
count-8332
total-8332
count-8333
total-8333
row 2double_ele[1, 7]
count-8334
total-8334
count-8335
total-8335
count-8336
total-8336
count-8337
total-8337
count-8338
total-8338
count-8339
total-8339
count-8340
total-8340
row 3double_ele[3, 7]
column5 double_ele[3, 7]
count-8341
total-8341
row 2double_ele[1, 8]
count-8342
total-8342
count-8343
total-8343
count-8344
total-8344
count-8345
total-8345
row 2double_ele[1, 4]
count-8346
total-8346
count-8347
total-8347
count-8348
total-8348
row 1double_ele[1, 2]
count-8349
total-8349
count-8350
total-8350
count-8351
total-8351
count-8352
total-8352
count-8353
total-8353
count-8354
total-8354
count-8355
total-8355
column4 double_ele[2, 4]
count-8356
total-8356
count-8357
total-8357
count-8358
total-8358
count-8359
total-8359
count-8360
total-8360
count-8361
total-8361
count-8362
total-8362
count-8363
total-8363
count-8364
total-8364
count-8365
total-8365
count-8366
total-8366
count-8367
total-8367
count-8368
total-8368
count-8369
total-8369
column3 double_ele[1, 4]
count-8370
total-8370
count-8371
total-8371
count-8372
total-8372
count-8373
total-8373
count-8374
total-8374
count-8375
total-8375
count-8376
total-8376
count-8377
total-8377
row 7double_ele[1, 7]
count-8378
total-8378
count-8379
total-8379
count-8380
total-8380
count-8381
total-8381
count-8382
total-8382
count-8383
total-8383
count-8384
total-8384
count-8385
total-8385
count-8386
total-8386
count-8387
total-8387
count-8388
total-8388
count-8389
total-8389
count-8390
total-8390
count-8391
total-8391
count-8392
total-8392
count-8393
total-8393
count-8394
total-8394
count-8395
total-8395
count-8396
total-8396
count-8397
total-8397
count-8398
total-8398
count-8399
total-8399
count-8400
total-8400
count-8401
total-8401
count-8402
total-8402
count-8403
total-8403
count-8404
total-8404
count-8405
total-8405
count-8406
total-8406
count-8407
total-8407
column8 double_ele[1, 2]
count-8408
total-8408
count-8409
total-8409
column7 double_ele[4, 5]
count-8410
total-8410
count-8411
total-8411
count-8412
total-8412
count-8413
total-8413
row 4double_ele[2, 3]
count-8414
total-8414
count-8415
total-8415
count-8416
total-8416
count-8417
total-8417
count-8418
total-8418
count-8419
total-8419
count-8420
total-8420
count-8421
total-8421
count-8422
total-8422
count-8423
total-8423
count-8424
total-8424
count-8425
total-8425
count-8426
total-8426
row 6double_ele[2, 4]
count-8427
total-8427
count-8428
total-8428
count-8429
total-8429
count-8430
total-8430
count-8431
total-8431
count-8432
total-8432
count-8433
total-8433
count-8434
total-8434
count-8435
total-8435
count-8436
total-8436
count-8437
total-8437
count-8438
total-8438
count-8439
total-8439
count-8440
total-8440
count-8441
total-8441
count-8442
total-8442
count-8443
total-8443
count-8444
total-8444
count-8445
total-8445
count-8446
total-8446
count-8447
total-8447
count-8448
total-8448
count-8449
total-8449
count-8450
total-8450
count-8451
total-8451
count-8452
total-8452
count-8453
total-8453

count-8454
total-8454
count-8455
total-8455
count-8456
total-8456
count-8457
total-8457
count-8458
total-8458
row 3double_ele[4, 5]
column3 double_ele[4, 5]
count-8459
total-8459
count-8460
total-8460
count-8461
total-8461
count-8462
total-8462
column2 double_ele[1, 2]
count-8463
total-8463
column1 double_ele[1, 6]
row 6double_ele[1, 6]
column9 double_ele[1, 5]
count-8464
total-8464
count-8465
total-8465
count-8466
total-8466
count-8467
total-8467
count-8468
total-8468
row 7double_ele[1, 2]
count-8469
total-8469
count-8470
total-8470
count-8471
total-8471
count-8472
total-8472
column1 double_ele[3, 9]
row 7double_ele[5, 7]
count-8473
total-8473
count-8474
total-8474
count-8475
total-8475
count-8476
total-8476
count-8477
total-8477
count-8478
total-8478
count-8479
total-8479
count-8480
total-8480
count-8481
total-8481
count-8482
total-8482
count-8483
total-8483
count-8484
total-8484
count-8485
total-8485
count-8486
total-8486
count-8487
total-8487
count-8488
total-8488
count-8489
total-8489
count-8490
total-8490
count-8491
total-8491
count-8492
total-8492
row 4double_ele[2, 5]
count-8493
total-8493
count-8494
total-8494
count-8495
total-8495
count-8496
total-8496
count-8497
total-8497
count-8498
total-8498
count-8499
total-8499
count-8500
total-8500
row 1double_ele[1, 3]
row 4double_ele[1, 3]
column5 double_ele[1, 3]
column7 double_ele[1, 3]
count-8501
total-8501
column9 double_ele[3, 5]
count-8502
total-8502
count-8503
total-8503
count-8504
total-8504
count-8505
total-8505
count-8506
total-8506
row 3double_ele[3, 4]
column6 double_ele[3, 4]
row 9double_ele[1, 3]
count-8507
total-8507
count-8508
total-8508
count-8509
total-8509
count-8510
total-8510
count-8511
total-8511
count-8512
total-8512
count-8513
total-8513
count-8514
total-8514
count-8515
total-8515
count-8516
total-8516
count-8517
total-8517
count-8518
total-8518
row 7double_ele[2, 5]
count-8519
total-8519
count-8520
total-8520
count-8521
total-8521
count-8522
total-8522
count-8523
total-8523
row 5double_ele[1, 2]
count-8524
total-8524
row 5double_ele[1, 5]
count-8525
total-8525
count-8526
total-8526
count-8527
total-8527
count-8528
total-8528
count-8529
total-8529
count-8530
total-8530
count-8531
total-8531
column6 double_ele[3, 4]
count-8532
total-8532
count-8533
total-8533
count-8534
total-8534
count-8535
total-8535
count-8536
total-8536
count-8537
total-8537
count-8538
total-8538
count-8539
total-8539
row 2double_ele[1, 3]
column4 double_ele[3, 7]
row 6double_ele[3, 7]
count-8540
total-8540
row 8double_ele[2, 6]
count-8541
total-8541
row 1double_ele[2, 3]
row 2double_ele[2, 3]
column6 double_ele[2, 3]
column9 double_ele[2, 3]
count-8542
total-8542
column7 double_ele[2, 4]
count-8543
total-8543
count-8544
total-8544
count-8545
total-8545
count-8546
total-8546
count-8547
total-8547
count-8548
total-8548
column1 double_ele[1, 7]
row 7double_ele[3, 4]
count-8549
total-8549
column4 double_ele[1, 2]
count-8550
total-8550
count-8551
total-8551
count-8552
total-8552
count-8553
total-8553
count-8554
total-8554
count-8555
total-8555
count-8556
total-8556
count-8557
total-8557
count-8558
total-8558
count-8559
total-8559
count-8560
total-8560
count-8561
total-8561
count-8562
total-8562
count-8563
total-8563
count-8564
total-8564
count-8565
total-8565
count-8566
total-8566
count-8567
total-8567
column4 double_ele[5, 6]
count-8568
total-8568
count-8569
total-8569
count-8570
total-8570
count-8571
total-8571
count-8572
total-8572
count-8573
total-8573
count-8574
total-8574
count-8575
total-8575
count-8576
total-8576
count-8577
total-8577
count-8578
total-8578
row 3double_ele[3, 5]
count-8579
total-8579
count-8580
total-8580
count-8581
total-8581
column5 double_ele[1, 4]
count-8582
total-8582
row 1double_ele[1, 4]
column2 double_ele[1, 4]
row 7double_ele[1, 3]
count-8583
total-8583
count-8584
total-8584
count-8585
total-8585
count-8586
total-8586
count-8587
total-8587
count-8588
total-8588
count-8589
total-8589
count-8590
total-8590
count-8591
total-8591
count-8592
total-8592
count-8593
total-8593
count-8594
total-8594
count-8595
total-8595
count-8596
total-8596
count-8597
total-8597
count-8598
total-8598
count-8599
total-8599
count-8600
total-8600
count-8601
total-8601
count-8602
total-8602
count-8603
total-8603
row 9double_ele[1, 4]
count-8604
total-8604
count-8605
total-8605
count-8606
total-8606
count-8607
total-8607
count-8608
total-8608
count-8609
total-8609
column1 double_ele[1, 7]
count-8610
total-8610
count-8611
total-8611
count-8612
total-8612
count-8613
total-8613
count-8614
total-8614
count-8615
total-8615
count-8616
total-8616
row 3double_ele[4, 6]
column8 double_ele[4, 6]
count-8617
total-8617
count-8618
total-8618
count-8619
total-8619
count-8620
total-8620
count-8621
total-8621
count-8622
total-8622
count-8623
total-8623
count-8624
total-8624
count-8625
total-8625
count-8626
total-8626
count-8627
total-8627
count-8628
total-8628
count-8629
total-8629
count-8630
total-8630
count-8631
total-8631
count-8632
total-8632
count-8633
total-8633
count-8634
total-8634
count-8635
total-8635
count-8636
total-8636
count-8637
total-8637
count-8638
total-8638
row 6double_ele[1, 2]
count-8639
total-8639
count-8640
total-8640
column7 double_ele[3, 6]
count-8641
total-8641
count-8642
total-8642
count-8643
total-8643
count-8644
total-8644
count-8645
total-8645
count-8646
total-8646
count-8647
total-8647
count-8648
total-8648
count-8649
total-8649
count-8650
total-8650
count-8651
total-8651
count-8652
total-8652
count-8653
total-8653
count-8654
total-8654
count-8655
total-8655
count-8656
total-8656
count-8657
total-8657
count-8658
total-8658
count-8659
total-8659
count-8660
total-8660
count-8661
total-8661
count-8662
total-8662
count-8663
total-8663
count-8664
total-8664
column7 double_ele[1, 2]
count-8665
total-8665
count-8666
total-8666
count-8667
total-8667
count-8668
total-8668
count-8669
total-8669
count-8670
total-8670
count-8671
total-8671
count-8672
total-8672
count-8673
total-8673
count-8674
total-8674
count-8675
total-8675
count-8676
total-8676
count-8677
total-8677
count-8678
total-8678
count-8679
total-8679
count-8680
total-8680
column2 double_ele[2, 6]
column4 double_ele[1, 6]
count-8681
total-8681
count-8682
total-8682
count-8683
total-8683
count-8684
total-8684
count-8685
total-8685
count-8686
total-8686
count-8687
total-8687
count-8688
total-8688
column1 double_ele[2, 4]
count-8689
total-8689
row 4double_ele[2, 3]
count-8690
total-8690
count-8691
total-8691
count-8692
total-8692
column7 double_ele[2, 5]
count-8693
total-8693
count-8694
total-8694
count-8695
total-8695
count-8696
total-8696
count-8697
total-8697
count-8698
total-8698
count-8699
total-8699
count-8700
total-8700
count-8701
total-8701
count-8702
total-8702
count-8703
total-8703
count-8704
total-8704
count-8705
total-8705
count-8706
total-8706
count-8707
total-8707
count-8708
total-8708
count-8709
total-8709
column8 double_ele[2, 3]
count-8710
total-8710
count-8711
total-8711
count-8712
total-8712
count-8713
total-8713
count-8714
total-8714
count-8715
total-8715
count-8716
total-8716
count-8717
total-8717
count-8718
total-8718
count-8719
total-8719
count-8720
total-8720
count-8721
total-8721
count-8722
total-8722
count-8723
total-8723
count-8724
total-8724
count-8725
total-8725
count-8726
total-8726
count-8727
total-8727
count-8728
total-8728
count-8729
total-8729
count-8730
total-8730
count-8731
total-8731
count-8732
total-8732
count-8733
total-8733
count-8734
total-8734
count-8735
total-8735
count-8736
total-8736
count-8737
total-8737
count-8738
total-8738
count-8739
total-8739
count-8740
total-8740
row 6double_ele[2, 5]
row 7double_ele[2, 3]
count-8741
total-8741
count-8742
total-8742
count-8743
total-8743
count-8744
total-8744
count-8745
total-8745
count-8746
total-8746
count-8747
total-8747
row 2double_ele[3, 4]
count-8748
total-8748
count-8749
total-8749
count-8750
total-8750
count-8751
total-8751
count-8752
total-8752
count-8753
total-8753
count-8754
total-8754
row 3double_ele[4, 6]
column5 double_ele[4, 6]
count-8755
total-8755
count-8756
total-8756
count-8757
total-8757
count-8758
total-8758
count-8759
total-8759
count-8760
total-8760
count-8761
total-8761
count-8762
total-8762
count-8763
total-8763
count-8764
total-8764
count-8765
total-8765
count-8766
total-8766
count-8767
total-8767
count-8768
total-8768
count-8769
total-8769
count-8770
total-8770
count-8771
total-8771
count-8772
total-8772
count-8773
total-8773
count-8774
total-8774

count-8775
total-8775
count-8776
total-8776
count-8777
total-8777
count-8778
total-8778
count-8779
total-8779
count-8780
total-8780
count-8781
total-8781
column1 double_ele[1, 3]
column2 double_ele[1, 3]
row 5double_ele[1, 3]
column8 double_ele[1, 3]
row 9double_ele[1, 3]
count-8782
total-8782
count-8783
total-8783
count-8784
total-8784
count-8785
total-8785
count-8786
total-8786
count-8787
total-8787
count-8788
total-8788
column3 double_ele[1, 2]
count-8789
total-8789
count-8790
total-8790
count-8791
total-8791
count-8792
total-8792
row 1double_ele[1, 4]
count-8793
total-8793
count-8794
total-8794
column4 double_ele[6, 8]
count-8795
total-8795
count-8796
total-8796
column1 double_ele[3, 7]
count-8797
total-8797
count-8798
total-8798
count-8799
total-8799
count-8800
total-8800
count-8801
total-8801
count-8802
total-8802
count-8803
total-8803
column7 double_ele[2, 3]
count-8804
total-8804
count-8805
total-8805
count-8806
total-8806
count-8807
total-8807
count-8808
total-8808
count-8809
total-8809
column5 double_ele[2, 5]
column6 double_ele[3, 4]
count-8810
total-8810
count-8811
total-8811
count-8812
total-8812
count-8813
total-8813
count-8814
total-8814
count-8815
total-8815
row 8double_ele[5, 6]
count-8816
total-8816
count-8817
total-8817
count-8818
total-8818
column9 double_ele[2, 7]
count-8819
total-8819
count-8820
total-8820
row 8double_ele[3, 6]
count-8821
total-8821
count-8822
total-8822
count-8823
total-8823
count-8824
total-8824
count-8825
total-8825
column7 triple_ele[2, 3, 5]
box6 triple_ele[1, 2, 3]
box9 triple_ele[2, 3, 5]
count-8826
total-8826
count-8827
total-8827
count-8828
total-8828
count-8829
total-8829
count-8830
total-8830
count-8831
total-8831
row 2double_ele[2, 4]
column3 double_ele[2, 4]
count-8832
total-8832
count-8833
total-8833
count-8834
total-8834
count-8835
total-8835
count-8836
total-8836
row 5double_ele[2, 9]
count-8837
total-8837
count-8838
total-8838
row 4double_ele[2, 3]
count-8839
total-8839
count-8840
total-8840
count-8841
total-8841
column3 double_ele[5, 7]
count-8842
total-8842
count-8843
total-8843
count-8844
total-8844
count-8845
total-8845
count-8846
total-8846
count-8847
total-8847
count-8848
total-8848
column9 double_ele[6, 7]
count-8849
total-8849
count-8850
total-8850
count-8851
total-8851
count-8852
total-8852
count-8853
total-8853
count-8854
total-8854
count-8855
total-8855
count-8856
total-8856
count-8857
total-8857
count-8858
total-8858
count-8859
total-8859
count-8860
total-8860
count-8861
total-8861
count-8862
total-8862
count-8863
total-8863
column7 double_ele[1, 5]
count-8864
total-8864
count-8865
total-8865
count-8866
total-8866
count-8867
total-8867
count-8868
total-8868
count-8869
total-8869
count-8870
total-8870
count-8871
total-8871
count-8872
total-8872
count-8873
total-8873
count-8874
total-8874
count-8875
total-8875
count-8876
total-8876
count-8877
total-8877
row 4double_ele[2, 8]
count-8878
total-8878
count-8879
total-8879
count-8880
total-8880
count-8881
total-8881
count-8882
total-8882
count-8883
total-8883
count-8884
total-8884
count-8885
total-8885
count-8886
total-8886
count-8887
total-8887
count-8888
total-8888
count-8889
total-8889
count-8890
total-8890
count-8891
total-8891
count-8892
total-8892
count-8893
total-8893
count-8894
total-8894
count-8895
total-8895
column5 double_ele[1, 5]
count-8896
total-8896
count-8897
total-8897
count-8898
total-8898
count-8899
total-8899
count-8900
total-8900
count-8901
total-8901
count-8902
total-8902
count-8903
total-8903
count-8904
total-8904
count-8905
total-8905
count-8906
total-8906
count-8907
total-8907
count-8908
total-8908
count-8909
total-8909
count-8910
total-8910
count-8911
total-8911
count-8912
total-8912
count-8913
total-8913
count-8914
total-8914
count-8915
total-8915
count-8916
total-8916
count-8917
total-8917
count-8918
total-8918
count-8919
total-8919
count-8920
total-8920
count-8921
total-8921
column7 double_ele[1, 3]
count-8922
total-8922
row 3double_ele[3, 6]
column3 double_ele[3, 6]
column7 double_ele[3, 6]
count-8923
total-8923
count-8924
total-8924
count-8925
total-8925
count-8926
total-8926
count-8927
total-8927
count-8928
total-8928
count-8929
total-8929
count-8930
total-8930
count-8931
total-8931
row 1double_ele[1, 2]
row 3double_ele[2, 3]
column7 double_ele[1, 2]
column9 double_ele[1, 2]
count-8932
total-8932
count-8933
total-8933
count-8934
total-8934
count-8935
total-8935
count-8936
total-8936
count-8937
total-8937
count-8938
total-8938
count-8939
total-8939
count-8940
total-8940
count-8941
total-8941
count-8942
total-8942
count-8943
total-8943
count-8944
total-8944
count-8945
total-8945
count-8946
total-8946
count-8947
total-8947
count-8948
total-8948
count-8949
total-8949
count-8950
total-8950
count-8951
total-8951
count-8952
total-8952
row 6double_ele[4, 5]
count-8953
total-8953
count-8954
total-8954
count-8955
total-8955
count-8956
total-8956
count-8957
total-8957
count-8958
total-8958
count-8959
total-8959
count-8960
total-8960
count-8961
total-8961
row 8double_ele[1, 6]
count-8962
total-8962
count-8963
total-8963
count-8964
total-8964
count-8965
total-8965
count-8966
total-8966
column4 double_ele[2, 3]
count-8967
total-8967
row 4double_ele[2, 7]
count-8968
total-8968
column7 double_ele[1, 3]
count-8969
total-8969
count-8970
total-8970
count-8971
total-8971
count-8972
total-8972
column3 double_ele[1, 6]
count-8973
total-8973
count-8974
total-8974
row 1double_ele[3, 4]
column1 double_ele[3, 4]
count-8975
total-8975
count-8976
total-8976
count-8977
total-8977
count-8978
total-8978
count-8979
total-8979
count-8980
total-8980
count-8981
total-8981
count-8982
total-8982
count-8983
total-8983
count-8984
total-8984
count-8985
total-8985
count-8986
total-8986
count-8987
total-8987
count-8988
total-8988
count-8989
total-8989
count-8990
total-8990
column1 double_ele[4, 7]
count-8991
total-8991
count-8992
total-8992
count-8993
total-8993
count-8994
total-8994
count-8995
total-8995
count-8996
total-8996
count-8997
total-8997
count-8998
total-8998
count-8999
total-8999
column1 double_ele[1, 8]
row 4double_ele[1, 8]
row 7double_ele[1, 8]
count-9000
total-9000
column6 double_ele[1, 8]
count-9001
total-9001
count-9002
total-9002
count-9003
total-9003
count-9004
total-9004
column4 double_ele[1, 4]
count-9005
total-9005
count-9006
total-9006
count-9007
total-9007
column9 double_ele[1, 2]
count-9008
total-9008
count-9009
total-9009
count-9010
total-9010
count-9011
total-9011
row 3double_ele[1, 3]
count-9012
total-9012
count-9013
total-9013
column2 double_ele[3, 7]
count-9014
total-9014
count-9015
total-9015
count-9016
total-9016
count-9017
total-9017
count-9018
total-9018
count-9019
total-9019
count-9020
total-9020
count-9021
total-9021
count-9022
total-9022
count-9023
total-9023
count-9024
total-9024
count-9025
total-9025
count-9026
total-9026
count-9027
total-9027
count-9028
total-9028
count-9029
total-9029
count-9030
total-9030
count-9031
total-9031
column5 double_ele[5, 8]
count-9032
total-9032
count-9033
total-9033
count-9034
total-9034
count-9035
total-9035
count-9036
total-9036
count-9037
total-9037
count-9038
total-9038
count-9039
total-9039
count-9040
total-9040
row 8double_ele[2, 3]
count-9041
total-9041
count-9042
total-9042
count-9043
total-9043
count-9044
total-9044
row 7double_ele[1, 5]
count-9045
total-9045
count-9046
total-9046
count-9047
total-9047
count-9048
total-9048
count-9049
total-9049
count-9050
total-9050
count-9051
total-9051
row 4double_ele[3, 6]
count-9052
total-9052
count-9053
total-9053
count-9054
total-9054
count-9055
total-9055
count-9056
total-9056
count-9057
total-9057
row 1double_ele[1, 4]
row 9double_ele[4, 6]
count-9058
total-9058
count-9059
total-9059
count-9060
total-9060
count-9061
total-9061
count-9062
total-9062
count-9063
total-9063
count-9064
total-9064
count-9065
total-9065
count-9066
total-9066
count-9067
total-9067
count-9068
total-9068
count-9069
total-9069
count-9070
total-9070
count-9071
total-9071
count-9072
total-9072
count-9073
total-9073
count-9074
total-9074
count-9075
total-9075
count-9076
total-9076
count-9077
total-9077
count-9078
total-9078
count-9079
total-9079
count-9080
total-9080
count-9081
total-9081
row 6double_ele[5, 8]
row 7double_ele[2, 4]
row 8double_ele[2, 5]
count-9082
total-9082

count-9083
total-9083
count-9084
total-9084
count-9085
total-9085
row 6double_ele[3, 4]
count-9086
total-9086
count-9087
total-9087
count-9088
total-9088
count-9089
total-9089
count-9090
total-9090
count-9091
total-9091
count-9092
total-9092
count-9093
total-9093
count-9094
total-9094
count-9095
total-9095
count-9096
total-9096
count-9097
total-9097
count-9098
total-9098
count-9099
total-9099
count-9100
total-9100
count-9101
total-9101
count-9102
total-9102
count-9103
total-9103
count-9104
total-9104
column6 double_ele[3, 6]
row 7double_ele[3, 6]
count-9105
total-9105
count-9106
total-9106
count-9107
total-9107
count-9108
total-9108
count-9109
total-9109
count-9110
total-9110
count-9111
total-9111
count-9112
total-9112
count-9113
total-9113
count-9114
total-9114
count-9115
total-9115
count-9116
total-9116
column3 double_ele[1, 5]
count-9117
total-9117
row 1double_ele[2, 3]
count-9118
total-9118
column8 double_ele[1, 8]
count-9119
total-9119
count-9120
total-9120
column3 double_ele[1, 4]
count-9121
total-9121
count-9122
total-9122
count-9123
total-9123
count-9124
total-9124
count-9125
total-9125
count-9126
total-9126
count-9127
total-9127
count-9128
total-9128
count-9129
total-9129
count-9130
total-9130
count-9131
total-9131
count-9132
total-9132
count-9133
total-9133
count-9134
total-9134
count-9135
total-9135
count-9136
total-9136
count-9137
total-9137
count-9138
total-9138
count-9139
total-9139
count-9140
total-9140
count-9141
total-9141
count-9142
total-9142
count-9143
total-9143
count-9144
total-9144
count-9145
total-9145
row 2double_ele[4, 7]
count-9146
total-9146
count-9147
total-9147
count-9148
total-9148
count-9149
total-9149
count-9150
total-9150
count-9151
total-9151
count-9152
total-9152
count-9153
total-9153
count-9154
total-9154
count-9155
total-9155
count-9156
total-9156
column9 double_ele[1, 7]
count-9157
total-9157
count-9158
total-9158
count-9159
total-9159
count-9160
total-9160
count-9161
total-9161
count-9162
total-9162
count-9163
total-9163
count-9164
total-9164
count-9165
total-9165
count-9166
total-9166
count-9167
total-9167
count-9168
total-9168
count-9169
total-9169
count-9170
total-9170
row 4double_ele[1, 2]
column4 double_ele[1, 2]
row 6double_ele[1, 2]
count-9171
total-9171
column3 double_ele[1, 5]
count-9172
total-9172
count-9173
total-9173
count-9174
total-9174
count-9175
total-9175
count-9176
total-9176
count-9177
total-9177
count-9178
total-9178
column2 double_ele[2, 8]
count-9179
total-9179
count-9180
total-9180
count-9181
total-9181
count-9182
total-9182
count-9183
total-9183
count-9184
total-9184
count-9185
total-9185
count-9186
total-9186
count-9187
total-9187
count-9188
total-9188
column5 double_ele[1, 2]
count-9189
total-9189
count-9190
total-9190
column1 double_ele[3, 4]
row 4double_ele[3, 4]
count-9191
total-9191
count-9192
total-9192
count-9193
total-9193
count-9194
total-9194
count-9195
total-9195
count-9196
total-9196
count-9197
total-9197
count-9198
total-9198
count-9199
total-9199
count-9200
total-9200
count-9201
total-9201
count-9202
total-9202
column3 double_ele[2, 3]
count-9203
total-9203
count-9204
total-9204
count-9205
total-9205
column5 double_ele[1, 4]
count-9206
total-9206
count-9207
total-9207
count-9208
total-9208
count-9209
total-9209
count-9210
total-9210
row 6double_ele[2, 7]
count-9211
total-9211
count-9212
total-9212
count-9213
total-9213
count-9214
total-9214
count-9215
total-9215
row 3double_ele[1, 2]
count-9216
total-9216
column7 double_ele[2, 6]
count-9217
total-9217
count-9218
total-9218
count-9219
total-9219
count-9220
total-9220
count-9221
total-9221
count-9222
total-9222
count-9223
total-9223
count-9224
total-9224
count-9225
total-9225
count-9226
total-9226
count-9227
total-9227
count-9228
total-9228
count-9229
total-9229
column1 double_ele[2, 6]
row 4double_ele[2, 6]
count-9230
total-9230
count-9231
total-9231
count-9232
total-9232
count-9233
total-9233
count-9234
total-9234
count-9235
total-9235
count-9236
total-9236
count-9237
total-9237
count-9238
total-9238
count-9239
total-9239
count-9240
total-9240
row 6double_ele[1, 4]
count-9241
total-9241
count-9242
total-9242
count-9243
total-9243
count-9244
total-9244
count-9245
total-9245
count-9246
total-9246
count-9247
total-9247
count-9248
total-9248
count-9249
total-9249
count-9250
total-9250
count-9251
total-9251
count-9252
total-9252
count-9253
total-9253
count-9254
total-9254
count-9255
total-9255
count-9256
total-9256
count-9257
total-9257
count-9258
total-9258
count-9259
total-9259
count-9260
total-9260
count-9261
total-9261
count-9262
total-9262
count-9263
total-9263
count-9264
total-9264
count-9265
total-9265
count-9266
total-9266
count-9267
total-9267
count-9268
total-9268
count-9269
total-9269
count-9270
total-9270
count-9271
total-9271
count-9272
total-9272
count-9273
total-9273
count-9274
total-9274
count-9275
total-9275
count-9276
total-9276
count-9277
total-9277
count-9278
total-9278
count-9279
total-9279
count-9280
total-9280
count-9281
total-9281
count-9282
total-9282
count-9283
total-9283
count-9284
total-9284
count-9285
total-9285
count-9286
total-9286
count-9287
total-9287
column4 double_ele[1, 3]
count-9288
total-9288
count-9289
total-9289
count-9290
total-9290
count-9291
total-9291
count-9292
total-9292
count-9293
total-9293
count-9294
total-9294
count-9295
total-9295
count-9296
total-9296
count-9297
total-9297
count-9298
total-9298
count-9299
total-9299
count-9300
total-9300
count-9301
total-9301
count-9302
total-9302
count-9303
total-9303
count-9304
total-9304
count-9305
total-9305
count-9306
total-9306
count-9307
total-9307
column1 double_ele[5, 6]
column3 double_ele[2, 3]
row 4double_ele[2, 3]
count-9308
total-9308
count-9309
total-9309
row 3double_ele[2, 3]
column7 double_ele[2, 3]
row 7triple_ele[1, 2, 3]
count-9310
total-9310
count-9311
total-9311
count-9312
total-9312
count-9313
total-9313
count-9314
total-9314
count-9315
total-9315
column7 double_ele[2, 4]
count-9316
total-9316
row 2double_ele[2, 3]
column9 double_ele[2, 3]
count-9317
total-9317
count-9318
total-9318
count-9319
total-9319
row 4double_ele[3, 4]
count-9320
total-9320
count-9321
total-9321
column7 double_ele[3, 4]
count-9322
total-9322
count-9323
total-9323
count-9324
total-9324
count-9325
total-9325
count-9326
total-9326
count-9327
total-9327
count-9328
total-9328
column8 double_ele[1, 3]
count-9329
total-9329
count-9330
total-9330
count-9331
total-9331
count-9332
total-9332
count-9333
total-9333
count-9334
total-9334
count-9335
total-9335
count-9336
total-9336
count-9337
total-9337
count-9338
total-9338
count-9339
total-9339
count-9340
total-9340
count-9341
total-9341
count-9342
total-9342
count-9343
total-9343
count-9344
total-9344
count-9345
total-9345
count-9346
total-9346
count-9347
total-9347
count-9348
total-9348
count-9349
total-9349
column6 double_ele[2, 7]
row 8double_ele[2, 7]
column8 double_ele[2, 7]
count-9350
total-9350
count-9351
total-9351
count-9352
total-9352
column1 double_ele[5, 6]
row 1triple_ele[3, 5, 6]
box3 triple_ele[3, 5, 6]
count-9353
total-9353
count-9354
total-9354
count-9355
total-9355
count-9356
total-9356
count-9357
total-9357
count-9358
total-9358
row 9double_ele[1, 3]
count-9359
total-9359
count-9360
total-9360
row 7double_ele[3, 7]
count-9361
total-9361
column8 double_ele[2, 3]
row 8triple_ele[1, 2, 3]
box9 triple_ele[1, 2, 3]
count-9362
total-9362
count-9363
total-9363
count-9364
total-9364
count-9365
total-9365
count-9366
total-9366
count-9367
total-9367
count-9368
total-9368
count-9369
total-9369
count-9370
total-9370
count-9371
total-9371
count-9372
total-9372
count-9373
total-9373
row 7double_ele[2, 4]
column7 double_ele[3, 4]
count-9374
total-9374
count-9375
total-9375
count-9376
total-9376
count-9377
total-9377
count-9378
total-9378
count-9379
total-9379
row 5double_ele[1, 4]
count-9380
total-9380
count-9381
total-9381
count-9382
total-9382
count-9383
total-9383
count-9384
total-9384
count-9385
total-9385
count-9386
total-9386
count-9387
total-9387
count-9388
total-9388
count-9389
total-9389
count-9390
total-9390
count-9391
total-9391
count-9392
total-9392
column3 double_ele[1, 2]
row 4double_ele[1, 2]
count-9393
total-9393
count-9394
total-9394
count-9395
total-9395
count-9396
total-9396
count-9397
total-9397
count-9398
total-9398
count-9399
total-9399
count-9400
total-9400
count-9401
total-9401
count-9402
total-9402
count-9403
total-9403
column3 double_ele[4, 7]
row 9double_ele[4, 7]
count-9404
total-9404
count-9405
total-9405
count-9406
total-9406
count-9407
total-9407
count-9408
total-9408
count-9409
total-9409
count-9410
total-9410
column8 double_ele[1, 4]
count-9411
total-9411
row 5double_ele[1, 8]
count-9412
total-9412
count-9413
total-9413
count-9414
total-9414
count-9415
total-9415
column1 double_ele[2, 7]
count-9416
total-9416
count-9417
total-9417
count-9418
total-9418

count-9419
total-9419
count-9420
total-9420
count-9421
total-9421
count-9422
total-9422
count-9423
total-9423
count-9424
total-9424
row 2double_ele[2, 6]
count-9425
total-9425
count-9426
total-9426
count-9427
total-9427
count-9428
total-9428
row 3double_ele[4, 6]
count-9429
total-9429
count-9430
total-9430
count-9431
total-9431
count-9432
total-9432
count-9433
total-9433
column4 double_ele[4, 6]
count-9434
total-9434
count-9435
total-9435
count-9436
total-9436
count-9437
total-9437
count-9438
total-9438
count-9439
total-9439
count-9440
total-9440
count-9441
total-9441
count-9442
total-9442
count-9443
total-9443
row 3double_ele[1, 2]
count-9444
total-9444
count-9445
total-9445
count-9446
total-9446
count-9447
total-9447
count-9448
total-9448
count-9449
total-9449
count-9450
total-9450
count-9451
total-9451
count-9452
total-9452
column2 double_ele[4, 6]
column3 double_ele[1, 5]
count-9453
total-9453
count-9454
total-9454
count-9455
total-9455
count-9456
total-9456
count-9457
total-9457
row 6double_ele[2, 3]
count-9458
total-9458
count-9459
total-9459
count-9460
total-9460
count-9461
total-9461
row 7double_ele[2, 7]
count-9462
total-9462
column7 double_ele[5, 7]
count-9463
total-9463
count-9464
total-9464
count-9465
total-9465
count-9466
total-9466
count-9467
total-9467
count-9468
total-9468
count-9469
total-9469
count-9470
total-9470
count-9471
total-9471
count-9472
total-9472
count-9473
total-9473
count-9474
total-9474
count-9475
total-9475
count-9476
total-9476
count-9477
total-9477
count-9478
total-9478
count-9479
total-9479
count-9480
total-9480
count-9481
total-9481
count-9482
total-9482
count-9483
total-9483
count-9484
total-9484
count-9485
total-9485
count-9486
total-9486
count-9487
total-9487
count-9488
total-9488
count-9489
total-9489
count-9490
total-9490
count-9491
total-9491
row 4double_ele[3, 7]
count-9492
total-9492
count-9493
total-9493
count-9494
total-9494
count-9495
total-9495
count-9496
total-9496
count-9497
total-9497
count-9498
total-9498
count-9499
total-9499
count-9500
total-9500
count-9501
total-9501
row 3double_ele[1, 3]
column3 double_ele[1, 3]
count-9502
total-9502
column9 double_ele[1, 4]
count-9503
total-9503
count-9504
total-9504
count-9505
total-9505
count-9506
total-9506
count-9507
total-9507
count-9508
total-9508
count-9509
total-9509
count-9510
total-9510
count-9511
total-9511
count-9512
total-9512
count-9513
total-9513
count-9514
total-9514
count-9515
total-9515
count-9516
total-9516
count-9517
total-9517
count-9518
total-9518
count-9519
total-9519
count-9520
total-9520
row 2double_ele[5, 7]
count-9521
total-9521
row 3double_ele[2, 3]
count-9522
total-9522
column2 double_ele[1, 3]
row 3double_ele[1, 3]
count-9523
total-9523
count-9524
total-9524
count-9525
total-9525
count-9526
total-9526
count-9527
total-9527
count-9528
total-9528
count-9529
total-9529
count-9530
total-9530
count-9531
total-9531
count-9532
total-9532
column5 double_ele[1, 9]
column8 double_ele[6, 9]
count-9533
total-9533
count-9534
total-9534
count-9535
total-9535
count-9536
total-9536
column5 double_ele[1, 2]
count-9537
total-9537
count-9538
total-9538
count-9539
total-9539
count-9540
total-9540
count-9541
total-9541
count-9542
total-9542
count-9543
total-9543
count-9544
total-9544
count-9545
total-9545
column1 double_ele[3, 4]
row 4double_ele[2, 3]
column8 double_ele[2, 3]
row 8triple_ele[1, 2, 4]
box9 triple_ele[1, 2, 4]
count-9546
total-9546
count-9547
total-9547
count-9548
total-9548
count-9549
total-9549
column7 double_ele[5, 6]
count-9550
total-9550
count-9551
total-9551
count-9552
total-9552
count-9553
total-9553
column6 double_ele[4, 7]
count-9554
total-9554
count-9555
total-9555
column1 double_ele[3, 5]
column2 double_ele[3, 5]
row 3double_ele[3, 5]
row 9double_ele[3, 5]
count-9556
total-9556
count-9557
total-9557
row 6double_ele[1, 2]
column9 double_ele[1, 2]
count-9558
total-9558
column5 double_ele[2, 8]
count-9559
total-9559
count-9560
total-9560
count-9561
total-9561
count-9562
total-9562
count-9563
total-9563
count-9564
total-9564
count-9565
total-9565
count-9566
total-9566
count-9567
total-9567
row 6double_ele[2, 5]
count-9568
total-9568
count-9569
total-9569
row 5double_ele[4, 8]
column9 double_ele[4, 8]
count-9570
total-9570
count-9571
total-9571
count-9572
total-9572
count-9573
total-9573
count-9574
total-9574
count-9575
total-9575
count-9576
total-9576
count-9577
total-9577
count-9578
total-9578
count-9579
total-9579
count-9580
total-9580
count-9581
total-9581
row 8double_ele[2, 6]
count-9582
total-9582
count-9583
total-9583
count-9584
total-9584
count-9585
total-9585
count-9586
total-9586
count-9587
total-9587
count-9588
total-9588
count-9589
total-9589
count-9590
total-9590
count-9591
total-9591
column6 double_ele[5, 6]
count-9592
total-9592
count-9593
total-9593
count-9594
total-9594
count-9595
total-9595
count-9596
total-9596
count-9597
total-9597
count-9598
total-9598
row 9double_ele[1, 5]
count-9599
total-9599
count-9600
total-9600
count-9601
total-9601
count-9602
total-9602
count-9603
total-9603
count-9604
total-9604
count-9605
total-9605
count-9606
total-9606
count-9607
total-9607
count-9608
total-9608
count-9609
total-9609
count-9610
total-9610
count-9611
total-9611
count-9612
total-9612
count-9613
total-9613
count-9614
total-9614
count-9615
total-9615
column3 double_ele[5, 8]
count-9616
total-9616
count-9617
total-9617
count-9618
total-9618
count-9619
total-9619
count-9620
total-9620
count-9621
total-9621
count-9622
total-9622
count-9623
total-9623
count-9624
total-9624
row 2double_ele[1, 6]
row 6double_ele[1, 6]
column7 double_ele[1, 6]
count-9625
total-9625
count-9626
total-9626
count-9627
total-9627
count-9628
total-9628
count-9629
total-9629
count-9630
total-9630
count-9631
total-9631
count-9632
total-9632
count-9633
total-9633
count-9634
total-9634
count-9635
total-9635
count-9636
total-9636
count-9637
total-9637
count-9638
total-9638
count-9639
total-9639
count-9640
total-9640
count-9641
total-9641
count-9642
total-9642
count-9643
total-9643
count-9644
total-9644
count-9645
total-9645
count-9646
total-9646
count-9647
total-9647
count-9648
total-9648
count-9649
total-9649
count-9650
total-9650
count-9651
total-9651
count-9652
total-9652
count-9653
total-9653
count-9654
total-9654
count-9655
total-9655
count-9656
total-9656
count-9657
total-9657
count-9658
total-9658
count-9659
total-9659
count-9660
total-9660
row 4double_ele[2, 6]
count-9661
total-9661
column2 double_ele[3, 5]
row 5double_ele[1, 2]
count-9662
total-9662
count-9663
total-9663
count-9664
total-9664
count-9665
total-9665
count-9666
total-9666
count-9667
total-9667
count-9668
total-9668
count-9669
total-9669
row 3double_ele[1, 3]
column6 double_ele[3, 4]
count-9670
total-9670
count-9671
total-9671
count-9672
total-9672
column9 double_ele[2, 6]
count-9673
total-9673
count-9674
total-9674
count-9675
total-9675
count-9676
total-9676
column5 double_ele[1, 5]
count-9677
total-9677
count-9678
total-9678
count-9679
total-9679
count-9680
total-9680
count-9681
total-9681
count-9682
total-9682
count-9683
total-9683
column4 double_ele[1, 7]
count-9684
total-9684
count-9685
total-9685
count-9686
total-9686
count-9687
total-9687
count-9688
total-9688
count-9689
total-9689
count-9690
total-9690
count-9691
total-9691
count-9692
total-9692
count-9693
total-9693
count-9694
total-9694
count-9695
total-9695
count-9696
total-9696
count-9697
total-9697
count-9698
total-9698
count-9699
total-9699
count-9700
total-9700
count-9701
total-9701
count-9702
total-9702
count-9703
total-9703
count-9704
total-9704
count-9705
total-9705
count-9706
total-9706
count-9707
total-9707
count-9708
total-9708
count-9709
total-9709
count-9710
total-9710
count-9711
total-9711
count-9712
total-9712
count-9713
total-9713
count-9714
total-9714
count-9715
total-9715
count-9716
total-9716
count-9717
total-9717
count-9718
total-9718
count-9719
total-9719
count-9720
total-9720
count-9721
total-9721
count-9722
total-9722
count-9723
total-9723
count-9724
total-9724
count-9725
total-9725
count-9726
total-9726
count-9727
total-9727
count-9728
total-9728
count-9729
total-9729
row 1double_ele[1, 2]
count-9730
total-9730
count-9731
total-9731
box3 triple_ele[3, 4, 5]
count-9732
total-9732
count-9733
total-9733
count-9734
total-9734
count-9735
total-9735
count-9736
total-9736
count-9737
total-9737

count-9738
total-9738
count-9739
total-9739
count-9740
total-9740
count-9741
total-9741
count-9742
total-9742
count-9743
total-9743
count-9744
total-9744
count-9745
total-9745
count-9746
total-9746
count-9747
total-9747
count-9748
total-9748
count-9749
total-9749
count-9750
total-9750
count-9751
total-9751
count-9752
total-9752
count-9753
total-9753
count-9754
total-9754
count-9755
total-9755
count-9756
total-9756
column2 double_ele[1, 4]
column3 double_ele[1, 4]
row 5double_ele[1, 4]
count-9757
total-9757
count-9758
total-9758
count-9759
total-9759
count-9760
total-9760
count-9761
total-9761
count-9762
total-9762
count-9763
total-9763
count-9764
total-9764
count-9765
total-9765
count-9766
total-9766
count-9767
total-9767
count-9768
total-9768
count-9769
total-9769
count-9770
total-9770
count-9771
total-9771
column5 double_ele[3, 5]
count-9772
total-9772
count-9773
total-9773
count-9774
total-9774
count-9775
total-9775
count-9776
total-9776
count-9777
total-9777
column6 double_ele[2, 5]
count-9778
total-9778
count-9779
total-9779
count-9780
total-9780
count-9781
total-9781
count-9782
total-9782
count-9783
total-9783
count-9784
total-9784
count-9785
total-9785
column3 double_ele[4, 7]
count-9786
total-9786
count-9787
total-9787
count-9788
total-9788
count-9789
total-9789
count-9790
total-9790
count-9791
total-9791
count-9792
total-9792
count-9793
total-9793
count-9794
total-9794
count-9795
total-9795
count-9796
total-9796
count-9797
total-9797
count-9798
total-9798
count-9799
total-9799
count-9800
total-9800
count-9801
total-9801
count-9802
total-9802
count-9803
total-9803
count-9804
total-9804
count-9805
total-9805
row 4double_ele[1, 2]
row 5double_ele[1, 5]
count-9806
total-9806
count-9807
total-9807
count-9808
total-9808
column5 double_ele[2, 4]
row 8double_ele[2, 4]
count-9809
total-9809
count-9810
total-9810
count-9811
total-9811
count-9812
total-9812
count-9813
total-9813
count-9814
total-9814
count-9815
total-9815
count-9816
total-9816
count-9817
total-9817
count-9818
total-9818
count-9819
total-9819
count-9820
total-9820
count-9821
total-9821
count-9822
total-9822
count-9823
total-9823
count-9824
total-9824
count-9825
total-9825
count-9826
total-9826
count-9827
total-9827
count-9828
total-9828
count-9829
total-9829
count-9830
total-9830
count-9831
total-9831
count-9832
total-9832
count-9833
total-9833
count-9834
total-9834
count-9835
total-9835
count-9836
total-9836
count-9837
total-9837
row 5double_ele[1, 4]
count-9838
total-9838
count-9839
total-9839
count-9840
total-9840
count-9841
total-9841
count-9842
total-9842
row 9double_ele[5, 6]
count-9843
total-9843
count-9844
total-9844
count-9845
total-9845
row 4double_ele[5, 8]
count-9846
total-9846
count-9847
total-9847
count-9848
total-9848
count-9849
total-9849
count-9850
total-9850
count-9851
total-9851
count-9852
total-9852
count-9853
total-9853
count-9854
total-9854
count-9855
total-9855
count-9856
total-9856
count-9857
total-9857
count-9858
total-9858
column2 double_ele[6, 8]
count-9859
total-9859
column7 double_ele[1, 4]
count-9860
total-9860
count-9861
total-9861
count-9862
total-9862
count-9863
total-9863
count-9864
total-9864
count-9865
total-9865
count-9866
total-9866
count-9867
total-9867
column3 double_ele[3, 5]
count-9868
total-9868
count-9869
total-9869
count-9870
total-9870
count-9871
total-9871
count-9872
total-9872
count-9873
total-9873
count-9874
total-9874
count-9875
total-9875
column6 double_ele[6, 8]
count-9876
total-9876
count-9877
total-9877
count-9878
total-9878
count-9879
total-9879
count-9880
total-9880
count-9881
total-9881
count-9882
total-9882
count-9883
total-9883
count-9884
total-9884
count-9885
total-9885
count-9886
total-9886
count-9887
total-9887
count-9888
total-9888
count-9889
total-9889
count-9890
total-9890
count-9891
total-9891
count-9892
total-9892
count-9893
total-9893
count-9894
total-9894
count-9895
total-9895
count-9896
total-9896
count-9897
total-9897
count-9898
total-9898
count-9899
total-9899
column6 double_ele[3, 6]
count-9900
total-9900
count-9901
total-9901
count-9902
total-9902
count-9903
total-9903
count-9904
total-9904
count-9905
total-9905
count-9906
total-9906
count-9907
total-9907
count-9908
total-9908
count-9909
total-9909
count-9910
total-9910
count-9911
total-9911
count-9912
total-9912
count-9913
total-9913
count-9914
total-9914
count-9915
total-9915
count-9916
total-9916
count-9917
total-9917
column2 double_ele[1, 5]
count-9918
total-9918
count-9919
total-9919
count-9920
total-9920
count-9921
total-9921
count-9922
total-9922
count-9923
total-9923
count-9924
total-9924
count-9925
total-9925
count-9926
total-9926
count-9927
total-9927
count-9928
total-9928
count-9929
total-9929
count-9930
total-9930
count-9931
total-9931
count-9932
total-9932
count-9933
total-9933
count-9934
total-9934
count-9935
total-9935
count-9936
total-9936
count-9937
total-9937
count-9938
total-9938
count-9939
total-9939
count-9940
total-9940
count-9941
total-9941
count-9942
total-9942
count-9943
total-9943
count-9944
total-9944
row 1double_ele[1, 4]
column6 double_ele[1, 4]
count-9945
total-9945
count-9946
total-9946
count-9947
total-9947
count-9948
total-9948
count-9949
total-9949
count-9950
total-9950
count-9951
total-9951
count-9952
total-9952
count-9953
total-9953
count-9954
total-9954
count-9955
total-9955
count-9956
total-9956
count-9957
total-9957
count-9958
total-9958
count-9959
total-9959
count-9960
total-9960
count-9961
total-9961
count-9962
total-9962
count-9963
total-9963
count-9964
total-9964
count-9965
total-9965
count-9966
total-9966
count-9967
total-9967
count-9968
total-9968
count-9969
total-9969
count-9970
total-9970
count-9971
total-9971
count-9972
total-9972
count-9973
total-9973
count-9974
total-9974
count-9975
total-9975
count-9976
total-9976
column5 double_ele[2, 4]
row 8double_ele[2, 4]
count-9977
total-9977
count-9978
total-9978
count-9979
total-9979
count-9980
total-9980
count-9981
total-9981
count-9982
total-9982
count-9983
total-9983
count-9984
total-9984
count-9985
total-9985
count-9986
total-9986
column3 double_ele[1, 4]
count-9987
total-9987
count-9988
total-9988
row 8double_ele[4, 5]
count-9989
total-9989
column6 double_ele[1, 6]
count-9990
total-9990
count-9991
total-9991
count-9992
total-9992
count-9993
total-9993
count-9994
total-9994
count-9995
total-9995
count-9996
total-9996
count-9997
total-9997
count-9998
total-9998
column7 double_ele[3, 5]
count-9999
total-9999
count-10000
total-10000
count-10001
total-10001
column4 double_ele[1, 5]
count-10002
total-10002
count-10003
total-10003
count-10004
total-10004
count-10005
total-10005
count-10006
total-10006
count-10007
total-10007
count-10008
total-10008
row 7double_ele[1, 2]
column9 double_ele[1, 2]
count-10009
total-10009
count-10010
total-10010
count-10011
total-10011
count-10012
total-10012
count-10013
total-10013
count-10014
total-10014
count-10015
total-10015
count-10016
total-10016
count-10017
total-10017
count-10018
total-10018
count-10019
total-10019
count-10020
total-10020
column5 double_ele[1, 4]
column8 double_ele[1, 2]
count-10021
total-10021
count-10022
total-10022
count-10023
total-10023
count-10024
total-10024
row 1double_ele[2, 3]
column1 double_ele[2, 3]
count-10025
total-10025
count-10026
total-10026
column3 double_ele[1, 5]
count-10027
total-10027
count-10028
total-10028
count-10029
total-10029
count-10030
total-10030
count-10031
total-10031
count-10032
total-10032
count-10033
total-10033
count-10034
total-10034
count-10035
total-10035
count-10036
total-10036
count-10037
total-10037
count-10038
total-10038
count-10039
total-10039
count-10040
total-10040
count-10041
total-10041
row 1double_ele[3, 5]
count-10042
total-10042
count-10043
total-10043
count-10044
total-10044
count-10045
total-10045
count-10046
total-10046
count-10047
total-10047
count-10048
total-10048
count-10049
total-10049
count-10050
total-10050
count-10051
total-10051
count-10052
total-10052
count-10053
total-10053
count-10054
total-10054
count-10055
total-10055
count-10056
total-10056
count-10057
total-10057
count-10058
total-10058
count-10059
total-10059
count-10060
total-10060
count-10061
total-10061
count-10062
total-10062
count-10063
total-10063
count-10064
total-10064
count-10065
total-10065
count-10066
total-10066
count-10067
total-10067
row 7double_ele[1, 2]
count-10068
total-10068
count-10069
total-10069
count-10070
total-10070
count-10071
total-10071
count-10072
total-10072
count-10073
total-10073
count-10074
total-10074
count-10075
total-10075
count-10076
total-10076
column2 double_ele[5, 8]
column3 double_ele[1, 4]
column5 double_ele[4, 8]
count-10077
total-10077
column4 double_ele[1, 7]
count-10078
total-10078
count-10079
total-10079
count-10080
total-10080

count-10081
total-10081
row 2double_ele[2, 7]
column3 double_ele[5, 7]
row 8double_ele[5, 7]
count-10082
total-10082
count-10083
total-10083
count-10084
total-10084
count-10085
total-10085
count-10086
total-10086
count-10087
total-10087
count-10088
total-10088
column4 double_ele[2, 5]
count-10089
total-10089
count-10090
total-10090
count-10091
total-10091
count-10092
total-10092
count-10093
total-10093
count-10094
total-10094
count-10095
total-10095
count-10096
total-10096
row 7double_ele[1, 7]
count-10097
total-10097
count-10098
total-10098
count-10099
total-10099
count-10100
total-10100
count-10101
total-10101
count-10102
total-10102
column1 double_ele[4, 5]
column4 double_ele[1, 6]
column7 double_ele[2, 6]
row 1triple_ele[4, 5, 6]
count-10103
total-10103
count-10104
total-10104
row 6double_ele[1, 2]
count-10105
total-10105
count-10106
total-10106
row 5double_ele[1, 5]
column6 double_ele[1, 5]
count-10107
total-10107
count-10108
total-10108
count-10109
total-10109
count-10110
total-10110
count-10111
total-10111
count-10112
total-10112
count-10113
total-10113
count-10114
total-10114
count-10115
total-10115
count-10116
total-10116
count-10117
total-10117
count-10118
total-10118
count-10119
total-10119
count-10120
total-10120
count-10121
total-10121
count-10122
total-10122
count-10123
total-10123
count-10124
total-10124
count-10125
total-10125
count-10126
total-10126
count-10127
total-10127
count-10128
total-10128
count-10129
total-10129
count-10130
total-10130
count-10131
total-10131
count-10132
total-10132
count-10133
total-10133
count-10134
total-10134
count-10135
total-10135
row 6double_ele[3, 4]
count-10136
total-10136
count-10137
total-10137
count-10138
total-10138
count-10139
total-10139
count-10140
total-10140
count-10141
total-10141
row 3double_ele[1, 3]
column4 double_ele[2, 5]
row 5double_ele[2, 5]
count-10142
total-10142
count-10143
total-10143
count-10144
total-10144
count-10145
total-10145
count-10146
total-10146
count-10147
total-10147
count-10148
total-10148
count-10149
total-10149
count-10150
total-10150
count-10151
total-10151
count-10152
total-10152
count-10153
total-10153
count-10154
total-10154
count-10155
total-10155
row 4double_ele[2, 6]
column7 double_ele[2, 6]
box3 triple_ele[1, 2, 6]
count-10156
total-10156
count-10157
total-10157
count-10158
total-10158
count-10159
total-10159
count-10160
total-10160
count-10161
total-10161
count-10162
total-10162
row 3double_ele[2, 9]
count-10163
total-10163
count-10164
total-10164
count-10165
total-10165
count-10166
total-10166
row 1double_ele[2, 5]
count-10167
total-10167
count-10168
total-10168
count-10169
total-10169
count-10170
total-10170
count-10171
total-10171
count-10172
total-10172
row 5double_ele[1, 4]
count-10173
total-10173
column4 double_ele[3, 4]
count-10174
total-10174
count-10175
total-10175
count-10176
total-10176
count-10177
total-10177
count-10178
total-10178
count-10179
total-10179
count-10180
total-10180
count-10181
total-10181
count-10182
total-10182
count-10183
total-10183
column8 double_ele[3, 4]
count-10184
total-10184
count-10185
total-10185
count-10186
total-10186
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-10187
total-10187
count-10188
total-10188
count-10189
total-10189
count-10190
total-10190
count-10191
total-10191
count-10192
total-10192
count-10193
total-10193
count-10194
total-10194
count-10195
total-10195
count-10196
total-10196
count-10197
total-10197
count-10198
total-10198
count-10199
total-10199
count-10200
total-10200
count-10201
total-10201
count-10202
total-10202
count-10203
total-10203
count-10204
total-10204
count-10205
total-10205
count-10206
total-10206
count-10207
total-10207
column5 double_ele[2, 7]
count-10208
total-10208
count-10209
total-10209
count-10210
total-10210
count-10211
total-10211
count-10212
total-10212
count-10213
total-10213
count-10214
total-10214
count-10215
total-10215
count-10216
total-10216
count-10217
total-10217
count-10218
total-10218
count-10219
total-10219
column3 double_ele[1, 4]
count-10220
total-10220
count-10221
total-10221
count-10222
total-10222
count-10223
total-10223
row 2double_ele[1, 5]
row 5double_ele[4, 5]
column6 double_ele[1, 5]
column7 double_ele[4, 5]
row 1triple_ele[1, 4, 5]
column3 triple_ele[1, 4, 5]
box3 triple_ele[1, 4, 5]
count-10224
total-10224
count-10225
total-10225
column4 double_ele[3, 5]
count-10226
total-10226
count-10227
total-10227
count-10228
total-10228
count-10229
total-10229
count-10230
total-10230
count-10231
total-10231
count-10232
total-10232
count-10233
total-10233
count-10234
total-10234
count-10235
total-10235
count-10236
total-10236
count-10237
total-10237
count-10238
total-10238
column3 double_ele[2, 6]
count-10239
total-10239
count-10240
total-10240
count-10241
total-10241
count-10242
total-10242
count-10243
total-10243
count-10244
total-10244
column6 double_ele[1, 5]
row 7double_ele[1, 5]
count-10245
total-10245
row 2double_ele[2, 5]
count-10246
total-10246
count-10247
total-10247
count-10248
total-10248
count-10249
total-10249
count-10250
total-10250
count-10251
total-10251
count-10252
total-10252
row 1double_ele[2, 6]
count-10253
total-10253
row 6double_ele[5, 8]
count-10254
total-10254
count-10255
total-10255
count-10256
total-10256
count-10257
total-10257
count-10258
total-10258
count-10259
total-10259
count-10260
total-10260
count-10261
total-10261
count-10262
total-10262
count-10263
total-10263
count-10264
total-10264
count-10265
total-10265
count-10266
total-10266
count-10267
total-10267
count-10268
total-10268
count-10269
total-10269
count-10270
total-10270
count-10271
total-10271
count-10272
total-10272
count-10273
total-10273
count-10274
total-10274
count-10275
total-10275
count-10276
total-10276
count-10277
total-10277
count-10278
total-10278
count-10279
total-10279
count-10280
total-10280
count-10281
total-10281
count-10282
total-10282
count-10283
total-10283
count-10284
total-10284
count-10285
total-10285
column5 double_ele[2, 6]
count-10286
total-10286
count-10287
total-10287
column3 double_ele[3, 5]
row 7double_ele[3, 5]
count-10288
total-10288
count-10289
total-10289
count-10290
total-10290
count-10291
total-10291
count-10292
total-10292
row 5double_ele[1, 3]
count-10293
total-10293
count-10294
total-10294
count-10295
total-10295
count-10296
total-10296
count-10297
total-10297
count-10298
total-10298
count-10299
total-10299
count-10300
total-10300
count-10301
total-10301
count-10302
total-10302
count-10303
total-10303
count-10304
total-10304
count-10305
total-10305
count-10306
total-10306
count-10307
total-10307
count-10308
total-10308
count-10309
total-10309
count-10310
total-10310
count-10311
total-10311
count-10312
total-10312
count-10313
total-10313
count-10314
total-10314
count-10315
total-10315
count-10316
total-10316
count-10317
total-10317
count-10318
total-10318
count-10319
total-10319
count-10320
total-10320
count-10321
total-10321
count-10322
total-10322
count-10323
total-10323
count-10324
total-10324
row 7double_ele[1, 2]
column8 double_ele[1, 2]
count-10325
total-10325
row 5double_ele[2, 3]
count-10326
total-10326
count-10327
total-10327
count-10328
total-10328
row 5double_ele[2, 4]
count-10329
total-10329
count-10330
total-10330
count-10331
total-10331
count-10332
total-10332
count-10333
total-10333
count-10334
total-10334
count-10335
total-10335
count-10336
total-10336
count-10337
total-10337
count-10338
total-10338
count-10339
total-10339
count-10340
total-10340
count-10341
total-10341
count-10342
total-10342
count-10343
total-10343
count-10344
total-10344
count-10345
total-10345
count-10346
total-10346
count-10347
total-10347
count-10348
total-10348
count-10349
total-10349
column7 double_ele[5, 7]
count-10350
total-10350
count-10351
total-10351
row 2double_ele[2, 3]
column3 double_ele[2, 3]
count-10352
total-10352
count-10353
total-10353
count-10354
total-10354
row 7double_ele[1, 2]
count-10355
total-10355
count-10356
total-10356
column9 double_ele[3, 4]
count-10357
total-10357
box3 triple_ele[2, 3, 4]
count-10358
total-10358
count-10359
total-10359
count-10360
total-10360
count-10361
total-10361
count-10362
total-10362
count-10363
total-10363
count-10364
total-10364
count-10365
total-10365
count-10366
total-10366
count-10367
total-10367
count-10368
total-10368
count-10369
total-10369
count-10370
total-10370
count-10371
total-10371
count-10372
total-10372
count-10373
total-10373
row 9double_ele[1, 8]
count-10374
total-10374
count-10375
total-10375
count-10376
total-10376
count-10377
total-10377
count-10378
total-10378
count-10379
total-10379
count-10380
total-10380
count-10381
total-10381
count-10382
total-10382
count-10383
total-10383
count-10384
total-10384
count-10385
total-10385
count-10386
total-10386
count-10387
total-10387
count-10388
total-10388
count-10389
total-10389
count-10390
total-10390
count-10391
total-10391

count-10392
total-10392
count-10393
total-10393
count-10394
total-10394
count-10395
total-10395
count-10396
total-10396
count-10397
total-10397
count-10398
total-10398
count-10399
total-10399
count-10400
total-10400
count-10401
total-10401
count-10402
total-10402
count-10403
total-10403
count-10404
total-10404
count-10405
total-10405
count-10406
total-10406
count-10407
total-10407
count-10408
total-10408
count-10409
total-10409
count-10410
total-10410
count-10411
total-10411
count-10412
total-10412
count-10413
total-10413
count-10414
total-10414
column3 double_ele[3, 4]
column8 double_ele[3, 6]
count-10415
total-10415
count-10416
total-10416
count-10417
total-10417
count-10418
total-10418
count-10419
total-10419
count-10420
total-10420
count-10421
total-10421
column5 double_ele[1, 3]
row 9double_ele[1, 4]
count-10422
total-10422
count-10423
total-10423
count-10424
total-10424
count-10425
total-10425
row 2double_ele[1, 7]
count-10426
total-10426
row 9double_ele[1, 3]
count-10427
total-10427
row 5double_ele[1, 5]
count-10428
total-10428
count-10429
total-10429
count-10430
total-10430
count-10431
total-10431
count-10432
total-10432
count-10433
total-10433
count-10434
total-10434
count-10435
total-10435
count-10436
total-10436
count-10437
total-10437
row 1double_ele[4, 5]
count-10438
total-10438
count-10439
total-10439
count-10440
total-10440
count-10441
total-10441
count-10442
total-10442
row 6double_ele[2, 8]
count-10443
total-10443
count-10444
total-10444
count-10445
total-10445
count-10446
total-10446
count-10447
total-10447
count-10448
total-10448
count-10449
total-10449
row 7double_ele[3, 5]
count-10450
total-10450
count-10451
total-10451
count-10452
total-10452
count-10453
total-10453
count-10454
total-10454
count-10455
total-10455
count-10456
total-10456
count-10457
total-10457
count-10458
total-10458
count-10459
total-10459
count-10460
total-10460
count-10461
total-10461
count-10462
total-10462
count-10463
total-10463
count-10464
total-10464
count-10465
total-10465
column8 double_ele[5, 6]
count-10466
total-10466
count-10467
total-10467
count-10468
total-10468
count-10469
total-10469
count-10470
total-10470
count-10471
total-10471
count-10472
total-10472
count-10473
total-10473
count-10474
total-10474
count-10475
total-10475
count-10476
total-10476
row 3triple_ele[1, 5, 6]
row 5triple_ele[1, 3, 6]
box3 triple_ele[1, 5, 6]
box6 triple_ele[1, 3, 6]
count-10477
total-10477
count-10478
total-10478
count-10479
total-10479
count-10480
total-10480
count-10481
total-10481
row 3double_ele[1, 5]
column7 double_ele[1, 5]
count-10482
total-10482
count-10483
total-10483
count-10484
total-10484
count-10485
total-10485
count-10486
total-10486
column3 double_ele[6, 7]
row 4double_ele[5, 6]
column7 double_ele[5, 6]
count-10487
total-10487
count-10488
total-10488
count-10489
total-10489
count-10490
total-10490
count-10491
total-10491
count-10492
total-10492
count-10493
total-10493
count-10494
total-10494
row 2double_ele[2, 6]
count-10495
total-10495
count-10496
total-10496
count-10497
total-10497
count-10498
total-10498
count-10499
total-10499
count-10500
total-10500
count-10501
total-10501
count-10502
total-10502
count-10503
total-10503
count-10504
total-10504
count-10505
total-10505
count-10506
total-10506
count-10507
total-10507
column2 double_ele[1, 4]
count-10508
total-10508
count-10509
total-10509
count-10510
total-10510
count-10511
total-10511
row 2double_ele[3, 6]
count-10512
total-10512
row 2double_ele[2, 4]
count-10513
total-10513
count-10514
total-10514
count-10515
total-10515
count-10516
total-10516
count-10517
total-10517
count-10518
total-10518
count-10519
total-10519
count-10520
total-10520
count-10521
total-10521
column6 double_ele[4, 8]
count-10522
total-10522
row 6double_ele[1, 3]
count-10523
total-10523
count-10524
total-10524
count-10525
total-10525
count-10526
total-10526
count-10527
total-10527
count-10528
total-10528
count-10529
total-10529
count-10530
total-10530
column4 double_ele[2, 4]
row 1triple_ele[2, 3, 4]
count-10531
total-10531
row 2double_ele[2, 4]
count-10532
total-10532
count-10533
total-10533
count-10534
total-10534
count-10535
total-10535
count-10536
total-10536
count-10537
total-10537
count-10538
total-10538
count-10539
total-10539
count-10540
total-10540
count-10541
total-10541
count-10542
total-10542
count-10543
total-10543
count-10544
total-10544
count-10545
total-10545
count-10546
total-10546
count-10547
total-10547
row 3double_ele[3, 6]
count-10548
total-10548
count-10549
total-10549
count-10550
total-10550
count-10551
total-10551
count-10552
total-10552
count-10553
total-10553
count-10554
total-10554
count-10555
total-10555
count-10556
total-10556
count-10557
total-10557
count-10558
total-10558
count-10559
total-10559
count-10560
total-10560
count-10561
total-10561
count-10562
total-10562
count-10563
total-10563
count-10564
total-10564
count-10565
total-10565
column7 double_ele[2, 3]
count-10566
total-10566
count-10567
total-10567
count-10568
total-10568
count-10569
total-10569
count-10570
total-10570
count-10571
total-10571
count-10572
total-10572
count-10573
total-10573
count-10574
total-10574
count-10575
total-10575
count-10576
total-10576
count-10577
total-10577
count-10578
total-10578
count-10579
total-10579
count-10580
total-10580
count-10581
total-10581
count-10582
total-10582
row 6double_ele[3, 6]
column7 double_ele[3, 6]
count-10583
total-10583
count-10584
total-10584
count-10585
total-10585
count-10586
total-10586
count-10587
total-10587
count-10588
total-10588
count-10589
total-10589
count-10590
total-10590
row 1double_ele[1, 2]
column6 double_ele[6, 9]
count-10591
total-10591
count-10592
total-10592
count-10593
total-10593
count-10594
total-10594
count-10595
total-10595
count-10596
total-10596
count-10597
total-10597
count-10598
total-10598
row 3double_ele[2, 3]
count-10599
total-10599
count-10600
total-10600
count-10601
total-10601
count-10602
total-10602
count-10603
total-10603
count-10604
total-10604
count-10605
total-10605
count-10606
total-10606
row 5double_ele[2, 5]
count-10607
total-10607
row 2double_ele[1, 6]
column5 double_ele[1, 6]
count-10608
total-10608
count-10609
total-10609
count-10610
total-10610
count-10611
total-10611
column9 double_ele[1, 5]
count-10612
total-10612
count-10613
total-10613
column9 double_ele[2, 5]
count-10614
total-10614
count-10615
total-10615
count-10616
total-10616
count-10617
total-10617
count-10618
total-10618
count-10619
total-10619
count-10620
total-10620
count-10621
total-10621
count-10622
total-10622
count-10623
total-10623
count-10624
total-10624
count-10625
total-10625
count-10626
total-10626
count-10627
total-10627
count-10628
total-10628
count-10629
total-10629
count-10630
total-10630
count-10631
total-10631
count-10632
total-10632
count-10633
total-10633
count-10634
total-10634
count-10635
total-10635
count-10636
total-10636
count-10637
total-10637
count-10638
total-10638
count-10639
total-10639
count-10640
total-10640
count-10641
total-10641
count-10642
total-10642
count-10643
total-10643
count-10644
total-10644
count-10645
total-10645
count-10646
total-10646
column2 double_ele[2, 5]
count-10647
total-10647
count-10648
total-10648
count-10649
total-10649
count-10650
total-10650
count-10651
total-10651
count-10652
total-10652
count-10653
total-10653
row 9double_ele[3, 9]
count-10654
total-10654
count-10655
total-10655
count-10656
total-10656
count-10657
total-10657
column6 double_ele[3, 5]
count-10658
total-10658
count-10659
total-10659
count-10660
total-10660
count-10661
total-10661
count-10662
total-10662
count-10663
total-10663
row 2double_ele[2, 3]
count-10664
total-10664
count-10665
total-10665
count-10666
total-10666
count-10667
total-10667
row 1double_ele[1, 3]
row 8double_ele[1, 6]
count-10668
total-10668
count-10669
total-10669
count-10670
total-10670
count-10671
total-10671
count-10672
total-10672
column9 double_ele[2, 4]
count-10673
total-10673
count-10674
total-10674
column3 double_ele[3, 8]
count-10675
total-10675
count-10676
total-10676
count-10677
total-10677
count-10678
total-10678
count-10679
total-10679
count-10680
total-10680
count-10681
total-10681
column7 double_ele[4, 9]
count-10682
total-10682
count-10683
total-10683
count-10684
total-10684
count-10685
total-10685
count-10686
total-10686
count-10687
total-10687

count-10688
total-10688
count-10689
total-10689
count-10690
total-10690
count-10691
total-10691
count-10692
total-10692
count-10693
total-10693
count-10694
total-10694
count-10695
total-10695
count-10696
total-10696
count-10697
total-10697
count-10698
total-10698
count-10699
total-10699
count-10700
total-10700
count-10701
total-10701
count-10702
total-10702
row 6double_ele[2, 6]
count-10703
total-10703
count-10704
total-10704
count-10705
total-10705
count-10706
total-10706
count-10707
total-10707
count-10708
total-10708
count-10709
total-10709
count-10710
total-10710
count-10711
total-10711
count-10712
total-10712
column8 double_ele[1, 7]
row 9double_ele[1, 7]
count-10713
total-10713
count-10714
total-10714
count-10715
total-10715
count-10716
total-10716
count-10717
total-10717
count-10718
total-10718
row 5double_ele[3, 7]
column7 double_ele[3, 7]
count-10719
total-10719
count-10720
total-10720
count-10721
total-10721
count-10722
total-10722
count-10723
total-10723
count-10724
total-10724
count-10725
total-10725
count-10726
total-10726
count-10727
total-10727
count-10728
total-10728
count-10729
total-10729
count-10730
total-10730
count-10731
total-10731
count-10732
total-10732
count-10733
total-10733
count-10734
total-10734
count-10735
total-10735
count-10736
total-10736
count-10737
total-10737
count-10738
total-10738
count-10739
total-10739
count-10740
total-10740
count-10741
total-10741
row 2triple_ele[1, 4, 5]
count-10742
total-10742
column1 double_ele[1, 2]
row 2double_ele[1, 2]
count-10743
total-10743
count-10744
total-10744
count-10745
total-10745
count-10746
total-10746
count-10747
total-10747
column8 double_ele[2, 6]
count-10748
total-10748
count-10749
total-10749
count-10750
total-10750
count-10751
total-10751
count-10752
total-10752
count-10753
total-10753
count-10754
total-10754
count-10755
total-10755
count-10756
total-10756
count-10757
total-10757
count-10758
total-10758
count-10759
total-10759
count-10760
total-10760
count-10761
total-10761
count-10762
total-10762
count-10763
total-10763
count-10764
total-10764
count-10765
total-10765
count-10766
total-10766
count-10767
total-10767
count-10768
total-10768
count-10769
total-10769
count-10770
total-10770
count-10771
total-10771
count-10772
total-10772
count-10773
total-10773
row 4double_ele[5, 6]
count-10774
total-10774
count-10775
total-10775
count-10776
total-10776
count-10777
total-10777
count-10778
total-10778
count-10779
total-10779
count-10780
total-10780
column4 double_ele[2, 4]
count-10781
total-10781
count-10782
total-10782
count-10783
total-10783
count-10784
total-10784
count-10785
total-10785
count-10786
total-10786
count-10787
total-10787
count-10788
total-10788
count-10789
total-10789
count-10790
total-10790
count-10791
total-10791
count-10792
total-10792
count-10793
total-10793
count-10794
total-10794
row 1double_ele[5, 8]
count-10795
total-10795
count-10796
total-10796
count-10797
total-10797
count-10798
total-10798
column1 double_ele[1, 4]
count-10799
total-10799
count-10800
total-10800
count-10801
total-10801
count-10802
total-10802
count-10803
total-10803
count-10804
total-10804
count-10805
total-10805
count-10806
total-10806
count-10807
total-10807
count-10808
total-10808
count-10809
total-10809
row 6double_ele[3, 7]
count-10810
total-10810
count-10811
total-10811
count-10812
total-10812
count-10813
total-10813
count-10814
total-10814
count-10815
total-10815
count-10816
total-10816
column3 double_ele[2, 4]
count-10817
total-10817
count-10818
total-10818
count-10819
total-10819
column7 double_ele[2, 8]
count-10820
total-10820
count-10821
total-10821
count-10822
total-10822
count-10823
total-10823
count-10824
total-10824
count-10825
total-10825
count-10826
total-10826
count-10827
total-10827
count-10828
total-10828
count-10829
total-10829
count-10830
total-10830
count-10831
total-10831
count-10832
total-10832
count-10833
total-10833
count-10834
total-10834
count-10835
total-10835
count-10836
total-10836
count-10837
total-10837
count-10838
total-10838
count-10839
total-10839
count-10840
total-10840
count-10841
total-10841
count-10842
total-10842
count-10843
total-10843
row 2double_ele[1, 6]
column8 double_ele[1, 6]
column9 double_ele[1, 6]
count-10844
total-10844
column6 double_ele[3, 7]
row 9double_ele[3, 7]
count-10845
total-10845
count-10846
total-10846
count-10847
total-10847
count-10848
total-10848
count-10849
total-10849
count-10850
total-10850
count-10851
total-10851
count-10852
total-10852
count-10853
total-10853
count-10854
total-10854
count-10855
total-10855
count-10856
total-10856
count-10857
total-10857
count-10858
total-10858
count-10859
total-10859
count-10860
total-10860
count-10861
total-10861
count-10862
total-10862
count-10863
total-10863
count-10864
total-10864
column2 double_ele[1, 3]
count-10865
total-10865
count-10866
total-10866
count-10867
total-10867
count-10868
total-10868
count-10869
total-10869
count-10870
total-10870
count-10871
total-10871
count-10872
total-10872
count-10873
total-10873
count-10874
total-10874
count-10875
total-10875
count-10876
total-10876
column5 double_ele[3, 5]
count-10877
total-10877
count-10878
total-10878
count-10879
total-10879
count-10880
total-10880
count-10881
total-10881
count-10882
total-10882
count-10883
total-10883
count-10884
total-10884
count-10885
total-10885
column2 double_ele[2, 5]
count-10886
total-10886
count-10887
total-10887
count-10888
total-10888
count-10889
total-10889
column8 double_ele[2, 3]
count-10890
total-10890
count-10891
total-10891
count-10892
total-10892
column3 double_ele[3, 4]
column6 double_ele[1, 7]
count-10893
total-10893
count-10894
total-10894
count-10895
total-10895
count-10896
total-10896
count-10897
total-10897
count-10898
total-10898
count-10899
total-10899
count-10900
total-10900
column2 double_ele[1, 8]
column5 double_ele[3, 4]
count-10901
total-10901
count-10902
total-10902
count-10903
total-10903
count-10904
total-10904
count-10905
total-10905
count-10906
total-10906
count-10907
total-10907
count-10908
total-10908
count-10909
total-10909
count-10910
total-10910
count-10911
total-10911
count-10912
total-10912
count-10913
total-10913
count-10914
total-10914
count-10915
total-10915
count-10916
total-10916
count-10917
total-10917
row 5double_ele[2, 6]
row 7double_ele[1, 6]
count-10918
total-10918
count-10919
total-10919
count-10920
total-10920
row 1double_ele[7, 8]
row 3double_ele[2, 8]
column4 double_ele[7, 8]
count-10921
total-10921
column1 double_ele[1, 6]
count-10922
total-10922
count-10923
total-10923
count-10924
total-10924
count-10925
total-10925
count-10926
total-10926
column1 double_ele[1, 6]
row 9double_ele[4, 5]
count-10927
total-10927
count-10928
total-10928
count-10929
total-10929
count-10930
total-10930
count-10931
total-10931
count-10932
total-10932
count-10933
total-10933
count-10934
total-10934
count-10935
total-10935
column6 double_ele[3, 5]
count-10936
total-10936
count-10937
total-10937
row 2double_ele[1, 4]
count-10938
total-10938
count-10939
total-10939
column2 double_ele[2, 4]
count-10940
total-10940
count-10941
total-10941
count-10942
total-10942
row 5double_ele[4, 5]
count-10943
total-10943
count-10944
total-10944
count-10945
total-10945
count-10946
total-10946
count-10947
total-10947
count-10948
total-10948
count-10949
total-10949
count-10950
total-10950
count-10951
total-10951
count-10952
total-10952
count-10953
total-10953
column5 double_ele[2, 4]
count-10954
total-10954
count-10955
total-10955
count-10956
total-10956
count-10957
total-10957
count-10958
total-10958
count-10959
total-10959
count-10960
total-10960
count-10961
total-10961
count-10962
total-10962
count-10963
total-10963
count-10964
total-10964
count-10965
total-10965
row 8double_ele[1, 6]
column9 double_ele[1, 6]
count-10966
total-10966
count-10967
total-10967
count-10968
total-10968
count-10969
total-10969
count-10970
total-10970
count-10971
total-10971
row 8double_ele[1, 8]
count-10972
total-10972
count-10973
total-10973
count-10974
total-10974
count-10975
total-10975
count-10976
total-10976
count-10977
total-10977
count-10978
total-10978
count-10979
total-10979
count-10980
total-10980
count-10981
total-10981
count-10982
total-10982
count-10983
total-10983
count-10984
total-10984
count-10985
total-10985
count-10986
total-10986
count-10987
total-10987
count-10988
total-10988
count-10989
total-10989
count-10990
total-10990
count-10991
total-10991
count-10992
total-10992
count-10993
total-10993
count-10994
total-10994
count-10995
total-10995
count-10996
total-10996

count-10997
total-10997
count-10998
total-10998
row 7double_ele[2, 6]
count-10999
total-10999
count-11000
total-11000
count-11001
total-11001
count-11002
total-11002
count-11003
total-11003
count-11004
total-11004
count-11005
total-11005
count-11006
total-11006
count-11007
total-11007
count-11008
total-11008
count-11009
total-11009
count-11010
total-11010
count-11011
total-11011
count-11012
total-11012
count-11013
total-11013
count-11014
total-11014
count-11015
total-11015
count-11016
total-11016
row 2double_ele[1, 2]
column7 double_ele[1, 2]
count-11017
total-11017
count-11018
total-11018
count-11019
total-11019
count-11020
total-11020
count-11021
total-11021
count-11022
total-11022
column9 double_ele[3, 6]
count-11023
total-11023
row 4double_ele[1, 5]
count-11024
total-11024
count-11025
total-11025
count-11026
total-11026
count-11027
total-11027
count-11028
total-11028
count-11029
total-11029
count-11030
total-11030
count-11031
total-11031
count-11032
total-11032
count-11033
total-11033
count-11034
total-11034
count-11035
total-11035
count-11036
total-11036
count-11037
total-11037
count-11038
total-11038
count-11039
total-11039
count-11040
total-11040
count-11041
total-11041
count-11042
total-11042
count-11043
total-11043
count-11044
total-11044
count-11045
total-11045
count-11046
total-11046
count-11047
total-11047
count-11048
total-11048
count-11049
total-11049
count-11050
total-11050
count-11051
total-11051
count-11052
total-11052
count-11053
total-11053
count-11054
total-11054
count-11055
total-11055
count-11056
total-11056
column2 double_ele[1, 3]
count-11057
total-11057
count-11058
total-11058
count-11059
total-11059
count-11060
total-11060
count-11061
total-11061
count-11062
total-11062
count-11063
total-11063
count-11064
total-11064
column2 double_ele[3, 4]
column4 double_ele[2, 3]
column6 double_ele[1, 2]
column8 double_ele[1, 6]
count-11065
total-11065
count-11066
total-11066
count-11067
total-11067
count-11068
total-11068
count-11069
total-11069
row 2double_ele[3, 4]
count-11070
total-11070
count-11071
total-11071
count-11072
total-11072
count-11073
total-11073
count-11074
total-11074
row 4double_ele[2, 4]
count-11075
total-11075
count-11076
total-11076
count-11077
total-11077
count-11078
total-11078
count-11079
total-11079
count-11080
total-11080
count-11081
total-11081
count-11082
total-11082
count-11083
total-11083
count-11084
total-11084
count-11085
total-11085
row 4double_ele[2, 3]
count-11086
total-11086
count-11087
total-11087
row 8double_ele[3, 6]
count-11088
total-11088
count-11089
total-11089
count-11090
total-11090
count-11091
total-11091
count-11092
total-11092
count-11093
total-11093
row 2double_ele[1, 7]
count-11094
total-11094
count-11095
total-11095
column9 double_ele[1, 2]
count-11096
total-11096
count-11097
total-11097
count-11098
total-11098
count-11099
total-11099
count-11100
total-11100
count-11101
total-11101
count-11102
total-11102
count-11103
total-11103
count-11104
total-11104
row 8double_ele[4, 6]
row 9double_ele[2, 4]
count-11105
total-11105
count-11106
total-11106
count-11107
total-11107
count-11108
total-11108
count-11109
total-11109
count-11110
total-11110
count-11111
total-11111
count-11112
total-11112
count-11113
total-11113
count-11114
total-11114
count-11115
total-11115
count-11116
total-11116
count-11117
total-11117
count-11118
total-11118
count-11119
total-11119
count-11120
total-11120
count-11121
total-11121
column3 double_ele[1, 2]
count-11122
total-11122
count-11123
total-11123
count-11124
total-11124
count-11125
total-11125
count-11126
total-11126
count-11127
total-11127
count-11128
total-11128
count-11129
total-11129
count-11130
total-11130
count-11131
total-11131
count-11132
total-11132
count-11133
total-11133
count-11134
total-11134
count-11135
total-11135
count-11136
total-11136
row 5double_ele[1, 4]
count-11137
total-11137
count-11138
total-11138
column5 double_ele[2, 6]
row 8double_ele[2, 6]
count-11139
total-11139
count-11140
total-11140
count-11141
total-11141
count-11142
total-11142
count-11143
total-11143
row 3double_ele[1, 2]
count-11144
total-11144
count-11145
total-11145
count-11146
total-11146
count-11147
total-11147
row 1double_ele[3, 7]
count-11148
total-11148
count-11149
total-11149
count-11150
total-11150
count-11151
total-11151
count-11152
total-11152
count-11153
total-11153
count-11154
total-11154
count-11155
total-11155
column2 double_ele[2, 4]
column5 double_ele[1, 4]
row 8double_ele[1, 4]
count-11156
total-11156
row 1double_ele[2, 4]
count-11157
total-11157
count-11158
total-11158
count-11159
total-11159
count-11160
total-11160
count-11161
total-11161
count-11162
total-11162
count-11163
total-11163
count-11164
total-11164
count-11165
total-11165
count-11166
total-11166
count-11167
total-11167
count-11168
total-11168
count-11169
total-11169
count-11170
total-11170
count-11171
total-11171
count-11172
total-11172
count-11173
total-11173
count-11174
total-11174
count-11175
total-11175
count-11176
total-11176
count-11177
total-11177
row 8double_ele[4, 6]
count-11178
total-11178
count-11179
total-11179
count-11180
total-11180
count-11181
total-11181
count-11182
total-11182
count-11183
total-11183
count-11184
total-11184
row 4double_ele[1, 4]
count-11185
total-11185
count-11186
total-11186
row 3double_ele[1, 4]
count-11187
total-11187
count-11188
total-11188
count-11189
total-11189
count-11190
total-11190
count-11191
total-11191
count-11192
total-11192
count-11193
total-11193
count-11194
total-11194
count-11195
total-11195
column3 double_ele[5, 8]
count-11196
total-11196
count-11197
total-11197
column2 double_ele[1, 3]
column5 double_ele[3, 4]
column6 double_ele[4, 5]
count-11198
total-11198
count-11199
total-11199
count-11200
total-11200
count-11201
total-11201
count-11202
total-11202
count-11203
total-11203
count-11204
total-11204
row 3double_ele[3, 9]
count-11205
total-11205
count-11206
total-11206
count-11207
total-11207
row 2double_ele[1, 6]
count-11208
total-11208
count-11209
total-11209
count-11210
total-11210
count-11211
total-11211
count-11212
total-11212
column2 double_ele[2, 4]
count-11213
total-11213
count-11214
total-11214
count-11215
total-11215
count-11216
total-11216
column2 double_ele[2, 4]
column7 double_ele[4, 5]
count-11217
total-11217
count-11218
total-11218
count-11219
total-11219
count-11220
total-11220
count-11221
total-11221
count-11222
total-11222
count-11223
total-11223
count-11224
total-11224
count-11225
total-11225
count-11226
total-11226
count-11227
total-11227
count-11228
total-11228
count-11229
total-11229
count-11230
total-11230
count-11231
total-11231
count-11232
total-11232
count-11233
total-11233
row 9double_ele[1, 2]
count-11234
total-11234
count-11235
total-11235
count-11236
total-11236
count-11237
total-11237
count-11238
total-11238
count-11239
total-11239
count-11240
total-11240
count-11241
total-11241
count-11242
total-11242
count-11243
total-11243
count-11244
total-11244
count-11245
total-11245
count-11246
total-11246
count-11247
total-11247
count-11248
total-11248
count-11249
total-11249
count-11250
total-11250
count-11251
total-11251
count-11252
total-11252
row 1double_ele[3, 4]
count-11253
total-11253
count-11254
total-11254
count-11255
total-11255
count-11256
total-11256
count-11257
total-11257
row 3double_ele[2, 5]
column4 double_ele[2, 5]
count-11258
total-11258
count-11259
total-11259
count-11260
total-11260
count-11261
total-11261
count-11262
total-11262
count-11263
total-11263
column8 double_ele[3, 6]
count-11264
total-11264
count-11265
total-11265
count-11266
total-11266
count-11267
total-11267
column9 double_ele[2, 8]
count-11268
total-11268
count-11269
total-11269
row 2double_ele[2, 4]
count-11270
total-11270
count-11271
total-11271
row 1double_ele[2, 4]
column1 double_ele[2, 4]
column2 double_ele[2, 4]
row 4double_ele[2, 4]
row 7double_ele[2, 4]
count-11272
total-11272
count-11273
total-11273
count-11274
total-11274
count-11275
total-11275
count-11276
total-11276
count-11277
total-11277
count-11278
total-11278
count-11279
total-11279
count-11280
total-11280
count-11281
total-11281
count-11282
total-11282
count-11283
total-11283
count-11284
total-11284
count-11285
total-11285
count-11286
total-11286
count-11287
total-11287
count-11288
total-11288
count-11289
total-11289
count-11290
total-11290
count-11291
total-11291
count-11292
total-11292
column7 double_ele[1, 5]
row 9double_ele[1, 5]
column9 double_ele[1, 5]
count-11293
total-11293
count-11294
total-11294
count-11295
total-11295
count-11296
total-11296
count-11297
total-11297
count-11298
total-11298
count-11299
total-11299

count-11300
total-11300
count-11301
total-11301
count-11302
total-11302
count-11303
total-11303
count-11304
total-11304
count-11305
total-11305
count-11306
total-11306
count-11307
total-11307
count-11308
total-11308
count-11309
total-11309
count-11310
total-11310
count-11311
total-11311
count-11312
total-11312
count-11313
total-11313
count-11314
total-11314
count-11315
total-11315
count-11316
total-11316
count-11317
total-11317
count-11318
total-11318
count-11319
total-11319
count-11320
total-11320
count-11321
total-11321
count-11322
total-11322
count-11323
total-11323
count-11324
total-11324
column5 double_ele[2, 5]
count-11325
total-11325
column8 double_ele[3, 4]
count-11326
total-11326
row 6double_ele[4, 8]
row 7double_ele[3, 8]
count-11327
total-11327
count-11328
total-11328
count-11329
total-11329
count-11330
total-11330
row 3double_ele[3, 8]
count-11331
total-11331
row 1double_ele[1, 3]
count-11332
total-11332
count-11333
total-11333
count-11334
total-11334
row 3double_ele[2, 5]
count-11335
total-11335
count-11336
total-11336
count-11337
total-11337
count-11338
total-11338
count-11339
total-11339
column4 double_ele[1, 2]
row 8double_ele[1, 2]
count-11340
total-11340
count-11341
total-11341
count-11342
total-11342
count-11343
total-11343
count-11344
total-11344
count-11345
total-11345
count-11346
total-11346
count-11347
total-11347
count-11348
total-11348
count-11349
total-11349
count-11350
total-11350
count-11351
total-11351
count-11352
total-11352
row 5double_ele[4, 7]
count-11353
total-11353
count-11354
total-11354
count-11355
total-11355
count-11356
total-11356
count-11357
total-11357
count-11358
total-11358
count-11359
total-11359
count-11360
total-11360
count-11361
total-11361
count-11362
total-11362
count-11363
total-11363
count-11364
total-11364
count-11365
total-11365
count-11366
total-11366
count-11367
total-11367
count-11368
total-11368
count-11369
total-11369
column7 double_ele[1, 3]
count-11370
total-11370
count-11371
total-11371
count-11372
total-11372
count-11373
total-11373
count-11374
total-11374
row 5double_ele[1, 3]
count-11375
total-11375
count-11376
total-11376
count-11377
total-11377
row 9double_ele[2, 4]
count-11378
total-11378
count-11379
total-11379
count-11380
total-11380
count-11381
total-11381
count-11382
total-11382
count-11383
total-11383
count-11384
total-11384
column9 double_ele[3, 4]
count-11385
total-11385
count-11386
total-11386
count-11387
total-11387
count-11388
total-11388
count-11389
total-11389
count-11390
total-11390
count-11391
total-11391
count-11392
total-11392
count-11393
total-11393
count-11394
total-11394
count-11395
total-11395
count-11396
total-11396
count-11397
total-11397
count-11398
total-11398
count-11399
total-11399
count-11400
total-11400
count-11401
total-11401
count-11402
total-11402
count-11403
total-11403
count-11404
total-11404
column6 double_ele[3, 4]
row 9double_ele[3, 4]
count-11405
total-11405
count-11406
total-11406
count-11407
total-11407
count-11408
total-11408
count-11409
total-11409
count-11410
total-11410
row 1double_ele[1, 9]
row 6double_ele[5, 9]
count-11411
total-11411
count-11412
total-11412
count-11413
total-11413
row 1double_ele[5, 8]
count-11414
total-11414
count-11415
total-11415
count-11416
total-11416
count-11417
total-11417
count-11418
total-11418
count-11419
total-11419
count-11420
total-11420
count-11421
total-11421
count-11422
total-11422
count-11423
total-11423
column8 double_ele[2, 5]
count-11424
total-11424
column6 double_ele[2, 3]
count-11425
total-11425
count-11426
total-11426
count-11427
total-11427
count-11428
total-11428
count-11429
total-11429
count-11430
total-11430
count-11431
total-11431
count-11432
total-11432
count-11433
total-11433
count-11434
total-11434
count-11435
total-11435
count-11436
total-11436
count-11437
total-11437
count-11438
total-11438
count-11439
total-11439
count-11440
total-11440
count-11441
total-11441
count-11442
total-11442
count-11443
total-11443
count-11444
total-11444
count-11445
total-11445
count-11446
total-11446
count-11447
total-11447
count-11448
total-11448
count-11449
total-11449
count-11450
total-11450
count-11451
total-11451
count-11452
total-11452
count-11453
total-11453
row 1double_ele[4, 5]
row 2double_ele[4, 5]
column3 double_ele[4, 5]
column4 double_ele[4, 5]
count-11454
total-11454
count-11455
total-11455
count-11456
total-11456
count-11457
total-11457
count-11458
total-11458
count-11459
total-11459
count-11460
total-11460
count-11461
total-11461
count-11462
total-11462
count-11463
total-11463
count-11464
total-11464
count-11465
total-11465
count-11466
total-11466
row 5double_ele[5, 7]
row 6double_ele[5, 7]
column7 double_ele[5, 7]
count-11467
total-11467
count-11468
total-11468
count-11469
total-11469
count-11470
total-11470
count-11471
total-11471
row 1double_ele[1, 3]
count-11472
total-11472
count-11473
total-11473
row 1double_ele[2, 4]
column3 double_ele[2, 4]
column5 double_ele[2, 4]
count-11474
total-11474
count-11475
total-11475
count-11476
total-11476
count-11477
total-11477
count-11478
total-11478
count-11479
total-11479
count-11480
total-11480
count-11481
total-11481
count-11482
total-11482
count-11483
total-11483
count-11484
total-11484
count-11485
total-11485
count-11486
total-11486
count-11487
total-11487
count-11488
total-11488
column3 double_ele[2, 5]
count-11489
total-11489
count-11490
total-11490
count-11491
total-11491
count-11492
total-11492
count-11493
total-11493
count-11494
total-11494
count-11495
total-11495
count-11496
total-11496
count-11497
total-11497
count-11498
total-11498
count-11499
total-11499
count-11500
total-11500
count-11501
total-11501
count-11502
total-11502
count-11503
total-11503
count-11504
total-11504
count-11505
total-11505
count-11506
total-11506
count-11507
total-11507
count-11508
total-11508
count-11509
total-11509
count-11510
total-11510
count-11511
total-11511
count-11512
total-11512
count-11513
total-11513
count-11514
total-11514
count-11515
total-11515
count-11516
total-11516
count-11517
total-11517
count-11518
total-11518
count-11519
total-11519
count-11520
total-11520
count-11521
total-11521
count-11522
total-11522
row 7double_ele[2, 5]
count-11523
total-11523
count-11524
total-11524
count-11525
total-11525
count-11526
total-11526
count-11527
total-11527
count-11528
total-11528
count-11529
total-11529
column4 double_ele[4, 6]
count-11530
total-11530
count-11531
total-11531
count-11532
total-11532
count-11533
total-11533
count-11534
total-11534
count-11535
total-11535
count-11536
total-11536
count-11537
total-11537
count-11538
total-11538
count-11539
total-11539
count-11540
total-11540
count-11541
total-11541
count-11542
total-11542
count-11543
total-11543
count-11544
total-11544
count-11545
total-11545
count-11546
total-11546
count-11547
total-11547
count-11548
total-11548
count-11549
total-11549
count-11550
total-11550
count-11551
total-11551
count-11552
total-11552
count-11553
total-11553
column3 double_ele[1, 6]
count-11554
total-11554
count-11555
total-11555
count-11556
total-11556
count-11557
total-11557
count-11558
total-11558
count-11559
total-11559
row 1double_ele[5, 6]
row 2double_ele[5, 6]
column7 double_ele[5, 6]
count-11560
total-11560
count-11561
total-11561
count-11562
total-11562
count-11563
total-11563
count-11564
total-11564
count-11565
total-11565
count-11566
total-11566
count-11567
total-11567
count-11568
total-11568
count-11569
total-11569
count-11570
total-11570
count-11571
total-11571
count-11572
total-11572
count-11573
total-11573
count-11574
total-11574
count-11575
total-11575
count-11576
total-11576
count-11577
total-11577
count-11578
total-11578
count-11579
total-11579
count-11580
total-11580
count-11581
total-11581
count-11582
total-11582
count-11583
total-11583
row 8double_ele[3, 5]
count-11584
total-11584
count-11585
total-11585
count-11586
total-11586
count-11587
total-11587
count-11588
total-11588
count-11589
total-11589
row 8double_ele[1, 3]
count-11590
total-11590
count-11591
total-11591
count-11592
total-11592
count-11593
total-11593
count-11594
total-11594
count-11595
total-11595
count-11596
total-11596
column6 double_ele[3, 7]
count-11597
total-11597
count-11598
total-11598
count-11599
total-11599
count-11600
total-11600
count-11601
total-11601
count-11602
total-11602
count-11603
total-11603
column2 double_ele[4, 6]
column4 double_ele[4, 7]
count-11604
total-11604
count-11605
total-11605
count-11606
total-11606
count-11607
total-11607

count-11608
total-11608
count-11609
total-11609
count-11610
total-11610
count-11611
total-11611
count-11612
total-11612
count-11613
total-11613
count-11614
total-11614
count-11615
total-11615
count-11616
total-11616
count-11617
total-11617
count-11618
total-11618
count-11619
total-11619
count-11620
total-11620
count-11621
total-11621
count-11622
total-11622
count-11623
total-11623
count-11624
total-11624
count-11625
total-11625
count-11626
total-11626
count-11627
total-11627
count-11628
total-11628
count-11629
total-11629
row 6double_ele[1, 3]
count-11630
total-11630
count-11631
total-11631
count-11632
total-11632
count-11633
total-11633
count-11634
total-11634
count-11635
total-11635
count-11636
total-11636
count-11637
total-11637
count-11638
total-11638
count-11639
total-11639
count-11640
total-11640
count-11641
total-11641
count-11642
total-11642
count-11643
total-11643
count-11644
total-11644
count-11645
total-11645
count-11646
total-11646
count-11647
total-11647
count-11648
total-11648
count-11649
total-11649
count-11650
total-11650
count-11651
total-11651
count-11652
total-11652
count-11653
total-11653
count-11654
total-11654
count-11655
total-11655
count-11656
total-11656
count-11657
total-11657
count-11658
total-11658
count-11659
total-11659
count-11660
total-11660
count-11661
total-11661
count-11662
total-11662
count-11663
total-11663
count-11664
total-11664
count-11665
total-11665
count-11666
total-11666
count-11667
total-11667
count-11668
total-11668
row 1triple_ele[1, 5, 6]
box3 triple_ele[1, 5, 6]
count-11669
total-11669
row 7double_ele[1, 2]
count-11670
total-11670
count-11671
total-11671
count-11672
total-11672
count-11673
total-11673
row 3double_ele[4, 5]
count-11674
total-11674
count-11675
total-11675
count-11676
total-11676
count-11677
total-11677
count-11678
total-11678
count-11679
total-11679
count-11680
total-11680
count-11681
total-11681
count-11682
total-11682
count-11683
total-11683
count-11684
total-11684
count-11685
total-11685
column9 double_ele[2, 7]
count-11686
total-11686
count-11687
total-11687
count-11688
total-11688
count-11689
total-11689
column4 double_ele[2, 5]
row 7double_ele[1, 5]
count-11690
total-11690
count-11691
total-11691
count-11692
total-11692
column1 double_ele[2, 5]
row 4double_ele[2, 5]
column6 double_ele[3, 5]
row 9double_ele[3, 6]
count-11693
total-11693
count-11694
total-11694
count-11695
total-11695
row 6double_ele[3, 5]
row 9double_ele[3, 7]
count-11696
total-11696
count-11697
total-11697
count-11698
total-11698
count-11699
total-11699
count-11700
total-11700
count-11701
total-11701
count-11702
total-11702
count-11703
total-11703
count-11704
total-11704
count-11705
total-11705
count-11706
total-11706
count-11707
total-11707
count-11708
total-11708
row 5double_ele[3, 4]
count-11709
total-11709
count-11710
total-11710
count-11711
total-11711
count-11712
total-11712
row 5triple_ele[1, 6, 7]
box6 triple_ele[1, 6, 7]
count-11713
total-11713
count-11714
total-11714
count-11715
total-11715
count-11716
total-11716
count-11717
total-11717
count-11718
total-11718
count-11719
total-11719
count-11720
total-11720
count-11721
total-11721
count-11722
total-11722
count-11723
total-11723
count-11724
total-11724
count-11725
total-11725
count-11726
total-11726
count-11727
total-11727
count-11728
total-11728
count-11729
total-11729
count-11730
total-11730
count-11731
total-11731
column8 double_ele[1, 2]
count-11732
total-11732
count-11733
total-11733
row 6double_ele[4, 6]
count-11734
total-11734
count-11735
total-11735
count-11736
total-11736
count-11737
total-11737
count-11738
total-11738
count-11739
total-11739
count-11740
total-11740
row 2double_ele[1, 3]
count-11741
total-11741
count-11742
total-11742
count-11743
total-11743
count-11744
total-11744
count-11745
total-11745
count-11746
total-11746
count-11747
total-11747
count-11748
total-11748
count-11749
total-11749
count-11750
total-11750
count-11751
total-11751
count-11752
total-11752
count-11753
total-11753
count-11754
total-11754
count-11755
total-11755
count-11756
total-11756
count-11757
total-11757
count-11758
total-11758
count-11759
total-11759
column1 double_ele[2, 5]
count-11760
total-11760
count-11761
total-11761
count-11762
total-11762
count-11763
total-11763
count-11764
total-11764
count-11765
total-11765
count-11766
total-11766
row 9double_ele[2, 3]
count-11767
total-11767
row 5double_ele[1, 2]
column8 double_ele[1, 2]
count-11768
total-11768
count-11769
total-11769
count-11770
total-11770
count-11771
total-11771
count-11772
total-11772
count-11773
total-11773
count-11774
total-11774
row 6double_ele[1, 2]
count-11775
total-11775
column2 double_ele[3, 6]
count-11776
total-11776
count-11777
total-11777
count-11778
total-11778
count-11779
total-11779
row 2double_ele[1, 6]
column3 double_ele[3, 4]
count-11780
total-11780
count-11781
total-11781
count-11782
total-11782
count-11783
total-11783
row 2double_ele[1, 3]
row 3double_ele[1, 6]
count-11784
total-11784
count-11785
total-11785
count-11786
total-11786
count-11787
total-11787
count-11788
total-11788
row 3double_ele[1, 2]
count-11789
total-11789
count-11790
total-11790
count-11791
total-11791
row 2double_ele[3, 4]
column4 double_ele[3, 4]
count-11792
total-11792
count-11793
total-11793
count-11794
total-11794
count-11795
total-11795
count-11796
total-11796
count-11797
total-11797
count-11798
total-11798
count-11799
total-11799
count-11800
total-11800
count-11801
total-11801
count-11802
total-11802
count-11803
total-11803
count-11804
total-11804
count-11805
total-11805
count-11806
total-11806
count-11807
total-11807
count-11808
total-11808
count-11809
total-11809
count-11810
total-11810
count-11811
total-11811
count-11812
total-11812
count-11813
total-11813
row 1double_ele[2, 8]
count-11814
total-11814
count-11815
total-11815
count-11816
total-11816
count-11817
total-11817
count-11818
total-11818
count-11819
total-11819
count-11820
total-11820
count-11821
total-11821
count-11822
total-11822
row 9double_ele[2, 4]
count-11823
total-11823
row 4double_ele[1, 2]
count-11824
total-11824
count-11825
total-11825
count-11826
total-11826
count-11827
total-11827
count-11828
total-11828
count-11829
total-11829
count-11830
total-11830
count-11831
total-11831
count-11832
total-11832
count-11833
total-11833
count-11834
total-11834
count-11835
total-11835
count-11836
total-11836
count-11837
total-11837
count-11838
total-11838
count-11839
total-11839
count-11840
total-11840
count-11841
total-11841
column2 double_ele[1, 2]
count-11842
total-11842
count-11843
total-11843
row 1double_ele[2, 4]
count-11844
total-11844
count-11845
total-11845
count-11846
total-11846
count-11847
total-11847
count-11848
total-11848
count-11849
total-11849
count-11850
total-11850
count-11851
total-11851
column4 double_ele[2, 6]
row 5double_ele[2, 3]
count-11852
total-11852
count-11853
total-11853
count-11854
total-11854
count-11855
total-11855
count-11856
total-11856
count-11857
total-11857
row 4double_ele[1, 2]
count-11858
total-11858
count-11859
total-11859
count-11860
total-11860
count-11861
total-11861
row 9double_ele[2, 8]
count-11862
total-11862
count-11863
total-11863
count-11864
total-11864
count-11865
total-11865
count-11866
total-11866
count-11867
total-11867
count-11868
total-11868
count-11869
total-11869
count-11870
total-11870
count-11871
total-11871
count-11872
total-11872
count-11873
total-11873
count-11874
total-11874
count-11875
total-11875
column2 double_ele[1, 4]
count-11876
total-11876
count-11877
total-11877
count-11878
total-11878
count-11879
total-11879
column9 double_ele[1, 2]
count-11880
total-11880
count-11881
total-11881
row 3double_ele[3, 4]
column4 double_ele[3, 4]
row 7double_ele[3, 4]
count-11882
total-11882
count-11883
total-11883
count-11884
total-11884
column4 double_ele[1, 3]
count-11885
total-11885
row 1double_ele[1, 4]
count-11886
total-11886
count-11887
total-11887
count-11888
total-11888
count-11889
total-11889
count-11890
total-11890
count-11891
total-11891
count-11892
total-11892
column8 double_ele[1, 2]
count-11893
total-11893
count-11894
total-11894
count-11895
total-11895
count-11896
total-11896
column7 double_ele[1, 4]
count-11897
total-11897
count-11898
total-11898
count-11899
total-11899
count-11900
total-11900
count-11901
total-11901
count-11902
total-11902
count-11903
total-11903
count-11904
total-11904
count-11905
total-11905

count-11906
total-11906
count-11907
total-11907
count-11908
total-11908
column6 double_ele[2, 6]
column8 double_ele[1, 6]
count-11909
total-11909
count-11910
total-11910
row 5double_ele[6, 7]
row 9double_ele[2, 6]
count-11911
total-11911
count-11912
total-11912
count-11913
total-11913
count-11914
total-11914
count-11915
total-11915
count-11916
total-11916
count-11917
total-11917
count-11918
total-11918
count-11919
total-11919
count-11920
total-11920
column4 double_ele[5, 9]
count-11921
total-11921
count-11922
total-11922
count-11923
total-11923
count-11924
total-11924
column4 double_ele[2, 3]
column5 double_ele[1, 2]
count-11925
total-11925
count-11926
total-11926
count-11927
total-11927
column4 double_ele[2, 5]
row 7double_ele[2, 5]
count-11928
total-11928
count-11929
total-11929
count-11930
total-11930
count-11931
total-11931
count-11932
total-11932
column4 double_ele[4, 6]
row 7double_ele[4, 6]
count-11933
total-11933
count-11934
total-11934
count-11935
total-11935
count-11936
total-11936
count-11937
total-11937
count-11938
total-11938
count-11939
total-11939
row 6double_ele[3, 4]
column7 double_ele[3, 4]
count-11940
total-11940
count-11941
total-11941
count-11942
total-11942
count-11943
total-11943
column2 double_ele[1, 2]
count-11944
total-11944
count-11945
total-11945
count-11946
total-11946
count-11947
total-11947
count-11948
total-11948
count-11949
total-11949
count-11950
total-11950
count-11951
total-11951
count-11952
total-11952
count-11953
total-11953
count-11954
total-11954
count-11955
total-11955
count-11956
total-11956
count-11957
total-11957
count-11958
total-11958
column3 double_ele[4, 6]
count-11959
total-11959
count-11960
total-11960
count-11961
total-11961
count-11962
total-11962
count-11963
total-11963
row 1double_ele[2, 8]
row 2double_ele[1, 2]
count-11964
total-11964
count-11965
total-11965
count-11966
total-11966
count-11967
total-11967
count-11968
total-11968
count-11969
total-11969
count-11970
total-11970
count-11971
total-11971
count-11972
total-11972
row 4double_ele[2, 8]
count-11973
total-11973
count-11974
total-11974
count-11975
total-11975
count-11976
total-11976
count-11977
total-11977
count-11978
total-11978
count-11979
total-11979
count-11980
total-11980
count-11981
total-11981
count-11982
total-11982
count-11983
total-11983
count-11984
total-11984
count-11985
total-11985
count-11986
total-11986
column5 double_ele[1, 2]
count-11987
total-11987
count-11988
total-11988
count-11989
total-11989
count-11990
total-11990
count-11991
total-11991
count-11992
total-11992
count-11993
total-11993
count-11994
total-11994
count-11995
total-11995
count-11996
total-11996
count-11997
total-11997
row 3double_ele[2, 6]
count-11998
total-11998
count-11999
total-11999
count-12000
total-12000
count-12001
total-12001
count-12002
total-12002
count-12003
total-12003
count-12004
total-12004
count-12005
total-12005
count-12006
total-12006
count-12007
total-12007
count-12008
total-12008
count-12009
total-12009
count-12010
total-12010
count-12011
total-12011
count-12012
total-12012
row 5double_ele[3, 5]
column7 double_ele[3, 5]
count-12013
total-12013
count-12014
total-12014
count-12015
total-12015
count-12016
total-12016
column3 double_ele[4, 7]
count-12017
total-12017
column1 double_ele[1, 6]
column7 double_ele[4, 7]
count-12018
total-12018
count-12019
total-12019
count-12020
total-12020
count-12021
total-12021
count-12022
total-12022
count-12023
total-12023
count-12024
total-12024
row 1double_ele[4, 7]
column6 double_ele[4, 7]
count-12025
total-12025
row 3double_ele[2, 6]
count-12026
total-12026
count-12027
total-12027
count-12028
total-12028
count-12029
total-12029
row 7double_ele[1, 3]
count-12030
total-12030
count-12031
total-12031
count-12032
total-12032
row 1double_ele[1, 2]
row 8double_ele[2, 8]
count-12033
total-12033
count-12034
total-12034
count-12035
total-12035
count-12036
total-12036
count-12037
total-12037
column5 double_ele[2, 6]
count-12038
total-12038
count-12039
total-12039
count-12040
total-12040
count-12041
total-12041
count-12042
total-12042
count-12043
total-12043
count-12044
total-12044
count-12045
total-12045
count-12046
total-12046
count-12047
total-12047
count-12048
total-12048
count-12049
total-12049
count-12050
total-12050
count-12051
total-12051
count-12052
total-12052
count-12053
total-12053
count-12054
total-12054
count-12055
total-12055
count-12056
total-12056
count-12057
total-12057
count-12058
total-12058
count-12059
total-12059
count-12060
total-12060
row 3double_ele[4, 6]
column3 double_ele[1, 3]
count-12061
total-12061
count-12062
total-12062
count-12063
total-12063
count-12064
total-12064
count-12065
total-12065
count-12066
total-12066
count-12067
total-12067
count-12068
total-12068
count-12069
total-12069
count-12070
total-12070
count-12071
total-12071
count-12072
total-12072
row 9double_ele[1, 4]
count-12073
total-12073
count-12074
total-12074
count-12075
total-12075
count-12076
total-12076
column1 double_ele[1, 5]
count-12077
total-12077
count-12078
total-12078
count-12079
total-12079
column9 double_ele[1, 3]
count-12080
total-12080
count-12081
total-12081
count-12082
total-12082
count-12083
total-12083
count-12084
total-12084
count-12085
total-12085
count-12086
total-12086
count-12087
total-12087
row 1double_ele[1, 4]
column1 double_ele[1, 4]
column3 double_ele[1, 4]
row 4double_ele[5, 9]
row 7double_ele[1, 9]
column7 double_ele[5, 9]
row 9double_ele[1, 4]
column9 double_ele[1, 9]
count-12088
total-12088
row 1double_ele[4, 7]
column3 double_ele[2, 5]
count-12089
total-12089
count-12090
total-12090
count-12091
total-12091
count-12092
total-12092
count-12093
total-12093
count-12094
total-12094
count-12095
total-12095
count-12096
total-12096
count-12097
total-12097
count-12098
total-12098
count-12099
total-12099
count-12100
total-12100
count-12101
total-12101
count-12102
total-12102
count-12103
total-12103
count-12104
total-12104
count-12105
total-12105
count-12106
total-12106
count-12107
total-12107
count-12108
total-12108
count-12109
total-12109
column5 double_ele[1, 2]
column9 double_ele[2, 7]
count-12110
total-12110
count-12111
total-12111
count-12112
total-12112
count-12113
total-12113
count-12114
total-12114
count-12115
total-12115
count-12116
total-12116
column9 double_ele[6, 7]
count-12117
total-12117
count-12118
total-12118
count-12119
total-12119
count-12120
total-12120
count-12121
total-12121
count-12122
total-12122
count-12123
total-12123
count-12124
total-12124
count-12125
total-12125
count-12126
total-12126
count-12127
total-12127
count-12128
total-12128
column5 double_ele[7, 8]
count-12129
total-12129
count-12130
total-12130
count-12131
total-12131
count-12132
total-12132
count-12133
total-12133
count-12134
total-12134
count-12135
total-12135
count-12136
total-12136
column6 double_ele[1, 3]
count-12137
total-12137
count-12138
total-12138
count-12139
total-12139
count-12140
total-12140
count-12141
total-12141
count-12142
total-12142
count-12143
total-12143
count-12144
total-12144
count-12145
total-12145
count-12146
total-12146
row 9double_ele[1, 3]
count-12147
total-12147
count-12148
total-12148
column1 double_ele[1, 3]
row 4double_ele[3, 5]
row 7double_ele[1, 3]
count-12149
total-12149
count-12150
total-12150
count-12151
total-12151
count-12152
total-12152
count-12153
total-12153
count-12154
total-12154
count-12155
total-12155
count-12156
total-12156
count-12157
total-12157
count-12158
total-12158
count-12159
total-12159
column3 double_ele[2, 6]
row 8double_ele[2, 6]
column9 double_ele[2, 4]
count-12160
total-12160
count-12161
total-12161
count-12162
total-12162
count-12163
total-12163
count-12164
total-12164
count-12165
total-12165
column3 double_ele[3, 6]
count-12166
total-12166
row 1double_ele[4, 6]
count-12167
total-12167
count-12168
total-12168
count-12169
total-12169
row 4double_ele[1, 5]
count-12170
total-12170
count-12171
total-12171
column9 double_ele[2, 4]
count-12172
total-12172
count-12173
total-12173
count-12174
total-12174
count-12175
total-12175
count-12176
total-12176
count-12177
total-12177
count-12178
total-12178
column9 double_ele[5, 7]
count-12179
total-12179
count-12180
total-12180
count-12181
total-12181
count-12182
total-12182
column1 double_ele[2, 3]
count-12183
total-12183
count-12184
total-12184
column7 double_ele[2, 7]
count-12185
total-12185
count-12186
total-12186
count-12187
total-12187
count-12188
total-12188
count-12189
total-12189
row 1double_ele[3, 7]
box6 triple_ele[1, 2, 7]
count-12190
total-12190

count-12191
total-12191
column3 double_ele[1, 2]
row 4double_ele[1, 2]
count-12192
total-12192
column9 double_ele[6, 7]
count-12193
total-12193
count-12194
total-12194
count-12195
total-12195
row 3double_ele[2, 5]
count-12196
total-12196
count-12197
total-12197
count-12198
total-12198
count-12199
total-12199
count-12200
total-12200
count-12201
total-12201
count-12202
total-12202
count-12203
total-12203
count-12204
total-12204
column2 double_ele[2, 5]
row 3double_ele[2, 5]
count-12205
total-12205
count-12206
total-12206
count-12207
total-12207
count-12208
total-12208
count-12209
total-12209
count-12210
total-12210
count-12211
total-12211
count-12212
total-12212
count-12213
total-12213
count-12214
total-12214
count-12215
total-12215
count-12216
total-12216
count-12217
total-12217
count-12218
total-12218
count-12219
total-12219
count-12220
total-12220
count-12221
total-12221
count-12222
total-12222
count-12223
total-12223
count-12224
total-12224
count-12225
total-12225
count-12226
total-12226
count-12227
total-12227
count-12228
total-12228
count-12229
total-12229
count-12230
total-12230
count-12231
total-12231
count-12232
total-12232
count-12233
total-12233
count-12234
total-12234
count-12235
total-12235
count-12236
total-12236
count-12237
total-12237
count-12238
total-12238
column9 double_ele[2, 5]
count-12239
total-12239
count-12240
total-12240
count-12241
total-12241
count-12242
total-12242
count-12243
total-12243
count-12244
total-12244
count-12245
total-12245
column3 double_ele[2, 3]
count-12246
total-12246
count-12247
total-12247
count-12248
total-12248
count-12249
total-12249
row 1double_ele[4, 7]
column3 double_ele[4, 7]
count-12250
total-12250
count-12251
total-12251
count-12252
total-12252
count-12253
total-12253
count-12254
total-12254
count-12255
total-12255
count-12256
total-12256
count-12257
total-12257
count-12258
total-12258
count-12259
total-12259
count-12260
total-12260
count-12261
total-12261
count-12262
total-12262
count-12263
total-12263
count-12264
total-12264
count-12265
total-12265
count-12266
total-12266
count-12267
total-12267
count-12268
total-12268
count-12269
total-12269
count-12270
total-12270
row 1double_ele[2, 3]
column6 double_ele[2, 6]
count-12271
total-12271
count-12272
total-12272
count-12273
total-12273
count-12274
total-12274
count-12275
total-12275
column3 double_ele[2, 9]
count-12276
total-12276
count-12277
total-12277
count-12278
total-12278
count-12279
total-12279
column4 double_ele[3, 6]
count-12280
total-12280
count-12281
total-12281
count-12282
total-12282
count-12283
total-12283
count-12284
total-12284
count-12285
total-12285
count-12286
total-12286
row 6double_ele[2, 3]
count-12287
total-12287
count-12288
total-12288
count-12289
total-12289
count-12290
total-12290
count-12291
total-12291
count-12292
total-12292
count-12293
total-12293
count-12294
total-12294
count-12295
total-12295
row 7double_ele[2, 5]
count-12296
total-12296
row 4double_ele[1, 4]
count-12297
total-12297
count-12298
total-12298
count-12299
total-12299
count-12300
total-12300
count-12301
total-12301
count-12302
total-12302
count-12303
total-12303
count-12304
total-12304
count-12305
total-12305
count-12306
total-12306
count-12307
total-12307
count-12308
total-12308
count-12309
total-12309
row 8double_ele[2, 6]
count-12310
total-12310
count-12311
total-12311
count-12312
total-12312
count-12313
total-12313
count-12314
total-12314
row 8double_ele[1, 2]
count-12315
total-12315
column8 double_ele[3, 7]
row 9double_ele[2, 7]
count-12316
total-12316
count-12317
total-12317
count-12318
total-12318
count-12319
total-12319
count-12320
total-12320
count-12321
total-12321
count-12322
total-12322
count-12323
total-12323
count-12324
total-12324
count-12325
total-12325
count-12326
total-12326
count-12327
total-12327
count-12328
total-12328
count-12329
total-12329
count-12330
total-12330
count-12331
total-12331
count-12332
total-12332
count-12333
total-12333
count-12334
total-12334
count-12335
total-12335
count-12336
total-12336
count-12337
total-12337
count-12338
total-12338
count-12339
total-12339
count-12340
total-12340
count-12341
total-12341
count-12342
total-12342
count-12343
total-12343
count-12344
total-12344
count-12345
total-12345
column7 double_ele[2, 3]
count-12346
total-12346
count-12347
total-12347
count-12348
total-12348
count-12349
total-12349
count-12350
total-12350
row 8double_ele[1, 3]
count-12351
total-12351
row 5double_ele[4, 6]
count-12352
total-12352
count-12353
total-12353
count-12354
total-12354
count-12355
total-12355
count-12356
total-12356
count-12357
total-12357
count-12358
total-12358
count-12359
total-12359
count-12360
total-12360
count-12361
total-12361
count-12362
total-12362
count-12363
total-12363
count-12364
total-12364
count-12365
total-12365
count-12366
total-12366
count-12367
total-12367
column8 double_ele[4, 6]
count-12368
total-12368
count-12369
total-12369
count-12370
total-12370
count-12371
total-12371
count-12372
total-12372
count-12373
total-12373
count-12374
total-12374
count-12375
total-12375
count-12376
total-12376
count-12377
total-12377
count-12378
total-12378
count-12379
total-12379
row 1double_ele[2, 6]
row 7double_ele[1, 3]
count-12380
total-12380
count-12381
total-12381
count-12382
total-12382
count-12383
total-12383
count-12384
total-12384
count-12385
total-12385
count-12386
total-12386
count-12387
total-12387
count-12388
total-12388
count-12389
total-12389
count-12390
total-12390
count-12391
total-12391
count-12392
total-12392
count-12393
total-12393
count-12394
total-12394
count-12395
total-12395
count-12396
total-12396
count-12397
total-12397
column3 double_ele[1, 3]
count-12398
total-12398
count-12399
total-12399
count-12400
total-12400
count-12401
total-12401
count-12402
total-12402
count-12403
total-12403
column4 double_ele[2, 4]
count-12404
total-12404
count-12405
total-12405
count-12406
total-12406
count-12407
total-12407
count-12408
total-12408
count-12409
total-12409
count-12410
total-12410
count-12411
total-12411
count-12412
total-12412
count-12413
total-12413
count-12414
total-12414
row 1double_ele[3, 6]
column4 double_ele[3, 6]
row 7double_ele[3, 6]
count-12415
total-12415
count-12416
total-12416
count-12417
total-12417
count-12418
total-12418
count-12419
total-12419
column8 double_ele[3, 5]
count-12420
total-12420
column4 double_ele[3, 6]
count-12421
total-12421
count-12422
total-12422
count-12423
total-12423
count-12424
total-12424
count-12425
total-12425
count-12426
total-12426
count-12427
total-12427
column9 double_ele[2, 6]
count-12428
total-12428
count-12429
total-12429
count-12430
total-12430
count-12431
total-12431
count-12432
total-12432
count-12433
total-12433
count-12434
total-12434
count-12435
total-12435
count-12436
total-12436
count-12437
total-12437
count-12438
total-12438
count-12439
total-12439
count-12440
total-12440
count-12441
total-12441
count-12442
total-12442
count-12443
total-12443
count-12444
total-12444
count-12445
total-12445
count-12446
total-12446
count-12447
total-12447
column8 double_ele[1, 2]
count-12448
total-12448
count-12449
total-12449
count-12450
total-12450
column5 double_ele[7, 9]
count-12451
total-12451
count-12452
total-12452
count-12453
total-12453
count-12454
total-12454
count-12455
total-12455
count-12456
total-12456
count-12457
total-12457
column2 double_ele[1, 4]
count-12458
total-12458
count-12459
total-12459
count-12460
total-12460
count-12461
total-12461
count-12462
total-12462
count-12463
total-12463
count-12464
total-12464
count-12465
total-12465
count-12466
total-12466
count-12467
total-12467
count-12468
total-12468
count-12469
total-12469
count-12470
total-12470
count-12471
total-12471
count-12472
total-12472
count-12473
total-12473
count-12474
total-12474
row 8double_ele[3, 4]
count-12475
total-12475
column5 double_ele[5, 6]
count-12476
total-12476
count-12477
total-12477
count-12478
total-12478
count-12479
total-12479
count-12480
total-12480
count-12481
total-12481
count-12482
total-12482
count-12483
total-12483
count-12484
total-12484
column5 double_ele[4, 7]
count-12485
total-12485
count-12486
total-12486
count-12487
total-12487
count-12488
total-12488
count-12489
total-12489
count-12490
total-12490
count-12491
total-12491
count-12492
total-12492
count-12493
total-12493
count-12494
total-12494
row 5double_ele[4, 7]
count-12495
total-12495
count-12496
total-12496
column2 double_ele[3, 5]
column7 double_ele[2, 3]
count-12497
total-12497
count-12498
total-12498
count-12499
total-12499
count-12500
total-12500
count-12501
total-12501
count-12502
total-12502
count-12503
total-12503
count-12504
total-12504
row 4double_ele[2, 4]
count-12505
total-12505
count-12506
total-12506
count-12507
total-12507
count-12508
total-12508
count-12509
total-12509

count-12510
total-12510
count-12511
total-12511
column5 double_ele[2, 6]
count-12512
total-12512
count-12513
total-12513
count-12514
total-12514
count-12515
total-12515
count-12516
total-12516
count-12517
total-12517
count-12518
total-12518
count-12519
total-12519
count-12520
total-12520
count-12521
total-12521
count-12522
total-12522
count-12523
total-12523
count-12524
total-12524
count-12525
total-12525
column4 double_ele[1, 4]
count-12526
total-12526
count-12527
total-12527
count-12528
total-12528
count-12529
total-12529
count-12530
total-12530
count-12531
total-12531
count-12532
total-12532
count-12533
total-12533
count-12534
total-12534
count-12535
total-12535
count-12536
total-12536
count-12537
total-12537
count-12538
total-12538
column9 double_ele[5, 6]
count-12539
total-12539
count-12540
total-12540
count-12541
total-12541
count-12542
total-12542
count-12543
total-12543
count-12544
total-12544
count-12545
total-12545
count-12546
total-12546
count-12547
total-12547
row 3double_ele[1, 4]
count-12548
total-12548
count-12549
total-12549
count-12550
total-12550
count-12551
total-12551
count-12552
total-12552
count-12553
total-12553
count-12554
total-12554
count-12555
total-12555
count-12556
total-12556
count-12557
total-12557
count-12558
total-12558
count-12559
total-12559
count-12560
total-12560
count-12561
total-12561
column1 double_ele[1, 6]
row 5double_ele[1, 6]
count-12562
total-12562
count-12563
total-12563
column2 double_ele[2, 7]
column6 double_ele[1, 2]
count-12564
total-12564
count-12565
total-12565
count-12566
total-12566
count-12567
total-12567
count-12568
total-12568
count-12569
total-12569
count-12570
total-12570
row 8double_ele[2, 5]
count-12571
total-12571
count-12572
total-12572
count-12573
total-12573
row 3double_ele[1, 4]
column5 double_ele[1, 2]
count-12574
total-12574
row 1double_ele[2, 3]
row 5double_ele[3, 6]
count-12575
total-12575
count-12576
total-12576
count-12577
total-12577
count-12578
total-12578
count-12579
total-12579
count-12580
total-12580
count-12581
total-12581
column4 double_ele[1, 4]
count-12582
total-12582
column3 double_ele[1, 6]
row 4double_ele[1, 6]
count-12583
total-12583
count-12584
total-12584
count-12585
total-12585
count-12586
total-12586
count-12587
total-12587
count-12588
total-12588
count-12589
total-12589
count-12590
total-12590
count-12591
total-12591
count-12592
total-12592
count-12593
total-12593
count-12594
total-12594
count-12595
total-12595
count-12596
total-12596
row 1double_ele[2, 5]
count-12597
total-12597
count-12598
total-12598
count-12599
total-12599
count-12600
total-12600
count-12601
total-12601
count-12602
total-12602
count-12603
total-12603
count-12604
total-12604
count-12605
total-12605
count-12606
total-12606
count-12607
total-12607
count-12608
total-12608
count-12609
total-12609
count-12610
total-12610
column5 double_ele[4, 6]
column7 double_ele[1, 6]
count-12611
total-12611
count-12612
total-12612
count-12613
total-12613
count-12614
total-12614
count-12615
total-12615
count-12616
total-12616
count-12617
total-12617
count-12618
total-12618
count-12619
total-12619
count-12620
total-12620
count-12621
total-12621
count-12622
total-12622
column3 double_ele[1, 4]
row 4double_ele[1, 4]
count-12623
total-12623
count-12624
total-12624
count-12625
total-12625
count-12626
total-12626
count-12627
total-12627
count-12628
total-12628
count-12629
total-12629
count-12630
total-12630
count-12631
total-12631
count-12632
total-12632
count-12633
total-12633
count-12634
total-12634
count-12635
total-12635
count-12636
total-12636
count-12637
total-12637
count-12638
total-12638
count-12639
total-12639
count-12640
total-12640
count-12641
total-12641
count-12642
total-12642
count-12643
total-12643
column2 double_ele[2, 3]
row 9double_ele[2, 3]
count-12644
total-12644
count-12645
total-12645
count-12646
total-12646
count-12647
total-12647
column1 double_ele[3, 5]
row 8double_ele[3, 5]
count-12648
total-12648
count-12649
total-12649
count-12650
total-12650
count-12651
total-12651
count-12652
total-12652
count-12653
total-12653
count-12654
total-12654
count-12655
total-12655
count-12656
total-12656
count-12657
total-12657
count-12658
total-12658
count-12659
total-12659
count-12660
total-12660
count-12661
total-12661
count-12662
total-12662
count-12663
total-12663
count-12664
total-12664
count-12665
total-12665
count-12666
total-12666
row 4double_ele[2, 5]
count-12667
total-12667
count-12668
total-12668
count-12669
total-12669
row 8double_ele[4, 9]
count-12670
total-12670
count-12671
total-12671
column7 double_ele[2, 4]
count-12672
total-12672
count-12673
total-12673
count-12674
total-12674
row 5double_ele[1, 2]
row 9double_ele[3, 5]
count-12675
total-12675
count-12676
total-12676
count-12677
total-12677
count-12678
total-12678
count-12679
total-12679
count-12680
total-12680
count-12681
total-12681
count-12682
total-12682
count-12683
total-12683
count-12684
total-12684
count-12685
total-12685
count-12686
total-12686
count-12687
total-12687
count-12688
total-12688
count-12689
total-12689
count-12690
total-12690
count-12691
total-12691
count-12692
total-12692
count-12693
total-12693
count-12694
total-12694
count-12695
total-12695
count-12696
total-12696
count-12697
total-12697
count-12698
total-12698
count-12699
total-12699
count-12700
total-12700
count-12701
total-12701
count-12702
total-12702
count-12703
total-12703
count-12704
total-12704
count-12705
total-12705
count-12706
total-12706
count-12707
total-12707
column9 double_ele[1, 7]
count-12708
total-12708
count-12709
total-12709
count-12710
total-12710
count-12711
total-12711
count-12712
total-12712
count-12713
total-12713
count-12714
total-12714
count-12715
total-12715
row 4double_ele[1, 2]
column4 double_ele[1, 3]
column7 double_ele[1, 2]
count-12716
total-12716
count-12717
total-12717
count-12718
total-12718
count-12719
total-12719
count-12720
total-12720
count-12721
total-12721
row 4double_ele[1, 8]
count-12722
total-12722
count-12723
total-12723
count-12724
total-12724
count-12725
total-12725
count-12726
total-12726
count-12727
total-12727
count-12728
total-12728
count-12729
total-12729
count-12730
total-12730
count-12731
total-12731
count-12732
total-12732
column8 double_ele[3, 6]
count-12733
total-12733
count-12734
total-12734
count-12735
total-12735
count-12736
total-12736
count-12737
total-12737
count-12738
total-12738
count-12739
total-12739
count-12740
total-12740
count-12741
total-12741
count-12742
total-12742
count-12743
total-12743
count-12744
total-12744
count-12745
total-12745
count-12746
total-12746
count-12747
total-12747
count-12748
total-12748
column4 double_ele[4, 8]
count-12749
total-12749
count-12750
total-12750
count-12751
total-12751
column7 double_ele[1, 8]
count-12752
total-12752
count-12753
total-12753
count-12754
total-12754
count-12755
total-12755
count-12756
total-12756
count-12757
total-12757
column1 double_ele[1, 7]
count-12758
total-12758
column5 double_ele[1, 7]
row 9double_ele[1, 7]
count-12759
total-12759
row 2double_ele[1, 4]
count-12760
total-12760
count-12761
total-12761
count-12762
total-12762
count-12763
total-12763
count-12764
total-12764
count-12765
total-12765
count-12766
total-12766
count-12767
total-12767
count-12768
total-12768
count-12769
total-12769
count-12770
total-12770
count-12771
total-12771
count-12772
total-12772
count-12773
total-12773
count-12774
total-12774
count-12775
total-12775
count-12776
total-12776
count-12777
total-12777
count-12778
total-12778
count-12779
total-12779
count-12780
total-12780
count-12781
total-12781
row 3double_ele[4, 6]
column6 double_ele[4, 6]
count-12782
total-12782
column2 double_ele[3, 4]
count-12783
total-12783
count-12784
total-12784
count-12785
total-12785
count-12786
total-12786
count-12787
total-12787
count-12788
total-12788
count-12789
total-12789
count-12790
total-12790
count-12791
total-12791
count-12792
total-12792
count-12793
total-12793
count-12794
total-12794
count-12795
total-12795
count-12796
total-12796
row 2double_ele[2, 3]
column2 double_ele[2, 3]
count-12797
total-12797
count-12798
total-12798
count-12799
total-12799
count-12800
total-12800
count-12801
total-12801
column9 double_ele[2, 3]
count-12802
total-12802
count-12803
total-12803
count-12804
total-12804
box3 triple_ele[1, 2, 3]
count-12805
total-12805
count-12806
total-12806
count-12807
total-12807
count-12808
total-12808
count-12809
total-12809
count-12810
total-12810
count-12811
total-12811

count-12812
total-12812
count-12813
total-12813
count-12814
total-12814
count-12815
total-12815
count-12816
total-12816
row 5double_ele[1, 5]
count-12817
total-12817
count-12818
total-12818
count-12819
total-12819
count-12820
total-12820
count-12821
total-12821
count-12822
total-12822
count-12823
total-12823
count-12824
total-12824
count-12825
total-12825
count-12826
total-12826
count-12827
total-12827
count-12828
total-12828
count-12829
total-12829
count-12830
total-12830
count-12831
total-12831
count-12832
total-12832
count-12833
total-12833
count-12834
total-12834
count-12835
total-12835
count-12836
total-12836
count-12837
total-12837
count-12838
total-12838
count-12839
total-12839
count-12840
total-12840
count-12841
total-12841
row 9double_ele[3, 5]
count-12842
total-12842
count-12843
total-12843
count-12844
total-12844
count-12845
total-12845
count-12846
total-12846
count-12847
total-12847
count-12848
total-12848
count-12849
total-12849
column9 double_ele[1, 4]
count-12850
total-12850
count-12851
total-12851
count-12852
total-12852
count-12853
total-12853
count-12854
total-12854
count-12855
total-12855
count-12856
total-12856
count-12857
total-12857
count-12858
total-12858
count-12859
total-12859
count-12860
total-12860
count-12861
total-12861
count-12862
total-12862
row 1double_ele[2, 4]
column9 double_ele[3, 4]
count-12863
total-12863
count-12864
total-12864
count-12865
total-12865
count-12866
total-12866
count-12867
total-12867
count-12868
total-12868
count-12869
total-12869
count-12870
total-12870
count-12871
total-12871
count-12872
total-12872
count-12873
total-12873
count-12874
total-12874
count-12875
total-12875
count-12876
total-12876
count-12877
total-12877
count-12878
total-12878
count-12879
total-12879
column2 double_ele[2, 3]
count-12880
total-12880
count-12881
total-12881
count-12882
total-12882
count-12883
total-12883
row 9double_ele[1, 4]
count-12884
total-12884
count-12885
total-12885
count-12886
total-12886
count-12887
total-12887
count-12888
total-12888
count-12889
total-12889
count-12890
total-12890
column8 double_ele[1, 8]
count-12891
total-12891
count-12892
total-12892
count-12893
total-12893
column3 double_ele[2, 3]
column4 double_ele[1, 2]
count-12894
total-12894
column2 double_ele[1, 8]
count-12895
total-12895
count-12896
total-12896
count-12897
total-12897
count-12898
total-12898
count-12899
total-12899
count-12900
total-12900
count-12901
total-12901
count-12902
total-12902
count-12903
total-12903
count-12904
total-12904
count-12905
total-12905
count-12906
total-12906
count-12907
total-12907
count-12908
total-12908
count-12909
total-12909
column1 double_ele[1, 6]
count-12910
total-12910
count-12911
total-12911
column2 double_ele[1, 3]
count-12912
total-12912
count-12913
total-12913
count-12914
total-12914
row 7double_ele[4, 6]
count-12915
total-12915
count-12916
total-12916
count-12917
total-12917
count-12918
total-12918
count-12919
total-12919
count-12920
total-12920
column6 double_ele[1, 5]
count-12921
total-12921
count-12922
total-12922
count-12923
total-12923
count-12924
total-12924
count-12925
total-12925
column8 double_ele[1, 4]
count-12926
total-12926
count-12927
total-12927
count-12928
total-12928
count-12929
total-12929
count-12930
total-12930
count-12931
total-12931
count-12932
total-12932
count-12933
total-12933
count-12934
total-12934
row 4double_ele[4, 8]
count-12935
total-12935
count-12936
total-12936
count-12937
total-12937
count-12938
total-12938
count-12939
total-12939
count-12940
total-12940
count-12941
total-12941
count-12942
total-12942
count-12943
total-12943
count-12944
total-12944
count-12945
total-12945
row 1double_ele[5, 6]
column7 double_ele[3, 7]
count-12946
total-12946
count-12947
total-12947
column6 double_ele[5, 7]
column9 double_ele[2, 7]
count-12948
total-12948
count-12949
total-12949
count-12950
total-12950
row 7double_ele[1, 2]
count-12951
total-12951
count-12952
total-12952
count-12953
total-12953
count-12954
total-12954
count-12955
total-12955
count-12956
total-12956
count-12957
total-12957
count-12958
total-12958
count-12959
total-12959
column1 double_ele[1, 4]
row 5double_ele[1, 4]
count-12960
total-12960
count-12961
total-12961
count-12962
total-12962
row 1double_ele[1, 5]
count-12963
total-12963
count-12964
total-12964
count-12965
total-12965
count-12966
total-12966
count-12967
total-12967
count-12968
total-12968
column6 double_ele[1, 4]
count-12969
total-12969
count-12970
total-12970
count-12971
total-12971
count-12972
total-12972
count-12973
total-12973
count-12974
total-12974
count-12975
total-12975
row 7double_ele[1, 5]
count-12976
total-12976
count-12977
total-12977
count-12978
total-12978
count-12979
total-12979
count-12980
total-12980
count-12981
total-12981
count-12982
total-12982
count-12983
total-12983
count-12984
total-12984
count-12985
total-12985
count-12986
total-12986
count-12987
total-12987
column3 double_ele[3, 7]
count-12988
total-12988
count-12989
total-12989
count-12990
total-12990
column2 double_ele[1, 5]
row 9double_ele[1, 5]
count-12991
total-12991
count-12992
total-12992
count-12993
total-12993
count-12994
total-12994
count-12995
total-12995
count-12996
total-12996
column5 double_ele[1, 7]
count-12997
total-12997
column3 double_ele[3, 7]
row 4double_ele[3, 7]
row 8double_ele[3, 7]
count-12998
total-12998
count-12999
total-12999
column3 double_ele[1, 6]
count-13000
total-13000
count-13001
total-13001
count-13002
total-13002
count-13003
total-13003
count-13004
total-13004
count-13005
total-13005
count-13006
total-13006
count-13007
total-13007
count-13008
total-13008
count-13009
total-13009
count-13010
total-13010
count-13011
total-13011
count-13012
total-13012
count-13013
total-13013
count-13014
total-13014
column2 double_ele[3, 5]
count-13015
total-13015
count-13016
total-13016
count-13017
total-13017
count-13018
total-13018
count-13019
total-13019
count-13020
total-13020
count-13021
total-13021
count-13022
total-13022
column2 double_ele[2, 4]
row 7triple_ele[1, 2, 4]
box9 triple_ele[1, 2, 4]
count-13023
total-13023
count-13024
total-13024
count-13025
total-13025
count-13026
total-13026
row 6double_ele[1, 3]
count-13027
total-13027
count-13028
total-13028
count-13029
total-13029
count-13030
total-13030
count-13031
total-13031
count-13032
total-13032
count-13033
total-13033
count-13034
total-13034
count-13035
total-13035
count-13036
total-13036
count-13037
total-13037
column8 double_ele[2, 4]
count-13038
total-13038
count-13039
total-13039
count-13040
total-13040
count-13041
total-13041
count-13042
total-13042
count-13043
total-13043
count-13044
total-13044
count-13045
total-13045
count-13046
total-13046
count-13047
total-13047
count-13048
total-13048
count-13049
total-13049
count-13050
total-13050
count-13051
total-13051
count-13052
total-13052
row 1double_ele[1, 4]
row 2double_ele[1, 4]
column9 double_ele[1, 4]
count-13053
total-13053
count-13054
total-13054
count-13055
total-13055
count-13056
total-13056
column7 double_ele[2, 6]
count-13057
total-13057
count-13058
total-13058
count-13059
total-13059
count-13060
total-13060
count-13061
total-13061
row 5double_ele[1, 4]
count-13062
total-13062
count-13063
total-13063
count-13064
total-13064
count-13065
total-13065
count-13066
total-13066
count-13067
total-13067
count-13068
total-13068
count-13069
total-13069
count-13070
total-13070
count-13071
total-13071
count-13072
total-13072
count-13073
total-13073
count-13074
total-13074
count-13075
total-13075
count-13076
total-13076
count-13077
total-13077
count-13078
total-13078
count-13079
total-13079
count-13080
total-13080
count-13081
total-13081
count-13082
total-13082
count-13083
total-13083
count-13084
total-13084
row 9double_ele[3, 4]
count-13085
total-13085
count-13086
total-13086
count-13087
total-13087
count-13088
total-13088
count-13089
total-13089
count-13090
total-13090
count-13091
total-13091
count-13092
total-13092
count-13093
total-13093
count-13094
total-13094
column5 double_ele[1, 6]
count-13095
total-13095
count-13096
total-13096
count-13097
total-13097
count-13098
total-13098
column4 double_ele[2, 5]
count-13099
total-13099
count-13100
total-13100
count-13101
total-13101
count-13102
total-13102
count-13103
total-13103
row 1double_ele[2, 5]
row 3double_ele[4, 6]
count-13104
total-13104
count-13105
total-13105
count-13106
total-13106
count-13107
total-13107
count-13108
total-13108
count-13109
total-13109
row 3double_ele[1, 5]
row 8double_ele[3, 5]
row 9double_ele[1, 3]
count-13110
total-13110
count-13111
total-13111
count-13112
total-13112
count-13113
total-13113
count-13114
total-13114

count-13115
total-13115
count-13116
total-13116
count-13117
total-13117
count-13118
total-13118
count-13119
total-13119
count-13120
total-13120
count-13121
total-13121
count-13122
total-13122
count-13123
total-13123
count-13124
total-13124
count-13125
total-13125
count-13126
total-13126
count-13127
total-13127
count-13128
total-13128
count-13129
total-13129
count-13130
total-13130
row 4double_ele[1, 2]
count-13131
total-13131
count-13132
total-13132
count-13133
total-13133
count-13134
total-13134
count-13135
total-13135
count-13136
total-13136
count-13137
total-13137
count-13138
total-13138
count-13139
total-13139
count-13140
total-13140
count-13141
total-13141
count-13142
total-13142
count-13143
total-13143
count-13144
total-13144
count-13145
total-13145
count-13146
total-13146
count-13147
total-13147
count-13148
total-13148
count-13149
total-13149
count-13150
total-13150
count-13151
total-13151
count-13152
total-13152
count-13153
total-13153
count-13154
total-13154
count-13155
total-13155
count-13156
total-13156
count-13157
total-13157
count-13158
total-13158
count-13159
total-13159
count-13160
total-13160
count-13161
total-13161
count-13162
total-13162
count-13163
total-13163
count-13164
total-13164
count-13165
total-13165
count-13166
total-13166
count-13167
total-13167
count-13168
total-13168
count-13169
total-13169
count-13170
total-13170
count-13171
total-13171
count-13172
total-13172
count-13173
total-13173
count-13174
total-13174
count-13175
total-13175
count-13176
total-13176
column2 double_ele[8, 9]
row 5double_ele[2, 6]
box3 triple_ele[1, 2, 9]
count-13177
total-13177
count-13178
total-13178
count-13179
total-13179
count-13180
total-13180
count-13181
total-13181
column7 double_ele[1, 4]
count-13182
total-13182
count-13183
total-13183
count-13184
total-13184
count-13185
total-13185
count-13186
total-13186
count-13187
total-13187
row 9double_ele[1, 8]
count-13188
total-13188
count-13189
total-13189
count-13190
total-13190
count-13191
total-13191
count-13192
total-13192
count-13193
total-13193
count-13194
total-13194
count-13195
total-13195
count-13196
total-13196
count-13197
total-13197
count-13198
total-13198
count-13199
total-13199
count-13200
total-13200
count-13201
total-13201
count-13202
total-13202
count-13203
total-13203
count-13204
total-13204
count-13205
total-13205
count-13206
total-13206
count-13207
total-13207
count-13208
total-13208
count-13209
total-13209
count-13210
total-13210
count-13211
total-13211
row 2double_ele[2, 4]
count-13212
total-13212
count-13213
total-13213
count-13214
total-13214
count-13215
total-13215
count-13216
total-13216
count-13217
total-13217
count-13218
total-13218
count-13219
total-13219
count-13220
total-13220
count-13221
total-13221
column6 double_ele[1, 3]
count-13222
total-13222
count-13223
total-13223
count-13224
total-13224
count-13225
total-13225
count-13226
total-13226
count-13227
total-13227
count-13228
total-13228
count-13229
total-13229
count-13230
total-13230
count-13231
total-13231
count-13232
total-13232
row 2double_ele[1, 6]
row 7double_ele[2, 7]
count-13233
total-13233
count-13234
total-13234
count-13235
total-13235
count-13236
total-13236
count-13237
total-13237
count-13238
total-13238
count-13239
total-13239
count-13240
total-13240
column1 double_ele[3, 6]
row 8double_ele[2, 3]
column8 double_ele[2, 3]
row 2triple_ele[2, 3, 6]
box3 triple_ele[2, 3, 6]
count-13241
total-13241
count-13242
total-13242
count-13243
total-13243
count-13244
total-13244
count-13245
total-13245
count-13246
total-13246
count-13247
total-13247
count-13248
total-13248
count-13249
total-13249
count-13250
total-13250
count-13251
total-13251
count-13252
total-13252
count-13253
total-13253
count-13254
total-13254
count-13255
total-13255
count-13256
total-13256
count-13257
total-13257
count-13258
total-13258
count-13259
total-13259
row 3double_ele[1, 9]
count-13260
total-13260
count-13261
total-13261
count-13262
total-13262
count-13263
total-13263
count-13264
total-13264
count-13265
total-13265
count-13266
total-13266
count-13267
total-13267
count-13268
total-13268
count-13269
total-13269
count-13270
total-13270
count-13271
total-13271
count-13272
total-13272
count-13273
total-13273
count-13274
total-13274
count-13275
total-13275
count-13276
total-13276
count-13277
total-13277
count-13278
total-13278
count-13279
total-13279
count-13280
total-13280
column8 double_ele[2, 3]
count-13281
total-13281
row 2double_ele[3, 5]
count-13282
total-13282
count-13283
total-13283
count-13284
total-13284
count-13285
total-13285
count-13286
total-13286
count-13287
total-13287
count-13288
total-13288
column1 double_ele[4, 8]
count-13289
total-13289
count-13290
total-13290
count-13291
total-13291
count-13292
total-13292
count-13293
total-13293
count-13294
total-13294
count-13295
total-13295
row 6double_ele[1, 2]
count-13296
total-13296
count-13297
total-13297
count-13298
total-13298
count-13299
total-13299
count-13300
total-13300
count-13301
total-13301
column8 double_ele[1, 6]
count-13302
total-13302
count-13303
total-13303
row 7double_ele[2, 3]
count-13304
total-13304
count-13305
total-13305
count-13306
total-13306
count-13307
total-13307
column1 double_ele[4, 5]
column2 double_ele[3, 6]
column5 double_ele[3, 8]
column8 double_ele[5, 6]
count-13308
total-13308
count-13309
total-13309
count-13310
total-13310
count-13311
total-13311
count-13312
total-13312
count-13313
total-13313
count-13314
total-13314
count-13315
total-13315
count-13316
total-13316
count-13317
total-13317
column1 double_ele[2, 3]
column4 double_ele[2, 4]
row 7double_ele[2, 3]
column7 double_ele[2, 4]
row 8double_ele[2, 4]
count-13318
total-13318
count-13319
total-13319
row 7double_ele[4, 6]
count-13320
total-13320
count-13321
total-13321
count-13322
total-13322
count-13323
total-13323
column8 double_ele[3, 5]
count-13324
total-13324
count-13325
total-13325
count-13326
total-13326
count-13327
total-13327
count-13328
total-13328
count-13329
total-13329
count-13330
total-13330
count-13331
total-13331
count-13332
total-13332
count-13333
total-13333
count-13334
total-13334
count-13335
total-13335
row 1double_ele[7, 9]
column9 double_ele[7, 9]
count-13336
total-13336
count-13337
total-13337
count-13338
total-13338
count-13339
total-13339
count-13340
total-13340
count-13341
total-13341
count-13342
total-13342
count-13343
total-13343
count-13344
total-13344
count-13345
total-13345
count-13346
total-13346
count-13347
total-13347
count-13348
total-13348
count-13349
total-13349
count-13350
total-13350
count-13351
total-13351
count-13352
total-13352
count-13353
total-13353
count-13354
total-13354
count-13355
total-13355
count-13356
total-13356
count-13357
total-13357
count-13358
total-13358
column5 double_ele[1, 7]
row 8double_ele[1, 7]
count-13359
total-13359
count-13360
total-13360
column7 double_ele[4, 6]
count-13361
total-13361
count-13362
total-13362
count-13363
total-13363
count-13364
total-13364
count-13365
total-13365
count-13366
total-13366
count-13367
total-13367
count-13368
total-13368
count-13369
total-13369
count-13370
total-13370
count-13371
total-13371
count-13372
total-13372
row 2double_ele[4, 5]
column2 double_ele[4, 5]
count-13373
total-13373
count-13374
total-13374
count-13375
total-13375
count-13376
total-13376
count-13377
total-13377
count-13378
total-13378
count-13379
total-13379
count-13380
total-13380
count-13381
total-13381
count-13382
total-13382
count-13383
total-13383
count-13384
total-13384
row 4triple_ele[1, 2, 5]
count-13385
total-13385
count-13386
total-13386
column5 double_ele[2, 3]
count-13387
total-13387
count-13388
total-13388
count-13389
total-13389
count-13390
total-13390
count-13391
total-13391
count-13392
total-13392
count-13393
total-13393
count-13394
total-13394
count-13395
total-13395
count-13396
total-13396
count-13397
total-13397
count-13398
total-13398
count-13399
total-13399
count-13400
total-13400
count-13401
total-13401
count-13402
total-13402
count-13403
total-13403
count-13404
total-13404
count-13405
total-13405
count-13406
total-13406
count-13407
total-13407
count-13408
total-13408
count-13409
total-13409
count-13410
total-13410
count-13411
total-13411
count-13412
total-13412
count-13413
total-13413
count-13414
total-13414
count-13415
total-13415
count-13416
total-13416
count-13417
total-13417
count-13418
total-13418
count-13419
total-13419
count-13420
total-13420
column4 double_ele[3, 4]
row 9double_ele[6, 9]
count-13421
total-13421
count-13422
total-13422
count-13423
total-13423
count-13424
total-13424
count-13425
total-13425
count-13426
total-13426
count-13427
total-13427
count-13428
total-13428
count-13429
total-13429
count-13430
total-13430
count-13431
total-13431
count-13432
total-13432
count-13433
total-13433

count-13434
total-13434
count-13435
total-13435
count-13436
total-13436
count-13437
total-13437
count-13438
total-13438
count-13439
total-13439
count-13440
total-13440
count-13441
total-13441
count-13442
total-13442
count-13443
total-13443
count-13444
total-13444
count-13445
total-13445
count-13446
total-13446
row 2double_ele[1, 8]
count-13447
total-13447
count-13448
total-13448
count-13449
total-13449
count-13450
total-13450
column2 double_ele[1, 5]
count-13451
total-13451
count-13452
total-13452
column9 double_ele[4, 8]
count-13453
total-13453
count-13454
total-13454
count-13455
total-13455
count-13456
total-13456
count-13457
total-13457
count-13458
total-13458
count-13459
total-13459
count-13460
total-13460
count-13461
total-13461
count-13462
total-13462
count-13463
total-13463
count-13464
total-13464
count-13465
total-13465
column3 double_ele[3, 5]
row 7double_ele[3, 5]
count-13466
total-13466
count-13467
total-13467
count-13468
total-13468
count-13469
total-13469
count-13470
total-13470
count-13471
total-13471
count-13472
total-13472
count-13473
total-13473
count-13474
total-13474
count-13475
total-13475
count-13476
total-13476
count-13477
total-13477
count-13478
total-13478
count-13479
total-13479
count-13480
total-13480
count-13481
total-13481
count-13482
total-13482
row 7double_ele[1, 6]
count-13483
total-13483
count-13484
total-13484
count-13485
total-13485
row 1double_ele[6, 7]
row 2double_ele[6, 7]
column6 double_ele[6, 7]
count-13486
total-13486
count-13487
total-13487
count-13488
total-13488
count-13489
total-13489
column1 double_ele[1, 6]
count-13490
total-13490
column7 double_ele[2, 5]
count-13491
total-13491
count-13492
total-13492
count-13493
total-13493
count-13494
total-13494
count-13495
total-13495
column2 double_ele[1, 3]
count-13496
total-13496
count-13497
total-13497
count-13498
total-13498
count-13499
total-13499
count-13500
total-13500
count-13501
total-13501
count-13502
total-13502
count-13503
total-13503
count-13504
total-13504
count-13505
total-13505
count-13506
total-13506
count-13507
total-13507
count-13508
total-13508
count-13509
total-13509
count-13510
total-13510
count-13511
total-13511
count-13512
total-13512
count-13513
total-13513
count-13514
total-13514
count-13515
total-13515
column2 double_ele[5, 6]
row 4double_ele[1, 8]
count-13516
total-13516
count-13517
total-13517
count-13518
total-13518
count-13519
total-13519
count-13520
total-13520
count-13521
total-13521
count-13522
total-13522
count-13523
total-13523
count-13524
total-13524
count-13525
total-13525
count-13526
total-13526
count-13527
total-13527
count-13528
total-13528
row 1double_ele[2, 5]
column1 double_ele[2, 5]
column3 double_ele[2, 5]
count-13529
total-13529
count-13530
total-13530
count-13531
total-13531
count-13532
total-13532
count-13533
total-13533
row 2double_ele[2, 7]
column9 double_ele[2, 7]
count-13534
total-13534
count-13535
total-13535
count-13536
total-13536
count-13537
total-13537
count-13538
total-13538
count-13539
total-13539
count-13540
total-13540
column3 double_ele[5, 6]
count-13541
total-13541
count-13542
total-13542
count-13543
total-13543
row 1double_ele[1, 3]
column5 double_ele[1, 3]
count-13544
total-13544
count-13545
total-13545
count-13546
total-13546
count-13547
total-13547
count-13548
total-13548
count-13549
total-13549
count-13550
total-13550
count-13551
total-13551
count-13552
total-13552
count-13553
total-13553
row 8double_ele[2, 6]
count-13554
total-13554
count-13555
total-13555
count-13556
total-13556
count-13557
total-13557
count-13558
total-13558
count-13559
total-13559
count-13560
total-13560
count-13561
total-13561
count-13562
total-13562
count-13563
total-13563
row 7double_ele[1, 8]
count-13564
total-13564
count-13565
total-13565
count-13566
total-13566
count-13567
total-13567
count-13568
total-13568
count-13569
total-13569
count-13570
total-13570
count-13571
total-13571
column6 double_ele[1, 5]
count-13572
total-13572
count-13573
total-13573
count-13574
total-13574
column5 double_ele[3, 7]
row 9double_ele[3, 6]
column9 double_ele[3, 6]
count-13575
total-13575
count-13576
total-13576
column4 double_ele[3, 4]
count-13577
total-13577
count-13578
total-13578
count-13579
total-13579
row 9double_ele[2, 5]
column9 double_ele[4, 5]
count-13580
total-13580
count-13581
total-13581
count-13582
total-13582
count-13583
total-13583
count-13584
total-13584
count-13585
total-13585
count-13586
total-13586
count-13587
total-13587
count-13588
total-13588
count-13589
total-13589
count-13590
total-13590
count-13591
total-13591
row 6double_ele[3, 4]
count-13592
total-13592
count-13593
total-13593
count-13594
total-13594
count-13595
total-13595
count-13596
total-13596
count-13597
total-13597
count-13598
total-13598
count-13599
total-13599
count-13600
total-13600
count-13601
total-13601
count-13602
total-13602
count-13603
total-13603
count-13604
total-13604
count-13605
total-13605
count-13606
total-13606
column2 double_ele[1, 4]
column8 double_ele[1, 4]
count-13607
total-13607
count-13608
total-13608
count-13609
total-13609
count-13610
total-13610
count-13611
total-13611
column5 double_ele[2, 3]
count-13612
total-13612
count-13613
total-13613
count-13614
total-13614
count-13615
total-13615
count-13616
total-13616
count-13617
total-13617
count-13618
total-13618
count-13619
total-13619
count-13620
total-13620
count-13621
total-13621
count-13622
total-13622
count-13623
total-13623
count-13624
total-13624
count-13625
total-13625
count-13626
total-13626
count-13627
total-13627
column5 double_ele[1, 5]
column8 double_ele[5, 8]
count-13628
total-13628
count-13629
total-13629
count-13630
total-13630
row 7double_ele[4, 5]
column8 double_ele[4, 5]
count-13631
total-13631
count-13632
total-13632
count-13633
total-13633
count-13634
total-13634
count-13635
total-13635
count-13636
total-13636
count-13637
total-13637
count-13638
total-13638
count-13639
total-13639
count-13640
total-13640
count-13641
total-13641
count-13642
total-13642
count-13643
total-13643
count-13644
total-13644
count-13645
total-13645
count-13646
total-13646
count-13647
total-13647
count-13648
total-13648
count-13649
total-13649
count-13650
total-13650
count-13651
total-13651
count-13652
total-13652
count-13653
total-13653
count-13654
total-13654
count-13655
total-13655
count-13656
total-13656
column5 double_ele[3, 5]
count-13657
total-13657
count-13658
total-13658
row 1double_ele[3, 7]
column5 double_ele[3, 4]
row 6double_ele[3, 7]
column8 double_ele[3, 7]
box3 triple_ele[1, 3, 7]
count-13659
total-13659
count-13660
total-13660
count-13661
total-13661
count-13662
total-13662
count-13663
total-13663
count-13664
total-13664
count-13665
total-13665
column4 double_ele[3, 5]
column5 double_ele[2, 5]
count-13666
total-13666
count-13667
total-13667
count-13668
total-13668
column4 double_ele[2, 4]
count-13669
total-13669
count-13670
total-13670
count-13671
total-13671
count-13672
total-13672
count-13673
total-13673
count-13674
total-13674
count-13675
total-13675
row 7double_ele[1, 4]
count-13676
total-13676
count-13677
total-13677
count-13678
total-13678
count-13679
total-13679
count-13680
total-13680
count-13681
total-13681
count-13682
total-13682
count-13683
total-13683
row 3double_ele[3, 4]
count-13684
total-13684
column1 double_ele[3, 4]
row 5double_ele[3, 4]
count-13685
total-13685
count-13686
total-13686
count-13687
total-13687
count-13688
total-13688
row 1double_ele[3, 7]
count-13689
total-13689
count-13690
total-13690
count-13691
total-13691
count-13692
total-13692
count-13693
total-13693
count-13694
total-13694
count-13695
total-13695
count-13696
total-13696
count-13697
total-13697
count-13698
total-13698
count-13699
total-13699
row 7double_ele[1, 2]
box9 triple_ele[1, 2, 6]
count-13700
total-13700
count-13701
total-13701
count-13702
total-13702
count-13703
total-13703
count-13704
total-13704
count-13705
total-13705
count-13706
total-13706
count-13707
total-13707
count-13708
total-13708
count-13709
total-13709
count-13710
total-13710
count-13711
total-13711
count-13712
total-13712
count-13713
total-13713
count-13714
total-13714
count-13715
total-13715
column4 double_ele[2, 3]
count-13716
total-13716
count-13717
total-13717
count-13718
total-13718
count-13719
total-13719
count-13720
total-13720
count-13721
total-13721
row 1double_ele[3, 4]
column1 double_ele[3, 4]
count-13722
total-13722
count-13723
total-13723
count-13724
total-13724
count-13725
total-13725
row 1double_ele[3, 4]
column9 double_ele[3, 4]
count-13726
total-13726
count-13727
total-13727

row 5double_ele[2, 8]
count-13728
total-13728
count-13729
total-13729
count-13730
total-13730
count-13731
total-13731
count-13732
total-13732
count-13733
total-13733
count-13734
total-13734
count-13735
total-13735
count-13736
total-13736
count-13737
total-13737
count-13738
total-13738
count-13739
total-13739
count-13740
total-13740
count-13741
total-13741
count-13742
total-13742
count-13743
total-13743
count-13744
total-13744
count-13745
total-13745
count-13746
total-13746
count-13747
total-13747
count-13748
total-13748
count-13749
total-13749
count-13750
total-13750
column4 double_ele[6, 9]
row 6double_ele[6, 9]
count-13751
total-13751
count-13752
total-13752
count-13753
total-13753
count-13754
total-13754
count-13755
total-13755
count-13756
total-13756
count-13757
total-13757
count-13758
total-13758
count-13759
total-13759
count-13760
total-13760
count-13761
total-13761
count-13762
total-13762
count-13763
total-13763
count-13764
total-13764
count-13765
total-13765
row 7double_ele[2, 5]
count-13766
total-13766
row 2double_ele[1, 7]
count-13767
total-13767
count-13768
total-13768
count-13769
total-13769
count-13770
total-13770
count-13771
total-13771
count-13772
total-13772
count-13773
total-13773
count-13774
total-13774
count-13775
total-13775
count-13776
total-13776
count-13777
total-13777
count-13778
total-13778
count-13779
total-13779
count-13780
total-13780
count-13781
total-13781
count-13782
total-13782
count-13783
total-13783
count-13784
total-13784
count-13785
total-13785
count-13786
total-13786
count-13787
total-13787
count-13788
total-13788
count-13789
total-13789
count-13790
total-13790
count-13791
total-13791
count-13792
total-13792
row 6double_ele[2, 6]
count-13793
total-13793
count-13794
total-13794
count-13795
total-13795
count-13796
total-13796
count-13797
total-13797
column5 double_ele[4, 5]
count-13798
total-13798
column1 double_ele[3, 4]
row 6double_ele[3, 4]
row 8double_ele[3, 4]
count-13799
total-13799
column1 double_ele[2, 5]
count-13800
total-13800
count-13801
total-13801
count-13802
total-13802
count-13803
total-13803
count-13804
total-13804
row 4double_ele[2, 6]
count-13805
total-13805
count-13806
total-13806
count-13807
total-13807
count-13808
total-13808
count-13809
total-13809
count-13810
total-13810
count-13811
total-13811
count-13812
total-13812
count-13813
total-13813
count-13814
total-13814
count-13815
total-13815
count-13816
total-13816
count-13817
total-13817
row 3double_ele[3, 7]
column8 double_ele[3, 7]
count-13818
total-13818
count-13819
total-13819
count-13820
total-13820
count-13821
total-13821
count-13822
total-13822
count-13823
total-13823
count-13824
total-13824
count-13825
total-13825
count-13826
total-13826
count-13827
total-13827
count-13828
total-13828
row 5double_ele[2, 3]
count-13829
total-13829
count-13830
total-13830
count-13831
total-13831
count-13832
total-13832
count-13833
total-13833
count-13834
total-13834
count-13835
total-13835
count-13836
total-13836
count-13837
total-13837
count-13838
total-13838
count-13839
total-13839
column4 double_ele[3, 7]
count-13840
total-13840
count-13841
total-13841
count-13842
total-13842
count-13843
total-13843
count-13844
total-13844
count-13845
total-13845
count-13846
total-13846
count-13847
total-13847
count-13848
total-13848
count-13849
total-13849
count-13850
total-13850
count-13851
total-13851
count-13852
total-13852
count-13853
total-13853
count-13854
total-13854
count-13855
total-13855
count-13856
total-13856
count-13857
total-13857
count-13858
total-13858
count-13859
total-13859
column5 double_ele[2, 7]
count-13860
total-13860
count-13861
total-13861
count-13862
total-13862
count-13863
total-13863
count-13864
total-13864
count-13865
total-13865
count-13866
total-13866
count-13867
total-13867
count-13868
total-13868
count-13869
total-13869
count-13870
total-13870
count-13871
total-13871
count-13872
total-13872
count-13873
total-13873
count-13874
total-13874
count-13875
total-13875
count-13876
total-13876
count-13877
total-13877
count-13878
total-13878
count-13879
total-13879
row 1double_ele[1, 5]
count-13880
total-13880
count-13881
total-13881
row 8double_ele[1, 6]
count-13882
total-13882
count-13883
total-13883
count-13884
total-13884
count-13885
total-13885
count-13886
total-13886
count-13887
total-13887
count-13888
total-13888
count-13889
total-13889
count-13890
total-13890
count-13891
total-13891
count-13892
total-13892
count-13893
total-13893
count-13894
total-13894
count-13895
total-13895
count-13896
total-13896
count-13897
total-13897
count-13898
total-13898
count-13899
total-13899
count-13900
total-13900
count-13901
total-13901
count-13902
total-13902
count-13903
total-13903
count-13904
total-13904
count-13905
total-13905
count-13906
total-13906
count-13907
total-13907
count-13908
total-13908
count-13909
total-13909
count-13910
total-13910
row 7double_ele[1, 4]
count-13911
total-13911
count-13912
total-13912
count-13913
total-13913
count-13914
total-13914
count-13915
total-13915
count-13916
total-13916
count-13917
total-13917
count-13918
total-13918
count-13919
total-13919
count-13920
total-13920
column3 double_ele[2, 8]
count-13921
total-13921
count-13922
total-13922
count-13923
total-13923
count-13924
total-13924
count-13925
total-13925
row 5double_ele[5, 6]
row 6double_ele[2, 7]
column8 double_ele[5, 6]
count-13926
total-13926
count-13927
total-13927
count-13928
total-13928
count-13929
total-13929
count-13930
total-13930
column4 double_ele[4, 8]
column8 double_ele[3, 8]
count-13931
total-13931
count-13932
total-13932
count-13933
total-13933
count-13934
total-13934
count-13935
total-13935
count-13936
total-13936
count-13937
total-13937
count-13938
total-13938
count-13939
total-13939
count-13940
total-13940
count-13941
total-13941
count-13942
total-13942
count-13943
total-13943
count-13944
total-13944
count-13945
total-13945
count-13946
total-13946
count-13947
total-13947
count-13948
total-13948
count-13949
total-13949
count-13950
total-13950
count-13951
total-13951
count-13952
total-13952
count-13953
total-13953
count-13954
total-13954
count-13955
total-13955
count-13956
total-13956
count-13957
total-13957
count-13958
total-13958
count-13959
total-13959
count-13960
total-13960
count-13961
total-13961
count-13962
total-13962
count-13963
total-13963
count-13964
total-13964
count-13965
total-13965
count-13966
total-13966
count-13967
total-13967
count-13968
total-13968
count-13969
total-13969
count-13970
total-13970
row 2double_ele[2, 3]
count-13971
total-13971
row 2double_ele[5, 7]
row 7double_ele[2, 7]
count-13972
total-13972
count-13973
total-13973
count-13974
total-13974
row 3double_ele[3, 4]
count-13975
total-13975
count-13976
total-13976
count-13977
total-13977
count-13978
total-13978
count-13979
total-13979
count-13980
total-13980
column7 double_ele[1, 7]
count-13981
total-13981
count-13982
total-13982
count-13983
total-13983
count-13984
total-13984
count-13985
total-13985
count-13986
total-13986
count-13987
total-13987
count-13988
total-13988
count-13989
total-13989
count-13990
total-13990
count-13991
total-13991
column1 double_ele[3, 8]
column3 double_ele[3, 8]
row 8double_ele[3, 8]
count-13992
total-13992
count-13993
total-13993
count-13994
total-13994
count-13995
total-13995
count-13996
total-13996
count-13997
total-13997
count-13998
total-13998
column3 double_ele[6, 7]
column7 double_ele[7, 8]
count-13999
total-13999
count-14000
total-14000
count-14001
total-14001
count-14002
total-14002
count-14003
total-14003
count-14004
total-14004
count-14005
total-14005
count-14006
total-14006
count-14007
total-14007
count-14008
total-14008
count-14009
total-14009
count-14010
total-14010
count-14011
total-14011
count-14012
total-14012
count-14013
total-14013
count-14014
total-14014
count-14015
total-14015
count-14016
total-14016
count-14017
total-14017
count-14018
total-14018
count-14019
total-14019
count-14020
total-14020
count-14021
total-14021
count-14022
total-14022
count-14023
total-14023
count-14024
total-14024
count-14025
total-14025
count-14026
total-14026
count-14027
total-14027
count-14028
total-14028
count-14029
total-14029
count-14030
total-14030
row 3double_ele[3, 4]
count-14031
total-14031
count-14032
total-14032
count-14033
total-14033
count-14034
total-14034
count-14035
total-14035
row 1double_ele[2, 4]
count-14036
total-14036
count-14037
total-14037
count-14038
total-14038
column8 double_ele[2, 4]
count-14039
total-14039
count-14040
total-14040
count-14041
total-14041
count-14042
total-14042
count-14043
total-14043
count-14044
total-14044
count-14045
total-14045

count-14046
total-14046
count-14047
total-14047
row 2double_ele[2, 8]
column2 double_ele[4, 5]
column6 double_ele[2, 8]
count-14048
total-14048
count-14049
total-14049
count-14050
total-14050
column4 double_ele[4, 6]
column9 double_ele[5, 6]
count-14051
total-14051
count-14052
total-14052
count-14053
total-14053
count-14054
total-14054
count-14055
total-14055
count-14056
total-14056
count-14057
total-14057
count-14058
total-14058
count-14059
total-14059
count-14060
total-14060
count-14061
total-14061
count-14062
total-14062
column6 double_ele[4, 6]
row 7double_ele[4, 6]
count-14063
total-14063
count-14064
total-14064
count-14065
total-14065
count-14066
total-14066
count-14067
total-14067
count-14068
total-14068
count-14069
total-14069
count-14070
total-14070
count-14071
total-14071
count-14072
total-14072
count-14073
total-14073
count-14074
total-14074
count-14075
total-14075
count-14076
total-14076
count-14077
total-14077
count-14078
total-14078
count-14079
total-14079
count-14080
total-14080
count-14081
total-14081
count-14082
total-14082
count-14083
total-14083
count-14084
total-14084
count-14085
total-14085
count-14086
total-14086
count-14087
total-14087
count-14088
total-14088
count-14089
total-14089
count-14090
total-14090
count-14091
total-14091
count-14092
total-14092
count-14093
total-14093
count-14094
total-14094
count-14095
total-14095
count-14096
total-14096
count-14097
total-14097
count-14098
total-14098
count-14099
total-14099
row 1double_ele[1, 7]
column5 double_ele[1, 2]
row 6double_ele[1, 2]
count-14100
total-14100
count-14101
total-14101
count-14102
total-14102
count-14103
total-14103
count-14104
total-14104
count-14105
total-14105
count-14106
total-14106
count-14107
total-14107
count-14108
total-14108
row 8double_ele[2, 5]
count-14109
total-14109
count-14110
total-14110
count-14111
total-14111
count-14112
total-14112
count-14113
total-14113
count-14114
total-14114
count-14115
total-14115
row 1double_ele[1, 4]
column1 double_ele[1, 4]
count-14116
total-14116
count-14117
total-14117
count-14118
total-14118
count-14119
total-14119
count-14120
total-14120
count-14121
total-14121
count-14122
total-14122
count-14123
total-14123
count-14124
total-14124
column6 double_ele[1, 4]
count-14125
total-14125
count-14126
total-14126
row 3double_ele[2, 3]
count-14127
total-14127
count-14128
total-14128
count-14129
total-14129
count-14130
total-14130
count-14131
total-14131
row 4double_ele[1, 3]
count-14132
total-14132
count-14133
total-14133
count-14134
total-14134
count-14135
total-14135
count-14136
total-14136
row 1double_ele[2, 8]
row 5double_ele[1, 2]
count-14137
total-14137
count-14138
total-14138
column4 double_ele[5, 7]
row 6double_ele[2, 7]
count-14139
total-14139
count-14140
total-14140
count-14141
total-14141
count-14142
total-14142
count-14143
total-14143
count-14144
total-14144
count-14145
total-14145
count-14146
total-14146
count-14147
total-14147
count-14148
total-14148
count-14149
total-14149
row 4double_ele[4, 6]
count-14150
total-14150
count-14151
total-14151
count-14152
total-14152
count-14153
total-14153
count-14154
total-14154
count-14155
total-14155
count-14156
total-14156
count-14157
total-14157
count-14158
total-14158
count-14159
total-14159
count-14160
total-14160
count-14161
total-14161
count-14162
total-14162
count-14163
total-14163
count-14164
total-14164
column2 double_ele[2, 5]
column5 double_ele[2, 5]
row 7double_ele[2, 5]
count-14165
total-14165
count-14166
total-14166
count-14167
total-14167
count-14168
total-14168
count-14169
total-14169
count-14170
total-14170
count-14171
total-14171
count-14172
total-14172
count-14173
total-14173
count-14174
total-14174
count-14175
total-14175
count-14176
total-14176
count-14177
total-14177
count-14178
total-14178
count-14179
total-14179
count-14180
total-14180
column8 double_ele[1, 4]
count-14181
total-14181
count-14182
total-14182
count-14183
total-14183
count-14184
total-14184
count-14185
total-14185
row 4double_ele[2, 5]
count-14186
total-14186
count-14187
total-14187
count-14188
total-14188
count-14189
total-14189
count-14190
total-14190
count-14191
total-14191
count-14192
total-14192
count-14193
total-14193
count-14194
total-14194
count-14195
total-14195
count-14196
total-14196
count-14197
total-14197
count-14198
total-14198
count-14199
total-14199
count-14200
total-14200
count-14201
total-14201
count-14202
total-14202
count-14203
total-14203
count-14204
total-14204
count-14205
total-14205
count-14206
total-14206
row 2double_ele[1, 5]
column3 double_ele[1, 5]
count-14207
total-14207
count-14208
total-14208
count-14209
total-14209
count-14210
total-14210
column3 double_ele[1, 2]
row 7double_ele[1, 2]
row 9triple_ele[1, 2, 7]
box9 triple_ele[1, 2, 7]
count-14211
total-14211
row 1double_ele[3, 5]
row 5double_ele[4, 6]
count-14212
total-14212
count-14213
total-14213
count-14214
total-14214
count-14215
total-14215
count-14216
total-14216
row 3double_ele[4, 5]
count-14217
total-14217
count-14218
total-14218
row 2double_ele[4, 6]
row 5double_ele[1, 8]
count-14219
total-14219
count-14220
total-14220
count-14221
total-14221
count-14222
total-14222
count-14223
total-14223
count-14224
total-14224
count-14225
total-14225
count-14226
total-14226
count-14227
total-14227
row 7double_ele[1, 2]
count-14228
total-14228
count-14229
total-14229
row 6double_ele[1, 2]
column8 double_ele[1, 2]
count-14230
total-14230
count-14231
total-14231
count-14232
total-14232
count-14233
total-14233
count-14234
total-14234
count-14235
total-14235
count-14236
total-14236
column3 double_ele[3, 5]
count-14237
total-14237
count-14238
total-14238
count-14239
total-14239
count-14240
total-14240
count-14241
total-14241
count-14242
total-14242
count-14243
total-14243
count-14244
total-14244
count-14245
total-14245
count-14246
total-14246
row 2double_ele[3, 6]
row 3double_ele[1, 8]
column3 double_ele[1, 8]
row 4double_ele[4, 8]
column8 double_ele[1, 8]
count-14247
total-14247
count-14248
total-14248
count-14249
total-14249
count-14250
total-14250
count-14251
total-14251
count-14252
total-14252
count-14253
total-14253
row 1double_ele[5, 6]
count-14254
total-14254
count-14255
total-14255
count-14256
total-14256
count-14257
total-14257
count-14258
total-14258
count-14259
total-14259
count-14260
total-14260
count-14261
total-14261
row 6double_ele[3, 5]
column6 double_ele[3, 5]
count-14262
total-14262
column3 double_ele[2, 5]
count-14263
total-14263
count-14264
total-14264
count-14265
total-14265
count-14266
total-14266
count-14267
total-14267
row 7double_ele[3, 6]
count-14268
total-14268
column1 double_ele[5, 6]
row 7double_ele[5, 6]
row 4triple_ele[3, 5, 6]
box6 triple_ele[3, 5, 6]
count-14269
total-14269
count-14270
total-14270
count-14271
total-14271
count-14272
total-14272
count-14273
total-14273
row 9double_ele[6, 8]
count-14274
total-14274
count-14275
total-14275
count-14276
total-14276
count-14277
total-14277
count-14278
total-14278
count-14279
total-14279
row 4double_ele[3, 9]
row 5double_ele[3, 9]
column6 double_ele[3, 9]
column9 double_ele[3, 9]
count-14280
total-14280
count-14281
total-14281
count-14282
total-14282
count-14283
total-14283
row 1double_ele[2, 8]
count-14284
total-14284
count-14285
total-14285
count-14286
total-14286
count-14287
total-14287
count-14288
total-14288
count-14289
total-14289
count-14290
total-14290
count-14291
total-14291
count-14292
total-14292
column5 double_ele[4, 5]
row 7double_ele[4, 5]
column7 double_ele[4, 5]
count-14293
total-14293
count-14294
total-14294
count-14295
total-14295
count-14296
total-14296
count-14297
total-14297
count-14298
total-14298
column2 double_ele[2, 6]
column3 double_ele[2, 6]
row 4double_ele[2, 6]
count-14299
total-14299
count-14300
total-14300
count-14301
total-14301
count-14302
total-14302
count-14303
total-14303
count-14304
total-14304
column6 double_ele[1, 6]
count-14305
total-14305
count-14306
total-14306
row 9double_ele[3, 4]
count-14307
total-14307
row 6double_ele[1, 2]
count-14308
total-14308
count-14309
total-14309
count-14310
total-14310
count-14311
total-14311
count-14312
total-14312
row 2triple_ele[1, 3, 4]
box3 triple_ele[1, 3, 4]
count-14313
total-14313
count-14314
total-14314
count-14315
total-14315
count-14316
total-14316
row 7double_ele[2, 3]
count-14317
total-14317
count-14318
total-14318
column3 double_ele[5, 6]
column4 double_ele[6, 8]
row 5double_ele[5, 8]
column5 double_ele[5, 8]
row 8double_ele[6, 8]
count-14319
total-14319
count-14320
total-14320
column5 double_ele[3, 4]
count-14321
total-14321
count-14322
total-14322
column2 double_ele[1, 3]
row 3double_ele[1, 3]
count-14323
total-14323
count-14324
total-14324
count-14325
total-14325
count-14326
total-14326
count-14327
total-14327
count-14328
total-14328

count-14329
total-14329
column2 double_ele[1, 6]
count-14330
total-14330
row 8double_ele[1, 3]
count-14331
total-14331
count-14332
total-14332
count-14333
total-14333
count-14334
total-14334
count-14335
total-14335
count-14336
total-14336
count-14337
total-14337
count-14338
total-14338
count-14339
total-14339
count-14340
total-14340
count-14341
total-14341
count-14342
total-14342
row 2double_ele[1, 5]
count-14343
total-14343
count-14344
total-14344
count-14345
total-14345
row 6double_ele[1, 7]
row 7double_ele[1, 6]
count-14346
total-14346
count-14347
total-14347
column1 double_ele[1, 3]
count-14348
total-14348
count-14349
total-14349
count-14350
total-14350
count-14351
total-14351
count-14352
total-14352
count-14353
total-14353
count-14354
total-14354
count-14355
total-14355
count-14356
total-14356
count-14357
total-14357
count-14358
total-14358
count-14359
total-14359
count-14360
total-14360
count-14361
total-14361
count-14362
total-14362
count-14363
total-14363
column6 double_ele[2, 3]
column9 double_ele[2, 6]
count-14364
total-14364
count-14365
total-14365
column3 double_ele[1, 3]
count-14366
total-14366
count-14367
total-14367
count-14368
total-14368
column3 double_ele[1, 3]
row 5double_ele[2, 7]
count-14369
total-14369
column5 double_ele[1, 3]
count-14370
total-14370
count-14371
total-14371
count-14372
total-14372
count-14373
total-14373
count-14374
total-14374
count-14375
total-14375
count-14376
total-14376
count-14377
total-14377
count-14378
total-14378
count-14379
total-14379
row 1double_ele[7, 8]
row 2double_ele[7, 8]
row 3double_ele[7, 8]
column3 double_ele[7, 8]
column4 double_ele[7, 8]
column8 double_ele[7, 8]
count-14380
total-14380
count-14381
total-14381
row 9double_ele[5, 6]
count-14382
total-14382
count-14383
total-14383
row 7triple_ele[2, 3, 5]
count-14384
total-14384
count-14385
total-14385
column2 double_ele[3, 6]
row 6double_ele[3, 6]
count-14386
total-14386
count-14387
total-14387
count-14388
total-14388
count-14389
total-14389
row 1double_ele[2, 4]
count-14390
total-14390
count-14391
total-14391
count-14392
total-14392
count-14393
total-14393
count-14394
total-14394
count-14395
total-14395
count-14396
total-14396
count-14397
total-14397
count-14398
total-14398
count-14399
total-14399
count-14400
total-14400
count-14401
total-14401
count-14402
total-14402
column1 double_ele[2, 4]
count-14403
total-14403
count-14404
total-14404
count-14405
total-14405
count-14406
total-14406
count-14407
total-14407
count-14408
total-14408
row 2double_ele[3, 6]
count-14409
total-14409
count-14410
total-14410
count-14411
total-14411
count-14412
total-14412
count-14413
total-14413
count-14414
total-14414
count-14415
total-14415
count-14416
total-14416
count-14417
total-14417
count-14418
total-14418
count-14419
total-14419
row 5double_ele[6, 8]
count-14420
total-14420
count-14421
total-14421
count-14422
total-14422
count-14423
total-14423
count-14424
total-14424
count-14425
total-14425
count-14426
total-14426
count-14427
total-14427
count-14428
total-14428
count-14429
total-14429
count-14430
total-14430
count-14431
total-14431
count-14432
total-14432
count-14433
total-14433
count-14434
total-14434
count-14435
total-14435
count-14436
total-14436
count-14437
total-14437
count-14438
total-14438
count-14439
total-14439
count-14440
total-14440
count-14441
total-14441
row 2double_ele[1, 7]
count-14442
total-14442
count-14443
total-14443
count-14444
total-14444
count-14445
total-14445
count-14446
total-14446
count-14447
total-14447
count-14448
total-14448
count-14449
total-14449
count-14450
total-14450
count-14451
total-14451
column5 double_ele[2, 8]
row 7double_ele[2, 8]
count-14452
total-14452
count-14453
total-14453
count-14454
total-14454
count-14455
total-14455
count-14456
total-14456
column2 double_ele[2, 3]
row 6double_ele[2, 3]
count-14457
total-14457
count-14458
total-14458
count-14459
total-14459
count-14460
total-14460
count-14461
total-14461
count-14462
total-14462
row 1double_ele[1, 6]
column4 double_ele[2, 4]
row 5double_ele[1, 4]
row 8double_ele[2, 4]
count-14463
total-14463
count-14464
total-14464
count-14465
total-14465
column1 double_ele[1, 5]
row 8double_ele[1, 5]
count-14466
total-14466
count-14467
total-14467
count-14468
total-14468
count-14469
total-14469
count-14470
total-14470
count-14471
total-14471
count-14472
total-14472
count-14473
total-14473
column6 double_ele[1, 7]
row 7double_ele[1, 7]
count-14474
total-14474
row 6double_ele[1, 2]
column9 double_ele[1, 2]
count-14475
total-14475
count-14476
total-14476
count-14477
total-14477
count-14478
total-14478
count-14479
total-14479
count-14480
total-14480
count-14481
total-14481
count-14482
total-14482
column1 double_ele[2, 5]
count-14483
total-14483
count-14484
total-14484
count-14485
total-14485
count-14486
total-14486
count-14487
total-14487
count-14488
total-14488
count-14489
total-14489
row 3double_ele[1, 3]
count-14490
total-14490
count-14491
total-14491
count-14492
total-14492
row 3double_ele[5, 6]
column6 double_ele[5, 6]
count-14493
total-14493
count-14494
total-14494
count-14495
total-14495
count-14496
total-14496
row 5double_ele[1, 4]
count-14497
total-14497
count-14498
total-14498
count-14499
total-14499
count-14500
total-14500
count-14501
total-14501
count-14502
total-14502
count-14503
total-14503
count-14504
total-14504
count-14505
total-14505
row 3double_ele[2, 5]
column6 double_ele[7, 8]
row 8double_ele[7, 8]
column9 double_ele[3, 8]
row 4triple_ele[3, 4, 5]
box6 triple_ele[3, 4, 5]
count-14506
total-14506
count-14507
total-14507
count-14508
total-14508
count-14509
total-14509
count-14510
total-14510
count-14511
total-14511
count-14512
total-14512
count-14513
total-14513
count-14514
total-14514
count-14515
total-14515
count-14516
total-14516
count-14517
total-14517
count-14518
total-14518
row 9double_ele[3, 4]
count-14519
total-14519
count-14520
total-14520
count-14521
total-14521
count-14522
total-14522
count-14523
total-14523
count-14524
total-14524
count-14525
total-14525
count-14526
total-14526
count-14527
total-14527
count-14528
total-14528
count-14529
total-14529
count-14530
total-14530
count-14531
total-14531
count-14532
total-14532
count-14533
total-14533
column3 double_ele[1, 7]
row 7double_ele[1, 7]
count-14534
total-14534
count-14535
total-14535
count-14536
total-14536
count-14537
total-14537
count-14538
total-14538
count-14539
total-14539
count-14540
total-14540
row 5double_ele[1, 5]
count-14541
total-14541
count-14542
total-14542
count-14543
total-14543
count-14544
total-14544
count-14545
total-14545
count-14546
total-14546
row 7double_ele[2, 7]
column8 double_ele[2, 7]
count-14547
total-14547
count-14548
total-14548
count-14549
total-14549
count-14550
total-14550
count-14551
total-14551
count-14552
total-14552
count-14553
total-14553
count-14554
total-14554
count-14555
total-14555
count-14556
total-14556
count-14557
total-14557
count-14558
total-14558
count-14559
total-14559
count-14560
total-14560
count-14561
total-14561
row 2double_ele[4, 5]
count-14562
total-14562
count-14563
total-14563
count-14564
total-14564
count-14565
total-14565
count-14566
total-14566
row 3double_ele[1, 4]
column5 double_ele[1, 4]
count-14567
total-14567
row 2double_ele[1, 6]
column8 double_ele[1, 6]
count-14568
total-14568
count-14569
total-14569
count-14570
total-14570
count-14571
total-14571
count-14572
total-14572
count-14573
total-14573
count-14574
total-14574
count-14575
total-14575
count-14576
total-14576
count-14577
total-14577
count-14578
total-14578
count-14579
total-14579
count-14580
total-14580
count-14581
total-14581
column4 double_ele[1, 2]
count-14582
total-14582
count-14583
total-14583
count-14584
total-14584
row 1double_ele[4, 8]
count-14585
total-14585
count-14586
total-14586
count-14587
total-14587
count-14588
total-14588
count-14589
total-14589
column6 double_ele[1, 2]
row 7double_ele[1, 2]
count-14590
total-14590
count-14591
total-14591
count-14592
total-14592
count-14593
total-14593
count-14594
total-14594
count-14595
total-14595
count-14596
total-14596
column7 double_ele[4, 5]
count-14597
total-14597
count-14598
total-14598
count-14599
total-14599
count-14600
total-14600
row 1double_ele[1, 6]
column5 double_ele[1, 6]
count-14601
total-14601
count-14602
total-14602
count-14603
total-14603
count-14604
total-14604

count-14605
total-14605
count-14606
total-14606
row 4double_ele[1, 4]
count-14607
total-14607
count-14608
total-14608
count-14609
total-14609
count-14610
total-14610
count-14611
total-14611
count-14612
total-14612
count-14613
total-14613
count-14614
total-14614
count-14615
total-14615
count-14616
total-14616
count-14617
total-14617
count-14618
total-14618
count-14619
total-14619
count-14620
total-14620
count-14621
total-14621
count-14622
total-14622
count-14623
total-14623
count-14624
total-14624
count-14625
total-14625
count-14626
total-14626
count-14627
total-14627
count-14628
total-14628
column2 double_ele[1, 6]
column6 double_ele[1, 6]
row 7double_ele[1, 6]
count-14629
total-14629
count-14630
total-14630
count-14631
total-14631
row 5double_ele[4, 6]
count-14632
total-14632
count-14633
total-14633
count-14634
total-14634
count-14635
total-14635
count-14636
total-14636
count-14637
total-14637
row 4double_ele[1, 7]
count-14638
total-14638
count-14639
total-14639
count-14640
total-14640
count-14641
total-14641
count-14642
total-14642
count-14643
total-14643
count-14644
total-14644
column2 double_ele[4, 9]
column8 double_ele[6, 9]
count-14645
total-14645
count-14646
total-14646
count-14647
total-14647
count-14648
total-14648
count-14649
total-14649
count-14650
total-14650
count-14651
total-14651
count-14652
total-14652
count-14653
total-14653
count-14654
total-14654
count-14655
total-14655
count-14656
total-14656
count-14657
total-14657
count-14658
total-14658
count-14659
total-14659
count-14660
total-14660
row 4double_ele[1, 7]
count-14661
total-14661
count-14662
total-14662
count-14663
total-14663
count-14664
total-14664
count-14665
total-14665
count-14666
total-14666
column2 double_ele[3, 6]
row 9double_ele[3, 6]
box3 triple_ele[1, 3, 6]
count-14667
total-14667
count-14668
total-14668
count-14669
total-14669
count-14670
total-14670
count-14671
total-14671
count-14672
total-14672
count-14673
total-14673
count-14674
total-14674
count-14675
total-14675
count-14676
total-14676
count-14677
total-14677
count-14678
total-14678
count-14679
total-14679
count-14680
total-14680
count-14681
total-14681
column5 double_ele[3, 5]
column7 double_ele[4, 5]
count-14682
total-14682
count-14683
total-14683
row 1double_ele[4, 9]
count-14684
total-14684
row 3double_ele[4, 5]
column5 double_ele[4, 5]
count-14685
total-14685
column1 double_ele[1, 3]
row 5double_ele[1, 3]
count-14686
total-14686
count-14687
total-14687
count-14688
total-14688
count-14689
total-14689
count-14690
total-14690
count-14691
total-14691
count-14692
total-14692
count-14693
total-14693
count-14694
total-14694
count-14695
total-14695
row 8double_ele[1, 2]
count-14696
total-14696
count-14697
total-14697
count-14698
total-14698
count-14699
total-14699
count-14700
total-14700
count-14701
total-14701
count-14702
total-14702
count-14703
total-14703
row 5double_ele[1, 5]
count-14704
total-14704
count-14705
total-14705
count-14706
total-14706
row 2double_ele[2, 4]
count-14707
total-14707
count-14708
total-14708
count-14709
total-14709
count-14710
total-14710
count-14711
total-14711
count-14712
total-14712
count-14713
total-14713
count-14714
total-14714
count-14715
total-14715
count-14716
total-14716
row 1double_ele[4, 8]
row 8double_ele[7, 8]
count-14717
total-14717
count-14718
total-14718
count-14719
total-14719
count-14720
total-14720
count-14721
total-14721
count-14722
total-14722
count-14723
total-14723
count-14724
total-14724
count-14725
total-14725
count-14726
total-14726
row 7double_ele[3, 4]
count-14727
total-14727
count-14728
total-14728
count-14729
total-14729
count-14730
total-14730
count-14731
total-14731
count-14732
total-14732
count-14733
total-14733
count-14734
total-14734
column8 double_ele[1, 3]
count-14735
total-14735
count-14736
total-14736
count-14737
total-14737
count-14738
total-14738
count-14739
total-14739
count-14740
total-14740
column6 double_ele[1, 2]
row 8double_ele[2, 3]
row 9double_ele[1, 2]
column7 triple_ele[2, 3, 6]
count-14741
total-14741
count-14742
total-14742
count-14743
total-14743
count-14744
total-14744
count-14745
total-14745
count-14746
total-14746
count-14747
total-14747
count-14748
total-14748
count-14749
total-14749
count-14750
total-14750
count-14751
total-14751
count-14752
total-14752
column4 double_ele[1, 2]
count-14753
total-14753
count-14754
total-14754
count-14755
total-14755
count-14756
total-14756
count-14757
total-14757
count-14758
total-14758
count-14759
total-14759
column2 double_ele[1, 6]
count-14760
total-14760
count-14761
total-14761
count-14762
total-14762
count-14763
total-14763
count-14764
total-14764
count-14765
total-14765
count-14766
total-14766
count-14767
total-14767
count-14768
total-14768
count-14769
total-14769
count-14770
total-14770
count-14771
total-14771
count-14772
total-14772
count-14773
total-14773
row 6double_ele[2, 9]
column6 double_ele[1, 7]
row 7double_ele[1, 7]
column7 double_ele[3, 7]
box3 triple_ele[1, 5, 9]
count-14774
total-14774
count-14775
total-14775
count-14776
total-14776
column2 double_ele[3, 8]
row 3double_ele[3, 8]
count-14777
total-14777
count-14778
total-14778
count-14779
total-14779
count-14780
total-14780
count-14781
total-14781
count-14782
total-14782
count-14783
total-14783
count-14784
total-14784
count-14785
total-14785
count-14786
total-14786
count-14787
total-14787
count-14788
total-14788
count-14789
total-14789
count-14790
total-14790
count-14791
total-14791
count-14792
total-14792
count-14793
total-14793
count-14794
total-14794
count-14795
total-14795
count-14796
total-14796
count-14797
total-14797
count-14798
total-14798
count-14799
total-14799
row 2double_ele[3, 7]
row 7double_ele[4, 7]
count-14800
total-14800
column1 double_ele[2, 8]
row 6double_ele[1, 5]
count-14801
total-14801
count-14802
total-14802
count-14803
total-14803
count-14804
total-14804
count-14805
total-14805
count-14806
total-14806
count-14807
total-14807
count-14808
total-14808
count-14809
total-14809
count-14810
total-14810
count-14811
total-14811
column1 double_ele[2, 4]
column8 double_ele[1, 4]
count-14812
total-14812
count-14813
total-14813
count-14814
total-14814
row 8double_ele[2, 5]
count-14815
total-14815
count-14816
total-14816
count-14817
total-14817
count-14818
total-14818
count-14819
total-14819
count-14820
total-14820
count-14821
total-14821
row 7double_ele[1, 3]
count-14822
total-14822
count-14823
total-14823
count-14824
total-14824
count-14825
total-14825
count-14826
total-14826
count-14827
total-14827
count-14828
total-14828
count-14829
total-14829
count-14830
total-14830
count-14831
total-14831
count-14832
total-14832
column5 double_ele[1, 3]
row 8double_ele[1, 3]
count-14833
total-14833
count-14834
total-14834
count-14835
total-14835
count-14836
total-14836
count-14837
total-14837
count-14838
total-14838
count-14839
total-14839
count-14840
total-14840
row 7double_ele[5, 8]
count-14841
total-14841
count-14842
total-14842
count-14843
total-14843
count-14844
total-14844
count-14845
total-14845
count-14846
total-14846
count-14847
total-14847
count-14848
total-14848
count-14849
total-14849
count-14850
total-14850
count-14851
total-14851
count-14852
total-14852
count-14853
total-14853
count-14854
total-14854
count-14855
total-14855
count-14856
total-14856
count-14857
total-14857
count-14858
total-14858
count-14859
total-14859
count-14860
total-14860
count-14861
total-14861
count-14862
total-14862
count-14863
total-14863
count-14864
total-14864
column9 double_ele[1, 2]
count-14865
total-14865
count-14866
total-14866
count-14867
total-14867
row 3double_ele[1, 5]
column5 double_ele[1, 5]
count-14868
total-14868
count-14869
total-14869
column9 double_ele[3, 4]
count-14870
total-14870
count-14871
total-14871
count-14872
total-14872
count-14873
total-14873
count-14874
total-14874
count-14875
total-14875
count-14876
total-14876
count-14877
total-14877
column2 double_ele[3, 5]
count-14878
total-14878
count-14879
total-14879
count-14880
total-14880
count-14881
total-14881
count-14882
total-14882
count-14883
total-14883
count-14884
total-14884
column8 double_ele[1, 6]
count-14885
total-14885
count-14886
total-14886
count-14887
total-14887
count-14888
total-14888
count-14889
total-14889
count-14890
total-14890
count-14891
total-14891
count-14892
total-14892
row 9double_ele[5, 7]
count-14893
total-14893
count-14894
total-14894
count-14895
total-14895
count-14896
total-14896
count-14897
total-14897
row 8double_ele[2, 6]
count-14898
total-14898
row 2double_ele[2, 6]
count-14899
total-14899
count-14900
total-14900
row 2double_ele[1, 4]
column5 double_ele[1, 4]
count-14901
total-14901
column1 double_ele[2, 3]
count-14902
total-14902
count-14903
total-14903
column9 double_ele[2, 6]
count-14904
total-14904
count-14905
total-14905
count-14906
total-14906
count-14907
total-14907
count-14908
total-14908
count-14909
total-14909

count-14910
total-14910
count-14911
total-14911
count-14912
total-14912
count-14913
total-14913
count-14914
total-14914
count-14915
total-14915
count-14916
total-14916
count-14917
total-14917
count-14918
total-14918
column3 double_ele[2, 4]
count-14919
total-14919
count-14920
total-14920
count-14921
total-14921
count-14922
total-14922
column9 double_ele[4, 5]
count-14923
total-14923
count-14924
total-14924
count-14925
total-14925
count-14926
total-14926
count-14927
total-14927
count-14928
total-14928
row 3double_ele[1, 8]
count-14929
total-14929
count-14930
total-14930
row 4double_ele[2, 4]
count-14931
total-14931
count-14932
total-14932
count-14933
total-14933
count-14934
total-14934
row 1double_ele[1, 3]
column3 double_ele[1, 3]
row 6double_ele[5, 6]
count-14935
total-14935
count-14936
total-14936
column4 double_ele[2, 7]
column7 double_ele[2, 4]
count-14937
total-14937
count-14938
total-14938
count-14939
total-14939
count-14940
total-14940
count-14941
total-14941
count-14942
total-14942
count-14943
total-14943
count-14944
total-14944
count-14945
total-14945
count-14946
total-14946
count-14947
total-14947
count-14948
total-14948
count-14949
total-14949
count-14950
total-14950
count-14951
total-14951
count-14952
total-14952
count-14953
total-14953
count-14954
total-14954
count-14955
total-14955
count-14956
total-14956
count-14957
total-14957
count-14958
total-14958
count-14959
total-14959
count-14960
total-14960
count-14961
total-14961
count-14962
total-14962
count-14963
total-14963
count-14964
total-14964
row 7double_ele[2, 5]
count-14965
total-14965
count-14966
total-14966
count-14967
total-14967
count-14968
total-14968
count-14969
total-14969
count-14970
total-14970
count-14971
total-14971
count-14972
total-14972
count-14973
total-14973
count-14974
total-14974
count-14975
total-14975
count-14976
total-14976
count-14977
total-14977
count-14978
total-14978
count-14979
total-14979
count-14980
total-14980
count-14981
total-14981
count-14982
total-14982
count-14983
total-14983
count-14984
total-14984
count-14985
total-14985
count-14986
total-14986
count-14987
total-14987
count-14988
total-14988
count-14989
total-14989
count-14990
total-14990
column3 double_ele[1, 3]
count-14991
total-14991
count-14992
total-14992
count-14993
total-14993
count-14994
total-14994
count-14995
total-14995
count-14996
total-14996
count-14997
total-14997
count-14998
total-14998
count-14999
total-14999
count-15000
total-15000
column8 double_ele[3, 5]
count-15001
total-15001
count-15002
total-15002
count-15003
total-15003
count-15004
total-15004
row 1double_ele[1, 7]
row 8double_ele[1, 3]
count-15005
total-15005
count-15006
total-15006
count-15007
total-15007
count-15008
total-15008
count-15009
total-15009
count-15010
total-15010
count-15011
total-15011
count-15012
total-15012
count-15013
total-15013
column3 double_ele[1, 4]
count-15014
total-15014
count-15015
total-15015
count-15016
total-15016
count-15017
total-15017
row 4double_ele[4, 5]
count-15018
total-15018
count-15019
total-15019
count-15020
total-15020
count-15021
total-15021
column4 double_ele[3, 5]
column9 double_ele[1, 2]
count-15022
total-15022
count-15023
total-15023
count-15024
total-15024
count-15025
total-15025
count-15026
total-15026
count-15027
total-15027
count-15028
total-15028
count-15029
total-15029
count-15030
total-15030
count-15031
total-15031
count-15032
total-15032
count-15033
total-15033
column3 double_ele[1, 4]
count-15034
total-15034
count-15035
total-15035
count-15036
total-15036
count-15037
total-15037
count-15038
total-15038
count-15039
total-15039
row 8double_ele[3, 5]
column8 double_ele[3, 5]
count-15040
total-15040
count-15041
total-15041
count-15042
total-15042
count-15043
total-15043
count-15044
total-15044
count-15045
total-15045
count-15046
total-15046
count-15047
total-15047
count-15048
total-15048
count-15049
total-15049
count-15050
total-15050
count-15051
total-15051
count-15052
total-15052
count-15053
total-15053
count-15054
total-15054
count-15055
total-15055
count-15056
total-15056
column1 double_ele[2, 7]
column3 double_ele[2, 7]
row 7double_ele[2, 7]
count-15057
total-15057
row 5double_ele[4, 6]
count-15058
total-15058
count-15059
total-15059
count-15060
total-15060
column3 double_ele[2, 8]
count-15061
total-15061
count-15062
total-15062
count-15063
total-15063
count-15064
total-15064
row 5double_ele[3, 4]
column5 double_ele[3, 4]
count-15065
total-15065
count-15066
total-15066
count-15067
total-15067
count-15068
total-15068
column2 double_ele[2, 4]
row 7double_ele[2, 4]
count-15069
total-15069
count-15070
total-15070
count-15071
total-15071
count-15072
total-15072
count-15073
total-15073
count-15074
total-15074
count-15075
total-15075
row 2double_ele[2, 4]
count-15076
total-15076
count-15077
total-15077
count-15078
total-15078
count-15079
total-15079
count-15080
total-15080
count-15081
total-15081
count-15082
total-15082
count-15083
total-15083
count-15084
total-15084
count-15085
total-15085
count-15086
total-15086
row 2double_ele[2, 5]
count-15087
total-15087
count-15088
total-15088
count-15089
total-15089
count-15090
total-15090
count-15091
total-15091
count-15092
total-15092
count-15093
total-15093
count-15094
total-15094
count-15095
total-15095
count-15096
total-15096
count-15097
total-15097
count-15098
total-15098
count-15099
total-15099
count-15100
total-15100
count-15101
total-15101
count-15102
total-15102
count-15103
total-15103
count-15104
total-15104
count-15105
total-15105
count-15106
total-15106
count-15107
total-15107
count-15108
total-15108
count-15109
total-15109
count-15110
total-15110
count-15111
total-15111
count-15112
total-15112
count-15113
total-15113
count-15114
total-15114
count-15115
total-15115
count-15116
total-15116
count-15117
total-15117
count-15118
total-15118
count-15119
total-15119
count-15120
total-15120
count-15121
total-15121
count-15122
total-15122
count-15123
total-15123
count-15124
total-15124
count-15125
total-15125
count-15126
total-15126
count-15127
total-15127
count-15128
total-15128
count-15129
total-15129
count-15130
total-15130
count-15131
total-15131
count-15132
total-15132
count-15133
total-15133
count-15134
total-15134
count-15135
total-15135
count-15136
total-15136
count-15137
total-15137
count-15138
total-15138
count-15139
total-15139
count-15140
total-15140
count-15141
total-15141
count-15142
total-15142
count-15143
total-15143
count-15144
total-15144
count-15145
total-15145
count-15146
total-15146
count-15147
total-15147
count-15148
total-15148
count-15149
total-15149
count-15150
total-15150
count-15151
total-15151
row 1double_ele[1, 2]
column1 double_ele[1, 2]
count-15152
total-15152
count-15153
total-15153
column4 double_ele[1, 2]
row 6double_ele[1, 2]
column6 double_ele[1, 2]
row 8double_ele[1, 2]
count-15154
total-15154
count-15155
total-15155
count-15156
total-15156
count-15157
total-15157
count-15158
total-15158
count-15159
total-15159
count-15160
total-15160
count-15161
total-15161
column8 double_ele[3, 5]
count-15162
total-15162
count-15163
total-15163
count-15164
total-15164
count-15165
total-15165
row 4triple_ele[2, 3, 6]
box6 triple_ele[2, 3, 6]
count-15166
total-15166
count-15167
total-15167
count-15168
total-15168
count-15169
total-15169
column1 double_ele[4, 7]
count-15170
total-15170
count-15171
total-15171
column3 double_ele[3, 4]
row 8double_ele[3, 4]
count-15172
total-15172
count-15173
total-15173
count-15174
total-15174
count-15175
total-15175
row 5double_ele[1, 2]
count-15176
total-15176
count-15177
total-15177
column2 double_ele[5, 7]
row 9double_ele[1, 2]
count-15178
total-15178
count-15179
total-15179
count-15180
total-15180
count-15181
total-15181
count-15182
total-15182
count-15183
total-15183
count-15184
total-15184
count-15185
total-15185
count-15186
total-15186
count-15187
total-15187
count-15188
total-15188
count-15189
total-15189
column4 double_ele[2, 7]
row 6double_ele[2, 7]
count-15190
total-15190
count-15191
total-15191
count-15192
total-15192
count-15193
total-15193
count-15194
total-15194
count-15195
total-15195
count-15196
total-15196
count-15197
total-15197
count-15198
total-15198
count-15199
total-15199
count-15200
total-15200
count-15201
total-15201
count-15202
total-15202
count-15203
total-15203
count-15204
total-15204
column2 double_ele[1, 2]
count-15205
total-15205
count-15206
total-15206
count-15207
total-15207
count-15208
total-15208

count-15209
total-15209
count-15210
total-15210
count-15211
total-15211
count-15212
total-15212
count-15213
total-15213
count-15214
total-15214
count-15215
total-15215
count-15216
total-15216
count-15217
total-15217
count-15218
total-15218
count-15219
total-15219
count-15220
total-15220
column1 double_ele[1, 9]
row 4double_ele[1, 9]
count-15221
total-15221
count-15222
total-15222
count-15223
total-15223
count-15224
total-15224
count-15225
total-15225
count-15226
total-15226
count-15227
total-15227
count-15228
total-15228
count-15229
total-15229
count-15230
total-15230
count-15231
total-15231
count-15232
total-15232
column2 double_ele[2, 7]
count-15233
total-15233
count-15234
total-15234
column1 double_ele[1, 4]
count-15235
total-15235
count-15236
total-15236
count-15237
total-15237
count-15238
total-15238
count-15239
total-15239
count-15240
total-15240
count-15241
total-15241
count-15242
total-15242
count-15243
total-15243
count-15244
total-15244
count-15245
total-15245
row 7double_ele[2, 5]
count-15246
total-15246
count-15247
total-15247
count-15248
total-15248
row 6double_ele[1, 7]
count-15249
total-15249
count-15250
total-15250
row 1double_ele[1, 3]
count-15251
total-15251
count-15252
total-15252
count-15253
total-15253
count-15254
total-15254
count-15255
total-15255
count-15256
total-15256
count-15257
total-15257
column2 double_ele[1, 2]
row 6double_ele[2, 3]
count-15258
total-15258
count-15259
total-15259
count-15260
total-15260
count-15261
total-15261
count-15262
total-15262
row 6double_ele[6, 7]
row 7double_ele[1, 7]
column8 double_ele[1, 7]
count-15263
total-15263
count-15264
total-15264
count-15265
total-15265
column9 double_ele[3, 4]
count-15266
total-15266
count-15267
total-15267
count-15268
total-15268
count-15269
total-15269
count-15270
total-15270
count-15271
total-15271
column1 double_ele[1, 3]
row 9double_ele[1, 3]
count-15272
total-15272
count-15273
total-15273
count-15274
total-15274
count-15275
total-15275
count-15276
total-15276
count-15277
total-15277
count-15278
total-15278
count-15279
total-15279
count-15280
total-15280
count-15281
total-15281
count-15282
total-15282
count-15283
total-15283
count-15284
total-15284
count-15285
total-15285
count-15286
total-15286
count-15287
total-15287
row 3double_ele[1, 2]
column5 double_ele[1, 2]
count-15288
total-15288
count-15289
total-15289
count-15290
total-15290
count-15291
total-15291
count-15292
total-15292
count-15293
total-15293
count-15294
total-15294
count-15295
total-15295
count-15296
total-15296
row 1double_ele[4, 9]
row 7double_ele[1, 4]
column7 double_ele[4, 9]
count-15297
total-15297
count-15298
total-15298
row 6double_ele[1, 6]
count-15299
total-15299
count-15300
total-15300
count-15301
total-15301
count-15302
total-15302
count-15303
total-15303
count-15304
total-15304
column5 double_ele[3, 5]
count-15305
total-15305
count-15306
total-15306
row 2double_ele[1, 2]
row 3double_ele[1, 2]
column5 double_ele[1, 2]
count-15307
total-15307
count-15308
total-15308
count-15309
total-15309
count-15310
total-15310
count-15311
total-15311
count-15312
total-15312
count-15313
total-15313
count-15314
total-15314
column1 double_ele[5, 8]
count-15315
total-15315
count-15316
total-15316
row 2double_ele[3, 4]
count-15317
total-15317
count-15318
total-15318
count-15319
total-15319
row 6double_ele[4, 7]
column7 double_ele[4, 7]
row 8double_ele[4, 7]
count-15320
total-15320
count-15321
total-15321
count-15322
total-15322
count-15323
total-15323
row 8double_ele[4, 7]
count-15324
total-15324
column2 double_ele[4, 8]
count-15325
total-15325
count-15326
total-15326
count-15327
total-15327
count-15328
total-15328
count-15329
total-15329
count-15330
total-15330
count-15331
total-15331
count-15332
total-15332
column1 double_ele[1, 4]
column3 double_ele[1, 4]
row 6double_ele[1, 4]
count-15333
total-15333
count-15334
total-15334
count-15335
total-15335
column5 double_ele[3, 6]
count-15336
total-15336
count-15337
total-15337
count-15338
total-15338
count-15339
total-15339
count-15340
total-15340
count-15341
total-15341
count-15342
total-15342
count-15343
total-15343
count-15344
total-15344
count-15345
total-15345
column2 double_ele[1, 4]
row 5double_ele[1, 4]
count-15346
total-15346
count-15347
total-15347
count-15348
total-15348
count-15349
total-15349
count-15350
total-15350
count-15351
total-15351
count-15352
total-15352
row 6double_ele[1, 2]
count-15353
total-15353
count-15354
total-15354
count-15355
total-15355
count-15356
total-15356
count-15357
total-15357
count-15358
total-15358
count-15359
total-15359
count-15360
total-15360
count-15361
total-15361
count-15362
total-15362
count-15363
total-15363
count-15364
total-15364
count-15365
total-15365
count-15366
total-15366
count-15367
total-15367
count-15368
total-15368
count-15369
total-15369
count-15370
total-15370
count-15371
total-15371
count-15372
total-15372
count-15373
total-15373
count-15374
total-15374
column4 double_ele[3, 4]
column6 double_ele[3, 8]
count-15375
total-15375
count-15376
total-15376
count-15377
total-15377
count-15378
total-15378
count-15379
total-15379
count-15380
total-15380
count-15381
total-15381
column2 double_ele[2, 6]
row 3double_ele[2, 6]
count-15382
total-15382
count-15383
total-15383
count-15384
total-15384
count-15385
total-15385
count-15386
total-15386
count-15387
total-15387
count-15388
total-15388
count-15389
total-15389
row 2double_ele[2, 4]
count-15390
total-15390
count-15391
total-15391
count-15392
total-15392
count-15393
total-15393
count-15394
total-15394
count-15395
total-15395
count-15396
total-15396
count-15397
total-15397
count-15398
total-15398
count-15399
total-15399
count-15400
total-15400
count-15401
total-15401
count-15402
total-15402
count-15403
total-15403
count-15404
total-15404
count-15405
total-15405
count-15406
total-15406
count-15407
total-15407
count-15408
total-15408
count-15409
total-15409
count-15410
total-15410
count-15411
total-15411
count-15412
total-15412
count-15413
total-15413
count-15414
total-15414
count-15415
total-15415
count-15416
total-15416
count-15417
total-15417
count-15418
total-15418
count-15419
total-15419
count-15420
total-15420
count-15421
total-15421
count-15422
total-15422
count-15423
total-15423
count-15424
total-15424
count-15425
total-15425
count-15426
total-15426
column8 double_ele[2, 6]
count-15427
total-15427
count-15428
total-15428
row 5double_ele[1, 4]
count-15429
total-15429
count-15430
total-15430
count-15431
total-15431
count-15432
total-15432
count-15433
total-15433
count-15434
total-15434
count-15435
total-15435
count-15436
total-15436
count-15437
total-15437
count-15438
total-15438
count-15439
total-15439
count-15440
total-15440
count-15441
total-15441
count-15442
total-15442
count-15443
total-15443
count-15444
total-15444
count-15445
total-15445
row 9double_ele[2, 4]
count-15446
total-15446
count-15447
total-15447
count-15448
total-15448
count-15449
total-15449
count-15450
total-15450
count-15451
total-15451
count-15452
total-15452
count-15453
total-15453
count-15454
total-15454
column1 double_ele[2, 3]
count-15455
total-15455
count-15456
total-15456
row 6double_ele[4, 5]
count-15457
total-15457
row 6double_ele[2, 3]
count-15458
total-15458
count-15459
total-15459
count-15460
total-15460
count-15461
total-15461
count-15462
total-15462
count-15463
total-15463
count-15464
total-15464
count-15465
total-15465
column3 double_ele[2, 3]
count-15466
total-15466
count-15467
total-15467
count-15468
total-15468
count-15469
total-15469
row 6double_ele[1, 6]
count-15470
total-15470
count-15471
total-15471
count-15472
total-15472
count-15473
total-15473
column8 double_ele[1, 4]
count-15474
total-15474
count-15475
total-15475
count-15476
total-15476
count-15477
total-15477
column9 double_ele[2, 3]
count-15478
total-15478
count-15479
total-15479
count-15480
total-15480
count-15481
total-15481
count-15482
total-15482
count-15483
total-15483
count-15484
total-15484
count-15485
total-15485
count-15486
total-15486
count-15487
total-15487
count-15488
total-15488
count-15489
total-15489
count-15490
total-15490
count-15491
total-15491
count-15492
total-15492
count-15493
total-15493
count-15494
total-15494
count-15495
total-15495
count-15496
total-15496
count-15497
total-15497
count-15498
total-15498
row 8double_ele[3, 6]
column8 double_ele[3, 6]
count-15499
total-15499
count-15500
total-15500
count-15501
total-15501
count-15502
total-15502
count-15503
total-15503

count-15504
total-15504
count-15505
total-15505
count-15506
total-15506
count-15507
total-15507
count-15508
total-15508
row 1double_ele[2, 3]
column2 double_ele[2, 3]
row 7double_ele[2, 3]
count-15509
total-15509
count-15510
total-15510
row 5double_ele[1, 6]
count-15511
total-15511
count-15512
total-15512
count-15513
total-15513
count-15514
total-15514
count-15515
total-15515
count-15516
total-15516
count-15517
total-15517
count-15518
total-15518
count-15519
total-15519
count-15520
total-15520
count-15521
total-15521
column6 double_ele[1, 8]
count-15522
total-15522
count-15523
total-15523
column3 double_ele[3, 4]
row 4double_ele[3, 4]
count-15524
total-15524
count-15525
total-15525
row 5double_ele[1, 6]
column6 double_ele[1, 6]
count-15526
total-15526
count-15527
total-15527
count-15528
total-15528
count-15529
total-15529
row 6double_ele[1, 5]
count-15530
total-15530
count-15531
total-15531
count-15532
total-15532
count-15533
total-15533
count-15534
total-15534
row 2double_ele[4, 6]
count-15535
total-15535
count-15536
total-15536
count-15537
total-15537
count-15538
total-15538
row 4double_ele[5, 6]
column4 double_ele[5, 6]
count-15539
total-15539
count-15540
total-15540
count-15541
total-15541
count-15542
total-15542
row 2double_ele[4, 5]
count-15543
total-15543
count-15544
total-15544
count-15545
total-15545
count-15546
total-15546
count-15547
total-15547
count-15548
total-15548
count-15549
total-15549
count-15550
total-15550
count-15551
total-15551
count-15552
total-15552
count-15553
total-15553
count-15554
total-15554
count-15555
total-15555
count-15556
total-15556
count-15557
total-15557
count-15558
total-15558
count-15559
total-15559
count-15560
total-15560
count-15561
total-15561
row 6double_ele[1, 2]
count-15562
total-15562
row 8double_ele[1, 4]
column9 double_ele[1, 4]
count-15563
total-15563
count-15564
total-15564
count-15565
total-15565
count-15566
total-15566
count-15567
total-15567
count-15568
total-15568
count-15569
total-15569
count-15570
total-15570
count-15571
total-15571
count-15572
total-15572
count-15573
total-15573
count-15574
total-15574
count-15575
total-15575
count-15576
total-15576
count-15577
total-15577
count-15578
total-15578
count-15579
total-15579
count-15580
total-15580
count-15581
total-15581
count-15582
total-15582
count-15583
total-15583
count-15584
total-15584
count-15585
total-15585
count-15586
total-15586
count-15587
total-15587
count-15588
total-15588
count-15589
total-15589
count-15590
total-15590
row 3double_ele[4, 7]
column3 double_ele[4, 7]
count-15591
total-15591
count-15592
total-15592
count-15593
total-15593
count-15594
total-15594
row 5double_ele[3, 7]
count-15595
total-15595
count-15596
total-15596
count-15597
total-15597
count-15598
total-15598
count-15599
total-15599
count-15600
total-15600
count-15601
total-15601
count-15602
total-15602
count-15603
total-15603
row 6double_ele[4, 5]
count-15604
total-15604
row 2double_ele[1, 6]
column3 double_ele[1, 6]
row 4double_ele[1, 6]
count-15605
total-15605
count-15606
total-15606
count-15607
total-15607
column3 double_ele[2, 7]
count-15608
total-15608
count-15609
total-15609
count-15610
total-15610
count-15611
total-15611
count-15612
total-15612
count-15613
total-15613
count-15614
total-15614
count-15615
total-15615
count-15616
total-15616
count-15617
total-15617
count-15618
total-15618
count-15619
total-15619
count-15620
total-15620
count-15621
total-15621
count-15622
total-15622
count-15623
total-15623
count-15624
total-15624
count-15625
total-15625
count-15626
total-15626
count-15627
total-15627
count-15628
total-15628
count-15629
total-15629
count-15630
total-15630
count-15631
total-15631
count-15632
total-15632
count-15633
total-15633
count-15634
total-15634
count-15635
total-15635
count-15636
total-15636
row 4double_ele[1, 2]
column7 double_ele[1, 2]
column9 double_ele[1, 2]
count-15637
total-15637
count-15638
total-15638
count-15639
total-15639
count-15640
total-15640
count-15641
total-15641
count-15642
total-15642
count-15643
total-15643
row 8double_ele[1, 5]
count-15644
total-15644
count-15645
total-15645
count-15646
total-15646
count-15647
total-15647
count-15648
total-15648
row 3double_ele[5, 6]
count-15649
total-15649
count-15650
total-15650
count-15651
total-15651
column8 double_ele[3, 4]
row 9double_ele[3, 4]
count-15652
total-15652
count-15653
total-15653
count-15654
total-15654
count-15655
total-15655
row 5double_ele[1, 2]
row 8double_ele[1, 5]
count-15656
total-15656
count-15657
total-15657
count-15658
total-15658
count-15659
total-15659
count-15660
total-15660
count-15661
total-15661
count-15662
total-15662
count-15663
total-15663
count-15664
total-15664
count-15665
total-15665
count-15666
total-15666
count-15667
total-15667
count-15668
total-15668
count-15669
total-15669
row 4double_ele[2, 4]
count-15670
total-15670
count-15671
total-15671
count-15672
total-15672
count-15673
total-15673
count-15674
total-15674
count-15675
total-15675
count-15676
total-15676
count-15677
total-15677
column1 double_ele[4, 8]
column8 double_ele[2, 8]
count-15678
total-15678
count-15679
total-15679
count-15680
total-15680
count-15681
total-15681
count-15682
total-15682
count-15683
total-15683
count-15684
total-15684
count-15685
total-15685
count-15686
total-15686
count-15687
total-15687
count-15688
total-15688
row 2double_ele[2, 6]
count-15689
total-15689
row 5double_ele[3, 7]
count-15690
total-15690
count-15691
total-15691
count-15692
total-15692
column9 double_ele[2, 3]
count-15693
total-15693
count-15694
total-15694
count-15695
total-15695
count-15696
total-15696
count-15697
total-15697
count-15698
total-15698
count-15699
total-15699
row 2double_ele[4, 6]
count-15700
total-15700
count-15701
total-15701
count-15702
total-15702
count-15703
total-15703
count-15704
total-15704
count-15705
total-15705
count-15706
total-15706
count-15707
total-15707
column8 double_ele[1, 2]
count-15708
total-15708
count-15709
total-15709
row 2double_ele[1, 4]
count-15710
total-15710
count-15711
total-15711
count-15712
total-15712
count-15713
total-15713
count-15714
total-15714
row 5double_ele[4, 5]
count-15715
total-15715
count-15716
total-15716
count-15717
total-15717
count-15718
total-15718
count-15719
total-15719
count-15720
total-15720
count-15721
total-15721
count-15722
total-15722
count-15723
total-15723
count-15724
total-15724
count-15725
total-15725
count-15726
total-15726
count-15727
total-15727
count-15728
total-15728
count-15729
total-15729
count-15730
total-15730
count-15731
total-15731
count-15732
total-15732
count-15733
total-15733
count-15734
total-15734
count-15735
total-15735
count-15736
total-15736
count-15737
total-15737
column4 double_ele[2, 6]
count-15738
total-15738
count-15739
total-15739
count-15740
total-15740
count-15741
total-15741
count-15742
total-15742
count-15743
total-15743
count-15744
total-15744
count-15745
total-15745
count-15746
total-15746
column9 double_ele[1, 3]
count-15747
total-15747
count-15748
total-15748
count-15749
total-15749
count-15750
total-15750
count-15751
total-15751
count-15752
total-15752
count-15753
total-15753
count-15754
total-15754
count-15755
total-15755
count-15756
total-15756
count-15757
total-15757
count-15758
total-15758
row 7double_ele[1, 7]
count-15759
total-15759
count-15760
total-15760
count-15761
total-15761
count-15762
total-15762
count-15763
total-15763
count-15764
total-15764
count-15765
total-15765
count-15766
total-15766
count-15767
total-15767
count-15768
total-15768
row 2double_ele[4, 5]
column4 double_ele[4, 5]
count-15769
total-15769
count-15770
total-15770
count-15771
total-15771
column4 double_ele[1, 5]
count-15772
total-15772
column6 double_ele[2, 5]
row 8double_ele[2, 5]
count-15773
total-15773
count-15774
total-15774
count-15775
total-15775
count-15776
total-15776
count-15777
total-15777
count-15778
total-15778
count-15779
total-15779
count-15780
total-15780
count-15781
total-15781
count-15782
total-15782
count-15783
total-15783
count-15784
total-15784
count-15785
total-15785
count-15786
total-15786
count-15787
total-15787
count-15788
total-15788
column1 double_ele[1, 3]
count-15789
total-15789
count-15790
total-15790
count-15791
total-15791
count-15792
total-15792
row 3double_ele[3, 7]
row 8double_ele[1, 5]
count-15793
total-15793
count-15794
total-15794
column8 double_ele[1, 4]
count-15795
total-15795
row 9double_ele[1, 6]
count-15796
total-15796
count-15797
total-15797
count-15798
total-15798
count-15799
total-15799
count-15800
total-15800
count-15801
total-15801
count-15802
total-15802
count-15803
total-15803
count-15804
total-15804
count-15805
total-15805
count-15806
total-15806
count-15807
total-15807
row 8double_ele[1, 2]
column9 double_ele[1, 2]
count-15808
total-15808
count-15809
total-15809
count-15810
total-15810
count-15811
total-15811

count-15812
total-15812
row 3double_ele[1, 6]
column3 double_ele[2, 6]
row 6double_ele[2, 6]
column2 triple_ele[1, 3, 6]
box3 triple_ele[1, 3, 6]
count-15813
total-15813
count-15814
total-15814
count-15815
total-15815
count-15816
total-15816
count-15817
total-15817
count-15818
total-15818
count-15819
total-15819
count-15820
total-15820
count-15821
total-15821
count-15822
total-15822
count-15823
total-15823
count-15824
total-15824
row 2double_ele[4, 8]
count-15825
total-15825
count-15826
total-15826
count-15827
total-15827
count-15828
total-15828
count-15829
total-15829
count-15830
total-15830
count-15831
total-15831
count-15832
total-15832
count-15833
total-15833
count-15834
total-15834
count-15835
total-15835
count-15836
total-15836
count-15837
total-15837
count-15838
total-15838
count-15839
total-15839
count-15840
total-15840
count-15841
total-15841
count-15842
total-15842
count-15843
total-15843
count-15844
total-15844
count-15845
total-15845
count-15846
total-15846
count-15847
total-15847
count-15848
total-15848
count-15849
total-15849
count-15850
total-15850
count-15851
total-15851
count-15852
total-15852
row 2double_ele[3, 7]
column8 double_ele[3, 7]
count-15853
total-15853
count-15854
total-15854
count-15855
total-15855
count-15856
total-15856
count-15857
total-15857
count-15858
total-15858
row 7double_ele[1, 4]
count-15859
total-15859
row 1double_ele[1, 6]
column2 double_ele[1, 6]
count-15860
total-15860
count-15861
total-15861
count-15862
total-15862
count-15863
total-15863
count-15864
total-15864
row 2double_ele[1, 4]
column8 double_ele[1, 4]
count-15865
total-15865
count-15866
total-15866
count-15867
total-15867
count-15868
total-15868
column2 double_ele[2, 5]
row 4double_ele[2, 3]
column4 double_ele[2, 3]
column8 double_ele[2, 3]
row 5triple_ele[2, 3, 5]
count-15869
total-15869
count-15870
total-15870
count-15871
total-15871
row 9double_ele[3, 6]
count-15872
total-15872
count-15873
total-15873
count-15874
total-15874
row 1double_ele[2, 4]
count-15875
total-15875
count-15876
total-15876
row 9double_ele[1, 3]
count-15877
total-15877
count-15878
total-15878
count-15879
total-15879
row 1double_ele[1, 2]
column2 double_ele[1, 2]
count-15880
total-15880
count-15881
total-15881
count-15882
total-15882
count-15883
total-15883
column5 double_ele[3, 5]
count-15884
total-15884
count-15885
total-15885
count-15886
total-15886
count-15887
total-15887
count-15888
total-15888
count-15889
total-15889
count-15890
total-15890
count-15891
total-15891
count-15892
total-15892
column9 double_ele[2, 6]
count-15893
total-15893
count-15894
total-15894
count-15895
total-15895
count-15896
total-15896
count-15897
total-15897
count-15898
total-15898
count-15899
total-15899
count-15900
total-15900
count-15901
total-15901
count-15902
total-15902
count-15903
total-15903
count-15904
total-15904
count-15905
total-15905
column5 double_ele[5, 9]
column6 double_ele[5, 9]
column7 double_ele[1, 9]
row 8double_ele[5, 9]
row 9double_ele[5, 6]
column9 double_ele[5, 6]
count-15906
total-15906
count-15907
total-15907
count-15908
total-15908
count-15909
total-15909
count-15910
total-15910
column1 double_ele[3, 4]
count-15911
total-15911
count-15912
total-15912
count-15913
total-15913
count-15914
total-15914
count-15915
total-15915
count-15916
total-15916
count-15917
total-15917
count-15918
total-15918
count-15919
total-15919
count-15920
total-15920
count-15921
total-15921
count-15922
total-15922
count-15923
total-15923
count-15924
total-15924
count-15925
total-15925
count-15926
total-15926
count-15927
total-15927
count-15928
total-15928
count-15929
total-15929
count-15930
total-15930
count-15931
total-15931
count-15932
total-15932
row 7double_ele[2, 4]
column7 double_ele[2, 4]
row 8double_ele[2, 4]
count-15933
total-15933
count-15934
total-15934
count-15935
total-15935
count-15936
total-15936
count-15937
total-15937
count-15938
total-15938
column6 double_ele[4, 5]
count-15939
total-15939
count-15940
total-15940
count-15941
total-15941
count-15942
total-15942
count-15943
total-15943
count-15944
total-15944
column1 double_ele[2, 4]
column5 double_ele[2, 4]
row 9double_ele[2, 4]
count-15945
total-15945
count-15946
total-15946
count-15947
total-15947
count-15948
total-15948
count-15949
total-15949
count-15950
total-15950
count-15951
total-15951
count-15952
total-15952
count-15953
total-15953
count-15954
total-15954
count-15955
total-15955
count-15956
total-15956
count-15957
total-15957
count-15958
total-15958
count-15959
total-15959
count-15960
total-15960
count-15961
total-15961
count-15962
total-15962
count-15963
total-15963
count-15964
total-15964
row 4double_ele[1, 4]
count-15965
total-15965
column1 double_ele[1, 3]
row 3double_ele[3, 6]
column4 double_ele[3, 6]
row 9double_ele[1, 3]
count-15966
total-15966
count-15967
total-15967
count-15968
total-15968
count-15969
total-15969
count-15970
total-15970
count-15971
total-15971
count-15972
total-15972
count-15973
total-15973
count-15974
total-15974
row 3double_ele[4, 5]
column9 double_ele[4, 5]
count-15975
total-15975
count-15976
total-15976
count-15977
total-15977
count-15978
total-15978
column3 double_ele[1, 6]
row 9double_ele[1, 6]
count-15979
total-15979
count-15980
total-15980
count-15981
total-15981
count-15982
total-15982
count-15983
total-15983
count-15984
total-15984
count-15985
total-15985
count-15986
total-15986
count-15987
total-15987
count-15988
total-15988
count-15989
total-15989
count-15990
total-15990
count-15991
total-15991
row 8double_ele[3, 6]
column8 double_ele[3, 6]
count-15992
total-15992
count-15993
total-15993
row 5double_ele[1, 3]
count-15994
total-15994
count-15995
total-15995
count-15996
total-15996
row 3double_ele[2, 9]
count-15997
total-15997
count-15998
total-15998
count-15999
total-15999
count-16000
total-16000
count-16001
total-16001
count-16002
total-16002
count-16003
total-16003
count-16004
total-16004
count-16005
total-16005
box9 triple_ele[1, 3, 4]
count-16006
total-16006
count-16007
total-16007
row 5double_ele[1, 2]
count-16008
total-16008
count-16009
total-16009
count-16010
total-16010
count-16011
total-16011
count-16012
total-16012
column7 double_ele[3, 5]
count-16013
total-16013
count-16014
total-16014
count-16015
total-16015
count-16016
total-16016
count-16017
total-16017
count-16018
total-16018
count-16019
total-16019
count-16020
total-16020
row 9double_ele[1, 2]
count-16021
total-16021
count-16022
total-16022
count-16023
total-16023
count-16024
total-16024
count-16025
total-16025
count-16026
total-16026
count-16027
total-16027
count-16028
total-16028
count-16029
total-16029
count-16030
total-16030
count-16031
total-16031
count-16032
total-16032
count-16033
total-16033
count-16034
total-16034
count-16035
total-16035
column1 double_ele[2, 3]
row 3double_ele[2, 3]
row 9double_ele[2, 3]
count-16036
total-16036
count-16037
total-16037
count-16038
total-16038
count-16039
total-16039
count-16040
total-16040
count-16041
total-16041
count-16042
total-16042
count-16043
total-16043
count-16044
total-16044
count-16045
total-16045
count-16046
total-16046
count-16047
total-16047
count-16048
total-16048
count-16049
total-16049
count-16050
total-16050
row 2double_ele[1, 5]
column4 double_ele[1, 5]
count-16051
total-16051
count-16052
total-16052
count-16053
total-16053
count-16054
total-16054
count-16055
total-16055
count-16056
total-16056
count-16057
total-16057
count-16058
total-16058
count-16059
total-16059
count-16060
total-16060
count-16061
total-16061
row 9double_ele[2, 4]
count-16062
total-16062
count-16063
total-16063
count-16064
total-16064
count-16065
total-16065
count-16066
total-16066
count-16067
total-16067
count-16068
total-16068
column6 double_ele[1, 3]
row 6triple_ele[1, 3, 4]
box6 triple_ele[1, 3, 4]
count-16069
total-16069
count-16070
total-16070
column3 double_ele[2, 4]
count-16071
total-16071
count-16072
total-16072
count-16073
total-16073
count-16074
total-16074
count-16075
total-16075
count-16076
total-16076
count-16077
total-16077
count-16078
total-16078
count-16079
total-16079
count-16080
total-16080
row 7double_ele[1, 3]
count-16081
total-16081
count-16082
total-16082
count-16083
total-16083
count-16084
total-16084
column8 double_ele[2, 4]
count-16085
total-16085
count-16086
total-16086
count-16087
total-16087
count-16088
total-16088
count-16089
total-16089
count-16090
total-16090
count-16091
total-16091
count-16092
total-16092
count-16093
total-16093
count-16094
total-16094
count-16095
total-16095
count-16096
total-16096

count-16097
total-16097
count-16098
total-16098
count-16099
total-16099
count-16100
total-16100
count-16101
total-16101
count-16102
total-16102
count-16103
total-16103
count-16104
total-16104
count-16105
total-16105
count-16106
total-16106
count-16107
total-16107
count-16108
total-16108
count-16109
total-16109
count-16110
total-16110
count-16111
total-16111
row 6double_ele[1, 4]
count-16112
total-16112
count-16113
total-16113
count-16114
total-16114
count-16115
total-16115
row 1double_ele[3, 6]
column1 double_ele[5, 6]
row 2double_ele[5, 6]
box3 triple_ele[3, 5, 6]
count-16116
total-16116
row 7double_ele[1, 3]
column7 double_ele[1, 3]
count-16117
total-16117
count-16118
total-16118
count-16119
total-16119
count-16120
total-16120
count-16121
total-16121
count-16122
total-16122
count-16123
total-16123
count-16124
total-16124
count-16125
total-16125
column7 double_ele[1, 2]
count-16126
total-16126
count-16127
total-16127
count-16128
total-16128
count-16129
total-16129
count-16130
total-16130
count-16131
total-16131
box9 triple_ele[1, 4, 5]
count-16132
total-16132
row 5double_ele[1, 4]
count-16133
total-16133
count-16134
total-16134
count-16135
total-16135
count-16136
total-16136
count-16137
total-16137
count-16138
total-16138
count-16139
total-16139
count-16140
total-16140
count-16141
total-16141
count-16142
total-16142
count-16143
total-16143
column5 double_ele[1, 6]
row 6double_ele[1, 6]
count-16144
total-16144
count-16145
total-16145
count-16146
total-16146
count-16147
total-16147
count-16148
total-16148
count-16149
total-16149
count-16150
total-16150
count-16151
total-16151
row 2double_ele[1, 4]
column3 double_ele[1, 4]
count-16152
total-16152
count-16153
total-16153
count-16154
total-16154
count-16155
total-16155
count-16156
total-16156
count-16157
total-16157
count-16158
total-16158
count-16159
total-16159
count-16160
total-16160
count-16161
total-16161
count-16162
total-16162
column2 double_ele[1, 8]
column5 double_ele[1, 2]
row 8double_ele[1, 2]
count-16163
total-16163
count-16164
total-16164
count-16165
total-16165
column3 double_ele[2, 3]
row 9double_ele[2, 3]
count-16166
total-16166
count-16167
total-16167
count-16168
total-16168
count-16169
total-16169
count-16170
total-16170
count-16171
total-16171
count-16172
total-16172
row 4double_ele[1, 8]
column4 double_ele[1, 8]
row 8double_ele[1, 3]
count-16173
total-16173
count-16174
total-16174
count-16175
total-16175
count-16176
total-16176
count-16177
total-16177
count-16178
total-16178
count-16179
total-16179
row 2double_ele[2, 4]
column3 double_ele[2, 4]
count-16180
total-16180
count-16181
total-16181
count-16182
total-16182
row 5double_ele[1, 5]
count-16183
total-16183
count-16184
total-16184
count-16185
total-16185
count-16186
total-16186
count-16187
total-16187
count-16188
total-16188
count-16189
total-16189
count-16190
total-16190
count-16191
total-16191
count-16192
total-16192
column2 double_ele[2, 4]
count-16193
total-16193
count-16194
total-16194
count-16195
total-16195
count-16196
total-16196
count-16197
total-16197
count-16198
total-16198
count-16199
total-16199
count-16200
total-16200
count-16201
total-16201
column1 double_ele[3, 4]
column2 double_ele[4, 5]
column5 double_ele[3, 5]
count-16202
total-16202
count-16203
total-16203
count-16204
total-16204
count-16205
total-16205
column7 double_ele[2, 6]
count-16206
total-16206
count-16207
total-16207
count-16208
total-16208
count-16209
total-16209
count-16210
total-16210
count-16211
total-16211
count-16212
total-16212
count-16213
total-16213
column3 double_ele[3, 6]
count-16214
total-16214
count-16215
total-16215
column4 double_ele[4, 9]
column7 double_ele[2, 9]
count-16216
total-16216
count-16217
total-16217
count-16218
total-16218
count-16219
total-16219
count-16220
total-16220
count-16221
total-16221
count-16222
total-16222
count-16223
total-16223
count-16224
total-16224
count-16225
total-16225
count-16226
total-16226
count-16227
total-16227
count-16228
total-16228
count-16229
total-16229
count-16230
total-16230
count-16231
total-16231
count-16232
total-16232
column7 double_ele[1, 4]
count-16233
total-16233
count-16234
total-16234
row 2double_ele[3, 4]
count-16235
total-16235
count-16236
total-16236
count-16237
total-16237
count-16238
total-16238
count-16239
total-16239
count-16240
total-16240
count-16241
total-16241
count-16242
total-16242
count-16243
total-16243
count-16244
total-16244
count-16245
total-16245
count-16246
total-16246
count-16247
total-16247
count-16248
total-16248
count-16249
total-16249
count-16250
total-16250
column8 double_ele[3, 4]
count-16251
total-16251
count-16252
total-16252
count-16253
total-16253
count-16254
total-16254
count-16255
total-16255
count-16256
total-16256
count-16257
total-16257
row 5double_ele[1, 6]
count-16258
total-16258
count-16259
total-16259
count-16260
total-16260
count-16261
total-16261
count-16262
total-16262
count-16263
total-16263
count-16264
total-16264
count-16265
total-16265
count-16266
total-16266
count-16267
total-16267
count-16268
total-16268
count-16269
total-16269
count-16270
total-16270
count-16271
total-16271
count-16272
total-16272
count-16273
total-16273
count-16274
total-16274
count-16275
total-16275
count-16276
total-16276
count-16277
total-16277
count-16278
total-16278
count-16279
total-16279
count-16280
total-16280
count-16281
total-16281
count-16282
total-16282
count-16283
total-16283
count-16284
total-16284
count-16285
total-16285
count-16286
total-16286
count-16287
total-16287
count-16288
total-16288
count-16289
total-16289
count-16290
total-16290
count-16291
total-16291
count-16292
total-16292
count-16293
total-16293
count-16294
total-16294
count-16295
total-16295
count-16296
total-16296
column9 double_ele[4, 8]
count-16297
total-16297
count-16298
total-16298
count-16299
total-16299
count-16300
total-16300
count-16301
total-16301
count-16302
total-16302
count-16303
total-16303
count-16304
total-16304
count-16305
total-16305
row 5double_ele[2, 3]
column9 double_ele[2, 3]
count-16306
total-16306
count-16307
total-16307
count-16308
total-16308
row 2double_ele[3, 4]
count-16309
total-16309
count-16310
total-16310
count-16311
total-16311
count-16312
total-16312
count-16313
total-16313
count-16314
total-16314
count-16315
total-16315
count-16316
total-16316
count-16317
total-16317
count-16318
total-16318
count-16319
total-16319
count-16320
total-16320
count-16321
total-16321
count-16322
total-16322
count-16323
total-16323
count-16324
total-16324
count-16325
total-16325
count-16326
total-16326
count-16327
total-16327
count-16328
total-16328
count-16329
total-16329
count-16330
total-16330
count-16331
total-16331
count-16332
total-16332
count-16333
total-16333
count-16334
total-16334
count-16335
total-16335
count-16336
total-16336
count-16337
total-16337
count-16338
total-16338
count-16339
total-16339
count-16340
total-16340
count-16341
total-16341
count-16342
total-16342
count-16343
total-16343
count-16344
total-16344
count-16345
total-16345
count-16346
total-16346
count-16347
total-16347
count-16348
total-16348
count-16349
total-16349
count-16350
total-16350
count-16351
total-16351
count-16352
total-16352
count-16353
total-16353
count-16354
total-16354
count-16355
total-16355
count-16356
total-16356
count-16357
total-16357
count-16358
total-16358
count-16359
total-16359
row 7double_ele[1, 4]
count-16360
total-16360
count-16361
total-16361
row 6double_ele[3, 6]
count-16362
total-16362
count-16363
total-16363
count-16364
total-16364
count-16365
total-16365
count-16366
total-16366
count-16367
total-16367
count-16368
total-16368
count-16369
total-16369
count-16370
total-16370
count-16371
total-16371
count-16372
total-16372
row 6double_ele[1, 4]
count-16373
total-16373
count-16374
total-16374
row 1double_ele[3, 6]
column6 double_ele[2, 6]
row 9double_ele[1, 3]
row 3triple_ele[1, 4, 5]
count-16375
total-16375
count-16376
total-16376
count-16377
total-16377
count-16378
total-16378
count-16379
total-16379
count-16380
total-16380
count-16381
total-16381
count-16382
total-16382
count-16383
total-16383
count-16384
total-16384
count-16385
total-16385
count-16386
total-16386
count-16387
total-16387
count-16388
total-16388
count-16389
total-16389
row 9double_ele[4, 8]
count-16390
total-16390
count-16391
total-16391
row 4double_ele[2, 3]
count-16392
total-16392
count-16393
total-16393
count-16394
total-16394
count-16395
total-16395
count-16396
total-16396
count-16397
total-16397
count-16398
total-16398
count-16399
total-16399
count-16400
total-16400
count-16401
total-16401

count-16402
total-16402
count-16403
total-16403
count-16404
total-16404
count-16405
total-16405
column3 double_ele[1, 6]
count-16406
total-16406
count-16407
total-16407
count-16408
total-16408
count-16409
total-16409
count-16410
total-16410
count-16411
total-16411
count-16412
total-16412
count-16413
total-16413
row 7double_ele[1, 2]
count-16414
total-16414
count-16415
total-16415
count-16416
total-16416
count-16417
total-16417
count-16418
total-16418
row 2double_ele[1, 3]
count-16419
total-16419
count-16420
total-16420
count-16421
total-16421
column2 double_ele[2, 6]
row 4double_ele[4, 6]
row 8double_ele[2, 4]
row 9double_ele[4, 5]
column3 triple_ele[2, 4, 7]
count-16422
total-16422
count-16423
total-16423
count-16424
total-16424
count-16425
total-16425
count-16426
total-16426
count-16427
total-16427
count-16428
total-16428
count-16429
total-16429
count-16430
total-16430
count-16431
total-16431
count-16432
total-16432
count-16433
total-16433
count-16434
total-16434
count-16435
total-16435
row 3double_ele[1, 6]
column6 double_ele[6, 8]
row 7double_ele[1, 8]
count-16436
total-16436
count-16437
total-16437
count-16438
total-16438
count-16439
total-16439
count-16440
total-16440
count-16441
total-16441
count-16442
total-16442
count-16443
total-16443
count-16444
total-16444
count-16445
total-16445
count-16446
total-16446
count-16447
total-16447
count-16448
total-16448
count-16449
total-16449
count-16450
total-16450
count-16451
total-16451
count-16452
total-16452
count-16453
total-16453
count-16454
total-16454
count-16455
total-16455
count-16456
total-16456
count-16457
total-16457
count-16458
total-16458
count-16459
total-16459
count-16460
total-16460
count-16461
total-16461
count-16462
total-16462
count-16463
total-16463
count-16464
total-16464
count-16465
total-16465
count-16466
total-16466
count-16467
total-16467
count-16468
total-16468
count-16469
total-16469
count-16470
total-16470
count-16471
total-16471
count-16472
total-16472
count-16473
total-16473
count-16474
total-16474
count-16475
total-16475
count-16476
total-16476
count-16477
total-16477
count-16478
total-16478
count-16479
total-16479
count-16480
total-16480
count-16481
total-16481
count-16482
total-16482
count-16483
total-16483
count-16484
total-16484
count-16485
total-16485
count-16486
total-16486
count-16487
total-16487
count-16488
total-16488
row 2double_ele[5, 9]
column5 double_ele[1, 5]
column6 double_ele[1, 9]
column9 double_ele[5, 9]
count-16489
total-16489
count-16490
total-16490
row 5double_ele[3, 4]
count-16491
total-16491
count-16492
total-16492
count-16493
total-16493
count-16494
total-16494
count-16495
total-16495
count-16496
total-16496
count-16497
total-16497
count-16498
total-16498
count-16499
total-16499
row 6double_ele[1, 5]
count-16500
total-16500
count-16501
total-16501
count-16502
total-16502
count-16503
total-16503
count-16504
total-16504
count-16505
total-16505
row 6double_ele[1, 6]
column7 double_ele[1, 6]
count-16506
total-16506
count-16507
total-16507
count-16508
total-16508
column1 double_ele[3, 7]
row 8double_ele[1, 5]
count-16509
total-16509
count-16510
total-16510
count-16511
total-16511
column5 double_ele[4, 6]
column7 double_ele[1, 3]
count-16512
total-16512
count-16513
total-16513
count-16514
total-16514
count-16515
total-16515
row 2double_ele[2, 6]
count-16516
total-16516
count-16517
total-16517
count-16518
total-16518
count-16519
total-16519
count-16520
total-16520
count-16521
total-16521
count-16522
total-16522
count-16523
total-16523
count-16524
total-16524
count-16525
total-16525
count-16526
total-16526
count-16527
total-16527
count-16528
total-16528
count-16529
total-16529
count-16530
total-16530
column4 double_ele[1, 3]
count-16531
total-16531
count-16532
total-16532
count-16533
total-16533
row 2double_ele[1, 3]
column5 double_ele[1, 3]
count-16534
total-16534
count-16535
total-16535
count-16536
total-16536
count-16537
total-16537
column2 double_ele[2, 3]
row 4double_ele[2, 3]
count-16538
total-16538
count-16539
total-16539
count-16540
total-16540
count-16541
total-16541
count-16542
total-16542
count-16543
total-16543
count-16544
total-16544
row 7double_ele[5, 6]
count-16545
total-16545
count-16546
total-16546
row 4double_ele[5, 6]
row 7double_ele[2, 5]
row 8double_ele[1, 4]
row 9double_ele[4, 5]
count-16547
total-16547
count-16548
total-16548
count-16549
total-16549
count-16550
total-16550
count-16551
total-16551
count-16552
total-16552
count-16553
total-16553
count-16554
total-16554
count-16555
total-16555
count-16556
total-16556
count-16557
total-16557
count-16558
total-16558
count-16559
total-16559
count-16560
total-16560
row 2double_ele[2, 4]
count-16561
total-16561
count-16562
total-16562
count-16563
total-16563
count-16564
total-16564
count-16565
total-16565
row 4double_ele[2, 3]
column5 double_ele[2, 3]
count-16566
total-16566
count-16567
total-16567
count-16568
total-16568
count-16569
total-16569
count-16570
total-16570
column2 double_ele[2, 6]
count-16571
total-16571
row 5double_ele[1, 2]
count-16572
total-16572
count-16573
total-16573
count-16574
total-16574
count-16575
total-16575
count-16576
total-16576
count-16577
total-16577
count-16578
total-16578
count-16579
total-16579
count-16580
total-16580
count-16581
total-16581
count-16582
total-16582
count-16583
total-16583
count-16584
total-16584
count-16585
total-16585
count-16586
total-16586
count-16587
total-16587
count-16588
total-16588
count-16589
total-16589
count-16590
total-16590
count-16591
total-16591
row 2double_ele[1, 3]
count-16592
total-16592
count-16593
total-16593
count-16594
total-16594
count-16595
total-16595
count-16596
total-16596
count-16597
total-16597
count-16598
total-16598
count-16599
total-16599
count-16600
total-16600
count-16601
total-16601
count-16602
total-16602
count-16603
total-16603
count-16604
total-16604
count-16605
total-16605
count-16606
total-16606
count-16607
total-16607
count-16608
total-16608
count-16609
total-16609
count-16610
total-16610
count-16611
total-16611
count-16612
total-16612
count-16613
total-16613
count-16614
total-16614
count-16615
total-16615
count-16616
total-16616
count-16617
total-16617
count-16618
total-16618
row 1double_ele[1, 2]
column9 double_ele[1, 2]
count-16619
total-16619
row 1double_ele[1, 2]
count-16620
total-16620
count-16621
total-16621
count-16622
total-16622
count-16623
total-16623
count-16624
total-16624
count-16625
total-16625
count-16626
total-16626
count-16627
total-16627
row 6double_ele[3, 4]
count-16628
total-16628
count-16629
total-16629
count-16630
total-16630
count-16631
total-16631
count-16632
total-16632
count-16633
total-16633
row 1double_ele[4, 5]
column6 double_ele[4, 5]
count-16634
total-16634
count-16635
total-16635
row 6double_ele[4, 8]
count-16636
total-16636
count-16637
total-16637
column2 double_ele[3, 8]
column5 double_ele[2, 8]
count-16638
total-16638
count-16639
total-16639
count-16640
total-16640
count-16641
total-16641
count-16642
total-16642
column7 double_ele[3, 5]
count-16643
total-16643
count-16644
total-16644
row 5double_ele[2, 6]
row 8double_ele[4, 6]
count-16645
total-16645
count-16646
total-16646
count-16647
total-16647
count-16648
total-16648
count-16649
total-16649
count-16650
total-16650
count-16651
total-16651
count-16652
total-16652
count-16653
total-16653
count-16654
total-16654
count-16655
total-16655
column7 double_ele[6, 7]
count-16656
total-16656
count-16657
total-16657
count-16658
total-16658
count-16659
total-16659
count-16660
total-16660
row 3double_ele[1, 6]
column4 double_ele[1, 6]
count-16661
total-16661
count-16662
total-16662
count-16663
total-16663
count-16664
total-16664
count-16665
total-16665
count-16666
total-16666
column4 double_ele[4, 8]
column7 double_ele[1, 8]
count-16667
total-16667
count-16668
total-16668
count-16669
total-16669
count-16670
total-16670
count-16671
total-16671
count-16672
total-16672
count-16673
total-16673
count-16674
total-16674
count-16675
total-16675
count-16676
total-16676
count-16677
total-16677
count-16678
total-16678
count-16679
total-16679
count-16680
total-16680
count-16681
total-16681
count-16682
total-16682
count-16683
total-16683
count-16684
total-16684
count-16685
total-16685
count-16686
total-16686
count-16687
total-16687
count-16688
total-16688

count-16689
total-16689
count-16690
total-16690
column6 double_ele[2, 5]
count-16691
total-16691
count-16692
total-16692
count-16693
total-16693
count-16694
total-16694
count-16695
total-16695
count-16696
total-16696
row 1double_ele[5, 8]
column1 double_ele[6, 8]
count-16697
total-16697
row 4double_ele[3, 7]
count-16698
total-16698
count-16699
total-16699
count-16700
total-16700
count-16701
total-16701
count-16702
total-16702
column1 double_ele[3, 5]
count-16703
total-16703
count-16704
total-16704
count-16705
total-16705
count-16706
total-16706
count-16707
total-16707
count-16708
total-16708
count-16709
total-16709
count-16710
total-16710
count-16711
total-16711
count-16712
total-16712
row 2double_ele[3, 9]
column3 double_ele[3, 9]
count-16713
total-16713
row 1double_ele[1, 3]
count-16714
total-16714
count-16715
total-16715
count-16716
total-16716
count-16717
total-16717
column7 double_ele[2, 4]
row 9double_ele[2, 4]
count-16718
total-16718
count-16719
total-16719
count-16720
total-16720
count-16721
total-16721
count-16722
total-16722
count-16723
total-16723
count-16724
total-16724
row 5double_ele[5, 6]
count-16725
total-16725
count-16726
total-16726
count-16727
total-16727
count-16728
total-16728
count-16729
total-16729
count-16730
total-16730
count-16731
total-16731
count-16732
total-16732
count-16733
total-16733
count-16734
total-16734
count-16735
total-16735
count-16736
total-16736
count-16737
total-16737
count-16738
total-16738
column2 double_ele[3, 4]
column4 double_ele[2, 3]
row 7double_ele[3, 4]
column7 double_ele[1, 2]
count-16739
total-16739
column6 double_ele[4, 5]
count-16740
total-16740
count-16741
total-16741
count-16742
total-16742
count-16743
total-16743
count-16744
total-16744
count-16745
total-16745
count-16746
total-16746
count-16747
total-16747
column5 double_ele[1, 6]
row 7double_ele[1, 6]
count-16748
total-16748
count-16749
total-16749
count-16750
total-16750
count-16751
total-16751
count-16752
total-16752
count-16753
total-16753
count-16754
total-16754
count-16755
total-16755
count-16756
total-16756
count-16757
total-16757
column7 double_ele[1, 2]
count-16758
total-16758
count-16759
total-16759
row 1double_ele[4, 7]
count-16760
total-16760
count-16761
total-16761
count-16762
total-16762
column6 double_ele[1, 7]
count-16763
total-16763
count-16764
total-16764
column1 double_ele[2, 3]
count-16765
total-16765
count-16766
total-16766
count-16767
total-16767
count-16768
total-16768
count-16769
total-16769
count-16770
total-16770
count-16771
total-16771
row 1double_ele[2, 3]
row 8double_ele[2, 3]
column8 double_ele[2, 3]
column9 double_ele[2, 3]
count-16772
total-16772
count-16773
total-16773
count-16774
total-16774
count-16775
total-16775
count-16776
total-16776
count-16777
total-16777
count-16778
total-16778
count-16779
total-16779
count-16780
total-16780
count-16781
total-16781
count-16782
total-16782
count-16783
total-16783
count-16784
total-16784
count-16785
total-16785
count-16786
total-16786
count-16787
total-16787
count-16788
total-16788
count-16789
total-16789
count-16790
total-16790
count-16791
total-16791
count-16792
total-16792
count-16793
total-16793
count-16794
total-16794
count-16795
total-16795
count-16796
total-16796
count-16797
total-16797
row 1double_ele[3, 4]
count-16798
total-16798
count-16799
total-16799
count-16800
total-16800
count-16801
total-16801
column7 double_ele[1, 8]
count-16802
total-16802
count-16803
total-16803
count-16804
total-16804
count-16805
total-16805
count-16806
total-16806
count-16807
total-16807
count-16808
total-16808
count-16809
total-16809
row 9double_ele[2, 6]
count-16810
total-16810
count-16811
total-16811
count-16812
total-16812
column3 double_ele[4, 5]
count-16813
total-16813
count-16814
total-16814
count-16815
total-16815
count-16816
total-16816
count-16817
total-16817
count-16818
total-16818
count-16819
total-16819
row 8double_ele[5, 9]
column9 double_ele[5, 6]
count-16820
total-16820
count-16821
total-16821
count-16822
total-16822
count-16823
total-16823
row 2double_ele[3, 4]
column5 double_ele[3, 4]
count-16824
total-16824
count-16825
total-16825
column6 double_ele[2, 3]
row 7double_ele[2, 3]
count-16826
total-16826
count-16827
total-16827
count-16828
total-16828
count-16829
total-16829
count-16830
total-16830
count-16831
total-16831
column2 double_ele[2, 4]
count-16832
total-16832
count-16833
total-16833
count-16834
total-16834
row 3double_ele[1, 4]
box6 triple_ele[1, 2, 4]
count-16835
total-16835
count-16836
total-16836
count-16837
total-16837
count-16838
total-16838
count-16839
total-16839
count-16840
total-16840
count-16841
total-16841
count-16842
total-16842
count-16843
total-16843
row 3double_ele[1, 6]
count-16844
total-16844
count-16845
total-16845
count-16846
total-16846
count-16847
total-16847
column3 double_ele[3, 6]
count-16848
total-16848
count-16849
total-16849
row 4double_ele[4, 8]
count-16850
total-16850
count-16851
total-16851
count-16852
total-16852
count-16853
total-16853
count-16854
total-16854
count-16855
total-16855
count-16856
total-16856
count-16857
total-16857
count-16858
total-16858
count-16859
total-16859
count-16860
total-16860
count-16861
total-16861
count-16862
total-16862
count-16863
total-16863
count-16864
total-16864
count-16865
total-16865
count-16866
total-16866
count-16867
total-16867
count-16868
total-16868
count-16869
total-16869
count-16870
total-16870
count-16871
total-16871
count-16872
total-16872
row 3double_ele[1, 2]
count-16873
total-16873
column9 double_ele[1, 4]
count-16874
total-16874
count-16875
total-16875
count-16876
total-16876
count-16877
total-16877
count-16878
total-16878
count-16879
total-16879
row 6double_ele[1, 2]
count-16880
total-16880
count-16881
total-16881
count-16882
total-16882
count-16883
total-16883
count-16884
total-16884
count-16885
total-16885
count-16886
total-16886
count-16887
total-16887
count-16888
total-16888
count-16889
total-16889
count-16890
total-16890
count-16891
total-16891
count-16892
total-16892
count-16893
total-16893
count-16894
total-16894
count-16895
total-16895
count-16896
total-16896
count-16897
total-16897
count-16898
total-16898
count-16899
total-16899
count-16900
total-16900
row 5double_ele[1, 5]
count-16901
total-16901
count-16902
total-16902
row 3double_ele[1, 6]
column4 double_ele[1, 6]
count-16903
total-16903
count-16904
total-16904
count-16905
total-16905
count-16906
total-16906
row 1double_ele[2, 6]
count-16907
total-16907
row 3double_ele[5, 6]
row 7double_ele[2, 6]
count-16908
total-16908
count-16909
total-16909
count-16910
total-16910
count-16911
total-16911
count-16912
total-16912
count-16913
total-16913
count-16914
total-16914
column4 double_ele[2, 3]
row 9double_ele[2, 3]
count-16915
total-16915
count-16916
total-16916
count-16917
total-16917
count-16918
total-16918
count-16919
total-16919
count-16920
total-16920
count-16921
total-16921
count-16922
total-16922
count-16923
total-16923
count-16924
total-16924
count-16925
total-16925
count-16926
total-16926
count-16927
total-16927
count-16928
total-16928
count-16929
total-16929
count-16930
total-16930
count-16931
total-16931
count-16932
total-16932
count-16933
total-16933
count-16934
total-16934
count-16935
total-16935
count-16936
total-16936
count-16937
total-16937
count-16938
total-16938
count-16939
total-16939
count-16940
total-16940
row 1double_ele[2, 7]
column9 double_ele[2, 7]
count-16941
total-16941
count-16942
total-16942
count-16943
total-16943
count-16944
total-16944
count-16945
total-16945
column5 double_ele[3, 6]
count-16946
total-16946
count-16947
total-16947
count-16948
total-16948
count-16949
total-16949
count-16950
total-16950
count-16951
total-16951
count-16952
total-16952
count-16953
total-16953
count-16954
total-16954
row 7double_ele[1, 8]
count-16955
total-16955
count-16956
total-16956
count-16957
total-16957
row 9double_ele[2, 6]
column9 double_ele[2, 6]
count-16958
total-16958
column2 double_ele[1, 2]
count-16959
total-16959
count-16960
total-16960
column4 double_ele[1, 2]
column7 double_ele[2, 5]
count-16961
total-16961
count-16962
total-16962
count-16963
total-16963
row 3double_ele[5, 6]
count-16964
total-16964
count-16965
total-16965
count-16966
total-16966
count-16967
total-16967
count-16968
total-16968
count-16969
total-16969
count-16970
total-16970
count-16971
total-16971
count-16972
total-16972
count-16973
total-16973
count-16974
total-16974
count-16975
total-16975
count-16976
total-16976

count-16977
total-16977
count-16978
total-16978
count-16979
total-16979
count-16980
total-16980
count-16981
total-16981
count-16982
total-16982
count-16983
total-16983
count-16984
total-16984
count-16985
total-16985
count-16986
total-16986
column3 double_ele[2, 3]
row 4double_ele[2, 5]
column4 double_ele[2, 9]
column7 double_ele[2, 5]
column5 triple_ele[1, 2, 5]
count-16987
total-16987
count-16988
total-16988
count-16989
total-16989
count-16990
total-16990
count-16991
total-16991
count-16992
total-16992
count-16993
total-16993
count-16994
total-16994
count-16995
total-16995
count-16996
total-16996
count-16997
total-16997
count-16998
total-16998
count-16999
total-16999
count-17000
total-17000
count-17001
total-17001
count-17002
total-17002
count-17003
total-17003
count-17004
total-17004
count-17005
total-17005
count-17006
total-17006
count-17007
total-17007
count-17008
total-17008
column5 double_ele[1, 5]
row 8double_ele[1, 5]
count-17009
total-17009
count-17010
total-17010
count-17011
total-17011
count-17012
total-17012
count-17013
total-17013
count-17014
total-17014
count-17015
total-17015
count-17016
total-17016
row 6double_ele[2, 3]
count-17017
total-17017
count-17018
total-17018
count-17019
total-17019
column6 double_ele[3, 5]
column8 double_ele[2, 5]
count-17020
total-17020
column8 double_ele[1, 8]
count-17021
total-17021
count-17022
total-17022
row 8double_ele[4, 6]
count-17023
total-17023
count-17024
total-17024
count-17025
total-17025
count-17026
total-17026
count-17027
total-17027
count-17028
total-17028
count-17029
total-17029
count-17030
total-17030
count-17031
total-17031
count-17032
total-17032
count-17033
total-17033
count-17034
total-17034
count-17035
total-17035
count-17036
total-17036
count-17037
total-17037
count-17038
total-17038
count-17039
total-17039
count-17040
total-17040
count-17041
total-17041
count-17042
total-17042
count-17043
total-17043
count-17044
total-17044
count-17045
total-17045
row 3double_ele[2, 7]
column8 double_ele[2, 7]
count-17046
total-17046
count-17047
total-17047
count-17048
total-17048
count-17049
total-17049
count-17050
total-17050
count-17051
total-17051
column4 double_ele[1, 3]
row 5double_ele[1, 3]
count-17052
total-17052
count-17053
total-17053
count-17054
total-17054
count-17055
total-17055
count-17056
total-17056
count-17057
total-17057
count-17058
total-17058
row 2double_ele[5, 6]
column2 double_ele[3, 5]
row 5double_ele[3, 5]
row 7double_ele[3, 6]
count-17059
total-17059
count-17060
total-17060
count-17061
total-17061
count-17062
total-17062
count-17063
total-17063
count-17064
total-17064
count-17065
total-17065
count-17066
total-17066
count-17067
total-17067
count-17068
total-17068
count-17069
total-17069
count-17070
total-17070
column2 double_ele[2, 7]
row 4double_ele[2, 7]
row 6double_ele[2, 7]
column9 double_ele[2, 7]
count-17071
total-17071
count-17072
total-17072
count-17073
total-17073
count-17074
total-17074
count-17075
total-17075
count-17076
total-17076
count-17077
total-17077
count-17078
total-17078
count-17079
total-17079
count-17080
total-17080
count-17081
total-17081
count-17082
total-17082
count-17083
total-17083
count-17084
total-17084
count-17085
total-17085
count-17086
total-17086
count-17087
total-17087
count-17088
total-17088
count-17089
total-17089
column3 double_ele[5, 8]
count-17090
total-17090
count-17091
total-17091
count-17092
total-17092
count-17093
total-17093
column6 double_ele[1, 3]
row 7double_ele[1, 3]
count-17094
total-17094
count-17095
total-17095
count-17096
total-17096
count-17097
total-17097
count-17098
total-17098
count-17099
total-17099
count-17100
total-17100
count-17101
total-17101
count-17102
total-17102
count-17103
total-17103
count-17104
total-17104
count-17105
total-17105
count-17106
total-17106
count-17107
total-17107
column2 double_ele[4, 5]
count-17108
total-17108
count-17109
total-17109
count-17110
total-17110
count-17111
total-17111
count-17112
total-17112
count-17113
total-17113
count-17114
total-17114
count-17115
total-17115
count-17116
total-17116
row 1double_ele[3, 4]
count-17117
total-17117
row 8double_ele[4, 5]
count-17118
total-17118
count-17119
total-17119
count-17120
total-17120
count-17121
total-17121
count-17122
total-17122
count-17123
total-17123
count-17124
total-17124
count-17125
total-17125
count-17126
total-17126
count-17127
total-17127
count-17128
total-17128
count-17129
total-17129
count-17130
total-17130
count-17131
total-17131
count-17132
total-17132
count-17133
total-17133
count-17134
total-17134
count-17135
total-17135
count-17136
total-17136
count-17137
total-17137
count-17138
total-17138
count-17139
total-17139
count-17140
total-17140
count-17141
total-17141
count-17142
total-17142
count-17143
total-17143
row 6double_ele[1, 5]
count-17144
total-17144
count-17145
total-17145
count-17146
total-17146
count-17147
total-17147
count-17148
total-17148
count-17149
total-17149
count-17150
total-17150
count-17151
total-17151
count-17152
total-17152
count-17153
total-17153
count-17154
total-17154
count-17155
total-17155
column3 double_ele[1, 3]
count-17156
total-17156
count-17157
total-17157
count-17158
total-17158
count-17159
total-17159
count-17160
total-17160
count-17161
total-17161
count-17162
total-17162
count-17163
total-17163
count-17164
total-17164
count-17165
total-17165
count-17166
total-17166
count-17167
total-17167
row 4double_ele[2, 8]
count-17168
total-17168
count-17169
total-17169
count-17170
total-17170
row 1double_ele[2, 3]
row 5double_ele[3, 7]
row 8double_ele[2, 4]
count-17171
total-17171
count-17172
total-17172
count-17173
total-17173
count-17174
total-17174
count-17175
total-17175
count-17176
total-17176
count-17177
total-17177
column2 double_ele[1, 2]
count-17178
total-17178
count-17179
total-17179
count-17180
total-17180
count-17181
total-17181
row 3double_ele[4, 6]
count-17182
total-17182
count-17183
total-17183
count-17184
total-17184
count-17185
total-17185
column9 double_ele[2, 3]
count-17186
total-17186
count-17187
total-17187
count-17188
total-17188
count-17189
total-17189
count-17190
total-17190
column4 double_ele[1, 4]
count-17191
total-17191
count-17192
total-17192
count-17193
total-17193
count-17194
total-17194
count-17195
total-17195
count-17196
total-17196
column5 double_ele[3, 7]
row 8double_ele[2, 3]
count-17197
total-17197
count-17198
total-17198
count-17199
total-17199
count-17200
total-17200
count-17201
total-17201
count-17202
total-17202
count-17203
total-17203
count-17204
total-17204
count-17205
total-17205
count-17206
total-17206
count-17207
total-17207
count-17208
total-17208
count-17209
total-17209
count-17210
total-17210
count-17211
total-17211
count-17212
total-17212
row 7triple_ele[1, 3, 6]
box9 triple_ele[1, 3, 6]
count-17213
total-17213
count-17214
total-17214
count-17215
total-17215
count-17216
total-17216
row 1double_ele[3, 4]
row 3double_ele[1, 3]
column5 double_ele[1, 3]
column6 double_ele[1, 3]
count-17217
total-17217
count-17218
total-17218
count-17219
total-17219
row 2double_ele[1, 2]
count-17220
total-17220
count-17221
total-17221
column1 double_ele[4, 6]
count-17222
total-17222
count-17223
total-17223
count-17224
total-17224
count-17225
total-17225
count-17226
total-17226
count-17227
total-17227
count-17228
total-17228
count-17229
total-17229
count-17230
total-17230
column6 double_ele[2, 6]
count-17231
total-17231
count-17232
total-17232
count-17233
total-17233
count-17234
total-17234
count-17235
total-17235
count-17236
total-17236
count-17237
total-17237
count-17238
total-17238
count-17239
total-17239
count-17240
total-17240
count-17241
total-17241
count-17242
total-17242
count-17243
total-17243
count-17244
total-17244
count-17245
total-17245
count-17246
total-17246
count-17247
total-17247
count-17248
total-17248
count-17249
total-17249
count-17250
total-17250
count-17251
total-17251
count-17252
total-17252
column1 double_ele[2, 7]
row 7double_ele[2, 7]
count-17253
total-17253
count-17254
total-17254
count-17255
total-17255
column6 double_ele[2, 6]
count-17256
total-17256
column2 double_ele[1, 4]
row 4double_ele[1, 4]
row 5double_ele[1, 4]
column9 double_ele[1, 4]
count-17257
total-17257
row 9double_ele[3, 6]
count-17258
total-17258
count-17259
total-17259
count-17260
total-17260
count-17261
total-17261
row 3double_ele[2, 6]
count-17262
total-17262
count-17263
total-17263
count-17264
total-17264
column1 double_ele[2, 4]
row 6double_ele[2, 4]
count-17265
total-17265
count-17266
total-17266
count-17267
total-17267
count-17268
total-17268
count-17269
total-17269
count-17270
total-17270
count-17271
total-17271
count-17272
total-17272
count-17273
total-17273
count-17274
total-17274
count-17275
total-17275
count-17276
total-17276
row 7double_ele[6, 8]
count-17277
total-17277
count-17278
total-17278

count-17279
total-17279
count-17280
total-17280
count-17281
total-17281
count-17282
total-17282
count-17283
total-17283
count-17284
total-17284
count-17285
total-17285
count-17286
total-17286
count-17287
total-17287
count-17288
total-17288
count-17289
total-17289
count-17290
total-17290
count-17291
total-17291
count-17292
total-17292
count-17293
total-17293
count-17294
total-17294
count-17295
total-17295
count-17296
total-17296
count-17297
total-17297
count-17298
total-17298
count-17299
total-17299
count-17300
total-17300
row 2double_ele[2, 8]
count-17301
total-17301
row 2double_ele[4, 5]
count-17302
total-17302
column2 double_ele[1, 3]
count-17303
total-17303
count-17304
total-17304
row 7double_ele[2, 3]
count-17305
total-17305
count-17306
total-17306
row 2double_ele[4, 5]
row 8double_ele[1, 5]
count-17307
total-17307
count-17308
total-17308
count-17309
total-17309
count-17310
total-17310
count-17311
total-17311
column3 double_ele[1, 3]
count-17312
total-17312
count-17313
total-17313
count-17314
total-17314
count-17315
total-17315
count-17316
total-17316
count-17317
total-17317
count-17318
total-17318
row 2double_ele[1, 7]
row 7double_ele[4, 7]
column9 double_ele[4, 7]
count-17319
total-17319
column9 double_ele[4, 6]
count-17320
total-17320
count-17321
total-17321
count-17322
total-17322
count-17323
total-17323
column3 double_ele[4, 5]
count-17324
total-17324
count-17325
total-17325
count-17326
total-17326
count-17327
total-17327
count-17328
total-17328
count-17329
total-17329
count-17330
total-17330
count-17331
total-17331
count-17332
total-17332
row 6double_ele[1, 3]
count-17333
total-17333
count-17334
total-17334
count-17335
total-17335
count-17336
total-17336
count-17337
total-17337
column2 double_ele[1, 5]
row 7double_ele[1, 5]
count-17338
total-17338
count-17339
total-17339
count-17340
total-17340
count-17341
total-17341
count-17342
total-17342
count-17343
total-17343
count-17344
total-17344
count-17345
total-17345
count-17346
total-17346
count-17347
total-17347
count-17348
total-17348
count-17349
total-17349
count-17350
total-17350
count-17351
total-17351
count-17352
total-17352
count-17353
total-17353
row 3double_ele[1, 3]
column9 double_ele[1, 3]
count-17354
total-17354
count-17355
total-17355
count-17356
total-17356
count-17357
total-17357
count-17358
total-17358
count-17359
total-17359
count-17360
total-17360
count-17361
total-17361
count-17362
total-17362
count-17363
total-17363
count-17364
total-17364
count-17365
total-17365
count-17366
total-17366
count-17367
total-17367
count-17368
total-17368
count-17369
total-17369
count-17370
total-17370
count-17371
total-17371
count-17372
total-17372
count-17373
total-17373
count-17374
total-17374
count-17375
total-17375
count-17376
total-17376
row 2double_ele[2, 4]
column7 double_ele[2, 4]
column8 double_ele[2, 4]
count-17377
total-17377
count-17378
total-17378
count-17379
total-17379
count-17380
total-17380
row 8double_ele[1, 4]
count-17381
total-17381
count-17382
total-17382
count-17383
total-17383
count-17384
total-17384
count-17385
total-17385
count-17386
total-17386
count-17387
total-17387
count-17388
total-17388
count-17389
total-17389
count-17390
total-17390
count-17391
total-17391
count-17392
total-17392
count-17393
total-17393
count-17394
total-17394
count-17395
total-17395
row 1double_ele[1, 2]
row 6double_ele[1, 2]
count-17396
total-17396
count-17397
total-17397
count-17398
total-17398
row 2double_ele[2, 6]
count-17399
total-17399
count-17400
total-17400
count-17401
total-17401
count-17402
total-17402
count-17403
total-17403
count-17404
total-17404
count-17405
total-17405
count-17406
total-17406
count-17407
total-17407
count-17408
total-17408
count-17409
total-17409
count-17410
total-17410
count-17411
total-17411
count-17412
total-17412
count-17413
total-17413
count-17414
total-17414
count-17415
total-17415
count-17416
total-17416
row 2double_ele[3, 4]
row 6double_ele[1, 4]
count-17417
total-17417
count-17418
total-17418
count-17419
total-17419
count-17420
total-17420
count-17421
total-17421
count-17422
total-17422
count-17423
total-17423
count-17424
total-17424
count-17425
total-17425
count-17426
total-17426
count-17427
total-17427
count-17428
total-17428
count-17429
total-17429
count-17430
total-17430
count-17431
total-17431
count-17432
total-17432
count-17433
total-17433
count-17434
total-17434
count-17435
total-17435
count-17436
total-17436
count-17437
total-17437
count-17438
total-17438
count-17439
total-17439
count-17440
total-17440
row 9double_ele[3, 5]
count-17441
total-17441
count-17442
total-17442
count-17443
total-17443
count-17444
total-17444
count-17445
total-17445
count-17446
total-17446
count-17447
total-17447
count-17448
total-17448
count-17449
total-17449
count-17450
total-17450
count-17451
total-17451
count-17452
total-17452
count-17453
total-17453
count-17454
total-17454
count-17455
total-17455
count-17456
total-17456
count-17457
total-17457
count-17458
total-17458
count-17459
total-17459
count-17460
total-17460
count-17461
total-17461
count-17462
total-17462
count-17463
total-17463
count-17464
total-17464
count-17465
total-17465
count-17466
total-17466
count-17467
total-17467
count-17468
total-17468
count-17469
total-17469
count-17470
total-17470
row 1double_ele[4, 6]
count-17471
total-17471
count-17472
total-17472
count-17473
total-17473
count-17474
total-17474
count-17475
total-17475
count-17476
total-17476
count-17477
total-17477
count-17478
total-17478
count-17479
total-17479
count-17480
total-17480
count-17481
total-17481
count-17482
total-17482
count-17483
total-17483
count-17484
total-17484
count-17485
total-17485
count-17486
total-17486
count-17487
total-17487
count-17488
total-17488
count-17489
total-17489
count-17490
total-17490
count-17491
total-17491
count-17492
total-17492
count-17493
total-17493
count-17494
total-17494
count-17495
total-17495
count-17496
total-17496
column3 double_ele[1, 7]
column9 double_ele[2, 7]
count-17497
total-17497
count-17498
total-17498
count-17499
total-17499
count-17500
total-17500
count-17501
total-17501
count-17502
total-17502
count-17503
total-17503
count-17504
total-17504
count-17505
total-17505
count-17506
total-17506
column1 double_ele[3, 4]
count-17507
total-17507
count-17508
total-17508
count-17509
total-17509
column8 double_ele[2, 6]
count-17510
total-17510
count-17511
total-17511
count-17512
total-17512
count-17513
total-17513
count-17514
total-17514
count-17515
total-17515
count-17516
total-17516
count-17517
total-17517
column8 double_ele[4, 8]
count-17518
total-17518
count-17519
total-17519
count-17520
total-17520
count-17521
total-17521
count-17522
total-17522
count-17523
total-17523
count-17524
total-17524
count-17525
total-17525
count-17526
total-17526
count-17527
total-17527
count-17528
total-17528
count-17529
total-17529
count-17530
total-17530
count-17531
total-17531
count-17532
total-17532
count-17533
total-17533
count-17534
total-17534
count-17535
total-17535
count-17536
total-17536
count-17537
total-17537
count-17538
total-17538
count-17539
total-17539
count-17540
total-17540
count-17541
total-17541
count-17542
total-17542
count-17543
total-17543
row 3double_ele[3, 4]
count-17544
total-17544
row 4double_ele[2, 5]
count-17545
total-17545
count-17546
total-17546
count-17547
total-17547
count-17548
total-17548
count-17549
total-17549
row 9double_ele[5, 8]
count-17550
total-17550
count-17551
total-17551
count-17552
total-17552
count-17553
total-17553
count-17554
total-17554
count-17555
total-17555
count-17556
total-17556
count-17557
total-17557
count-17558
total-17558
count-17559
total-17559
count-17560
total-17560
count-17561
total-17561
count-17562
total-17562
count-17563
total-17563
count-17564
total-17564
count-17565
total-17565
column6 double_ele[1, 4]
count-17566
total-17566
count-17567
total-17567
count-17568
total-17568
column1 double_ele[2, 4]
count-17569
total-17569
count-17570
total-17570
count-17571
total-17571
count-17572
total-17572
count-17573
total-17573
count-17574
total-17574
count-17575
total-17575
count-17576
total-17576
count-17577
total-17577
count-17578
total-17578
count-17579
total-17579
count-17580
total-17580
count-17581
total-17581
count-17582
total-17582
row 8double_ele[4, 8]
count-17583
total-17583
count-17584
total-17584
count-17585
total-17585
count-17586
total-17586
count-17587
total-17587
count-17588
total-17588
count-17589
total-17589
count-17590
total-17590

count-17591
total-17591
column4 double_ele[5, 8]
row 7double_ele[5, 8]
count-17592
total-17592
count-17593
total-17593
count-17594
total-17594
column2 double_ele[6, 7]
count-17595
total-17595
count-17596
total-17596
count-17597
total-17597
count-17598
total-17598
count-17599
total-17599
count-17600
total-17600
count-17601
total-17601
count-17602
total-17602
count-17603
total-17603
count-17604
total-17604
count-17605
total-17605
column8 double_ele[3, 7]
count-17606
total-17606
column9 double_ele[2, 6]
count-17607
total-17607
count-17608
total-17608
row 3double_ele[2, 5]
column3 double_ele[2, 5]
count-17609
total-17609
count-17610
total-17610
count-17611
total-17611
count-17612
total-17612
row 8double_ele[3, 4]
count-17613
total-17613
count-17614
total-17614
count-17615
total-17615
count-17616
total-17616
count-17617
total-17617
row 1double_ele[3, 7]
row 9double_ele[5, 7]
count-17618
total-17618
count-17619
total-17619
count-17620
total-17620
count-17621
total-17621
count-17622
total-17622
count-17623
total-17623
count-17624
total-17624
count-17625
total-17625
count-17626
total-17626
count-17627
total-17627
row 6double_ele[2, 4]
count-17628
total-17628
column7 double_ele[5, 7]
count-17629
total-17629
column3 double_ele[1, 4]
column4 double_ele[1, 6]
count-17630
total-17630
count-17631
total-17631
count-17632
total-17632
column8 double_ele[3, 7]
row 9double_ele[3, 4]
count-17633
total-17633
count-17634
total-17634
count-17635
total-17635
row 2double_ele[2, 4]
count-17636
total-17636
count-17637
total-17637
count-17638
total-17638
count-17639
total-17639
count-17640
total-17640
count-17641
total-17641
count-17642
total-17642
count-17643
total-17643
count-17644
total-17644
count-17645
total-17645
count-17646
total-17646
count-17647
total-17647
count-17648
total-17648
count-17649
total-17649
count-17650
total-17650
count-17651
total-17651
count-17652
total-17652
count-17653
total-17653
column3 double_ele[1, 7]
count-17654
total-17654
count-17655
total-17655
count-17656
total-17656
column8 double_ele[3, 7]
count-17657
total-17657
count-17658
total-17658
count-17659
total-17659
count-17660
total-17660
column6 double_ele[3, 6]
count-17661
total-17661
row 7double_ele[2, 6]
count-17662
total-17662
count-17663
total-17663
count-17664
total-17664
count-17665
total-17665
count-17666
total-17666
count-17667
total-17667
row 1double_ele[1, 2]
row 8double_ele[1, 3]
count-17668
total-17668
count-17669
total-17669
count-17670
total-17670
count-17671
total-17671
count-17672
total-17672
count-17673
total-17673
count-17674
total-17674
column7 double_ele[1, 4]
row 8double_ele[1, 4]
count-17675
total-17675
count-17676
total-17676
column1 double_ele[1, 5]
count-17677
total-17677
count-17678
total-17678
count-17679
total-17679
row 4double_ele[5, 9]
count-17680
total-17680
count-17681
total-17681
row 8double_ele[1, 2]
count-17682
total-17682
count-17683
total-17683
count-17684
total-17684
count-17685
total-17685
count-17686
total-17686
count-17687
total-17687
count-17688
total-17688
column7 double_ele[1, 3]
count-17689
total-17689
count-17690
total-17690
count-17691
total-17691
column1 double_ele[5, 7]
row 5double_ele[1, 7]
row 8double_ele[5, 7]
count-17692
total-17692
count-17693
total-17693
count-17694
total-17694
column4 double_ele[3, 8]
row 5double_ele[3, 8]
column9 double_ele[3, 8]
count-17695
total-17695
count-17696
total-17696
count-17697
total-17697
count-17698
total-17698
count-17699
total-17699
count-17700
total-17700
count-17701
total-17701
count-17702
total-17702
count-17703
total-17703
column1 double_ele[4, 7]
count-17704
total-17704
count-17705
total-17705
column3 double_ele[1, 6]
column4 double_ele[1, 6]
row 6double_ele[1, 6]
count-17706
total-17706
count-17707
total-17707
count-17708
total-17708
count-17709
total-17709
count-17710
total-17710
count-17711
total-17711
count-17712
total-17712
count-17713
total-17713
count-17714
total-17714
count-17715
total-17715
count-17716
total-17716
count-17717
total-17717
count-17718
total-17718
count-17719
total-17719
count-17720
total-17720
count-17721
total-17721
count-17722
total-17722
count-17723
total-17723
count-17724
total-17724
count-17725
total-17725
count-17726
total-17726
count-17727
total-17727
count-17728
total-17728
count-17729
total-17729
count-17730
total-17730
count-17731
total-17731
count-17732
total-17732
count-17733
total-17733
count-17734
total-17734
count-17735
total-17735
count-17736
total-17736
count-17737
total-17737
count-17738
total-17738
count-17739
total-17739
count-17740
total-17740
count-17741
total-17741
count-17742
total-17742
count-17743
total-17743
count-17744
total-17744
count-17745
total-17745
count-17746
total-17746
count-17747
total-17747
count-17748
total-17748
column2 double_ele[3, 6]
column5 double_ele[5, 6]
column7 double_ele[2, 6]
count-17749
total-17749
count-17750
total-17750
count-17751
total-17751
count-17752
total-17752
count-17753
total-17753
count-17754
total-17754
count-17755
total-17755
column2 double_ele[1, 3]
column5 double_ele[1, 5]
count-17756
total-17756
count-17757
total-17757
count-17758
total-17758
count-17759
total-17759
count-17760
total-17760
count-17761
total-17761
count-17762
total-17762
count-17763
total-17763
count-17764
total-17764
count-17765
total-17765
column3 double_ele[1, 6]
column4 double_ele[6, 7]
count-17766
total-17766
count-17767
total-17767
count-17768
total-17768
row 3double_ele[2, 6]
count-17769
total-17769
count-17770
total-17770
count-17771
total-17771
count-17772
total-17772
count-17773
total-17773
count-17774
total-17774
count-17775
total-17775
count-17776
total-17776
count-17777
total-17777
count-17778
total-17778
count-17779
total-17779
count-17780
total-17780
count-17781
total-17781
count-17782
total-17782
row 8double_ele[1, 2]
count-17783
total-17783
count-17784
total-17784
column2 double_ele[1, 4]
count-17785
total-17785
count-17786
total-17786
count-17787
total-17787
count-17788
total-17788
count-17789
total-17789
count-17790
total-17790
count-17791
total-17791
count-17792
total-17792
count-17793
total-17793
count-17794
total-17794
column6 double_ele[2, 5]
column9 double_ele[3, 4]
count-17795
total-17795
count-17796
total-17796
row 3double_ele[1, 8]
count-17797
total-17797
count-17798
total-17798
count-17799
total-17799
count-17800
total-17800
count-17801
total-17801
count-17802
total-17802
count-17803
total-17803
count-17804
total-17804
count-17805
total-17805
count-17806
total-17806
count-17807
total-17807
count-17808
total-17808
count-17809
total-17809
count-17810
total-17810
column6 double_ele[2, 6]
count-17811
total-17811
count-17812
total-17812
count-17813
total-17813
column6 double_ele[3, 5]
count-17814
total-17814
count-17815
total-17815
count-17816
total-17816
count-17817
total-17817
count-17818
total-17818
count-17819
total-17819
count-17820
total-17820
count-17821
total-17821
count-17822
total-17822
count-17823
total-17823
count-17824
total-17824
count-17825
total-17825
count-17826
total-17826
count-17827
total-17827
count-17828
total-17828
row 7double_ele[1, 6]
count-17829
total-17829
column4 double_ele[1, 5]
count-17830
total-17830
count-17831
total-17831
count-17832
total-17832
count-17833
total-17833
count-17834
total-17834
count-17835
total-17835
row 3double_ele[4, 6]
row 9double_ele[1, 4]
count-17836
total-17836
count-17837
total-17837
row 5double_ele[6, 9]
row 9double_ele[8, 9]
count-17838
total-17838
column1 double_ele[2, 8]
column9 double_ele[4, 8]
count-17839
total-17839
column4 double_ele[2, 5]
row 7double_ele[2, 5]
column9 double_ele[3, 4]
count-17840
total-17840
count-17841
total-17841
count-17842
total-17842
count-17843
total-17843
count-17844
total-17844
column9 double_ele[1, 2]
count-17845
total-17845
column1 double_ele[1, 6]
row 3double_ele[1, 6]
column3 double_ele[3, 6]
count-17846
total-17846
count-17847
total-17847
count-17848
total-17848
count-17849
total-17849
count-17850
total-17850
count-17851
total-17851
count-17852
total-17852
count-17853
total-17853
count-17854
total-17854
count-17855
total-17855
count-17856
total-17856
count-17857
total-17857
count-17858
total-17858
count-17859
total-17859
count-17860
total-17860
count-17861
total-17861
count-17862
total-17862
count-17863
total-17863
count-17864
total-17864
count-17865
total-17865
count-17866
total-17866
count-17867
total-17867
count-17868
total-17868
count-17869
total-17869
count-17870
total-17870
count-17871
total-17871
count-17872
total-17872
count-17873
total-17873
count-17874
total-17874
count-17875
total-17875
count-17876
total-17876
row 2double_ele[1, 3]
column6 double_ele[1, 4]
row 7double_ele[1, 4]
count-17877
total-17877
count-17878
total-17878
count-17879
total-17879

count-17880
total-17880
count-17881
total-17881
count-17882
total-17882
count-17883
total-17883
count-17884
total-17884
count-17885
total-17885
count-17886
total-17886
count-17887
total-17887
count-17888
total-17888
count-17889
total-17889
count-17890
total-17890
row 9double_ele[4, 7]
count-17891
total-17891
count-17892
total-17892
count-17893
total-17893
count-17894
total-17894
count-17895
total-17895
count-17896
total-17896
count-17897
total-17897
count-17898
total-17898
count-17899
total-17899
count-17900
total-17900
count-17901
total-17901
count-17902
total-17902
count-17903
total-17903
count-17904
total-17904
count-17905
total-17905
count-17906
total-17906
count-17907
total-17907
count-17908
total-17908
count-17909
total-17909
count-17910
total-17910
count-17911
total-17911
count-17912
total-17912
count-17913
total-17913
count-17914
total-17914
count-17915
total-17915
count-17916
total-17916
count-17917
total-17917
count-17918
total-17918
row 9double_ele[2, 5]
count-17919
total-17919
count-17920
total-17920
count-17921
total-17921
count-17922
total-17922
count-17923
total-17923
count-17924
total-17924
count-17925
total-17925
count-17926
total-17926
count-17927
total-17927
count-17928
total-17928
count-17929
total-17929
count-17930
total-17930
count-17931
total-17931
count-17932
total-17932
count-17933
total-17933
count-17934
total-17934
count-17935
total-17935
count-17936
total-17936
count-17937
total-17937
count-17938
total-17938
count-17939
total-17939
count-17940
total-17940
count-17941
total-17941
count-17942
total-17942
count-17943
total-17943
row 3double_ele[3, 7]
count-17944
total-17944
count-17945
total-17945
count-17946
total-17946
count-17947
total-17947
count-17948
total-17948
count-17949
total-17949
count-17950
total-17950
count-17951
total-17951
count-17952
total-17952
count-17953
total-17953
count-17954
total-17954
count-17955
total-17955
count-17956
total-17956
count-17957
total-17957
count-17958
total-17958
count-17959
total-17959
count-17960
total-17960
count-17961
total-17961
count-17962
total-17962
count-17963
total-17963
count-17964
total-17964
count-17965
total-17965
count-17966
total-17966
count-17967
total-17967
count-17968
total-17968
count-17969
total-17969
count-17970
total-17970
count-17971
total-17971
count-17972
total-17972
count-17973
total-17973
count-17974
total-17974
count-17975
total-17975
count-17976
total-17976
count-17977
total-17977
count-17978
total-17978
count-17979
total-17979
row 7double_ele[2, 3]
row 8double_ele[2, 7]
column8 double_ele[4, 5]
column9 double_ele[2, 7]
count-17980
total-17980
count-17981
total-17981
count-17982
total-17982
count-17983
total-17983
count-17984
total-17984
column5 double_ele[2, 5]
count-17985
total-17985
count-17986
total-17986
count-17987
total-17987
count-17988
total-17988
count-17989
total-17989
row 5double_ele[1, 2]
column9 double_ele[1, 2]
count-17990
total-17990
count-17991
total-17991
count-17992
total-17992
count-17993
total-17993
count-17994
total-17994
column7 double_ele[1, 3]
count-17995
total-17995
count-17996
total-17996
count-17997
total-17997
count-17998
total-17998
count-17999
total-17999
column9 double_ele[1, 2]
count-18000
total-18000
count-18001
total-18001
count-18002
total-18002
count-18003
total-18003
count-18004
total-18004
count-18005
total-18005
count-18006
total-18006
count-18007
total-18007
count-18008
total-18008
count-18009
total-18009
row 4double_ele[1, 2]
column8 double_ele[1, 2]
row 6triple_ele[1, 2, 5]
count-18010
total-18010
count-18011
total-18011
count-18012
total-18012
count-18013
total-18013
count-18014
total-18014
count-18015
total-18015
row 4double_ele[2, 4]
row 7double_ele[1, 4]
count-18016
total-18016
count-18017
total-18017
count-18018
total-18018
count-18019
total-18019
count-18020
total-18020
count-18021
total-18021
count-18022
total-18022
count-18023
total-18023
column2 double_ele[3, 4]
count-18024
total-18024
count-18025
total-18025
count-18026
total-18026
count-18027
total-18027
count-18028
total-18028
count-18029
total-18029
count-18030
total-18030
count-18031
total-18031
count-18032
total-18032
count-18033
total-18033
count-18034
total-18034
count-18035
total-18035
count-18036
total-18036
count-18037
total-18037
count-18038
total-18038
count-18039
total-18039
count-18040
total-18040
count-18041
total-18041
count-18042
total-18042
count-18043
total-18043
count-18044
total-18044
count-18045
total-18045
count-18046
total-18046
count-18047
total-18047
column5 double_ele[1, 3]
count-18048
total-18048
count-18049
total-18049
count-18050
total-18050
count-18051
total-18051
count-18052
total-18052
count-18053
total-18053
count-18054
total-18054
count-18055
total-18055
count-18056
total-18056
count-18057
total-18057
count-18058
total-18058
count-18059
total-18059
count-18060
total-18060
count-18061
total-18061
count-18062
total-18062
row 6double_ele[1, 2]
count-18063
total-18063
count-18064
total-18064
count-18065
total-18065
count-18066
total-18066
count-18067
total-18067
count-18068
total-18068
count-18069
total-18069
box3 triple_ele[2, 3, 4]
count-18070
total-18070
count-18071
total-18071
row 3double_ele[1, 5]
count-18072
total-18072
count-18073
total-18073
count-18074
total-18074
count-18075
total-18075
count-18076
total-18076
count-18077
total-18077
column2 double_ele[1, 4]
count-18078
total-18078
count-18079
total-18079
count-18080
total-18080
count-18081
total-18081
count-18082
total-18082
count-18083
total-18083
count-18084
total-18084
count-18085
total-18085
column7 double_ele[2, 5]
count-18086
total-18086
row 3double_ele[4, 6]
column8 double_ele[4, 6]
count-18087
total-18087
count-18088
total-18088
count-18089
total-18089
count-18090
total-18090
row 8triple_ele[2, 4, 6]
count-18091
total-18091
count-18092
total-18092
count-18093
total-18093
count-18094
total-18094
count-18095
total-18095
count-18096
total-18096
count-18097
total-18097
count-18098
total-18098
count-18099
total-18099
count-18100
total-18100
count-18101
total-18101
count-18102
total-18102
count-18103
total-18103
count-18104
total-18104
count-18105
total-18105
count-18106
total-18106
count-18107
total-18107
count-18108
total-18108
count-18109
total-18109
count-18110
total-18110
count-18111
total-18111
column9 double_ele[3, 5]
count-18112
total-18112
count-18113
total-18113
count-18114
total-18114
count-18115
total-18115
count-18116
total-18116
count-18117
total-18117
count-18118
total-18118
count-18119
total-18119
count-18120
total-18120
count-18121
total-18121
count-18122
total-18122
column9 double_ele[3, 5]
count-18123
total-18123
count-18124
total-18124
row 3double_ele[2, 4]
count-18125
total-18125
count-18126
total-18126
count-18127
total-18127
count-18128
total-18128
count-18129
total-18129
count-18130
total-18130
count-18131
total-18131
count-18132
total-18132
count-18133
total-18133
count-18134
total-18134
count-18135
total-18135
count-18136
total-18136
count-18137
total-18137
count-18138
total-18138
count-18139
total-18139
count-18140
total-18140
count-18141
total-18141
count-18142
total-18142
count-18143
total-18143
count-18144
total-18144
count-18145
total-18145
count-18146
total-18146
count-18147
total-18147
count-18148
total-18148
count-18149
total-18149
count-18150
total-18150
count-18151
total-18151
count-18152
total-18152
count-18153
total-18153
row 8double_ele[1, 2]
count-18154
total-18154
count-18155
total-18155
row 9double_ele[4, 6]
count-18156
total-18156
count-18157
total-18157
count-18158
total-18158
count-18159
total-18159
count-18160
total-18160
count-18161
total-18161
count-18162
total-18162
count-18163
total-18163
count-18164
total-18164
count-18165
total-18165
count-18166
total-18166
count-18167
total-18167
count-18168
total-18168
count-18169
total-18169
count-18170
total-18170
count-18171
total-18171
count-18172
total-18172
count-18173
total-18173
count-18174
total-18174
count-18175
total-18175
count-18176
total-18176
count-18177
total-18177
count-18178
total-18178
count-18179
total-18179
count-18180
total-18180
column1 double_ele[1, 2]
count-18181
total-18181
row 6double_ele[1, 4]
column7 double_ele[3, 4]
row 8double_ele[3, 4]
row 9double_ele[3, 4]
count-18182
total-18182
count-18183
total-18183
count-18184
total-18184
count-18185
total-18185
count-18186
total-18186
count-18187
total-18187
row 4double_ele[4, 6]
count-18188
total-18188
row 2double_ele[1, 6]
count-18189
total-18189
column1 double_ele[5, 6]
count-18190
total-18190
count-18191
total-18191
count-18192
total-18192
count-18193
total-18193
count-18194
total-18194
count-18195
total-18195
count-18196
total-18196
column3 double_ele[2, 4]
row 9double_ele[1, 6]
count-18197
total-18197
count-18198
total-18198
count-18199
total-18199
count-18200
total-18200
count-18201
total-18201
count-18202
total-18202

count-18203
total-18203
count-18204
total-18204
count-18205
total-18205
count-18206
total-18206
count-18207
total-18207
count-18208
total-18208
count-18209
total-18209
count-18210
total-18210
column7 double_ele[1, 7]
count-18211
total-18211
count-18212
total-18212
count-18213
total-18213
count-18214
total-18214
count-18215
total-18215
count-18216
total-18216
count-18217
total-18217
count-18218
total-18218
count-18219
total-18219
count-18220
total-18220
count-18221
total-18221
count-18222
total-18222
count-18223
total-18223
count-18224
total-18224
count-18225
total-18225
count-18226
total-18226
count-18227
total-18227
count-18228
total-18228
count-18229
total-18229
count-18230
total-18230
count-18231
total-18231
count-18232
total-18232
row 5double_ele[3, 7]
column8 double_ele[3, 7]
count-18233
total-18233
count-18234
total-18234
count-18235
total-18235
column9 double_ele[5, 6]
count-18236
total-18236
count-18237
total-18237
count-18238
total-18238
count-18239
total-18239
row 4triple_ele[1, 2, 5]
box6 triple_ele[1, 2, 5]
count-18240
total-18240
count-18241
total-18241
count-18242
total-18242
count-18243
total-18243
count-18244
total-18244
count-18245
total-18245
count-18246
total-18246
count-18247
total-18247
count-18248
total-18248
count-18249
total-18249
count-18250
total-18250
count-18251
total-18251
count-18252
total-18252
count-18253
total-18253
count-18254
total-18254
column5 double_ele[1, 7]
row 7double_ele[1, 7]
count-18255
total-18255
count-18256
total-18256
count-18257
total-18257
count-18258
total-18258
count-18259
total-18259
count-18260
total-18260
count-18261
total-18261
count-18262
total-18262
column3 double_ele[1, 8]
count-18263
total-18263
count-18264
total-18264
count-18265
total-18265
count-18266
total-18266
row 1double_ele[3, 5]
count-18267
total-18267
count-18268
total-18268
count-18269
total-18269
row 7double_ele[2, 3]
count-18270
total-18270
count-18271
total-18271
count-18272
total-18272
count-18273
total-18273
count-18274
total-18274
count-18275
total-18275
column5 double_ele[1, 3]
column9 double_ele[2, 7]
row 3triple_ele[1, 2, 3]
count-18276
total-18276
count-18277
total-18277
count-18278
total-18278
count-18279
total-18279
count-18280
total-18280
count-18281
total-18281
count-18282
total-18282
count-18283
total-18283
row 9double_ele[1, 8]
column9 double_ele[1, 8]
count-18284
total-18284
count-18285
total-18285
count-18286
total-18286
count-18287
total-18287
count-18288
total-18288
count-18289
total-18289
count-18290
total-18290
count-18291
total-18291
count-18292
total-18292
count-18293
total-18293
count-18294
total-18294
count-18295
total-18295
row 2double_ele[3, 7]
row 6double_ele[1, 3]
count-18296
total-18296
count-18297
total-18297
count-18298
total-18298
count-18299
total-18299
count-18300
total-18300
count-18301
total-18301
count-18302
total-18302
count-18303
total-18303
row 1double_ele[3, 4]
row 6double_ele[2, 3]
count-18304
total-18304
count-18305
total-18305
count-18306
total-18306
row 8double_ele[1, 3]
count-18307
total-18307
count-18308
total-18308
count-18309
total-18309
count-18310
total-18310
count-18311
total-18311
count-18312
total-18312
count-18313
total-18313
count-18314
total-18314
count-18315
total-18315
count-18316
total-18316
count-18317
total-18317
count-18318
total-18318
count-18319
total-18319
count-18320
total-18320
count-18321
total-18321
count-18322
total-18322
count-18323
total-18323
column5 double_ele[3, 4]
row 6double_ele[1, 4]
row 9double_ele[3, 4]
count-18324
total-18324
count-18325
total-18325
count-18326
total-18326
count-18327
total-18327
count-18328
total-18328
count-18329
total-18329
count-18330
total-18330
count-18331
total-18331
count-18332
total-18332
count-18333
total-18333
count-18334
total-18334
count-18335
total-18335
count-18336
total-18336
count-18337
total-18337
count-18338
total-18338
column3 double_ele[4, 7]
column6 double_ele[1, 6]
count-18339
total-18339
count-18340
total-18340
count-18341
total-18341
count-18342
total-18342
count-18343
total-18343
count-18344
total-18344
count-18345
total-18345
count-18346
total-18346
count-18347
total-18347
count-18348
total-18348
count-18349
total-18349
count-18350
total-18350
count-18351
total-18351
count-18352
total-18352
count-18353
total-18353
count-18354
total-18354
count-18355
total-18355
count-18356
total-18356
count-18357
total-18357
count-18358
total-18358
count-18359
total-18359
count-18360
total-18360
row 8double_ele[2, 6]
count-18361
total-18361
count-18362
total-18362
count-18363
total-18363
column5 double_ele[2, 3]
count-18364
total-18364
count-18365
total-18365
column3 double_ele[3, 6]
count-18366
total-18366
count-18367
total-18367
count-18368
total-18368
count-18369
total-18369
count-18370
total-18370
count-18371
total-18371
count-18372
total-18372
count-18373
total-18373
count-18374
total-18374
count-18375
total-18375
count-18376
total-18376
count-18377
total-18377
count-18378
total-18378
count-18379
total-18379
count-18380
total-18380
row 1double_ele[1, 4]
count-18381
total-18381
count-18382
total-18382
count-18383
total-18383
count-18384
total-18384
count-18385
total-18385
count-18386
total-18386
count-18387
total-18387
count-18388
total-18388
count-18389
total-18389
row 6double_ele[2, 6]
count-18390
total-18390
count-18391
total-18391
count-18392
total-18392
count-18393
total-18393
count-18394
total-18394
count-18395
total-18395
count-18396
total-18396
column1 double_ele[3, 4]
row 5double_ele[3, 4]
row 6double_ele[3, 4]
column7 double_ele[3, 4]
count-18397
total-18397
count-18398
total-18398
count-18399
total-18399
count-18400
total-18400
count-18401
total-18401
count-18402
total-18402
count-18403
total-18403
count-18404
total-18404
count-18405
total-18405
column1 double_ele[8, 9]
count-18406
total-18406
count-18407
total-18407
count-18408
total-18408
count-18409
total-18409
column3 double_ele[1, 4]
count-18410
total-18410
count-18411
total-18411
count-18412
total-18412
count-18413
total-18413
count-18414
total-18414
count-18415
total-18415
count-18416
total-18416
count-18417
total-18417
count-18418
total-18418
count-18419
total-18419
count-18420
total-18420
count-18421
total-18421
count-18422
total-18422
count-18423
total-18423
count-18424
total-18424
count-18425
total-18425
count-18426
total-18426
column5 double_ele[1, 3]
count-18427
total-18427
count-18428
total-18428
count-18429
total-18429
count-18430
total-18430
count-18431
total-18431
row 2double_ele[1, 4]
row 4double_ele[2, 4]
column4 double_ele[3, 5]
row 8double_ele[1, 2]
box3 triple_ele[1, 4, 5]
count-18432
total-18432
count-18433
total-18433
count-18434
total-18434
count-18435
total-18435
column8 double_ele[2, 3]
count-18436
total-18436
count-18437
total-18437
column5 double_ele[4, 6]
count-18438
total-18438
column3 double_ele[4, 5]
row 5double_ele[4, 5]
row 1triple_ele[1, 4, 5]
box3 triple_ele[1, 4, 5]
count-18439
total-18439
count-18440
total-18440
count-18441
total-18441
count-18442
total-18442
count-18443
total-18443
count-18444
total-18444
count-18445
total-18445
count-18446
total-18446
count-18447
total-18447
count-18448
total-18448
count-18449
total-18449
count-18450
total-18450
count-18451
total-18451
column6 double_ele[1, 4]
count-18452
total-18452
count-18453
total-18453
count-18454
total-18454
count-18455
total-18455
count-18456
total-18456
row 2double_ele[1, 3]
count-18457
total-18457
column7 double_ele[3, 7]
count-18458
total-18458
count-18459
total-18459
count-18460
total-18460
count-18461
total-18461
count-18462
total-18462
count-18463
total-18463
count-18464
total-18464
count-18465
total-18465
count-18466
total-18466
count-18467
total-18467
count-18468
total-18468
count-18469
total-18469
count-18470
total-18470
count-18471
total-18471
count-18472
total-18472
count-18473
total-18473
count-18474
total-18474
count-18475
total-18475
count-18476
total-18476
count-18477
total-18477
row 9double_ele[3, 7]
count-18478
total-18478
count-18479
total-18479
count-18480
total-18480
count-18481
total-18481
count-18482
total-18482
column2 double_ele[2, 8]
row 3double_ele[2, 8]
column7 double_ele[2, 8]
count-18483
total-18483
count-18484
total-18484
count-18485
total-18485
count-18486
total-18486
count-18487
total-18487
count-18488
total-18488
count-18489
total-18489
count-18490
total-18490
count-18491
total-18491
column2 double_ele[1, 5]
count-18492
total-18492

count-18493
total-18493
count-18494
total-18494
count-18495
total-18495
count-18496
total-18496
count-18497
total-18497
count-18498
total-18498
count-18499
total-18499
count-18500
total-18500
column8 double_ele[3, 5]
count-18501
total-18501
count-18502
total-18502
count-18503
total-18503
count-18504
total-18504
count-18505
total-18505
count-18506
total-18506
count-18507
total-18507
count-18508
total-18508
count-18509
total-18509
count-18510
total-18510
count-18511
total-18511
count-18512
total-18512
count-18513
total-18513
count-18514
total-18514
count-18515
total-18515
count-18516
total-18516
row 2double_ele[4, 5]
column3 double_ele[4, 5]
count-18517
total-18517
count-18518
total-18518
count-18519
total-18519
count-18520
total-18520
count-18521
total-18521
count-18522
total-18522
count-18523
total-18523
count-18524
total-18524
count-18525
total-18525
column1 double_ele[1, 2]
count-18526
total-18526
count-18527
total-18527
count-18528
total-18528
count-18529
total-18529
count-18530
total-18530
count-18531
total-18531
row 3double_ele[1, 5]
count-18532
total-18532
count-18533
total-18533
count-18534
total-18534
count-18535
total-18535
count-18536
total-18536
count-18537
total-18537
row 8double_ele[7, 9]
row 9triple_ele[5, 6, 7]
count-18538
total-18538
count-18539
total-18539
count-18540
total-18540
count-18541
total-18541
count-18542
total-18542
count-18543
total-18543
count-18544
total-18544
count-18545
total-18545
count-18546
total-18546
column7 double_ele[1, 2]
count-18547
total-18547
count-18548
total-18548
count-18549
total-18549
count-18550
total-18550
count-18551
total-18551
count-18552
total-18552
count-18553
total-18553
count-18554
total-18554
count-18555
total-18555
count-18556
total-18556
count-18557
total-18557
count-18558
total-18558
row 5double_ele[2, 8]
count-18559
total-18559
column5 double_ele[1, 7]
count-18560
total-18560
count-18561
total-18561
count-18562
total-18562
count-18563
total-18563
count-18564
total-18564
count-18565
total-18565
count-18566
total-18566
count-18567
total-18567
count-18568
total-18568
count-18569
total-18569
count-18570
total-18570
count-18571
total-18571
column4 double_ele[2, 8]
row 7double_ele[2, 8]
count-18572
total-18572
count-18573
total-18573
count-18574
total-18574
count-18575
total-18575
count-18576
total-18576
count-18577
total-18577
count-18578
total-18578
count-18579
total-18579
count-18580
total-18580
count-18581
total-18581
count-18582
total-18582
column7 double_ele[2, 3]
row 8double_ele[2, 3]
count-18583
total-18583
count-18584
total-18584
count-18585
total-18585
count-18586
total-18586
count-18587
total-18587
count-18588
total-18588
count-18589
total-18589
count-18590
total-18590
count-18591
total-18591
count-18592
total-18592
count-18593
total-18593
count-18594
total-18594
count-18595
total-18595
count-18596
total-18596
column1 double_ele[1, 5]
column9 double_ele[2, 5]
count-18597
total-18597
row 6double_ele[1, 2]
count-18598
total-18598
column1 double_ele[1, 4]
count-18599
total-18599
row 3double_ele[1, 8]
row 6double_ele[5, 8]
count-18600
total-18600
count-18601
total-18601
count-18602
total-18602
count-18603
total-18603
count-18604
total-18604
count-18605
total-18605
count-18606
total-18606
count-18607
total-18607
count-18608
total-18608
count-18609
total-18609
count-18610
total-18610
count-18611
total-18611
count-18612
total-18612
count-18613
total-18613
count-18614
total-18614
count-18615
total-18615
count-18616
total-18616
count-18617
total-18617
count-18618
total-18618
count-18619
total-18619
count-18620
total-18620
count-18621
total-18621
count-18622
total-18622
count-18623
total-18623
column9 double_ele[5, 8]
count-18624
total-18624
count-18625
total-18625
count-18626
total-18626
count-18627
total-18627
count-18628
total-18628
count-18629
total-18629
count-18630
total-18630
count-18631
total-18631
count-18632
total-18632
count-18633
total-18633
count-18634
total-18634
count-18635
total-18635
count-18636
total-18636
count-18637
total-18637
count-18638
total-18638
count-18639
total-18639
count-18640
total-18640
count-18641
total-18641
count-18642
total-18642
count-18643
total-18643
count-18644
total-18644
count-18645
total-18645
count-18646
total-18646
count-18647
total-18647
count-18648
total-18648
count-18649
total-18649
count-18650
total-18650
count-18651
total-18651
count-18652
total-18652
row 3double_ele[1, 3]
count-18653
total-18653
count-18654
total-18654
count-18655
total-18655
row 3double_ele[1, 2]
column5 double_ele[2, 3]
column7 double_ele[1, 2]
count-18656
total-18656
count-18657
total-18657
count-18658
total-18658
count-18659
total-18659
count-18660
total-18660
count-18661
total-18661
count-18662
total-18662
count-18663
total-18663
count-18664
total-18664
count-18665
total-18665
count-18666
total-18666
count-18667
total-18667
count-18668
total-18668
count-18669
total-18669
count-18670
total-18670
count-18671
total-18671
row 3double_ele[2, 3]
column3 double_ele[2, 3]
count-18672
total-18672
count-18673
total-18673
count-18674
total-18674
count-18675
total-18675
count-18676
total-18676
count-18677
total-18677
count-18678
total-18678
row 5double_ele[3, 5]
count-18679
total-18679
count-18680
total-18680
count-18681
total-18681
count-18682
total-18682
column2 double_ele[4, 8]
count-18683
total-18683
count-18684
total-18684
count-18685
total-18685
count-18686
total-18686
count-18687
total-18687
count-18688
total-18688
count-18689
total-18689
count-18690
total-18690
count-18691
total-18691
count-18692
total-18692
column2 double_ele[2, 3]
row 4double_ele[2, 3]
row 5double_ele[2, 3]
column7 double_ele[2, 3]
count-18693
total-18693
count-18694
total-18694
count-18695
total-18695
count-18696
total-18696
count-18697
total-18697
row 1triple_ele[2, 3, 4]
box3 triple_ele[2, 3, 4]
count-18698
total-18698
count-18699
total-18699
count-18700
total-18700
count-18701
total-18701
count-18702
total-18702
count-18703
total-18703
count-18704
total-18704
count-18705
total-18705
count-18706
total-18706
count-18707
total-18707
count-18708
total-18708
count-18709
total-18709
count-18710
total-18710
count-18711
total-18711
count-18712
total-18712
count-18713
total-18713
count-18714
total-18714
column8 double_ele[4, 6]
count-18715
total-18715
count-18716
total-18716
count-18717
total-18717
count-18718
total-18718
count-18719
total-18719
count-18720
total-18720
count-18721
total-18721
row 7double_ele[1, 2]
count-18722
total-18722
count-18723
total-18723
count-18724
total-18724
count-18725
total-18725
count-18726
total-18726
count-18727
total-18727
count-18728
total-18728
count-18729
total-18729
count-18730
total-18730
count-18731
total-18731
count-18732
total-18732
count-18733
total-18733
count-18734
total-18734
count-18735
total-18735
count-18736
total-18736
count-18737
total-18737
count-18738
total-18738
count-18739
total-18739
count-18740
total-18740
count-18741
total-18741
count-18742
total-18742
count-18743
total-18743
count-18744
total-18744
count-18745
total-18745
count-18746
total-18746
count-18747
total-18747
count-18748
total-18748
column7 double_ele[1, 4]
count-18749
total-18749
count-18750
total-18750
count-18751
total-18751
column5 double_ele[3, 5]
count-18752
total-18752
count-18753
total-18753
count-18754
total-18754
count-18755
total-18755
count-18756
total-18756
count-18757
total-18757
row 1double_ele[2, 8]
column8 double_ele[2, 8]
count-18758
total-18758
count-18759
total-18759
count-18760
total-18760
count-18761
total-18761
count-18762
total-18762
count-18763
total-18763
column7 double_ele[2, 4]
count-18764
total-18764
count-18765
total-18765
count-18766
total-18766
count-18767
total-18767
count-18768
total-18768
count-18769
total-18769
row 7double_ele[3, 5]
count-18770
total-18770
count-18771
total-18771
count-18772
total-18772
count-18773
total-18773
count-18774
total-18774
count-18775
total-18775
count-18776
total-18776
count-18777
total-18777
count-18778
total-18778
column6 double_ele[1, 3]
count-18779
total-18779
column9 double_ele[4, 5]
count-18780
total-18780
count-18781
total-18781
row 2double_ele[1, 9]
count-18782
total-18782
count-18783
total-18783
count-18784
total-18784
count-18785
total-18785
count-18786
total-18786
count-18787
total-18787
count-18788
total-18788
count-18789
total-18789
count-18790
total-18790
column9 double_ele[1, 2]
count-18791
total-18791
count-18792
total-18792
count-18793
total-18793
count-18794
total-18794
count-18795
total-18795
count-18796
total-18796
row 7double_ele[2, 3]
count-18797
total-18797
count-18798
total-18798
count-18799
total-18799
count-18800
total-18800
count-18801
total-18801
count-18802
total-18802
count-18803
total-18803
count-18804
total-18804
count-18805
total-18805

count-18806
total-18806
count-18807
total-18807
count-18808
total-18808
count-18809
total-18809
count-18810
total-18810
count-18811
total-18811
count-18812
total-18812
count-18813
total-18813
count-18814
total-18814
count-18815
total-18815
count-18816
total-18816
count-18817
total-18817
count-18818
total-18818
count-18819
total-18819
count-18820
total-18820
row 8double_ele[1, 4]
count-18821
total-18821
count-18822
total-18822
count-18823
total-18823
column8 double_ele[2, 3]
count-18824
total-18824
count-18825
total-18825
count-18826
total-18826
count-18827
total-18827
count-18828
total-18828
row 9double_ele[1, 3]
count-18829
total-18829
count-18830
total-18830
count-18831
total-18831
count-18832
total-18832
count-18833
total-18833
count-18834
total-18834
count-18835
total-18835
count-18836
total-18836
count-18837
total-18837
count-18838
total-18838
count-18839
total-18839
count-18840
total-18840
count-18841
total-18841
count-18842
total-18842
count-18843
total-18843
count-18844
total-18844
count-18845
total-18845
count-18846
total-18846
row 2double_ele[2, 6]
count-18847
total-18847
count-18848
total-18848
count-18849
total-18849
count-18850
total-18850
count-18851
total-18851
column4 double_ele[3, 6]
count-18852
total-18852
count-18853
total-18853
count-18854
total-18854
count-18855
total-18855
count-18856
total-18856
column3 double_ele[2, 8]
count-18857
total-18857
count-18858
total-18858
count-18859
total-18859
count-18860
total-18860
count-18861
total-18861
count-18862
total-18862
count-18863
total-18863
count-18864
total-18864
count-18865
total-18865
count-18866
total-18866
count-18867
total-18867
count-18868
total-18868
count-18869
total-18869
count-18870
total-18870
count-18871
total-18871
count-18872
total-18872
count-18873
total-18873
count-18874
total-18874
count-18875
total-18875
count-18876
total-18876
count-18877
total-18877
count-18878
total-18878
count-18879
total-18879
column1 double_ele[5, 6]
row 3double_ele[5, 6]
box6 triple_ele[4, 5, 6]
count-18880
total-18880
row 3double_ele[1, 9]
column4 double_ele[1, 9]
count-18881
total-18881
count-18882
total-18882
count-18883
total-18883
count-18884
total-18884
count-18885
total-18885
count-18886
total-18886
count-18887
total-18887
count-18888
total-18888
count-18889
total-18889
column1 double_ele[2, 6]
count-18890
total-18890
count-18891
total-18891
count-18892
total-18892
count-18893
total-18893
column2 double_ele[2, 6]
count-18894
total-18894
count-18895
total-18895
count-18896
total-18896
count-18897
total-18897
count-18898
total-18898
column1 double_ele[2, 4]
count-18899
total-18899
count-18900
total-18900
count-18901
total-18901
row 2double_ele[1, 4]
count-18902
total-18902
count-18903
total-18903
count-18904
total-18904
count-18905
total-18905
count-18906
total-18906
count-18907
total-18907
count-18908
total-18908
count-18909
total-18909
count-18910
total-18910
count-18911
total-18911
count-18912
total-18912
count-18913
total-18913
count-18914
total-18914
count-18915
total-18915
count-18916
total-18916
count-18917
total-18917
count-18918
total-18918
count-18919
total-18919
count-18920
total-18920
count-18921
total-18921
count-18922
total-18922
count-18923
total-18923
count-18924
total-18924
count-18925
total-18925
row 9double_ele[2, 6]
count-18926
total-18926
count-18927
total-18927
count-18928
total-18928
count-18929
total-18929
count-18930
total-18930
count-18931
total-18931
count-18932
total-18932
count-18933
total-18933
count-18934
total-18934
count-18935
total-18935
count-18936
total-18936
count-18937
total-18937
count-18938
total-18938
count-18939
total-18939
column6 double_ele[3, 4]
count-18940
total-18940
count-18941
total-18941
count-18942
total-18942
count-18943
total-18943
count-18944
total-18944
count-18945
total-18945
count-18946
total-18946
count-18947
total-18947
count-18948
total-18948
row 3double_ele[1, 5]
column4 double_ele[1, 5]
count-18949
total-18949
column6 double_ele[5, 6]
count-18950
total-18950
count-18951
total-18951
count-18952
total-18952
count-18953
total-18953
count-18954
total-18954
count-18955
total-18955
count-18956
total-18956
column4 double_ele[2, 5]
column7 double_ele[2, 4]
count-18957
total-18957
column3 double_ele[2, 5]
row 4double_ele[2, 3]
column5 double_ele[2, 3]
row 3triple_ele[2, 3, 5]
count-18958
total-18958
count-18959
total-18959
count-18960
total-18960
count-18961
total-18961
count-18962
total-18962
count-18963
total-18963
count-18964
total-18964
count-18965
total-18965
row 7double_ele[2, 7]
count-18966
total-18966
count-18967
total-18967
count-18968
total-18968
count-18969
total-18969
count-18970
total-18970
column9 double_ele[2, 3]
count-18971
total-18971
count-18972
total-18972
count-18973
total-18973
row 1double_ele[1, 2]
count-18974
total-18974
count-18975
total-18975
count-18976
total-18976
count-18977
total-18977
count-18978
total-18978
row 3double_ele[2, 8]
count-18979
total-18979
count-18980
total-18980
count-18981
total-18981
column7 double_ele[7, 8]
count-18982
total-18982
count-18983
total-18983
count-18984
total-18984
row 2double_ele[2, 7]
row 9double_ele[4, 7]
count-18985
total-18985
count-18986
total-18986
count-18987
total-18987
count-18988
total-18988
count-18989
total-18989
column9 double_ele[2, 5]
count-18990
total-18990
count-18991
total-18991
count-18992
total-18992
count-18993
total-18993
count-18994
total-18994
count-18995
total-18995
count-18996
total-18996
count-18997
total-18997
row 3double_ele[2, 4]
count-18998
total-18998
count-18999
total-18999
count-19000
total-19000
count-19001
total-19001
count-19002
total-19002
count-19003
total-19003
count-19004
total-19004
count-19005
total-19005
count-19006
total-19006
count-19007
total-19007
count-19008
total-19008
count-19009
total-19009
count-19010
total-19010
count-19011
total-19011
column5 double_ele[2, 3]
count-19012
total-19012
row 5double_ele[2, 5]
count-19013
total-19013
count-19014
total-19014
count-19015
total-19015
count-19016
total-19016
count-19017
total-19017
count-19018
total-19018
count-19019
total-19019
count-19020
total-19020
count-19021
total-19021
count-19022
total-19022
row 5double_ele[2, 3]
column5 double_ele[2, 3]
count-19023
total-19023
count-19024
total-19024
count-19025
total-19025
count-19026
total-19026
count-19027
total-19027
count-19028
total-19028
count-19029
total-19029
count-19030
total-19030
count-19031
total-19031
count-19032
total-19032
count-19033
total-19033
column5 double_ele[6, 8]
count-19034
total-19034
count-19035
total-19035
count-19036
total-19036
column3 double_ele[3, 7]
count-19037
total-19037
row 5double_ele[1, 8]
column8 double_ele[1, 8]
count-19038
total-19038
count-19039
total-19039
column1 double_ele[2, 4]
count-19040
total-19040
row 3double_ele[1, 5]
count-19041
total-19041
count-19042
total-19042
count-19043
total-19043
count-19044
total-19044
count-19045
total-19045
row 1double_ele[5, 8]
row 7double_ele[1, 8]
count-19046
total-19046
count-19047
total-19047
count-19048
total-19048
row 1double_ele[2, 6]
count-19049
total-19049
count-19050
total-19050
count-19051
total-19051
count-19052
total-19052
count-19053
total-19053
column8 double_ele[1, 3]
count-19054
total-19054
count-19055
total-19055
count-19056
total-19056
count-19057
total-19057
count-19058
total-19058
count-19059
total-19059
count-19060
total-19060
count-19061
total-19061
count-19062
total-19062
count-19063
total-19063
count-19064
total-19064
row 9double_ele[4, 7]
column9 double_ele[3, 5]
count-19065
total-19065
row 5double_ele[1, 6]
column8 double_ele[3, 6]
count-19066
total-19066
count-19067
total-19067
count-19068
total-19068
column1 double_ele[4, 7]
column4 double_ele[1, 7]
column6 double_ele[2, 7]
count-19069
total-19069
count-19070
total-19070
count-19071
total-19071
count-19072
total-19072
count-19073
total-19073
count-19074
total-19074
count-19075
total-19075
count-19076
total-19076
count-19077
total-19077
count-19078
total-19078
count-19079
total-19079
row 4double_ele[2, 4]
column7 double_ele[2, 4]
count-19080
total-19080
column3 double_ele[2, 4]
count-19081
total-19081
count-19082
total-19082
count-19083
total-19083
count-19084
total-19084
count-19085
total-19085
count-19086
total-19086
count-19087
total-19087
count-19088
total-19088
count-19089
total-19089
count-19090
total-19090
count-19091
total-19091
count-19092
total-19092
count-19093
total-19093

count-19094
total-19094
count-19095
total-19095
count-19096
total-19096
count-19097
total-19097
count-19098
total-19098
count-19099
total-19099
count-19100
total-19100
count-19101
total-19101
count-19102
total-19102
count-19103
total-19103
row 2double_ele[3, 4]
count-19104
total-19104
count-19105
total-19105
count-19106
total-19106
count-19107
total-19107
count-19108
total-19108
count-19109
total-19109
count-19110
total-19110
count-19111
total-19111
count-19112
total-19112
count-19113
total-19113
count-19114
total-19114
column2 double_ele[2, 8]
row 4double_ele[1, 2]
count-19115
total-19115
count-19116
total-19116
count-19117
total-19117
count-19118
total-19118
count-19119
total-19119
count-19120
total-19120
count-19121
total-19121
count-19122
total-19122
row 7double_ele[2, 3]
count-19123
total-19123
count-19124
total-19124
count-19125
total-19125
count-19126
total-19126
count-19127
total-19127
count-19128
total-19128
count-19129
total-19129
count-19130
total-19130
count-19131
total-19131
count-19132
total-19132
count-19133
total-19133
count-19134
total-19134
count-19135
total-19135
count-19136
total-19136
count-19137
total-19137
count-19138
total-19138
count-19139
total-19139
count-19140
total-19140
count-19141
total-19141
count-19142
total-19142
count-19143
total-19143
count-19144
total-19144
count-19145
total-19145
count-19146
total-19146
column5 double_ele[1, 3]
count-19147
total-19147
count-19148
total-19148
count-19149
total-19149
count-19150
total-19150
count-19151
total-19151
count-19152
total-19152
count-19153
total-19153
count-19154
total-19154
count-19155
total-19155
count-19156
total-19156
count-19157
total-19157
count-19158
total-19158
count-19159
total-19159
count-19160
total-19160
count-19161
total-19161
count-19162
total-19162
count-19163
total-19163
count-19164
total-19164
count-19165
total-19165
row 3double_ele[5, 8]
count-19166
total-19166
count-19167
total-19167
count-19168
total-19168
column9 double_ele[1, 6]
count-19169
total-19169
column7 double_ele[1, 3]
count-19170
total-19170
count-19171
total-19171
count-19172
total-19172
count-19173
total-19173
count-19174
total-19174
count-19175
total-19175
count-19176
total-19176
count-19177
total-19177
count-19178
total-19178
count-19179
total-19179
count-19180
total-19180
count-19181
total-19181
row 4double_ele[1, 4]
column6 double_ele[1, 4]
column9 double_ele[3, 4]
count-19182
total-19182
count-19183
total-19183
count-19184
total-19184
count-19185
total-19185
count-19186
total-19186
count-19187
total-19187
count-19188
total-19188
column4 double_ele[1, 4]
count-19189
total-19189
column5 double_ele[1, 7]
count-19190
total-19190
count-19191
total-19191
row 6double_ele[1, 5]
count-19192
total-19192
count-19193
total-19193
count-19194
total-19194
count-19195
total-19195
count-19196
total-19196
count-19197
total-19197
count-19198
total-19198
column1 double_ele[2, 6]
row 9double_ele[2, 6]
count-19199
total-19199
count-19200
total-19200
count-19201
total-19201
count-19202
total-19202
count-19203
total-19203
row 1double_ele[4, 5]
column8 double_ele[1, 5]
count-19204
total-19204
count-19205
total-19205
count-19206
total-19206
count-19207
total-19207
row 8double_ele[2, 9]
count-19208
total-19208
count-19209
total-19209
column7 double_ele[1, 5]
count-19210
total-19210
count-19211
total-19211
count-19212
total-19212
count-19213
total-19213
count-19214
total-19214
count-19215
total-19215
count-19216
total-19216
count-19217
total-19217
count-19218
total-19218
count-19219
total-19219
row 3double_ele[2, 5]
column5 double_ele[1, 5]
row 7double_ele[1, 5]
count-19220
total-19220
count-19221
total-19221
count-19222
total-19222
column1 double_ele[1, 6]
count-19223
total-19223
count-19224
total-19224
count-19225
total-19225
column1 double_ele[2, 4]
count-19226
total-19226
count-19227
total-19227
count-19228
total-19228
count-19229
total-19229
row 1double_ele[2, 8]
count-19230
total-19230
count-19231
total-19231
count-19232
total-19232
count-19233
total-19233
count-19234
total-19234
count-19235
total-19235
count-19236
total-19236
count-19237
total-19237
count-19238
total-19238
count-19239
total-19239
count-19240
total-19240
count-19241
total-19241
row 3double_ele[1, 6]
column4 double_ele[1, 6]
count-19242
total-19242
count-19243
total-19243
count-19244
total-19244
count-19245
total-19245
count-19246
total-19246
count-19247
total-19247
count-19248
total-19248
count-19249
total-19249
count-19250
total-19250
count-19251
total-19251
count-19252
total-19252
row 3double_ele[1, 5]
count-19253
total-19253
count-19254
total-19254
count-19255
total-19255
count-19256
total-19256
count-19257
total-19257
count-19258
total-19258
count-19259
total-19259
count-19260
total-19260
row 2double_ele[1, 4]
count-19261
total-19261
column5 double_ele[5, 6]
count-19262
total-19262
count-19263
total-19263
count-19264
total-19264
count-19265
total-19265
count-19266
total-19266
count-19267
total-19267
count-19268
total-19268
count-19269
total-19269
count-19270
total-19270
count-19271
total-19271
row 8double_ele[2, 5]
count-19272
total-19272
count-19273
total-19273
count-19274
total-19274
count-19275
total-19275
row 1double_ele[3, 6]
count-19276
total-19276
count-19277
total-19277
count-19278
total-19278
count-19279
total-19279
count-19280
total-19280
count-19281
total-19281
column4 double_ele[5, 6]
row 9double_ele[3, 4]
count-19282
total-19282
count-19283
total-19283
count-19284
total-19284
count-19285
total-19285
count-19286
total-19286
count-19287
total-19287
count-19288
total-19288
count-19289
total-19289
count-19290
total-19290
count-19291
total-19291
count-19292
total-19292
count-19293
total-19293
count-19294
total-19294
count-19295
total-19295
count-19296
total-19296
count-19297
total-19297
count-19298
total-19298
count-19299
total-19299
count-19300
total-19300
count-19301
total-19301
count-19302
total-19302
count-19303
total-19303
row 2double_ele[3, 4]
count-19304
total-19304
count-19305
total-19305
count-19306
total-19306
count-19307
total-19307
count-19308
total-19308
count-19309
total-19309
count-19310
total-19310
count-19311
total-19311
count-19312
total-19312
count-19313
total-19313
count-19314
total-19314
count-19315
total-19315
count-19316
total-19316
count-19317
total-19317
count-19318
total-19318
row 1double_ele[7, 9]
count-19319
total-19319
count-19320
total-19320
count-19321
total-19321
row 2double_ele[4, 8]
count-19322
total-19322
count-19323
total-19323
count-19324
total-19324
count-19325
total-19325
count-19326
total-19326
count-19327
total-19327
row 2double_ele[2, 4]
count-19328
total-19328
count-19329
total-19329
count-19330
total-19330
count-19331
total-19331
count-19332
total-19332
count-19333
total-19333
count-19334
total-19334
column5 double_ele[2, 4]
row 8double_ele[2, 4]
count-19335
total-19335
count-19336
total-19336
count-19337
total-19337
count-19338
total-19338
count-19339
total-19339
column8 double_ele[2, 3]
count-19340
total-19340
count-19341
total-19341
count-19342
total-19342
column1 double_ele[2, 5]
count-19343
total-19343
row 1double_ele[2, 8]
column2 double_ele[2, 8]
count-19344
total-19344
count-19345
total-19345
count-19346
total-19346
count-19347
total-19347
count-19348
total-19348
count-19349
total-19349
count-19350
total-19350
count-19351
total-19351
count-19352
total-19352
count-19353
total-19353
count-19354
total-19354
column5 double_ele[1, 3]
count-19355
total-19355
count-19356
total-19356
column1 double_ele[2, 3]
count-19357
total-19357
row 9double_ele[1, 6]
count-19358
total-19358
count-19359
total-19359
count-19360
total-19360
count-19361
total-19361
count-19362
total-19362
count-19363
total-19363
count-19364
total-19364
count-19365
total-19365
count-19366
total-19366
count-19367
total-19367
count-19368
total-19368
count-19369
total-19369
count-19370
total-19370
count-19371
total-19371
count-19372
total-19372
count-19373
total-19373
count-19374
total-19374
count-19375
total-19375
count-19376
total-19376
column4 double_ele[2, 3]
row 6double_ele[1, 8]
count-19377
total-19377
count-19378
total-19378
count-19379
total-19379
count-19380
total-19380
count-19381
total-19381
count-19382
total-19382
count-19383
total-19383
count-19384
total-19384
count-19385
total-19385
count-19386
total-19386
count-19387
total-19387
count-19388
total-19388
count-19389
total-19389
count-19390
total-19390
count-19391
total-19391
count-19392
total-19392
count-19393
total-19393

count-19394
total-19394
count-19395
total-19395
count-19396
total-19396
count-19397
total-19397
count-19398
total-19398
count-19399
total-19399
count-19400
total-19400
row 6double_ele[3, 7]
count-19401
total-19401
count-19402
total-19402
count-19403
total-19403
count-19404
total-19404
count-19405
total-19405
count-19406
total-19406
count-19407
total-19407
count-19408
total-19408
count-19409
total-19409
column1 double_ele[1, 5]
row 3double_ele[2, 3]
column5 double_ele[2, 3]
count-19410
total-19410
count-19411
total-19411
count-19412
total-19412
count-19413
total-19413
count-19414
total-19414
count-19415
total-19415
count-19416
total-19416
count-19417
total-19417
count-19418
total-19418
count-19419
total-19419
count-19420
total-19420
count-19421
total-19421
count-19422
total-19422
column2 double_ele[3, 6]
count-19423
total-19423
count-19424
total-19424
count-19425
total-19425
count-19426
total-19426
row 4double_ele[1, 2]
count-19427
total-19427
count-19428
total-19428
count-19429
total-19429
count-19430
total-19430
row 1double_ele[2, 4]
column1 double_ele[2, 4]
count-19431
total-19431
count-19432
total-19432
count-19433
total-19433
count-19434
total-19434
count-19435
total-19435
count-19436
total-19436
count-19437
total-19437
count-19438
total-19438
count-19439
total-19439
count-19440
total-19440
count-19441
total-19441
count-19442
total-19442
count-19443
total-19443
count-19444
total-19444
count-19445
total-19445
count-19446
total-19446
row 2double_ele[2, 4]
column7 double_ele[2, 4]
column9 double_ele[4, 6]
count-19447
total-19447
count-19448
total-19448
count-19449
total-19449
count-19450
total-19450
count-19451
total-19451
count-19452
total-19452
count-19453
total-19453
count-19454
total-19454
count-19455
total-19455
count-19456
total-19456
count-19457
total-19457
count-19458
total-19458
count-19459
total-19459
count-19460
total-19460
count-19461
total-19461
count-19462
total-19462
count-19463
total-19463
count-19464
total-19464
count-19465
total-19465
count-19466
total-19466
count-19467
total-19467
row 7double_ele[3, 4]
count-19468
total-19468
count-19469
total-19469
count-19470
total-19470
count-19471
total-19471
count-19472
total-19472
row 8double_ele[1, 4]
count-19473
total-19473
count-19474
total-19474
count-19475
total-19475
row 3double_ele[2, 5]
row 6double_ele[3, 5]
column9 double_ele[3, 5]
count-19476
total-19476
count-19477
total-19477
count-19478
total-19478
count-19479
total-19479
count-19480
total-19480
count-19481
total-19481
count-19482
total-19482
count-19483
total-19483
count-19484
total-19484
count-19485
total-19485
count-19486
total-19486
column1 double_ele[2, 7]
count-19487
total-19487
column7 double_ele[2, 3]
count-19488
total-19488
count-19489
total-19489
count-19490
total-19490
count-19491
total-19491
count-19492
total-19492
count-19493
total-19493
count-19494
total-19494
count-19495
total-19495
row 7double_ele[2, 5]
count-19496
total-19496
count-19497
total-19497
count-19498
total-19498
count-19499
total-19499
count-19500
total-19500
count-19501
total-19501
count-19502
total-19502
count-19503
total-19503
count-19504
total-19504
count-19505
total-19505
count-19506
total-19506
count-19507
total-19507
count-19508
total-19508
count-19509
total-19509
count-19510
total-19510
row 2double_ele[2, 6]
count-19511
total-19511
count-19512
total-19512
count-19513
total-19513
count-19514
total-19514
count-19515
total-19515
column3 double_ele[1, 6]
row 8double_ele[2, 7]
count-19516
total-19516
count-19517
total-19517
count-19518
total-19518
count-19519
total-19519
count-19520
total-19520
count-19521
total-19521
count-19522
total-19522
count-19523
total-19523
column9 double_ele[1, 2]
count-19524
total-19524
count-19525
total-19525
count-19526
total-19526
count-19527
total-19527
count-19528
total-19528
count-19529
total-19529
count-19530
total-19530
count-19531
total-19531
count-19532
total-19532
count-19533
total-19533
count-19534
total-19534
count-19535
total-19535
count-19536
total-19536
count-19537
total-19537
count-19538
total-19538
count-19539
total-19539
count-19540
total-19540
count-19541
total-19541
count-19542
total-19542
count-19543
total-19543
count-19544
total-19544
count-19545
total-19545
row 1double_ele[4, 7]
column4 double_ele[4, 7]
row 5double_ele[3, 4]
column5 double_ele[3, 4]
count-19546
total-19546
count-19547
total-19547
count-19548
total-19548
count-19549
total-19549
count-19550
total-19550
count-19551
total-19551
count-19552
total-19552
count-19553
total-19553
count-19554
total-19554
count-19555
total-19555
row 2double_ele[4, 7]
count-19556
total-19556
count-19557
total-19557
count-19558
total-19558
count-19559
total-19559
count-19560
total-19560
count-19561
total-19561
count-19562
total-19562
count-19563
total-19563
count-19564
total-19564
count-19565
total-19565
count-19566
total-19566
count-19567
total-19567
count-19568
total-19568
count-19569
total-19569
count-19570
total-19570
row 8double_ele[3, 4]
count-19571
total-19571
row 4double_ele[2, 5]
row 5double_ele[2, 3]
count-19572
total-19572
count-19573
total-19573
count-19574
total-19574
count-19575
total-19575
count-19576
total-19576
count-19577
total-19577
count-19578
total-19578
count-19579
total-19579
count-19580
total-19580
count-19581
total-19581
row 7double_ele[2, 3]
count-19582
total-19582
count-19583
total-19583
column3 double_ele[1, 4]
column7 double_ele[4, 5]
count-19584
total-19584
count-19585
total-19585
count-19586
total-19586
column6 double_ele[1, 4]
count-19587
total-19587
count-19588
total-19588
count-19589
total-19589
count-19590
total-19590
count-19591
total-19591
count-19592
total-19592
count-19593
total-19593
count-19594
total-19594
row 5double_ele[2, 4]
count-19595
total-19595
count-19596
total-19596
count-19597
total-19597
count-19598
total-19598
count-19599
total-19599
count-19600
total-19600
count-19601
total-19601
count-19602
total-19602
count-19603
total-19603
count-19604
total-19604
count-19605
total-19605
column1 double_ele[1, 6]
count-19606
total-19606
count-19607
total-19607
count-19608
total-19608
count-19609
total-19609
count-19610
total-19610
count-19611
total-19611
count-19612
total-19612
count-19613
total-19613
count-19614
total-19614
count-19615
total-19615
count-19616
total-19616
count-19617
total-19617
count-19618
total-19618
count-19619
total-19619
count-19620
total-19620
count-19621
total-19621
count-19622
total-19622
count-19623
total-19623
count-19624
total-19624
count-19625
total-19625
count-19626
total-19626
row 3double_ele[1, 6]
column3 double_ele[1, 6]
count-19627
total-19627
count-19628
total-19628
count-19629
total-19629
count-19630
total-19630
count-19631
total-19631
count-19632
total-19632
count-19633
total-19633
count-19634
total-19634
count-19635
total-19635
count-19636
total-19636
count-19637
total-19637
count-19638
total-19638
count-19639
total-19639
count-19640
total-19640
count-19641
total-19641
row 3double_ele[2, 5]
count-19642
total-19642
count-19643
total-19643
count-19644
total-19644
count-19645
total-19645
count-19646
total-19646
count-19647
total-19647
count-19648
total-19648
count-19649
total-19649
row 4double_ele[3, 9]
row 7double_ele[1, 2]
count-19650
total-19650
count-19651
total-19651
column3 double_ele[3, 6]
count-19652
total-19652
count-19653
total-19653
count-19654
total-19654
count-19655
total-19655
count-19656
total-19656
count-19657
total-19657
count-19658
total-19658
count-19659
total-19659
count-19660
total-19660
row 8double_ele[2, 3]
column9 double_ele[2, 3]
count-19661
total-19661
count-19662
total-19662
count-19663
total-19663
count-19664
total-19664
count-19665
total-19665
column2 double_ele[1, 5]
count-19666
total-19666
count-19667
total-19667
count-19668
total-19668
count-19669
total-19669
count-19670
total-19670
count-19671
total-19671
count-19672
total-19672
count-19673
total-19673
count-19674
total-19674
count-19675
total-19675
count-19676
total-19676
count-19677
total-19677
count-19678
total-19678
count-19679
total-19679
count-19680
total-19680
count-19681
total-19681
row 2double_ele[3, 6]
count-19682
total-19682
count-19683
total-19683
count-19684
total-19684
count-19685
total-19685
count-19686
total-19686
count-19687
total-19687
count-19688
total-19688
column8 double_ele[4, 5]
count-19689
total-19689
count-19690
total-19690
count-19691
total-19691
count-19692
total-19692
row 9double_ele[2, 4]
count-19693
total-19693
count-19694
total-19694

count-19695
total-19695
count-19696
total-19696
count-19697
total-19697
count-19698
total-19698
count-19699
total-19699
count-19700
total-19700
count-19701
total-19701
column4 double_ele[3, 7]
row 9double_ele[3, 7]
row 7triple_ele[1, 3, 7]
box9 triple_ele[1, 3, 7]
count-19702
total-19702
count-19703
total-19703
count-19704
total-19704
count-19705
total-19705
column1 double_ele[1, 2]
count-19706
total-19706
count-19707
total-19707
count-19708
total-19708
count-19709
total-19709
row 2double_ele[1, 5]
count-19710
total-19710
count-19711
total-19711
column8 double_ele[3, 5]
count-19712
total-19712
count-19713
total-19713
count-19714
total-19714
column6 double_ele[1, 2]
row 8double_ele[1, 2]
count-19715
total-19715
count-19716
total-19716
count-19717
total-19717
count-19718
total-19718
count-19719
total-19719
count-19720
total-19720
count-19721
total-19721
count-19722
total-19722
column1 double_ele[1, 4]
count-19723
total-19723
column9 double_ele[1, 2]
count-19724
total-19724
count-19725
total-19725
row 9double_ele[1, 6]
count-19726
total-19726
count-19727
total-19727
count-19728
total-19728
count-19729
total-19729
count-19730
total-19730
count-19731
total-19731
count-19732
total-19732
count-19733
total-19733
count-19734
total-19734
count-19735
total-19735
count-19736
total-19736
count-19737
total-19737
row 4double_ele[2, 3]
row 8double_ele[2, 4]
count-19738
total-19738
row 6double_ele[2, 3]
count-19739
total-19739
count-19740
total-19740
count-19741
total-19741
count-19742
total-19742
count-19743
total-19743
count-19744
total-19744
count-19745
total-19745
row 3double_ele[2, 3]
column5 double_ele[2, 3]
column6 double_ele[2, 3]
row 9double_ele[2, 3]
count-19746
total-19746
count-19747
total-19747
count-19748
total-19748
count-19749
total-19749
count-19750
total-19750
row 5double_ele[1, 4]
column6 double_ele[1, 4]
count-19751
total-19751
count-19752
total-19752
count-19753
total-19753
count-19754
total-19754
row 3double_ele[1, 3]
column3 double_ele[1, 3]
column6 double_ele[3, 7]
count-19755
total-19755
count-19756
total-19756
count-19757
total-19757
count-19758
total-19758
count-19759
total-19759
count-19760
total-19760
count-19761
total-19761
count-19762
total-19762
row 4double_ele[1, 6]
row 5double_ele[1, 6]
column5 double_ele[1, 6]
count-19763
total-19763
count-19764
total-19764
count-19765
total-19765
count-19766
total-19766
count-19767
total-19767
count-19768
total-19768
count-19769
total-19769
count-19770
total-19770
count-19771
total-19771
count-19772
total-19772
count-19773
total-19773
count-19774
total-19774
row 2double_ele[3, 7]
column2 double_ele[3, 7]
row 3double_ele[1, 7]
count-19775
total-19775
count-19776
total-19776
count-19777
total-19777
count-19778
total-19778
count-19779
total-19779
count-19780
total-19780
count-19781
total-19781
count-19782
total-19782
count-19783
total-19783
count-19784
total-19784
count-19785
total-19785
count-19786
total-19786
count-19787
total-19787
count-19788
total-19788
count-19789
total-19789
count-19790
total-19790
count-19791
total-19791
count-19792
total-19792
column2 double_ele[1, 6]
row 7double_ele[1, 6]
count-19793
total-19793
count-19794
total-19794
row 3double_ele[4, 6]
column8 double_ele[4, 6]
count-19795
total-19795
count-19796
total-19796
count-19797
total-19797
column6 double_ele[4, 6]
count-19798
total-19798
count-19799
total-19799
count-19800
total-19800
count-19801
total-19801
count-19802
total-19802
count-19803
total-19803
count-19804
total-19804
count-19805
total-19805
count-19806
total-19806
count-19807
total-19807
count-19808
total-19808
count-19809
total-19809
count-19810
total-19810
count-19811
total-19811
count-19812
total-19812
count-19813
total-19813
count-19814
total-19814
count-19815
total-19815
count-19816
total-19816
count-19817
total-19817
count-19818
total-19818
count-19819
total-19819
count-19820
total-19820
count-19821
total-19821
count-19822
total-19822
row 7double_ele[2, 3]
count-19823
total-19823
count-19824
total-19824
count-19825
total-19825
row 8double_ele[3, 7]
count-19826
total-19826
count-19827
total-19827
row 8double_ele[5, 6]
count-19828
total-19828
count-19829
total-19829
count-19830
total-19830
count-19831
total-19831
count-19832
total-19832
count-19833
total-19833
count-19834
total-19834
count-19835
total-19835
count-19836
total-19836
count-19837
total-19837
count-19838
total-19838
row 3double_ele[3, 7]
row 6double_ele[5, 7]
count-19839
total-19839
count-19840
total-19840
count-19841
total-19841
count-19842
total-19842
count-19843
total-19843
count-19844
total-19844
count-19845
total-19845
row 8double_ele[1, 2]
count-19846
total-19846
count-19847
total-19847
count-19848
total-19848
count-19849
total-19849
count-19850
total-19850
count-19851
total-19851
count-19852
total-19852
count-19853
total-19853
count-19854
total-19854
count-19855
total-19855
count-19856
total-19856
count-19857
total-19857
count-19858
total-19858
count-19859
total-19859
count-19860
total-19860
count-19861
total-19861
column6 double_ele[1, 3]
count-19862
total-19862
count-19863
total-19863
count-19864
total-19864
count-19865
total-19865
count-19866
total-19866
count-19867
total-19867
count-19868
total-19868
count-19869
total-19869
count-19870
total-19870
count-19871
total-19871
count-19872
total-19872
count-19873
total-19873
count-19874
total-19874
count-19875
total-19875
count-19876
total-19876
count-19877
total-19877
count-19878
total-19878
count-19879
total-19879
count-19880
total-19880
count-19881
total-19881
count-19882
total-19882
count-19883
total-19883
count-19884
total-19884
count-19885
total-19885
count-19886
total-19886
count-19887
total-19887
count-19888
total-19888
count-19889
total-19889
count-19890
total-19890
count-19891
total-19891
count-19892
total-19892
count-19893
total-19893
count-19894
total-19894
count-19895
total-19895
count-19896
total-19896
count-19897
total-19897
count-19898
total-19898
count-19899
total-19899
count-19900
total-19900
count-19901
total-19901
count-19902
total-19902
count-19903
total-19903
count-19904
total-19904
count-19905
total-19905
count-19906
total-19906
row 9double_ele[4, 5]
count-19907
total-19907
count-19908
total-19908
count-19909
total-19909
count-19910
total-19910
count-19911
total-19911
count-19912
total-19912
count-19913
total-19913
count-19914
total-19914
count-19915
total-19915
count-19916
total-19916
count-19917
total-19917
count-19918
total-19918
count-19919
total-19919
count-19920
total-19920
count-19921
total-19921
count-19922
total-19922
column1 double_ele[3, 4]
count-19923
total-19923
row 8double_ele[1, 7]
count-19924
total-19924
count-19925
total-19925
count-19926
total-19926
count-19927
total-19927
count-19928
total-19928
count-19929
total-19929
count-19930
total-19930
count-19931
total-19931
count-19932
total-19932
row 6double_ele[4, 7]
count-19933
total-19933
count-19934
total-19934
count-19935
total-19935
count-19936
total-19936
count-19937
total-19937
count-19938
total-19938
row 1double_ele[4, 5]
count-19939
total-19939
count-19940
total-19940
count-19941
total-19941
count-19942
total-19942
count-19943
total-19943
count-19944
total-19944
column7 double_ele[4, 7]
count-19945
total-19945
count-19946
total-19946
count-19947
total-19947
count-19948
total-19948
row 7double_ele[1, 4]
count-19949
total-19949
count-19950
total-19950
count-19951
total-19951
count-19952
total-19952
count-19953
total-19953
count-19954
total-19954
count-19955
total-19955
count-19956
total-19956
count-19957
total-19957
count-19958
total-19958
count-19959
total-19959
count-19960
total-19960
count-19961
total-19961
count-19962
total-19962
count-19963
total-19963
count-19964
total-19964
count-19965
total-19965
count-19966
total-19966
count-19967
total-19967
count-19968
total-19968
count-19969
total-19969
count-19970
total-19970
count-19971
total-19971
count-19972
total-19972
count-19973
total-19973
count-19974
total-19974
count-19975
total-19975
count-19976
total-19976
count-19977
total-19977
count-19978
total-19978
count-19979
total-19979
count-19980
total-19980
count-19981
total-19981
count-19982
total-19982
column1 double_ele[1, 5]
count-19983
total-19983
count-19984
total-19984
count-19985
total-19985
count-19986
total-19986
count-19987
total-19987
count-19988
total-19988
count-19989
total-19989
count-19990
total-19990
count-19991
total-19991
count-19992
total-19992
count-19993
total-19993

count-19994
total-19994
count-19995
total-19995
count-19996
total-19996
column5 double_ele[1, 2]
count-19997
total-19997
count-19998
total-19998
count-19999
total-19999
count-20000
total-20000
count-20001
total-20001
count-20002
total-20002
count-20003
total-20003
count-20004
total-20004
count-20005
total-20005
column1 double_ele[1, 5]
count-20006
total-20006
count-20007
total-20007
count-20008
total-20008
count-20009
total-20009
count-20010
total-20010
column5 double_ele[3, 4]
row 6double_ele[3, 4]
count-20011
total-20011
count-20012
total-20012
count-20013
total-20013
count-20014
total-20014
count-20015
total-20015
column2 double_ele[1, 5]
count-20016
total-20016
row 7double_ele[2, 7]
count-20017
total-20017
count-20018
total-20018
count-20019
total-20019
count-20020
total-20020
count-20021
total-20021
count-20022
total-20022
column8 double_ele[2, 3]
count-20023
total-20023
count-20024
total-20024
column3 double_ele[2, 8]
column4 double_ele[5, 7]
column8 double_ele[2, 7]
count-20025
total-20025
count-20026
total-20026
count-20027
total-20027
count-20028
total-20028
count-20029
total-20029
count-20030
total-20030
count-20031
total-20031
count-20032
total-20032
count-20033
total-20033
count-20034
total-20034
count-20035
total-20035
count-20036
total-20036
count-20037
total-20037
count-20038
total-20038
count-20039
total-20039
count-20040
total-20040
row 5double_ele[2, 4]
column8 double_ele[2, 4]
count-20041
total-20041
column3 double_ele[1, 6]
row 7double_ele[1, 6]
column7 double_ele[1, 6]
row 8double_ele[1, 6]
count-20042
total-20042
count-20043
total-20043
count-20044
total-20044
count-20045
total-20045
row 4double_ele[4, 6]
count-20046
total-20046
count-20047
total-20047
row 4double_ele[1, 3]
count-20048
total-20048
count-20049
total-20049
count-20050
total-20050
count-20051
total-20051
count-20052
total-20052
count-20053
total-20053
count-20054
total-20054
count-20055
total-20055
count-20056
total-20056
column1 double_ele[2, 4]
row 8double_ele[2, 4]
row 9double_ele[1, 4]
count-20057
total-20057
count-20058
total-20058
count-20059
total-20059
count-20060
total-20060
count-20061
total-20061
count-20062
total-20062
count-20063
total-20063
count-20064
total-20064
count-20065
total-20065
count-20066
total-20066
count-20067
total-20067
count-20068
total-20068
count-20069
total-20069
count-20070
total-20070
count-20071
total-20071
column1 double_ele[2, 8]
column4 double_ele[1, 8]
count-20072
total-20072
row 1double_ele[2, 5]
column6 double_ele[2, 5]
count-20073
total-20073
count-20074
total-20074
row 2double_ele[1, 9]
column3 double_ele[1, 9]
column6 double_ele[3, 9]
count-20075
total-20075
count-20076
total-20076
count-20077
total-20077
count-20078
total-20078
column9 double_ele[1, 2]
count-20079
total-20079
column7 double_ele[4, 6]
count-20080
total-20080
count-20081
total-20081
count-20082
total-20082
count-20083
total-20083
count-20084
total-20084
count-20085
total-20085
count-20086
total-20086
count-20087
total-20087
count-20088
total-20088
count-20089
total-20089
count-20090
total-20090
count-20091
total-20091
count-20092
total-20092
count-20093
total-20093
column2 double_ele[3, 4]
row 8double_ele[3, 4]
count-20094
total-20094
count-20095
total-20095
count-20096
total-20096
count-20097
total-20097
count-20098
total-20098
count-20099
total-20099
count-20100
total-20100
count-20101
total-20101
count-20102
total-20102
count-20103
total-20103
count-20104
total-20104
count-20105
total-20105
count-20106
total-20106
count-20107
total-20107
count-20108
total-20108
count-20109
total-20109
count-20110
total-20110
count-20111
total-20111
count-20112
total-20112
count-20113
total-20113
count-20114
total-20114
count-20115
total-20115
row 1double_ele[3, 5]
count-20116
total-20116
count-20117
total-20117
count-20118
total-20118
count-20119
total-20119
count-20120
total-20120
count-20121
total-20121
count-20122
total-20122
column5 double_ele[2, 5]
count-20123
total-20123
column5 double_ele[2, 3]
column8 double_ele[2, 4]
count-20124
total-20124
count-20125
total-20125
count-20126
total-20126
count-20127
total-20127
count-20128
total-20128
count-20129
total-20129
count-20130
total-20130
count-20131
total-20131
count-20132
total-20132
count-20133
total-20133
count-20134
total-20134
count-20135
total-20135
count-20136
total-20136
count-20137
total-20137
count-20138
total-20138
column3 double_ele[5, 7]
row 5double_ele[5, 7]
row 6double_ele[5, 7]
column9 double_ele[5, 7]
count-20139
total-20139
count-20140
total-20140
count-20141
total-20141
count-20142
total-20142
count-20143
total-20143
count-20144
total-20144
count-20145
total-20145
count-20146
total-20146
count-20147
total-20147
count-20148
total-20148
count-20149
total-20149
count-20150
total-20150
count-20151
total-20151
count-20152
total-20152
row 8double_ele[2, 5]
column8 double_ele[2, 5]
count-20153
total-20153
count-20154
total-20154
count-20155
total-20155
count-20156
total-20156
count-20157
total-20157
count-20158
total-20158
count-20159
total-20159
count-20160
total-20160
count-20161
total-20161
row 3double_ele[5, 6]
count-20162
total-20162
count-20163
total-20163
count-20164
total-20164
count-20165
total-20165
column1 double_ele[2, 8]
column7 double_ele[2, 3]
count-20166
total-20166
count-20167
total-20167
count-20168
total-20168
row 7double_ele[4, 6]
count-20169
total-20169
count-20170
total-20170
count-20171
total-20171
count-20172
total-20172
column6 double_ele[1, 3]
count-20173
total-20173
count-20174
total-20174
column9 double_ele[2, 5]
count-20175
total-20175
count-20176
total-20176
count-20177
total-20177
count-20178
total-20178
count-20179
total-20179
count-20180
total-20180
count-20181
total-20181
count-20182
total-20182
count-20183
total-20183
column6 double_ele[2, 5]
column9 double_ele[3, 8]
count-20184
total-20184
count-20185
total-20185
row 7double_ele[1, 3]
count-20186
total-20186
row 1double_ele[2, 5]
count-20187
total-20187
count-20188
total-20188
count-20189
total-20189
count-20190
total-20190
count-20191
total-20191
count-20192
total-20192
count-20193
total-20193
count-20194
total-20194
count-20195
total-20195
count-20196
total-20196
column3 double_ele[5, 7]
column5 double_ele[1, 8]
count-20197
total-20197
count-20198
total-20198
count-20199
total-20199
count-20200
total-20200
count-20201
total-20201
count-20202
total-20202
count-20203
total-20203
count-20204
total-20204
count-20205
total-20205
count-20206
total-20206
column2 double_ele[1, 2]
row 5double_ele[1, 2]
count-20207
total-20207
count-20208
total-20208
count-20209
total-20209
count-20210
total-20210
count-20211
total-20211
count-20212
total-20212
count-20213
total-20213
count-20214
total-20214
count-20215
total-20215
count-20216
total-20216
count-20217
total-20217
count-20218
total-20218
count-20219
total-20219
count-20220
total-20220
count-20221
total-20221
row 4double_ele[1, 3]
count-20222
total-20222
count-20223
total-20223
row 2double_ele[3, 4]
count-20224
total-20224
count-20225
total-20225
count-20226
total-20226
count-20227
total-20227
count-20228
total-20228
count-20229
total-20229
count-20230
total-20230
count-20231
total-20231
count-20232
total-20232
count-20233
total-20233
count-20234
total-20234
count-20235
total-20235
count-20236
total-20236
count-20237
total-20237
count-20238
total-20238
row 5double_ele[2, 4]
count-20239
total-20239
count-20240
total-20240
count-20241
total-20241
count-20242
total-20242
count-20243
total-20243
count-20244
total-20244
row 5double_ele[3, 5]
count-20245
total-20245
count-20246
total-20246
count-20247
total-20247
count-20248
total-20248
count-20249
total-20249
count-20250
total-20250
count-20251
total-20251
count-20252
total-20252
count-20253
total-20253
count-20254
total-20254
count-20255
total-20255
count-20256
total-20256
count-20257
total-20257
column2 double_ele[3, 4]
count-20258
total-20258
count-20259
total-20259
row 5double_ele[3, 4]
column9 double_ele[3, 4]
count-20260
total-20260
count-20261
total-20261
count-20262
total-20262
count-20263
total-20263
count-20264
total-20264
count-20265
total-20265
count-20266
total-20266
count-20267
total-20267
count-20268
total-20268
count-20269
total-20269
count-20270
total-20270
count-20271
total-20271
count-20272
total-20272
count-20273
total-20273
count-20274
total-20274

count-20275
total-20275
count-20276
total-20276
count-20277
total-20277
count-20278
total-20278
row 5double_ele[2, 6]
count-20279
total-20279
count-20280
total-20280
count-20281
total-20281
count-20282
total-20282
count-20283
total-20283
count-20284
total-20284
count-20285
total-20285
row 3double_ele[1, 8]
count-20286
total-20286
count-20287
total-20287
count-20288
total-20288
count-20289
total-20289
count-20290
total-20290
count-20291
total-20291
count-20292
total-20292
count-20293
total-20293
count-20294
total-20294
count-20295
total-20295
count-20296
total-20296
count-20297
total-20297
count-20298
total-20298
count-20299
total-20299
count-20300
total-20300
count-20301
total-20301
count-20302
total-20302
count-20303
total-20303
count-20304
total-20304
count-20305
total-20305
count-20306
total-20306
count-20307
total-20307
count-20308
total-20308
count-20309
total-20309
count-20310
total-20310
count-20311
total-20311
row 3double_ele[4, 8]
row 6double_ele[2, 4]
column6 double_ele[4, 8]
count-20312
total-20312
count-20313
total-20313
count-20314
total-20314
column5 double_ele[4, 6]
row 8double_ele[4, 6]
count-20315
total-20315
count-20316
total-20316
count-20317
total-20317
count-20318
total-20318
count-20319
total-20319
count-20320
total-20320
count-20321
total-20321
count-20322
total-20322
count-20323
total-20323
count-20324
total-20324
column9 double_ele[1, 6]
count-20325
total-20325
row 1double_ele[1, 4]
count-20326
total-20326
count-20327
total-20327
count-20328
total-20328
count-20329
total-20329
count-20330
total-20330
count-20331
total-20331
row 3double_ele[2, 4]
count-20332
total-20332
row 7double_ele[1, 7]
count-20333
total-20333
count-20334
total-20334
row 3double_ele[1, 2]
count-20335
total-20335
count-20336
total-20336
row 2double_ele[2, 3]
column4 double_ele[2, 3]
box6 triple_ele[1, 2, 3]
count-20337
total-20337
count-20338
total-20338
count-20339
total-20339
count-20340
total-20340
count-20341
total-20341
column3 double_ele[4, 5]
column4 double_ele[4, 5]
row 5double_ele[4, 5]
row 7double_ele[4, 5]
count-20342
total-20342
count-20343
total-20343
count-20344
total-20344
column9 double_ele[1, 3]
count-20345
total-20345
count-20346
total-20346
count-20347
total-20347
count-20348
total-20348
count-20349
total-20349
count-20350
total-20350
column1 double_ele[2, 6]
count-20351
total-20351
count-20352
total-20352
count-20353
total-20353
count-20354
total-20354
count-20355
total-20355
count-20356
total-20356
count-20357
total-20357
count-20358
total-20358
count-20359
total-20359
count-20360
total-20360
count-20361
total-20361
count-20362
total-20362
count-20363
total-20363
count-20364
total-20364
count-20365
total-20365
count-20366
total-20366
count-20367
total-20367
count-20368
total-20368
count-20369
total-20369
count-20370
total-20370
count-20371
total-20371
count-20372
total-20372
count-20373
total-20373
count-20374
total-20374
count-20375
total-20375
count-20376
total-20376
count-20377
total-20377
count-20378
total-20378
count-20379
total-20379
count-20380
total-20380
count-20381
total-20381
count-20382
total-20382
count-20383
total-20383
count-20384
total-20384
count-20385
total-20385
row 4double_ele[3, 4]
column6 double_ele[3, 4]
count-20386
total-20386
row 4double_ele[2, 4]
count-20387
total-20387
count-20388
total-20388
count-20389
total-20389
count-20390
total-20390
count-20391
total-20391
count-20392
total-20392
count-20393
total-20393
count-20394
total-20394
count-20395
total-20395
count-20396
total-20396
count-20397
total-20397
count-20398
total-20398
count-20399
total-20399
count-20400
total-20400
row 1double_ele[3, 5]
column9 double_ele[3, 5]
count-20401
total-20401
count-20402
total-20402
count-20403
total-20403
count-20404
total-20404
count-20405
total-20405
count-20406
total-20406
count-20407
total-20407
count-20408
total-20408
count-20409
total-20409
count-20410
total-20410
count-20411
total-20411
count-20412
total-20412
column3 double_ele[1, 3]
row 4double_ele[1, 3]
column4 double_ele[1, 3]
row 6double_ele[1, 3]
count-20413
total-20413
count-20414
total-20414
count-20415
total-20415
count-20416
total-20416
count-20417
total-20417
count-20418
total-20418
count-20419
total-20419
count-20420
total-20420
count-20421
total-20421
column3 double_ele[3, 6]
count-20422
total-20422
count-20423
total-20423
count-20424
total-20424
count-20425
total-20425
count-20426
total-20426
count-20427
total-20427
count-20428
total-20428
row 4double_ele[1, 3]
column7 double_ele[1, 3]
count-20429
total-20429
count-20430
total-20430
column1 double_ele[1, 9]
count-20431
total-20431
count-20432
total-20432
count-20433
total-20433
row 9double_ele[1, 4]
count-20434
total-20434
count-20435
total-20435
column9 double_ele[1, 3]
count-20436
total-20436
count-20437
total-20437
count-20438
total-20438
count-20439
total-20439
count-20440
total-20440
count-20441
total-20441
count-20442
total-20442
column8 double_ele[2, 6]
count-20443
total-20443
row 8double_ele[1, 2]
column8 double_ele[1, 2]
count-20444
total-20444
count-20445
total-20445
row 4double_ele[1, 7]
column4 double_ele[1, 3]
count-20446
total-20446
count-20447
total-20447
count-20448
total-20448
count-20449
total-20449
count-20450
total-20450
count-20451
total-20451
count-20452
total-20452
count-20453
total-20453
count-20454
total-20454
count-20455
total-20455
count-20456
total-20456
count-20457
total-20457
count-20458
total-20458
count-20459
total-20459
count-20460
total-20460
count-20461
total-20461
count-20462
total-20462
count-20463
total-20463
count-20464
total-20464
count-20465
total-20465
count-20466
total-20466
count-20467
total-20467
count-20468
total-20468
count-20469
total-20469
count-20470
total-20470
count-20471
total-20471
count-20472
total-20472
count-20473
total-20473
count-20474
total-20474
count-20475
total-20475
count-20476
total-20476
count-20477
total-20477
count-20478
total-20478
count-20479
total-20479
count-20480
total-20480
count-20481
total-20481
count-20482
total-20482
count-20483
total-20483
count-20484
total-20484
count-20485
total-20485
count-20486
total-20486
count-20487
total-20487
count-20488
total-20488
count-20489
total-20489
row 1double_ele[2, 5]
column2 double_ele[4, 5]
count-20490
total-20490
count-20491
total-20491
count-20492
total-20492
count-20493
total-20493
count-20494
total-20494
count-20495
total-20495
count-20496
total-20496
count-20497
total-20497
count-20498
total-20498
count-20499
total-20499
count-20500
total-20500
count-20501
total-20501
count-20502
total-20502
count-20503
total-20503
count-20504
total-20504
column8 double_ele[1, 2]
count-20505
total-20505
count-20506
total-20506
count-20507
total-20507
count-20508
total-20508
count-20509
total-20509
count-20510
total-20510
count-20511
total-20511
count-20512
total-20512
count-20513
total-20513
count-20514
total-20514
count-20515
total-20515
count-20516
total-20516
count-20517
total-20517
count-20518
total-20518
count-20519
total-20519
count-20520
total-20520
count-20521
total-20521
count-20522
total-20522
count-20523
total-20523
count-20524
total-20524
count-20525
total-20525
count-20526
total-20526
count-20527
total-20527
count-20528
total-20528
count-20529
total-20529
count-20530
total-20530
column3 double_ele[3, 7]
column4 double_ele[1, 7]
row 6double_ele[5, 7]
row 9double_ele[3, 7]
column9 double_ele[2, 4]
row 2triple_ele[2, 4, 7]
count-20531
total-20531
count-20532
total-20532
count-20533
total-20533
count-20534
total-20534
count-20535
total-20535
count-20536
total-20536
count-20537
total-20537
count-20538
total-20538
count-20539
total-20539
count-20540
total-20540
count-20541
total-20541
count-20542
total-20542
count-20543
total-20543
count-20544
total-20544
count-20545
total-20545
count-20546
total-20546
count-20547
total-20547
count-20548
total-20548
count-20549
total-20549
count-20550
total-20550
count-20551
total-20551
count-20552
total-20552
column3 double_ele[2, 5]
count-20553
total-20553
count-20554
total-20554
count-20555
total-20555
count-20556
total-20556
count-20557
total-20557
count-20558
total-20558
count-20559
total-20559
count-20560
total-20560
count-20561
total-20561
count-20562
total-20562
count-20563
total-20563
column2 double_ele[1, 2]
count-20564
total-20564
count-20565
total-20565
count-20566
total-20566
count-20567
total-20567
count-20568
total-20568
box3 triple_ele[1, 4, 5]
count-20569
total-20569
count-20570
total-20570
count-20571
total-20571

column9 double_ele[2, 3]
count-20572
total-20572
count-20573
total-20573
count-20574
total-20574
count-20575
total-20575
count-20576
total-20576
count-20577
total-20577
count-20578
total-20578
count-20579
total-20579
count-20580
total-20580
count-20581
total-20581
count-20582
total-20582
count-20583
total-20583
count-20584
total-20584
column6 double_ele[2, 4]
count-20585
total-20585
count-20586
total-20586
count-20587
total-20587
count-20588
total-20588
count-20589
total-20589
column7 double_ele[2, 3]
count-20590
total-20590
count-20591
total-20591
row 4double_ele[1, 6]
count-20592
total-20592
row 2double_ele[1, 3]
count-20593
total-20593
count-20594
total-20594
count-20595
total-20595
count-20596
total-20596
count-20597
total-20597
count-20598
total-20598
row 3double_ele[3, 6]
count-20599
total-20599
count-20600
total-20600
count-20601
total-20601
count-20602
total-20602
count-20603
total-20603
count-20604
total-20604
count-20605
total-20605
count-20606
total-20606
count-20607
total-20607
count-20608
total-20608
count-20609
total-20609
count-20610
total-20610
box9 triple_ele[1, 3, 5]
count-20611
total-20611
count-20612
total-20612
count-20613
total-20613
count-20614
total-20614
count-20615
total-20615
row 5double_ele[3, 6]
column6 double_ele[3, 6]
count-20616
total-20616
count-20617
total-20617
count-20618
total-20618
count-20619
total-20619
count-20620
total-20620
count-20621
total-20621
count-20622
total-20622
count-20623
total-20623
column2 double_ele[1, 2]
count-20624
total-20624
count-20625
total-20625
row 2double_ele[1, 5]
row 5double_ele[1, 4]
column6 double_ele[1, 5]
count-20626
total-20626
count-20627
total-20627
count-20628
total-20628
count-20629
total-20629
count-20630
total-20630
row 1double_ele[2, 5]
count-20631
total-20631
count-20632
total-20632
count-20633
total-20633
count-20634
total-20634
count-20635
total-20635
count-20636
total-20636
count-20637
total-20637
count-20638
total-20638
count-20639
total-20639
count-20640
total-20640
count-20641
total-20641
count-20642
total-20642
column4 double_ele[3, 4]
column6 double_ele[1, 3]
count-20643
total-20643
count-20644
total-20644
column6 double_ele[2, 6]
count-20645
total-20645
count-20646
total-20646
count-20647
total-20647
count-20648
total-20648
count-20649
total-20649
count-20650
total-20650
count-20651
total-20651
row 5double_ele[1, 2]
count-20652
total-20652
count-20653
total-20653
count-20654
total-20654
count-20655
total-20655
count-20656
total-20656
count-20657
total-20657
column1 double_ele[1, 3]
row 3double_ele[1, 3]
count-20658
total-20658
count-20659
total-20659
count-20660
total-20660
column7 double_ele[4, 6]
count-20661
total-20661
count-20662
total-20662
count-20663
total-20663
count-20664
total-20664
count-20665
total-20665
count-20666
total-20666
count-20667
total-20667
count-20668
total-20668
row 7double_ele[2, 5]
count-20669
total-20669
count-20670
total-20670
count-20671
total-20671
count-20672
total-20672
count-20673
total-20673
count-20674
total-20674
column5 double_ele[3, 4]
count-20675
total-20675
count-20676
total-20676
count-20677
total-20677
count-20678
total-20678
column1 double_ele[2, 3]
row 7double_ele[2, 3]
count-20679
total-20679
count-20680
total-20680
count-20681
total-20681
count-20682
total-20682
row 7double_ele[3, 8]
count-20683
total-20683
row 3double_ele[2, 3]
count-20684
total-20684
count-20685
total-20685
count-20686
total-20686
column8 double_ele[3, 7]
count-20687
total-20687
count-20688
total-20688
count-20689
total-20689
count-20690
total-20690
count-20691
total-20691
count-20692
total-20692
column1 double_ele[2, 4]
column3 double_ele[1, 2]
row 4double_ele[1, 2]
row 9double_ele[2, 4]
count-20693
total-20693
count-20694
total-20694
count-20695
total-20695
count-20696
total-20696
count-20697
total-20697
count-20698
total-20698
count-20699
total-20699
count-20700
total-20700
count-20701
total-20701
count-20702
total-20702
count-20703
total-20703
count-20704
total-20704
column1 double_ele[1, 3]
row 7double_ele[1, 3]
count-20705
total-20705
count-20706
total-20706
count-20707
total-20707
count-20708
total-20708
count-20709
total-20709
count-20710
total-20710
count-20711
total-20711
count-20712
total-20712
row 1double_ele[3, 5]
column5 double_ele[3, 5]
column9 double_ele[3, 6]
count-20713
total-20713
count-20714
total-20714
count-20715
total-20715
row 1double_ele[6, 7]
count-20716
total-20716
count-20717
total-20717
count-20718
total-20718
count-20719
total-20719
count-20720
total-20720
count-20721
total-20721
row 4double_ele[2, 3]
column6 double_ele[2, 3]
count-20722
total-20722
count-20723
total-20723
count-20724
total-20724
row 3double_ele[1, 4]
column4 double_ele[1, 4]
count-20725
total-20725
count-20726
total-20726
count-20727
total-20727
count-20728
total-20728
count-20729
total-20729
count-20730
total-20730
count-20731
total-20731
count-20732
total-20732
count-20733
total-20733
count-20734
total-20734
count-20735
total-20735
count-20736
total-20736
count-20737
total-20737
count-20738
total-20738
count-20739
total-20739
count-20740
total-20740
count-20741
total-20741
row 9double_ele[2, 3]
count-20742
total-20742
count-20743
total-20743
count-20744
total-20744
count-20745
total-20745
count-20746
total-20746
count-20747
total-20747
count-20748
total-20748
count-20749
total-20749
count-20750
total-20750
count-20751
total-20751
count-20752
total-20752
count-20753
total-20753
count-20754
total-20754
column7 double_ele[1, 3]
row 8triple_ele[1, 3, 6]
count-20755
total-20755
column8 double_ele[3, 8]
count-20756
total-20756
count-20757
total-20757
count-20758
total-20758
row 5double_ele[1, 3]
count-20759
total-20759
count-20760
total-20760
column9 double_ele[2, 5]
count-20761
total-20761
count-20762
total-20762
count-20763
total-20763
count-20764
total-20764
count-20765
total-20765
count-20766
total-20766
count-20767
total-20767
count-20768
total-20768
count-20769
total-20769
count-20770
total-20770
count-20771
total-20771
count-20772
total-20772
count-20773
total-20773
count-20774
total-20774
count-20775
total-20775
count-20776
total-20776
column9 double_ele[1, 5]
count-20777
total-20777
count-20778
total-20778
count-20779
total-20779
row 2double_ele[1, 4]
row 3double_ele[1, 5]
column6 double_ele[1, 4]
count-20780
total-20780
count-20781
total-20781
count-20782
total-20782
count-20783
total-20783
count-20784
total-20784
count-20785
total-20785
count-20786
total-20786
count-20787
total-20787
row 2triple_ele[1, 2, 4]
count-20788
total-20788
count-20789
total-20789
count-20790
total-20790
count-20791
total-20791
count-20792
total-20792
count-20793
total-20793
count-20794
total-20794
column1 double_ele[2, 6]
row 8double_ele[4, 7]
count-20795
total-20795
count-20796
total-20796
count-20797
total-20797
count-20798
total-20798
count-20799
total-20799
count-20800
total-20800
count-20801
total-20801
count-20802
total-20802
column5 double_ele[3, 8]
count-20803
total-20803
count-20804
total-20804
count-20805
total-20805
count-20806
total-20806
count-20807
total-20807
count-20808
total-20808
count-20809
total-20809
count-20810
total-20810
count-20811
total-20811
row 1double_ele[1, 7]
count-20812
total-20812
count-20813
total-20813
count-20814
total-20814
count-20815
total-20815
count-20816
total-20816
count-20817
total-20817
count-20818
total-20818
count-20819
total-20819
count-20820
total-20820
count-20821
total-20821
column2 double_ele[1, 3]
column7 double_ele[1, 3]
row 8double_ele[1, 3]
row 9double_ele[1, 3]
count-20822
total-20822
count-20823
total-20823
count-20824
total-20824
count-20825
total-20825
count-20826
total-20826
count-20827
total-20827
count-20828
total-20828
count-20829
total-20829
count-20830
total-20830
count-20831
total-20831
count-20832
total-20832
count-20833
total-20833
count-20834
total-20834
row 1double_ele[1, 3]
column3 double_ele[1, 3]
row 4double_ele[2, 6]
column4 double_ele[1, 3]
count-20835
total-20835
count-20836
total-20836
count-20837
total-20837
count-20838
total-20838
count-20839
total-20839
count-20840
total-20840
count-20841
total-20841
count-20842
total-20842
count-20843
total-20843
row 2double_ele[2, 4]
count-20844
total-20844
count-20845
total-20845
count-20846
total-20846
row 4double_ele[2, 4]
count-20847
total-20847
count-20848
total-20848
count-20849
total-20849
count-20850
total-20850
count-20851
total-20851
count-20852
total-20852
count-20853
total-20853
count-20854
total-20854
count-20855
total-20855
count-20856
total-20856
count-20857
total-20857
count-20858
total-20858
count-20859
total-20859
count-20860
total-20860
count-20861
total-20861
count-20862
total-20862
count-20863
total-20863
count-20864
total-20864
row 5double_ele[1, 5]
row 9double_ele[2, 5]
count-20865
total-20865
count-20866
total-20866

count-20867
total-20867
column4 double_ele[3, 4]
count-20868
total-20868
count-20869
total-20869
column4 double_ele[4, 5]
row 8double_ele[4, 5]
count-20870
total-20870
row 2double_ele[3, 5]
column5 double_ele[3, 5]
count-20871
total-20871
count-20872
total-20872
column8 double_ele[2, 3]
count-20873
total-20873
row 5double_ele[1, 2]
column9 double_ele[1, 2]
count-20874
total-20874
count-20875
total-20875
count-20876
total-20876
count-20877
total-20877
count-20878
total-20878
column2 double_ele[1, 2]
row 5double_ele[1, 2]
count-20879
total-20879
count-20880
total-20880
count-20881
total-20881
count-20882
total-20882
count-20883
total-20883
count-20884
total-20884
count-20885
total-20885
count-20886
total-20886
count-20887
total-20887
count-20888
total-20888
count-20889
total-20889
count-20890
total-20890
count-20891
total-20891
count-20892
total-20892
count-20893
total-20893
count-20894
total-20894
count-20895
total-20895
count-20896
total-20896
count-20897
total-20897
count-20898
total-20898
count-20899
total-20899
count-20900
total-20900
count-20901
total-20901
count-20902
total-20902
count-20903
total-20903
count-20904
total-20904
count-20905
total-20905
count-20906
total-20906
count-20907
total-20907
count-20908
total-20908
count-20909
total-20909
count-20910
total-20910
count-20911
total-20911
count-20912
total-20912
count-20913
total-20913
count-20914
total-20914
count-20915
total-20915
count-20916
total-20916
count-20917
total-20917
count-20918
total-20918
count-20919
total-20919
count-20920
total-20920
row 7double_ele[1, 3]
column9 double_ele[1, 3]
count-20921
total-20921
row 3double_ele[2, 4]
count-20922
total-20922
count-20923
total-20923
count-20924
total-20924
count-20925
total-20925
count-20926
total-20926
count-20927
total-20927
count-20928
total-20928
count-20929
total-20929
count-20930
total-20930
count-20931
total-20931
count-20932
total-20932
count-20933
total-20933
count-20934
total-20934
count-20935
total-20935
count-20936
total-20936
count-20937
total-20937
count-20938
total-20938
count-20939
total-20939
count-20940
total-20940
count-20941
total-20941
count-20942
total-20942
count-20943
total-20943
column1 double_ele[3, 8]
row 4double_ele[3, 8]
column6 double_ele[2, 3]
count-20944
total-20944
count-20945
total-20945
count-20946
total-20946
count-20947
total-20947
count-20948
total-20948
count-20949
total-20949
count-20950
total-20950
count-20951
total-20951
row 4double_ele[3, 4]
count-20952
total-20952
count-20953
total-20953
row 7double_ele[4, 7]
count-20954
total-20954
count-20955
total-20955
count-20956
total-20956
count-20957
total-20957
count-20958
total-20958
count-20959
total-20959
count-20960
total-20960
count-20961
total-20961
count-20962
total-20962
count-20963
total-20963
count-20964
total-20964
count-20965
total-20965
column3 double_ele[1, 4]
column4 double_ele[1, 2]
row 8double_ele[1, 2]
count-20966
total-20966
count-20967
total-20967
count-20968
total-20968
count-20969
total-20969
row 9double_ele[3, 5]
count-20970
total-20970
count-20971
total-20971
count-20972
total-20972
count-20973
total-20973
row 8double_ele[1, 2]
column8 double_ele[1, 2]
count-20974
total-20974
count-20975
total-20975
count-20976
total-20976
count-20977
total-20977
count-20978
total-20978
count-20979
total-20979
count-20980
total-20980
count-20981
total-20981
count-20982
total-20982
row 1double_ele[1, 3]
column3 double_ele[1, 3]
count-20983
total-20983
count-20984
total-20984
count-20985
total-20985
count-20986
total-20986
count-20987
total-20987
column1 double_ele[2, 3]
row 8double_ele[2, 3]
count-20988
total-20988
count-20989
total-20989
count-20990
total-20990
count-20991
total-20991
count-20992
total-20992
count-20993
total-20993
count-20994
total-20994
count-20995
total-20995
count-20996
total-20996
count-20997
total-20997
count-20998
total-20998
count-20999
total-20999
count-21000
total-21000
count-21001
total-21001
count-21002
total-21002
count-21003
total-21003
count-21004
total-21004
count-21005
total-21005
column9 double_ele[3, 7]
count-21006
total-21006
count-21007
total-21007
count-21008
total-21008
count-21009
total-21009
count-21010
total-21010
count-21011
total-21011
count-21012
total-21012
count-21013
total-21013
count-21014
total-21014
count-21015
total-21015
count-21016
total-21016
count-21017
total-21017
count-21018
total-21018
count-21019
total-21019
column2 double_ele[1, 2]
row 7double_ele[1, 2]
count-21020
total-21020
count-21021
total-21021
count-21022
total-21022
count-21023
total-21023
count-21024
total-21024
count-21025
total-21025
row 3double_ele[2, 4]
column4 double_ele[2, 4]
row 6double_ele[2, 4]
column6 double_ele[2, 4]
count-21026
total-21026
count-21027
total-21027
count-21028
total-21028
count-21029
total-21029
count-21030
total-21030
count-21031
total-21031
count-21032
total-21032
count-21033
total-21033
count-21034
total-21034
count-21035
total-21035
count-21036
total-21036
count-21037
total-21037
count-21038
total-21038
count-21039
total-21039
count-21040
total-21040
column5 double_ele[2, 7]
count-21041
total-21041
count-21042
total-21042
count-21043
total-21043
count-21044
total-21044
count-21045
total-21045
count-21046
total-21046
count-21047
total-21047
count-21048
total-21048
count-21049
total-21049
count-21050
total-21050
count-21051
total-21051
count-21052
total-21052
count-21053
total-21053
count-21054
total-21054
count-21055
total-21055
row 4double_ele[1, 3]
count-21056
total-21056
count-21057
total-21057
count-21058
total-21058
count-21059
total-21059
row 9double_ele[1, 7]
column9 double_ele[1, 7]
count-21060
total-21060
count-21061
total-21061
count-21062
total-21062
count-21063
total-21063
count-21064
total-21064
count-21065
total-21065
count-21066
total-21066
column5 double_ele[2, 5]
count-21067
total-21067
count-21068
total-21068
count-21069
total-21069
count-21070
total-21070
count-21071
total-21071
count-21072
total-21072
count-21073
total-21073
count-21074
total-21074
count-21075
total-21075
count-21076
total-21076
count-21077
total-21077
count-21078
total-21078
count-21079
total-21079
count-21080
total-21080
count-21081
total-21081
count-21082
total-21082
count-21083
total-21083
row 1double_ele[3, 8]
count-21084
total-21084
count-21085
total-21085
count-21086
total-21086
count-21087
total-21087
count-21088
total-21088
count-21089
total-21089
count-21090
total-21090
count-21091
total-21091
count-21092
total-21092
count-21093
total-21093
count-21094
total-21094
count-21095
total-21095
count-21096
total-21096
count-21097
total-21097
count-21098
total-21098
count-21099
total-21099
count-21100
total-21100
count-21101
total-21101
count-21102
total-21102
row 8double_ele[2, 5]
count-21103
total-21103
column1 double_ele[3, 9]
count-21104
total-21104
row 7double_ele[2, 4]
column7 double_ele[2, 4]
box6 triple_ele[2, 3, 4]
count-21105
total-21105
count-21106
total-21106
count-21107
total-21107
count-21108
total-21108
count-21109
total-21109
count-21110
total-21110
count-21111
total-21111
count-21112
total-21112
count-21113
total-21113
count-21114
total-21114
count-21115
total-21115
row 6double_ele[1, 3]
count-21116
total-21116
count-21117
total-21117
count-21118
total-21118
count-21119
total-21119
count-21120
total-21120
count-21121
total-21121
count-21122
total-21122
count-21123
total-21123
count-21124
total-21124
count-21125
total-21125
count-21126
total-21126
count-21127
total-21127
count-21128
total-21128
count-21129
total-21129
count-21130
total-21130
count-21131
total-21131
count-21132
total-21132
count-21133
total-21133
count-21134
total-21134
count-21135
total-21135
count-21136
total-21136
count-21137
total-21137
count-21138
total-21138
count-21139
total-21139
count-21140
total-21140
count-21141
total-21141
count-21142
total-21142
count-21143
total-21143
count-21144
total-21144
count-21145
total-21145
count-21146
total-21146
count-21147
total-21147
count-21148
total-21148
count-21149
total-21149
count-21150
total-21150
count-21151
total-21151
count-21152
total-21152
count-21153
total-21153
count-21154
total-21154
count-21155
total-21155
count-21156
total-21156
column9 double_ele[1, 3]
count-21157
total-21157
count-21158
total-21158
row 1double_ele[3, 4]
count-21159
total-21159
count-21160
total-21160
count-21161
total-21161
count-21162
total-21162
count-21163
total-21163
row 7double_ele[3, 4]
count-21164
total-21164
count-21165
total-21165
count-21166
total-21166
column3 double_ele[1, 4]
count-21167
total-21167
count-21168
total-21168
count-21169
total-21169
count-21170
total-21170

count-21171
total-21171
count-21172
total-21172
count-21173
total-21173
count-21174
total-21174
count-21175
total-21175
count-21176
total-21176
count-21177
total-21177
count-21178
total-21178
count-21179
total-21179
count-21180
total-21180
count-21181
total-21181
count-21182
total-21182
count-21183
total-21183
count-21184
total-21184
count-21185
total-21185
count-21186
total-21186
count-21187
total-21187
count-21188
total-21188
count-21189
total-21189
column5 double_ele[4, 6]
count-21190
total-21190
count-21191
total-21191
count-21192
total-21192
count-21193
total-21193
column2 double_ele[2, 5]
row 3double_ele[2, 5]
count-21194
total-21194
count-21195
total-21195
count-21196
total-21196
row 9double_ele[1, 2]
count-21197
total-21197
count-21198
total-21198
count-21199
total-21199
row 1double_ele[1, 6]
count-21200
total-21200
count-21201
total-21201
count-21202
total-21202
count-21203
total-21203
column1 double_ele[1, 5]
row 9double_ele[1, 5]
count-21204
total-21204
count-21205
total-21205
column1 double_ele[1, 8]
count-21206
total-21206
count-21207
total-21207
count-21208
total-21208
count-21209
total-21209
count-21210
total-21210
count-21211
total-21211
count-21212
total-21212
count-21213
total-21213
count-21214
total-21214
count-21215
total-21215
count-21216
total-21216
count-21217
total-21217
count-21218
total-21218
count-21219
total-21219
count-21220
total-21220
count-21221
total-21221
count-21222
total-21222
count-21223
total-21223
count-21224
total-21224
count-21225
total-21225
count-21226
total-21226
count-21227
total-21227
count-21228
total-21228
count-21229
total-21229
count-21230
total-21230
count-21231
total-21231
count-21232
total-21232
count-21233
total-21233
count-21234
total-21234
row 4double_ele[2, 3]
count-21235
total-21235
count-21236
total-21236
column4 double_ele[2, 4]
column7 double_ele[4, 7]
count-21237
total-21237
count-21238
total-21238
count-21239
total-21239
count-21240
total-21240
count-21241
total-21241
count-21242
total-21242
count-21243
total-21243
count-21244
total-21244
count-21245
total-21245
count-21246
total-21246
count-21247
total-21247
count-21248
total-21248
count-21249
total-21249
count-21250
total-21250
count-21251
total-21251
count-21252
total-21252
count-21253
total-21253
count-21254
total-21254
count-21255
total-21255
count-21256
total-21256
count-21257
total-21257
count-21258
total-21258
count-21259
total-21259
count-21260
total-21260
count-21261
total-21261
count-21262
total-21262
count-21263
total-21263
count-21264
total-21264
count-21265
total-21265
count-21266
total-21266
count-21267
total-21267
count-21268
total-21268
column4 double_ele[2, 6]
count-21269
total-21269
column4 double_ele[2, 4]
column7 double_ele[3, 4]
count-21270
total-21270
count-21271
total-21271
count-21272
total-21272
count-21273
total-21273
count-21274
total-21274
count-21275
total-21275
count-21276
total-21276
count-21277
total-21277
row 3double_ele[1, 4]
column5 double_ele[1, 4]
count-21278
total-21278
count-21279
total-21279
count-21280
total-21280
count-21281
total-21281
count-21282
total-21282
count-21283
total-21283
column4 double_ele[1, 4]
count-21284
total-21284
count-21285
total-21285
count-21286
total-21286
row 2double_ele[2, 4]
column6 double_ele[4, 7]
row 8double_ele[4, 7]
row 7triple_ele[2, 4, 7]
box9 triple_ele[2, 4, 7]
count-21287
total-21287
count-21288
total-21288
count-21289
total-21289
count-21290
total-21290
count-21291
total-21291
count-21292
total-21292
count-21293
total-21293
count-21294
total-21294
count-21295
total-21295
count-21296
total-21296
count-21297
total-21297
count-21298
total-21298
count-21299
total-21299
count-21300
total-21300
column1 double_ele[3, 4]
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-21301
total-21301
count-21302
total-21302
count-21303
total-21303
column2 double_ele[1, 2]
count-21304
total-21304
count-21305
total-21305
count-21306
total-21306
count-21307
total-21307
count-21308
total-21308
count-21309
total-21309
count-21310
total-21310
count-21311
total-21311
count-21312
total-21312
count-21313
total-21313
count-21314
total-21314
count-21315
total-21315
count-21316
total-21316
count-21317
total-21317
count-21318
total-21318
count-21319
total-21319
count-21320
total-21320
count-21321
total-21321
count-21322
total-21322
count-21323
total-21323
count-21324
total-21324
count-21325
total-21325
count-21326
total-21326
column1 double_ele[1, 5]
row 3double_ele[1, 5]
count-21327
total-21327
row 4double_ele[1, 9]
column6 double_ele[1, 9]
count-21328
total-21328
count-21329
total-21329
count-21330
total-21330
count-21331
total-21331
count-21332
total-21332
count-21333
total-21333
count-21334
total-21334
count-21335
total-21335
count-21336
total-21336
count-21337
total-21337
count-21338
total-21338
count-21339
total-21339
count-21340
total-21340
count-21341
total-21341
column9 double_ele[1, 3]
count-21342
total-21342
row 1double_ele[1, 8]
column6 double_ele[1, 8]
count-21343
total-21343
count-21344
total-21344
count-21345
total-21345
count-21346
total-21346
count-21347
total-21347
count-21348
total-21348
count-21349
total-21349
count-21350
total-21350
count-21351
total-21351
count-21352
total-21352
count-21353
total-21353
count-21354
total-21354
count-21355
total-21355
count-21356
total-21356
count-21357
total-21357
count-21358
total-21358
column6 double_ele[2, 6]
row 8double_ele[2, 6]
count-21359
total-21359
count-21360
total-21360
count-21361
total-21361
count-21362
total-21362
count-21363
total-21363
count-21364
total-21364
count-21365
total-21365
count-21366
total-21366
count-21367
total-21367
count-21368
total-21368
count-21369
total-21369
column2 double_ele[1, 2]
row 5double_ele[1, 2]
count-21370
total-21370
count-21371
total-21371
count-21372
total-21372
count-21373
total-21373
count-21374
total-21374
count-21375
total-21375
count-21376
total-21376
count-21377
total-21377
count-21378
total-21378
column7 double_ele[3, 4]
count-21379
total-21379
count-21380
total-21380
count-21381
total-21381
column2 double_ele[1, 3]
count-21382
total-21382
count-21383
total-21383
count-21384
total-21384
count-21385
total-21385
column3 double_ele[4, 5]
count-21386
total-21386
count-21387
total-21387
count-21388
total-21388
count-21389
total-21389
count-21390
total-21390
count-21391
total-21391
count-21392
total-21392
count-21393
total-21393
count-21394
total-21394
count-21395
total-21395
count-21396
total-21396
count-21397
total-21397
count-21398
total-21398
count-21399
total-21399
count-21400
total-21400
count-21401
total-21401
count-21402
total-21402
count-21403
total-21403
count-21404
total-21404
count-21405
total-21405
row 4double_ele[2, 3]
row 5double_ele[2, 3]
column9 double_ele[2, 3]
count-21406
total-21406
count-21407
total-21407
count-21408
total-21408
count-21409
total-21409
count-21410
total-21410
count-21411
total-21411
count-21412
total-21412
column1 double_ele[6, 8]
row 4double_ele[1, 6]
column7 double_ele[1, 6]
row 9double_ele[6, 8]
count-21413
total-21413
count-21414
total-21414
count-21415
total-21415
count-21416
total-21416
row 3double_ele[1, 6]
row 8double_ele[1, 2]
column9 double_ele[1, 2]
count-21417
total-21417
count-21418
total-21418
count-21419
total-21419
count-21420
total-21420
count-21421
total-21421
count-21422
total-21422
count-21423
total-21423
count-21424
total-21424
count-21425
total-21425
count-21426
total-21426
count-21427
total-21427
count-21428
total-21428
count-21429
total-21429
count-21430
total-21430
count-21431
total-21431
count-21432
total-21432
count-21433
total-21433
count-21434
total-21434
count-21435
total-21435
column2 double_ele[2, 5]
row 4double_ele[2, 5]
column9 double_ele[4, 5]
row 3triple_ele[2, 4, 5]
count-21436
total-21436
count-21437
total-21437
count-21438
total-21438
count-21439
total-21439
count-21440
total-21440
column5 double_ele[1, 2]
count-21441
total-21441
count-21442
total-21442
count-21443
total-21443
count-21444
total-21444
row 9double_ele[1, 9]
count-21445
total-21445
count-21446
total-21446
count-21447
total-21447
count-21448
total-21448
count-21449
total-21449
count-21450
total-21450
count-21451
total-21451
count-21452
total-21452
count-21453
total-21453
count-21454
total-21454
count-21455
total-21455
count-21456
total-21456
count-21457
total-21457
count-21458
total-21458
count-21459
total-21459
column7 double_ele[4, 7]
row 9double_ele[4, 7]
count-21460
total-21460
column9 double_ele[4, 8]
count-21461
total-21461
count-21462
total-21462
count-21463
total-21463
count-21464
total-21464
count-21465
total-21465
count-21466
total-21466
column3 double_ele[4, 8]
count-21467
total-21467
count-21468
total-21468
count-21469
total-21469

count-21470
total-21470
count-21471
total-21471
count-21472
total-21472
count-21473
total-21473
count-21474
total-21474
count-21475
total-21475
count-21476
total-21476
count-21477
total-21477
count-21478
total-21478
count-21479
total-21479
count-21480
total-21480
count-21481
total-21481
count-21482
total-21482
row 3double_ele[3, 5]
count-21483
total-21483
count-21484
total-21484
count-21485
total-21485
count-21486
total-21486
count-21487
total-21487
count-21488
total-21488
count-21489
total-21489
count-21490
total-21490
count-21491
total-21491
column3 double_ele[1, 4]
count-21492
total-21492
count-21493
total-21493
count-21494
total-21494
count-21495
total-21495
count-21496
total-21496
count-21497
total-21497
count-21498
total-21498
count-21499
total-21499
count-21500
total-21500
count-21501
total-21501
count-21502
total-21502
count-21503
total-21503
count-21504
total-21504
count-21505
total-21505
count-21506
total-21506
count-21507
total-21507
count-21508
total-21508
count-21509
total-21509
count-21510
total-21510
count-21511
total-21511
count-21512
total-21512
count-21513
total-21513
count-21514
total-21514
count-21515
total-21515
count-21516
total-21516
count-21517
total-21517
count-21518
total-21518
row 2double_ele[1, 3]
row 3double_ele[2, 3]
column7 double_ele[2, 3]
row 8double_ele[2, 3]
count-21519
total-21519
count-21520
total-21520
count-21521
total-21521
count-21522
total-21522
count-21523
total-21523
row 2double_ele[2, 3]
count-21524
total-21524
count-21525
total-21525
count-21526
total-21526
count-21527
total-21527
count-21528
total-21528
count-21529
total-21529
count-21530
total-21530
count-21531
total-21531
count-21532
total-21532
count-21533
total-21533
count-21534
total-21534
count-21535
total-21535
count-21536
total-21536
column5 double_ele[2, 3]
count-21537
total-21537
count-21538
total-21538
count-21539
total-21539
count-21540
total-21540
count-21541
total-21541
column4 double_ele[5, 6]
count-21542
total-21542
count-21543
total-21543
count-21544
total-21544
column4 double_ele[3, 5]
count-21545
total-21545
count-21546
total-21546
count-21547
total-21547
count-21548
total-21548
count-21549
total-21549
count-21550
total-21550
count-21551
total-21551
count-21552
total-21552
count-21553
total-21553
count-21554
total-21554
count-21555
total-21555
row 1double_ele[3, 5]
count-21556
total-21556
count-21557
total-21557
row 4double_ele[1, 6]
column5 double_ele[1, 6]
row 6triple_ele[1, 2, 6]
box6 triple_ele[1, 2, 6]
count-21558
total-21558
count-21559
total-21559
count-21560
total-21560
row 2double_ele[1, 7]
column5 double_ele[1, 7]
count-21561
total-21561
count-21562
total-21562
row 9double_ele[3, 5]
count-21563
total-21563
count-21564
total-21564
count-21565
total-21565
count-21566
total-21566
count-21567
total-21567
count-21568
total-21568
count-21569
total-21569
count-21570
total-21570
count-21571
total-21571
count-21572
total-21572
row 7double_ele[2, 4]
count-21573
total-21573
count-21574
total-21574
count-21575
total-21575
count-21576
total-21576
count-21577
total-21577
count-21578
total-21578
count-21579
total-21579
count-21580
total-21580
count-21581
total-21581
count-21582
total-21582
count-21583
total-21583
count-21584
total-21584
count-21585
total-21585
count-21586
total-21586
count-21587
total-21587
count-21588
total-21588
row 1double_ele[4, 8]
count-21589
total-21589
column7 double_ele[2, 4]
row 9double_ele[2, 4]
count-21590
total-21590
row 2double_ele[4, 7]
row 8double_ele[2, 7]
count-21591
total-21591
count-21592
total-21592
count-21593
total-21593
count-21594
total-21594
count-21595
total-21595
count-21596
total-21596
count-21597
total-21597
count-21598
total-21598
count-21599
total-21599
count-21600
total-21600
count-21601
total-21601
count-21602
total-21602
count-21603
total-21603
count-21604
total-21604
count-21605
total-21605
count-21606
total-21606
count-21607
total-21607
count-21608
total-21608
count-21609
total-21609
count-21610
total-21610
count-21611
total-21611
count-21612
total-21612
count-21613
total-21613
count-21614
total-21614
count-21615
total-21615
count-21616
total-21616
count-21617
total-21617
count-21618
total-21618
count-21619
total-21619
count-21620
total-21620
count-21621
total-21621
row 3double_ele[2, 3]
count-21622
total-21622
count-21623
total-21623
count-21624
total-21624
column3 double_ele[4, 7]
count-21625
total-21625
count-21626
total-21626
count-21627
total-21627
count-21628
total-21628
count-21629
total-21629
count-21630
total-21630
count-21631
total-21631
count-21632
total-21632
count-21633
total-21633
count-21634
total-21634
count-21635
total-21635
count-21636
total-21636
count-21637
total-21637
count-21638
total-21638
column3 double_ele[1, 7]
count-21639
total-21639
row 3double_ele[1, 2]
count-21640
total-21640
count-21641
total-21641
column2 double_ele[5, 8]
count-21642
total-21642
count-21643
total-21643
count-21644
total-21644
count-21645
total-21645
count-21646
total-21646
count-21647
total-21647
count-21648
total-21648
count-21649
total-21649
count-21650
total-21650
count-21651
total-21651
count-21652
total-21652
count-21653
total-21653
count-21654
total-21654
count-21655
total-21655
count-21656
total-21656
count-21657
total-21657
count-21658
total-21658
count-21659
total-21659
count-21660
total-21660
count-21661
total-21661
count-21662
total-21662
count-21663
total-21663
count-21664
total-21664
count-21665
total-21665
count-21666
total-21666
count-21667
total-21667
count-21668
total-21668
count-21669
total-21669
count-21670
total-21670
count-21671
total-21671
count-21672
total-21672
count-21673
total-21673
count-21674
total-21674
count-21675
total-21675
column1 double_ele[1, 8]
row 2double_ele[2, 4]
column4 double_ele[2, 4]
row 5double_ele[1, 8]
count-21676
total-21676
count-21677
total-21677
count-21678
total-21678
count-21679
total-21679
count-21680
total-21680
count-21681
total-21681
count-21682
total-21682
count-21683
total-21683
count-21684
total-21684
count-21685
total-21685
count-21686
total-21686
count-21687
total-21687
count-21688
total-21688
count-21689
total-21689
count-21690
total-21690
count-21691
total-21691
count-21692
total-21692
count-21693
total-21693
count-21694
total-21694
count-21695
total-21695
count-21696
total-21696
count-21697
total-21697
count-21698
total-21698
count-21699
total-21699
count-21700
total-21700
count-21701
total-21701
count-21702
total-21702
count-21703
total-21703
count-21704
total-21704
count-21705
total-21705
count-21706
total-21706
count-21707
total-21707
count-21708
total-21708
count-21709
total-21709
count-21710
total-21710
count-21711
total-21711
count-21712
total-21712
column2 double_ele[2, 4]
column3 double_ele[4, 6]
count-21713
total-21713
count-21714
total-21714
count-21715
total-21715
row 1double_ele[1, 7]
column6 double_ele[1, 3]
row 8double_ele[1, 3]
count-21716
total-21716
count-21717
total-21717
count-21718
total-21718
count-21719
total-21719
count-21720
total-21720
column1 double_ele[2, 3]
count-21721
total-21721
count-21722
total-21722
count-21723
total-21723
count-21724
total-21724
count-21725
total-21725
count-21726
total-21726
count-21727
total-21727
count-21728
total-21728
column4 double_ele[1, 3]
column9 double_ele[3, 4]
box6 triple_ele[1, 2, 3]
count-21729
total-21729
count-21730
total-21730
count-21731
total-21731
count-21732
total-21732
count-21733
total-21733
count-21734
total-21734
count-21735
total-21735
count-21736
total-21736
count-21737
total-21737
count-21738
total-21738
count-21739
total-21739
count-21740
total-21740
count-21741
total-21741
count-21742
total-21742
count-21743
total-21743
count-21744
total-21744
count-21745
total-21745
count-21746
total-21746
count-21747
total-21747
count-21748
total-21748
count-21749
total-21749
count-21750
total-21750
count-21751
total-21751
count-21752
total-21752
count-21753
total-21753
count-21754
total-21754
count-21755
total-21755
column3 double_ele[2, 5]
count-21756
total-21756
count-21757
total-21757
count-21758
total-21758
row 7double_ele[1, 6]
column9 double_ele[1, 6]
count-21759
total-21759
count-21760
total-21760
count-21761
total-21761
count-21762
total-21762
count-21763
total-21763
count-21764
total-21764
count-21765
total-21765
count-21766
total-21766
count-21767
total-21767
count-21768
total-21768
count-21769
total-21769
count-21770
total-21770
count-21771
total-21771
count-21772
total-21772
count-21773
total-21773
count-21774
total-21774
count-21775
total-21775
count-21776
total-21776
count-21777
total-21777
count-21778
total-21778
count-21779
total-21779
count-21780
total-21780
count-21781
total-21781
count-21782
total-21782
column3 double_ele[1, 4]
count-21783
total-21783

count-21784
total-21784
count-21785
total-21785
count-21786
total-21786
count-21787
total-21787
row 7double_ele[2, 5]
count-21788
total-21788
count-21789
total-21789
count-21790
total-21790
count-21791
total-21791
count-21792
total-21792
count-21793
total-21793
count-21794
total-21794
count-21795
total-21795
count-21796
total-21796
column2 double_ele[3, 5]
column5 double_ele[1, 3]
count-21797
total-21797
count-21798
total-21798
count-21799
total-21799
count-21800
total-21800
count-21801
total-21801
count-21802
total-21802
count-21803
total-21803
count-21804
total-21804
count-21805
total-21805
count-21806
total-21806
count-21807
total-21807
count-21808
total-21808
count-21809
total-21809
count-21810
total-21810
count-21811
total-21811
count-21812
total-21812
count-21813
total-21813
count-21814
total-21814
count-21815
total-21815
count-21816
total-21816
row 1double_ele[1, 7]
count-21817
total-21817
count-21818
total-21818
count-21819
total-21819
count-21820
total-21820
count-21821
total-21821
count-21822
total-21822
count-21823
total-21823
row 8double_ele[2, 3]
count-21824
total-21824
count-21825
total-21825
column9 double_ele[2, 4]
count-21826
total-21826
count-21827
total-21827
count-21828
total-21828
count-21829
total-21829
count-21830
total-21830
count-21831
total-21831
count-21832
total-21832
count-21833
total-21833
count-21834
total-21834
count-21835
total-21835
count-21836
total-21836
count-21837
total-21837
count-21838
total-21838
count-21839
total-21839
count-21840
total-21840
count-21841
total-21841
count-21842
total-21842
count-21843
total-21843
count-21844
total-21844
count-21845
total-21845
count-21846
total-21846
count-21847
total-21847
row 1double_ele[1, 6]
column1 double_ele[1, 6]
count-21848
total-21848
row 2double_ele[2, 4]
count-21849
total-21849
count-21850
total-21850
count-21851
total-21851
count-21852
total-21852
count-21853
total-21853
count-21854
total-21854
count-21855
total-21855
count-21856
total-21856
count-21857
total-21857
count-21858
total-21858
count-21859
total-21859
count-21860
total-21860
count-21861
total-21861
count-21862
total-21862
count-21863
total-21863
row 3double_ele[3, 6]
row 5double_ele[1, 2]
row 7double_ele[1, 6]
count-21864
total-21864
count-21865
total-21865
count-21866
total-21866
count-21867
total-21867
row 1double_ele[3, 9]
column1 double_ele[3, 9]
row 7double_ele[4, 9]
count-21868
total-21868
count-21869
total-21869
count-21870
total-21870
count-21871
total-21871
row 1double_ele[2, 5]
count-21872
total-21872
box3 triple_ele[1, 3, 6]
count-21873
total-21873
column2 double_ele[3, 7]
count-21874
total-21874
count-21875
total-21875
count-21876
total-21876
count-21877
total-21877
row 9double_ele[5, 7]
count-21878
total-21878
count-21879
total-21879
count-21880
total-21880
count-21881
total-21881
count-21882
total-21882
count-21883
total-21883
count-21884
total-21884
count-21885
total-21885
column9 double_ele[3, 7]
count-21886
total-21886
count-21887
total-21887
count-21888
total-21888
count-21889
total-21889
row 3double_ele[1, 3]
column5 double_ele[1, 3]
count-21890
total-21890
count-21891
total-21891
count-21892
total-21892
count-21893
total-21893
count-21894
total-21894
count-21895
total-21895
count-21896
total-21896
count-21897
total-21897
count-21898
total-21898
count-21899
total-21899
count-21900
total-21900
count-21901
total-21901
count-21902
total-21902
count-21903
total-21903
count-21904
total-21904
count-21905
total-21905
count-21906
total-21906
count-21907
total-21907
count-21908
total-21908
count-21909
total-21909
count-21910
total-21910
count-21911
total-21911
count-21912
total-21912
count-21913
total-21913
column3 double_ele[1, 4]
row 6double_ele[1, 4]
count-21914
total-21914
count-21915
total-21915
count-21916
total-21916
count-21917
total-21917
count-21918
total-21918
count-21919
total-21919
count-21920
total-21920
count-21921
total-21921
column2 double_ele[2, 5]
count-21922
total-21922
count-21923
total-21923
count-21924
total-21924
count-21925
total-21925
count-21926
total-21926
count-21927
total-21927
count-21928
total-21928
count-21929
total-21929
count-21930
total-21930
count-21931
total-21931
count-21932
total-21932
count-21933
total-21933
count-21934
total-21934
count-21935
total-21935
count-21936
total-21936
count-21937
total-21937
count-21938
total-21938
count-21939
total-21939
count-21940
total-21940
count-21941
total-21941
count-21942
total-21942
count-21943
total-21943
count-21944
total-21944
count-21945
total-21945
count-21946
total-21946
row 2double_ele[1, 2]
count-21947
total-21947
count-21948
total-21948
count-21949
total-21949
count-21950
total-21950
count-21951
total-21951
count-21952
total-21952
count-21953
total-21953
count-21954
total-21954
count-21955
total-21955
count-21956
total-21956
count-21957
total-21957
count-21958
total-21958
count-21959
total-21959
count-21960
total-21960
count-21961
total-21961
count-21962
total-21962
count-21963
total-21963
count-21964
total-21964
count-21965
total-21965
count-21966
total-21966
count-21967
total-21967
count-21968
total-21968
count-21969
total-21969
count-21970
total-21970
count-21971
total-21971
count-21972
total-21972
count-21973
total-21973
count-21974
total-21974
count-21975
total-21975
count-21976
total-21976
count-21977
total-21977
count-21978
total-21978
count-21979
total-21979
count-21980
total-21980
count-21981
total-21981
count-21982
total-21982
column1 double_ele[1, 2]
count-21983
total-21983
column3 double_ele[1, 3]
count-21984
total-21984
count-21985
total-21985
count-21986
total-21986
row 8double_ele[3, 5]
column8 double_ele[5, 8]
count-21987
total-21987
count-21988
total-21988
count-21989
total-21989
count-21990
total-21990
count-21991
total-21991
count-21992
total-21992
count-21993
total-21993
count-21994
total-21994
column8 double_ele[1, 3]
count-21995
total-21995
count-21996
total-21996
count-21997
total-21997
row 6double_ele[4, 7]
count-21998
total-21998
row 7double_ele[3, 4]
count-21999
total-21999
count-22000
total-22000
count-22001
total-22001
count-22002
total-22002
count-22003
total-22003
count-22004
total-22004
count-22005
total-22005
count-22006
total-22006
count-22007
total-22007
count-22008
total-22008
count-22009
total-22009
count-22010
total-22010
count-22011
total-22011
row 2double_ele[1, 6]
count-22012
total-22012
count-22013
total-22013
row 7double_ele[2, 4]
row 8double_ele[2, 4]
column8 double_ele[2, 4]
count-22014
total-22014
count-22015
total-22015
count-22016
total-22016
row 8double_ele[1, 4]
count-22017
total-22017
row 6double_ele[1, 5]
column7 double_ele[3, 6]
box9 triple_ele[1, 5, 6]
count-22018
total-22018
count-22019
total-22019
count-22020
total-22020
count-22021
total-22021
count-22022
total-22022
count-22023
total-22023
count-22024
total-22024
count-22025
total-22025
count-22026
total-22026
count-22027
total-22027
row 2double_ele[2, 5]
column3 double_ele[2, 5]
row 8double_ele[4, 5]
count-22028
total-22028
count-22029
total-22029
count-22030
total-22030
count-22031
total-22031
count-22032
total-22032
count-22033
total-22033
count-22034
total-22034
count-22035
total-22035
count-22036
total-22036
count-22037
total-22037
count-22038
total-22038
column7 double_ele[1, 4]
row 8double_ele[1, 4]
count-22039
total-22039
count-22040
total-22040
count-22041
total-22041
count-22042
total-22042
count-22043
total-22043
column3 double_ele[4, 8]
count-22044
total-22044
count-22045
total-22045
count-22046
total-22046
count-22047
total-22047
count-22048
total-22048
count-22049
total-22049
count-22050
total-22050
column1 double_ele[1, 2]
row 4double_ele[1, 2]
count-22051
total-22051
row 5double_ele[1, 2]
count-22052
total-22052
count-22053
total-22053
count-22054
total-22054
count-22055
total-22055
count-22056
total-22056
count-22057
total-22057
count-22058
total-22058
count-22059
total-22059
count-22060
total-22060
count-22061
total-22061
count-22062
total-22062
count-22063
total-22063
count-22064
total-22064
count-22065
total-22065
count-22066
total-22066
count-22067
total-22067
count-22068
total-22068
count-22069
total-22069
count-22070
total-22070
count-22071
total-22071
count-22072
total-22072
count-22073
total-22073
count-22074
total-22074
count-22075
total-22075
count-22076
total-22076

count-22077
total-22077
count-22078
total-22078
column4 double_ele[1, 2]
count-22079
total-22079
count-22080
total-22080
count-22081
total-22081
count-22082
total-22082
column6 double_ele[3, 5]
count-22083
total-22083
column9 double_ele[3, 7]
count-22084
total-22084
count-22085
total-22085
row 1double_ele[1, 8]
row 2double_ele[2, 6]
row 4double_ele[6, 8]
column8 double_ele[2, 6]
count-22086
total-22086
count-22087
total-22087
count-22088
total-22088
count-22089
total-22089
count-22090
total-22090
count-22091
total-22091
count-22092
total-22092
count-22093
total-22093
count-22094
total-22094
count-22095
total-22095
count-22096
total-22096
count-22097
total-22097
count-22098
total-22098
count-22099
total-22099
count-22100
total-22100
row 4double_ele[1, 6]
count-22101
total-22101
count-22102
total-22102
count-22103
total-22103
count-22104
total-22104
column8 double_ele[2, 3]
count-22105
total-22105
count-22106
total-22106
column7 double_ele[3, 7]
count-22107
total-22107
count-22108
total-22108
count-22109
total-22109
column7 double_ele[2, 3]
column9 double_ele[3, 4]
count-22110
total-22110
count-22111
total-22111
count-22112
total-22112
count-22113
total-22113
count-22114
total-22114
column4 double_ele[3, 6]
row 5double_ele[3, 6]
count-22115
total-22115
count-22116
total-22116
count-22117
total-22117
count-22118
total-22118
count-22119
total-22119
row 9double_ele[6, 7]
count-22120
total-22120
column9 double_ele[2, 3]
count-22121
total-22121
count-22122
total-22122
count-22123
total-22123
count-22124
total-22124
count-22125
total-22125
count-22126
total-22126
count-22127
total-22127
count-22128
total-22128
count-22129
total-22129
count-22130
total-22130
row 6double_ele[2, 6]
count-22131
total-22131
count-22132
total-22132
column3 double_ele[6, 9]
count-22133
total-22133
count-22134
total-22134
row 6double_ele[3, 4]
count-22135
total-22135
row 1double_ele[1, 5]
column9 double_ele[1, 5]
count-22136
total-22136
count-22137
total-22137
count-22138
total-22138
count-22139
total-22139
count-22140
total-22140
column4 double_ele[2, 9]
column5 double_ele[7, 9]
column8 double_ele[1, 2]
row 6triple_ele[1, 2, 7]
box6 triple_ele[1, 2, 7]
count-22141
total-22141
count-22142
total-22142
count-22143
total-22143
count-22144
total-22144
count-22145
total-22145
row 4double_ele[3, 5]
count-22146
total-22146
count-22147
total-22147
count-22148
total-22148
column4 double_ele[4, 6]
count-22149
total-22149
column8 double_ele[1, 5]
count-22150
total-22150
count-22151
total-22151
count-22152
total-22152
row 8double_ele[2, 5]
count-22153
total-22153
count-22154
total-22154
count-22155
total-22155
count-22156
total-22156
count-22157
total-22157
count-22158
total-22158
count-22159
total-22159
count-22160
total-22160
count-22161
total-22161
row 4double_ele[3, 5]
count-22162
total-22162
count-22163
total-22163
count-22164
total-22164
count-22165
total-22165
count-22166
total-22166
count-22167
total-22167
count-22168
total-22168
count-22169
total-22169
column5 double_ele[1, 4]
column7 double_ele[4, 6]
count-22170
total-22170
count-22171
total-22171
count-22172
total-22172
count-22173
total-22173
count-22174
total-22174
count-22175
total-22175
count-22176
total-22176
count-22177
total-22177
count-22178
total-22178
count-22179
total-22179
count-22180
total-22180
count-22181
total-22181
count-22182
total-22182
column9 double_ele[1, 3]
count-22183
total-22183
column4 double_ele[1, 5]
count-22184
total-22184
count-22185
total-22185
count-22186
total-22186
count-22187
total-22187
count-22188
total-22188
count-22189
total-22189
count-22190
total-22190
row 5double_ele[1, 4]
count-22191
total-22191
count-22192
total-22192
count-22193
total-22193
count-22194
total-22194
count-22195
total-22195
column5 double_ele[1, 3]
count-22196
total-22196
count-22197
total-22197
count-22198
total-22198
count-22199
total-22199
count-22200
total-22200
count-22201
total-22201
count-22202
total-22202
count-22203
total-22203
count-22204
total-22204
count-22205
total-22205
count-22206
total-22206
count-22207
total-22207
count-22208
total-22208
count-22209
total-22209
count-22210
total-22210
count-22211
total-22211
count-22212
total-22212
count-22213
total-22213
count-22214
total-22214
count-22215
total-22215
count-22216
total-22216
count-22217
total-22217
column5 double_ele[1, 3]
count-22218
total-22218
count-22219
total-22219
count-22220
total-22220
count-22221
total-22221
row 7double_ele[2, 5]
count-22222
total-22222
column5 double_ele[3, 5]
count-22223
total-22223
count-22224
total-22224
count-22225
total-22225
count-22226
total-22226
count-22227
total-22227
count-22228
total-22228
count-22229
total-22229
count-22230
total-22230
count-22231
total-22231
count-22232
total-22232
count-22233
total-22233
count-22234
total-22234
count-22235
total-22235
count-22236
total-22236
count-22237
total-22237
count-22238
total-22238
count-22239
total-22239
count-22240
total-22240
count-22241
total-22241
column2 double_ele[1, 9]
row 4double_ele[4, 9]
column5 double_ele[4, 9]
count-22242
total-22242
count-22243
total-22243
count-22244
total-22244
count-22245
total-22245
count-22246
total-22246
count-22247
total-22247
count-22248
total-22248
count-22249
total-22249
count-22250
total-22250
count-22251
total-22251
row 5double_ele[1, 3]
count-22252
total-22252
count-22253
total-22253
count-22254
total-22254
count-22255
total-22255
count-22256
total-22256
column5 double_ele[1, 6]
count-22257
total-22257
count-22258
total-22258
count-22259
total-22259
count-22260
total-22260
row 9double_ele[3, 6]
count-22261
total-22261
count-22262
total-22262
count-22263
total-22263
row 4double_ele[2, 7]
count-22264
total-22264
count-22265
total-22265
count-22266
total-22266
count-22267
total-22267
count-22268
total-22268
count-22269
total-22269
count-22270
total-22270
count-22271
total-22271
count-22272
total-22272
count-22273
total-22273
count-22274
total-22274
row 1double_ele[1, 9]
row 8double_ele[5, 9]
count-22275
total-22275
row 4double_ele[1, 3]
column6 double_ele[1, 3]
count-22276
total-22276
count-22277
total-22277
count-22278
total-22278
count-22279
total-22279
count-22280
total-22280
count-22281
total-22281
count-22282
total-22282
count-22283
total-22283
count-22284
total-22284
count-22285
total-22285
count-22286
total-22286
count-22287
total-22287
count-22288
total-22288
count-22289
total-22289
count-22290
total-22290
count-22291
total-22291
count-22292
total-22292
count-22293
total-22293
count-22294
total-22294
column6 double_ele[3, 4]
count-22295
total-22295
count-22296
total-22296
count-22297
total-22297
count-22298
total-22298
count-22299
total-22299
count-22300
total-22300
count-22301
total-22301
count-22302
total-22302
count-22303
total-22303
count-22304
total-22304
count-22305
total-22305
count-22306
total-22306
count-22307
total-22307
count-22308
total-22308
count-22309
total-22309
count-22310
total-22310
count-22311
total-22311
count-22312
total-22312
count-22313
total-22313
count-22314
total-22314
column2 double_ele[2, 8]
column6 double_ele[2, 8]
row 7double_ele[2, 8]
count-22315
total-22315
count-22316
total-22316
count-22317
total-22317
count-22318
total-22318
count-22319
total-22319
count-22320
total-22320
count-22321
total-22321
count-22322
total-22322
count-22323
total-22323
count-22324
total-22324
row 2double_ele[1, 4]
count-22325
total-22325
count-22326
total-22326
count-22327
total-22327
count-22328
total-22328
count-22329
total-22329
count-22330
total-22330
count-22331
total-22331
row 5double_ele[1, 2]
column6 double_ele[1, 2]
count-22332
total-22332
count-22333
total-22333
count-22334
total-22334
count-22335
total-22335
row 8double_ele[1, 6]
column9 double_ele[1, 6]
count-22336
total-22336
count-22337
total-22337
count-22338
total-22338
count-22339
total-22339
count-22340
total-22340
count-22341
total-22341
count-22342
total-22342
count-22343
total-22343
count-22344
total-22344
count-22345
total-22345
count-22346
total-22346
count-22347
total-22347
count-22348
total-22348
count-22349
total-22349
count-22350
total-22350
count-22351
total-22351
count-22352
total-22352
count-22353
total-22353
count-22354
total-22354
count-22355
total-22355
count-22356
total-22356
count-22357
total-22357
count-22358
total-22358
count-22359
total-22359
count-22360
total-22360
count-22361
total-22361
count-22362
total-22362
count-22363
total-22363
count-22364
total-22364
count-22365
total-22365
count-22366
total-22366
count-22367
total-22367
count-22368
total-22368

count-22369
total-22369
row 2double_ele[2, 5]
count-22370
total-22370
count-22371
total-22371
count-22372
total-22372
count-22373
total-22373
row 2double_ele[1, 3]
column2 double_ele[1, 3]
row 4double_ele[1, 6]
count-22374
total-22374
count-22375
total-22375
count-22376
total-22376
count-22377
total-22377
count-22378
total-22378
count-22379
total-22379
count-22380
total-22380
count-22381
total-22381
count-22382
total-22382
count-22383
total-22383
count-22384
total-22384
count-22385
total-22385
count-22386
total-22386
count-22387
total-22387
count-22388
total-22388
count-22389
total-22389
count-22390
total-22390
count-22391
total-22391
count-22392
total-22392
count-22393
total-22393
count-22394
total-22394
count-22395
total-22395
count-22396
total-22396
count-22397
total-22397
count-22398
total-22398
count-22399
total-22399
count-22400
total-22400
count-22401
total-22401
count-22402
total-22402
count-22403
total-22403
count-22404
total-22404
count-22405
total-22405
count-22406
total-22406
count-22407
total-22407
count-22408
total-22408
count-22409
total-22409
count-22410
total-22410
count-22411
total-22411
count-22412
total-22412
count-22413
total-22413
count-22414
total-22414
count-22415
total-22415
count-22416
total-22416
count-22417
total-22417
count-22418
total-22418
count-22419
total-22419
count-22420
total-22420
count-22421
total-22421
count-22422
total-22422
count-22423
total-22423
count-22424
total-22424
count-22425
total-22425
row 1double_ele[2, 5]
count-22426
total-22426
count-22427
total-22427
count-22428
total-22428
count-22429
total-22429
count-22430
total-22430
count-22431
total-22431
column4 double_ele[1, 4]
count-22432
total-22432
count-22433
total-22433
count-22434
total-22434
count-22435
total-22435
count-22436
total-22436
row 8double_ele[3, 4]
count-22437
total-22437
count-22438
total-22438
count-22439
total-22439
count-22440
total-22440
count-22441
total-22441
count-22442
total-22442
count-22443
total-22443
count-22444
total-22444
count-22445
total-22445
count-22446
total-22446
count-22447
total-22447
count-22448
total-22448
count-22449
total-22449
count-22450
total-22450
count-22451
total-22451
count-22452
total-22452
count-22453
total-22453
count-22454
total-22454
count-22455
total-22455
count-22456
total-22456
count-22457
total-22457
count-22458
total-22458
row 1double_ele[1, 5]
column1 double_ele[1, 5]
count-22459
total-22459
count-22460
total-22460
count-22461
total-22461
count-22462
total-22462
count-22463
total-22463
count-22464
total-22464
count-22465
total-22465
count-22466
total-22466
count-22467
total-22467
count-22468
total-22468
count-22469
total-22469
count-22470
total-22470
count-22471
total-22471
row 3double_ele[1, 6]
count-22472
total-22472
row 3double_ele[2, 6]
row 7double_ele[2, 3]
count-22473
total-22473
count-22474
total-22474
count-22475
total-22475
count-22476
total-22476
count-22477
total-22477
count-22478
total-22478
count-22479
total-22479
count-22480
total-22480
column8 double_ele[1, 3]
count-22481
total-22481
row 4double_ele[2, 4]
count-22482
total-22482
count-22483
total-22483
count-22484
total-22484
row 6double_ele[2, 3]
count-22485
total-22485
count-22486
total-22486
count-22487
total-22487
column4 double_ele[5, 8]
count-22488
total-22488
count-22489
total-22489
count-22490
total-22490
count-22491
total-22491
count-22492
total-22492
count-22493
total-22493
count-22494
total-22494
count-22495
total-22495
count-22496
total-22496
count-22497
total-22497
count-22498
total-22498
count-22499
total-22499
count-22500
total-22500
count-22501
total-22501
count-22502
total-22502
count-22503
total-22503
count-22504
total-22504
count-22505
total-22505
count-22506
total-22506
count-22507
total-22507
count-22508
total-22508
count-22509
total-22509
count-22510
total-22510
count-22511
total-22511
count-22512
total-22512
count-22513
total-22513
count-22514
total-22514
count-22515
total-22515
count-22516
total-22516
count-22517
total-22517
count-22518
total-22518
count-22519
total-22519
count-22520
total-22520
count-22521
total-22521
count-22522
total-22522
count-22523
total-22523
count-22524
total-22524
count-22525
total-22525
count-22526
total-22526
count-22527
total-22527
count-22528
total-22528
count-22529
total-22529
row 7double_ele[2, 3]
count-22530
total-22530
count-22531
total-22531
count-22532
total-22532
row 5double_ele[4, 7]
count-22533
total-22533
count-22534
total-22534
count-22535
total-22535
count-22536
total-22536
count-22537
total-22537
count-22538
total-22538
count-22539
total-22539
count-22540
total-22540
count-22541
total-22541
count-22542
total-22542
count-22543
total-22543
count-22544
total-22544
count-22545
total-22545
count-22546
total-22546
count-22547
total-22547
count-22548
total-22548
count-22549
total-22549
count-22550
total-22550
count-22551
total-22551
count-22552
total-22552
count-22553
total-22553
count-22554
total-22554
column3 double_ele[3, 5]
count-22555
total-22555
count-22556
total-22556
count-22557
total-22557
count-22558
total-22558
column9 double_ele[2, 5]
count-22559
total-22559
count-22560
total-22560
count-22561
total-22561
count-22562
total-22562
column3 double_ele[2, 3]
count-22563
total-22563
count-22564
total-22564
count-22565
total-22565
count-22566
total-22566
count-22567
total-22567
count-22568
total-22568
count-22569
total-22569
count-22570
total-22570
count-22571
total-22571
count-22572
total-22572
count-22573
total-22573
column2 double_ele[1, 6]
count-22574
total-22574
count-22575
total-22575
count-22576
total-22576
count-22577
total-22577
count-22578
total-22578
count-22579
total-22579
count-22580
total-22580
count-22581
total-22581
count-22582
total-22582
count-22583
total-22583
count-22584
total-22584
count-22585
total-22585
count-22586
total-22586
count-22587
total-22587
count-22588
total-22588
row 7double_ele[2, 3]
count-22589
total-22589
count-22590
total-22590
count-22591
total-22591
count-22592
total-22592
count-22593
total-22593
count-22594
total-22594
count-22595
total-22595
count-22596
total-22596
count-22597
total-22597
column1 double_ele[1, 4]
count-22598
total-22598
count-22599
total-22599
count-22600
total-22600
count-22601
total-22601
count-22602
total-22602
row 5double_ele[2, 6]
count-22603
total-22603
row 6double_ele[2, 5]
count-22604
total-22604
count-22605
total-22605
count-22606
total-22606
count-22607
total-22607
count-22608
total-22608
row 1double_ele[2, 3]
count-22609
total-22609
count-22610
total-22610
count-22611
total-22611
count-22612
total-22612
column8 double_ele[4, 7]
count-22613
total-22613
count-22614
total-22614
column6 double_ele[4, 5]
count-22615
total-22615
count-22616
total-22616
count-22617
total-22617
count-22618
total-22618
count-22619
total-22619
count-22620
total-22620
count-22621
total-22621
column9 double_ele[2, 4]
count-22622
total-22622
count-22623
total-22623
count-22624
total-22624
count-22625
total-22625
count-22626
total-22626
count-22627
total-22627
count-22628
total-22628
count-22629
total-22629
count-22630
total-22630
count-22631
total-22631
count-22632
total-22632
count-22633
total-22633
count-22634
total-22634
count-22635
total-22635
row 1double_ele[2, 5]
count-22636
total-22636
count-22637
total-22637
count-22638
total-22638
count-22639
total-22639
count-22640
total-22640
count-22641
total-22641
count-22642
total-22642
count-22643
total-22643
count-22644
total-22644
count-22645
total-22645
count-22646
total-22646
count-22647
total-22647
column2 double_ele[2, 5]
row 3double_ele[2, 5]
count-22648
total-22648
count-22649
total-22649
count-22650
total-22650
row 3double_ele[1, 5]
count-22651
total-22651
count-22652
total-22652
count-22653
total-22653
count-22654
total-22654
count-22655
total-22655
row 1double_ele[1, 5]
count-22656
total-22656
count-22657
total-22657
count-22658
total-22658
count-22659
total-22659
count-22660
total-22660
count-22661
total-22661
row 8double_ele[1, 6]
count-22662
total-22662
count-22663
total-22663
row 5double_ele[2, 4]
column8 double_ele[2, 4]
count-22664
total-22664
count-22665
total-22665
count-22666
total-22666
count-22667
total-22667
count-22668
total-22668
row 9double_ele[2, 4]
count-22669
total-22669
row 9double_ele[3, 5]
count-22670
total-22670
count-22671
total-22671
count-22672
total-22672
count-22673
total-22673
count-22674
total-22674
count-22675
total-22675
count-22676
total-22676
count-22677
total-22677
count-22678
total-22678
count-22679
total-22679
count-22680
total-22680
count-22681
total-22681
count-22682
total-22682
row 1double_ele[1, 8]
column4 double_ele[1, 8]
count-22683
total-22683
count-22684
total-22684
count-22685
total-22685
column2 double_ele[2, 3]
column5 double_ele[3, 8]
count-22686
total-22686
count-22687
total-22687
count-22688
total-22688
count-22689
total-22689
count-22690
total-22690
count-22691
total-22691

count-22692
total-22692
count-22693
total-22693
count-22694
total-22694
count-22695
total-22695
count-22696
total-22696
count-22697
total-22697
count-22698
total-22698
count-22699
total-22699
count-22700
total-22700
count-22701
total-22701
count-22702
total-22702
count-22703
total-22703
count-22704
total-22704
count-22705
total-22705
count-22706
total-22706
count-22707
total-22707
count-22708
total-22708
count-22709
total-22709
count-22710
total-22710
row 1double_ele[2, 5]
column6 double_ele[2, 5]
row 8double_ele[2, 5]
count-22711
total-22711
count-22712
total-22712
count-22713
total-22713
count-22714
total-22714
count-22715
total-22715
count-22716
total-22716
count-22717
total-22717
count-22718
total-22718
count-22719
total-22719
count-22720
total-22720
count-22721
total-22721
count-22722
total-22722
count-22723
total-22723
count-22724
total-22724
count-22725
total-22725
count-22726
total-22726
count-22727
total-22727
count-22728
total-22728
count-22729
total-22729
row 9double_ele[1, 6]
count-22730
total-22730
count-22731
total-22731
count-22732
total-22732
count-22733
total-22733
count-22734
total-22734
count-22735
total-22735
count-22736
total-22736
count-22737
total-22737
count-22738
total-22738
count-22739
total-22739
count-22740
total-22740
count-22741
total-22741
count-22742
total-22742
count-22743
total-22743
count-22744
total-22744
count-22745
total-22745
count-22746
total-22746
count-22747
total-22747
count-22748
total-22748
count-22749
total-22749
count-22750
total-22750
count-22751
total-22751
count-22752
total-22752
count-22753
total-22753
count-22754
total-22754
count-22755
total-22755
column9 double_ele[4, 5]
count-22756
total-22756
count-22757
total-22757
count-22758
total-22758
count-22759
total-22759
count-22760
total-22760
count-22761
total-22761
column5 double_ele[2, 5]
count-22762
total-22762
count-22763
total-22763
count-22764
total-22764
count-22765
total-22765
count-22766
total-22766
count-22767
total-22767
column1 double_ele[1, 5]
count-22768
total-22768
row 7double_ele[1, 3]
count-22769
total-22769
count-22770
total-22770
count-22771
total-22771
count-22772
total-22772
count-22773
total-22773
count-22774
total-22774
count-22775
total-22775
count-22776
total-22776
count-22777
total-22777
count-22778
total-22778
count-22779
total-22779
count-22780
total-22780
column9 double_ele[1, 3]
count-22781
total-22781
count-22782
total-22782
count-22783
total-22783
column8 double_ele[3, 5]
count-22784
total-22784
count-22785
total-22785
count-22786
total-22786
count-22787
total-22787
count-22788
total-22788
count-22789
total-22789
count-22790
total-22790
count-22791
total-22791
count-22792
total-22792
count-22793
total-22793
row 5double_ele[1, 2]
count-22794
total-22794
count-22795
total-22795
count-22796
total-22796
count-22797
total-22797
count-22798
total-22798
column3 double_ele[1, 7]
column7 double_ele[2, 7]
count-22799
total-22799
count-22800
total-22800
column7 double_ele[6, 7]
count-22801
total-22801
row 5double_ele[2, 5]
row 7double_ele[2, 6]
column7 double_ele[2, 6]
count-22802
total-22802
count-22803
total-22803
count-22804
total-22804
count-22805
total-22805
row 4double_ele[2, 6]
count-22806
total-22806
count-22807
total-22807
count-22808
total-22808
count-22809
total-22809
count-22810
total-22810
count-22811
total-22811
column2 double_ele[1, 8]
row 6double_ele[1, 8]
row 7double_ele[1, 8]
count-22812
total-22812
count-22813
total-22813
count-22814
total-22814
count-22815
total-22815
count-22816
total-22816
count-22817
total-22817
row 1double_ele[3, 4]
column4 double_ele[3, 4]
count-22818
total-22818
count-22819
total-22819
count-22820
total-22820
column1 double_ele[5, 7]
count-22821
total-22821
count-22822
total-22822
count-22823
total-22823
count-22824
total-22824
count-22825
total-22825
count-22826
total-22826
column7 double_ele[2, 5]
count-22827
total-22827
count-22828
total-22828
row 8double_ele[2, 3]
column9 double_ele[2, 3]
count-22829
total-22829
column1 double_ele[1, 2]
row 4double_ele[2, 5]
row 8double_ele[5, 9]
column9 double_ele[2, 5]
count-22830
total-22830
row 3double_ele[3, 5]
column4 double_ele[3, 5]
count-22831
total-22831
count-22832
total-22832
count-22833
total-22833
count-22834
total-22834
count-22835
total-22835
count-22836
total-22836
column2 double_ele[1, 7]
count-22837
total-22837
row 6double_ele[3, 5]
column8 double_ele[3, 5]
count-22838
total-22838
count-22839
total-22839
count-22840
total-22840
count-22841
total-22841
count-22842
total-22842
count-22843
total-22843
count-22844
total-22844
count-22845
total-22845
count-22846
total-22846
count-22847
total-22847
count-22848
total-22848
count-22849
total-22849
count-22850
total-22850
count-22851
total-22851
count-22852
total-22852
count-22853
total-22853
count-22854
total-22854
count-22855
total-22855
count-22856
total-22856
count-22857
total-22857
count-22858
total-22858
column5 double_ele[1, 7]
count-22859
total-22859
count-22860
total-22860
count-22861
total-22861
count-22862
total-22862
column3 double_ele[1, 8]
count-22863
total-22863
count-22864
total-22864
row 8double_ele[4, 5]
count-22865
total-22865
count-22866
total-22866
count-22867
total-22867
count-22868
total-22868
count-22869
total-22869
count-22870
total-22870
count-22871
total-22871
count-22872
total-22872
count-22873
total-22873
count-22874
total-22874
count-22875
total-22875
count-22876
total-22876
count-22877
total-22877
count-22878
total-22878
row 7double_ele[1, 5]
count-22879
total-22879
count-22880
total-22880
count-22881
total-22881
count-22882
total-22882
count-22883
total-22883
row 1double_ele[3, 4]
column5 double_ele[3, 4]
count-22884
total-22884
row 1double_ele[1, 8]
count-22885
total-22885
count-22886
total-22886
count-22887
total-22887
column1 double_ele[1, 3]
row 3double_ele[1, 3]
row 5double_ele[1, 3]
count-22888
total-22888
count-22889
total-22889
count-22890
total-22890
count-22891
total-22891
count-22892
total-22892
count-22893
total-22893
count-22894
total-22894
count-22895
total-22895
count-22896
total-22896
count-22897
total-22897
count-22898
total-22898
count-22899
total-22899
count-22900
total-22900
count-22901
total-22901
count-22902
total-22902
count-22903
total-22903
count-22904
total-22904
count-22905
total-22905
count-22906
total-22906
count-22907
total-22907
count-22908
total-22908
count-22909
total-22909
count-22910
total-22910
count-22911
total-22911
count-22912
total-22912
count-22913
total-22913
count-22914
total-22914
count-22915
total-22915
column3 double_ele[3, 7]
column4 double_ele[1, 3]
count-22916
total-22916
count-22917
total-22917
count-22918
total-22918
count-22919
total-22919
count-22920
total-22920
column3 double_ele[1, 8]
count-22921
total-22921
count-22922
total-22922
count-22923
total-22923
count-22924
total-22924
count-22925
total-22925
count-22926
total-22926
count-22927
total-22927
count-22928
total-22928
count-22929
total-22929
count-22930
total-22930
count-22931
total-22931
count-22932
total-22932
count-22933
total-22933
count-22934
total-22934
count-22935
total-22935
count-22936
total-22936
count-22937
total-22937
count-22938
total-22938
count-22939
total-22939
count-22940
total-22940
column2 double_ele[4, 7]
count-22941
total-22941
count-22942
total-22942
count-22943
total-22943
count-22944
total-22944
count-22945
total-22945
count-22946
total-22946
count-22947
total-22947
row 3double_ele[2, 3]
count-22948
total-22948
count-22949
total-22949
count-22950
total-22950
count-22951
total-22951
count-22952
total-22952
row 3double_ele[2, 9]
row 4double_ele[4, 9]
count-22953
total-22953
count-22954
total-22954
count-22955
total-22955
count-22956
total-22956
count-22957
total-22957
row 7double_ele[1, 2]
column8 double_ele[1, 4]
count-22958
total-22958
count-22959
total-22959
row 2double_ele[2, 8]
column3 double_ele[2, 8]
column6 double_ele[2, 3]
column7 double_ele[2, 8]
count-22960
total-22960
count-22961
total-22961
count-22962
total-22962
count-22963
total-22963
count-22964
total-22964
count-22965
total-22965
count-22966
total-22966
count-22967
total-22967
count-22968
total-22968
row 4double_ele[2, 5]
count-22969
total-22969
count-22970
total-22970
count-22971
total-22971
count-22972
total-22972
count-22973
total-22973
count-22974
total-22974
count-22975
total-22975
count-22976
total-22976
count-22977
total-22977
count-22978
total-22978
count-22979
total-22979
row 3double_ele[2, 7]
row 5double_ele[1, 2]
count-22980
total-22980
count-22981
total-22981
count-22982
total-22982
count-22983
total-22983

count-22984
total-22984
count-22985
total-22985
box9 triple_ele[1, 3, 4]
count-22986
total-22986
count-22987
total-22987
count-22988
total-22988
count-22989
total-22989
count-22990
total-22990
count-22991
total-22991
count-22992
total-22992
count-22993
total-22993
count-22994
total-22994
count-22995
total-22995
count-22996
total-22996
count-22997
total-22997
count-22998
total-22998
count-22999
total-22999
count-23000
total-23000
count-23001
total-23001
count-23002
total-23002
count-23003
total-23003
count-23004
total-23004
count-23005
total-23005
count-23006
total-23006
count-23007
total-23007
count-23008
total-23008
count-23009
total-23009
column6 double_ele[4, 5]
count-23010
total-23010
count-23011
total-23011
count-23012
total-23012
count-23013
total-23013
count-23014
total-23014
count-23015
total-23015
row 1double_ele[2, 3]
count-23016
total-23016
count-23017
total-23017
row 1double_ele[2, 3]
box3 triple_ele[1, 2, 3]
count-23018
total-23018
count-23019
total-23019
row 5double_ele[3, 4]
count-23020
total-23020
count-23021
total-23021
count-23022
total-23022
count-23023
total-23023
count-23024
total-23024
count-23025
total-23025
count-23026
total-23026
count-23027
total-23027
count-23028
total-23028
count-23029
total-23029
row 8double_ele[2, 5]
count-23030
total-23030
count-23031
total-23031
count-23032
total-23032
count-23033
total-23033
count-23034
total-23034
count-23035
total-23035
count-23036
total-23036
count-23037
total-23037
count-23038
total-23038
count-23039
total-23039
count-23040
total-23040
count-23041
total-23041
count-23042
total-23042
column4 double_ele[3, 4]
count-23043
total-23043
count-23044
total-23044
count-23045
total-23045
count-23046
total-23046
count-23047
total-23047
count-23048
total-23048
count-23049
total-23049
count-23050
total-23050
count-23051
total-23051
count-23052
total-23052
count-23053
total-23053
count-23054
total-23054
count-23055
total-23055
count-23056
total-23056
count-23057
total-23057
count-23058
total-23058
count-23059
total-23059
count-23060
total-23060
count-23061
total-23061
row 6double_ele[2, 4]
count-23062
total-23062
column1 double_ele[3, 5]
row 3double_ele[1, 3]
count-23063
total-23063
count-23064
total-23064
count-23065
total-23065
count-23066
total-23066
count-23067
total-23067
count-23068
total-23068
count-23069
total-23069
row 8double_ele[3, 4]
count-23070
total-23070
column2 double_ele[4, 5]
row 9double_ele[4, 5]
row 5triple_ele[3, 4, 5]
count-23071
total-23071
column2 double_ele[1, 2]
count-23072
total-23072
count-23073
total-23073
count-23074
total-23074
count-23075
total-23075
count-23076
total-23076
count-23077
total-23077
count-23078
total-23078
row 5double_ele[1, 7]
count-23079
total-23079
column1 double_ele[1, 2]
box9 triple_ele[1, 2, 4]
count-23080
total-23080
count-23081
total-23081
count-23082
total-23082
count-23083
total-23083
count-23084
total-23084
count-23085
total-23085
row 4double_ele[3, 6]
count-23086
total-23086
count-23087
total-23087
count-23088
total-23088
count-23089
total-23089
count-23090
total-23090
count-23091
total-23091
count-23092
total-23092
count-23093
total-23093
count-23094
total-23094
count-23095
total-23095
count-23096
total-23096
count-23097
total-23097
count-23098
total-23098
count-23099
total-23099
count-23100
total-23100
count-23101
total-23101
count-23102
total-23102
count-23103
total-23103
count-23104
total-23104
count-23105
total-23105
count-23106
total-23106
count-23107
total-23107
count-23108
total-23108
count-23109
total-23109
count-23110
total-23110
count-23111
total-23111
column3 double_ele[3, 6]
column6 double_ele[5, 6]
count-23112
total-23112
count-23113
total-23113
count-23114
total-23114
count-23115
total-23115
count-23116
total-23116
count-23117
total-23117
count-23118
total-23118
count-23119
total-23119
count-23120
total-23120
count-23121
total-23121
count-23122
total-23122
count-23123
total-23123
count-23124
total-23124
count-23125
total-23125
count-23126
total-23126
count-23127
total-23127
count-23128
total-23128
count-23129
total-23129
count-23130
total-23130
count-23131
total-23131
count-23132
total-23132
count-23133
total-23133
count-23134
total-23134
count-23135
total-23135
count-23136
total-23136
count-23137
total-23137
count-23138
total-23138
column2 double_ele[3, 4]
count-23139
total-23139
count-23140
total-23140
count-23141
total-23141
count-23142
total-23142
count-23143
total-23143
count-23144
total-23144
count-23145
total-23145
count-23146
total-23146
count-23147
total-23147
column8 double_ele[1, 3]
count-23148
total-23148
count-23149
total-23149
count-23150
total-23150
count-23151
total-23151
count-23152
total-23152
count-23153
total-23153
count-23154
total-23154
count-23155
total-23155
count-23156
total-23156
column3 double_ele[2, 3]
count-23157
total-23157
count-23158
total-23158
count-23159
total-23159
count-23160
total-23160
count-23161
total-23161
count-23162
total-23162
count-23163
total-23163
count-23164
total-23164
count-23165
total-23165
count-23166
total-23166
count-23167
total-23167
count-23168
total-23168
count-23169
total-23169
count-23170
total-23170
count-23171
total-23171
column7 double_ele[1, 5]
count-23172
total-23172
count-23173
total-23173
count-23174
total-23174
count-23175
total-23175
count-23176
total-23176
count-23177
total-23177
count-23178
total-23178
count-23179
total-23179
count-23180
total-23180
count-23181
total-23181
count-23182
total-23182
count-23183
total-23183
count-23184
total-23184
count-23185
total-23185
count-23186
total-23186
count-23187
total-23187
count-23188
total-23188
count-23189
total-23189
count-23190
total-23190
count-23191
total-23191
count-23192
total-23192
count-23193
total-23193
count-23194
total-23194
count-23195
total-23195
count-23196
total-23196
count-23197
total-23197
count-23198
total-23198
count-23199
total-23199
count-23200
total-23200
count-23201
total-23201
count-23202
total-23202
count-23203
total-23203
count-23204
total-23204
count-23205
total-23205
count-23206
total-23206
count-23207
total-23207
count-23208
total-23208
count-23209
total-23209
count-23210
total-23210
count-23211
total-23211
count-23212
total-23212
count-23213
total-23213
count-23214
total-23214
count-23215
total-23215
count-23216
total-23216
count-23217
total-23217
count-23218
total-23218
count-23219
total-23219
row 3double_ele[1, 7]
column3 double_ele[1, 7]
count-23220
total-23220
count-23221
total-23221
count-23222
total-23222
count-23223
total-23223
count-23224
total-23224
count-23225
total-23225
count-23226
total-23226
column3 double_ele[4, 6]
count-23227
total-23227
row 2double_ele[1, 5]
count-23228
total-23228
count-23229
total-23229
count-23230
total-23230
column8 double_ele[3, 7]
count-23231
total-23231
count-23232
total-23232
count-23233
total-23233
count-23234
total-23234
column2 double_ele[5, 7]
count-23235
total-23235
row 2double_ele[2, 7]
row 5double_ele[2, 3]
row 9double_ele[3, 7]
count-23236
total-23236
count-23237
total-23237
count-23238
total-23238
count-23239
total-23239
count-23240
total-23240
count-23241
total-23241
count-23242
total-23242
count-23243
total-23243
row 1double_ele[3, 8]
row 4double_ele[4, 8]
count-23244
total-23244
count-23245
total-23245
count-23246
total-23246
count-23247
total-23247
count-23248
total-23248
count-23249
total-23249
count-23250
total-23250
count-23251
total-23251
count-23252
total-23252
count-23253
total-23253
count-23254
total-23254
count-23255
total-23255
count-23256
total-23256
count-23257
total-23257
count-23258
total-23258
count-23259
total-23259
count-23260
total-23260
count-23261
total-23261
count-23262
total-23262
count-23263
total-23263
count-23264
total-23264
count-23265
total-23265
count-23266
total-23266
count-23267
total-23267
count-23268
total-23268
count-23269
total-23269
count-23270
total-23270
count-23271
total-23271
count-23272
total-23272
count-23273
total-23273
count-23274
total-23274
count-23275
total-23275
count-23276
total-23276
count-23277
total-23277
count-23278
total-23278
count-23279
total-23279
count-23280
total-23280
count-23281
total-23281
count-23282
total-23282
count-23283
total-23283
count-23284
total-23284
count-23285
total-23285
count-23286
total-23286
count-23287
total-23287
count-23288
total-23288
count-23289
total-23289
count-23290
total-23290
count-23291
total-23291

count-23292
total-23292
count-23293
total-23293
count-23294
total-23294
count-23295
total-23295
column8 double_ele[1, 6]
count-23296
total-23296
count-23297
total-23297
count-23298
total-23298
count-23299
total-23299
count-23300
total-23300
count-23301
total-23301
count-23302
total-23302
column1 double_ele[1, 8]
row 4double_ele[1, 8]
row 5double_ele[1, 8]
column6 double_ele[1, 8]
count-23303
total-23303
count-23304
total-23304
count-23305
total-23305
count-23306
total-23306
count-23307
total-23307
count-23308
total-23308
count-23309
total-23309
count-23310
total-23310
count-23311
total-23311
count-23312
total-23312
count-23313
total-23313
count-23314
total-23314
count-23315
total-23315
count-23316
total-23316
count-23317
total-23317
count-23318
total-23318
count-23319
total-23319
count-23320
total-23320
column3 double_ele[1, 6]
row 5double_ele[1, 6]
count-23321
total-23321
count-23322
total-23322
count-23323
total-23323
count-23324
total-23324
count-23325
total-23325
count-23326
total-23326
count-23327
total-23327
count-23328
total-23328
count-23329
total-23329
count-23330
total-23330
row 2double_ele[3, 5]
row 3double_ele[2, 5]
column3 double_ele[2, 5]
column8 double_ele[3, 5]
column9 double_ele[3, 5]
count-23331
total-23331
column7 double_ele[1, 2]
count-23332
total-23332
count-23333
total-23333
count-23334
total-23334
count-23335
total-23335
count-23336
total-23336
count-23337
total-23337
count-23338
total-23338
count-23339
total-23339
count-23340
total-23340
count-23341
total-23341
column9 double_ele[1, 7]
count-23342
total-23342
count-23343
total-23343
count-23344
total-23344
count-23345
total-23345
count-23346
total-23346
count-23347
total-23347
count-23348
total-23348
column2 double_ele[1, 5]
row 7double_ele[1, 5]
row 8double_ele[1, 5]
count-23349
total-23349
row 1double_ele[1, 3]
row 5triple_ele[2, 3, 7]
box6 triple_ele[2, 3, 7]
count-23350
total-23350
count-23351
total-23351
count-23352
total-23352
count-23353
total-23353
count-23354
total-23354
count-23355
total-23355
count-23356
total-23356
count-23357
total-23357
column3 double_ele[2, 4]
count-23358
total-23358
row 1double_ele[3, 7]
column3 double_ele[1, 3]
column6 double_ele[1, 7]
count-23359
total-23359
count-23360
total-23360
count-23361
total-23361
column9 double_ele[4, 5]
count-23362
total-23362
count-23363
total-23363
count-23364
total-23364
row 4double_ele[4, 6]
count-23365
total-23365
count-23366
total-23366
count-23367
total-23367
count-23368
total-23368
count-23369
total-23369
count-23370
total-23370
count-23371
total-23371
count-23372
total-23372
count-23373
total-23373
count-23374
total-23374
count-23375
total-23375
count-23376
total-23376
count-23377
total-23377
count-23378
total-23378
count-23379
total-23379
count-23380
total-23380
count-23381
total-23381
count-23382
total-23382
column7 double_ele[1, 3]
count-23383
total-23383
count-23384
total-23384
count-23385
total-23385
count-23386
total-23386
count-23387
total-23387
count-23388
total-23388
count-23389
total-23389
count-23390
total-23390
count-23391
total-23391
count-23392
total-23392
count-23393
total-23393
count-23394
total-23394
count-23395
total-23395
count-23396
total-23396
count-23397
total-23397
count-23398
total-23398
count-23399
total-23399
count-23400
total-23400
count-23401
total-23401
count-23402
total-23402
count-23403
total-23403
column1 double_ele[1, 6]
row 2double_ele[1, 6]
count-23404
total-23404
count-23405
total-23405
count-23406
total-23406
count-23407
total-23407
count-23408
total-23408
count-23409
total-23409
count-23410
total-23410
count-23411
total-23411
count-23412
total-23412
count-23413
total-23413
count-23414
total-23414
count-23415
total-23415
count-23416
total-23416
count-23417
total-23417
count-23418
total-23418
count-23419
total-23419
count-23420
total-23420
count-23421
total-23421
count-23422
total-23422
count-23423
total-23423
row 1double_ele[5, 6]
column7 double_ele[5, 6]
column8 double_ele[5, 6]
count-23424
total-23424
column9 double_ele[2, 4]
count-23425
total-23425
column9 double_ele[2, 3]
count-23426
total-23426
count-23427
total-23427
count-23428
total-23428
count-23429
total-23429
count-23430
total-23430
count-23431
total-23431
column2 double_ele[2, 6]
count-23432
total-23432
count-23433
total-23433
count-23434
total-23434
count-23435
total-23435
count-23436
total-23436
count-23437
total-23437
column7 double_ele[2, 5]
count-23438
total-23438
count-23439
total-23439
count-23440
total-23440
count-23441
total-23441
count-23442
total-23442
count-23443
total-23443
count-23444
total-23444
count-23445
total-23445
count-23446
total-23446
count-23447
total-23447
count-23448
total-23448
count-23449
total-23449
count-23450
total-23450
count-23451
total-23451
count-23452
total-23452
row 1double_ele[5, 7]
row 5double_ele[1, 7]
row 7double_ele[1, 7]
row 9double_ele[1, 5]
count-23453
total-23453
count-23454
total-23454
count-23455
total-23455
count-23456
total-23456
count-23457
total-23457
count-23458
total-23458
count-23459
total-23459
count-23460
total-23460
count-23461
total-23461
count-23462
total-23462
count-23463
total-23463
count-23464
total-23464
count-23465
total-23465
count-23466
total-23466
count-23467
total-23467
count-23468
total-23468
count-23469
total-23469
count-23470
total-23470
count-23471
total-23471
count-23472
total-23472
count-23473
total-23473
count-23474
total-23474
count-23475
total-23475
count-23476
total-23476
count-23477
total-23477
count-23478
total-23478
count-23479
total-23479
count-23480
total-23480
count-23481
total-23481
count-23482
total-23482
count-23483
total-23483
count-23484
total-23484
column4 double_ele[4, 7]
column7 double_ele[7, 8]
row 9double_ele[4, 7]
box9 triple_ele[4, 5, 7]
count-23485
total-23485
count-23486
total-23486
count-23487
total-23487
count-23488
total-23488
row 8double_ele[3, 7]
count-23489
total-23489
count-23490
total-23490
count-23491
total-23491
count-23492
total-23492
count-23493
total-23493
count-23494
total-23494
count-23495
total-23495
count-23496
total-23496
count-23497
total-23497
count-23498
total-23498
count-23499
total-23499
count-23500
total-23500
count-23501
total-23501
column8 double_ele[2, 5]
count-23502
total-23502
count-23503
total-23503
count-23504
total-23504
count-23505
total-23505
count-23506
total-23506
count-23507
total-23507
count-23508
total-23508
count-23509
total-23509
count-23510
total-23510
count-23511
total-23511
count-23512
total-23512
count-23513
total-23513
count-23514
total-23514
count-23515
total-23515
row 6double_ele[1, 3]
count-23516
total-23516
count-23517
total-23517
count-23518
total-23518
count-23519
total-23519
count-23520
total-23520
count-23521
total-23521
count-23522
total-23522
count-23523
total-23523
count-23524
total-23524
count-23525
total-23525
count-23526
total-23526
count-23527
total-23527
count-23528
total-23528
count-23529
total-23529
count-23530
total-23530
count-23531
total-23531
count-23532
total-23532
count-23533
total-23533
count-23534
total-23534
count-23535
total-23535
column9 double_ele[1, 2]
count-23536
total-23536
column2 double_ele[1, 5]
count-23537
total-23537
count-23538
total-23538
count-23539
total-23539
count-23540
total-23540
count-23541
total-23541
count-23542
total-23542
count-23543
total-23543
count-23544
total-23544
count-23545
total-23545
count-23546
total-23546
count-23547
total-23547
count-23548
total-23548
count-23549
total-23549
count-23550
total-23550
count-23551
total-23551
count-23552
total-23552
count-23553
total-23553
count-23554
total-23554
count-23555
total-23555
count-23556
total-23556
count-23557
total-23557
count-23558
total-23558
count-23559
total-23559
count-23560
total-23560
count-23561
total-23561
count-23562
total-23562
count-23563
total-23563
count-23564
total-23564
count-23565
total-23565
count-23566
total-23566
count-23567
total-23567
count-23568
total-23568
count-23569
total-23569
count-23570
total-23570
count-23571
total-23571
count-23572
total-23572
count-23573
total-23573
count-23574
total-23574
count-23575
total-23575
column4 double_ele[1, 2]
column8 double_ele[1, 3]
row 9double_ele[1, 3]
count-23576
total-23576
count-23577
total-23577
count-23578
total-23578
count-23579
total-23579
count-23580
total-23580
count-23581
total-23581
count-23582
total-23582
count-23583
total-23583
row 8double_ele[4, 6]
count-23584
total-23584
count-23585
total-23585
count-23586
total-23586
count-23587
total-23587
count-23588
total-23588
count-23589
total-23589
count-23590
total-23590
count-23591
total-23591
count-23592
total-23592
count-23593
total-23593
count-23594
total-23594
count-23595
total-23595
count-23596
total-23596

count-23597
total-23597
count-23598
total-23598
count-23599
total-23599
count-23600
total-23600
count-23601
total-23601
row 6double_ele[3, 5]
count-23602
total-23602
count-23603
total-23603
count-23604
total-23604
row 6double_ele[1, 5]
count-23605
total-23605
count-23606
total-23606
count-23607
total-23607
count-23608
total-23608
count-23609
total-23609
count-23610
total-23610
count-23611
total-23611
count-23612
total-23612
row 3double_ele[1, 3]
column9 double_ele[1, 3]
box9 triple_ele[1, 3, 5]
count-23613
total-23613
row 3double_ele[3, 7]
count-23614
total-23614
count-23615
total-23615
count-23616
total-23616
count-23617
total-23617
count-23618
total-23618
row 5double_ele[1, 2]
count-23619
total-23619
count-23620
total-23620
count-23621
total-23621
count-23622
total-23622
count-23623
total-23623
count-23624
total-23624
count-23625
total-23625
count-23626
total-23626
count-23627
total-23627
count-23628
total-23628
count-23629
total-23629
count-23630
total-23630
count-23631
total-23631
count-23632
total-23632
count-23633
total-23633
count-23634
total-23634
row 1double_ele[2, 6]
column9 double_ele[2, 6]
count-23635
total-23635
count-23636
total-23636
count-23637
total-23637
row 2double_ele[1, 2]
count-23638
total-23638
column3 double_ele[5, 6]
column7 double_ele[2, 6]
count-23639
total-23639
count-23640
total-23640
count-23641
total-23641
count-23642
total-23642
count-23643
total-23643
count-23644
total-23644
count-23645
total-23645
count-23646
total-23646
count-23647
total-23647
count-23648
total-23648
count-23649
total-23649
count-23650
total-23650
count-23651
total-23651
row 4double_ele[2, 3]
count-23652
total-23652
count-23653
total-23653
count-23654
total-23654
count-23655
total-23655
count-23656
total-23656
count-23657
total-23657
count-23658
total-23658
column3 double_ele[3, 9]
count-23659
total-23659
count-23660
total-23660
count-23661
total-23661
count-23662
total-23662
count-23663
total-23663
count-23664
total-23664
count-23665
total-23665
count-23666
total-23666
column4 double_ele[7, 9]
row 5double_ele[2, 5]
count-23667
total-23667
count-23668
total-23668
count-23669
total-23669
count-23670
total-23670
count-23671
total-23671
count-23672
total-23672
count-23673
total-23673
count-23674
total-23674
count-23675
total-23675
count-23676
total-23676
count-23677
total-23677
count-23678
total-23678
count-23679
total-23679
count-23680
total-23680
row 7double_ele[1, 2]
column9 double_ele[1, 2]
row 2triple_ele[1, 2, 5]
box3 triple_ele[1, 2, 5]
count-23681
total-23681
count-23682
total-23682
count-23683
total-23683
count-23684
total-23684
count-23685
total-23685
count-23686
total-23686
count-23687
total-23687
count-23688
total-23688
row 7double_ele[1, 8]
count-23689
total-23689
count-23690
total-23690
count-23691
total-23691
count-23692
total-23692
count-23693
total-23693
count-23694
total-23694
count-23695
total-23695
count-23696
total-23696
count-23697
total-23697
count-23698
total-23698
count-23699
total-23699
count-23700
total-23700
count-23701
total-23701
column4 double_ele[1, 5]
count-23702
total-23702
count-23703
total-23703
count-23704
total-23704
count-23705
total-23705
row 6double_ele[2, 6]
count-23706
total-23706
column3 double_ele[3, 4]
count-23707
total-23707
count-23708
total-23708
row 2double_ele[1, 2]
count-23709
total-23709
count-23710
total-23710
count-23711
total-23711
column6 double_ele[2, 4]
count-23712
total-23712
count-23713
total-23713
count-23714
total-23714
count-23715
total-23715
count-23716
total-23716
row 8double_ele[3, 4]
count-23717
total-23717
count-23718
total-23718
count-23719
total-23719
row 2double_ele[3, 5]
column8 double_ele[3, 5]
count-23720
total-23720
count-23721
total-23721
count-23722
total-23722
count-23723
total-23723
count-23724
total-23724
count-23725
total-23725
count-23726
total-23726
count-23727
total-23727
count-23728
total-23728
count-23729
total-23729
count-23730
total-23730
count-23731
total-23731
count-23732
total-23732
count-23733
total-23733
count-23734
total-23734
count-23735
total-23735
row 3double_ele[1, 2]
column7 double_ele[1, 2]
count-23736
total-23736
count-23737
total-23737
count-23738
total-23738
count-23739
total-23739
count-23740
total-23740
count-23741
total-23741
count-23742
total-23742
count-23743
total-23743
count-23744
total-23744
count-23745
total-23745
count-23746
total-23746
count-23747
total-23747
count-23748
total-23748
count-23749
total-23749
count-23750
total-23750
count-23751
total-23751
count-23752
total-23752
column6 double_ele[1, 5]
count-23753
total-23753
count-23754
total-23754
column7 double_ele[2, 7]
count-23755
total-23755
count-23756
total-23756
row 5double_ele[3, 4]
count-23757
total-23757
count-23758
total-23758
count-23759
total-23759
count-23760
total-23760
count-23761
total-23761
count-23762
total-23762
count-23763
total-23763
count-23764
total-23764
count-23765
total-23765
count-23766
total-23766
count-23767
total-23767
count-23768
total-23768
count-23769
total-23769
count-23770
total-23770
count-23771
total-23771
count-23772
total-23772
count-23773
total-23773
count-23774
total-23774
count-23775
total-23775
count-23776
total-23776
count-23777
total-23777
row 4double_ele[4, 5]
row 6double_ele[5, 8]
row 8double_ele[4, 8]
count-23778
total-23778
count-23779
total-23779
count-23780
total-23780
count-23781
total-23781
count-23782
total-23782
count-23783
total-23783
count-23784
total-23784
count-23785
total-23785
count-23786
total-23786
count-23787
total-23787
count-23788
total-23788
count-23789
total-23789
count-23790
total-23790
count-23791
total-23791
count-23792
total-23792
count-23793
total-23793
count-23794
total-23794
count-23795
total-23795
column5 double_ele[6, 8]
column9 double_ele[1, 8]
count-23796
total-23796
count-23797
total-23797
count-23798
total-23798
count-23799
total-23799
count-23800
total-23800
count-23801
total-23801
count-23802
total-23802
count-23803
total-23803
count-23804
total-23804
column3 double_ele[4, 6]
column5 double_ele[4, 8]
column7 double_ele[6, 8]
count-23805
total-23805
count-23806
total-23806
count-23807
total-23807
count-23808
total-23808
count-23809
total-23809
count-23810
total-23810
count-23811
total-23811
count-23812
total-23812
count-23813
total-23813
count-23814
total-23814
count-23815
total-23815
count-23816
total-23816
count-23817
total-23817
count-23818
total-23818
count-23819
total-23819
count-23820
total-23820
count-23821
total-23821
count-23822
total-23822
count-23823
total-23823
count-23824
total-23824
count-23825
total-23825
count-23826
total-23826
count-23827
total-23827
count-23828
total-23828
count-23829
total-23829
count-23830
total-23830
count-23831
total-23831
count-23832
total-23832
row 3double_ele[2, 8]
count-23833
total-23833
count-23834
total-23834
count-23835
total-23835
count-23836
total-23836
count-23837
total-23837
column5 double_ele[2, 4]
row 7double_ele[2, 4]
row 8double_ele[2, 4]
count-23838
total-23838
count-23839
total-23839
column2 double_ele[1, 2]
row 5double_ele[1, 2]
column5 double_ele[1, 2]
row 7double_ele[1, 2]
count-23840
total-23840
count-23841
total-23841
count-23842
total-23842
count-23843
total-23843
column1 double_ele[2, 6]
column4 double_ele[3, 8]
column7 double_ele[6, 8]
count-23844
total-23844
count-23845
total-23845
count-23846
total-23846
count-23847
total-23847
count-23848
total-23848
count-23849
total-23849
count-23850
total-23850
row 2double_ele[1, 8]
count-23851
total-23851
count-23852
total-23852
count-23853
total-23853
count-23854
total-23854
count-23855
total-23855
count-23856
total-23856
count-23857
total-23857
count-23858
total-23858
count-23859
total-23859
count-23860
total-23860
column1 double_ele[2, 4]
count-23861
total-23861
row 8double_ele[1, 7]
count-23862
total-23862
count-23863
total-23863
count-23864
total-23864
count-23865
total-23865
count-23866
total-23866
count-23867
total-23867
count-23868
total-23868
count-23869
total-23869
count-23870
total-23870
column1 double_ele[1, 2]
row 9double_ele[1, 2]
count-23871
total-23871
count-23872
total-23872
count-23873
total-23873
count-23874
total-23874
count-23875
total-23875
count-23876
total-23876
count-23877
total-23877
count-23878
total-23878
count-23879
total-23879
count-23880
total-23880
count-23881
total-23881
count-23882
total-23882
count-23883
total-23883
count-23884
total-23884
row 3double_ele[2, 6]
count-23885
total-23885
count-23886
total-23886
count-23887
total-23887
row 1double_ele[4, 7]
column1 double_ele[4, 7]
row 8double_ele[3, 6]
count-23888
total-23888
count-23889
total-23889
count-23890
total-23890
count-23891
total-23891
count-23892
total-23892
row 2double_ele[1, 2]
count-23893
total-23893
count-23894
total-23894

count-23895
total-23895
count-23896
total-23896
count-23897
total-23897
count-23898
total-23898
count-23899
total-23899
count-23900
total-23900
count-23901
total-23901
count-23902
total-23902
count-23903
total-23903
count-23904
total-23904
column3 double_ele[4, 5]
row 5double_ele[4, 5]
row 6double_ele[4, 5]
count-23905
total-23905
count-23906
total-23906
count-23907
total-23907
count-23908
total-23908
count-23909
total-23909
count-23910
total-23910
row 8double_ele[5, 7]
count-23911
total-23911
count-23912
total-23912
count-23913
total-23913
column9 double_ele[5, 6]
count-23914
total-23914
count-23915
total-23915
count-23916
total-23916
count-23917
total-23917
column6 double_ele[1, 2]
row 7double_ele[1, 2]
count-23918
total-23918
count-23919
total-23919
row 9double_ele[2, 4]
count-23920
total-23920
count-23921
total-23921
count-23922
total-23922
count-23923
total-23923
count-23924
total-23924
row 2double_ele[1, 4]
count-23925
total-23925
count-23926
total-23926
count-23927
total-23927
count-23928
total-23928
count-23929
total-23929
row 3double_ele[1, 2]
count-23930
total-23930
count-23931
total-23931
count-23932
total-23932
count-23933
total-23933
count-23934
total-23934
count-23935
total-23935
count-23936
total-23936
count-23937
total-23937
count-23938
total-23938
count-23939
total-23939
count-23940
total-23940
count-23941
total-23941
count-23942
total-23942
count-23943
total-23943
count-23944
total-23944
count-23945
total-23945
count-23946
total-23946
column9 double_ele[1, 6]
count-23947
total-23947
row 9double_ele[1, 5]
count-23948
total-23948
count-23949
total-23949
count-23950
total-23950
count-23951
total-23951
count-23952
total-23952
count-23953
total-23953
count-23954
total-23954
count-23955
total-23955
count-23956
total-23956
count-23957
total-23957
column8 double_ele[3, 4]
row 9double_ele[3, 4]
count-23958
total-23958
count-23959
total-23959
row 7double_ele[2, 4]
count-23960
total-23960
count-23961
total-23961
count-23962
total-23962
count-23963
total-23963
row 3double_ele[7, 8]
row 8double_ele[1, 7]
count-23964
total-23964
count-23965
total-23965
column7 double_ele[2, 7]
count-23966
total-23966
count-23967
total-23967
row 5double_ele[4, 5]
count-23968
total-23968
count-23969
total-23969
count-23970
total-23970
count-23971
total-23971
count-23972
total-23972
count-23973
total-23973
count-23974
total-23974
count-23975
total-23975
count-23976
total-23976
count-23977
total-23977
column7 double_ele[1, 2]
count-23978
total-23978
count-23979
total-23979
count-23980
total-23980
count-23981
total-23981
count-23982
total-23982
count-23983
total-23983
count-23984
total-23984
count-23985
total-23985
count-23986
total-23986
count-23987
total-23987
count-23988
total-23988
row 9double_ele[1, 3]
count-23989
total-23989
count-23990
total-23990
count-23991
total-23991
count-23992
total-23992
count-23993
total-23993
count-23994
total-23994
count-23995
total-23995
count-23996
total-23996
count-23997
total-23997
count-23998
total-23998
row 2double_ele[4, 5]
count-23999
total-23999
count-24000
total-24000
column5 double_ele[1, 6]
count-24001
total-24001
count-24002
total-24002
row 9double_ele[1, 2]
row 2triple_ele[1, 4, 5]
box3 triple_ele[1, 4, 5]
count-24003
total-24003
count-24004
total-24004
count-24005
total-24005
count-24006
total-24006
count-24007
total-24007
count-24008
total-24008
count-24009
total-24009
count-24010
total-24010
count-24011
total-24011
count-24012
total-24012
count-24013
total-24013
count-24014
total-24014
count-24015
total-24015
count-24016
total-24016
column7 double_ele[2, 3]
count-24017
total-24017
count-24018
total-24018
row 4double_ele[1, 4]
column4 double_ele[1, 4]
column7 double_ele[1, 4]
count-24019
total-24019
column6 double_ele[3, 8]
count-24020
total-24020
count-24021
total-24021
count-24022
total-24022
count-24023
total-24023
count-24024
total-24024
count-24025
total-24025
count-24026
total-24026
count-24027
total-24027
count-24028
total-24028
count-24029
total-24029
count-24030
total-24030
count-24031
total-24031
column7 double_ele[1, 2]
count-24032
total-24032
count-24033
total-24033
count-24034
total-24034
count-24035
total-24035
count-24036
total-24036
count-24037
total-24037
count-24038
total-24038
count-24039
total-24039
column9 double_ele[1, 6]
count-24040
total-24040
row 8double_ele[1, 2]
count-24041
total-24041
count-24042
total-24042
count-24043
total-24043
count-24044
total-24044
count-24045
total-24045
count-24046
total-24046
row 2double_ele[2, 4]
count-24047
total-24047
count-24048
total-24048
column2 double_ele[2, 4]
count-24049
total-24049
count-24050
total-24050
count-24051
total-24051
count-24052
total-24052
count-24053
total-24053
count-24054
total-24054
count-24055
total-24055
count-24056
total-24056
count-24057
total-24057
count-24058
total-24058
count-24059
total-24059
count-24060
total-24060
count-24061
total-24061
count-24062
total-24062
count-24063
total-24063
count-24064
total-24064
count-24065
total-24065
count-24066
total-24066
row 4double_ele[3, 5]
count-24067
total-24067
count-24068
total-24068
count-24069
total-24069
count-24070
total-24070
count-24071
total-24071
count-24072
total-24072
count-24073
total-24073
count-24074
total-24074
count-24075
total-24075
count-24076
total-24076
column8 double_ele[2, 4]
count-24077
total-24077
count-24078
total-24078
count-24079
total-24079
count-24080
total-24080
count-24081
total-24081
column4 double_ele[2, 5]
count-24082
total-24082
count-24083
total-24083
count-24084
total-24084
count-24085
total-24085
count-24086
total-24086
row 2double_ele[2, 3]
count-24087
total-24087
count-24088
total-24088
count-24089
total-24089
count-24090
total-24090
count-24091
total-24091
count-24092
total-24092
count-24093
total-24093
count-24094
total-24094
count-24095
total-24095
count-24096
total-24096
count-24097
total-24097
count-24098
total-24098
count-24099
total-24099
count-24100
total-24100
count-24101
total-24101
count-24102
total-24102
count-24103
total-24103
count-24104
total-24104
count-24105
total-24105
count-24106
total-24106
column2 double_ele[1, 2]
row 3double_ele[2, 4]
row 4double_ele[2, 6]
column5 double_ele[2, 6]
row 7double_ele[4, 7]
row 1triple_ele[1, 2, 6]
count-24107
total-24107
count-24108
total-24108
count-24109
total-24109
count-24110
total-24110
count-24111
total-24111
count-24112
total-24112
count-24113
total-24113
count-24114
total-24114
count-24115
total-24115
count-24116
total-24116
count-24117
total-24117
count-24118
total-24118
count-24119
total-24119
count-24120
total-24120
column7 double_ele[4, 7]
count-24121
total-24121
count-24122
total-24122
count-24123
total-24123
count-24124
total-24124
count-24125
total-24125
count-24126
total-24126
row 1double_ele[3, 5]
row 5double_ele[3, 4]
count-24127
total-24127
row 1double_ele[1, 7]
count-24128
total-24128
count-24129
total-24129
column1 double_ele[3, 5]
row 2double_ele[3, 8]
column5 double_ele[3, 8]
count-24130
total-24130
count-24131
total-24131
row 3double_ele[1, 3]
count-24132
total-24132
count-24133
total-24133
count-24134
total-24134
count-24135
total-24135
count-24136
total-24136
row 4double_ele[2, 5]
count-24137
total-24137
count-24138
total-24138
count-24139
total-24139
count-24140
total-24140
count-24141
total-24141
count-24142
total-24142
count-24143
total-24143
count-24144
total-24144
count-24145
total-24145
count-24146
total-24146
count-24147
total-24147
row 1double_ele[3, 6]
row 6double_ele[1, 2]
column7 double_ele[3, 6]
count-24148
total-24148
column7 double_ele[1, 5]
count-24149
total-24149
count-24150
total-24150
count-24151
total-24151
count-24152
total-24152
count-24153
total-24153
count-24154
total-24154
count-24155
total-24155
count-24156
total-24156
count-24157
total-24157
count-24158
total-24158
count-24159
total-24159
count-24160
total-24160
count-24161
total-24161
count-24162
total-24162
count-24163
total-24163
count-24164
total-24164
row 6double_ele[1, 5]
count-24165
total-24165
count-24166
total-24166
count-24167
total-24167
count-24168
total-24168
count-24169
total-24169
count-24170
total-24170
count-24171
total-24171
count-24172
total-24172
count-24173
total-24173
count-24174
total-24174
count-24175
total-24175
count-24176
total-24176
count-24177
total-24177
count-24178
total-24178
count-24179
total-24179
count-24180
total-24180
count-24181
total-24181
count-24182
total-24182
count-24183
total-24183
count-24184
total-24184
count-24185
total-24185
count-24186
total-24186
count-24187
total-24187
count-24188
total-24188
row 4double_ele[2, 4]
count-24189
total-24189
count-24190
total-24190
count-24191
total-24191
count-24192
total-24192
count-24193
total-24193
count-24194
total-24194
count-24195
total-24195
column8 double_ele[2, 5]
count-24196
total-24196

count-24197
total-24197
count-24198
total-24198
count-24199
total-24199
count-24200
total-24200
count-24201
total-24201
count-24202
total-24202
count-24203
total-24203
count-24204
total-24204
column6 double_ele[2, 3]
count-24205
total-24205
count-24206
total-24206
column8 double_ele[2, 5]
count-24207
total-24207
count-24208
total-24208
count-24209
total-24209
count-24210
total-24210
count-24211
total-24211
count-24212
total-24212
count-24213
total-24213
count-24214
total-24214
count-24215
total-24215
count-24216
total-24216
count-24217
total-24217
count-24218
total-24218
count-24219
total-24219
count-24220
total-24220
count-24221
total-24221
count-24222
total-24222
column5 double_ele[2, 5]
count-24223
total-24223
count-24224
total-24224
count-24225
total-24225
count-24226
total-24226
count-24227
total-24227
count-24228
total-24228
count-24229
total-24229
count-24230
total-24230
count-24231
total-24231
column8 double_ele[1, 4]
count-24232
total-24232
count-24233
total-24233
column2 double_ele[1, 6]
column5 double_ele[1, 2]
count-24234
total-24234
count-24235
total-24235
count-24236
total-24236
row 6double_ele[5, 8]
column8 double_ele[6, 8]
count-24237
total-24237
count-24238
total-24238
count-24239
total-24239
count-24240
total-24240
count-24241
total-24241
count-24242
total-24242
count-24243
total-24243
count-24244
total-24244
count-24245
total-24245
count-24246
total-24246
count-24247
total-24247
count-24248
total-24248
count-24249
total-24249
count-24250
total-24250
count-24251
total-24251
count-24252
total-24252
count-24253
total-24253
count-24254
total-24254
count-24255
total-24255
row 1double_ele[1, 5]
column5 double_ele[4, 5]
count-24256
total-24256
count-24257
total-24257
count-24258
total-24258
column3 double_ele[3, 6]
column5 double_ele[3, 4]
column8 double_ele[4, 6]
count-24259
total-24259
column6 double_ele[1, 3]
count-24260
total-24260
count-24261
total-24261
count-24262
total-24262
count-24263
total-24263
count-24264
total-24264
count-24265
total-24265
row 7triple_ele[1, 2, 3]
count-24266
total-24266
count-24267
total-24267
count-24268
total-24268
row 4double_ele[1, 4]
column6 double_ele[5, 8]
count-24269
total-24269
column1 double_ele[2, 4]
count-24270
total-24270
count-24271
total-24271
count-24272
total-24272
count-24273
total-24273
count-24274
total-24274
count-24275
total-24275
count-24276
total-24276
count-24277
total-24277
count-24278
total-24278
column5 double_ele[3, 4]
count-24279
total-24279
count-24280
total-24280
count-24281
total-24281
count-24282
total-24282
count-24283
total-24283
count-24284
total-24284
row 8double_ele[2, 4]
column8 double_ele[2, 4]
count-24285
total-24285
count-24286
total-24286
count-24287
total-24287
count-24288
total-24288
count-24289
total-24289
count-24290
total-24290
column1 double_ele[1, 6]
count-24291
total-24291
count-24292
total-24292
count-24293
total-24293
count-24294
total-24294
count-24295
total-24295
count-24296
total-24296
count-24297
total-24297
count-24298
total-24298
count-24299
total-24299
count-24300
total-24300
count-24301
total-24301
count-24302
total-24302
row 6double_ele[1, 6]
count-24303
total-24303
count-24304
total-24304
count-24305
total-24305
count-24306
total-24306
count-24307
total-24307
count-24308
total-24308
count-24309
total-24309
count-24310
total-24310
count-24311
total-24311
column7 double_ele[1, 2]
count-24312
total-24312
count-24313
total-24313
count-24314
total-24314
count-24315
total-24315
count-24316
total-24316
count-24317
total-24317
count-24318
total-24318
count-24319
total-24319
column1 double_ele[3, 6]
row 6double_ele[3, 6]
count-24320
total-24320
count-24321
total-24321
count-24322
total-24322
count-24323
total-24323
count-24324
total-24324
count-24325
total-24325
count-24326
total-24326
count-24327
total-24327
count-24328
total-24328
count-24329
total-24329
column4 double_ele[2, 5]
box3 triple_ele[2, 5, 7]
count-24330
total-24330
count-24331
total-24331
count-24332
total-24332
count-24333
total-24333
count-24334
total-24334
row 3double_ele[6, 7]
row 4double_ele[1, 6]
count-24335
total-24335
count-24336
total-24336
count-24337
total-24337
count-24338
total-24338
count-24339
total-24339
count-24340
total-24340
count-24341
total-24341
count-24342
total-24342
count-24343
total-24343
count-24344
total-24344
count-24345
total-24345
column2 double_ele[2, 4]
row 9double_ele[2, 4]
count-24346
total-24346
count-24347
total-24347
count-24348
total-24348
count-24349
total-24349
count-24350
total-24350
count-24351
total-24351
count-24352
total-24352
count-24353
total-24353
count-24354
total-24354
count-24355
total-24355
count-24356
total-24356
count-24357
total-24357
count-24358
total-24358
count-24359
total-24359
count-24360
total-24360
count-24361
total-24361
count-24362
total-24362
count-24363
total-24363
count-24364
total-24364
count-24365
total-24365
count-24366
total-24366
count-24367
total-24367
count-24368
total-24368
column7 double_ele[2, 6]
count-24369
total-24369
column8 double_ele[2, 8]
count-24370
total-24370
count-24371
total-24371
count-24372
total-24372
count-24373
total-24373
count-24374
total-24374
count-24375
total-24375
column3 double_ele[2, 4]
count-24376
total-24376
count-24377
total-24377
count-24378
total-24378
count-24379
total-24379
count-24380
total-24380
count-24381
total-24381
count-24382
total-24382
count-24383
total-24383
count-24384
total-24384
count-24385
total-24385
count-24386
total-24386
count-24387
total-24387
count-24388
total-24388
count-24389
total-24389
count-24390
total-24390
count-24391
total-24391
count-24392
total-24392
column7 double_ele[3, 6]
count-24393
total-24393
count-24394
total-24394
count-24395
total-24395
count-24396
total-24396
count-24397
total-24397
count-24398
total-24398
count-24399
total-24399
count-24400
total-24400
count-24401
total-24401
count-24402
total-24402
count-24403
total-24403
count-24404
total-24404
column9 double_ele[1, 4]
count-24405
total-24405
count-24406
total-24406
count-24407
total-24407
count-24408
total-24408
count-24409
total-24409
count-24410
total-24410
count-24411
total-24411
count-24412
total-24412
count-24413
total-24413
row 2double_ele[2, 5]
count-24414
total-24414
row 2double_ele[1, 2]
count-24415
total-24415
count-24416
total-24416
count-24417
total-24417
count-24418
total-24418
count-24419
total-24419
count-24420
total-24420
count-24421
total-24421
count-24422
total-24422
count-24423
total-24423
count-24424
total-24424
column4 double_ele[1, 2]
count-24425
total-24425
row 5double_ele[3, 5]
column8 double_ele[3, 5]
count-24426
total-24426
count-24427
total-24427
count-24428
total-24428
count-24429
total-24429
count-24430
total-24430
count-24431
total-24431
count-24432
total-24432
count-24433
total-24433
row 5double_ele[1, 2]
count-24434
total-24434
count-24435
total-24435
count-24436
total-24436
count-24437
total-24437
count-24438
total-24438
count-24439
total-24439
count-24440
total-24440
count-24441
total-24441
count-24442
total-24442
count-24443
total-24443
count-24444
total-24444
count-24445
total-24445
count-24446
total-24446
count-24447
total-24447
count-24448
total-24448
count-24449
total-24449
count-24450
total-24450
count-24451
total-24451
count-24452
total-24452
count-24453
total-24453
count-24454
total-24454
row 1double_ele[1, 6]
column1 double_ele[1, 2]
row 3double_ele[1, 2]
row 7double_ele[1, 8]
count-24455
total-24455
count-24456
total-24456
count-24457
total-24457
column6 double_ele[1, 2]
column8 double_ele[1, 5]
count-24458
total-24458
count-24459
total-24459
count-24460
total-24460
count-24461
total-24461
count-24462
total-24462
count-24463
total-24463
count-24464
total-24464
count-24465
total-24465
count-24466
total-24466
count-24467
total-24467
count-24468
total-24468
column1 double_ele[3, 6]
row 5double_ele[2, 4]
row 2triple_ele[2, 3, 5]
row 4triple_ele[1, 3, 6]
box6 triple_ele[1, 3, 6]
count-24469
total-24469
count-24470
total-24470
column5 double_ele[4, 5]
count-24471
total-24471
count-24472
total-24472
count-24473
total-24473
count-24474
total-24474
count-24475
total-24475
count-24476
total-24476
count-24477
total-24477
count-24478
total-24478
count-24479
total-24479
count-24480
total-24480
count-24481
total-24481
row 4double_ele[1, 4]
count-24482
total-24482
count-24483
total-24483
count-24484
total-24484
count-24485
total-24485
count-24486
total-24486

count-24487
total-24487
count-24488
total-24488
count-24489
total-24489
count-24490
total-24490
count-24491
total-24491
count-24492
total-24492
count-24493
total-24493
count-24494
total-24494
count-24495
total-24495
count-24496
total-24496
count-24497
total-24497
count-24498
total-24498
count-24499
total-24499
row 8double_ele[1, 4]
count-24500
total-24500
count-24501
total-24501
column5 double_ele[2, 6]
count-24502
total-24502
count-24503
total-24503
count-24504
total-24504
count-24505
total-24505
count-24506
total-24506
count-24507
total-24507
count-24508
total-24508
count-24509
total-24509
count-24510
total-24510
count-24511
total-24511
count-24512
total-24512
count-24513
total-24513
count-24514
total-24514
column9 double_ele[5, 8]
count-24515
total-24515
count-24516
total-24516
row 2double_ele[3, 4]
count-24517
total-24517
count-24518
total-24518
count-24519
total-24519
count-24520
total-24520
count-24521
total-24521
count-24522
total-24522
count-24523
total-24523
count-24524
total-24524
count-24525
total-24525
count-24526
total-24526
count-24527
total-24527
count-24528
total-24528
count-24529
total-24529
count-24530
total-24530
count-24531
total-24531
count-24532
total-24532
count-24533
total-24533
count-24534
total-24534
count-24535
total-24535
column8 double_ele[2, 6]
count-24536
total-24536
count-24537
total-24537
count-24538
total-24538
count-24539
total-24539
count-24540
total-24540
count-24541
total-24541
column2 double_ele[3, 5]
count-24542
total-24542
count-24543
total-24543
count-24544
total-24544
count-24545
total-24545
count-24546
total-24546
count-24547
total-24547
count-24548
total-24548
count-24549
total-24549
count-24550
total-24550
count-24551
total-24551
count-24552
total-24552
count-24553
total-24553
count-24554
total-24554
count-24555
total-24555
count-24556
total-24556
count-24557
total-24557
count-24558
total-24558
row 5double_ele[4, 6]
count-24559
total-24559
count-24560
total-24560
column1 double_ele[3, 4]
count-24561
total-24561
count-24562
total-24562
count-24563
total-24563
count-24564
total-24564
count-24565
total-24565
count-24566
total-24566
column7 double_ele[1, 3]
count-24567
total-24567
count-24568
total-24568
count-24569
total-24569
count-24570
total-24570
count-24571
total-24571
count-24572
total-24572
count-24573
total-24573
count-24574
total-24574
count-24575
total-24575
count-24576
total-24576
count-24577
total-24577
count-24578
total-24578
count-24579
total-24579
count-24580
total-24580
count-24581
total-24581
count-24582
total-24582
count-24583
total-24583
count-24584
total-24584
column5 double_ele[4, 5]
row 6double_ele[4, 5]
count-24585
total-24585
row 2double_ele[1, 4]
count-24586
total-24586
count-24587
total-24587
count-24588
total-24588
count-24589
total-24589
count-24590
total-24590
count-24591
total-24591
count-24592
total-24592
count-24593
total-24593
row 7double_ele[1, 2]
count-24594
total-24594
column5 double_ele[2, 7]
count-24595
total-24595
count-24596
total-24596
count-24597
total-24597
row 1double_ele[1, 3]
count-24598
total-24598
count-24599
total-24599
count-24600
total-24600
count-24601
total-24601
count-24602
total-24602
count-24603
total-24603
count-24604
total-24604
count-24605
total-24605
count-24606
total-24606
count-24607
total-24607
count-24608
total-24608
count-24609
total-24609
count-24610
total-24610
row 3double_ele[5, 6]
count-24611
total-24611
count-24612
total-24612
count-24613
total-24613
count-24614
total-24614
count-24615
total-24615
count-24616
total-24616
row 7double_ele[1, 8]
count-24617
total-24617
count-24618
total-24618
count-24619
total-24619
count-24620
total-24620
count-24621
total-24621
count-24622
total-24622
count-24623
total-24623
count-24624
total-24624
column4 double_ele[1, 7]
count-24625
total-24625
count-24626
total-24626
count-24627
total-24627
count-24628
total-24628
row 2double_ele[3, 8]
column7 double_ele[3, 9]
count-24629
total-24629
count-24630
total-24630
count-24631
total-24631
count-24632
total-24632
count-24633
total-24633
count-24634
total-24634
count-24635
total-24635
count-24636
total-24636
count-24637
total-24637
count-24638
total-24638
count-24639
total-24639
count-24640
total-24640
count-24641
total-24641
row 6double_ele[3, 6]
column9 double_ele[3, 6]
count-24642
total-24642
count-24643
total-24643
count-24644
total-24644
count-24645
total-24645
count-24646
total-24646
row 9double_ele[1, 3]
count-24647
total-24647
count-24648
total-24648
count-24649
total-24649
count-24650
total-24650
count-24651
total-24651
count-24652
total-24652
count-24653
total-24653
count-24654
total-24654
count-24655
total-24655
count-24656
total-24656
count-24657
total-24657
count-24658
total-24658
count-24659
total-24659
count-24660
total-24660
count-24661
total-24661
count-24662
total-24662
column6 double_ele[5, 6]
column8 double_ele[1, 5]
count-24663
total-24663
count-24664
total-24664
count-24665
total-24665
count-24666
total-24666
count-24667
total-24667
count-24668
total-24668
count-24669
total-24669
count-24670
total-24670
count-24671
total-24671
count-24672
total-24672
column1 double_ele[1, 3]
column8 double_ele[5, 7]
count-24673
total-24673
count-24674
total-24674
count-24675
total-24675
column4 double_ele[2, 3]
row 7double_ele[2, 3]
count-24676
total-24676
count-24677
total-24677
count-24678
total-24678
count-24679
total-24679
count-24680
total-24680
count-24681
total-24681
count-24682
total-24682
count-24683
total-24683
count-24684
total-24684
count-24685
total-24685
count-24686
total-24686
count-24687
total-24687
count-24688
total-24688
row 2double_ele[1, 3]
count-24689
total-24689
count-24690
total-24690
count-24691
total-24691
column3 double_ele[3, 4]
count-24692
total-24692
count-24693
total-24693
count-24694
total-24694
count-24695
total-24695
column2 double_ele[1, 4]
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-24696
total-24696
row 9double_ele[4, 8]
count-24697
total-24697
count-24698
total-24698
count-24699
total-24699
count-24700
total-24700
row 8double_ele[1, 4]
count-24701
total-24701
count-24702
total-24702
count-24703
total-24703
count-24704
total-24704
count-24705
total-24705
count-24706
total-24706
row 2double_ele[3, 4]
column6 double_ele[3, 4]
column8 double_ele[3, 4]
count-24707
total-24707
count-24708
total-24708
count-24709
total-24709
count-24710
total-24710
count-24711
total-24711
count-24712
total-24712
count-24713
total-24713
count-24714
total-24714
count-24715
total-24715
count-24716
total-24716
count-24717
total-24717
row 4double_ele[1, 7]
count-24718
total-24718
count-24719
total-24719
count-24720
total-24720
count-24721
total-24721
count-24722
total-24722
count-24723
total-24723
count-24724
total-24724
count-24725
total-24725
row 8double_ele[2, 5]
count-24726
total-24726
count-24727
total-24727
count-24728
total-24728
count-24729
total-24729
count-24730
total-24730
count-24731
total-24731
column5 double_ele[2, 8]
column7 double_ele[2, 4]
count-24732
total-24732
count-24733
total-24733
count-24734
total-24734
count-24735
total-24735
count-24736
total-24736
count-24737
total-24737
count-24738
total-24738
count-24739
total-24739
row 9double_ele[2, 3]
count-24740
total-24740
count-24741
total-24741
count-24742
total-24742
count-24743
total-24743
count-24744
total-24744
count-24745
total-24745
count-24746
total-24746
count-24747
total-24747
count-24748
total-24748
count-24749
total-24749
count-24750
total-24750
column6 double_ele[3, 4]
count-24751
total-24751
count-24752
total-24752
count-24753
total-24753
count-24754
total-24754
count-24755
total-24755
count-24756
total-24756
count-24757
total-24757
count-24758
total-24758
count-24759
total-24759
count-24760
total-24760
count-24761
total-24761
count-24762
total-24762
count-24763
total-24763
count-24764
total-24764
count-24765
total-24765
count-24766
total-24766
count-24767
total-24767
count-24768
total-24768
count-24769
total-24769
count-24770
total-24770
count-24771
total-24771
count-24772
total-24772
count-24773
total-24773
count-24774
total-24774
count-24775
total-24775
count-24776
total-24776
count-24777
total-24777
count-24778
total-24778
count-24779
total-24779
count-24780
total-24780
column9 double_ele[1, 2]
count-24781
total-24781
count-24782
total-24782
count-24783
total-24783
count-24784
total-24784
count-24785
total-24785
count-24786
total-24786
count-24787
total-24787
count-24788
total-24788
count-24789
total-24789
count-24790
total-24790
count-24791
total-24791

count-24792
total-24792
row 2double_ele[4, 5]
count-24793
total-24793
count-24794
total-24794
count-24795
total-24795
count-24796
total-24796
count-24797
total-24797
count-24798
total-24798
count-24799
total-24799
count-24800
total-24800
count-24801
total-24801
count-24802
total-24802
count-24803
total-24803
count-24804
total-24804
count-24805
total-24805
count-24806
total-24806
count-24807
total-24807
count-24808
total-24808
count-24809
total-24809
count-24810
total-24810
count-24811
total-24811
count-24812
total-24812
row 9double_ele[1, 6]
count-24813
total-24813
count-24814
total-24814
row 3double_ele[4, 5]
count-24815
total-24815
count-24816
total-24816
row 6double_ele[2, 8]
count-24817
total-24817
count-24818
total-24818
count-24819
total-24819
column4 double_ele[1, 3]
column6 double_ele[1, 3]
row 9double_ele[1, 3]
count-24820
total-24820
count-24821
total-24821
column6 double_ele[4, 5]
row 9double_ele[4, 5]
count-24822
total-24822
count-24823
total-24823
count-24824
total-24824
count-24825
total-24825
count-24826
total-24826
count-24827
total-24827
count-24828
total-24828
column1 double_ele[1, 8]
count-24829
total-24829
column4 double_ele[2, 4]
count-24830
total-24830
count-24831
total-24831
column6 double_ele[3, 4]
count-24832
total-24832
count-24833
total-24833
count-24834
total-24834
count-24835
total-24835
row 8double_ele[1, 2]
count-24836
total-24836
row 4double_ele[1, 2]
row 6double_ele[1, 2]
column7 double_ele[1, 2]
count-24837
total-24837
count-24838
total-24838
count-24839
total-24839
count-24840
total-24840
count-24841
total-24841
count-24842
total-24842
count-24843
total-24843
count-24844
total-24844
count-24845
total-24845
count-24846
total-24846
count-24847
total-24847
count-24848
total-24848
count-24849
total-24849
count-24850
total-24850
count-24851
total-24851
column2 double_ele[1, 6]
count-24852
total-24852
count-24853
total-24853
count-24854
total-24854
count-24855
total-24855
row 3double_ele[1, 3]
count-24856
total-24856
count-24857
total-24857
count-24858
total-24858
count-24859
total-24859
count-24860
total-24860
count-24861
total-24861
count-24862
total-24862
count-24863
total-24863
count-24864
total-24864
count-24865
total-24865
column9 double_ele[1, 4]
count-24866
total-24866
count-24867
total-24867
count-24868
total-24868
count-24869
total-24869
count-24870
total-24870
count-24871
total-24871
count-24872
total-24872
count-24873
total-24873
count-24874
total-24874
count-24875
total-24875
count-24876
total-24876
count-24877
total-24877
count-24878
total-24878
count-24879
total-24879
count-24880
total-24880
column9 double_ele[1, 2]
count-24881
total-24881
count-24882
total-24882
count-24883
total-24883
count-24884
total-24884
count-24885
total-24885
count-24886
total-24886
count-24887
total-24887
count-24888
total-24888
count-24889
total-24889
count-24890
total-24890
count-24891
total-24891
count-24892
total-24892
row 1double_ele[1, 4]
column8 double_ele[1, 4]
count-24893
total-24893
count-24894
total-24894
count-24895
total-24895
count-24896
total-24896
count-24897
total-24897
count-24898
total-24898
count-24899
total-24899
count-24900
total-24900
count-24901
total-24901
count-24902
total-24902
count-24903
total-24903
column5 double_ele[3, 5]
count-24904
total-24904
count-24905
total-24905
count-24906
total-24906
column2 double_ele[4, 7]
count-24907
total-24907
count-24908
total-24908
row 7double_ele[1, 3]
count-24909
total-24909
count-24910
total-24910
column6 double_ele[4, 8]
count-24911
total-24911
count-24912
total-24912
count-24913
total-24913
count-24914
total-24914
count-24915
total-24915
count-24916
total-24916
count-24917
total-24917
count-24918
total-24918
count-24919
total-24919
count-24920
total-24920
count-24921
total-24921
count-24922
total-24922
count-24923
total-24923
count-24924
total-24924
count-24925
total-24925
count-24926
total-24926
count-24927
total-24927
column8 double_ele[2, 3]
count-24928
total-24928
count-24929
total-24929
count-24930
total-24930
column9 double_ele[1, 2]
count-24931
total-24931
count-24932
total-24932
count-24933
total-24933
count-24934
total-24934
count-24935
total-24935
count-24936
total-24936
count-24937
total-24937
count-24938
total-24938
count-24939
total-24939
count-24940
total-24940
count-24941
total-24941
count-24942
total-24942
count-24943
total-24943
count-24944
total-24944
count-24945
total-24945
count-24946
total-24946
count-24947
total-24947
count-24948
total-24948
count-24949
total-24949
count-24950
total-24950
count-24951
total-24951
count-24952
total-24952
count-24953
total-24953
count-24954
total-24954
count-24955
total-24955
row 2double_ele[1, 2]
column3 double_ele[1, 2]
count-24956
total-24956
count-24957
total-24957
count-24958
total-24958
count-24959
total-24959
count-24960
total-24960
count-24961
total-24961
count-24962
total-24962
count-24963
total-24963
count-24964
total-24964
count-24965
total-24965
count-24966
total-24966
count-24967
total-24967
count-24968
total-24968
count-24969
total-24969
count-24970
total-24970
count-24971
total-24971
count-24972
total-24972
count-24973
total-24973
count-24974
total-24974
count-24975
total-24975
count-24976
total-24976
count-24977
total-24977
count-24978
total-24978
count-24979
total-24979
count-24980
total-24980
count-24981
total-24981
count-24982
total-24982
count-24983
total-24983
count-24984
total-24984
count-24985
total-24985
count-24986
total-24986
count-24987
total-24987
column3 double_ele[1, 4]
count-24988
total-24988
column2 double_ele[1, 2]
count-24989
total-24989
count-24990
total-24990
count-24991
total-24991
count-24992
total-24992
count-24993
total-24993
count-24994
total-24994
count-24995
total-24995
count-24996
total-24996
count-24997
total-24997
count-24998
total-24998
count-24999
total-24999
column4 double_ele[3, 5]
count-25000
total-25000
column2 double_ele[1, 4]
column8 double_ele[2, 4]
count-25001
total-25001
column1 double_ele[1, 5]
column3 double_ele[4, 5]
count-25002
total-25002
count-25003
total-25003
count-25004
total-25004
count-25005
total-25005
count-25006
total-25006
count-25007
total-25007
row 9double_ele[1, 3]
count-25008
total-25008
count-25009
total-25009
count-25010
total-25010
count-25011
total-25011
count-25012
total-25012
count-25013
total-25013
row 7double_ele[1, 3]
count-25014
total-25014
column2 double_ele[1, 2]
count-25015
total-25015
count-25016
total-25016
count-25017
total-25017
count-25018
total-25018
count-25019
total-25019
count-25020
total-25020
count-25021
total-25021
count-25022
total-25022
count-25023
total-25023
count-25024
total-25024
count-25025
total-25025
count-25026
total-25026
count-25027
total-25027
count-25028
total-25028
count-25029
total-25029
count-25030
total-25030
count-25031
total-25031
count-25032
total-25032
count-25033
total-25033
count-25034
total-25034
count-25035
total-25035
count-25036
total-25036
count-25037
total-25037
count-25038
total-25038
count-25039
total-25039
count-25040
total-25040
count-25041
total-25041
count-25042
total-25042
count-25043
total-25043
count-25044
total-25044
count-25045
total-25045
count-25046
total-25046
count-25047
total-25047
count-25048
total-25048
row 3double_ele[2, 3]
row 8double_ele[6, 7]
column2 triple_ele[2, 4, 7]
count-25048
total-25049
count-25049
total-25050
count-25050
total-25051
count-25051
total-25052
count-25052
total-25053
count-25053
total-25054
count-25054
total-25055
count-25055
total-25056
count-25056
total-25057
row 1double_ele[1, 2]
count-25057
total-25058
count-25058
total-25059
count-25059
total-25060
count-25060
total-25061
count-25061
total-25062
count-25062
total-25063
count-25063
total-25064
count-25064
total-25065
count-25065
total-25066
count-25066
total-25067
count-25067
total-25068
count-25068
total-25069
count-25069
total-25070
count-25070
total-25071
count-25071
total-25072
count-25072
total-25073
count-25073
total-25074
count-25074
total-25075
count-25075
total-25076
row 5double_ele[5, 9]
row 8double_ele[2, 5]
count-25076
total-25077
count-25077
total-25078
count-25078
total-25079
count-25079
total-25080
count-25080
total-25081
count-25081
total-25082
count-25082
total-25083
count-25083
total-25084
count-25084
total-25085
count-25085
total-25086
row 8double_ele[1, 7]
count-25086
total-25087
count-25087
total-25088
count-25088
total-25089
count-25089
total-25090
row 1double_ele[2, 3]
count-25090
total-25091
count-25091
total-25092
row 9double_ele[1, 3]
count-25092
total-25093
count-25093
total-25094
count-25094
total-25095
count-25095
total-25096
count-25096
total-25097
count-25097
total-25098
row 4double_ele[2, 5]
count-25098
total-25099
row 9double_ele[4, 7]
count-25099
total-25100

count-25100
total-25101
count-25101
total-25102
count-25102
total-25103
count-25103
total-25104
count-25104
total-25105
count-25105
total-25106
count-25106
total-25107
count-25107
total-25108
count-25108
total-25109
count-25109
total-25110
row 2double_ele[7, 8]
column9 double_ele[7, 8]
count-25110
total-25111
count-25111
total-25112
count-25112
total-25113
count-25113
total-25114
count-25114
total-25115
count-25115
total-25116
count-25116
total-25117
count-25117
total-25118
count-25118
total-25119
count-25119
total-25120
column4 double_ele[1, 2]
count-25120
total-25121
count-25121
total-25122
count-25122
total-25123
count-25123
total-25124
count-25124
total-25125
row 9double_ele[3, 5]
count-25125
total-25126
count-25126
total-25127
count-25127
total-25128
column4 double_ele[1, 6]
count-25128
total-25129
count-25129
total-25130
row 8double_ele[1, 8]
count-25130
total-25131
count-25131
total-25132
count-25132
total-25133
count-25133
total-25134
count-25134
total-25135
count-25135
total-25136
count-25136
total-25137
count-25137
total-25138
count-25138
total-25139
count-25139
total-25140
row 1double_ele[1, 4]
count-25140
total-25141
column3 double_ele[1, 2]
count-25141
total-25142
count-25142
total-25143
count-25143
total-25144
count-25144
total-25145
count-25145
total-25146
count-25146
total-25147
count-25147
total-25148
count-25148
total-25149
count-25149
total-25150
count-25150
total-25151
row 4double_ele[1, 5]
count-25151
total-25152
count-25152
total-25153
count-25153
total-25154
count-25154
total-25155
count-25155
total-25156
count-25156
total-25157
count-25157
total-25158
count-25158
total-25159
count-25159
total-25160
count-25160
total-25161
count-25161
total-25162
count-25162
total-25163
count-25163
total-25164
count-25164
total-25165
count-25165
total-25166
count-25166
total-25167
column7 double_ele[2, 4]
count-25167
total-25168
count-25168
total-25169
count-25169
total-25170
count-25170
total-25171
count-25171
total-25172
count-25172
total-25173
count-25173
total-25174
count-25174
total-25175
count-25175
total-25176
column3 double_ele[3, 6]
row 9double_ele[3, 6]
count-25176
total-25177
count-25177
total-25178
count-25178
total-25179
count-25179
total-25180
count-25180
total-25181
count-25181
total-25182
count-25182
total-25183
count-25183
total-25184
count-25184
total-25185
count-25185
total-25186
count-25186
total-25187
count-25187
total-25188
row 8double_ele[2, 3]
count-25188
total-25189
count-25189
total-25190
count-25190
total-25191
count-25191
total-25192
column3 double_ele[4, 6]
count-25192
total-25193
count-25193
total-25194
row 2double_ele[2, 6]
row 7double_ele[1, 6]
count-25194
total-25195
count-25195
total-25196
count-25196
total-25197
count-25197
total-25198
count-25198
total-25199
count-25199
total-25200
count-25200
total-25201
count-25201
total-25202
count-25202
total-25203
count-25203
total-25204
count-25204
total-25205
count-25205
total-25206
count-25206
total-25207
count-25207
total-25208
count-25208
total-25209
count-25209
total-25210
count-25210
total-25211
column7 double_ele[5, 6]
count-25211
total-25212
count-25212
total-25213
count-25213
total-25214
count-25214
total-25215
count-25215
total-25216
count-25216
total-25217
row 7double_ele[1, 6]
column9 double_ele[1, 6]
count-25217
total-25218
count-25218
total-25219
count-25219
total-25220
count-25220
total-25221
count-25221
total-25222
count-25222
total-25223
column1 double_ele[2, 6]
row 2double_ele[2, 6]
count-25223
total-25224
count-25224
total-25225
count-25225
total-25226
count-25226
total-25227
count-25227
total-25228
count-25228
total-25229
count-25229
total-25230
count-25230
total-25231
count-25231
total-25232
count-25232
total-25233
count-25233
total-25234
count-25234
total-25235
count-25235
total-25236
count-25236
total-25237
count-25237
total-25238
count-25238
total-25239
count-25239
total-25240
count-25240
total-25241
count-25241
total-25242
count-25242
total-25243
count-25243
total-25244
count-25244
total-25245
count-25245
total-25246
column4 double_ele[2, 3]
count-25246
total-25247
count-25247
total-25248
count-25248
total-25249
count-25249
total-25250
count-25250
total-25251
count-25251
total-25252
count-25252
total-25253
count-25253
total-25254
count-25254
total-25255
count-25255
total-25256
count-25256
total-25257
count-25257
total-25258
count-25258
total-25259
count-25259
total-25260
count-25260
total-25261
count-25261
total-25262
count-25262
total-25263
row 3double_ele[1, 6]
row 6double_ele[3, 5]
count-25263
total-25264
count-25264
total-25265
count-25265
total-25266
count-25266
total-25267
count-25267
total-25268
count-25268
total-25269
count-25269
total-25270
count-25270
total-25271
count-25271
total-25272
count-25272
total-25273
count-25273
total-25274
count-25274
total-25275
count-25275
total-25276
count-25276
total-25277
count-25277
total-25278
count-25278
total-25279
count-25279
total-25280
count-25280
total-25281
count-25281
total-25282
count-25282
total-25283
count-25283
total-25284
count-25284
total-25285
count-25285
total-25286
count-25286
total-25287
count-25287
total-25288
row 6double_ele[3, 6]
count-25288
total-25289
count-25289
total-25290
count-25290
total-25291
column6 double_ele[2, 5]
count-25291
total-25292
row 2double_ele[2, 4]
column5 double_ele[2, 4]
count-25292
total-25293
count-25293
total-25294
count-25294
total-25295
count-25295
total-25296
column9 double_ele[1, 3]
count-25296
total-25297
count-25297
total-25298
count-25298
total-25299
row 9double_ele[1, 3]
count-25299
total-25300
count-25300
total-25301
count-25301
total-25302
count-25302
total-25303
count-25303
total-25304
count-25304
total-25305
count-25305
total-25306
column5 double_ele[2, 3]
count-25306
total-25307
column5 double_ele[1, 4]
count-25307
total-25308
count-25308
total-25309
count-25309
total-25310
count-25310
total-25311
count-25311
total-25312
count-25312
total-25313
count-25313
total-25314
count-25314
total-25315
count-25315
total-25316
count-25316
total-25317
count-25317
total-25318
count-25318
total-25319
count-25319
total-25320
count-25320
total-25321
count-25321
total-25322
row 4double_ele[2, 6]
count-25322
total-25323
count-25323
total-25324
count-25324
total-25325
count-25325
total-25326
count-25326
total-25327
count-25327
total-25328
count-25328
total-25329
count-25329
total-25330
count-25330
total-25331
count-25331
total-25332
count-25332
total-25333
count-25333
total-25334
count-25334
total-25335
count-25335
total-25336
count-25336
total-25337
count-25337
total-25338
count-25338
total-25339
count-25339
total-25340
count-25340
total-25341
row 1double_ele[1, 6]
count-25341
total-25342
count-25342
total-25343
count-25343
total-25344
count-25344
total-25345
count-25345
total-25346
count-25346
total-25347
count-25347
total-25348
column5 double_ele[4, 6]
count-25348
total-25349
count-25349
total-25350
count-25350
total-25351
count-25351
total-25352
count-25352
total-25353
count-25353
total-25354
count-25354
total-25355
count-25355
total-25356
count-25356
total-25357
count-25357
total-25358
count-25358
total-25359
count-25359
total-25360
column3 double_ele[2, 6]
count-25360
total-25361
count-25361
total-25362
count-25362
total-25363
count-25363
total-25364
count-25364
total-25365
count-25365
total-25366
count-25366
total-25367
count-25367
total-25368
count-25368
total-25369
count-25369
total-25370
count-25370
total-25371
count-25371
total-25372
count-25372
total-25373
count-25373
total-25374
column2 double_ele[1, 2]
count-25374
total-25375
count-25375
total-25376
row 1double_ele[4, 6]
count-25376
total-25377
count-25377
total-25378
count-25378
total-25379
count-25379
total-25380
count-25380
total-25381
count-25381
total-25382
count-25382
total-25383
count-25383
total-25384
count-25384
total-25385
count-25385
total-25386
count-25386
total-25387
count-25387
total-25388
count-25388
total-25389
count-25389
total-25390
count-25390
total-25391
count-25391
total-25392
count-25392
total-25393
count-25393
total-25394
count-25394
total-25395
count-25395
total-25396
count-25396
total-25397
count-25397
total-25398
count-25398
total-25399
count-25399
total-25400
count-25400
total-25401
row 1double_ele[2, 6]
count-25401
total-25402
count-25402
total-25403
count-25403
total-25404
count-25404
total-25405
row 1double_ele[1, 3]
count-25405
total-25406
column7 double_ele[4, 5]
count-25406
total-25407

count-25407
total-25408
count-25408
total-25409
count-25409
total-25410
row 7double_ele[4, 8]
count-25410
total-25411
count-25411
total-25412
count-25412
total-25413
count-25413
total-25414
count-25414
total-25415
count-25415
total-25416
count-25416
total-25417
count-25417
total-25418
count-25418
total-25419
count-25419
total-25420
count-25420
total-25421
count-25421
total-25422
count-25422
total-25423
count-25423
total-25424
count-25424
total-25425
count-25425
total-25426
count-25426
total-25427
count-25427
total-25428
count-25428
total-25429
count-25429
total-25430
column1 double_ele[4, 8]
count-25430
total-25431
count-25431
total-25432
count-25432
total-25433
count-25433
total-25434
count-25434
total-25435
count-25435
total-25436
column7 double_ele[1, 2]
count-25436
total-25437
count-25437
total-25438
count-25438
total-25439
row 9double_ele[1, 3]
count-25439
total-25440
count-25440
total-25441
count-25441
total-25442
count-25442
total-25443
count-25443
total-25444
count-25444
total-25445
count-25445
total-25446
count-25446
total-25447
count-25447
total-25448
row 4double_ele[2, 3]
count-25448
total-25449
count-25449
total-25450
count-25450
total-25451
count-25451
total-25452
count-25452
total-25453
row 6double_ele[4, 6]
count-25453
total-25454
column6 double_ele[2, 3]
count-25454
total-25455
count-25455
total-25456
count-25456
total-25457
count-25457
total-25458
count-25458
total-25459
count-25459
total-25460
count-25460
total-25461
column2 double_ele[1, 3]
count-25461
total-25462
count-25462
total-25463
count-25463
total-25464
count-25464
total-25465
count-25465
total-25466
count-25466
total-25467
column2 double_ele[2, 3]
count-25467
total-25468
count-25468
total-25469
count-25469
total-25470
count-25470
total-25471
column5 double_ele[1, 6]
column6 double_ele[6, 7]
count-25471
total-25472
count-25472
total-25473
count-25473
total-25474
count-25474
total-25475
count-25475
total-25476
count-25476
total-25477
count-25477
total-25478
count-25478
total-25479
count-25479
total-25480
count-25480
total-25481
count-25481
total-25482
count-25482
total-25483
count-25483
total-25484
count-25484
total-25485
count-25485
total-25486
count-25486
total-25487
count-25487
total-25488
row 5double_ele[1, 3]
row 6double_ele[1, 2]
column7 double_ele[1, 3]
count-25488
total-25489
count-25489
total-25490
count-25490
total-25491
count-25491
total-25492
count-25492
total-25493
count-25493
total-25494
count-25494
total-25495
count-25495
total-25496
count-25496
total-25497
count-25497
total-25498
row 8double_ele[4, 5]
row 9double_ele[2, 4]
box9 triple_ele[4, 5, 7]
count-25498
total-25499
column2 double_ele[3, 5]
row 7double_ele[3, 5]
row 8double_ele[3, 5]
count-25499
total-25500
count-25500
total-25501
row 8double_ele[1, 5]
count-25501
total-25502
column2 double_ele[1, 6]
column5 double_ele[2, 6]
row 7double_ele[1, 3]
count-25502
total-25503
count-25503
total-25504
row 1double_ele[1, 6]
column3 double_ele[1, 6]
count-25504
total-25505
count-25505
total-25506
count-25506
total-25507
count-25507
total-25508
count-25508
total-25509
count-25509
total-25510
count-25510
total-25511
count-25511
total-25512
row 1double_ele[3, 5]
count-25512
total-25513
count-25513
total-25514
count-25514
total-25515
count-25515
total-25516
row 7double_ele[5, 6]
column7 double_ele[5, 6]
row 8double_ele[5, 6]
count-25516
total-25517
count-25517
total-25518
count-25518
total-25519
count-25519
total-25520
count-25520
total-25521
count-25521
total-25522
count-25522
total-25523
count-25523
total-25524
count-25524
total-25525
column2 double_ele[2, 3]
row 5double_ele[2, 3]
count-25525
total-25526
count-25526
total-25527
count-25527
total-25528
count-25528
total-25529
count-25529
total-25530
count-25530
total-25531
count-25531
total-25532
count-25532
total-25533
count-25533
total-25534
count-25534
total-25535
count-25535
total-25536
count-25536
total-25537
count-25537
total-25538
count-25538
total-25539
count-25539
total-25540
count-25540
total-25541
count-25541
total-25542
count-25542
total-25543
count-25543
total-25544
count-25544
total-25545
count-25545
total-25546
count-25546
total-25547
count-25547
total-25548
count-25548
total-25549
count-25549
total-25550
count-25550
total-25551
count-25551
total-25552
count-25552
total-25553
count-25553
total-25554
count-25554
total-25555
count-25555
total-25556
row 9double_ele[2, 4]
count-25556
total-25557
count-25557
total-25558
count-25558
total-25559
row 5double_ele[4, 5]
count-25559
total-25560
count-25560
total-25561
count-25561
total-25562
count-25562
total-25563
count-25563
total-25564
count-25564
total-25565
count-25565
total-25566
count-25566
total-25567
count-25567
total-25568
count-25568
total-25569
count-25569
total-25570
column6 double_ele[4, 6]
count-25570
total-25571
count-25571
total-25572
count-25572
total-25573
count-25573
total-25574
column8 double_ele[1, 3]
count-25574
total-25575
count-25575
total-25576
count-25576
total-25577
count-25577
total-25578
count-25578
total-25579
count-25579
total-25580
column9 double_ele[5, 7]
count-25580
total-25581
count-25581
total-25582
count-25582
total-25583
count-25583
total-25584
count-25584
total-25585
count-25585
total-25586
count-25586
total-25587
count-25587
total-25588
count-25588
total-25589
column1 double_ele[1, 2]
row 3double_ele[3, 4]
column3 double_ele[1, 2]
row 7double_ele[1, 2]
count-25589
total-25590
count-25590
total-25591
count-25591
total-25592
count-25592
total-25593
count-25593
total-25594
count-25594
total-25595
count-25595
total-25596
count-25596
total-25597
count-25597
total-25598
row 2double_ele[1, 5]
column5 double_ele[3, 5]
count-25598
total-25599
count-25599
total-25600
count-25600
total-25601
count-25601
total-25602
count-25602
total-25603
count-25603
total-25604
count-25604
total-25605
count-25605
total-25606
count-25606
total-25607
count-25607
total-25608
count-25608
total-25609
count-25609
total-25610
count-25610
total-25611
count-25611
total-25612
count-25612
total-25613
count-25613
total-25614
count-25614
total-25615
count-25615
total-25616
count-25616
total-25617
count-25617
total-25618
row 8double_ele[2, 3]
count-25618
total-25619
count-25619
total-25620
count-25620
total-25621
count-25621
total-25622
count-25622
total-25623
count-25623
total-25624
count-25624
total-25625
count-25625
total-25626
count-25626
total-25627
row 8double_ele[1, 3]
count-25627
total-25628
count-25628
total-25629
count-25629
total-25630
count-25630
total-25631
count-25631
total-25632
column1 double_ele[1, 2]
row 2double_ele[1, 2]
column2 double_ele[1, 2]
column4 double_ele[1, 6]
count-25632
total-25633
count-25633
total-25634
count-25634
total-25635
count-25635
total-25636
count-25636
total-25637
count-25637
total-25638
count-25638
total-25639
count-25639
total-25640
count-25640
total-25641
row 2double_ele[2, 5]
row 7double_ele[2, 3]
count-25641
total-25642
count-25642
total-25643
count-25643
total-25644
count-25644
total-25645
count-25645
total-25646
count-25646
total-25647
count-25647
total-25648
count-25648
total-25649
count-25649
total-25650
count-25650
total-25651
count-25651
total-25652
count-25652
total-25653
count-25653
total-25654
row 5double_ele[1, 3]
count-25654
total-25655
column5 double_ele[2, 4]
count-25655
total-25656
count-25656
total-25657
column6 double_ele[6, 8]
column7 double_ele[4, 8]
count-25657
total-25658
count-25658
total-25659
count-25659
total-25660
count-25660
total-25661
count-25661
total-25662
count-25662
total-25663
row 9double_ele[4, 6]
count-25663
total-25664
count-25664
total-25665
count-25665
total-25666
count-25666
total-25667
row 1double_ele[1, 4]
column3 double_ele[1, 4]
row 5double_ele[1, 2]
count-25667
total-25668
count-25668
total-25669
count-25669
total-25670
count-25670
total-25671
count-25671
total-25672
count-25672
total-25673
count-25673
total-25674
count-25674
total-25675
count-25675
total-25676
count-25676
total-25677
count-25677
total-25678
row 3double_ele[3, 4]
count-25678
total-25679
row 1double_ele[3, 9]
count-25679
total-25680
count-25680
total-25681
count-25681
total-25682
count-25682
total-25683
count-25683
total-25684
count-25684
total-25685
count-25685
total-25686
count-25686
total-25687
count-25687
total-25688
count-25688
total-25689

count-25689
total-25690
column7 double_ele[2, 5]
count-25690
total-25691
row 9double_ele[1, 3]
count-25691
total-25692
count-25692
total-25693
count-25693
total-25694
count-25694
total-25695
count-25695
total-25696
count-25696
total-25697
row 5double_ele[2, 8]
count-25697
total-25698
count-25698
total-25699
row 5double_ele[3, 6]
count-25699
total-25700
count-25700
total-25701
count-25701
total-25702
count-25702
total-25703
count-25703
total-25704
count-25704
total-25705
row 6double_ele[2, 3]
count-25705
total-25706
count-25706
total-25707
count-25707
total-25708
count-25708
total-25709
count-25709
total-25710
count-25710
total-25711
count-25711
total-25712
count-25712
total-25713
count-25713
total-25714
count-25714
total-25715
count-25715
total-25716
count-25716
total-25717
count-25717
total-25718
count-25718
total-25719
count-25719
total-25720
count-25720
total-25721
count-25721
total-25722
count-25722
total-25723
count-25723
total-25724
row 2double_ele[3, 5]
row 4double_ele[1, 5]
count-25724
total-25725
count-25725
total-25726
count-25726
total-25727
count-25727
total-25728
count-25728
total-25729
count-25729
total-25730
count-25730
total-25731
column1 double_ele[3, 4]
row 2double_ele[3, 4]
count-25731
total-25732
count-25732
total-25733
count-25733
total-25734
count-25734
total-25735
count-25735
total-25736
count-25736
total-25737
count-25737
total-25738
count-25738
total-25739
count-25739
total-25740
column4 double_ele[3, 4]
row 8double_ele[1, 4]
count-25740
total-25741
count-25741
total-25742
row 2double_ele[2, 4]
column7 double_ele[2, 4]
count-25742
total-25743
count-25743
total-25744
column5 double_ele[2, 3]
count-25744
total-25745
count-25745
total-25746
count-25746
total-25747
count-25747
total-25748
count-25748
total-25749
count-25749
total-25750
count-25750
total-25751
count-25751
total-25752
count-25752
total-25753
count-25753
total-25754
count-25754
total-25755
count-25755
total-25756
count-25756
total-25757
count-25757
total-25758
row 1double_ele[5, 7]
column3 double_ele[5, 7]
count-25758
total-25759
count-25759
total-25760
count-25760
total-25761
count-25761
total-25762
count-25762
total-25763
row 9double_ele[1, 3]
count-25763
total-25764
count-25764
total-25765
count-25765
total-25766
count-25766
total-25767
count-25767
total-25768
count-25768
total-25769
count-25769
total-25770
count-25770
total-25771
count-25771
total-25772
count-25772
total-25773
count-25773
total-25774
count-25774
total-25775
count-25775
total-25776
count-25776
total-25777
count-25777
total-25778
count-25778
total-25779
count-25779
total-25780
count-25780
total-25781
count-25781
total-25782
count-25782
total-25783
count-25783
total-25784
count-25784
total-25785
count-25785
total-25786
count-25786
total-25787
column5 double_ele[2, 7]
count-25787
total-25788
count-25788
total-25789
count-25789
total-25790
count-25790
total-25791
count-25791
total-25792
column4 double_ele[1, 9]
column7 double_ele[5, 9]
count-25792
total-25793
count-25793
total-25794
count-25794
total-25795
count-25795
total-25796
count-25796
total-25797
count-25797
total-25798
count-25798
total-25799
row 9double_ele[2, 5]
count-25799
total-25800
count-25800
total-25801
count-25801
total-25802
count-25802
total-25803
count-25803
total-25804
count-25804
total-25805
count-25805
total-25806
count-25806
total-25807
count-25807
total-25808
count-25808
total-25809
count-25809
total-25810
count-25810
total-25811
count-25811
total-25812
column5 double_ele[1, 5]
count-25812
total-25813
count-25813
total-25814
count-25814
total-25815
row 2double_ele[2, 5]
row 6double_ele[2, 9]
column7 double_ele[2, 9]
count-25815
total-25816
count-25816
total-25817
count-25817
total-25818
count-25818
total-25819
count-25819
total-25820
count-25820
total-25821
count-25821
total-25822
count-25822
total-25823
count-25823
total-25824
row 1double_ele[1, 3]
row 5double_ele[1, 8]
count-25824
total-25825
count-25825
total-25826
count-25826
total-25827
count-25827
total-25828
count-25828
total-25829
count-25829
total-25830
count-25830
total-25831
count-25831
total-25832
count-25832
total-25833
count-25833
total-25834
count-25834
total-25835
count-25835
total-25836
count-25836
total-25837
column3 double_ele[3, 6]
column9 double_ele[1, 6]
count-25837
total-25838
count-25838
total-25839
count-25839
total-25840
count-25840
total-25841
count-25841
total-25842
count-25842
total-25843
count-25843
total-25844
count-25844
total-25845
count-25845
total-25846
count-25846
total-25847
row 1double_ele[2, 4]
column6 double_ele[2, 4]
count-25847
total-25848
count-25848
total-25849
count-25849
total-25850
count-25850
total-25851
count-25851
total-25852
count-25852
total-25853
count-25853
total-25854
column7 double_ele[2, 3]
count-25854
total-25855
count-25855
total-25856
count-25856
total-25857
row 8double_ele[2, 3]
count-25857
total-25858
count-25858
total-25859
count-25859
total-25860
count-25860
total-25861
count-25861
total-25862
count-25862
total-25863
row 4double_ele[2, 3]
column5 double_ele[2, 3]
count-25863
total-25864
count-25864
total-25865
column1 double_ele[4, 6]
count-25865
total-25866
count-25866
total-25867
count-25867
total-25868
count-25868
total-25869
count-25869
total-25870
count-25870
total-25871
count-25871
total-25872
column7 double_ele[3, 4]
count-25872
total-25873
count-25873
total-25874
count-25874
total-25875
column1 double_ele[2, 6]
count-25875
total-25876
count-25876
total-25877
count-25877
total-25878
count-25878
total-25879
count-25879
total-25880
count-25880
total-25881
row 5double_ele[4, 5]
row 3triple_ele[2, 3, 4]
count-25881
total-25882
count-25882
total-25883
count-25883
total-25884
count-25884
total-25885
count-25885
total-25886
row 1double_ele[4, 7]
count-25886
total-25887
count-25887
total-25888
count-25888
total-25889
row 4double_ele[2, 3]
column7 double_ele[2, 3]
count-25889
total-25890
count-25890
total-25891
count-25891
total-25892
count-25892
total-25893
count-25893
total-25894
count-25894
total-25895
count-25895
total-25896
count-25896
total-25897
count-25897
total-25898
count-25898
total-25899
count-25899
total-25900
count-25900
total-25901
count-25901
total-25902
count-25902
total-25903
count-25903
total-25904
count-25904
total-25905
row 4double_ele[1, 6]
row 8double_ele[4, 8]
count-25905
total-25906
column7 double_ele[1, 4]
count-25906
total-25907
count-25907
total-25908
count-25908
total-25909
count-25909
total-25910
count-25910
total-25911
column4 double_ele[5, 7]
count-25911
total-25912
count-25912
total-25913
count-25913
total-25914
count-25914
total-25915
count-25915
total-25916
count-25916
total-25917
column4 double_ele[1, 2]
count-25917
total-25918
count-25918
total-25919
count-25919
total-25920
count-25920
total-25921
count-25921
total-25922
count-25922
total-25923
count-25923
total-25924
count-25924
total-25925
count-25925
total-25926
count-25926
total-25927
count-25927
total-25928
count-25928
total-25929
count-25929
total-25930
count-25930
total-25931
count-25931
total-25932
count-25932
total-25933
count-25933
total-25934
row 5double_ele[4, 6]
count-25934
total-25935
count-25935
total-25936
count-25936
total-25937
count-25937
total-25938
count-25938
total-25939
count-25939
total-25940
count-25940
total-25941
count-25941
total-25942
count-25942
total-25943
column8 double_ele[1, 2]
count-25943
total-25944
count-25944
total-25945
count-25945
total-25946
count-25946
total-25947
count-25947
total-25948
count-25948
total-25949
row 1double_ele[3, 7]
count-25949
total-25950
count-25950
total-25951
count-25951
total-25952
count-25952
total-25953
count-25953
total-25954
count-25954
total-25955
count-25955
total-25956
count-25956
total-25957
row 4double_ele[1, 6]
count-25957
total-25958
count-25958
total-25959
column9 double_ele[5, 6]
count-25959
total-25960
count-25960
total-25961
count-25961
total-25962
count-25962
total-25963
count-25963
total-25964
count-25964
total-25965
count-25965
total-25966
count-25966
total-25967
count-25967
total-25968
count-25968
total-25969
count-25969
total-25970
count-25970
total-25971
count-25971
total-25972
count-25972
total-25973
count-25973
total-25974
count-25974
total-25975
count-25975
total-25976
count-25976
total-25977
count-25977
total-25978
count-25978
total-25979
count-25979
total-25980

row 3double_ele[1, 8]
column8 double_ele[2, 8]
row 9double_ele[2, 8]
count-25980
total-25981
column6 double_ele[3, 6]
count-25981
total-25982
count-25982
total-25983
count-25983
total-25984
count-25984
total-25985
count-25985
total-25986
count-25986
total-25987
count-25987
total-25988
count-25988
total-25989
count-25989
total-25990
count-25990
total-25991
count-25991
total-25992
row 6double_ele[3, 7]
row 9double_ele[2, 3]
count-25992
total-25993
count-25993
total-25994
count-25994
total-25995
count-25995
total-25996
count-25996
total-25997
count-25997
total-25998
count-25998
total-25999
count-25999
total-26000
count-26000
total-26001
count-26001
total-26002
count-26002
total-26003
column1 double_ele[2, 3]
count-26003
total-26004
row 5double_ele[2, 3]
count-26004
total-26005
row 2double_ele[5, 9]
row 7double_ele[3, 9]
column9 double_ele[3, 9]
count-26005
total-26006
count-26006
total-26007
count-26007
total-26008
count-26008
total-26009
count-26009
total-26010
count-26010
total-26011
row 2double_ele[2, 3]
count-26011
total-26012
count-26012
total-26013
count-26013
total-26014
count-26014
total-26015
count-26015
total-26016
row 5double_ele[1, 7]
count-26016
total-26017
count-26017
total-26018
count-26018
total-26019
row 4double_ele[2, 3]
column4 double_ele[1, 4]
column9 double_ele[1, 8]
count-26019
total-26020
count-26020
total-26021
count-26021
total-26022
count-26022
total-26023
count-26023
total-26024
column1 double_ele[2, 3]
count-26024
total-26025
count-26025
total-26026
count-26026
total-26027
column8 double_ele[2, 7]
count-26027
total-26028
count-26028
total-26029
count-26029
total-26030
count-26030
total-26031
count-26031
total-26032
count-26032
total-26033
column3 double_ele[1, 7]
count-26033
total-26034
count-26034
total-26035
count-26035
total-26036
count-26036
total-26037
count-26037
total-26038
count-26038
total-26039
count-26039
total-26040
count-26040
total-26041
count-26041
total-26042
count-26042
total-26043
row 1double_ele[3, 4]
column2 double_ele[3, 4]
count-26043
total-26044
count-26044
total-26045
count-26045
total-26046
count-26046
total-26047
count-26047
total-26048
row 8double_ele[3, 4]
column8 double_ele[3, 4]
count-26048
total-26049
count-26049
total-26050
count-26050
total-26051
count-26051
total-26052
column9 double_ele[2, 3]
count-26052
total-26053
count-26053
total-26054
row 6double_ele[3, 8]
count-26054
total-26055
count-26055
total-26056
count-26056
total-26057
count-26057
total-26058
count-26058
total-26059
count-26059
total-26060
count-26060
total-26061
count-26061
total-26062
column1 double_ele[4, 7]
column5 double_ele[4, 7]
column6 double_ele[6, 7]
row 7double_ele[3, 4]
count-26062
total-26063
count-26063
total-26064
count-26064
total-26065
count-26065
total-26066
count-26066
total-26067
count-26067
total-26068
count-26068
total-26069
count-26069
total-26070
count-26070
total-26071
count-26071
total-26072
count-26072
total-26073
count-26073
total-26074
count-26074
total-26075
count-26075
total-26076
count-26076
total-26077
row 1double_ele[1, 5]
count-26077
total-26078
row 1double_ele[2, 4]
count-26078
total-26079
count-26079
total-26080
count-26080
total-26081
row 4double_ele[3, 4]
count-26081
total-26082
count-26082
total-26083
count-26083
total-26084
count-26084
total-26085
count-26085
total-26086
count-26086
total-26087
count-26087
total-26088
count-26088
total-26089
count-26089
total-26090
count-26090
total-26091
count-26091
total-26092
count-26092
total-26093
count-26093
total-26094
count-26094
total-26095
count-26095
total-26096
count-26096
total-26097
count-26097
total-26098
count-26098
total-26099
count-26099
total-26100
count-26100
total-26101
count-26101
total-26102
count-26102
total-26103
count-26103
total-26104
count-26104
total-26105
count-26105
total-26106
count-26106
total-26107
count-26107
total-26108
count-26108
total-26109
count-26109
total-26110
column4 double_ele[1, 4]
row 8double_ele[1, 4]
count-26110
total-26111
count-26111
total-26112
count-26112
total-26113
count-26113
total-26114
row 3double_ele[2, 3]
column4 double_ele[2, 3]
count-26114
total-26115
count-26115
total-26116
row 6double_ele[2, 8]
count-26116
total-26117
count-26117
total-26118
count-26118
total-26119
count-26119
total-26120
column5 double_ele[5, 7]
column6 double_ele[2, 5]
box6 triple_ele[1, 3, 7]
count-26120
total-26121
count-26121
total-26122
row 8double_ele[3, 5]
column8 double_ele[3, 5]
count-26122
total-26123
count-26123
total-26124
count-26124
total-26125
count-26125
total-26126
count-26126
total-26127
count-26127
total-26128
count-26128
total-26129
count-26129
total-26130
column7 double_ele[2, 4]
count-26130
total-26131
column2 double_ele[1, 5]
count-26131
total-26132
column2 double_ele[1, 8]
count-26132
total-26133
count-26133
total-26134
count-26134
total-26135
count-26135
total-26136
count-26136
total-26137
count-26137
total-26138
count-26138
total-26139
row 1double_ele[1, 2]
row 3double_ele[2, 6]
column3 double_ele[2, 3]
count-26139
total-26140
count-26140
total-26141
count-26141
total-26142
count-26142
total-26143
count-26143
total-26144
count-26144
total-26145
count-26145
total-26146
count-26146
total-26147
count-26147
total-26148
count-26148
total-26149
count-26149
total-26150
count-26150
total-26151
count-26151
total-26152
column3 double_ele[2, 5]
count-26152
total-26153
count-26153
total-26154
count-26154
total-26155
count-26155
total-26156
count-26156
total-26157
count-26157
total-26158
count-26158
total-26159
count-26159
total-26160
count-26160
total-26161
row 2double_ele[3, 4]
count-26161
total-26162
count-26162
total-26163
count-26163
total-26164
count-26164
total-26165
count-26165
total-26166
count-26166
total-26167
count-26167
total-26168
count-26168
total-26169
column4 double_ele[1, 3]
count-26169
total-26170
count-26170
total-26171
count-26171
total-26172
count-26172
total-26173
count-26173
total-26174
count-26174
total-26175
count-26175
total-26176
count-26176
total-26177
count-26177
total-26178
count-26178
total-26179
count-26179
total-26180
count-26180
total-26181
count-26181
total-26182
count-26182
total-26183
count-26183
total-26184
count-26184
total-26185
count-26185
total-26186
row 2double_ele[2, 3]
count-26186
total-26187
count-26187
total-26188
count-26188
total-26189
count-26189
total-26190
count-26190
total-26191
count-26191
total-26192
column1 double_ele[1, 6]
count-26192
total-26193
count-26193
total-26194
count-26194
total-26195
count-26195
total-26196
count-26196
total-26197
count-26197
total-26198
count-26198
total-26199
count-26199
total-26200
count-26200
total-26201
count-26201
total-26202
count-26202
total-26203
count-26203
total-26204
count-26204
total-26205
count-26205
total-26206
count-26206
total-26207
count-26207
total-26208
count-26208
total-26209
count-26209
total-26210
count-26210
total-26211
count-26211
total-26212
count-26212
total-26213
count-26213
total-26214
count-26214
total-26215
count-26215
total-26216
count-26216
total-26217
count-26217
total-26218
column3 double_ele[2, 3]
column6 double_ele[1, 2]
count-26218
total-26219
count-26219
total-26220
count-26220
total-26221
count-26221
total-26222
count-26222
total-26223
count-26223
total-26224
count-26224
total-26225
count-26225
total-26226
count-26226
total-26227
column6 double_ele[1, 4]
count-26227
total-26228
count-26228
total-26229
row 1double_ele[2, 6]
column5 double_ele[1, 2]
row 6double_ele[1, 2]
column6 double_ele[2, 6]
count-26229
total-26230
count-26230
total-26231
count-26231
total-26232
count-26232
total-26233
count-26233
total-26234
count-26234
total-26235
count-26235
total-26236
count-26236
total-26237
count-26237
total-26238
count-26238
total-26239
column1 double_ele[1, 7]
count-26239
total-26240
count-26240
total-26241
count-26241
total-26242
count-26242
total-26243
count-26243
total-26244
count-26244
total-26245
count-26245
total-26246
count-26246
total-26247
count-26247
total-26248
count-26248
total-26249
count-26249
total-26250
count-26250
total-26251
count-26251
total-26252
count-26252
total-26253
count-26253
total-26254
count-26254
total-26255
count-26255
total-26256
count-26256
total-26257
count-26257
total-26258
count-26258
total-26259
count-26259
total-26260
count-26260
total-26261
count-26261
total-26262
count-26262
total-26263
count-26263
total-26264
count-26264
total-26265
count-26265
total-26266
count-26266
total-26267
column6 double_ele[1, 4]
count-26267
total-26268
count-26268
total-26269
count-26269
total-26270
count-26270
total-26271
count-26271
total-26272
count-26272
total-26273

count-26273
total-26274
count-26274
total-26275
count-26275
total-26276
count-26276
total-26277
count-26277
total-26278
count-26278
total-26279
count-26279
total-26280
count-26280
total-26281
count-26281
total-26282
count-26282
total-26283
count-26283
total-26284
count-26284
total-26285
count-26285
total-26286
count-26286
total-26287
count-26287
total-26288
count-26288
total-26289
count-26289
total-26290
column9 double_ele[3, 6]
count-26290
total-26291
count-26291
total-26292
count-26292
total-26293
column7 double_ele[1, 4]
count-26293
total-26294
count-26294
total-26295
count-26295
total-26296
column4 double_ele[3, 4]
count-26296
total-26297
count-26297
total-26298
count-26298
total-26299
count-26299
total-26300
count-26300
total-26301
count-26301
total-26302
count-26302
total-26303
count-26303
total-26304
count-26304
total-26305
count-26305
total-26306
count-26306
total-26307
count-26307
total-26308
count-26308
total-26309
count-26309
total-26310
column5 double_ele[3, 6]
count-26310
total-26311
count-26311
total-26312
count-26312
total-26313
count-26313
total-26314
row 2double_ele[4, 6]
column6 double_ele[3, 7]
column8 double_ele[1, 7]
count-26314
total-26315
count-26315
total-26316
count-26316
total-26317
count-26317
total-26318
count-26318
total-26319
count-26319
total-26320
count-26320
total-26321
count-26321
total-26322
count-26322
total-26323
count-26323
total-26324
column2 double_ele[2, 6]
row 3double_ele[2, 6]
count-26324
total-26325
count-26325
total-26326
count-26326
total-26327
count-26327
total-26328
count-26328
total-26329
row 5double_ele[2, 3]
count-26329
total-26330
count-26330
total-26331
count-26331
total-26332
count-26332
total-26333
count-26333
total-26334
count-26334
total-26335
count-26335
total-26336
count-26336
total-26337
column6 double_ele[3, 4]
count-26337
total-26338
count-26338
total-26339
count-26339
total-26340
count-26340
total-26341
count-26341
total-26342
count-26342
total-26343
count-26343
total-26344
count-26344
total-26345
count-26345
total-26346
count-26346
total-26347
count-26347
total-26348
count-26348
total-26349
count-26349
total-26350
count-26350
total-26351
count-26351
total-26352
column4 double_ele[2, 5]
row 8double_ele[3, 9]
count-26352
total-26353
column6 double_ele[4, 7]
row 7double_ele[1, 4]
count-26353
total-26354
count-26354
total-26355
column1 double_ele[1, 3]
row 9double_ele[1, 3]
count-26355
total-26356
count-26356
total-26357
count-26357
total-26358
row 9double_ele[3, 4]
count-26358
total-26359
count-26359
total-26360
count-26360
total-26361
row 3double_ele[2, 5]
count-26361
total-26362
count-26362
total-26363
count-26363
total-26364
count-26364
total-26365
count-26365
total-26366
count-26366
total-26367
count-26367
total-26368
count-26368
total-26369
count-26369
total-26370
count-26370
total-26371
count-26371
total-26372
count-26372
total-26373
count-26373
total-26374
count-26374
total-26375
count-26375
total-26376
count-26376
total-26377
count-26377
total-26378
count-26378
total-26379
count-26379
total-26380
count-26380
total-26381
count-26381
total-26382
count-26382
total-26383
count-26383
total-26384
count-26384
total-26385
count-26385
total-26386
count-26386
total-26387
column7 double_ele[2, 4]
row 3triple_ele[2, 3, 4]
count-26387
total-26388
count-26388
total-26389
count-26389
total-26390
count-26390
total-26391
count-26391
total-26392
count-26392
total-26393
row 4double_ele[2, 4]
column7 double_ele[2, 4]
column8 double_ele[2, 4]
count-26393
total-26394
count-26394
total-26395
count-26395
total-26396
count-26396
total-26397
row 8double_ele[2, 4]
count-26397
total-26398
count-26398
total-26399
row 9double_ele[2, 3]
count-26399
total-26400
count-26400
total-26401
count-26401
total-26402
count-26402
total-26403
count-26403
total-26404
column8 double_ele[2, 7]
count-26404
total-26405
count-26405
total-26406
count-26406
total-26407
column7 double_ele[2, 6]
count-26407
total-26408
count-26408
total-26409
count-26409
total-26410
count-26410
total-26411
column9 double_ele[3, 8]
count-26411
total-26412
count-26412
total-26413
count-26413
total-26414
count-26414
total-26415
count-26415
total-26416
count-26416
total-26417
count-26417
total-26418
count-26418
total-26419
column2 double_ele[3, 8]
row 6double_ele[2, 5]
row 8double_ele[2, 6]
column8 double_ele[2, 6]
row 9double_ele[2, 6]
count-26419
total-26420
count-26420
total-26421
count-26421
total-26422
count-26422
total-26423
count-26423
total-26424
count-26424
total-26425
count-26425
total-26426
column1 double_ele[2, 3]
column9 double_ele[1, 2]
count-26426
total-26427
count-26427
total-26428
count-26428
total-26429
count-26429
total-26430
column8 double_ele[1, 4]
count-26430
total-26431
count-26431
total-26432
count-26432
total-26433
count-26433
total-26434
count-26434
total-26435
count-26435
total-26436
count-26436
total-26437
count-26437
total-26438
count-26438
total-26439
row 3double_ele[3, 7]
column4 double_ele[3, 7]
count-26439
total-26440
count-26440
total-26441
count-26441
total-26442
count-26442
total-26443
count-26443
total-26444
count-26444
total-26445
count-26445
total-26446
count-26446
total-26447
count-26447
total-26448
count-26448
total-26449
count-26449
total-26450
count-26450
total-26451
count-26451
total-26452
count-26452
total-26453
column5 double_ele[4, 5]
column7 double_ele[1, 5]
count-26453
total-26454
count-26454
total-26455
count-26455
total-26456
row 8double_ele[1, 3]
count-26456
total-26457
count-26457
total-26458
count-26458
total-26459
count-26459
total-26460
count-26460
total-26461
count-26461
total-26462
count-26462
total-26463
column1 double_ele[4, 8]
column4 double_ele[3, 8]
count-26463
total-26464
count-26464
total-26465
count-26465
total-26466
count-26466
total-26467
row 2double_ele[1, 2]
column9 double_ele[1, 2]
count-26467
total-26468
count-26468
total-26469
count-26469
total-26470
count-26470
total-26471
count-26471
total-26472
count-26472
total-26473
count-26473
total-26474
count-26474
total-26475
count-26475
total-26476
count-26476
total-26477
count-26477
total-26478
count-26478
total-26479
count-26479
total-26480
count-26480
total-26481
count-26481
total-26482
count-26482
total-26483
count-26483
total-26484
count-26484
total-26485
count-26485
total-26486
count-26486
total-26487
count-26487
total-26488
count-26488
total-26489
count-26489
total-26490
count-26490
total-26491
count-26491
total-26492
count-26492
total-26493
count-26493
total-26494
column6 double_ele[1, 4]
count-26494
total-26495
column7 double_ele[2, 5]
count-26495
total-26496
count-26496
total-26497
count-26497
total-26498
column9 double_ele[1, 3]
count-26498
total-26499
count-26499
total-26500
count-26500
total-26501
count-26501
total-26502
count-26502
total-26503
count-26503
total-26504
count-26504
total-26505
count-26505
total-26506
count-26506
total-26507
count-26507
total-26508
count-26508
total-26509
count-26509
total-26510
count-26510
total-26511
count-26511
total-26512
column7 double_ele[3, 6]
count-26512
total-26513
count-26513
total-26514
count-26514
total-26515
count-26515
total-26516
count-26516
total-26517
count-26517
total-26518
count-26518
total-26519
row 4double_ele[3, 8]
row 8double_ele[4, 8]
row 9double_ele[1, 3]
count-26519
total-26520
count-26520
total-26521
count-26521
total-26522
count-26522
total-26523
count-26523
total-26524
row 6double_ele[2, 4]
count-26524
total-26525
count-26525
total-26526
count-26526
total-26527
count-26527
total-26528
column6 double_ele[1, 2]
count-26528
total-26529
count-26529
total-26530
count-26530
total-26531
count-26531
total-26532
count-26532
total-26533
column1 double_ele[2, 5]
row 3double_ele[2, 5]
row 5double_ele[1, 5]
column9 double_ele[1, 5]
count-26533
total-26534
count-26534
total-26535
count-26535
total-26536
count-26536
total-26537
count-26537
total-26538
row 1double_ele[2, 3]
count-26538
total-26539
count-26539
total-26540
column7 double_ele[2, 6]
row 9double_ele[2, 6]
count-26540
total-26541
count-26541
total-26542
count-26542
total-26543
count-26543
total-26544
count-26544
total-26545
count-26545
total-26546
count-26546
total-26547
count-26547
total-26548
count-26548
total-26549
count-26549
total-26550
count-26550
total-26551
count-26551
total-26552
count-26552
total-26553
count-26553
total-26554
count-26554
total-26555
count-26555
total-26556
count-26556
total-26557
row 7double_ele[2, 4]
count-26557
total-26558
count-26558
total-26559
column2 double_ele[3, 6]
row 6double_ele[3, 6]
count-26559
total-26560
count-26560
total-26561

count-26561
total-26562
count-26562
total-26563
count-26563
total-26564
count-26564
total-26565
count-26565
total-26566
count-26566
total-26567
count-26567
total-26568
count-26568
total-26569
count-26569
total-26570
count-26570
total-26571
count-26571
total-26572
count-26572
total-26573
count-26573
total-26574
count-26574
total-26575
count-26575
total-26576
row 1double_ele[2, 6]
column8 double_ele[2, 6]
count-26576
total-26577
count-26577
total-26578
row 4double_ele[1, 6]
count-26578
total-26579
count-26579
total-26580
count-26580
total-26581
count-26581
total-26582
count-26582
total-26583
count-26583
total-26584
count-26584
total-26585
count-26585
total-26586
count-26586
total-26587
count-26587
total-26588
column7 double_ele[1, 4]
count-26588
total-26589
count-26589
total-26590
count-26590
total-26591
count-26591
total-26592
count-26592
total-26593
row 1double_ele[5, 6]
count-26593
total-26594
count-26594
total-26595
count-26595
total-26596
count-26596
total-26597
count-26597
total-26598
count-26598
total-26599
count-26599
total-26600
count-26600
total-26601
count-26601
total-26602
count-26602
total-26603
count-26603
total-26604
count-26604
total-26605
count-26605
total-26606
row 8double_ele[2, 6]
count-26606
total-26607
count-26607
total-26608
count-26608
total-26609
count-26609
total-26610
row 1double_ele[4, 5]
row 6double_ele[1, 4]
count-26610
total-26611
count-26611
total-26612
count-26612
total-26613
count-26613
total-26614
count-26614
total-26615
count-26615
total-26616
count-26616
total-26617
count-26617
total-26618
count-26618
total-26619
count-26619
total-26620
count-26620
total-26621
count-26621
total-26622
row 5double_ele[1, 5]
count-26622
total-26623
count-26623
total-26624
count-26624
total-26625
count-26625
total-26626
count-26626
total-26627
count-26627
total-26628
count-26628
total-26629
count-26629
total-26630
count-26630
total-26631
count-26631
total-26632
count-26632
total-26633
column4 double_ele[4, 6]
row 5double_ele[4, 6]
count-26633
total-26634
column6 double_ele[2, 5]
count-26634
total-26635
column3 double_ele[2, 5]
count-26635
total-26636
count-26636
total-26637
count-26637
total-26638
count-26638
total-26639
count-26639
total-26640
count-26640
total-26641
count-26641
total-26642
count-26642
total-26643
count-26643
total-26644
count-26644
total-26645
count-26645
total-26646
count-26646
total-26647
count-26647
total-26648
count-26648
total-26649
count-26649
total-26650
count-26650
total-26651
count-26651
total-26652
count-26652
total-26653
count-26653
total-26654
count-26654
total-26655
count-26655
total-26656
count-26656
total-26657
count-26657
total-26658
count-26658
total-26659
count-26659
total-26660
count-26660
total-26661
count-26661
total-26662
count-26662
total-26663
count-26663
total-26664
count-26664
total-26665
count-26665
total-26666
count-26666
total-26667
count-26667
total-26668
count-26668
total-26669
count-26669
total-26670
count-26670
total-26671
count-26671
total-26672
count-26672
total-26673
count-26673
total-26674
count-26674
total-26675
count-26675
total-26676
count-26676
total-26677
count-26677
total-26678
row 1double_ele[3, 4]
column5 double_ele[1, 2]
row 8double_ele[1, 3]
count-26678
total-26679
row 3double_ele[1, 3]
count-26679
total-26680
count-26680
total-26681
count-26681
total-26682
count-26682
total-26683
count-26683
total-26684
count-26684
total-26685
count-26685
total-26686
count-26686
total-26687
count-26687
total-26688
count-26688
total-26689
count-26689
total-26690
count-26690
total-26691
count-26691
total-26692
count-26692
total-26693
count-26693
total-26694
count-26694
total-26695
count-26695
total-26696
count-26696
total-26697
count-26697
total-26698
row 7double_ele[2, 4]
count-26698
total-26699
count-26699
total-26700
count-26700
total-26701
count-26701
total-26702
count-26702
total-26703
count-26703
total-26704
count-26704
total-26705
count-26705
total-26706
count-26706
total-26707
count-26707
total-26708
count-26708
total-26709
count-26709
total-26710
count-26710
total-26711
count-26711
total-26712
count-26712
total-26713
column6 double_ele[3, 6]
count-26713
total-26714
count-26714
total-26715
count-26715
total-26716
count-26716
total-26717
count-26717
total-26718
count-26718
total-26719
count-26719
total-26720
count-26720
total-26721
count-26721
total-26722
count-26722
total-26723
count-26723
total-26724
count-26724
total-26725
count-26725
total-26726
count-26726
total-26727
count-26727
total-26728
count-26728
total-26729
count-26729
total-26730
count-26730
total-26731
count-26731
total-26732
count-26732
total-26733
count-26733
total-26734
count-26734
total-26735
row 9double_ele[3, 4]
column9 double_ele[1, 5]
count-26735
total-26736
count-26736
total-26737
count-26737
total-26738
count-26738
total-26739
count-26739
total-26740
column2 double_ele[1, 4]
row 8double_ele[1, 4]
count-26740
total-26741
count-26741
total-26742
count-26742
total-26743
count-26743
total-26744
count-26744
total-26745
count-26745
total-26746
count-26746
total-26747
count-26747
total-26748
column9 double_ele[1, 2]
count-26748
total-26749
row 3double_ele[1, 4]
row 5double_ele[1, 7]
count-26749
total-26750
count-26750
total-26751
row 6double_ele[3, 4]
row 9double_ele[5, 6]
count-26751
total-26752
count-26752
total-26753
count-26753
total-26754
count-26754
total-26755
count-26755
total-26756
count-26756
total-26757
count-26757
total-26758
column5 double_ele[2, 6]
count-26758
total-26759
count-26759
total-26760
count-26760
total-26761
count-26761
total-26762
count-26762
total-26763
count-26763
total-26764
count-26764
total-26765
count-26765
total-26766
count-26766
total-26767
count-26767
total-26768
count-26768
total-26769
count-26769
total-26770
count-26770
total-26771
count-26771
total-26772
count-26772
total-26773
count-26773
total-26774
count-26774
total-26775
count-26775
total-26776
count-26776
total-26777
count-26777
total-26778
count-26778
total-26779
count-26779
total-26780
row 2double_ele[1, 2]
row 3double_ele[1, 2]
column3 double_ele[1, 2]
row 6double_ele[1, 2]
column6 double_ele[1, 2]
column7 double_ele[5, 8]
count-26780
total-26781
count-26781
total-26782
count-26782
total-26783
count-26783
total-26784
count-26784
total-26785
count-26785
total-26786
count-26786
total-26787
count-26787
total-26788
count-26788
total-26789
count-26789
total-26790
count-26790
total-26791
count-26791
total-26792
row 9double_ele[3, 4]
count-26792
total-26793
count-26793
total-26794
count-26794
total-26795
count-26795
total-26796
count-26796
total-26797
column7 double_ele[2, 8]
count-26797
total-26798
count-26798
total-26799
count-26799
total-26800
count-26800
total-26801
count-26801
total-26802
count-26802
total-26803
count-26803
total-26804
count-26804
total-26805
count-26805
total-26806
count-26806
total-26807
count-26807
total-26808
count-26808
total-26809
count-26809
total-26810
count-26810
total-26811
count-26811
total-26812
count-26812
total-26813
count-26813
total-26814
count-26814
total-26815
count-26815
total-26816
count-26816
total-26817
count-26817
total-26818
count-26818
total-26819
count-26819
total-26820
count-26820
total-26821
count-26821
total-26822
count-26822
total-26823
count-26823
total-26824
row 6double_ele[4, 5]
count-26824
total-26825
count-26825
total-26826
count-26826
total-26827
count-26827
total-26828
count-26828
total-26829
count-26829
total-26830
count-26830
total-26831
count-26831
total-26832
count-26832
total-26833
count-26833
total-26834
count-26834
total-26835
count-26835
total-26836
count-26836
total-26837
count-26837
total-26838
count-26838
total-26839
count-26839
total-26840
count-26840
total-26841
count-26841
total-26842
count-26842
total-26843
count-26843
total-26844
count-26844
total-26845
count-26845
total-26846
count-26846
total-26847
count-26847
total-26848
count-26848
total-26849
count-26849
total-26850
count-26850
total-26851
count-26851
total-26852
count-26852
total-26853
count-26853
total-26854
count-26854
total-26855
count-26855
total-26856
count-26856
total-26857
count-26857
total-26858
column5 double_ele[1, 5]
count-26858
total-26859
count-26859
total-26860
count-26860
total-26861
count-26861
total-26862
count-26862
total-26863
count-26863
total-26864
count-26864
total-26865
count-26865
total-26866
row 5double_ele[1, 5]
count-26866
total-26867
count-26867
total-26868
count-26868
total-26869
row 8double_ele[3, 6]
count-26869
total-26870
row 1double_ele[4, 5]
row 6double_ele[2, 4]
count-26870
total-26871
count-26871
total-26872
count-26872
total-26873
count-26873
total-26874
count-26874
total-26875
count-26875
total-26876
count-26876
total-26877
count-26877
total-26878
count-26878
total-26879
count-26879
total-26880
count-26880
total-26881
count-26881
total-26882
count-26882
total-26883
column1 double_ele[2, 6]
column3 double_ele[3, 6]
row 5double_ele[3, 6]
count-26883

total-26884
count-26884
total-26885
count-26885
total-26886
count-26886
total-26887
count-26887
total-26888
row 6double_ele[2, 5]
count-26888
total-26889
count-26889
total-26890
count-26890
total-26891
count-26891
total-26892
count-26892
total-26893
count-26893
total-26894
count-26894
total-26895
count-26895
total-26896
count-26896
total-26897
count-26897
total-26898
count-26898
total-26899
count-26899
total-26900
count-26900
total-26901
count-26901
total-26902
count-26902
total-26903
row 1double_ele[2, 3]
count-26903
total-26904
count-26904
total-26905
count-26905
total-26906
count-26906
total-26907
count-26907
total-26908
column1 double_ele[3, 7]
count-26908
total-26909
count-26909
total-26910
count-26910
total-26911
count-26911
total-26912
count-26912
total-26913
count-26913
total-26914
count-26914
total-26915
count-26915
total-26916
count-26916
total-26917
count-26917
total-26918
row 2double_ele[3, 7]
count-26918
total-26919
count-26919
total-26920
row 4double_ele[4, 5]
count-26920
total-26921
count-26921
total-26922
count-26922
total-26923
count-26923
total-26924
count-26924
total-26925
count-26925
total-26926
count-26926
total-26927
count-26927
total-26928
count-26928
total-26929
row 6double_ele[1, 2]
count-26929
total-26930
count-26930
total-26931
count-26931
total-26932
count-26932
total-26933
count-26933
total-26934
count-26934
total-26935
count-26935
total-26936
count-26936
total-26937
count-26937
total-26938
count-26938
total-26939
count-26939
total-26940
count-26940
total-26941
count-26941
total-26942
count-26942
total-26943
column7 double_ele[2, 3]
count-26943
total-26944
count-26944
total-26945
count-26945
total-26946
count-26946
total-26947
count-26947
total-26948
count-26948
total-26949
count-26949
total-26950
count-26950
total-26951
count-26951
total-26952
column1 double_ele[2, 6]
count-26952
total-26953
count-26953
total-26954
count-26954
total-26955
count-26955
total-26956
count-26956
total-26957
count-26957
total-26958
count-26958
total-26959
count-26959
total-26960
count-26960
total-26961
count-26961
total-26962
count-26962
total-26963
count-26963
total-26964
count-26964
total-26965
count-26965
total-26966
count-26966
total-26967
count-26967
total-26968
count-26968
total-26969
count-26969
total-26970
count-26970
total-26971
count-26971
total-26972
count-26972
total-26973
count-26973
total-26974
count-26974
total-26975
count-26975
total-26976
row 2double_ele[1, 2]
count-26976
total-26977
count-26977
total-26978
row 5double_ele[2, 7]
count-26978
total-26979
count-26979
total-26980
count-26980
total-26981
count-26981
total-26982
count-26982
total-26983
count-26983
total-26984
count-26984
total-26985
count-26985
total-26986
count-26986
total-26987
count-26987
total-26988
count-26988
total-26989
count-26989
total-26990
count-26990
total-26991
count-26991
total-26992
count-26992
total-26993
column7 double_ele[1, 5]
count-26993
total-26994
count-26994
total-26995
count-26995
total-26996
count-26996
total-26997
count-26997
total-26998
row 3double_ele[2, 8]
column5 double_ele[2, 8]
column7 double_ele[2, 8]
count-26998
total-26999
count-26999
total-27000
count-27000
total-27001
count-27001
total-27002
count-27002
total-27003
count-27003
total-27004
row 2double_ele[2, 3]
count-27004
total-27005
count-27005
total-27006
count-27006
total-27007
count-27007
total-27008
count-27008
total-27009
count-27009
total-27010
count-27010
total-27011
count-27011
total-27012
count-27012
total-27013
count-27013
total-27014
count-27014
total-27015
count-27015
total-27016
count-27016
total-27017
count-27017
total-27018
count-27018
total-27019
count-27019
total-27020
count-27020
total-27021
column4 double_ele[2, 5]
count-27021
total-27022
count-27022
total-27023
row 4double_ele[3, 5]
column6 double_ele[3, 5]
count-27023
total-27024
count-27024
total-27025
column3 double_ele[2, 7]
count-27025
total-27026
row 4double_ele[2, 4]
column6 double_ele[1, 4]
count-27026
total-27027
count-27027
total-27028
count-27028
total-27029
count-27029
total-27030
column8 double_ele[1, 6]
count-27030
total-27031
count-27031
total-27032
count-27032
total-27033
count-27033
total-27034
count-27034
total-27035
count-27035
total-27036
count-27036
total-27037
count-27037
total-27038
count-27038
total-27039
count-27039
total-27040
count-27040
total-27041
count-27041
total-27042
count-27042
total-27043
count-27043
total-27044
count-27044
total-27045
count-27045
total-27046
row 5double_ele[2, 3]
column6 double_ele[2, 3]
count-27046
total-27047
count-27047
total-27048
row 8double_ele[1, 6]
count-27048
total-27049
count-27049
total-27050
count-27050
total-27051
count-27051
total-27052
count-27052
total-27053
count-27053
total-27054
count-27054
total-27055
count-27055
total-27056
count-27056
total-27057
count-27057
total-27058
count-27058
total-27059
count-27059
total-27060
count-27060
total-27061
count-27061
total-27062
count-27062
total-27063
count-27063
total-27064
count-27064
total-27065
count-27065
total-27066
count-27066
total-27067
count-27067
total-27068
count-27068
total-27069
count-27069
total-27070
count-27070
total-27071
count-27071
total-27072
count-27072
total-27073
count-27073
total-27074
count-27074
total-27075
count-27075
total-27076
count-27076
total-27077
count-27077
total-27078
count-27078
total-27079
count-27079
total-27080
box6 triple_ele[1, 3, 4]
count-27080
total-27081
count-27081
total-27082
count-27082
total-27083
row 9double_ele[2, 8]
count-27083
total-27084
count-27084
total-27085
count-27085
total-27086
count-27086
total-27087
count-27087
total-27088
count-27088
total-27089
count-27089
total-27090
count-27090
total-27091
count-27091
total-27092
count-27092
total-27093
row 9double_ele[1, 8]
count-27093
total-27094
count-27094
total-27095
count-27095
total-27096
count-27096
total-27097
count-27097
total-27098
count-27098
total-27099
count-27099
total-27100
count-27100
total-27101
count-27101
total-27102
count-27102
total-27103
count-27103
total-27104
count-27104
total-27105
count-27105
total-27106
count-27106
total-27107
count-27107
total-27108
row 7double_ele[4, 5]
column8 double_ele[1, 3]
count-27108
total-27109
count-27109
total-27110
count-27110
total-27111
count-27111
total-27112
count-27112
total-27113
count-27113
total-27114
count-27114
total-27115
count-27115
total-27116
count-27116
total-27117
count-27117
total-27118
count-27118
total-27119
count-27119
total-27120
count-27120
total-27121
column9 double_ele[2, 3]
count-27121
total-27122
count-27122
total-27123
count-27123
total-27124
count-27124
total-27125
count-27125
total-27126
count-27126
total-27127
count-27127
total-27128
count-27128
total-27129
count-27129
total-27130
count-27130
total-27131
row 5double_ele[1, 6]
count-27131
total-27132
count-27132
total-27133
count-27133
total-27134
count-27134
total-27135
count-27135
total-27136
column7 double_ele[1, 2]
count-27136
total-27137
count-27137
total-27138
count-27138
total-27139
count-27139
total-27140
count-27140
total-27141
count-27141
total-27142
count-27142
total-27143
row 8double_ele[6, 7]
count-27143
total-27144
count-27144
total-27145
count-27145
total-27146
count-27146
total-27147
count-27147
total-27148
count-27148
total-27149
count-27149
total-27150
row 4double_ele[1, 3]
count-27150
total-27151
count-27151
total-27152
count-27152
total-27153
count-27153
total-27154
count-27154
total-27155
count-27155
total-27156
column7 double_ele[2, 3]
column8 double_ele[1, 4]
column9 double_ele[2, 9]
count-27156
total-27157
count-27157
total-27158
count-27158
total-27159
count-27159
total-27160
count-27160
total-27161
count-27161
total-27162
count-27162
total-27163
count-27163
total-27164
count-27164
total-27165
count-27165
total-27166
count-27166
total-27167
count-27167
total-27168
count-27168
total-27169
column1 double_ele[3, 4]
count-27169
total-27170
row 3double_ele[1, 2]
count-27170
total-27171
count-27171
total-27172
count-27172
total-27173
row 3double_ele[2, 4]
count-27173
total-27174
count-27174
total-27175
count-27175
total-27176
count-27176
total-27177
count-27177
total-27178
row 9double_ele[1, 2]
count-27178
total-27179
count-27179
total-27180
count-27180
total-27181
count-27181
total-27182
count-27182
total-27183
count-27183
total-27184
count-27184
total-27185
count-27185
total-27186
count-27186
total-27187
count-27187
total-27188
count-27188
total-27189
count-27189
total-27190
count-27190
total-27191
count-27191
total-27192
count-27192
total-27193
count-27193
total-27194

count-27194
total-27195
count-27195
total-27196
count-27196
total-27197
count-27197
total-27198
count-27198
total-27199
count-27199
total-27200
count-27200
total-27201
column3 double_ele[1, 3]
count-27201
total-27202
count-27202
total-27203
count-27203
total-27204
count-27204
total-27205
count-27205
total-27206
row 8double_ele[1, 4]
count-27206
total-27207
count-27207
total-27208
count-27208
total-27209
count-27209
total-27210
count-27210
total-27211
count-27211
total-27212
count-27212
total-27213
count-27213
total-27214
count-27214
total-27215
count-27215
total-27216
count-27216
total-27217
count-27217
total-27218
count-27218
total-27219
count-27219
total-27220
count-27220
total-27221
count-27221
total-27222
count-27222
total-27223
count-27223
total-27224
count-27224
total-27225
count-27225
total-27226
count-27226
total-27227
row 4double_ele[3, 4]
count-27227
total-27228
count-27228
total-27229
count-27229
total-27230
row 5double_ele[1, 7]
count-27230
total-27231
count-27231
total-27232
count-27232
total-27233
row 3double_ele[2, 7]
column9 double_ele[2, 7]
count-27233
total-27234
count-27234
total-27235
count-27235
total-27236
count-27236
total-27237
count-27237
total-27238
count-27238
total-27239
row 9double_ele[1, 7]
count-27239
total-27240
count-27240
total-27241
count-27241
total-27242
count-27242
total-27243
count-27243
total-27244
count-27244
total-27245
count-27245
total-27246
count-27246
total-27247
count-27247
total-27248
count-27248
total-27249
count-27249
total-27250
count-27250
total-27251
count-27251
total-27252
count-27252
total-27253
count-27253
total-27254
count-27254
total-27255
count-27255
total-27256
count-27256
total-27257
count-27257
total-27258
count-27258
total-27259
count-27259
total-27260
count-27260
total-27261
count-27261
total-27262
count-27262
total-27263
count-27263
total-27264
count-27264
total-27265
count-27265
total-27266
count-27266
total-27267
count-27267
total-27268
count-27268
total-27269
count-27269
total-27270
count-27270
total-27271
column7 double_ele[2, 3]
count-27271
total-27272
count-27272
total-27273
count-27273
total-27274
count-27274
total-27275
row 1double_ele[4, 5]
column3 double_ele[4, 5]
column8 double_ele[4, 5]
count-27275
total-27276
count-27276
total-27277
count-27277
total-27278
row 8double_ele[1, 6]
count-27278
total-27279
count-27279
total-27280
count-27280
total-27281
count-27281
total-27282
count-27282
total-27283
count-27283
total-27284
count-27284
total-27285
count-27285
total-27286
count-27286
total-27287
column5 double_ele[3, 7]
count-27287
total-27288
count-27288
total-27289
count-27289
total-27290
count-27290
total-27291
count-27291
total-27292
column5 double_ele[4, 6]
count-27292
total-27293
count-27293
total-27294
count-27294
total-27295
count-27295
total-27296
count-27296
total-27297
count-27297
total-27298
row 3double_ele[1, 3]
column5 double_ele[1, 2]
column6 double_ele[1, 2]
column8 double_ele[2, 5]
row 9double_ele[1, 2]
count-27298
total-27299
count-27299
total-27300
column1 double_ele[1, 4]
row 7double_ele[1, 4]
count-27300
total-27301
count-27301
total-27302
count-27302
total-27303
count-27303
total-27304
column8 double_ele[3, 4]
row 9double_ele[3, 4]
count-27304
total-27305
count-27305
total-27306
count-27306
total-27307
count-27307
total-27308
count-27308
total-27309
count-27309
total-27310
count-27310
total-27311
row 5double_ele[1, 3]
count-27311
total-27312
count-27312
total-27313
count-27313
total-27314
count-27314
total-27315
row 5double_ele[1, 4]
count-27315
total-27316
count-27316
total-27317
count-27317
total-27318
count-27318
total-27319
count-27319
total-27320
count-27320
total-27321
count-27321
total-27322
count-27322
total-27323
count-27323
total-27324
row 8double_ele[1, 6]
count-27324
total-27325
count-27325
total-27326
column1 double_ele[2, 7]
column9 double_ele[1, 7]
count-27326
total-27327
count-27327
total-27328
count-27328
total-27329
count-27329
total-27330
count-27330
total-27331
count-27331
total-27332
count-27332
total-27333
count-27333
total-27334
count-27334
total-27335
row 1double_ele[2, 7]
count-27335
total-27336
count-27336
total-27337
count-27337
total-27338
count-27338
total-27339
count-27339
total-27340
count-27340
total-27341
count-27341
total-27342
count-27342
total-27343
count-27343
total-27344
count-27344
total-27345
count-27345
total-27346
count-27346
total-27347
count-27347
total-27348
count-27348
total-27349
count-27349
total-27350
count-27350
total-27351
count-27351
total-27352
count-27352
total-27353
count-27353
total-27354
count-27354
total-27355
column1 double_ele[1, 5]
box3 triple_ele[2, 3, 5]
count-27355
total-27356
count-27356
total-27357
count-27357
total-27358
count-27358
total-27359
count-27359
total-27360
count-27360
total-27361
count-27361
total-27362
count-27362
total-27363
count-27363
total-27364
count-27364
total-27365
count-27365
total-27366
count-27366
total-27367
count-27367
total-27368
count-27368
total-27369
count-27369
total-27370
count-27370
total-27371
count-27371
total-27372
count-27372
total-27373
count-27373
total-27374
count-27374
total-27375
count-27375
total-27376
count-27376
total-27377
row 1double_ele[2, 6]
row 3double_ele[2, 6]
column9 double_ele[2, 6]
count-27377
total-27378
count-27378
total-27379
count-27379
total-27380
count-27380
total-27381
count-27381
total-27382
count-27382
total-27383
count-27383
total-27384
count-27384
total-27385
column7 double_ele[1, 6]
count-27385
total-27386
count-27386
total-27387
count-27387
total-27388
count-27388
total-27389
column6 double_ele[3, 4]
count-27389
total-27390
count-27390
total-27391
column7 double_ele[1, 2]
count-27391
total-27392
count-27392
total-27393
count-27393
total-27394
count-27394
total-27395
column4 double_ele[2, 4]
count-27395
total-27396
count-27396
total-27397
count-27397
total-27398
row 1double_ele[1, 5]
row 8double_ele[1, 8]
count-27398
total-27399
count-27399
total-27400
column3 double_ele[3, 4]
count-27400
total-27401
count-27401
total-27402
count-27402
total-27403
count-27403
total-27404
row 1double_ele[1, 3]
count-27404
total-27405
count-27405
total-27406
row 6double_ele[3, 7]
count-27406
total-27407
count-27407
total-27408
count-27408
total-27409
count-27409
total-27410
count-27410
total-27411
count-27411
total-27412
count-27412
total-27413
count-27413
total-27414
count-27414
total-27415
count-27415
total-27416
count-27416
total-27417
row 5double_ele[5, 8]
column5 double_ele[5, 8]
count-27417
total-27418
count-27418
total-27419
count-27419
total-27420
count-27420
total-27421
row 5double_ele[2, 3]
column9 double_ele[6, 9]
count-27421
total-27422
count-27422
total-27423
count-27423
total-27424
count-27424
total-27425
count-27425
total-27426
count-27426
total-27427
count-27427
total-27428
count-27428
total-27429
row 4double_ele[1, 5]
column9 double_ele[3, 5]
count-27429
total-27430
count-27430
total-27431
count-27431
total-27432
count-27432
total-27433
count-27433
total-27434
row 6double_ele[1, 4]
count-27434
total-27435
count-27435
total-27436
count-27436
total-27437
count-27437
total-27438
count-27438
total-27439
column6 double_ele[2, 5]
count-27439
total-27440
count-27440
total-27441
count-27441
total-27442
count-27442
total-27443
count-27443
total-27444
count-27444
total-27445
count-27445
total-27446
count-27446
total-27447
count-27447
total-27448
count-27448
total-27449
count-27449
total-27450
column7 double_ele[3, 7]
count-27450
total-27451
count-27451
total-27452
count-27452
total-27453
count-27453
total-27454
count-27454
total-27455
count-27455
total-27456
count-27456
total-27457
count-27457
total-27458
column9 double_ele[1, 2]
count-27458
total-27459
count-27459
total-27460
row 2double_ele[2, 9]
column4 double_ele[2, 9]
column9 double_ele[7, 9]
count-27460
total-27461
count-27461
total-27462
column9 double_ele[3, 5]
count-27462
total-27463
count-27463
total-27464
count-27464
total-27465
count-27465
total-27466
count-27466
total-27467
row 2double_ele[1, 7]
count-27467
total-27468
count-27468
total-27469
count-27469
total-27470
count-27470
total-27471
count-27471
total-27472
count-27472
total-27473
count-27473
total-27474
count-27474
total-27475
count-27475
total-27476
count-27476
total-27477
count-27477
total-27478
count-27478
total-27479
count-27479
total-27480
column2 double_ele[1, 2]
count-27480
total-27481
column3 double_ele[3, 4]
row 9double_ele[3, 4]
count-27481
total-27482
count-27482
total-27483
count-27483
total-27484
count-27484
total-27485
count-27485
total-27486
count-27486
total-27487
count-27487
total-27488
count-27488
total-27489
count-27489
total-27490
count-27490
total-27491

count-27491
total-27492
count-27492
total-27493
count-27493
total-27494
count-27494
total-27495
row 5double_ele[4, 7]
column5 double_ele[4, 7]
count-27495
total-27496
count-27496
total-27497
count-27497
total-27498
row 3double_ele[1, 2]
count-27498
total-27499
count-27499
total-27500
count-27500
total-27501
count-27501
total-27502
count-27502
total-27503
count-27503
total-27504
count-27504
total-27505
count-27505
total-27506
count-27506
total-27507
count-27507
total-27508
column1 double_ele[2, 4]
count-27508
total-27509
count-27509
total-27510
count-27510
total-27511
count-27511
total-27512
count-27512
total-27513
count-27513
total-27514
count-27514
total-27515
count-27515
total-27516
count-27516
total-27517
column1 double_ele[1, 4]
count-27517
total-27518
count-27518
total-27519
count-27519
total-27520
row 3double_ele[2, 3]
count-27520
total-27521
count-27521
total-27522
count-27522
total-27523
count-27523
total-27524
count-27524
total-27525
count-27525
total-27526
count-27526
total-27527
count-27527
total-27528
count-27528
total-27529
count-27529
total-27530
count-27530
total-27531
count-27531
total-27532
count-27532
total-27533
row 9double_ele[2, 7]
count-27533
total-27534
count-27534
total-27535
count-27535
total-27536
count-27536
total-27537
count-27537
total-27538
count-27538
total-27539
count-27539
total-27540
count-27540
total-27541
count-27541
total-27542
count-27542
total-27543
column9 double_ele[2, 5]
count-27543
total-27544
count-27544
total-27545
row 2double_ele[1, 3]
count-27545
total-27546
count-27546
total-27547
count-27547
total-27548
count-27548
total-27549
count-27549
total-27550
count-27550
total-27551
count-27551
total-27552
count-27552
total-27553
count-27553
total-27554
count-27554
total-27555
count-27555
total-27556
count-27556
total-27557
column9 double_ele[2, 3]
count-27557
total-27558
count-27558
total-27559
count-27559
total-27560
count-27560
total-27561
count-27561
total-27562
count-27562
total-27563
count-27563
total-27564
count-27564
total-27565
count-27565
total-27566
count-27566
total-27567
count-27567
total-27568
count-27568
total-27569
count-27569
total-27570
count-27570
total-27571
count-27571
total-27572
count-27572
total-27573
count-27573
total-27574
column3 double_ele[2, 7]
column6 double_ele[2, 5]
count-27574
total-27575
count-27575
total-27576
count-27576
total-27577
column3 double_ele[3, 4]
count-27577
total-27578
count-27578
total-27579
count-27579
total-27580
count-27580
total-27581
count-27581
total-27582
column3 double_ele[4, 7]
count-27582
total-27583
count-27583
total-27584
count-27584
total-27585
count-27585
total-27586
row 1double_ele[2, 7]
count-27586
total-27587
column1 double_ele[1, 2]
count-27587
total-27588
column9 double_ele[2, 3]
count-27588
total-27589
count-27589
total-27590
row 5double_ele[1, 6]
row 8double_ele[1, 7]
column8 double_ele[3, 7]
count-27590
total-27591
count-27591
total-27592
count-27592
total-27593
count-27593
total-27594
count-27594
total-27595
count-27595
total-27596
count-27596
total-27597
count-27597
total-27598
count-27598
total-27599
row 2double_ele[1, 3]
count-27599
total-27600
count-27600
total-27601
count-27601
total-27602
count-27602
total-27603
count-27603
total-27604
count-27604
total-27605
count-27605
total-27606
count-27606
total-27607
count-27607
total-27608
count-27608
total-27609
count-27609
total-27610
row 7double_ele[2, 4]
count-27610
total-27611
column2 double_ele[3, 4]
count-27611
total-27612
count-27612
total-27613
count-27613
total-27614
count-27614
total-27615
count-27615
total-27616
row 4double_ele[5, 9]
column4 double_ele[3, 7]
row 6double_ele[1, 4]
row 7double_ele[5, 7]
row 8double_ele[1, 9]
count-27616
total-27617
count-27617
total-27618
count-27618
total-27619
count-27619
total-27620
row 5triple_ele[1, 2, 5]
count-27620
total-27621
count-27621
total-27622
count-27622
total-27623
count-27623
total-27624
row 9triple_ele[3, 4, 6]
count-27624
total-27625
count-27625
total-27626
count-27626
total-27627
count-27627
total-27628
count-27628
total-27629
count-27629
total-27630
row 6double_ele[1, 2]
count-27630
total-27631
count-27631
total-27632
count-27632
total-27633
row 6double_ele[1, 5]
row 9double_ele[2, 5]
count-27633
total-27634
count-27634
total-27635
row 3double_ele[1, 3]
count-27635
total-27636
row 5double_ele[1, 5]
count-27636
total-27637
count-27637
total-27638
count-27638
total-27639
count-27639
total-27640
count-27640
total-27641
count-27641
total-27642
count-27642
total-27643
count-27643
total-27644
row 8double_ele[1, 4]
column8 double_ele[1, 4]
count-27644
total-27645
row 4double_ele[2, 5]
count-27645
total-27646
row 7double_ele[1, 3]
count-27646
total-27647
row 8double_ele[1, 4]
box6 triple_ele[1, 3, 4]
count-27647
total-27648
count-27648
total-27649
count-27649
total-27650
count-27650
total-27651
count-27651
total-27652
count-27652
total-27653
count-27653
total-27654
count-27654
total-27655
count-27655
total-27656
count-27656
total-27657
count-27657
total-27658
count-27658
total-27659
count-27659
total-27660
count-27660
total-27661
count-27661
total-27662
count-27662
total-27663
count-27663
total-27664
count-27664
total-27665
count-27665
total-27666
count-27666
total-27667
count-27667
total-27668
column6 double_ele[1, 3]
count-27668
total-27669
count-27669
total-27670
count-27670
total-27671
count-27671
total-27672
count-27672
total-27673
count-27673
total-27674
count-27674
total-27675
count-27675
total-27676
count-27676
total-27677
count-27677
total-27678
count-27678
total-27679
count-27679
total-27680
count-27680
total-27681
count-27681
total-27682
count-27682
total-27683
count-27683
total-27684
count-27684
total-27685
count-27685
total-27686
count-27686
total-27687
column4 double_ele[1, 5]
row 8double_ele[1, 5]
count-27687
total-27688
count-27688
total-27689
count-27689
total-27690
count-27690
total-27691
count-27691
total-27692
count-27692
total-27693
count-27693
total-27694
count-27694
total-27695
count-27695
total-27696
count-27696
total-27697
row 9double_ele[1, 3]
count-27697
total-27698
count-27698
total-27699
count-27699
total-27700
row 1double_ele[1, 5]
count-27700
total-27701
count-27701
total-27702
count-27702
total-27703
count-27703
total-27704
count-27704
total-27705
count-27705
total-27706
count-27706
total-27707
row 4double_ele[2, 4]
count-27707
total-27708
count-27708
total-27709
count-27709
total-27710
count-27710
total-27711
column5 double_ele[1, 5]
count-27711
total-27712
count-27712
total-27713
count-27713
total-27714
count-27714
total-27715
count-27715
total-27716
count-27716
total-27717
count-27717
total-27718
row 6double_ele[2, 6]
count-27718
total-27719
count-27719
total-27720
count-27720
total-27721
count-27721
total-27722
count-27722
total-27723
count-27723
total-27724
row 7double_ele[1, 2]
count-27724
total-27725
count-27725
total-27726
count-27726
total-27727
count-27727
total-27728
count-27728
total-27729
count-27729
total-27730
count-27730
total-27731
count-27731
total-27732
count-27732
total-27733
count-27733
total-27734
count-27734
total-27735
count-27735
total-27736
count-27736
total-27737
count-27737
total-27738
count-27738
total-27739
count-27739
total-27740
count-27740
total-27741
column5 double_ele[3, 8]
count-27741
total-27742
count-27742
total-27743
count-27743
total-27744
count-27744
total-27745
column1 double_ele[5, 6]
row 4double_ele[5, 6]
count-27745
total-27746
count-27746
total-27747
count-27747
total-27748
count-27748
total-27749
count-27749
total-27750
count-27750
total-27751
count-27751
total-27752
count-27752
total-27753
count-27753
total-27754
count-27754
total-27755
row 1double_ele[4, 5]
column4 double_ele[4, 5]
count-27755
total-27756
count-27756
total-27757
row 9double_ele[2, 8]
count-27757
total-27758
count-27758
total-27759
count-27759
total-27760
count-27760
total-27761
count-27761
total-27762
count-27762
total-27763
column1 double_ele[1, 6]
row 2double_ele[1, 6]
column3 double_ele[1, 6]
row 8double_ele[1, 6]
column9 double_ele[1, 3]
count-27763
total-27764
count-27764
total-27765
count-27765
total-27766
row 1double_ele[1, 4]
column6 double_ele[1, 4]
count-27766
total-27767
count-27767
total-27768
count-27768
total-27769
count-27769
total-27770
count-27770
total-27771
count-27771
total-27772
count-27772
total-27773
count-27773
total-27774
count-27774
total-27775
count-27775
total-27776
count-27776
total-27777
count-27777
total-27778
count-27778
total-27779
count-27779
total-27780
count-27780
total-27781
row 2double_ele[1, 6]
count-27781
total-27782
count-27782
total-27783
count-27783
total-27784
count-27784
total-27785
count-27785
total-27786
count-27786
total-27787
count-27787
total-27788
count-27788
total-27789
count-27789
total-27790
column2 double_ele[2, 5]
count-27790
total-27791

count-27791
total-27792
column3 double_ele[1, 4]
row 8double_ele[1, 5]
count-27792
total-27793
count-27793
total-27794
count-27794
total-27795
count-27795
total-27796
count-27796
total-27797
count-27797
total-27798
count-27798
total-27799
count-27799
total-27800
row 4double_ele[2, 3]
count-27800
total-27801
count-27801
total-27802
count-27802
total-27803
count-27803
total-27804
count-27804
total-27805
count-27805
total-27806
count-27806
total-27807
count-27807
total-27808
count-27808
total-27809
count-27809
total-27810
count-27810
total-27811
count-27811
total-27812
count-27812
total-27813
count-27813
total-27814
column8 double_ele[3, 4]
count-27814
total-27815
count-27815
total-27816
column3 double_ele[1, 4]
column4 double_ele[4, 7]
count-27816
total-27817
count-27817
total-27818
count-27818
total-27819
count-27819
total-27820
count-27820
total-27821
row 6double_ele[1, 5]
count-27821
total-27822
count-27822
total-27823
count-27823
total-27824
count-27824
total-27825
count-27825
total-27826
count-27826
total-27827
row 2double_ele[5, 8]
column4 double_ele[5, 8]
count-27827
total-27828
count-27828
total-27829
count-27829
total-27830
count-27830
total-27831
column7 double_ele[2, 3]
count-27831
total-27832
count-27832
total-27833
count-27833
total-27834
count-27834
total-27835
count-27835
total-27836
count-27836
total-27837
row 6double_ele[1, 2]
count-27837
total-27838
count-27838
total-27839
column3 double_ele[2, 4]
count-27839
total-27840
column2 double_ele[3, 4]
row 4double_ele[3, 4]
row 5double_ele[3, 4]
row 6double_ele[3, 4]
column6 double_ele[3, 4]
column8 double_ele[3, 4]
count-27840
total-27841
count-27841
total-27842
count-27842
total-27843
count-27843
total-27844
count-27844
total-27845
count-27845
total-27846
count-27846
total-27847
count-27847
total-27848
count-27848
total-27849
count-27849
total-27850
count-27850
total-27851
count-27851
total-27852
count-27852
total-27853
count-27853
total-27854
row 3double_ele[6, 7]
count-27854
total-27855
count-27855
total-27856
count-27856
total-27857
count-27857
total-27858
count-27858
total-27859
count-27859
total-27860
column5 double_ele[4, 6]
row 9double_ele[4, 6]
count-27860
total-27861
column4 double_ele[4, 8]
count-27861
total-27862
count-27862
total-27863
count-27863
total-27864
count-27864
total-27865
column2 double_ele[5, 6]
column5 double_ele[1, 3]
count-27865
total-27866
count-27866
total-27867
count-27867
total-27868
column1 double_ele[4, 8]
column6 double_ele[4, 8]
row 7double_ele[4, 8]
count-27868
total-27869
count-27869
total-27870
count-27870
total-27871
count-27871
total-27872
count-27872
total-27873
count-27873
total-27874
count-27874
total-27875
count-27875
total-27876
count-27876
total-27877
count-27877
total-27878
count-27878
total-27879
count-27879
total-27880
count-27880
total-27881
count-27881
total-27882
count-27882
total-27883
count-27883
total-27884
row 8double_ele[4, 6]
count-27884
total-27885
count-27885
total-27886
count-27886
total-27887
count-27887
total-27888
count-27888
total-27889
count-27889
total-27890
count-27890
total-27891
count-27891
total-27892
count-27892
total-27893
count-27893
total-27894
row 8double_ele[2, 8]
count-27894
total-27895
count-27895
total-27896
count-27896
total-27897
count-27897
total-27898
count-27898
total-27899
count-27899
total-27900
count-27900
total-27901
count-27901
total-27902
count-27902
total-27903
count-27903
total-27904
count-27904
total-27905
count-27905
total-27906
row 4double_ele[1, 2]
column8 double_ele[1, 2]
count-27906
total-27907
count-27907
total-27908
count-27908
total-27909
count-27909
total-27910
count-27910
total-27911
count-27911
total-27912
count-27912
total-27913
count-27913
total-27914
column5 double_ele[2, 6]
count-27914
total-27915
count-27915
total-27916
count-27916
total-27917
count-27917
total-27918
row 1double_ele[1, 3]
column4 double_ele[1, 3]
count-27918
total-27919
count-27919
total-27920
count-27920
total-27921
count-27921
total-27922
count-27922
total-27923
count-27923
total-27924
count-27924
total-27925
count-27925
total-27926
count-27926
total-27927
count-27927
total-27928
count-27928
total-27929
count-27929
total-27930
count-27930
total-27931
count-27931
total-27932
count-27932
total-27933
count-27933
total-27934
count-27934
total-27935
count-27935
total-27936
count-27936
total-27937
count-27937
total-27938
count-27938
total-27939
count-27939
total-27940
count-27940
total-27941
count-27941
total-27942
count-27942
total-27943
count-27943
total-27944
count-27944
total-27945
column7 double_ele[1, 3]
count-27945
total-27946
count-27946
total-27947
count-27947
total-27948
count-27948
total-27949
count-27949
total-27950
count-27950
total-27951
count-27951
total-27952
count-27952
total-27953
count-27953
total-27954
count-27954
total-27955
count-27955
total-27956
count-27956
total-27957
count-27957
total-27958
count-27958
total-27959
count-27959
total-27960
count-27960
total-27961
count-27961
total-27962
count-27962
total-27963
count-27963
total-27964
count-27964
total-27965
count-27965
total-27966
count-27966
total-27967
count-27967
total-27968
count-27968
total-27969
count-27969
total-27970
count-27970
total-27971
count-27971
total-27972
count-27972
total-27973
count-27973
total-27974
count-27974
total-27975
column6 double_ele[3, 6]
count-27975
total-27976
count-27976
total-27977
count-27977
total-27978
count-27978
total-27979
column9 double_ele[1, 5]
count-27979
total-27980
count-27980
total-27981
count-27981
total-27982
count-27982
total-27983
count-27983
total-27984
count-27984
total-27985
count-27985
total-27986
row 5double_ele[3, 6]
column9 double_ele[4, 6]
count-27986
total-27987
count-27987
total-27988
count-27988
total-27989
count-27989
total-27990
count-27990
total-27991
count-27991
total-27992
count-27992
total-27993
count-27993
total-27994
count-27994
total-27995
count-27995
total-27996
count-27996
total-27997
count-27997
total-27998
count-27998
total-27999
count-27999
total-28000
count-28000
total-28001
count-28001
total-28002
count-28002
total-28003
count-28003
total-28004
count-28004
total-28005
row 5double_ele[1, 4]
column7 double_ele[2, 3]
count-28005
total-28006
count-28006
total-28007
count-28007
total-28008
count-28008
total-28009
count-28009
total-28010
count-28010
total-28011
count-28011
total-28012
count-28012
total-28013
count-28013
total-28014
count-28014
total-28015
row 9double_ele[3, 6]
column6 triple_ele[2, 3, 6]
count-28015
total-28016
count-28016
total-28017
count-28017
total-28018
count-28018
total-28019
count-28019
total-28020
count-28020
total-28021
column4 double_ele[1, 2]
count-28021
total-28022
count-28022
total-28023
count-28023
total-28024
row 2double_ele[2, 6]
count-28024
total-28025
count-28025
total-28026
count-28026
total-28027
count-28027
total-28028
count-28028
total-28029
column5 double_ele[1, 2]
row 6double_ele[1, 8]
column7 double_ele[1, 8]
count-28029
total-28030
count-28030
total-28031
count-28031
total-28032
count-28032
total-28033
count-28033
total-28034
count-28034
total-28035
count-28035
total-28036
count-28036
total-28037
count-28037
total-28038
count-28038
total-28039
count-28039
total-28040
count-28040
total-28041
count-28041
total-28042
count-28042
total-28043
count-28043
total-28044
count-28044
total-28045
count-28045
total-28046
count-28046
total-28047
count-28047
total-28048
count-28048
total-28049
count-28049
total-28050
count-28050
total-28051
count-28051
total-28052
count-28052
total-28053
count-28053
total-28054
count-28054
total-28055
count-28055
total-28056
count-28056
total-28057
count-28057
total-28058
column2 double_ele[2, 7]
count-28058
total-28059
count-28059
total-28060
count-28060
total-28061
row 3double_ele[3, 5]
column3 double_ele[3, 5]
count-28061
total-28062
count-28062
total-28063
column8 double_ele[2, 4]
count-28063
total-28064
row 7double_ele[2, 3]
count-28064
total-28065
count-28065
total-28066
count-28066
total-28067
count-28067
total-28068
row 2double_ele[1, 2]
row 3double_ele[1, 2]
column6 double_ele[1, 2]
count-28068
total-28069
count-28069
total-28070
count-28070
total-28071
count-28071
total-28072
row 6double_ele[3, 5]
count-28072
total-28073
count-28073
total-28074
count-28074
total-28075
count-28075
total-28076
count-28076
total-28077
count-28077
total-28078
row 1double_ele[2, 6]
count-28078
total-28079
count-28079
total-28080
count-28080
total-28081
count-28081
total-28082
count-28082
total-28083
count-28083
total-28084
count-28084
total-28085
count-28085
total-28086
count-28086
total-28087
count-28087
total-28088
count-28088
total-28089
count-28089
total-28090
column5 double_ele[1, 4]
count-28090
total-28091

count-28091
total-28092
count-28092
total-28093
count-28093
total-28094
count-28094
total-28095
count-28095
total-28096
count-28096
total-28097
column5 double_ele[3, 7]
column8 double_ele[3, 7]
row 9double_ele[3, 7]
count-28097
total-28098
count-28098
total-28099
count-28099
total-28100
count-28100
total-28101
count-28101
total-28102
count-28102
total-28103
count-28103
total-28104
count-28104
total-28105
count-28105
total-28106
count-28106
total-28107
column1 double_ele[1, 7]
count-28107
total-28108
count-28108
total-28109
count-28109
total-28110
column1 double_ele[4, 6]
count-28110
total-28111
count-28111
total-28112
count-28112
total-28113
count-28113
total-28114
count-28114
total-28115
count-28115
total-28116
count-28116
total-28117
count-28117
total-28118
count-28118
total-28119
count-28119
total-28120
count-28120
total-28121
count-28121
total-28122
count-28122
total-28123
count-28123
total-28124
count-28124
total-28125
count-28125
total-28126
count-28126
total-28127
count-28127
total-28128
count-28128
total-28129
count-28129
total-28130
count-28130
total-28131
count-28131
total-28132
count-28132
total-28133
count-28133
total-28134
count-28134
total-28135
count-28135
total-28136
count-28136
total-28137
row 1double_ele[3, 8]
column5 double_ele[1, 5]
count-28137
total-28138
count-28138
total-28139
count-28139
total-28140
count-28140
total-28141
count-28141
total-28142
count-28142
total-28143
count-28143
total-28144
count-28144
total-28145
count-28145
total-28146
count-28146
total-28147
count-28147
total-28148
count-28148
total-28149
count-28149
total-28150
count-28150
total-28151
column4 double_ele[5, 7]
row 5double_ele[5, 7]
count-28151
total-28152
count-28152
total-28153
count-28153
total-28154
count-28154
total-28155
count-28155
total-28156
count-28156
total-28157
count-28157
total-28158
count-28158
total-28159
column2 double_ele[1, 5]
count-28159
total-28160
count-28160
total-28161
count-28161
total-28162
count-28162
total-28163
count-28163
total-28164
count-28164
total-28165
count-28165
total-28166
count-28166
total-28167
count-28167
total-28168
count-28168
total-28169
count-28169
total-28170
count-28170
total-28171
count-28171
total-28172
count-28172
total-28173
count-28173
total-28174
count-28174
total-28175
count-28175
total-28176
count-28176
total-28177
count-28177
total-28178
count-28178
total-28179
count-28179
total-28180
count-28180
total-28181
count-28181
total-28182
count-28182
total-28183
row 5double_ele[1, 7]
count-28183
total-28184
count-28184
total-28185
count-28185
total-28186
count-28186
total-28187
count-28187
total-28188
count-28188
total-28189
count-28189
total-28190
count-28190
total-28191
count-28191
total-28192
count-28192
total-28193
count-28193
total-28194
count-28194
total-28195
count-28195
total-28196
count-28196
total-28197
count-28197
total-28198
count-28198
total-28199
row 7double_ele[4, 5]
count-28199
total-28200
count-28200
total-28201
count-28201
total-28202
count-28202
total-28203
count-28203
total-28204
count-28204
total-28205
count-28205
total-28206
count-28206
total-28207
count-28207
total-28208
count-28208
total-28209
count-28209
total-28210
count-28210
total-28211
count-28211
total-28212
count-28212
total-28213
column4 double_ele[2, 4]
count-28213
total-28214
count-28214
total-28215
count-28215
total-28216
count-28216
total-28217
count-28217
total-28218
count-28218
total-28219
count-28219
total-28220
count-28220
total-28221
count-28221
total-28222
count-28222
total-28223
count-28223
total-28224
row 4double_ele[1, 2]
count-28224
total-28225
count-28225
total-28226
count-28226
total-28227
count-28227
total-28228
count-28228
total-28229
count-28229
total-28230
row 2double_ele[2, 3]
column5 double_ele[2, 3]
count-28230
total-28231
count-28231
total-28232
count-28232
total-28233
row 4double_ele[1, 2]
row 6double_ele[2, 7]
column7 double_ele[3, 4]
count-28233
total-28234
count-28234
total-28235
count-28235
total-28236
count-28236
total-28237
count-28237
total-28238
count-28238
total-28239
row 4double_ele[1, 2]
count-28239
total-28240
count-28240
total-28241
count-28241
total-28242
count-28242
total-28243
count-28243
total-28244
count-28244
total-28245
column2 double_ele[1, 5]
row 8double_ele[3, 8]
count-28245
total-28246
count-28246
total-28247
count-28247
total-28248
count-28248
total-28249
count-28249
total-28250
count-28250
total-28251
count-28251
total-28252
count-28252
total-28253
count-28253
total-28254
count-28254
total-28255
count-28255
total-28256
column5 double_ele[1, 8]
count-28256
total-28257
count-28257
total-28258
count-28258
total-28259
count-28259
total-28260
count-28260
total-28261
count-28261
total-28262
count-28262
total-28263
count-28263
total-28264
count-28264
total-28265
count-28265
total-28266
count-28266
total-28267
row 9double_ele[2, 7]
count-28267
total-28268
count-28268
total-28269
count-28269
total-28270
count-28270
total-28271
count-28271
total-28272
count-28272
total-28273
count-28273
total-28274
count-28274
total-28275
count-28275
total-28276
count-28276
total-28277
count-28277
total-28278
count-28278
total-28279
column3 double_ele[2, 3]
row 8double_ele[2, 3]
row 6triple_ele[2, 3, 6]
box6 triple_ele[2, 3, 6]
count-28279
total-28280
count-28280
total-28281
count-28281
total-28282
row 2double_ele[2, 4]
count-28282
total-28283
count-28283
total-28284
column5 double_ele[4, 8]
count-28284
total-28285
count-28285
total-28286
count-28286
total-28287
count-28287
total-28288
count-28288
total-28289
count-28289
total-28290
row 3double_ele[2, 6]
column3 double_ele[5, 6]
column9 double_ele[2, 6]
count-28290
total-28291
count-28291
total-28292
count-28292
total-28293
count-28293
total-28294
count-28294
total-28295
count-28295
total-28296
count-28296
total-28297
column7 double_ele[1, 2]
count-28297
total-28298
count-28298
total-28299
count-28299
total-28300
count-28300
total-28301
count-28301
total-28302
count-28302
total-28303
count-28303
total-28304
count-28304
total-28305
count-28305
total-28306
count-28306
total-28307
count-28307
total-28308
count-28308
total-28309
count-28309
total-28310
count-28310
total-28311
count-28311
total-28312
row 6double_ele[3, 8]
count-28312
total-28313
count-28313
total-28314
count-28314
total-28315
count-28315
total-28316
count-28316
total-28317
count-28317
total-28318
count-28318
total-28319
count-28319
total-28320
count-28320
total-28321
count-28321
total-28322
count-28322
total-28323
count-28323
total-28324
column1 double_ele[2, 4]
count-28324
total-28325
count-28325
total-28326
count-28326
total-28327
count-28327
total-28328
count-28328
total-28329
count-28329
total-28330
count-28330
total-28331
count-28331
total-28332
count-28332
total-28333
count-28333
total-28334
count-28334
total-28335
count-28335
total-28336
count-28336
total-28337
count-28337
total-28338
count-28338
total-28339
count-28339
total-28340
count-28340
total-28341
count-28341
total-28342
count-28342
total-28343
column2 double_ele[1, 3]
row 5double_ele[1, 3]
count-28343
total-28344
count-28344
total-28345
count-28345
total-28346
count-28346
total-28347
count-28347
total-28348
count-28348
total-28349
count-28349
total-28350
count-28350
total-28351
count-28351
total-28352
count-28352
total-28353
count-28353
total-28354
count-28354
total-28355
count-28355
total-28356
count-28356
total-28357
count-28357
total-28358
count-28358
total-28359
count-28359
total-28360
row 4double_ele[1, 3]
count-28360
total-28361
count-28361
total-28362
column1 double_ele[1, 2]
count-28362
total-28363
count-28363
total-28364
count-28364
total-28365
count-28365
total-28366
row 8double_ele[1, 2]
count-28366
total-28367
count-28367
total-28368
count-28368
total-28369
count-28369
total-28370
count-28370
total-28371
count-28371
total-28372
count-28372
total-28373
count-28373
total-28374
count-28374
total-28375
count-28375
total-28376
count-28376
total-28377
count-28377
total-28378
count-28378
total-28379
count-28379
total-28380
count-28380
total-28381
count-28381
total-28382
count-28382
total-28383
count-28383
total-28384
count-28384
total-28385
count-28385
total-28386
row 8double_ele[2, 5]
count-28386
total-28387
count-28387
total-28388
count-28388
total-28389
row 2double_ele[4, 8]
row 5double_ele[1, 4]
count-28389
total-28390
count-28390
total-28391
row 4double_ele[1, 2]
count-28391
total-28392
row 8double_ele[3, 5]
count-28392
total-28393
count-28393
total-28394
count-28394
total-28395
count-28395
total-28396
count-28396
total-28397
count-28397
total-28398
count-28398
total-28399
row 5double_ele[2, 4]
count-28399
total-28400
count-28400
total-28401
count-28401
total-28402
count-28402
total-28403
row 9triple_ele[2, 3, 4]
box9 triple_ele[2, 3, 4]
count-28403
total-28404
count-28404
total-28405
row 5double_ele[3, 4]
count-28405
total-28406
count-28406
total-28407
count-28407
total-28408
count-28408
total-28409
count-28409
total-28410

count-28410
total-28411
count-28411
total-28412
count-28412
total-28413
count-28413
total-28414
count-28414
total-28415
count-28415
total-28416
count-28416
total-28417
count-28417
total-28418
count-28418
total-28419
count-28419
total-28420
count-28420
total-28421
count-28421
total-28422
count-28422
total-28423
count-28423
total-28424
count-28424
total-28425
count-28425
total-28426
count-28426
total-28427
count-28427
total-28428
count-28428
total-28429
count-28429
total-28430
count-28430
total-28431
count-28431
total-28432
count-28432
total-28433
count-28433
total-28434
count-28434
total-28435
count-28435
total-28436
count-28436
total-28437
count-28437
total-28438
count-28438
total-28439
column3 double_ele[2, 4]
count-28439
total-28440
column3 double_ele[1, 3]
count-28440
total-28441
count-28441
total-28442
count-28442
total-28443
count-28443
total-28444
count-28444
total-28445
row 4double_ele[2, 3]
count-28445
total-28446
count-28446
total-28447
count-28447
total-28448
count-28448
total-28449
count-28449
total-28450
count-28450
total-28451
count-28451
total-28452
count-28452
total-28453
row 5double_ele[1, 5]
count-28453
total-28454
count-28454
total-28455
count-28455
total-28456
column5 double_ele[6, 8]
row 7double_ele[6, 8]
count-28456
total-28457
count-28457
total-28458
count-28458
total-28459
count-28459
total-28460
column2 double_ele[2, 4]
row 4double_ele[1, 4]
count-28460
total-28461
count-28461
total-28462
count-28462
total-28463
count-28463
total-28464
count-28464
total-28465
count-28465
total-28466
count-28466
total-28467
column1 double_ele[1, 4]
row 2double_ele[1, 4]
count-28467
total-28468
column3 double_ele[1, 4]
count-28468
total-28469
row 5double_ele[6, 8]
row 9double_ele[1, 6]
count-28469
total-28470
count-28470
total-28471
count-28471
total-28472
count-28472
total-28473
count-28473
total-28474
count-28474
total-28475
count-28475
total-28476
row 2double_ele[1, 7]
column2 double_ele[1, 7]
column9 double_ele[1, 6]
count-28476
total-28477
count-28477
total-28478
row 7double_ele[2, 7]
row 8double_ele[2, 7]
column8 double_ele[2, 7]
count-28478
total-28479
count-28479
total-28480
count-28480
total-28481
column6 double_ele[5, 8]
count-28481
total-28482
count-28482
total-28483
row 1double_ele[3, 4]
count-28483
total-28484
count-28484
total-28485
count-28485
total-28486
column3 double_ele[1, 9]
column7 double_ele[4, 9]
count-28486
total-28487
count-28487
total-28488
count-28488
total-28489
column1 double_ele[1, 2]
count-28489
total-28490
count-28490
total-28491
count-28491
total-28492
count-28492
total-28493
count-28493
total-28494
count-28494
total-28495
count-28495
total-28496
count-28496
total-28497
count-28497
total-28498
count-28498
total-28499
count-28499
total-28500
count-28500
total-28501
count-28501
total-28502
count-28502
total-28503
count-28503
total-28504
count-28504
total-28505
row 5double_ele[2, 3]
count-28505
total-28506
count-28506
total-28507
count-28507
total-28508
count-28508
total-28509
count-28509
total-28510
count-28510
total-28511
count-28511
total-28512
count-28512
total-28513
count-28513
total-28514
count-28514
total-28515
count-28515
total-28516
count-28516
total-28517
count-28517
total-28518
count-28518
total-28519
count-28519
total-28520
count-28520
total-28521
count-28521
total-28522
count-28522
total-28523
count-28523
total-28524
count-28524
total-28525
count-28525
total-28526
count-28526
total-28527
count-28527
total-28528
count-28528
total-28529
count-28529
total-28530
count-28530
total-28531
count-28531
total-28532
count-28532
total-28533
count-28533
total-28534
count-28534
total-28535
count-28535
total-28536
count-28536
total-28537
count-28537
total-28538
count-28538
total-28539
count-28539
total-28540
count-28540
total-28541
count-28541
total-28542
count-28542
total-28543
count-28543
total-28544
count-28544
total-28545
count-28545
total-28546
count-28546
total-28547
count-28547
total-28548
count-28548
total-28549
count-28549
total-28550
count-28550
total-28551
count-28551
total-28552
count-28552
total-28553
count-28553
total-28554
count-28554
total-28555
count-28555
total-28556
row 3double_ele[1, 5]
row 7double_ele[1, 5]
column7 double_ele[1, 5]
column8 double_ele[1, 5]
column9 double_ele[1, 5]
count-28556
total-28557
count-28557
total-28558
count-28558
total-28559
count-28559
total-28560
count-28560
total-28561
count-28561
total-28562
count-28562
total-28563
count-28563
total-28564
count-28564
total-28565
count-28565
total-28566
count-28566
total-28567
count-28567
total-28568
column6 double_ele[1, 3]
count-28568
total-28569
count-28569
total-28570
count-28570
total-28571
count-28571
total-28572
count-28572
total-28573
count-28573
total-28574
count-28574
total-28575
count-28575
total-28576
count-28576
total-28577
count-28577
total-28578
count-28578
total-28579
count-28579
total-28580
count-28580
total-28581
count-28581
total-28582
count-28582
total-28583
count-28583
total-28584
count-28584
total-28585
count-28585
total-28586
count-28586
total-28587
count-28587
total-28588
count-28588
total-28589
count-28589
total-28590
count-28590
total-28591
count-28591
total-28592
count-28592
total-28593
count-28593
total-28594
count-28594
total-28595
count-28595
total-28596
count-28596
total-28597
count-28597
total-28598
count-28598
total-28599
count-28599
total-28600
count-28600
total-28601
count-28601
total-28602
row 6double_ele[1, 6]
count-28602
total-28603
count-28603
total-28604
count-28604
total-28605
count-28605
total-28606
count-28606
total-28607
count-28607
total-28608
count-28608
total-28609
column1 double_ele[1, 3]
row 3double_ele[1, 3]
count-28609
total-28610
count-28610
total-28611
count-28611
total-28612
count-28612
total-28613
count-28613
total-28614
row 5double_ele[2, 5]
count-28614
total-28615
count-28615
total-28616
count-28616
total-28617
count-28617
total-28618
count-28618
total-28619
count-28619
total-28620
count-28620
total-28621
count-28621
total-28622
count-28622
total-28623
count-28623
total-28624
count-28624
total-28625
count-28625
total-28626
count-28626
total-28627
count-28627
total-28628
row 4double_ele[1, 3]
count-28628
total-28629
count-28629
total-28630
count-28630
total-28631
count-28631
total-28632
count-28632
total-28633
count-28633
total-28634
count-28634
total-28635
count-28635
total-28636
count-28636
total-28637
count-28637
total-28638
count-28638
total-28639
count-28639
total-28640
count-28640
total-28641
count-28641
total-28642
count-28642
total-28643
count-28643
total-28644
count-28644
total-28645
row 2double_ele[1, 6]
column2 double_ele[1, 6]
count-28645
total-28646
count-28646
total-28647
count-28647
total-28648
count-28648
total-28649
count-28649
total-28650
count-28650
total-28651
count-28651
total-28652
count-28652
total-28653
count-28653
total-28654
count-28654
total-28655
count-28655
total-28656
count-28656
total-28657
count-28657
total-28658
count-28658
total-28659
count-28659
total-28660
count-28660
total-28661
count-28661
total-28662
count-28662
total-28663
row 8double_ele[4, 7]
count-28663
total-28664
count-28664
total-28665
count-28665
total-28666
count-28666
total-28667
row 8double_ele[1, 3]
count-28667
total-28668
count-28668
total-28669
count-28669
total-28670
count-28670
total-28671
count-28671
total-28672
count-28672
total-28673
count-28673
total-28674
count-28674
total-28675
count-28675
total-28676
count-28676
total-28677
count-28677
total-28678
count-28678
total-28679
row 9double_ele[2, 3]
count-28679
total-28680
count-28680
total-28681
count-28681
total-28682
count-28682
total-28683
count-28683
total-28684
count-28684
total-28685
count-28685
total-28686
count-28686
total-28687
count-28687
total-28688
count-28688
total-28689
count-28689
total-28690
count-28690
total-28691
count-28691
total-28692
count-28692
total-28693
count-28693
total-28694
count-28694
total-28695
count-28695
total-28696
count-28696
total-28697
row 8double_ele[1, 2]
count-28697
total-28698
row 9double_ele[2, 4]
count-28698
total-28699
count-28699
total-28700
count-28700
total-28701
count-28701
total-28702
count-28702
total-28703
count-28703
total-28704
count-28704
total-28705
count-28705
total-28706
count-28706
total-28707
column4 double_ele[2, 7]
count-28707
total-28708
count-28708
total-28709
count-28709
total-28710
count-28710
total-28711
count-28711
total-28712
count-28712
total-28713
count-28713
total-28714
count-28714
total-28715
count-28715
total-28716
count-28716
total-28717
count-28717
total-28718
count-28718
total-28719
column2 double_ele[1, 2]
row 5double_ele[1, 2]
row 8double_ele[1, 2]
count-28719
total-28720
count-28720
total-28721
count-28721
total-28722
count-28722
total-28723
count-28723
total-28724
count-28724
total-28725

count-28725
total-28726
count-28726
total-28727
count-28727
total-28728
count-28728
total-28729
count-28729
total-28730
count-28730
total-28731
count-28731
total-28732
count-28732
total-28733
row 6double_ele[1, 5]
count-28733
total-28734
count-28734
total-28735
count-28735
total-28736
count-28736
total-28737
count-28737
total-28738
count-28738
total-28739
count-28739
total-28740
count-28740
total-28741
box6 triple_ele[2, 4, 6]
count-28741
total-28742
row 2double_ele[1, 7]
column8 double_ele[1, 7]
count-28742
total-28743
count-28743
total-28744
column6 double_ele[1, 5]
count-28744
total-28745
count-28745
total-28746
count-28746
total-28747
count-28747
total-28748
count-28748
total-28749
count-28749
total-28750
count-28750
total-28751
count-28751
total-28752
count-28752
total-28753
count-28753
total-28754
row 9double_ele[2, 5]
column9 double_ele[3, 9]
count-28754
total-28755
count-28755
total-28756
count-28756
total-28757
count-28757
total-28758
count-28758
total-28759
count-28759
total-28760
count-28760
total-28761
count-28761
total-28762
count-28762
total-28763
count-28763
total-28764
count-28764
total-28765
count-28765
total-28766
count-28766
total-28767
count-28767
total-28768
count-28768
total-28769
count-28769
total-28770
count-28770
total-28771
count-28771
total-28772
count-28772
total-28773
count-28773
total-28774
count-28774
total-28775
count-28775
total-28776
count-28776
total-28777
count-28777
total-28778
count-28778
total-28779
count-28779
total-28780
count-28780
total-28781
count-28781
total-28782
count-28782
total-28783
count-28783
total-28784
count-28784
total-28785
count-28785
total-28786
count-28786
total-28787
count-28787
total-28788
count-28788
total-28789
count-28789
total-28790
count-28790
total-28791
count-28791
total-28792
count-28792
total-28793
count-28793
total-28794
count-28794
total-28795
count-28795
total-28796
count-28796
total-28797
count-28797
total-28798
count-28798
total-28799
count-28799
total-28800
row 8double_ele[3, 9]
column8 double_ele[3, 9]
count-28800
total-28801
count-28801
total-28802
count-28802
total-28803
count-28803
total-28804
count-28804
total-28805
count-28805
total-28806
count-28806
total-28807
count-28807
total-28808
count-28808
total-28809
count-28809
total-28810
count-28810
total-28811
count-28811
total-28812
count-28812
total-28813
count-28813
total-28814
column1 double_ele[2, 3]
count-28814
total-28815
count-28815
total-28816
count-28816
total-28817
count-28817
total-28818
count-28818
total-28819
count-28819
total-28820
count-28820
total-28821
count-28821
total-28822
count-28822
total-28823
count-28823
total-28824
count-28824
total-28825
column2 double_ele[2, 6]
count-28825
total-28826
count-28826
total-28827
count-28827
total-28828
count-28828
total-28829
count-28829
total-28830
count-28830
total-28831
count-28831
total-28832
count-28832
total-28833
count-28833
total-28834
row 3double_ele[4, 7]
count-28834
total-28835
count-28835
total-28836
count-28836
total-28837
column9 double_ele[1, 4]
count-28837
total-28838
count-28838
total-28839
count-28839
total-28840
count-28840
total-28841
column5 double_ele[2, 3]
count-28841
total-28842
count-28842
total-28843
count-28843
total-28844
count-28844
total-28845
count-28845
total-28846
count-28846
total-28847
count-28847
total-28848
row 1double_ele[1, 6]
column1 double_ele[1, 6]
count-28848
total-28849
count-28849
total-28850
count-28850
total-28851
count-28851
total-28852
count-28852
total-28853
count-28853
total-28854
count-28854
total-28855
row 2double_ele[2, 4]
column2 double_ele[2, 4]
row 4double_ele[2, 4]
column9 double_ele[2, 4]
count-28855
total-28856
count-28856
total-28857
count-28857
total-28858
count-28858
total-28859
count-28859
total-28860
count-28860
total-28861
count-28861
total-28862
count-28862
total-28863
count-28863
total-28864
count-28864
total-28865
count-28865
total-28866
count-28866
total-28867
count-28867
total-28868
count-28868
total-28869
count-28869
total-28870
count-28870
total-28871
count-28871
total-28872
count-28872
total-28873
count-28873
total-28874
count-28874
total-28875
count-28875
total-28876
count-28876
total-28877
count-28877
total-28878
count-28878
total-28879
count-28879
total-28880
count-28880
total-28881
count-28881
total-28882
count-28882
total-28883
count-28883
total-28884
count-28884
total-28885
count-28885
total-28886
count-28886
total-28887
count-28887
total-28888
count-28888
total-28889
row 2double_ele[1, 2]
count-28889
total-28890
count-28890
total-28891
count-28891
total-28892
count-28892
total-28893
count-28893
total-28894
count-28894
total-28895
count-28895
total-28896
count-28896
total-28897
count-28897
total-28898
count-28898
total-28899
count-28899
total-28900
count-28900
total-28901
count-28901
total-28902
count-28902
total-28903
count-28903
total-28904
count-28904
total-28905
count-28905
total-28906
count-28906
total-28907
count-28907
total-28908
count-28908
total-28909
count-28909
total-28910
count-28910
total-28911
count-28911
total-28912
count-28912
total-28913
column4 double_ele[5, 6]
count-28913
total-28914
count-28914
total-28915
column3 double_ele[1, 5]
count-28915
total-28916
count-28916
total-28917
count-28917
total-28918
count-28918
total-28919
count-28919
total-28920
count-28920
total-28921
count-28921
total-28922
count-28922
total-28923
count-28923
total-28924
count-28924
total-28925
count-28925
total-28926
row 1double_ele[1, 6]
column6 double_ele[1, 6]
count-28926
total-28927
count-28927
total-28928
count-28928
total-28929
count-28929
total-28930
row 5triple_ele[3, 5, 7]
box6 triple_ele[3, 5, 7]
count-28930
total-28931
count-28931
total-28932
column2 double_ele[1, 2]
column4 double_ele[2, 4]
count-28932
total-28933
count-28933
total-28934
count-28934
total-28935
row 3double_ele[1, 5]
column4 double_ele[1, 5]
count-28935
total-28936
count-28936
total-28937
count-28937
total-28938
count-28938
total-28939
count-28939
total-28940
count-28940
total-28941
count-28941
total-28942
count-28942
total-28943
count-28943
total-28944
count-28944
total-28945
count-28945
total-28946
count-28946
total-28947
count-28947
total-28948
count-28948
total-28949
count-28949
total-28950
count-28950
total-28951
count-28951
total-28952
count-28952
total-28953
count-28953
total-28954
count-28954
total-28955
count-28955
total-28956
count-28956
total-28957
count-28957
total-28958
count-28958
total-28959
column1 double_ele[2, 6]
column3 double_ele[2, 6]
row 4double_ele[2, 6]
count-28959
total-28960
count-28960
total-28961
count-28961
total-28962
count-28962
total-28963
count-28963
total-28964
column2 double_ele[1, 2]
row 4double_ele[1, 7]
row 6double_ele[1, 7]
column9 double_ele[1, 7]
count-28964
total-28965
count-28965
total-28966
count-28966
total-28967
count-28967
total-28968
count-28968
total-28969
row 7double_ele[2, 6]
box9 triple_ele[1, 2, 6]
count-28969
total-28970
count-28970
total-28971
count-28971
total-28972
count-28972
total-28973
count-28973
total-28974
count-28974
total-28975
count-28975
total-28976
count-28976
total-28977
count-28977
total-28978
row 2double_ele[2, 3]
row 5double_ele[2, 3]
column9 double_ele[2, 3]
count-28978
total-28979
count-28979
total-28980
count-28980
total-28981
count-28981
total-28982
count-28982
total-28983
count-28983
total-28984
count-28984
total-28985
count-28985
total-28986
count-28986
total-28987
count-28987
total-28988
count-28988
total-28989
count-28989
total-28990
count-28990
total-28991
column1 double_ele[6, 7]
count-28991
total-28992
count-28992
total-28993
count-28993
total-28994
count-28994
total-28995
count-28995
total-28996
count-28996
total-28997
count-28997
total-28998
count-28998
total-28999
row 5double_ele[2, 5]
count-28999
total-29000
count-29000
total-29001
count-29001
total-29002
count-29002
total-29003
count-29003
total-29004
count-29004
total-29005
count-29005
total-29006
count-29006
total-29007
count-29007
total-29008
count-29008
total-29009
count-29009
total-29010
count-29010
total-29011
count-29011
total-29012
count-29012
total-29013
count-29013
total-29014
count-29014
total-29015
count-29015
total-29016
count-29016
total-29017
count-29017
total-29018
count-29018
total-29019
row 1double_ele[2, 6]
column7 double_ele[2, 6]
count-29019
total-29020
count-29020
total-29021
count-29021
total-29022
count-29022
total-29023
count-29023
total-29024
column9 double_ele[1, 9]
count-29024
total-29025
count-29025
total-29026
count-29026
total-29027

count-29027
total-29028
count-29028
total-29029
count-29029
total-29030
count-29030
total-29031
count-29031
total-29032
count-29032
total-29033
count-29033
total-29034
row 7double_ele[2, 5]
count-29034
total-29035
count-29035
total-29036
count-29036
total-29037
count-29037
total-29038
count-29038
total-29039
count-29039
total-29040
count-29040
total-29041
count-29041
total-29042
count-29042
total-29043
count-29043
total-29044
count-29044
total-29045
count-29045
total-29046
count-29046
total-29047
count-29047
total-29048
count-29048
total-29049
count-29049
total-29050
count-29050
total-29051
count-29051
total-29052
count-29052
total-29053
count-29053
total-29054
count-29054
total-29055
count-29055
total-29056
count-29056
total-29057
count-29057
total-29058
count-29058
total-29059
row 8double_ele[3, 5]
count-29059
total-29060
count-29060
total-29061
count-29061
total-29062
count-29062
total-29063
count-29063
total-29064
count-29064
total-29065
count-29065
total-29066
row 3double_ele[2, 3]
row 4double_ele[2, 3]
column4 double_ele[2, 3]
count-29066
total-29067
count-29067
total-29068
count-29068
total-29069
count-29069
total-29070
count-29070
total-29071
count-29071
total-29072
count-29072
total-29073
count-29073
total-29074
count-29074
total-29075
count-29075
total-29076
count-29076
total-29077
count-29077
total-29078
count-29078
total-29079
count-29079
total-29080
count-29080
total-29081
count-29081
total-29082
count-29082
total-29083
count-29083
total-29084
count-29084
total-29085
count-29085
total-29086
count-29086
total-29087
count-29087
total-29088
count-29088
total-29089
count-29089
total-29090
count-29090
total-29091
count-29091
total-29092
count-29092
total-29093
count-29093
total-29094
count-29094
total-29095
count-29095
total-29096
column9 double_ele[1, 7]
count-29096
total-29097
count-29097
total-29098
count-29098
total-29099
count-29099
total-29100
row 5double_ele[1, 4]
count-29100
total-29101
count-29101
total-29102
count-29102
total-29103
count-29103
total-29104
count-29104
total-29105
count-29105
total-29106
count-29106
total-29107
count-29107
total-29108
count-29108
total-29109
count-29109
total-29110
count-29110
total-29111
count-29111
total-29112
count-29112
total-29113
count-29113
total-29114
count-29114
total-29115
count-29115
total-29116
count-29116
total-29117
count-29117
total-29118
count-29118
total-29119
count-29119
total-29120
column3 double_ele[1, 7]
column6 double_ele[1, 2]
column8 double_ele[7, 9]
column9 double_ele[1, 5]
count-29120
total-29121
row 4double_ele[4, 5]
count-29121
total-29122
count-29122
total-29123
count-29123
total-29124
count-29124
total-29125
count-29125
total-29126
count-29126
total-29127
count-29127
total-29128
count-29128
total-29129
count-29129
total-29130
count-29130
total-29131
count-29131
total-29132
count-29132
total-29133
count-29133
total-29134
count-29134
total-29135
count-29135
total-29136
count-29136
total-29137
count-29137
total-29138
count-29138
total-29139
count-29139
total-29140
count-29140
total-29141
count-29141
total-29142
count-29142
total-29143
count-29143
total-29144
count-29144
total-29145
count-29145
total-29146
count-29146
total-29147
count-29147
total-29148
column4 double_ele[3, 9]
column6 double_ele[1, 3]
row 7double_ele[1, 3]
column8 double_ele[1, 9]
row 6triple_ele[2, 3, 7]
box6 triple_ele[2, 3, 7]
count-29148
total-29149
count-29149
total-29150
count-29150
total-29151
row 4double_ele[1, 8]
count-29151
total-29152
count-29152
total-29153
count-29153
total-29154
count-29154
total-29155
count-29155
total-29156
count-29156
total-29157
count-29157
total-29158
count-29158
total-29159
count-29159
total-29160
count-29160
total-29161
count-29161
total-29162
row 5double_ele[2, 6]
count-29162
total-29163
count-29163
total-29164
count-29164
total-29165
row 8double_ele[4, 6]
count-29165
total-29166
count-29166
total-29167
count-29167
total-29168
count-29168
total-29169
count-29169
total-29170
row 5double_ele[3, 4]
count-29170
total-29171
count-29171
total-29172
count-29172
total-29173
count-29173
total-29174
count-29174
total-29175
count-29175
total-29176
count-29176
total-29177
count-29177
total-29178
count-29178
total-29179
count-29179
total-29180
count-29180
total-29181
count-29181
total-29182
count-29182
total-29183
count-29183
total-29184
count-29184
total-29185
count-29185
total-29186
count-29186
total-29187
count-29187
total-29188
count-29188
total-29189
count-29189
total-29190
count-29190
total-29191
count-29191
total-29192
row 5double_ele[2, 3]
count-29192
total-29193
count-29193
total-29194
count-29194
total-29195
count-29195
total-29196
count-29196
total-29197
count-29197
total-29198
count-29198
total-29199
count-29199
total-29200
count-29200
total-29201
count-29201
total-29202
row 2double_ele[1, 6]
column6 double_ele[1, 6]
row 3triple_ele[1, 3, 6]
box3 triple_ele[1, 3, 6]
count-29202
total-29203
count-29203
total-29204
count-29204
total-29205
count-29205
total-29206
count-29206
total-29207
count-29207
total-29208
count-29208
total-29209
count-29209
total-29210
count-29210
total-29211
count-29211
total-29212
count-29212
total-29213
count-29213
total-29214
count-29214
total-29215
count-29215
total-29216
count-29216
total-29217
count-29217
total-29218
count-29218
total-29219
count-29219
total-29220
count-29220
total-29221
count-29221
total-29222
count-29222
total-29223
count-29223
total-29224
count-29224
total-29225
count-29225
total-29226
count-29226
total-29227
column1 double_ele[4, 6]
column5 double_ele[2, 6]
count-29227
total-29228
row 3double_ele[4, 5]
count-29228
total-29229
count-29229
total-29230
count-29230
total-29231
count-29231
total-29232
count-29232
total-29233
count-29233
total-29234
count-29234
total-29235
count-29235
total-29236
count-29236
total-29237
count-29237
total-29238
count-29238
total-29239
count-29239
total-29240
count-29240
total-29241
count-29241
total-29242
count-29242
total-29243
count-29243
total-29244
column2 double_ele[1, 5]
column3 double_ele[1, 9]
row 4double_ele[3, 5]
column4 double_ele[1, 3]
count-29244
total-29245
count-29245
total-29246
count-29246
total-29247
count-29247
total-29248
count-29248
total-29249
count-29249
total-29250
count-29250
total-29251
count-29251
total-29252
row 2double_ele[2, 3]
count-29252
total-29253
count-29253
total-29254
count-29254
total-29255
count-29255
total-29256
count-29256
total-29257
count-29257
total-29258
row 2double_ele[2, 3]
row 4double_ele[1, 3]
column6 double_ele[2, 3]
column7 double_ele[2, 3]
count-29258
total-29259
count-29259
total-29260
count-29260
total-29261
count-29261
total-29262
count-29262
total-29263
count-29263
total-29264
count-29264
total-29265
count-29265
total-29266
count-29266
total-29267
row 8double_ele[1, 4]
count-29267
total-29268
count-29268
total-29269
count-29269
total-29270
count-29270
total-29271
count-29271
total-29272
count-29272
total-29273
count-29273
total-29274
count-29274
total-29275
count-29275
total-29276
count-29276
total-29277
count-29277
total-29278
count-29278
total-29279
count-29279
total-29280
row 9double_ele[1, 4]
count-29280
total-29281
count-29281
total-29282
count-29282
total-29283
count-29283
total-29284
count-29284
total-29285
count-29285
total-29286
count-29286
total-29287
count-29287
total-29288
count-29288
total-29289
count-29289
total-29290
count-29290
total-29291
count-29291
total-29292
count-29292
total-29293
count-29293
total-29294
count-29294
total-29295
count-29295
total-29296
count-29296
total-29297
count-29297
total-29298
column3 double_ele[2, 7]
row 5double_ele[5, 7]
row 7double_ele[7, 8]
count-29298
total-29299
count-29299
total-29300
count-29300
total-29301
count-29301
total-29302
count-29302
total-29303
count-29303
total-29304
count-29304
total-29305
count-29305
total-29306
count-29306
total-29307
count-29307
total-29308
count-29308
total-29309
count-29309
total-29310
count-29310
total-29311
count-29311
total-29312
count-29312
total-29313
count-29313
total-29314
row 2double_ele[1, 7]
count-29314
total-29315
count-29315
total-29316
row 3double_ele[5, 6]
count-29316
total-29317
count-29317
total-29318
count-29318
total-29319
count-29319
total-29320
count-29320
total-29321
count-29321
total-29322
count-29322
total-29323
column3 double_ele[3, 5]
count-29323
total-29324
count-29324
total-29325
count-29325
total-29326
row 4double_ele[1, 3]
column7 double_ele[4, 9]
count-29326
total-29327
count-29327
total-29328
count-29328
total-29329
count-29329
total-29330
count-29330
total-29331
row 3double_ele[2, 6]
count-29331
total-29332

count-29332
total-29333
row 7double_ele[1, 3]
count-29333
total-29334
count-29334
total-29335
count-29335
total-29336
count-29336
total-29337
count-29337
total-29338
count-29338
total-29339
count-29339
total-29340
count-29340
total-29341
box6 triple_ele[2, 6, 7]
count-29341
total-29342
column4 double_ele[1, 9]
row 5double_ele[1, 9]
row 2triple_ele[1, 2, 9]
count-29342
total-29343
count-29343
total-29344
count-29344
total-29345
count-29345
total-29346
count-29346
total-29347
count-29347
total-29348
count-29348
total-29349
count-29349
total-29350
column1 double_ele[3, 7]
column2 double_ele[4, 7]
count-29350
total-29351
column8 double_ele[2, 4]
count-29351
total-29352
column5 double_ele[2, 5]
count-29352
total-29353
count-29353
total-29354
count-29354
total-29355
count-29355
total-29356
count-29356
total-29357
count-29357
total-29358
column6 double_ele[1, 4]
count-29358
total-29359
count-29359
total-29360
count-29360
total-29361
count-29361
total-29362
count-29362
total-29363
count-29363
total-29364
row 2double_ele[1, 5]
count-29364
total-29365
column3 double_ele[1, 4]
row 5double_ele[1, 6]
row 6double_ele[1, 5]
column8 double_ele[1, 6]
count-29365
total-29366
count-29366
total-29367
count-29367
total-29368
count-29368
total-29369
count-29369
total-29370
count-29370
total-29371
count-29371
total-29372
count-29372
total-29373
count-29373
total-29374
count-29374
total-29375
count-29375
total-29376
column4 double_ele[1, 2]
count-29376
total-29377
count-29377
total-29378
count-29378
total-29379
column7 double_ele[1, 3]
column8 double_ele[2, 5]
count-29379
total-29380
count-29380
total-29381
count-29381
total-29382
count-29382
total-29383
count-29383
total-29384
count-29384
total-29385
count-29385
total-29386
row 2double_ele[3, 8]
column7 double_ele[3, 8]
count-29386
total-29387
count-29387
total-29388
count-29388
total-29389
count-29389
total-29390
count-29390
total-29391
count-29391
total-29392
count-29392
total-29393
count-29393
total-29394
count-29394
total-29395
count-29395
total-29396
count-29396
total-29397
row 2double_ele[2, 8]
count-29397
total-29398
count-29398
total-29399
count-29399
total-29400
count-29400
total-29401
row 4double_ele[3, 5]
count-29401
total-29402
count-29402
total-29403
count-29403
total-29404
count-29404
total-29405
count-29405
total-29406
count-29406
total-29407
count-29407
total-29408
count-29408
total-29409
count-29409
total-29410
count-29410
total-29411
count-29411
total-29412
count-29412
total-29413
count-29413
total-29414
column5 double_ele[4, 7]
count-29414
total-29415
count-29415
total-29416
count-29416
total-29417
count-29417
total-29418
count-29418
total-29419
count-29419
total-29420
count-29420
total-29421
count-29421
total-29422
count-29422
total-29423
count-29423
total-29424
count-29424
total-29425
count-29425
total-29426
column5 double_ele[1, 2]
count-29426
total-29427
count-29427
total-29428
count-29428
total-29429
count-29429
total-29430
column1 double_ele[5, 8]
row 4double_ele[5, 8]
count-29430
total-29431
count-29431
total-29432
count-29432
total-29433
count-29433
total-29434
count-29434
total-29435
count-29435
total-29436
count-29436
total-29437
count-29437
total-29438
count-29438
total-29439
count-29439
total-29440
count-29440
total-29441
count-29441
total-29442
count-29442
total-29443
count-29443
total-29444
count-29444
total-29445
count-29445
total-29446
count-29446
total-29447
count-29447
total-29448
count-29448
total-29449
count-29449
total-29450
count-29450
total-29451
count-29451
total-29452
count-29452
total-29453
count-29453
total-29454
count-29454
total-29455
count-29455
total-29456
count-29456
total-29457
count-29457
total-29458
count-29458
total-29459
count-29459
total-29460
count-29460
total-29461
count-29461
total-29462
count-29462
total-29463
count-29463
total-29464
count-29464
total-29465
count-29465
total-29466
count-29466
total-29467
count-29467
total-29468
count-29468
total-29469
count-29469
total-29470
count-29470
total-29471
count-29471
total-29472
count-29472
total-29473
count-29473
total-29474
count-29474
total-29475
count-29475
total-29476
count-29476
total-29477
count-29477
total-29478
count-29478
total-29479
count-29479
total-29480
count-29480
total-29481
count-29481
total-29482
count-29482
total-29483
count-29483
total-29484
count-29484
total-29485
count-29485
total-29486
count-29486
total-29487
count-29487
total-29488
count-29488
total-29489
row 2double_ele[1, 3]
count-29489
total-29490
count-29490
total-29491
count-29491
total-29492
count-29492
total-29493
count-29493
total-29494
count-29494
total-29495
count-29495
total-29496
count-29496
total-29497
count-29497
total-29498
count-29498
total-29499
count-29499
total-29500
count-29500
total-29501
count-29501
total-29502
count-29502
total-29503
count-29503
total-29504
count-29504
total-29505
count-29505
total-29506
count-29506
total-29507
count-29507
total-29508
count-29508
total-29509
count-29509
total-29510
count-29510
total-29511
count-29511
total-29512
count-29512
total-29513
count-29513
total-29514
count-29514
total-29515
count-29515
total-29516
count-29516
total-29517
count-29517
total-29518
count-29518
total-29519
count-29519
total-29520
count-29520
total-29521
count-29521
total-29522
count-29522
total-29523
count-29523
total-29524
count-29524
total-29525
count-29525
total-29526
count-29526
total-29527
count-29527
total-29528
count-29528
total-29529
count-29529
total-29530
count-29530
total-29531
count-29531
total-29532
column1 double_ele[1, 8]
count-29532
total-29533
count-29533
total-29534
count-29534
total-29535
count-29535
total-29536
count-29536
total-29537
count-29537
total-29538
count-29538
total-29539
count-29539
total-29540
count-29540
total-29541
count-29541
total-29542
count-29542
total-29543
count-29543
total-29544
count-29544
total-29545
column3 double_ele[1, 6]
count-29545
total-29546
count-29546
total-29547
column3 double_ele[2, 5]
column8 double_ele[7, 9]
count-29547
total-29548
column3 double_ele[1, 2]
count-29548
total-29549
count-29549
total-29550
count-29550
total-29551
count-29551
total-29552
count-29552
total-29553
count-29553
total-29554
count-29554
total-29555
count-29555
total-29556
count-29556
total-29557
count-29557
total-29558
row 8double_ele[1, 7]
count-29558
total-29559
count-29559
total-29560
count-29560
total-29561
count-29561
total-29562
count-29562
total-29563
count-29563
total-29564
count-29564
total-29565
row 5double_ele[1, 2]
count-29565
total-29566
count-29566
total-29567
column7 double_ele[2, 6]
count-29567
total-29568
column9 double_ele[2, 8]
count-29568
total-29569
column5 double_ele[1, 4]
count-29569
total-29570
column9 double_ele[1, 6]
count-29570
total-29571
count-29571
total-29572
count-29572
total-29573
count-29573
total-29574
count-29574
total-29575
count-29575
total-29576
count-29576
total-29577
column7 double_ele[1, 5]
count-29577
total-29578
count-29578
total-29579
column1 double_ele[2, 5]
count-29579
total-29580
count-29580
total-29581
count-29581
total-29582
count-29582
total-29583
count-29583
total-29584
row 6double_ele[4, 7]
row 7double_ele[1, 7]
count-29584
total-29585
count-29585
total-29586
count-29586
total-29587
count-29587
total-29588
count-29588
total-29589
count-29589
total-29590
count-29590
total-29591
count-29591
total-29592
count-29592
total-29593
row 3double_ele[4, 5]
count-29593
total-29594
count-29594
total-29595
count-29595
total-29596
count-29596
total-29597
count-29597
total-29598
count-29598
total-29599
column7 double_ele[3, 5]
count-29599
total-29600
count-29600
total-29601
count-29601
total-29602
count-29602
total-29603
count-29603
total-29604
count-29604
total-29605
count-29605
total-29606
count-29606
total-29607
count-29607
total-29608
count-29608
total-29609
count-29609
total-29610
count-29610
total-29611
count-29611
total-29612
count-29612
total-29613
count-29613
total-29614
count-29614
total-29615
count-29615
total-29616
count-29616
total-29617
row 2double_ele[1, 4]
count-29617
total-29618
count-29618
total-29619
row 2double_ele[1, 3]
count-29619
total-29620
row 4double_ele[2, 6]
column4 double_ele[2, 6]
row 6double_ele[4, 8]
count-29620
total-29621
count-29621
total-29622
count-29622
total-29623
count-29623
total-29624
count-29624
total-29625
count-29625
total-29626
count-29626
total-29627
count-29627
total-29628
row 6double_ele[3, 5]
count-29628
total-29629
count-29629
total-29630
count-29630
total-29631
count-29631
total-29632
count-29632
total-29633

count-29633
total-29634
count-29634
total-29635
count-29635
total-29636
count-29636
total-29637
count-29637
total-29638
count-29638
total-29639
count-29639
total-29640
count-29640
total-29641
count-29641
total-29642
count-29642
total-29643
count-29643
total-29644
count-29644
total-29645
count-29645
total-29646
count-29646
total-29647
count-29647
total-29648
count-29648
total-29649
count-29649
total-29650
count-29650
total-29651
count-29651
total-29652
count-29652
total-29653
count-29653
total-29654
count-29654
total-29655
row 2double_ele[2, 3]
count-29655
total-29656
count-29656
total-29657
count-29657
total-29658
count-29658
total-29659
count-29659
total-29660
column7 double_ele[1, 2]
count-29660
total-29661
count-29661
total-29662
count-29662
total-29663
count-29663
total-29664
column5 double_ele[1, 2]
count-29664
total-29665
count-29665
total-29666
count-29666
total-29667
count-29667
total-29668
count-29668
total-29669
count-29669
total-29670
count-29670
total-29671
count-29671
total-29672
count-29672
total-29673
count-29673
total-29674
column2 double_ele[5, 8]
count-29674
total-29675
count-29675
total-29676
count-29676
total-29677
count-29677
total-29678
count-29678
total-29679
column5 double_ele[1, 5]
count-29679
total-29680
count-29680
total-29681
count-29681
total-29682
count-29682
total-29683
count-29683
total-29684
count-29684
total-29685
count-29685
total-29686
count-29686
total-29687
count-29687
total-29688
count-29688
total-29689
count-29689
total-29690
count-29690
total-29691
count-29691
total-29692
column1 double_ele[3, 8]
count-29692
total-29693
count-29693
total-29694
count-29694
total-29695
row 2double_ele[2, 5]
column6 double_ele[2, 5]
count-29695
total-29696
count-29696
total-29697
count-29697
total-29698
count-29698
total-29699
count-29699
total-29700
count-29700
total-29701
count-29701
total-29702
count-29702
total-29703
count-29703
total-29704
count-29704
total-29705
count-29705
total-29706
count-29706
total-29707
count-29707
total-29708
row 4double_ele[3, 6]
column4 double_ele[3, 6]
count-29708
total-29709
count-29709
total-29710
count-29710
total-29711
count-29711
total-29712
count-29712
total-29713
count-29713
total-29714
row 9double_ele[1, 2]
count-29714
total-29715
count-29715
total-29716
count-29716
total-29717
count-29717
total-29718
count-29718
total-29719
count-29719
total-29720
count-29720
total-29721
count-29721
total-29722
count-29722
total-29723
count-29723
total-29724
column8 double_ele[4, 5]
count-29724
total-29725
count-29725
total-29726
count-29726
total-29727
count-29727
total-29728
column4 double_ele[1, 6]
count-29728
total-29729
count-29729
total-29730
count-29730
total-29731
count-29731
total-29732
count-29732
total-29733
count-29733
total-29734
row 8double_ele[3, 6]
count-29734
total-29735
count-29735
total-29736
count-29736
total-29737
count-29737
total-29738
column3 double_ele[1, 8]
row 9double_ele[1, 8]
count-29738
total-29739
count-29739
total-29740
count-29740
total-29741
count-29741
total-29742
count-29742
total-29743
count-29743
total-29744
count-29744
total-29745
count-29745
total-29746
count-29746
total-29747
count-29747
total-29748
count-29748
total-29749
count-29749
total-29750
count-29750
total-29751
count-29751
total-29752
count-29752
total-29753
count-29753
total-29754
count-29754
total-29755
count-29755
total-29756
count-29756
total-29757
count-29757
total-29758
row 8double_ele[1, 5]
count-29758
total-29759
count-29759
total-29760
count-29760
total-29761
count-29761
total-29762
count-29762
total-29763
count-29763
total-29764
count-29764
total-29765
count-29765
total-29766
row 7double_ele[4, 5]
row 8double_ele[3, 6]
box6 triple_ele[3, 6, 7]
count-29766
total-29767
column5 double_ele[1, 4]
count-29767
total-29768
count-29768
total-29769
count-29769
total-29770
count-29770
total-29771
column8 double_ele[1, 3]
count-29771
total-29772
count-29772
total-29773
count-29773
total-29774
count-29774
total-29775
count-29775
total-29776
count-29776
total-29777
count-29777
total-29778
count-29778
total-29779
count-29779
total-29780
column1 double_ele[4, 6]
count-29780
total-29781
count-29781
total-29782
count-29782
total-29783
count-29783
total-29784
count-29784
total-29785
count-29785
total-29786
count-29786
total-29787
row 5double_ele[1, 2]
count-29787
total-29788
count-29788
total-29789
count-29789
total-29790
count-29790
total-29791
count-29791
total-29792
count-29792
total-29793
column7 double_ele[3, 6]
count-29793
total-29794
count-29794
total-29795
count-29795
total-29796
count-29796
total-29797
count-29797
total-29798
count-29798
total-29799
count-29799
total-29800
count-29800
total-29801
count-29801
total-29802
count-29802
total-29803
count-29803
total-29804
count-29804
total-29805
count-29805
total-29806
count-29806
total-29807
column7 double_ele[2, 7]
count-29807
total-29808
count-29808
total-29809
row 8double_ele[1, 4]
count-29809
total-29810
count-29810
total-29811
count-29811
total-29812
count-29812
total-29813
count-29813
total-29814
box6 triple_ele[1, 3, 4]
count-29814
total-29815
count-29815
total-29816
column5 double_ele[1, 2]
count-29816
total-29817
count-29817
total-29818
count-29818
total-29819
count-29819
total-29820
row 4double_ele[1, 7]
count-29820
total-29821
count-29821
total-29822
count-29822
total-29823
count-29823
total-29824
count-29824
total-29825
count-29825
total-29826
column5 double_ele[1, 4]
row 8double_ele[1, 4]
count-29826
total-29827
count-29827
total-29828
count-29828
total-29829
count-29829
total-29830
count-29830
total-29831
count-29831
total-29832
count-29832
total-29833
count-29833
total-29834
count-29834
total-29835
count-29835
total-29836
count-29836
total-29837
count-29837
total-29838
count-29838
total-29839
count-29839
total-29840
count-29840
total-29841
count-29841
total-29842
count-29842
total-29843
count-29843
total-29844
count-29844
total-29845
count-29845
total-29846
column4 double_ele[1, 2]
count-29846
total-29847
count-29847
total-29848
count-29848
total-29849
count-29849
total-29850
count-29850
total-29851
count-29851
total-29852
count-29852
total-29853
count-29853
total-29854
count-29854
total-29855
count-29855
total-29856
count-29856
total-29857
count-29857
total-29858
count-29858
total-29859
count-29859
total-29860
count-29860
total-29861
count-29861
total-29862
count-29862
total-29863
count-29863
total-29864
count-29864
total-29865
count-29865
total-29866
count-29866
total-29867
column9 double_ele[2, 3]
count-29867
total-29868
count-29868
total-29869
count-29869
total-29870
count-29870
total-29871
count-29871
total-29872
count-29872
total-29873
count-29873
total-29874
count-29874
total-29875
count-29875
total-29876
column9 double_ele[5, 6]
count-29876
total-29877
count-29877
total-29878
row 8double_ele[1, 3]
count-29878
total-29879
count-29879
total-29880
row 6double_ele[1, 3]
count-29880
total-29881
count-29881
total-29882
count-29882
total-29883
count-29883
total-29884
row 3double_ele[1, 3]
column6 double_ele[1, 3]
count-29884
total-29885
count-29885
total-29886
count-29886
total-29887
count-29887
total-29888
count-29888
total-29889
count-29889
total-29890
count-29890
total-29891
count-29891
total-29892
count-29892
total-29893
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-29893
total-29894
count-29894
total-29895
count-29895
total-29896
count-29896
total-29897
count-29897
total-29898
count-29898
total-29899
count-29899
total-29900
count-29900
total-29901
count-29901
total-29902
count-29902
total-29903
count-29903
total-29904
count-29904
total-29905
count-29905
total-29906
count-29906
total-29907
count-29907
total-29908
count-29908
total-29909
count-29909
total-29910
count-29910
total-29911
count-29911
total-29912
count-29912
total-29913
count-29913
total-29914
count-29914
total-29915
count-29915
total-29916
count-29916
total-29917
count-29917
total-29918
count-29918
total-29919
count-29919
total-29920
column2 double_ele[1, 3]
row 3double_ele[1, 3]
count-29920
total-29921
count-29921
total-29922
count-29922
total-29923
count-29923
total-29924
count-29924
total-29925
count-29925
total-29926
count-29926
total-29927
count-29927
total-29928
count-29928
total-29929
column8 double_ele[2, 3]
row 9double_ele[3, 8]
count-29929
total-29930
count-29930
total-29931
count-29931
total-29932
count-29932
total-29933

count-29933
total-29934
count-29934
total-29935
count-29935
total-29936
count-29936
total-29937
count-29937
total-29938
count-29938
total-29939
count-29939
total-29940
count-29940
total-29941
count-29941
total-29942
row 4double_ele[1, 3]
column8 double_ele[1, 3]
count-29942
total-29943
count-29943
total-29944
count-29944
total-29945
row 6double_ele[2, 6]
column8 double_ele[3, 8]
count-29945
total-29946
count-29946
total-29947
count-29947
total-29948
count-29948
total-29949
count-29949
total-29950
row 4double_ele[1, 3]
count-29950
total-29951
count-29951
total-29952
count-29952
total-29953
count-29953
total-29954
count-29954
total-29955
count-29955
total-29956
count-29956
total-29957
count-29957
total-29958
column5 double_ele[2, 3]
column6 double_ele[2, 3]
row 8double_ele[2, 3]
count-29958
total-29959
count-29959
total-29960
count-29960
total-29961
count-29961
total-29962
count-29962
total-29963
count-29963
total-29964
count-29964
total-29965
count-29965
total-29966
count-29966
total-29967
count-29967
total-29968
count-29968
total-29969
count-29969
total-29970
count-29970
total-29971
count-29971
total-29972
column3 double_ele[4, 6]
row 7double_ele[4, 6]
count-29972
total-29973
column2 double_ele[1, 2]
row 6double_ele[1, 2]
row 7double_ele[1, 2]
count-29973
total-29974
count-29974
total-29975
count-29975
total-29976
count-29976
total-29977
row 1double_ele[1, 3]
column1 double_ele[1, 3]
count-29977
total-29978
count-29978
total-29979
count-29979
total-29980
count-29980
total-29981
column3 double_ele[3, 4]
row 5double_ele[2, 3]
count-29981
total-29982
count-29982
total-29983
column5 double_ele[2, 4]
row 7double_ele[2, 4]
row 2triple_ele[1, 2, 4]
box3 triple_ele[1, 2, 4]
count-29983
total-29984
count-29984
total-29985
column1 double_ele[1, 6]
row 5double_ele[1, 6]
count-29985
total-29986
count-29986
total-29987
count-29987
total-29988
count-29988
total-29989
count-29989
total-29990
count-29990
total-29991
count-29991
total-29992
count-29992
total-29993
count-29993
total-29994
count-29994
total-29995
count-29995
total-29996
count-29996
total-29997
count-29997
total-29998
count-29998
total-29999
count-29999
total-30000
count-30000
total-30001
count-30001
total-30002
count-30002
total-30003
count-30003
total-30004
count-30004
total-30005
count-30005
total-30006
count-30006
total-30007
count-30007
total-30008
count-30008
total-30009
column7 double_ele[2, 5]
count-30009
total-30010
count-30010
total-30011
count-30011
total-30012
count-30012
total-30013
count-30013
total-30014
count-30014
total-30015
count-30015
total-30016
count-30016
total-30017
count-30017
total-30018
count-30018
total-30019
count-30019
total-30020
count-30020
total-30021
count-30021
total-30022
count-30022
total-30023
row 3double_ele[4, 5]
row 9double_ele[2, 4]
count-30023
total-30024
count-30024
total-30025
count-30025
total-30026
row 2double_ele[2, 3]
column4 double_ele[2, 3]
count-30026
total-30027
count-30027
total-30028
count-30028
total-30029
count-30029
total-30030
count-30030
total-30031
count-30031
total-30032
count-30032
total-30033
count-30033
total-30034
count-30034
total-30035
count-30035
total-30036
count-30036
total-30037
count-30037
total-30038
count-30038
total-30039
count-30039
total-30040
count-30040
total-30041
count-30041
total-30042
count-30042
total-30043
count-30043
total-30044
count-30044
total-30045
count-30045
total-30046
count-30046
total-30047
count-30047
total-30048
count-30048
total-30049
count-30049
total-30050
count-30050
total-30051
count-30051
total-30052
count-30052
total-30053
count-30053
total-30054
count-30054
total-30055
count-30055
total-30056
count-30056
total-30057
count-30057
total-30058
count-30058
total-30059
count-30059
total-30060
count-30060
total-30061
count-30061
total-30062
count-30062
total-30063
count-30063
total-30064
count-30064
total-30065
count-30065
total-30066
count-30066
total-30067
count-30067
total-30068
count-30068
total-30069
count-30069
total-30070
count-30070
total-30071
count-30071
total-30072
count-30072
total-30073
count-30073
total-30074
count-30074
total-30075
count-30075
total-30076
count-30076
total-30077
count-30077
total-30078
row 8double_ele[1, 6]
column8 double_ele[1, 6]
count-30078
total-30079
count-30079
total-30080
count-30080
total-30081
count-30081
total-30082
count-30082
total-30083
count-30083
total-30084
row 5double_ele[2, 5]
count-30084
total-30085
count-30085
total-30086
row 1double_ele[4, 5]
row 5double_ele[1, 6]
count-30086
total-30087
count-30087
total-30088
count-30088
total-30089
count-30089
total-30090
count-30090
total-30091
count-30091
total-30092
count-30092
total-30093
count-30093
total-30094
count-30094
total-30095
count-30095
total-30096
count-30096
total-30097
count-30097
total-30098
count-30098
total-30099
count-30099
total-30100
row 2double_ele[4, 9]
count-30100
total-30101
count-30101
total-30102
count-30102
total-30103
count-30103
total-30104
count-30104
total-30105
count-30105
total-30106
count-30106
total-30107
count-30107
total-30108
count-30108
total-30109
count-30109
total-30110
count-30110
total-30111
count-30111
total-30112
count-30112
total-30113
count-30113
total-30114
count-30114
total-30115
count-30115
total-30116
count-30116
total-30117
count-30117
total-30118
column1 double_ele[4, 8]
count-30118
total-30119
count-30119
total-30120
row 3double_ele[2, 5]
row 6double_ele[1, 5]
count-30120
total-30121
count-30121
total-30122
count-30122
total-30123
count-30123
total-30124
count-30124
total-30125
count-30125
total-30126
count-30126
total-30127
count-30127
total-30128
count-30128
total-30129
count-30129
total-30130
count-30130
total-30131
count-30131
total-30132
count-30132
total-30133
count-30133
total-30134
count-30134
total-30135
count-30135
total-30136
count-30136
total-30137
count-30137
total-30138
count-30138
total-30139
count-30139
total-30140
count-30140
total-30141
count-30141
total-30142
count-30142
total-30143
count-30143
total-30144
count-30144
total-30145
count-30145
total-30146
count-30146
total-30147
count-30147
total-30148
count-30148
total-30149
count-30149
total-30150
count-30150
total-30151
row 9double_ele[2, 6]
count-30151
total-30152
count-30152
total-30153
count-30153
total-30154
count-30154
total-30155
count-30155
total-30156
count-30156
total-30157
count-30157
total-30158
count-30158
total-30159
count-30159
total-30160
count-30160
total-30161
count-30161
total-30162
count-30162
total-30163
count-30163
total-30164
count-30164
total-30165
count-30165
total-30166
count-30166
total-30167
count-30167
total-30168
count-30168
total-30169
count-30169
total-30170
count-30170
total-30171
count-30171
total-30172
count-30172
total-30173
count-30173
total-30174
count-30174
total-30175
count-30175
total-30176
count-30176
total-30177
column7 double_ele[1, 3]
row 9double_ele[4, 8]
count-30177
total-30178
count-30178
total-30179
count-30179
total-30180
count-30180
total-30181
count-30181
total-30182
count-30182
total-30183
count-30183
total-30184
count-30184
total-30185
count-30185
total-30186
count-30186
total-30187
count-30187
total-30188
count-30188
total-30189
column5 double_ele[6, 7]
count-30189
total-30190
count-30190
total-30191
count-30191
total-30192
count-30192
total-30193
count-30193
total-30194
count-30194
total-30195
column3 double_ele[2, 7]
count-30195
total-30196
count-30196
total-30197
count-30197
total-30198
count-30198
total-30199
count-30199
total-30200
count-30200
total-30201
count-30201
total-30202
row 4double_ele[2, 5]
count-30202
total-30203
row 6double_ele[1, 7]
count-30203
total-30204
count-30204
total-30205
count-30205
total-30206
count-30206
total-30207
count-30207
total-30208
count-30208
total-30209
count-30209
total-30210
count-30210
total-30211
count-30211
total-30212
count-30212
total-30213
column7 double_ele[2, 4]
count-30213
total-30214
count-30214
total-30215
count-30215
total-30216
count-30216
total-30217
count-30217
total-30218
count-30218
total-30219
count-30219
total-30220
column8 double_ele[1, 5]
count-30220
total-30221
count-30221
total-30222
count-30222
total-30223
row 1double_ele[3, 4]
column3 double_ele[3, 4]
column4 double_ele[4, 8]
row 5double_ele[3, 8]
column7 double_ele[3, 8]
count-30223
total-30224
row 3double_ele[2, 3]
column3 double_ele[3, 6]
column4 double_ele[2, 3]
count-30224
total-30225
count-30225
total-30226

count-30226
total-30227
count-30227
total-30228
count-30228
total-30229
count-30229
total-30230
count-30230
total-30231
count-30231
total-30232
count-30232
total-30233
count-30233
total-30234
count-30234
total-30235
count-30235
total-30236
count-30236
total-30237
count-30237
total-30238
count-30238
total-30239
count-30239
total-30240
count-30240
total-30241
count-30241
total-30242
count-30242
total-30243
row 4double_ele[3, 5]
count-30243
total-30244
count-30244
total-30245
count-30245
total-30246
count-30246
total-30247
count-30247
total-30248
count-30248
total-30249
count-30249
total-30250
count-30250
total-30251
column7 double_ele[1, 3]
count-30251
total-30252
count-30252
total-30253
count-30253
total-30254
count-30254
total-30255
count-30255
total-30256
count-30256
total-30257
count-30257
total-30258
count-30258
total-30259
count-30259
total-30260
count-30260
total-30261
count-30261
total-30262
count-30262
total-30263
count-30263
total-30264
count-30264
total-30265
count-30265
total-30266
count-30266
total-30267
count-30267
total-30268
row 6double_ele[1, 3]
count-30268
total-30269
row 6double_ele[1, 2]
count-30269
total-30270
count-30270
total-30271
count-30271
total-30272
count-30272
total-30273
count-30273
total-30274
count-30274
total-30275
count-30275
total-30276
count-30276
total-30277
count-30277
total-30278
count-30278
total-30279
count-30279
total-30280
count-30280
total-30281
count-30281
total-30282
count-30282
total-30283
count-30283
total-30284
count-30284
total-30285
count-30285
total-30286
count-30286
total-30287
count-30287
total-30288
count-30288
total-30289
count-30289
total-30290
count-30290
total-30291
count-30291
total-30292
count-30292
total-30293
row 9triple_ele[1, 3, 4]
box9 triple_ele[1, 3, 4]
count-30293
total-30294
count-30294
total-30295
count-30295
total-30296
count-30296
total-30297
count-30297
total-30298
count-30298
total-30299
count-30299
total-30300
count-30300
total-30301
count-30301
total-30302
count-30302
total-30303
count-30303
total-30304
count-30304
total-30305
count-30305
total-30306
count-30306
total-30307
count-30307
total-30308
count-30308
total-30309
count-30309
total-30310
count-30310
total-30311
count-30311
total-30312
count-30312
total-30313
count-30313
total-30314
count-30314
total-30315
row 8double_ele[1, 6]
count-30315
total-30316
count-30316
total-30317
count-30317
total-30318
count-30318
total-30319
count-30319
total-30320
count-30320
total-30321
count-30321
total-30322
count-30322
total-30323
count-30323
total-30324
count-30324
total-30325
count-30325
total-30326
count-30326
total-30327
count-30327
total-30328
count-30328
total-30329
count-30329
total-30330
count-30330
total-30331
column3 double_ele[6, 8]
count-30331
total-30332
count-30332
total-30333
count-30333
total-30334
count-30334
total-30335
count-30335
total-30336
count-30336
total-30337
count-30337
total-30338
count-30338
total-30339
count-30339
total-30340
count-30340
total-30341
count-30341
total-30342
row 2double_ele[5, 7]
row 5double_ele[1, 4]
count-30342
total-30343
column4 double_ele[2, 3]
count-30343
total-30344
row 4double_ele[3, 5]
count-30344
total-30345
count-30345
total-30346
count-30346
total-30347
count-30347
total-30348
count-30348
total-30349
count-30349
total-30350
column3 double_ele[1, 2]
count-30350
total-30351
row 1double_ele[4, 5]
column2 double_ele[4, 5]
count-30351
total-30352
count-30352
total-30353
count-30353
total-30354
count-30354
total-30355
count-30355
total-30356
count-30356
total-30357
count-30357
total-30358
count-30358
total-30359
count-30359
total-30360
count-30360
total-30361
count-30361
total-30362
count-30362
total-30363
row 9double_ele[1, 3]
count-30363
total-30364
count-30364
total-30365
count-30365
total-30366
count-30366
total-30367
count-30367
total-30368
count-30368
total-30369
count-30369
total-30370
count-30370
total-30371
count-30371
total-30372
count-30372
total-30373
row 3double_ele[1, 2]
column9 double_ele[1, 2]
count-30373
total-30374
count-30374
total-30375
column8 double_ele[4, 5]
count-30375
total-30376
count-30376
total-30377
count-30377
total-30378
count-30378
total-30379
count-30379
total-30380
count-30380
total-30381
count-30381
total-30382
count-30382
total-30383
count-30383
total-30384
count-30384
total-30385
count-30385
total-30386
count-30386
total-30387
count-30387
total-30388
count-30388
total-30389
count-30389
total-30390
count-30390
total-30391
row 9double_ele[1, 4]
count-30391
total-30392
count-30392
total-30393
count-30393
total-30394
count-30394
total-30395
count-30395
total-30396
count-30396
total-30397
column8 double_ele[2, 5]
count-30397
total-30398
count-30398
total-30399
count-30399
total-30400
count-30400
total-30401
count-30401
total-30402
count-30402
total-30403
count-30403
total-30404
count-30404
total-30405
count-30405
total-30406
column4 double_ele[1, 2]
count-30406
total-30407
count-30407
total-30408
column8 double_ele[1, 5]
count-30408
total-30409
count-30409
total-30410
count-30410
total-30411
count-30411
total-30412
count-30412
total-30413
count-30413
total-30414
count-30414
total-30415
count-30415
total-30416
count-30416
total-30417
count-30417
total-30418
count-30418
total-30419
count-30419
total-30420
column1 double_ele[1, 2]
count-30420
total-30421
count-30421
total-30422
row 3double_ele[1, 8]
row 6double_ele[5, 9]
column8 double_ele[5, 9]
count-30422
total-30423
count-30423
total-30424
count-30424
total-30425
count-30425
total-30426
column9 double_ele[1, 3]
count-30426
total-30427
count-30427
total-30428
count-30428
total-30429
row 8double_ele[2, 3]
count-30429
total-30430
count-30430
total-30431
count-30431
total-30432
count-30432
total-30433
count-30433
total-30434
count-30434
total-30435
count-30435
total-30436
count-30436
total-30437
count-30437
total-30438
count-30438
total-30439
count-30439
total-30440
count-30440
total-30441
count-30441
total-30442
count-30442
total-30443
count-30443
total-30444
count-30444
total-30445
count-30445
total-30446
count-30446
total-30447
count-30447
total-30448
count-30448
total-30449
count-30449
total-30450
count-30450
total-30451
count-30451
total-30452
count-30452
total-30453
count-30453
total-30454
count-30454
total-30455
count-30455
total-30456
count-30456
total-30457
count-30457
total-30458
column3 double_ele[5, 7]
row 4double_ele[5, 7]
row 8double_ele[5, 7]
count-30458
total-30459
count-30459
total-30460
count-30460
total-30461
count-30461
total-30462
count-30462
total-30463
count-30463
total-30464
count-30464
total-30465
count-30465
total-30466
column1 double_ele[2, 5]
row 4double_ele[2, 5]
count-30466
total-30467
count-30467
total-30468
count-30468
total-30469
count-30469
total-30470
count-30470
total-30471
row 9double_ele[3, 5]
count-30471
total-30472
count-30472
total-30473
count-30473
total-30474
count-30474
total-30475
count-30475
total-30476
count-30476
total-30477
row 1double_ele[2, 5]
column3 double_ele[2, 5]
count-30477
total-30478
count-30478
total-30479
count-30479
total-30480
count-30480
total-30481
count-30481
total-30482
count-30482
total-30483
count-30483
total-30484
count-30484
total-30485
count-30485
total-30486
count-30486
total-30487
count-30487
total-30488
count-30488
total-30489
count-30489
total-30490
count-30490
total-30491
count-30491
total-30492
count-30492
total-30493
count-30493
total-30494
row 3double_ele[1, 5]
count-30494
total-30495
count-30495
total-30496
count-30496
total-30497
count-30497
total-30498
count-30498
total-30499
count-30499
total-30500
count-30500
total-30501
column4 double_ele[2, 8]
row 7double_ele[2, 8]
column8 double_ele[2, 8]
count-30501
total-30502
count-30502
total-30503
count-30503
total-30504
count-30504
total-30505
count-30505
total-30506
count-30506
total-30507
count-30507
total-30508
count-30508
total-30509
count-30509
total-30510
count-30510
total-30511
row 7double_ele[1, 4]
count-30511
total-30512
count-30512
total-30513
count-30513
total-30514
count-30514
total-30515
count-30515
total-30516
count-30516
total-30517
count-30517
total-30518
count-30518
total-30519
count-30519
total-30520
count-30520
total-30521
count-30521
total-30522
count-30522
total-30523
count-30523
total-30524
column9 double_ele[5, 7]
count-30524
total-30525
count-30525
total-30526
count-30526
total-30527
count-30527
total-30528
count-30528
total-30529
count-30529
total-30530
count-30530
total-30531
count-30531
total-30532
count-30532
total-30533
count-30533
total-30534
column8 double_ele[1, 4]
count-30534
total-30535
count-30535
total-30536
count-30536
total-30537
count-30537
total-30538
count-30538
total-30539
count-30539
total-30540
count-30540
total-30541
count-30541
total-30542

count-30542
total-30543
count-30543
total-30544
count-30544
total-30545
count-30545
total-30546
count-30546
total-30547
count-30547
total-30548
count-30548
total-30549
count-30549
total-30550
count-30550
total-30551
count-30551
total-30552
count-30552
total-30553
count-30553
total-30554
count-30554
total-30555
count-30555
total-30556
count-30556
total-30557
count-30557
total-30558
row 1double_ele[2, 3]
count-30558
total-30559
count-30559
total-30560
column2 double_ele[1, 4]
column4 double_ele[4, 7]
count-30560
total-30561
count-30561
total-30562
count-30562
total-30563
count-30563
total-30564
count-30564
total-30565
count-30565
total-30566
count-30566
total-30567
count-30567
total-30568
count-30568
total-30569
column3 double_ele[1, 6]
column4 double_ele[3, 6]
count-30569
total-30570
column1 double_ele[2, 6]
row 2double_ele[2, 6]
row 5double_ele[2, 6]
count-30570
total-30571
count-30571
total-30572
count-30572
total-30573
count-30573
total-30574
count-30574
total-30575
count-30575
total-30576
column5 double_ele[1, 4]
row 9double_ele[1, 4]
count-30576
total-30577
count-30577
total-30578
row 8double_ele[4, 5]
count-30578
total-30579
count-30579
total-30580
count-30580
total-30581
count-30581
total-30582
count-30582
total-30583
count-30583
total-30584
count-30584
total-30585
count-30585
total-30586
count-30586
total-30587
count-30587
total-30588
count-30588
total-30589
count-30589
total-30590
column2 double_ele[3, 4]
count-30590
total-30591
count-30591
total-30592
count-30592
total-30593
count-30593
total-30594
count-30594
total-30595
count-30595
total-30596
count-30596
total-30597
count-30597
total-30598
count-30598
total-30599
count-30599
total-30600
count-30600
total-30601
count-30601
total-30602
count-30602
total-30603
row 4double_ele[2, 3]
count-30603
total-30604
count-30604
total-30605
count-30605
total-30606
count-30606
total-30607
row 2double_ele[1, 3]
row 8double_ele[1, 2]
count-30607
total-30608
count-30608
total-30609
count-30609
total-30610
count-30610
total-30611
count-30611
total-30612
count-30612
total-30613
count-30613
total-30614
row 7double_ele[3, 5]
count-30614
total-30615
count-30615
total-30616
row 9double_ele[1, 5]
count-30616
total-30617
count-30617
total-30618
count-30618
total-30619
count-30619
total-30620
count-30620
total-30621
row 1double_ele[3, 5]
row 5double_ele[1, 6]
row 9double_ele[2, 6]
count-30621
total-30622
count-30622
total-30623
column7 double_ele[1, 2]
count-30623
total-30624
count-30624
total-30625
count-30625
total-30626
count-30626
total-30627
count-30627
total-30628
count-30628
total-30629
count-30629
total-30630
row 9double_ele[1, 3]
row 7triple_ele[2, 3, 5]
box9 triple_ele[2, 3, 5]
count-30630
total-30631
count-30631
total-30632
column5 double_ele[3, 7]
count-30632
total-30633
count-30633
total-30634
count-30634
total-30635
count-30635
total-30636
count-30636
total-30637
count-30637
total-30638
count-30638
total-30639
count-30639
total-30640
count-30640
total-30641
column3 double_ele[1, 4]
row 7double_ele[1, 4]
count-30641
total-30642
count-30642
total-30643
column2 double_ele[2, 4]
row 5double_ele[2, 4]
column6 double_ele[1, 7]
row 8double_ele[1, 7]
count-30643
total-30644
count-30644
total-30645
count-30645
total-30646
count-30646
total-30647
count-30647
total-30648
count-30648
total-30649
count-30649
total-30650
count-30650
total-30651
count-30651
total-30652
count-30652
total-30653
count-30653
total-30654
count-30654
total-30655
row 6double_ele[1, 2]
count-30655
total-30656
count-30656
total-30657
count-30657
total-30658
count-30658
total-30659
count-30659
total-30660
count-30660
total-30661
count-30661
total-30662
count-30662
total-30663
count-30663
total-30664
count-30664
total-30665
count-30665
total-30666
count-30666
total-30667
count-30667
total-30668
count-30668
total-30669
count-30669
total-30670
count-30670
total-30671
count-30671
total-30672
count-30672
total-30673
count-30673
total-30674
count-30674
total-30675
count-30675
total-30676
count-30676
total-30677
row 1double_ele[2, 3]
count-30677
total-30678
count-30678
total-30679
count-30679
total-30680
count-30680
total-30681
count-30681
total-30682
count-30682
total-30683
row 5double_ele[2, 3]
column9 double_ele[3, 4]
count-30683
total-30684
column6 double_ele[2, 5]
count-30684
total-30685
count-30685
total-30686
count-30686
total-30687
count-30687
total-30688
count-30688
total-30689
count-30689
total-30690
count-30690
total-30691
count-30691
total-30692
count-30692
total-30693
count-30693
total-30694
count-30694
total-30695
count-30695
total-30696
count-30696
total-30697
count-30697
total-30698
count-30698
total-30699
count-30699
total-30700
count-30700
total-30701
count-30701
total-30702
row 1double_ele[3, 6]
column4 double_ele[3, 6]
column6 double_ele[3, 6]
row 9double_ele[3, 6]
count-30702
total-30703
count-30703
total-30704
count-30704
total-30705
count-30705
total-30706
count-30706
total-30707
count-30707
total-30708
count-30708
total-30709
count-30709
total-30710
count-30710
total-30711
count-30711
total-30712
count-30712
total-30713
count-30713
total-30714
count-30714
total-30715
count-30715
total-30716
count-30716
total-30717
count-30717
total-30718
count-30718
total-30719
count-30719
total-30720
count-30720
total-30721
count-30721
total-30722
count-30722
total-30723
count-30723
total-30724
count-30724
total-30725
count-30725
total-30726
row 3double_ele[4, 5]
count-30726
total-30727
count-30727
total-30728
count-30728
total-30729
count-30729
total-30730
count-30730
total-30731
row 2double_ele[2, 6]
count-30731
total-30732
count-30732
total-30733
row 7double_ele[4, 8]
count-30733
total-30734
count-30734
total-30735
count-30735
total-30736
count-30736
total-30737
count-30737
total-30738
count-30738
total-30739
count-30739
total-30740
count-30740
total-30741
row 1double_ele[1, 5]
count-30741
total-30742
count-30742
total-30743
count-30743
total-30744
count-30744
total-30745
count-30745
total-30746
count-30746
total-30747
count-30747
total-30748
row 3double_ele[2, 5]
count-30748
total-30749
count-30749
total-30750
count-30750
total-30751
count-30751
total-30752
count-30752
total-30753
count-30753
total-30754
count-30754
total-30755
count-30755
total-30756
row 1double_ele[1, 5]
row 7double_ele[1, 2]
count-30756
total-30757
count-30757
total-30758
count-30758
total-30759
column1 double_ele[2, 7]
row 6double_ele[2, 7]
count-30759
total-30760
count-30760
total-30761
count-30761
total-30762
column4 double_ele[2, 3]
count-30762
total-30763
count-30763
total-30764
column5 double_ele[2, 3]
row 7double_ele[2, 3]
count-30764
total-30765
count-30765
total-30766
count-30766
total-30767
count-30767
total-30768
count-30768
total-30769
row 3double_ele[5, 7]
column3 double_ele[5, 7]
count-30769
total-30770
count-30770
total-30771
count-30771
total-30772
count-30772
total-30773
count-30773
total-30774
count-30774
total-30775
count-30775
total-30776
count-30776
total-30777
count-30777
total-30778
count-30778
total-30779
count-30779
total-30780
count-30780
total-30781
count-30781
total-30782
count-30782
total-30783
row 1double_ele[1, 6]
column7 double_ele[1, 6]
count-30783
total-30784
count-30784
total-30785
count-30785
total-30786
count-30786
total-30787
count-30787
total-30788
count-30788
total-30789
row 2double_ele[2, 8]
count-30789
total-30790
count-30790
total-30791
count-30791
total-30792
count-30792
total-30793
count-30793
total-30794
count-30794
total-30795
count-30795
total-30796
count-30796
total-30797
count-30797
total-30798
count-30798
total-30799
row 6double_ele[2, 3]
count-30799
total-30800
count-30800
total-30801
count-30801
total-30802
count-30802
total-30803
count-30803
total-30804
count-30804
total-30805
count-30805
total-30806
count-30806
total-30807
count-30807
total-30808
count-30808
total-30809
column2 double_ele[1, 5]
count-30809
total-30810
count-30810
total-30811
count-30811
total-30812
count-30812
total-30813
count-30813
total-30814
count-30814
total-30815
count-30815
total-30816
count-30816
total-30817
column7 double_ele[2, 3]
count-30817
total-30818
count-30818
total-30819
column1 double_ele[2, 7]
row 5double_ele[2, 7]
row 8double_ele[2, 3]
row 3triple_ele[1, 3, 7]
count-30819
total-30820
count-30820
total-30821
count-30821
total-30822
count-30822
total-30823
count-30823
total-30824
count-30824
total-30825
count-30825
total-30826
count-30826
total-30827
count-30827
total-30828
count-30828
total-30829
count-30829
total-30830
count-30830
total-30831
row 6double_ele[3, 4]
row 8double_ele[2, 3]
count-30831
total-30832
row 9double_ele[3, 4]
count-30832
total-30833
count-30833
total-30834
count-30834
total-30835
count-30835
total-30836
count-30836
total-30837
count-30837
total-30838
count-30838
total-30839
count-30839
total-30840
count-30840
total-30841
count-30841
total-30842

count-30842
total-30843
count-30843
total-30844
count-30844
total-30845
count-30845
total-30846
count-30846
total-30847
count-30847
total-30848
count-30848
total-30849
count-30849
total-30850
count-30850
total-30851
count-30851
total-30852
count-30852
total-30853
count-30853
total-30854
row 8double_ele[2, 6]
count-30854
total-30855
count-30855
total-30856
column8 double_ele[2, 6]
count-30856
total-30857
count-30857
total-30858
count-30858
total-30859
count-30859
total-30860
count-30860
total-30861
count-30861
total-30862
count-30862
total-30863
count-30863
total-30864
count-30864
total-30865
count-30865
total-30866
count-30866
total-30867
count-30867
total-30868
count-30868
total-30869
count-30869
total-30870
count-30870
total-30871
count-30871
total-30872
count-30872
total-30873
row 3double_ele[5, 9]
column3 double_ele[1, 9]
count-30873
total-30874
count-30874
total-30875
row 1double_ele[1, 2]
column3 double_ele[1, 2]
count-30875
total-30876
count-30876
total-30877
count-30877
total-30878
count-30878
total-30879
count-30879
total-30880
count-30880
total-30881
count-30881
total-30882
count-30882
total-30883
count-30883
total-30884
count-30884
total-30885
count-30885
total-30886
count-30886
total-30887
count-30887
total-30888
count-30888
total-30889
count-30889
total-30890
count-30890
total-30891
column1 double_ele[5, 8]
row 2double_ele[5, 8]
row 6double_ele[1, 9]
count-30891
total-30892
count-30892
total-30893
count-30893
total-30894
count-30894
total-30895
count-30895
total-30896
count-30896
total-30897
count-30897
total-30898
count-30898
total-30899
count-30899
total-30900
count-30900
total-30901
count-30901
total-30902
count-30902
total-30903
count-30903
total-30904
count-30904
total-30905
count-30905
total-30906
count-30906
total-30907
count-30907
total-30908
count-30908
total-30909
count-30909
total-30910
count-30910
total-30911
count-30911
total-30912
count-30912
total-30913
count-30913
total-30914
count-30914
total-30915
count-30915
total-30916
column1 double_ele[3, 6]
count-30916
total-30917
count-30917
total-30918
count-30918
total-30919
count-30919
total-30920
column4 double_ele[2, 5]
row 6double_ele[2, 5]
count-30920
total-30921
row 3double_ele[3, 8]
count-30921
total-30922
count-30922
total-30923
column6 double_ele[2, 8]
count-30923
total-30924
count-30924
total-30925
count-30925
total-30926
count-30926
total-30927
count-30927
total-30928
count-30928
total-30929
count-30929
total-30930
column5 double_ele[2, 4]
row 9double_ele[2, 4]
count-30930
total-30931
count-30931
total-30932
count-30932
total-30933
count-30933
total-30934
count-30934
total-30935
count-30935
total-30936
count-30936
total-30937
count-30937
total-30938
count-30938
total-30939
count-30939
total-30940
count-30940
total-30941
count-30941
total-30942
count-30942
total-30943
column9 double_ele[2, 5]
count-30943
total-30944
count-30944
total-30945
count-30945
total-30946
count-30946
total-30947
count-30947
total-30948
count-30948
total-30949
count-30949
total-30950
count-30950
total-30951
count-30951
total-30952
count-30952
total-30953
count-30953
total-30954
count-30954
total-30955
count-30955
total-30956
count-30956
total-30957
count-30957
total-30958
count-30958
total-30959
row 5double_ele[3, 4]
count-30959
total-30960
count-30960
total-30961
column1 double_ele[1, 3]
count-30961
total-30962
count-30962
total-30963
count-30963
total-30964
count-30964
total-30965
count-30965
total-30966
count-30966
total-30967
count-30967
total-30968
count-30968
total-30969
count-30969
total-30970
row 1double_ele[2, 7]
row 3double_ele[1, 2]
count-30970
total-30971
count-30971
total-30972
count-30972
total-30973
count-30973
total-30974
count-30974
total-30975
count-30975
total-30976
count-30976
total-30977
count-30977
total-30978
count-30978
total-30979
count-30979
total-30980
count-30980
total-30981
count-30981
total-30982
count-30982
total-30983
count-30983
total-30984
count-30984
total-30985
count-30985
total-30986
count-30986
total-30987
count-30987
total-30988
count-30988
total-30989
row 8double_ele[5, 8]
count-30989
total-30990
count-30990
total-30991
count-30991
total-30992
count-30992
total-30993
count-30993
total-30994
count-30994
total-30995
count-30995
total-30996
count-30996
total-30997
count-30997
total-30998
count-30998
total-30999
count-30999
total-31000
count-31000
total-31001
count-31001
total-31002
count-31002
total-31003
count-31003
total-31004
count-31004
total-31005
count-31005
total-31006
count-31006
total-31007
count-31007
total-31008
count-31008
total-31009
count-31009
total-31010
count-31010
total-31011
count-31011
total-31012
count-31012
total-31013
count-31013
total-31014
count-31014
total-31015
count-31015
total-31016
count-31016
total-31017
count-31017
total-31018
count-31018
total-31019
count-31019
total-31020
count-31020
total-31021
count-31021
total-31022
count-31022
total-31023
count-31023
total-31024
count-31024
total-31025
count-31025
total-31026
count-31026
total-31027
count-31027
total-31028
count-31028
total-31029
count-31029
total-31030
count-31030
total-31031
count-31031
total-31032
count-31032
total-31033
count-31033
total-31034
count-31034
total-31035
count-31035
total-31036
count-31036
total-31037
count-31037
total-31038
count-31038
total-31039
count-31039
total-31040
count-31040
total-31041
count-31041
total-31042
count-31042
total-31043
count-31043
total-31044
count-31044
total-31045
count-31045
total-31046
count-31046
total-31047
count-31047
total-31048
count-31048
total-31049
count-31049
total-31050
count-31050
total-31051
count-31051
total-31052
count-31052
total-31053
count-31053
total-31054
column6 double_ele[2, 4]
count-31054
total-31055
count-31055
total-31056
count-31056
total-31057
count-31057
total-31058
count-31058
total-31059
count-31059
total-31060
count-31060
total-31061
count-31061
total-31062
count-31062
total-31063
count-31063
total-31064
count-31064
total-31065
count-31065
total-31066
count-31066
total-31067
count-31067
total-31068
count-31068
total-31069
count-31069
total-31070
count-31070
total-31071
column1 double_ele[1, 6]
row 2double_ele[1, 6]
count-31071
total-31072
count-31072
total-31073
count-31073
total-31074
count-31074
total-31075
column5 double_ele[2, 4]
row 6double_ele[2, 4]
count-31075
total-31076
row 8double_ele[1, 2]
count-31076
total-31077
count-31077
total-31078
count-31078
total-31079
row 1double_ele[1, 2]
count-31079
total-31080
column1 double_ele[2, 3]
row 3double_ele[2, 4]
row 4double_ele[2, 3]
column5 double_ele[2, 4]
row 8double_ele[2, 4]
count-31080
total-31081
count-31081
total-31082
count-31082
total-31083
count-31083
total-31084
count-31084
total-31085
count-31085
total-31086
count-31086
total-31087
count-31087
total-31088
count-31088
total-31089
count-31089
total-31090
count-31090
total-31091
count-31091
total-31092
count-31092
total-31093
count-31093
total-31094
count-31094
total-31095
count-31095
total-31096
count-31096
total-31097
column9 double_ele[4, 6]
count-31097
total-31098
count-31098
total-31099
count-31099
total-31100
count-31100
total-31101
count-31101
total-31102
count-31102
total-31103
count-31103
total-31104
count-31104
total-31105
count-31105
total-31106
count-31106
total-31107
column9 double_ele[2, 3]
count-31107
total-31108
count-31108
total-31109
count-31109
total-31110
count-31110
total-31111
count-31111
total-31112
column1 double_ele[3, 7]
row 5double_ele[3, 7]
column5 double_ele[1, 6]
column8 double_ele[6, 7]
count-31112
total-31113
count-31113
total-31114
count-31114
total-31115
count-31115
total-31116
count-31116
total-31117
count-31117
total-31118
count-31118
total-31119
count-31119
total-31120
count-31120
total-31121
count-31121
total-31122
count-31122
total-31123
count-31123
total-31124
count-31124
total-31125
count-31125
total-31126
count-31126
total-31127
count-31127
total-31128
count-31128
total-31129
count-31129
total-31130
count-31130
total-31131
count-31131
total-31132
count-31132
total-31133
count-31133
total-31134
count-31134
total-31135
count-31135
total-31136
count-31136
total-31137
count-31137
total-31138
count-31138
total-31139
count-31139
total-31140
count-31140
total-31141
count-31141
total-31142
count-31142
total-31143
count-31143
total-31144
count-31144
total-31145
count-31145
total-31146
column4 double_ele[1, 4]
row 9double_ele[1, 4]
count-31146
total-31147
count-31147
total-31148
count-31148
total-31149
count-31149
total-31150
count-31150
total-31151
count-31151
total-31152

count-31152
total-31153
count-31153
total-31154
count-31154
total-31155
count-31155
total-31156
count-31156
total-31157
count-31157
total-31158
count-31158
total-31159
count-31159
total-31160
count-31160
total-31161
row 7double_ele[4, 5]
count-31161
total-31162
count-31162
total-31163
count-31163
total-31164
count-31164
total-31165
count-31165
total-31166
count-31166
total-31167
column4 double_ele[2, 4]
row 9double_ele[3, 8]
count-31167
total-31168
count-31168
total-31169
count-31169
total-31170
count-31170
total-31171
count-31171
total-31172
count-31172
total-31173
count-31173
total-31174
count-31174
total-31175
row 4double_ele[2, 6]
column4 double_ele[2, 6]
count-31175
total-31176
row 2double_ele[4, 6]
count-31176
total-31177
count-31177
total-31178
count-31178
total-31179
count-31179
total-31180
count-31180
total-31181
column8 double_ele[1, 5]
count-31181
total-31182
count-31182
total-31183
count-31183
total-31184
row 1double_ele[1, 2]
count-31184
total-31185
count-31185
total-31186
count-31186
total-31187
count-31187
total-31188
count-31188
total-31189
count-31189
total-31190
count-31190
total-31191
count-31191
total-31192
count-31192
total-31193
count-31193
total-31194
count-31194
total-31195
count-31195
total-31196
count-31196
total-31197
column1 double_ele[4, 6]
count-31197
total-31198
count-31198
total-31199
count-31199
total-31200
count-31200
total-31201
count-31201
total-31202
count-31202
total-31203
count-31203
total-31204
count-31204
total-31205
count-31205
total-31206
row 4double_ele[4, 6]
count-31206
total-31207
count-31207
total-31208
count-31208
total-31209
count-31209
total-31210
column9 double_ele[5, 7]
count-31210
total-31211
count-31211
total-31212
count-31212
total-31213
count-31213
total-31214
count-31214
total-31215
count-31215
total-31216
count-31216
total-31217
count-31217
total-31218
count-31218
total-31219
count-31219
total-31220
count-31220
total-31221
count-31221
total-31222
count-31222
total-31223
count-31223
total-31224
count-31224
total-31225
count-31225
total-31226
count-31226
total-31227
count-31227
total-31228
count-31228
total-31229
count-31229
total-31230
count-31230
total-31231
count-31231
total-31232
column8 double_ele[3, 6]
count-31232
total-31233
count-31233
total-31234
count-31234
total-31235
count-31235
total-31236
count-31236
total-31237
column2 double_ele[3, 4]
count-31237
total-31238
count-31238
total-31239
count-31239
total-31240
count-31240
total-31241
count-31241
total-31242
count-31242
total-31243
row 2double_ele[3, 5]
row 5double_ele[4, 5]
row 8double_ele[2, 8]
count-31243
total-31244
row 1double_ele[4, 5]
count-31244
total-31245
count-31245
total-31246
count-31246
total-31247
count-31247
total-31248
count-31248
total-31249
count-31249
total-31250
count-31250
total-31251
count-31251
total-31252
count-31252
total-31253
count-31253
total-31254
count-31254
total-31255
count-31255
total-31256
count-31256
total-31257
row 3double_ele[2, 9]
row 9double_ele[1, 9]
count-31257
total-31258
count-31258
total-31259
count-31259
total-31260
count-31260
total-31261
count-31261
total-31262
count-31262
total-31263
count-31263
total-31264
count-31264
total-31265
count-31265
total-31266
count-31266
total-31267
count-31267
total-31268
column6 double_ele[4, 5]
count-31268
total-31269
count-31269
total-31270
count-31270
total-31271
count-31271
total-31272
count-31272
total-31273
column3 double_ele[2, 5]
count-31273
total-31274
count-31274
total-31275
count-31275
total-31276
count-31276
total-31277
count-31277
total-31278
count-31278
total-31279
count-31279
total-31280
count-31280
total-31281
row 6double_ele[2, 3]
count-31281
total-31282
count-31282
total-31283
row 4double_ele[1, 5]
count-31283
total-31284
count-31284
total-31285
count-31285
total-31286
count-31286
total-31287
count-31287
total-31288
count-31288
total-31289
row 3double_ele[1, 2]
column6 double_ele[1, 2]
count-31289
total-31290
row 3double_ele[1, 2]
column3 double_ele[1, 2]
count-31290
total-31291
count-31291
total-31292
count-31292
total-31293
count-31293
total-31294
count-31294
total-31295
count-31295
total-31296
count-31296
total-31297
count-31297
total-31298
count-31298
total-31299
row 3double_ele[2, 3]
column6 double_ele[2, 3]
count-31299
total-31300
count-31300
total-31301
count-31301
total-31302
count-31302
total-31303
count-31303
total-31304
count-31304
total-31305
count-31305
total-31306
count-31306
total-31307
count-31307
total-31308
count-31308
total-31309
row 2double_ele[3, 7]
count-31309
total-31310
count-31310
total-31311
count-31311
total-31312
count-31312
total-31313
count-31313
total-31314
count-31314
total-31315
count-31315
total-31316
count-31316
total-31317
count-31317
total-31318
count-31318
total-31319
count-31319
total-31320
count-31320
total-31321
count-31321
total-31322
count-31322
total-31323
count-31323
total-31324
count-31324
total-31325
count-31325
total-31326
count-31326
total-31327
count-31327
total-31328
count-31328
total-31329
count-31329
total-31330
row 3double_ele[3, 5]
row 4double_ele[5, 9]
row 5double_ele[4, 5]
count-31330
total-31331
count-31331
total-31332
count-31332
total-31333
row 3double_ele[3, 8]
row 4double_ele[5, 8]
count-31333
total-31334
count-31334
total-31335
column6 double_ele[4, 6]
row 8double_ele[4, 6]
count-31335
total-31336
count-31336
total-31337
count-31337
total-31338
count-31338
total-31339
count-31339
total-31340
row 4double_ele[2, 4]
count-31340
total-31341
count-31341
total-31342
count-31342
total-31343
count-31343
total-31344
count-31344
total-31345
column3 double_ele[2, 4]
count-31345
total-31346
count-31346
total-31347
count-31347
total-31348
count-31348
total-31349
count-31349
total-31350
column4 double_ele[2, 3]
row 7double_ele[2, 3]
count-31350
total-31351
column6 double_ele[2, 5]
count-31351
total-31352
count-31352
total-31353
count-31353
total-31354
count-31354
total-31355
count-31355
total-31356
count-31356
total-31357
count-31357
total-31358
count-31358
total-31359
row 6double_ele[3, 6]
column7 double_ele[3, 6]
count-31359
total-31360
count-31360
total-31361
row 4double_ele[1, 2]
count-31361
total-31362
count-31362
total-31363
count-31363
total-31364
count-31364
total-31365
count-31365
total-31366
count-31366
total-31367
count-31367
total-31368
column1 double_ele[2, 4]
row 6double_ele[2, 4]
column6 double_ele[3, 4]
count-31368
total-31369
count-31369
total-31370
count-31370
total-31371
count-31371
total-31372
count-31372
total-31373
count-31373
total-31374
count-31374
total-31375
count-31375
total-31376
count-31376
total-31377
count-31377
total-31378
column6 double_ele[1, 2]
count-31378
total-31379
count-31379
total-31380
count-31380
total-31381
count-31381
total-31382
count-31382
total-31383
count-31383
total-31384
row 3double_ele[2, 4]
count-31384
total-31385
count-31385
total-31386
count-31386
total-31387
count-31387
total-31388
count-31388
total-31389
count-31389
total-31390
count-31390
total-31391
count-31391
total-31392
count-31392
total-31393
count-31393
total-31394
count-31394
total-31395
count-31395
total-31396
count-31396
total-31397
count-31397
total-31398
count-31398
total-31399
count-31399
total-31400
count-31400
total-31401
count-31401
total-31402
count-31402
total-31403
count-31403
total-31404
row 2double_ele[3, 4]
count-31404
total-31405
count-31405
total-31406
count-31406
total-31407
count-31407
total-31408
count-31408
total-31409
count-31409
total-31410
count-31410
total-31411
count-31411
total-31412
count-31412
total-31413
count-31413
total-31414
column1 double_ele[1, 4]
count-31414
total-31415
count-31415
total-31416
count-31416
total-31417
count-31417
total-31418
count-31418
total-31419
count-31419
total-31420
count-31420
total-31421
count-31421
total-31422
count-31422
total-31423
count-31423
total-31424
count-31424
total-31425
count-31425
total-31426
count-31426
total-31427
count-31427
total-31428
count-31428
total-31429
row 1double_ele[1, 2]
count-31429
total-31430
count-31430
total-31431
count-31431
total-31432
count-31432
total-31433
row 1double_ele[3, 4]
column9 double_ele[3, 4]
count-31433
total-31434
count-31434
total-31435
count-31435
total-31436
count-31436
total-31437
count-31437
total-31438
row 4double_ele[3, 6]
column4 double_ele[3, 6]
row 7double_ele[3, 6]
count-31438
total-31439
column4 double_ele[1, 3]
count-31439
total-31440
count-31440
total-31441
count-31441
total-31442
count-31442
total-31443
count-31443
total-31444
count-31444
total-31445
count-31445
total-31446
count-31446
total-31447
count-31447
total-31448

count-31448
total-31449
count-31449
total-31450
count-31450
total-31451
count-31451
total-31452
count-31452
total-31453
count-31453
total-31454
count-31454
total-31455
count-31455
total-31456
count-31456
total-31457
count-31457
total-31458
count-31458
total-31459
count-31459
total-31460
count-31460
total-31461
column3 double_ele[1, 6]
row 4double_ele[1, 6]
count-31461
total-31462
count-31462
total-31463
count-31463
total-31464
count-31464
total-31465
count-31465
total-31466
row 4double_ele[3, 5]
count-31466
total-31467
count-31467
total-31468
count-31468
total-31469
row 7double_ele[2, 5]
count-31469
total-31470
count-31470
total-31471
count-31471
total-31472
count-31472
total-31473
count-31473
total-31474
count-31474
total-31475
count-31475
total-31476
count-31476
total-31477
count-31477
total-31478
count-31478
total-31479
count-31479
total-31480
column6 double_ele[1, 2]
count-31480
total-31481
column5 double_ele[1, 2]
count-31481
total-31482
count-31482
total-31483
count-31483
total-31484
count-31484
total-31485
count-31485
total-31486
count-31486
total-31487
count-31487
total-31488
count-31488
total-31489
count-31489
total-31490
count-31490
total-31491
count-31491
total-31492
count-31492
total-31493
count-31493
total-31494
row 1double_ele[1, 5]
count-31494
total-31495
count-31495
total-31496
count-31496
total-31497
count-31497
total-31498
count-31498
total-31499
count-31499
total-31500
column2 double_ele[4, 6]
count-31500
total-31501
count-31501
total-31502
count-31502
total-31503
count-31503
total-31504
row 4double_ele[2, 8]
count-31504
total-31505
row 4double_ele[3, 6]
count-31505
total-31506
count-31506
total-31507
count-31507
total-31508
count-31508
total-31509
count-31509
total-31510
count-31510
total-31511
row 5double_ele[1, 5]
count-31511
total-31512
row 4double_ele[3, 5]
count-31512
total-31513
count-31513
total-31514
column1 double_ele[1, 6]
column2 double_ele[1, 6]
row 8double_ele[1, 6]
count-31514
total-31515
count-31515
total-31516
count-31516
total-31517
column1 double_ele[1, 3]
count-31517
total-31518
column2 double_ele[1, 2]
count-31518
total-31519
box6 triple_ele[1, 2, 3]
count-31519
total-31520
count-31520
total-31521
count-31521
total-31522
count-31522
total-31523
count-31523
total-31524
count-31524
total-31525
column5 double_ele[1, 5]
count-31525
total-31526
count-31526
total-31527
count-31527
total-31528
count-31528
total-31529
count-31529
total-31530
count-31530
total-31531
count-31531
total-31532
count-31532
total-31533
count-31533
total-31534
count-31534
total-31535
count-31535
total-31536
count-31536
total-31537
count-31537
total-31538
count-31538
total-31539
count-31539
total-31540
count-31540
total-31541
count-31541
total-31542
count-31542
total-31543
count-31543
total-31544
count-31544
total-31545
count-31545
total-31546
count-31546
total-31547
count-31547
total-31548
count-31548
total-31549
column7 double_ele[1, 6]
count-31549
total-31550
count-31550
total-31551
count-31551
total-31552
count-31552
total-31553
count-31553
total-31554
count-31554
total-31555
count-31555
total-31556
count-31556
total-31557
count-31557
total-31558
count-31558
total-31559
count-31559
total-31560
count-31560
total-31561
count-31561
total-31562
row 6double_ele[1, 2]
count-31562
total-31563
count-31563
total-31564
count-31564
total-31565
count-31565
total-31566
count-31566
total-31567
row 2double_ele[1, 8]
column8 double_ele[1, 8]
count-31567
total-31568
count-31568
total-31569
row 9double_ele[1, 8]
count-31569
total-31570
count-31570
total-31571
count-31571
total-31572
count-31572
total-31573
count-31573
total-31574
count-31574
total-31575
count-31575
total-31576
count-31576
total-31577
column3 double_ele[2, 4]
count-31577
total-31578
count-31578
total-31579
count-31579
total-31580
count-31580
total-31581
count-31581
total-31582
count-31582
total-31583
count-31583
total-31584
count-31584
total-31585
column4 double_ele[1, 5]
count-31585
total-31586
count-31586
total-31587
count-31587
total-31588
count-31588
total-31589
count-31589
total-31590
count-31590
total-31591
count-31591
total-31592
count-31592
total-31593
count-31593
total-31594
row 3double_ele[3, 4]
row 7double_ele[4, 8]
column7 double_ele[3, 4]
count-31594
total-31595
count-31595
total-31596
count-31596
total-31597
count-31597
total-31598
count-31598
total-31599
count-31599
total-31600
count-31600
total-31601
count-31601
total-31602
count-31602
total-31603
count-31603
total-31604
count-31604
total-31605
count-31605
total-31606
count-31606
total-31607
count-31607
total-31608
count-31608
total-31609
count-31609
total-31610
count-31610
total-31611
count-31611
total-31612
count-31612
total-31613
count-31613
total-31614
row 3double_ele[1, 9]
column8 double_ele[1, 9]
count-31614
total-31615
count-31615
total-31616
count-31616
total-31617
row 1double_ele[2, 6]
count-31617
total-31618
count-31618
total-31619
count-31619
total-31620
count-31620
total-31621
count-31621
total-31622
count-31622
total-31623
column3 double_ele[2, 4]
column6 double_ele[1, 4]
count-31623
total-31624
count-31624
total-31625
count-31625
total-31626
count-31626
total-31627
row 1double_ele[5, 7]
row 4double_ele[2, 7]
column8 double_ele[2, 7]
count-31627
total-31628
column2 double_ele[1, 4]
count-31628
total-31629
count-31629
total-31630
count-31630
total-31631
count-31631
total-31632
count-31632
total-31633
count-31633
total-31634
row 9double_ele[5, 6]
count-31634
total-31635
count-31635
total-31636
count-31636
total-31637
column1 double_ele[2, 3]
count-31637
total-31638
count-31638
total-31639
count-31639
total-31640
count-31640
total-31641
count-31641
total-31642
count-31642
total-31643
count-31643
total-31644
count-31644
total-31645
count-31645
total-31646
count-31646
total-31647
count-31647
total-31648
count-31648
total-31649
count-31649
total-31650
count-31650
total-31651
count-31651
total-31652
count-31652
total-31653
count-31653
total-31654
count-31654
total-31655
count-31655
total-31656
count-31656
total-31657
count-31657
total-31658
count-31658
total-31659
count-31659
total-31660
count-31660
total-31661
count-31661
total-31662
count-31662
total-31663
count-31663
total-31664
count-31664
total-31665
count-31665
total-31666
count-31666
total-31667
count-31667
total-31668
count-31668
total-31669
count-31669
total-31670
count-31670
total-31671
count-31671
total-31672
count-31672
total-31673
count-31673
total-31674
column2 double_ele[2, 5]
count-31674
total-31675
row 1double_ele[3, 5]
count-31675
total-31676
column7 double_ele[2, 4]
count-31676
total-31677
count-31677
total-31678
count-31678
total-31679
count-31679
total-31680
count-31680
total-31681
count-31681
total-31682
count-31682
total-31683
row 2double_ele[2, 3]
count-31683
total-31684
count-31684
total-31685
count-31685
total-31686
count-31686
total-31687
count-31687
total-31688
count-31688
total-31689
row 6double_ele[5, 6]
count-31689
total-31690
count-31690
total-31691
count-31691
total-31692
count-31692
total-31693
count-31693
total-31694
count-31694
total-31695
count-31695
total-31696
row 3double_ele[1, 2]
count-31696
total-31697
column4 double_ele[1, 2]
count-31697
total-31698
count-31698
total-31699
count-31699
total-31700
count-31700
total-31701
row 2double_ele[1, 4]
count-31701
total-31702
count-31702
total-31703
count-31703
total-31704
count-31704
total-31705
count-31705
total-31706
count-31706
total-31707
count-31707
total-31708
count-31708
total-31709
count-31709
total-31710
count-31710
total-31711
count-31711
total-31712
row 1double_ele[1, 3]
row 9double_ele[3, 4]
count-31712
total-31713
row 9double_ele[1, 2]
count-31713
total-31714
count-31714
total-31715
count-31715
total-31716
count-31716
total-31717
count-31717
total-31718
count-31718
total-31719
count-31719
total-31720
count-31720
total-31721
row 7double_ele[2, 7]
count-31721
total-31722
count-31722
total-31723
count-31723
total-31724
count-31724
total-31725
count-31725
total-31726
count-31726
total-31727
count-31727
total-31728
count-31728
total-31729
count-31729
total-31730
count-31730
total-31731
count-31731
total-31732
count-31732
total-31733
count-31733
total-31734
count-31734
total-31735
count-31735
total-31736
count-31736
total-31737
count-31737
total-31738
count-31738
total-31739
count-31739
total-31740
count-31740
total-31741
column9 double_ele[1, 5]
count-31741
total-31742

count-31742
total-31743
count-31743
total-31744
count-31744
total-31745
count-31745
total-31746
count-31746
total-31747
count-31747
total-31748
count-31748
total-31749
count-31749
total-31750
count-31750
total-31751
count-31751
total-31752
count-31752
total-31753
count-31753
total-31754
count-31754
total-31755
column9 double_ele[4, 6]
count-31755
total-31756
column4 double_ele[1, 5]
count-31756
total-31757
count-31757
total-31758
count-31758
total-31759
row 7double_ele[2, 3]
count-31759
total-31760
count-31760
total-31761
count-31761
total-31762
row 5double_ele[3, 6]
column8 double_ele[3, 6]
count-31762
total-31763
count-31763
total-31764
count-31764
total-31765
count-31765
total-31766
count-31766
total-31767
count-31767
total-31768
row 3double_ele[1, 7]
row 7double_ele[4, 7]
count-31768
total-31769
count-31769
total-31770
count-31770
total-31771
count-31771
total-31772
count-31772
total-31773
count-31773
total-31774
count-31774
total-31775
count-31775
total-31776
count-31776
total-31777
count-31777
total-31778
count-31778
total-31779
count-31779
total-31780
count-31780
total-31781
count-31781
total-31782
count-31782
total-31783
count-31783
total-31784
column8 double_ele[1, 5]
count-31784
total-31785
count-31785
total-31786
count-31786
total-31787
count-31787
total-31788
count-31788
total-31789
count-31789
total-31790
count-31790
total-31791
row 1double_ele[4, 7]
count-31791
total-31792
count-31792
total-31793
count-31793
total-31794
count-31794
total-31795
column4 double_ele[2, 3]
row 5double_ele[2, 3]
count-31795
total-31796
count-31796
total-31797
count-31797
total-31798
count-31798
total-31799
count-31799
total-31800
column9 double_ele[1, 2]
count-31800
total-31801
row 2double_ele[1, 3]
count-31801
total-31802
row 9double_ele[2, 7]
count-31802
total-31803
count-31803
total-31804
count-31804
total-31805
count-31805
total-31806
column5 double_ele[1, 9]
count-31806
total-31807
count-31807
total-31808
count-31808
total-31809
column9 double_ele[2, 9]
count-31809
total-31810
count-31810
total-31811
count-31811
total-31812
count-31812
total-31813
count-31813
total-31814
count-31814
total-31815
row 3double_ele[1, 2]
column7 double_ele[1, 2]
row 8double_ele[1, 2]
column9 double_ele[1, 2]
count-31815
total-31816
count-31816
total-31817
count-31817
total-31818
count-31818
total-31819
count-31819
total-31820
count-31820
total-31821
count-31821
total-31822
count-31822
total-31823
count-31823
total-31824
count-31824
total-31825
count-31825
total-31826
count-31826
total-31827
count-31827
total-31828
count-31828
total-31829
count-31829
total-31830
count-31830
total-31831
count-31831
total-31832
column1 double_ele[2, 4]
count-31832
total-31833
column1 double_ele[3, 6]
count-31833
total-31834
count-31834
total-31835
count-31835
total-31836
count-31836
total-31837
count-31837
total-31838
count-31838
total-31839
count-31839
total-31840
count-31840
total-31841
count-31841
total-31842
count-31842
total-31843
count-31843
total-31844
count-31844
total-31845
count-31845
total-31846
count-31846
total-31847
count-31847
total-31848
count-31848
total-31849
count-31849
total-31850
count-31850
total-31851
count-31851
total-31852
count-31852
total-31853
row 7double_ele[2, 5]
count-31853
total-31854
count-31854
total-31855
row 2double_ele[2, 7]
column4 double_ele[2, 7]
row 6double_ele[2, 7]
count-31855
total-31856
count-31856
total-31857
count-31857
total-31858
count-31858
total-31859
count-31859
total-31860
count-31860
total-31861
count-31861
total-31862
row 3double_ele[1, 4]
column8 double_ele[1, 4]
count-31862
total-31863
count-31863
total-31864
count-31864
total-31865
count-31865
total-31866
count-31866
total-31867
count-31867
total-31868
row 3double_ele[5, 7]
row 5double_ele[4, 7]
count-31868
total-31869
column6 double_ele[1, 4]
count-31869
total-31870
count-31870
total-31871
count-31871
total-31872
count-31872
total-31873
column1 double_ele[3, 6]
column8 double_ele[3, 5]
count-31873
total-31874
count-31874
total-31875
count-31875
total-31876
count-31876
total-31877
count-31877
total-31878
count-31878
total-31879
count-31879
total-31880
count-31880
total-31881
count-31881
total-31882
count-31882
total-31883
count-31883
total-31884
count-31884
total-31885
count-31885
total-31886
count-31886
total-31887
count-31887
total-31888
count-31888
total-31889
row 8double_ele[1, 3]
count-31889
total-31890
count-31890
total-31891
count-31891
total-31892
count-31892
total-31893
count-31893
total-31894
count-31894
total-31895
count-31895
total-31896
count-31896
total-31897
count-31897
total-31898
count-31898
total-31899
count-31899
total-31900
count-31900
total-31901
count-31901
total-31902
count-31902
total-31903
count-31903
total-31904
count-31904
total-31905
row 2double_ele[1, 4]
count-31905
total-31906
count-31906
total-31907
count-31907
total-31908
count-31908
total-31909
count-31909
total-31910
count-31910
total-31911
count-31911
total-31912
count-31912
total-31913
count-31913
total-31914
count-31914
total-31915
count-31915
total-31916
column5 double_ele[4, 6]
column7 double_ele[2, 6]
row 8double_ele[2, 6]
column8 double_ele[2, 6]
count-31916
total-31917
count-31917
total-31918
count-31918
total-31919
count-31919
total-31920
count-31920
total-31921
count-31921
total-31922
count-31922
total-31923
count-31923
total-31924
count-31924
total-31925
column5 double_ele[1, 5]
count-31925
total-31926
count-31926
total-31927
count-31927
total-31928
count-31928
total-31929
count-31929
total-31930
count-31930
total-31931
count-31931
total-31932
count-31932
total-31933
count-31933
total-31934
row 3double_ele[2, 6]
row 4double_ele[3, 6]
column9 double_ele[3, 6]
count-31934
total-31935
count-31935
total-31936
count-31936
total-31937
count-31937
total-31938
count-31938
total-31939
count-31939
total-31940
count-31940
total-31941
count-31941
total-31942
count-31942
total-31943
count-31943
total-31944
count-31944
total-31945
row 6double_ele[1, 2]
count-31945
total-31946
count-31946
total-31947
count-31947
total-31948
count-31948
total-31949
count-31949
total-31950
count-31950
total-31951
count-31951
total-31952
row 5double_ele[2, 3]
count-31952
total-31953
count-31953
total-31954
count-31954
total-31955
count-31955
total-31956
count-31956
total-31957
count-31957
total-31958
column4 double_ele[2, 7]
count-31958
total-31959
count-31959
total-31960
count-31960
total-31961
count-31961
total-31962
count-31962
total-31963
count-31963
total-31964
count-31964
total-31965
count-31965
total-31966
count-31966
total-31967
count-31967
total-31968
count-31968
total-31969
count-31969
total-31970
count-31970
total-31971
count-31971
total-31972
count-31972
total-31973
count-31973
total-31974
count-31974
total-31975
count-31975
total-31976
row 5double_ele[1, 4]
column6 double_ele[1, 4]
row 9double_ele[1, 4]
count-31976
total-31977
count-31977
total-31978
count-31978
total-31979
count-31979
total-31980
count-31980
total-31981
count-31981
total-31982
count-31982
total-31983
row 8double_ele[1, 5]
count-31983
total-31984
count-31984
total-31985
count-31985
total-31986
count-31986
total-31987
count-31987
total-31988
row 3double_ele[2, 3]
row 4double_ele[2, 7]
count-31988
total-31989
column9 double_ele[3, 4]
count-31989
total-31990
count-31990
total-31991
count-31991
total-31992
count-31992
total-31993
count-31993
total-31994
count-31994
total-31995
count-31995
total-31996
count-31996
total-31997
count-31997
total-31998
count-31998
total-31999
count-31999
total-32000
count-32000
total-32001
count-32001
total-32002
count-32002
total-32003
count-32003
total-32004
row 7double_ele[2, 3]
count-32004
total-32005
row 1double_ele[1, 7]
column7 double_ele[6, 9]
count-32005
total-32006
count-32006
total-32007
count-32007
total-32008
count-32008
total-32009
count-32009
total-32010
row 6double_ele[4, 8]
row 9double_ele[5, 8]
count-32010
total-32011
count-32011
total-32012
count-32012
total-32013
row 2double_ele[1, 4]
row 4double_ele[1, 2]
column9 double_ele[1, 4]
count-32013
total-32014
count-32014
total-32015
count-32015
total-32016
count-32016
total-32017
column8 double_ele[4, 5]
count-32017
total-32018
count-32018
total-32019
count-32019
total-32020
count-32020
total-32021
column1 double_ele[1, 7]
count-32021
total-32022
count-32022
total-32023
count-32023
total-32024
count-32024
total-32025
count-32025
total-32026
row 2double_ele[1, 2]
column3 double_ele[3, 5]
count-32026
total-32027
count-32027
total-32028
count-32028
total-32029

count-32029
total-32030
count-32030
total-32031
count-32031
total-32032
count-32032
total-32033
count-32033
total-32034
count-32034
total-32035
row 4double_ele[4, 6]
row 7double_ele[4, 5]
count-32035
total-32036
count-32036
total-32037
count-32037
total-32038
count-32038
total-32039
column2 double_ele[2, 7]
count-32039
total-32040
count-32040
total-32041
count-32041
total-32042
count-32042
total-32043
count-32043
total-32044
count-32044
total-32045
column6 double_ele[1, 6]
count-32045
total-32046
count-32046
total-32047
count-32047
total-32048
count-32048
total-32049
count-32049
total-32050
count-32050
total-32051
count-32051
total-32052
count-32052
total-32053
count-32053
total-32054
count-32054
total-32055
count-32055
total-32056
count-32056
total-32057
count-32057
total-32058
count-32058
total-32059
count-32059
total-32060
count-32060
total-32061
count-32061
total-32062
count-32062
total-32063
count-32063
total-32064
count-32064
total-32065
count-32065
total-32066
count-32066
total-32067
count-32067
total-32068
count-32068
total-32069
count-32069
total-32070
count-32070
total-32071
count-32071
total-32072
count-32072
total-32073
row 4double_ele[2, 7]
count-32073
total-32074
count-32074
total-32075
row 7double_ele[4, 8]
count-32075
total-32076
count-32076
total-32077
count-32077
total-32078
count-32078
total-32079
count-32079
total-32080
count-32080
total-32081
count-32081
total-32082
count-32082
total-32083
count-32083
total-32084
count-32084
total-32085
row 1double_ele[1, 3]
count-32085
total-32086
count-32086
total-32087
row 3double_ele[3, 6]
count-32087
total-32088
column7 double_ele[3, 5]
count-32088
total-32089
count-32089
total-32090
count-32090
total-32091
count-32091
total-32092
column1 double_ele[2, 3]
count-32092
total-32093
count-32093
total-32094
count-32094
total-32095
count-32095
total-32096
count-32096
total-32097
count-32097
total-32098
row 6double_ele[1, 5]
count-32098
total-32099
count-32099
total-32100
count-32100
total-32101
count-32101
total-32102
count-32102
total-32103
count-32103
total-32104
count-32104
total-32105
count-32105
total-32106
count-32106
total-32107
count-32107
total-32108
count-32108
total-32109
count-32109
total-32110
count-32110
total-32111
count-32111
total-32112
count-32112
total-32113
count-32113
total-32114
count-32114
total-32115
count-32115
total-32116
count-32116
total-32117
count-32117
total-32118
count-32118
total-32119
column1 double_ele[1, 5]
count-32119
total-32120
column7 double_ele[4, 7]
box6 triple_ele[4, 6, 7]
count-32120
total-32121
count-32121
total-32122
count-32122
total-32123
count-32123
total-32124
count-32124
total-32125
count-32125
total-32126
count-32126
total-32127
count-32127
total-32128
row 7double_ele[3, 7]
count-32128
total-32129
count-32129
total-32130
count-32130
total-32131
count-32131
total-32132
count-32132
total-32133
count-32133
total-32134
count-32134
total-32135
count-32135
total-32136
count-32136
total-32137
count-32137
total-32138
count-32138
total-32139
count-32139
total-32140
column1 double_ele[4, 6]
count-32140
total-32141
count-32141
total-32142
column2 double_ele[2, 4]
count-32142
total-32143
count-32143
total-32144
count-32144
total-32145
count-32145
total-32146
count-32146
total-32147
count-32147
total-32148
count-32148
total-32149
column9 double_ele[1, 5]
count-32149
total-32150
count-32150
total-32151
count-32151
total-32152
column4 double_ele[1, 4]
count-32152
total-32153
count-32153
total-32154
count-32154
total-32155
row 1double_ele[1, 4]
count-32155
total-32156
row 8double_ele[1, 5]
count-32156
total-32157
count-32157
total-32158
count-32158
total-32159
count-32159
total-32160
count-32160
total-32161
count-32161
total-32162
count-32162
total-32163
count-32163
total-32164
count-32164
total-32165
count-32165
total-32166
count-32166
total-32167
count-32167
total-32168
count-32168
total-32169
count-32169
total-32170
count-32170
total-32171
count-32171
total-32172
column2 double_ele[3, 8]
count-32172
total-32173
row 5double_ele[2, 6]
count-32173
total-32174
count-32174
total-32175
count-32175
total-32176
count-32176
total-32177
count-32177
total-32178
row 7double_ele[4, 8]
count-32178
total-32179
count-32179
total-32180
count-32180
total-32181
count-32181
total-32182
count-32182
total-32183
count-32183
total-32184
count-32184
total-32185
count-32185
total-32186
count-32186
total-32187
count-32187
total-32188
count-32188
total-32189
count-32189
total-32190
row 2double_ele[1, 4]
row 3double_ele[1, 6]
count-32190
total-32191
count-32191
total-32192
count-32192
total-32193
count-32193
total-32194
count-32194
total-32195
count-32195
total-32196
count-32196
total-32197
count-32197
total-32198
count-32198
total-32199
count-32199
total-32200
count-32200
total-32201
count-32201
total-32202
count-32202
total-32203
count-32203
total-32204
count-32204
total-32205
count-32205
total-32206
count-32206
total-32207
count-32207
total-32208
count-32208
total-32209
count-32209
total-32210
count-32210
total-32211
count-32211
total-32212
count-32212
total-32213
count-32213
total-32214
count-32214
total-32215
count-32215
total-32216
count-32216
total-32217
count-32217
total-32218
count-32218
total-32219
count-32219
total-32220
count-32220
total-32221
count-32221
total-32222
count-32222
total-32223
count-32223
total-32224
count-32224
total-32225
count-32225
total-32226
row 8double_ele[2, 7]
count-32226
total-32227
row 1double_ele[3, 4]
row 3double_ele[3, 4]
column8 double_ele[3, 4]
count-32227
total-32228
count-32228
total-32229
row 3double_ele[2, 3]
count-32229
total-32230
count-32230
total-32231
count-32231
total-32232
column4 double_ele[3, 4]
count-32232
total-32233
count-32233
total-32234
count-32234
total-32235
count-32235
total-32236
count-32236
total-32237
count-32237
total-32238
count-32238
total-32239
count-32239
total-32240
count-32240
total-32241
count-32241
total-32242
count-32242
total-32243
count-32243
total-32244
count-32244
total-32245
column7 double_ele[3, 8]
count-32245
total-32246
count-32246
total-32247
count-32247
total-32248
count-32248
total-32249
count-32249
total-32250
count-32250
total-32251
count-32251
total-32252
count-32252
total-32253
count-32253
total-32254
count-32254
total-32255
count-32255
total-32256
count-32256
total-32257
count-32257
total-32258
column7 double_ele[2, 5]
count-32258
total-32259
count-32259
total-32260
row 1double_ele[2, 4]
count-32260
total-32261
count-32261
total-32262
count-32262
total-32263
count-32263
total-32264
count-32264
total-32265
count-32265
total-32266
count-32266
total-32267
count-32267
total-32268
count-32268
total-32269
count-32269
total-32270
count-32270
total-32271
column1 double_ele[2, 6]
column9 double_ele[5, 6]
count-32271
total-32272
count-32272
total-32273
count-32273
total-32274
count-32274
total-32275
count-32275
total-32276
row 3double_ele[3, 6]
column9 double_ele[3, 6]
count-32276
total-32277
count-32277
total-32278
count-32278
total-32279
count-32279
total-32280
count-32280
total-32281
row 4double_ele[3, 6]
column5 double_ele[3, 6]
count-32281
total-32282
count-32282
total-32283
count-32283
total-32284
count-32284
total-32285
count-32285
total-32286
column3 double_ele[2, 4]
count-32286
total-32287
count-32287
total-32288
count-32288
total-32289
count-32289
total-32290
count-32290
total-32291
count-32291
total-32292
count-32292
total-32293
count-32293
total-32294
count-32294
total-32295
count-32295
total-32296
count-32296
total-32297
count-32297
total-32298
count-32298
total-32299
count-32299
total-32300
count-32300
total-32301
count-32301
total-32302
count-32302
total-32303
count-32303
total-32304
column8 double_ele[1, 3]
count-32304
total-32305
count-32305
total-32306
count-32306
total-32307
count-32307
total-32308
count-32308
total-32309
count-32309
total-32310
count-32310
total-32311
count-32311
total-32312
column9 double_ele[1, 2]
count-32312
total-32313
count-32313
total-32314
count-32314
total-32315
count-32315
total-32316
count-32316
total-32317
count-32317
total-32318
count-32318
total-32319
count-32319
total-32320
count-32320
total-32321
count-32321
total-32322
count-32322
total-32323
count-32323
total-32324
count-32324
total-32325
count-32325
total-32326
count-32326
total-32327
count-32327
total-32328

count-32328
total-32329
count-32329
total-32330
count-32330
total-32331
count-32331
total-32332
count-32332
total-32333
count-32333
total-32334
count-32334
total-32335
column5 double_ele[2, 4]
count-32335
total-32336
row 5double_ele[3, 4]
column6 double_ele[2, 3]
row 9double_ele[3, 7]
count-32336
total-32337
count-32337
total-32338
row 4double_ele[2, 3]
column4 double_ele[2, 5]
row 5double_ele[1, 3]
row 9triple_ele[2, 3, 5]
count-32338
total-32339
count-32339
total-32340
count-32340
total-32341
row 5double_ele[1, 7]
count-32341
total-32342
count-32342
total-32343
count-32343
total-32344
count-32344
total-32345
column3 double_ele[1, 2]
count-32345
total-32346
row 5double_ele[2, 4]
count-32346
total-32347
row 5double_ele[4, 6]
count-32347
total-32348
count-32348
total-32349
row 4double_ele[3, 5]
count-32349
total-32350
count-32350
total-32351
count-32351
total-32352
count-32352
total-32353
count-32353
total-32354
count-32354
total-32355
count-32355
total-32356
count-32356
total-32357
count-32357
total-32358
count-32358
total-32359
column8 double_ele[1, 3]
count-32359
total-32360
count-32360
total-32361
count-32361
total-32362
count-32362
total-32363
count-32363
total-32364
count-32364
total-32365
count-32365
total-32366
count-32366
total-32367
count-32367
total-32368
count-32368
total-32369
count-32369
total-32370
count-32370
total-32371
count-32371
total-32372
row 7double_ele[2, 4]
count-32372
total-32373
count-32373
total-32374
count-32374
total-32375
count-32375
total-32376
row 1double_ele[2, 4]
column2 double_ele[2, 4]
row 6double_ele[1, 7]
count-32376
total-32377
count-32377
total-32378
count-32378
total-32379
count-32379
total-32380
row 3double_ele[1, 6]
column9 double_ele[1, 6]
count-32380
total-32381
count-32381
total-32382
count-32382
total-32383
count-32383
total-32384
count-32384
total-32385
count-32385
total-32386
count-32386
total-32387
count-32387
total-32388
count-32388
total-32389
count-32389
total-32390
count-32390
total-32391
column3 double_ele[1, 3]
count-32391
total-32392
count-32392
total-32393
count-32393
total-32394
count-32394
total-32395
count-32395
total-32396
count-32396
total-32397
count-32397
total-32398
count-32398
total-32399
count-32399
total-32400
row 1double_ele[1, 2]
column1 double_ele[1, 2]
count-32400
total-32401
count-32401
total-32402
count-32402
total-32403
count-32403
total-32404
count-32404
total-32405
count-32405
total-32406
count-32406
total-32407
count-32407
total-32408
count-32408
total-32409
count-32409
total-32410
count-32410
total-32411
count-32411
total-32412
count-32412
total-32413
count-32413
total-32414
count-32414
total-32415
count-32415
total-32416
column7 double_ele[2, 7]
count-32416
total-32417
count-32417
total-32418
count-32418
total-32419
count-32419
total-32420
count-32420
total-32421
count-32421
total-32422
count-32422
total-32423
count-32423
total-32424
count-32424
total-32425
count-32425
total-32426
count-32426
total-32427
count-32427
total-32428
count-32428
total-32429
count-32429
total-32430
count-32430
total-32431
count-32431
total-32432
count-32432
total-32433
count-32433
total-32434
count-32434
total-32435
count-32435
total-32436
row 3double_ele[1, 2]
count-32436
total-32437
count-32437
total-32438
row 9double_ele[2, 5]
count-32438
total-32439
row 1double_ele[2, 6]
row 5double_ele[1, 6]
count-32439
total-32440
count-32440
total-32441
count-32441
total-32442
column5 double_ele[4, 7]
count-32442
total-32443
count-32443
total-32444
count-32444
total-32445
count-32445
total-32446
column6 double_ele[1, 2]
count-32446
total-32447
count-32447
total-32448
count-32448
total-32449
count-32449
total-32450
count-32450
total-32451
count-32451
total-32452
count-32452
total-32453
row 9double_ele[1, 8]
count-32453
total-32454
count-32454
total-32455
count-32455
total-32456
count-32456
total-32457
column4 double_ele[2, 3]
row 6double_ele[2, 3]
count-32457
total-32458
count-32458
total-32459
count-32459
total-32460
column3 double_ele[5, 7]
column6 double_ele[2, 7]
count-32460
total-32461
count-32461
total-32462
count-32462
total-32463
count-32463
total-32464
count-32464
total-32465
count-32465
total-32466
count-32466
total-32467
row 3double_ele[1, 7]
column4 double_ele[1, 7]
column6 double_ele[1, 7]
count-32467
total-32468
count-32468
total-32469
row 7double_ele[2, 5]
count-32469
total-32470
count-32470
total-32471
count-32471
total-32472
count-32472
total-32473
count-32473
total-32474
count-32474
total-32475
count-32475
total-32476
count-32476
total-32477
count-32477
total-32478
column1 double_ele[2, 4]
count-32478
total-32479
count-32479
total-32480
count-32480
total-32481
count-32481
total-32482
count-32482
total-32483
count-32483
total-32484
row 8double_ele[3, 6]
count-32484
total-32485
count-32485
total-32486
count-32486
total-32487
count-32487
total-32488
count-32488
total-32489
count-32489
total-32490
count-32490
total-32491
count-32491
total-32492
count-32492
total-32493
count-32493
total-32494
count-32494
total-32495
count-32495
total-32496
count-32496
total-32497
count-32497
total-32498
row 3double_ele[1, 3]
column3 double_ele[1, 3]
count-32498
total-32499
count-32499
total-32500
count-32500
total-32501
count-32501
total-32502
count-32502
total-32503
count-32503
total-32504
count-32504
total-32505
count-32505
total-32506
count-32506
total-32507
count-32507
total-32508
count-32508
total-32509
count-32509
total-32510
count-32510
total-32511
count-32511
total-32512
count-32512
total-32513
count-32513
total-32514
count-32514
total-32515
count-32515
total-32516
column3 double_ele[1, 4]
row 5double_ele[1, 4]
count-32516
total-32517
count-32517
total-32518
column9 double_ele[2, 4]
count-32518
total-32519
count-32519
total-32520
count-32520
total-32521
count-32521
total-32522
column9 double_ele[2, 4]
count-32522
total-32523
count-32523
total-32524
count-32524
total-32525
count-32525
total-32526
count-32526
total-32527
count-32527
total-32528
column4 double_ele[3, 5]
count-32528
total-32529
count-32529
total-32530
count-32530
total-32531
count-32531
total-32532
column3 double_ele[1, 7]
count-32532
total-32533
count-32533
total-32534
count-32534
total-32535
count-32535
total-32536
count-32536
total-32537
count-32537
total-32538
count-32538
total-32539
count-32539
total-32540
count-32540
total-32541
count-32541
total-32542
count-32542
total-32543
count-32543
total-32544
count-32544
total-32545
row 4double_ele[7, 8]
column8 double_ele[7, 8]
count-32545
total-32546
count-32546
total-32547
count-32547
total-32548
count-32548
total-32549
count-32549
total-32550
count-32550
total-32551
count-32551
total-32552
count-32552
total-32553
count-32553
total-32554
count-32554
total-32555
count-32555
total-32556
count-32556
total-32557
count-32557
total-32558
count-32558
total-32559
count-32559
total-32560
count-32560
total-32561
count-32561
total-32562
count-32562
total-32563
count-32563
total-32564
count-32564
total-32565
count-32565
total-32566
count-32566
total-32567
column1 double_ele[2, 8]
count-32567
total-32568
count-32568
total-32569
count-32569
total-32570
row 5double_ele[3, 4]
column9 double_ele[3, 4]
count-32570
total-32571
count-32571
total-32572
column7 double_ele[1, 5]
count-32572
total-32573
count-32573
total-32574
row 1double_ele[2, 8]
count-32574
total-32575
count-32575
total-32576
count-32576
total-32577
count-32577
total-32578
count-32578
total-32579
column8 double_ele[1, 3]
count-32579
total-32580
count-32580
total-32581
count-32581
total-32582
count-32582
total-32583
count-32583
total-32584
column4 double_ele[4, 8]
count-32584
total-32585
count-32585
total-32586
count-32586
total-32587
count-32587
total-32588
count-32588
total-32589
count-32589
total-32590
count-32590
total-32591
count-32591
total-32592
count-32592
total-32593
count-32593
total-32594
count-32594
total-32595
row 3double_ele[2, 4]
count-32595
total-32596
count-32596
total-32597
row 8double_ele[5, 8]
count-32597
total-32598
count-32598
total-32599
count-32599
total-32600
count-32600
total-32601
column2 double_ele[3, 4]
count-32601
total-32602
column5 double_ele[3, 5]
count-32602
total-32603
count-32603
total-32604
row 6double_ele[4, 6]
count-32604
total-32605
count-32605
total-32606
count-32606
total-32607
row 5double_ele[2, 3]
count-32607
total-32608
count-32608
total-32609
count-32609
total-32610
row 2double_ele[3, 7]
count-32610
total-32611
count-32611
total-32612
count-32612
total-32613
count-32613
total-32614
count-32614
total-32615
count-32615
total-32616

count-32616
total-32617
count-32617
total-32618
count-32618
total-32619
column4 double_ele[1, 4]
count-32619
total-32620
count-32620
total-32621
row 8double_ele[2, 7]
count-32621
total-32622
count-32622
total-32623
count-32623
total-32624
count-32624
total-32625
count-32625
total-32626
count-32626
total-32627
count-32627
total-32628
count-32628
total-32629
count-32629
total-32630
row 2double_ele[2, 8]
column2 double_ele[2, 8]
count-32630
total-32631
count-32631
total-32632
count-32632
total-32633
count-32633
total-32634
count-32634
total-32635
column3 double_ele[4, 7]
row 4double_ele[4, 7]
row 6double_ele[3, 4]
box6 triple_ele[3, 4, 7]
count-32635
total-32636
count-32636
total-32637
count-32637
total-32638
count-32638
total-32639
count-32639
total-32640
count-32640
total-32641
count-32641
total-32642
row 2double_ele[2, 5]
column8 double_ele[2, 5]
count-32642
total-32643
count-32643
total-32644
count-32644
total-32645
count-32645
total-32646
count-32646
total-32647
count-32647
total-32648
count-32648
total-32649
count-32649
total-32650
count-32650
total-32651
count-32651
total-32652
count-32652
total-32653
count-32653
total-32654
count-32654
total-32655
count-32655
total-32656
count-32656
total-32657
count-32657
total-32658
count-32658
total-32659
count-32659
total-32660
row 3double_ele[1, 6]
column6 double_ele[1, 5]
column8 double_ele[1, 6]
count-32660
total-32661
count-32661
total-32662
column9 double_ele[1, 6]
count-32662
total-32663
count-32663
total-32664
row 8double_ele[2, 5]
count-32664
total-32665
count-32665
total-32666
box9 triple_ele[1, 2, 3]
count-32666
total-32667
count-32667
total-32668
count-32668
total-32669
column2 double_ele[3, 8]
count-32669
total-32670
column8 double_ele[2, 3]
count-32670
total-32671
count-32671
total-32672
column2 double_ele[1, 4]
column5 double_ele[1, 5]
column6 double_ele[2, 3]
row 9double_ele[1, 3]
count-32672
total-32673
column2 double_ele[3, 8]
row 4double_ele[3, 8]
column6 double_ele[3, 8]
count-32673
total-32674
count-32674
total-32675
count-32675
total-32676
count-32676
total-32677
count-32677
total-32678
count-32678
total-32679
count-32679
total-32680
count-32680
total-32681
count-32681
total-32682
column8 double_ele[1, 3]
count-32682
total-32683
count-32683
total-32684
count-32684
total-32685
count-32685
total-32686
count-32686
total-32687
count-32687
total-32688
count-32688
total-32689
count-32689
total-32690
count-32690
total-32691
column3 double_ele[5, 6]
column9 double_ele[3, 6]
count-32691
total-32692
count-32692
total-32693
count-32693
total-32694
count-32694
total-32695
count-32695
total-32696
count-32696
total-32697
column2 double_ele[4, 5]
count-32697
total-32698
row 2double_ele[1, 8]
count-32698
total-32699
row 9double_ele[2, 3]
count-32699
total-32700
row 5double_ele[2, 6]
count-32700
total-32701
count-32701
total-32702
count-32702
total-32703
count-32703
total-32704
count-32704
total-32705
count-32705
total-32706
row 5double_ele[1, 4]
count-32706
total-32707
count-32707
total-32708
count-32708
total-32709
count-32709
total-32710
count-32710
total-32711
count-32711
total-32712
count-32712
total-32713
count-32713
total-32714
column6 double_ele[1, 2]
count-32714
total-32715
count-32715
total-32716
count-32716
total-32717
row 3double_ele[3, 7]
count-32717
total-32718
count-32718
total-32719
count-32719
total-32720
count-32720
total-32721
count-32721
total-32722
count-32722
total-32723
count-32723
total-32724
count-32724
total-32725
count-32725
total-32726
count-32726
total-32727
count-32727
total-32728
count-32728
total-32729
count-32729
total-32730
count-32730
total-32731
count-32731
total-32732
count-32732
total-32733
count-32733
total-32734
count-32734
total-32735
count-32735
total-32736
row 6double_ele[2, 4]
count-32736
total-32737
count-32737
total-32738
count-32738
total-32739
count-32739
total-32740
count-32740
total-32741
count-32741
total-32742
count-32742
total-32743
count-32743
total-32744
count-32744
total-32745
count-32745
total-32746
count-32746
total-32747
count-32747
total-32748
count-32748
total-32749
count-32749
total-32750
count-32750
total-32751
count-32751
total-32752
count-32752
total-32753
row 4double_ele[3, 5]
row 7double_ele[1, 2]
row 8double_ele[1, 5]
column9 double_ele[3, 5]
count-32753
total-32754
count-32754
total-32755
count-32755
total-32756
count-32756
total-32757
count-32757
total-32758
count-32758
total-32759
count-32759
total-32760
count-32760
total-32761
count-32761
total-32762
count-32762
total-32763
count-32763
total-32764
count-32764
total-32765
count-32765
total-32766
count-32766
total-32767
count-32767
total-32768
count-32768
total-32769
count-32769
total-32770
count-32770
total-32771
count-32771
total-32772
count-32772
total-32773
row 3double_ele[4, 6]
row 8double_ele[2, 6]
count-32773
total-32774
column2 double_ele[1, 5]
row 3double_ele[1, 5]
count-32774
total-32775
count-32775
total-32776
count-32776
total-32777
count-32777
total-32778
count-32778
total-32779
count-32779
total-32780
count-32780
total-32781
count-32781
total-32782
count-32782
total-32783
count-32783
total-32784
count-32784
total-32785
count-32785
total-32786
row 5double_ele[2, 8]
column8 double_ele[2, 8]
count-32786
total-32787
count-32787
total-32788
count-32788
total-32789
count-32789
total-32790
count-32790
total-32791
row 9double_ele[1, 3]
count-32791
total-32792
count-32792
total-32793
row 7double_ele[1, 2]
count-32793
total-32794
count-32794
total-32795
count-32795
total-32796
count-32796
total-32797
count-32797
total-32798
count-32798
total-32799
count-32799
total-32800
count-32800
total-32801
count-32801
total-32802
count-32802
total-32803
count-32803
total-32804
count-32804
total-32805
count-32805
total-32806
count-32806
total-32807
count-32807
total-32808
count-32808
total-32809
column9 double_ele[2, 4]
count-32809
total-32810
count-32810
total-32811
count-32811
total-32812
count-32812
total-32813
count-32813
total-32814
column3 double_ele[1, 3]
row 5double_ele[1, 5]
column7 double_ele[1, 2]
count-32814
total-32815
count-32815
total-32816
count-32816
total-32817
count-32817
total-32818
count-32818
total-32819
count-32819
total-32820
count-32820
total-32821
count-32821
total-32822
count-32822
total-32823
count-32823
total-32824
count-32824
total-32825
count-32825
total-32826
column5 double_ele[2, 6]
count-32826
total-32827
count-32827
total-32828
count-32828
total-32829
column7 double_ele[2, 5]
count-32829
total-32830
count-32830
total-32831
count-32831
total-32832
count-32832
total-32833
count-32833
total-32834
count-32834
total-32835
count-32835
total-32836
count-32836
total-32837
count-32837
total-32838
count-32838
total-32839
count-32839
total-32840
row 1double_ele[2, 7]
column1 double_ele[2, 7]
column9 double_ele[2, 7]
count-32840
total-32841
count-32841
total-32842
count-32842
total-32843
count-32843
total-32844
column1 double_ele[2, 4]
count-32844
total-32845
row 2double_ele[1, 2]
count-32845
total-32846
count-32846
total-32847
count-32847
total-32848
count-32848
total-32849
count-32849
total-32850
count-32850
total-32851
count-32851
total-32852
count-32852
total-32853
count-32853
total-32854
count-32854
total-32855
count-32855
total-32856
count-32856
total-32857
count-32857
total-32858
count-32858
total-32859
count-32859
total-32860
count-32860
total-32861
count-32861
total-32862
count-32862
total-32863
row 2double_ele[4, 8]
column8 double_ele[4, 8]
count-32863
total-32864
count-32864
total-32865
count-32865
total-32866
count-32866
total-32867
count-32867
total-32868
count-32868
total-32869
column3 double_ele[1, 7]
count-32869
total-32870
column6 double_ele[4, 7]
count-32870
total-32871
count-32871
total-32872
column2 double_ele[1, 5]
count-32872
total-32873
count-32873
total-32874
row 5triple_ele[1, 3, 6]
count-32874
total-32875
count-32875
total-32876
count-32876
total-32877
count-32877
total-32878
count-32878
total-32879
count-32879
total-32880
count-32880
total-32881
count-32881
total-32882
count-32882
total-32883
count-32883
total-32884
count-32884
total-32885
count-32885
total-32886
count-32886
total-32887
count-32887
total-32888
count-32888
total-32889
count-32889
total-32890
count-32890
total-32891
count-32891
total-32892
count-32892
total-32893
count-32893
total-32894
count-32894
total-32895
count-32895
total-32896
count-32896
total-32897
count-32897
total-32898
column8 double_ele[1, 2]
count-32898
total-32899
count-32899
total-32900
count-32900
total-32901
count-32901
total-32902
column5 double_ele[1, 2]
row 7double_ele[1, 2]
count-32902
total-32903
count-32903
total-32904
row 8double_ele[1, 4]
count-32904
total-32905
count-32905
total-32906

count-32906
total-32907
column1 double_ele[1, 5]
row 9double_ele[1, 5]
count-32907
total-32908
count-32908
total-32909
count-32909
total-32910
count-32910
total-32911
row 1double_ele[1, 6]
column8 double_ele[1, 6]
count-32911
total-32912
count-32912
total-32913
count-32913
total-32914
column4 double_ele[2, 5]
count-32914
total-32915
count-32915
total-32916
count-32916
total-32917
count-32917
total-32918
count-32918
total-32919
count-32919
total-32920
column7 double_ele[1, 3]
count-32920
total-32921
count-32921
total-32922
count-32922
total-32923
row 9double_ele[1, 4]
count-32923
total-32924
count-32924
total-32925
count-32925
total-32926
count-32926
total-32927
count-32927
total-32928
count-32928
total-32929
count-32929
total-32930
count-32930
total-32931
count-32931
total-32932
column8 double_ele[1, 6]
count-32932
total-32933
column5 double_ele[5, 6]
count-32933
total-32934
count-32934
total-32935
count-32935
total-32936
count-32936
total-32937
count-32937
total-32938
count-32938
total-32939
count-32939
total-32940
count-32940
total-32941
count-32941
total-32942
count-32942
total-32943
count-32943
total-32944
count-32944
total-32945
count-32945
total-32946
count-32946
total-32947
count-32947
total-32948
row 5double_ele[2, 8]
column6 double_ele[2, 8]
count-32948
total-32949
count-32949
total-32950
count-32950
total-32951
row 1double_ele[3, 4]
count-32951
total-32952
count-32952
total-32953
count-32953
total-32954
count-32954
total-32955
count-32955
total-32956
count-32956
total-32957
count-32957
total-32958
count-32958
total-32959
count-32959
total-32960
count-32960
total-32961
count-32961
total-32962
count-32962
total-32963
count-32963
total-32964
count-32964
total-32965
count-32965
total-32966
count-32966
total-32967
count-32967
total-32968
count-32968
total-32969
count-32969
total-32970
column6 double_ele[1, 3]
count-32970
total-32971
count-32971
total-32972
row 7double_ele[3, 4]
count-32972
total-32973
count-32973
total-32974
count-32974
total-32975
row 4double_ele[5, 6]
row 7double_ele[1, 4]
count-32975
total-32976
count-32976
total-32977
column5 double_ele[2, 5]
count-32977
total-32978
count-32978
total-32979
count-32979
total-32980
count-32980
total-32981
count-32981
total-32982
count-32982
total-32983
count-32983
total-32984
count-32984
total-32985
count-32985
total-32986
count-32986
total-32987
count-32987
total-32988
count-32988
total-32989
count-32989
total-32990
count-32990
total-32991
count-32991
total-32992
count-32992
total-32993
count-32993
total-32994
count-32994
total-32995
count-32995
total-32996
row 5double_ele[4, 6]
count-32996
total-32997
count-32997
total-32998
count-32998
total-32999
count-32999
total-33000
count-33000
total-33001
count-33001
total-33002
count-33002
total-33003
count-33003
total-33004
count-33004
total-33005
count-33005
total-33006
count-33006
total-33007
count-33007
total-33008
count-33008
total-33009
count-33009
total-33010
column1 double_ele[1, 5]
count-33010
total-33011
row 1double_ele[2, 5]
count-33011
total-33012
count-33012
total-33013
count-33013
total-33014
count-33014
total-33015
count-33015
total-33016
count-33016
total-33017
count-33017
total-33018
count-33018
total-33019
row 1double_ele[3, 5]
column4 double_ele[3, 5]
count-33019
total-33020
column7 double_ele[2, 4]
count-33020
total-33021
count-33021
total-33022
count-33022
total-33023
count-33023
total-33024
count-33024
total-33025
count-33025
total-33026
row 5double_ele[3, 6]
count-33026
total-33027
count-33027
total-33028
count-33028
total-33029
count-33029
total-33030
count-33030
total-33031
count-33031
total-33032
count-33032
total-33033
count-33033
total-33034
count-33034
total-33035
count-33035
total-33036
count-33036
total-33037
count-33037
total-33038
count-33038
total-33039
count-33039
total-33040
count-33040
total-33041
row 5double_ele[1, 3]
column8 double_ele[1, 3]
count-33041
total-33042
count-33042
total-33043
count-33043
total-33044
count-33044
total-33045
count-33045
total-33046
count-33046
total-33047
count-33047
total-33048
count-33048
total-33049
count-33049
total-33050
count-33050
total-33051
row 3double_ele[1, 3]
count-33051
total-33052
count-33052
total-33053
count-33053
total-33054
count-33054
total-33055
count-33055
total-33056
count-33056
total-33057
count-33057
total-33058
row 9double_ele[1, 8]
count-33058
total-33059
count-33059
total-33060
count-33060
total-33061
column3 double_ele[2, 3]
column5 double_ele[1, 5]
row 9double_ele[1, 5]
count-33061
total-33062
count-33062
total-33063
count-33063
total-33064
count-33064
total-33065
count-33065
total-33066
count-33066
total-33067
count-33067
total-33068
count-33068
total-33069
count-33069
total-33070
count-33070
total-33071
count-33071
total-33072
count-33072
total-33073
count-33073
total-33074
count-33074
total-33075
count-33075
total-33076
count-33076
total-33077
column5 double_ele[1, 6]
row 7double_ele[1, 5]
count-33077
total-33078
count-33078
total-33079
count-33079
total-33080
count-33080
total-33081
count-33081
total-33082
count-33082
total-33083
count-33083
total-33084
count-33084
total-33085
count-33085
total-33086
count-33086
total-33087
count-33087
total-33088
count-33088
total-33089
row 3double_ele[5, 8]
count-33089
total-33090
count-33090
total-33091
count-33091
total-33092
row 1double_ele[2, 3]
row 7double_ele[3, 6]
column8 double_ele[2, 3]
count-33092
total-33093
count-33093
total-33094
row 4double_ele[2, 5]
count-33094
total-33095
count-33095
total-33096
count-33096
total-33097
column6 double_ele[2, 3]
row 9double_ele[2, 3]
count-33097
total-33098
count-33098
total-33099
count-33099
total-33100
count-33100
total-33101
column3 double_ele[1, 4]
count-33101
total-33102
column8 double_ele[2, 4]
count-33102
total-33103
count-33103
total-33104
count-33104
total-33105
count-33105
total-33106
count-33106
total-33107
column2 double_ele[1, 3]
count-33107
total-33108
count-33108
total-33109
count-33109
total-33110
count-33110
total-33111
count-33111
total-33112
count-33112
total-33113
count-33113
total-33114
row 2double_ele[1, 8]
count-33114
total-33115
row 3double_ele[2, 3]
count-33115
total-33116
count-33116
total-33117
count-33117
total-33118
count-33118
total-33119
count-33119
total-33120
column6 double_ele[5, 8]
row 9double_ele[5, 8]
count-33120
total-33121
count-33121
total-33122
count-33122
total-33123
count-33123
total-33124
count-33124
total-33125
count-33125
total-33126
count-33126
total-33127
count-33127
total-33128
count-33128
total-33129
count-33129
total-33130
count-33130
total-33131
count-33131
total-33132
count-33132
total-33133
count-33133
total-33134
count-33134
total-33135
column8 double_ele[2, 8]
count-33135
total-33136
count-33136
total-33137
count-33137
total-33138
count-33138
total-33139
count-33139
total-33140
count-33140
total-33141
count-33141
total-33142
count-33142
total-33143
row 4double_ele[1, 3]
count-33143
total-33144
count-33144
total-33145
count-33145
total-33146
count-33146
total-33147
count-33147
total-33148
count-33148
total-33149
row 4double_ele[4, 6]
count-33149
total-33150
count-33150
total-33151
row 4double_ele[2, 8]
count-33151
total-33152
count-33152
total-33153
count-33153
total-33154
count-33154
total-33155
count-33155
total-33156
count-33156
total-33157
count-33157
total-33158
count-33158
total-33159
count-33159
total-33160
column7 double_ele[1, 4]
count-33160
total-33161
count-33161
total-33162
count-33162
total-33163
count-33163
total-33164
count-33164
total-33165
count-33165
total-33166
count-33166
total-33167
count-33167
total-33168
count-33168
total-33169
count-33169
total-33170
count-33170
total-33171
count-33171
total-33172
column1 double_ele[1, 3]
count-33172
total-33173
count-33173
total-33174
count-33174
total-33175
count-33175
total-33176
count-33176
total-33177
count-33177
total-33178
count-33178
total-33179
count-33179
total-33180
count-33180
total-33181
count-33181
total-33182
count-33182
total-33183
count-33183
total-33184
column2 double_ele[3, 6]
row 7triple_ele[1, 3, 6]
count-33184
total-33185
count-33185
total-33186
count-33186
total-33187
count-33187
total-33188
count-33188
total-33189
count-33189
total-33190
count-33190
total-33191
count-33191
total-33192
count-33192
total-33193
row 5double_ele[3, 4]
column6 double_ele[1, 4]
row 8double_ele[1, 4]
count-33193
total-33194
count-33194
total-33195
count-33195
total-33196
count-33196
total-33197
column2 double_ele[2, 3]
row 5double_ele[1, 2]
column9 double_ele[1, 2]
count-33197
total-33198
count-33198
total-33199
count-33199
total-33200
count-33200
total-33201
count-33201
total-33202
column1 double_ele[2, 8]
count-33202
total-33203
count-33203
total-33204
count-33204
total-33205
count-33205
total-33206
count-33206
total-33207
count-33207
total-33208
count-33208
total-33209
count-33209
total-33210
count-33210
total-33211
count-33211
total-33212
column7 double_ele[5, 8]
count-33212
total-33213
count-33213
total-33214

count-33214
total-33215
count-33215
total-33216
count-33216
total-33217
row 5double_ele[2, 3]
column9 double_ele[2, 3]
count-33217
total-33218
count-33218
total-33219
count-33219
total-33220
count-33220
total-33221
count-33221
total-33222
count-33222
total-33223
row 2double_ele[1, 3]
column3 double_ele[1, 3]
count-33223
total-33224
count-33224
total-33225
count-33225
total-33226
count-33226
total-33227
count-33227
total-33228
count-33228
total-33229
count-33229
total-33230
count-33230
total-33231
count-33231
total-33232
count-33232
total-33233
count-33233
total-33234
column5 double_ele[4, 7]
count-33234
total-33235
count-33235
total-33236
count-33236
total-33237
count-33237
total-33238
count-33238
total-33239
count-33239
total-33240
count-33240
total-33241
count-33241
total-33242
count-33242
total-33243
count-33243
total-33244
count-33244
total-33245
count-33245
total-33246
count-33246
total-33247
count-33247
total-33248
count-33248
total-33249
count-33249
total-33250
count-33250
total-33251
count-33251
total-33252
count-33252
total-33253
row 8double_ele[3, 6]
count-33253
total-33254
count-33254
total-33255
count-33255
total-33256
count-33256
total-33257
row 3double_ele[1, 5]
count-33257
total-33258
count-33258
total-33259
count-33259
total-33260
count-33260
total-33261
count-33261
total-33262
count-33262
total-33263
count-33263
total-33264
count-33264
total-33265
count-33265
total-33266
count-33266
total-33267
count-33267
total-33268
count-33268
total-33269
count-33269
total-33270
count-33270
total-33271
count-33271
total-33272
count-33272
total-33273
count-33273
total-33274
count-33274
total-33275
count-33275
total-33276
row 7double_ele[1, 4]
count-33276
total-33277
count-33277
total-33278
count-33278
total-33279
count-33279
total-33280
count-33280
total-33281
count-33281
total-33282
count-33282
total-33283
count-33283
total-33284
count-33284
total-33285
count-33285
total-33286
count-33286
total-33287
row 3double_ele[4, 6]
count-33287
total-33288
count-33288
total-33289
count-33289
total-33290
count-33290
total-33291
count-33291
total-33292
count-33292
total-33293
column8 double_ele[1, 7]
count-33293
total-33294
row 5double_ele[2, 3]
column6 double_ele[2, 3]
count-33294
total-33295
count-33295
total-33296
count-33296
total-33297
count-33297
total-33298
count-33298
total-33299
count-33299
total-33300
count-33300
total-33301
count-33301
total-33302
count-33302
total-33303
count-33303
total-33304
count-33304
total-33305
count-33305
total-33306
count-33306
total-33307
count-33307
total-33308
count-33308
total-33309
count-33309
total-33310
count-33310
total-33311
count-33311
total-33312
count-33312
total-33313
count-33313
total-33314
count-33314
total-33315
count-33315
total-33316
row 5double_ele[4, 7]
count-33316
total-33317
count-33317
total-33318
count-33318
total-33319
column9 double_ele[4, 5]
count-33319
total-33320
count-33320
total-33321
count-33321
total-33322
count-33322
total-33323
count-33323
total-33324
count-33324
total-33325
count-33325
total-33326
count-33326
total-33327
count-33327
total-33328
count-33328
total-33329
count-33329
total-33330
count-33330
total-33331
count-33331
total-33332
count-33332
total-33333
count-33333
total-33334
count-33334
total-33335
row 4double_ele[1, 2]
count-33335
total-33336
count-33336
total-33337
count-33337
total-33338
count-33338
total-33339
count-33339
total-33340
count-33340
total-33341
count-33341
total-33342
count-33342
total-33343
count-33343
total-33344
count-33344
total-33345
count-33345
total-33346
count-33346
total-33347
count-33347
total-33348
count-33348
total-33349
column9 double_ele[2, 3]
count-33349
total-33350
column7 double_ele[2, 7]
count-33350
total-33351
count-33351
total-33352
count-33352
total-33353
count-33353
total-33354
count-33354
total-33355
count-33355
total-33356
count-33356
total-33357
row 2double_ele[4, 7]
column4 double_ele[4, 7]
count-33357
total-33358
row 5double_ele[1, 2]
row 7double_ele[1, 6]
count-33358
total-33359
count-33359
total-33360
count-33360
total-33361
count-33361
total-33362
count-33362
total-33363
count-33363
total-33364
column9 double_ele[5, 6]
count-33364
total-33365
count-33365
total-33366
count-33366
total-33367
count-33367
total-33368
count-33368
total-33369
count-33369
total-33370
count-33370
total-33371
count-33371
total-33372
count-33372
total-33373
count-33373
total-33374
count-33374
total-33375
count-33375
total-33376
count-33376
total-33377
count-33377
total-33378
count-33378
total-33379
count-33379
total-33380
count-33380
total-33381
count-33381
total-33382
box9 triple_ele[1, 2, 4]
count-33382
total-33383
count-33383
total-33384
count-33384
total-33385
count-33385
total-33386
count-33386
total-33387
count-33387
total-33388
count-33388
total-33389
count-33389
total-33390
count-33390
total-33391
count-33391
total-33392
count-33392
total-33393
count-33393
total-33394
row 1double_ele[2, 5]
column4 double_ele[2, 5]
column7 double_ele[2, 5]
count-33394
total-33395
count-33395
total-33396
count-33396
total-33397
count-33397
total-33398
count-33398
total-33399
count-33399
total-33400
count-33400
total-33401
row 1double_ele[1, 3]
row 8double_ele[1, 2]
count-33401
total-33402
count-33402
total-33403
count-33403
total-33404
count-33404
total-33405
count-33405
total-33406
count-33406
total-33407
count-33407
total-33408
count-33408
total-33409
row 2double_ele[2, 4]
count-33409
total-33410
column3 double_ele[1, 6]
count-33410
total-33411
count-33411
total-33412
count-33412
total-33413
count-33413
total-33414
count-33414
total-33415
count-33415
total-33416
count-33416
total-33417
row 2double_ele[1, 5]
count-33417
total-33418
count-33418
total-33419
count-33419
total-33420
count-33420
total-33421
count-33421
total-33422
count-33422
total-33423
count-33423
total-33424
count-33424
total-33425
count-33425
total-33426
count-33426
total-33427
count-33427
total-33428
row 4double_ele[2, 7]
count-33428
total-33429
count-33429
total-33430
count-33430
total-33431
count-33431
total-33432
count-33432
total-33433
count-33433
total-33434
count-33434
total-33435
count-33435
total-33436
count-33436
total-33437
count-33437
total-33438
count-33438
total-33439
count-33439
total-33440
row 3double_ele[1, 8]
count-33440
total-33441
count-33441
total-33442
count-33442
total-33443
count-33443
total-33444
count-33444
total-33445
count-33445
total-33446
count-33446
total-33447
count-33447
total-33448
count-33448
total-33449
count-33449
total-33450
count-33450
total-33451
count-33451
total-33452
column4 double_ele[1, 2]
count-33452
total-33453
count-33453
total-33454
count-33454
total-33455
count-33455
total-33456
count-33456
total-33457
count-33457
total-33458
count-33458
total-33459
count-33459
total-33460
count-33460
total-33461
count-33461
total-33462
row 2double_ele[2, 6]
count-33462
total-33463
count-33463
total-33464
count-33464
total-33465
count-33465
total-33466
count-33466
total-33467
count-33467
total-33468
count-33468
total-33469
count-33469
total-33470
count-33470
total-33471
count-33471
total-33472
count-33472
total-33473
count-33473
total-33474
count-33474
total-33475
count-33475
total-33476
count-33476
total-33477
count-33477
total-33478
count-33478
total-33479
count-33479
total-33480
count-33480
total-33481
count-33481
total-33482
row 7double_ele[2, 4]
count-33482
total-33483
count-33483
total-33484
count-33484
total-33485
count-33485
total-33486
count-33486
total-33487
count-33487
total-33488
count-33488
total-33489
count-33489
total-33490
count-33490
total-33491
count-33491
total-33492
count-33492
total-33493
count-33493
total-33494
count-33494
total-33495
count-33495
total-33496
count-33496
total-33497
count-33497
total-33498
count-33498
total-33499
count-33499
total-33500
count-33500
total-33501
count-33501
total-33502
count-33502
total-33503
count-33503
total-33504
count-33504
total-33505
count-33505
total-33506
row 2double_ele[2, 6]
column4 double_ele[2, 6]
column9 double_ele[2, 6]
count-33506
total-33507
count-33507
total-33508
count-33508
total-33509
count-33509
total-33510
count-33510
total-33511
count-33511
total-33512
count-33512
total-33513
count-33513
total-33514
count-33514
total-33515
count-33515
total-33516
count-33516
total-33517
count-33517
total-33518
column6 double_ele[2, 6]
count-33518
total-33519

count-33519
total-33520
count-33520
total-33521
count-33521
total-33522
count-33522
total-33523
row 7double_ele[4, 6]
count-33523
total-33524
count-33524
total-33525
count-33525
total-33526
count-33526
total-33527
count-33527
total-33528
count-33528
total-33529
count-33529
total-33530
count-33530
total-33531
count-33531
total-33532
count-33532
total-33533
count-33533
total-33534
count-33534
total-33535
count-33535
total-33536
row 2double_ele[3, 5]
column6 double_ele[2, 8]
row 8double_ele[2, 8]
count-33536
total-33537
count-33537
total-33538
count-33538
total-33539
row 9double_ele[6, 7]
count-33539
total-33540
count-33540
total-33541
count-33541
total-33542
count-33542
total-33543
count-33543
total-33544
count-33544
total-33545
column1 double_ele[1, 2]
row 8double_ele[1, 2]
count-33545
total-33546
count-33546
total-33547
count-33547
total-33548
count-33548
total-33549
count-33549
total-33550
count-33550
total-33551
count-33551
total-33552
count-33552
total-33553
count-33553
total-33554
count-33554
total-33555
count-33555
total-33556
count-33556
total-33557
count-33557
total-33558
count-33558
total-33559
count-33559
total-33560
count-33560
total-33561
count-33561
total-33562
count-33562
total-33563
count-33563
total-33564
count-33564
total-33565
row 7double_ele[3, 4]
row 8double_ele[3, 5]
column8 double_ele[3, 4]
count-33565
total-33566
count-33566
total-33567
count-33567
total-33568
count-33568
total-33569
count-33569
total-33570
count-33570
total-33571
count-33571
total-33572
count-33572
total-33573
count-33573
total-33574
column5 double_ele[3, 9]
column9 double_ele[2, 9]
count-33574
total-33575
count-33575
total-33576
count-33576
total-33577
count-33577
total-33578
count-33578
total-33579
count-33579
total-33580
count-33580
total-33581
count-33581
total-33582
count-33582
total-33583
count-33583
total-33584
count-33584
total-33585
count-33585
total-33586
count-33586
total-33587
count-33587
total-33588
count-33588
total-33589
count-33589
total-33590
count-33590
total-33591
count-33591
total-33592
count-33592
total-33593
count-33593
total-33594
count-33594
total-33595
column9 double_ele[6, 8]
count-33595
total-33596
count-33596
total-33597
count-33597
total-33598
count-33598
total-33599
count-33599
total-33600
count-33600
total-33601
count-33601
total-33602
count-33602
total-33603
count-33603
total-33604
count-33604
total-33605
count-33605
total-33606
count-33606
total-33607
count-33607
total-33608
count-33608
total-33609
count-33609
total-33610
count-33610
total-33611
row 8double_ele[1, 4]
column8 double_ele[1, 4]
count-33611
total-33612
count-33612
total-33613
count-33613
total-33614
count-33614
total-33615
count-33615
total-33616
count-33616
total-33617
count-33617
total-33618
row 1double_ele[3, 6]
count-33618
total-33619
count-33619
total-33620
count-33620
total-33621
count-33621
total-33622
count-33622
total-33623
count-33623
total-33624
row 6double_ele[5, 6]
count-33624
total-33625
count-33625
total-33626
count-33626
total-33627
count-33627
total-33628
count-33628
total-33629
count-33629
total-33630
column2 double_ele[4, 6]
count-33630
total-33631
count-33631
total-33632
count-33632
total-33633
count-33633
total-33634
count-33634
total-33635
count-33635
total-33636
count-33636
total-33637
count-33637
total-33638
count-33638
total-33639
count-33639
total-33640
count-33640
total-33641
column8 double_ele[1, 2]
count-33641
total-33642
count-33642
total-33643
count-33643
total-33644
count-33644
total-33645
count-33645
total-33646
count-33646
total-33647
count-33647
total-33648
count-33648
total-33649
count-33649
total-33650
count-33650
total-33651
count-33651
total-33652
count-33652
total-33653
row 1double_ele[2, 3]
count-33653
total-33654
column7 double_ele[1, 3]
count-33654
total-33655
count-33655
total-33656
count-33656
total-33657
row 6double_ele[1, 2]
column9 double_ele[1, 7]
row 9double_ele[4, 5]
count-33657
total-33658
count-33658
total-33659
count-33659
total-33660
count-33660
total-33661
count-33661
total-33662
row 8double_ele[2, 5]
count-33662
total-33663
count-33663
total-33664
row 8double_ele[4, 5]
count-33664
total-33665
row 5double_ele[2, 6]
column8 double_ele[2, 6]
count-33665
total-33666
row 1double_ele[4, 7]
count-33666
total-33667
count-33667
total-33668
count-33668
total-33669
count-33669
total-33670
count-33670
total-33671
count-33671
total-33672
count-33672
total-33673
count-33673
total-33674
count-33674
total-33675
count-33675
total-33676
count-33676
total-33677
count-33677
total-33678
count-33678
total-33679
count-33679
total-33680
count-33680
total-33681
count-33681
total-33682
count-33682
total-33683
count-33683
total-33684
count-33684
total-33685
count-33685
total-33686
count-33686
total-33687
count-33687
total-33688
count-33688
total-33689
count-33689
total-33690
count-33690
total-33691
count-33691
total-33692
count-33692
total-33693
count-33693
total-33694
count-33694
total-33695
count-33695
total-33696
count-33696
total-33697
count-33697
total-33698
count-33698
total-33699
count-33699
total-33700
count-33700
total-33701
count-33701
total-33702
column1 double_ele[5, 8]
row 2double_ele[1, 8]
column4 double_ele[1, 8]
count-33702
total-33703
count-33703
total-33704
count-33704
total-33705
count-33705
total-33706
count-33706
total-33707
count-33707
total-33708
count-33708
total-33709
count-33709
total-33710
count-33710
total-33711
count-33711
total-33712
count-33712
total-33713
count-33713
total-33714
count-33714
total-33715
count-33715
total-33716
count-33716
total-33717
count-33717
total-33718
count-33718
total-33719
count-33719
total-33720
count-33720
total-33721
count-33721
total-33722
count-33722
total-33723
count-33723
total-33724
count-33724
total-33725
row 9double_ele[2, 9]
count-33725
total-33726
count-33726
total-33727
count-33727
total-33728
count-33728
total-33729
column1 double_ele[2, 8]
count-33729
total-33730
count-33730
total-33731
count-33731
total-33732
count-33732
total-33733
count-33733
total-33734
count-33734
total-33735
count-33735
total-33736
count-33736
total-33737
count-33737
total-33738
count-33738
total-33739
count-33739
total-33740
count-33740
total-33741
count-33741
total-33742
count-33742
total-33743
count-33743
total-33744
count-33744
total-33745
count-33745
total-33746
count-33746
total-33747
count-33747
total-33748
count-33748
total-33749
count-33749
total-33750
count-33750
total-33751
count-33751
total-33752
count-33752
total-33753
count-33753
total-33754
count-33754
total-33755
count-33755
total-33756
count-33756
total-33757
count-33757
total-33758
count-33758
total-33759
count-33759
total-33760
count-33760
total-33761
count-33761
total-33762
column6 double_ele[1, 3]
count-33762
total-33763
count-33763
total-33764
count-33764
total-33765
count-33765
total-33766
count-33766
total-33767
count-33767
total-33768
count-33768
total-33769
count-33769
total-33770
count-33770
total-33771
row 7double_ele[3, 8]
count-33771
total-33772
count-33772
total-33773
count-33773
total-33774
count-33774
total-33775
count-33775
total-33776
count-33776
total-33777
count-33777
total-33778
count-33778
total-33779
column3 double_ele[2, 5]
count-33779
total-33780
count-33780
total-33781
count-33781
total-33782
count-33782
total-33783
count-33783
total-33784
column5 double_ele[3, 4]
row 8double_ele[3, 4]
count-33784
total-33785
count-33785
total-33786
count-33786
total-33787
count-33787
total-33788
count-33788
total-33789
row 7double_ele[1, 6]
count-33789
total-33790
row 6double_ele[2, 3]
count-33790
total-33791
count-33791
total-33792
count-33792
total-33793
count-33793
total-33794
count-33794
total-33795
count-33795
total-33796
count-33796
total-33797
count-33797
total-33798
count-33798
total-33799
count-33799
total-33800
count-33800
total-33801
count-33801
total-33802
count-33802
total-33803
row 7double_ele[1, 5]
row 9double_ele[3, 7]
count-33803
total-33804
count-33804
total-33805
count-33805
total-33806
count-33806
total-33807
count-33807
total-33808
count-33808
total-33809
count-33809
total-33810
count-33810
total-33811
count-33811
total-33812
count-33812
total-33813
count-33813
total-33814
count-33814
total-33815
count-33815
total-33816
count-33816
total-33817
count-33817
total-33818
count-33818
total-33819
count-33819
total-33820
count-33820
total-33821
count-33821
total-33822
count-33822
total-33823
count-33823
total-33824
count-33824
total-33825
count-33825
total-33826
count-33826
total-33827
count-33827
total-33828
count-33828
total-33829
count-33829
total-33830
count-33830
total-33831

count-33831
total-33832
count-33832
total-33833
count-33833
total-33834
count-33834
total-33835
count-33835
total-33836
count-33836
total-33837
count-33837
total-33838
count-33838
total-33839
count-33839
total-33840
count-33840
total-33841
count-33841
total-33842
row 2double_ele[1, 7]
column4 double_ele[1, 7]
row 6double_ele[2, 4]
box9 triple_ele[2, 4, 7]
count-33842
total-33843
row 4double_ele[1, 3]
count-33843
total-33844
count-33844
total-33845
count-33845
total-33846
count-33846
total-33847
count-33847
total-33848
count-33848
total-33849
count-33849
total-33850
count-33850
total-33851
count-33851
total-33852
count-33852
total-33853
count-33853
total-33854
count-33854
total-33855
count-33855
total-33856
column6 double_ele[1, 3]
count-33856
total-33857
count-33857
total-33858
count-33858
total-33859
row 8double_ele[2, 5]
count-33859
total-33860
count-33860
total-33861
row 4double_ele[1, 9]
column7 double_ele[1, 9]
count-33861
total-33862
count-33862
total-33863
count-33863
total-33864
count-33864
total-33865
row 2double_ele[3, 6]
count-33865
total-33866
column2 double_ele[1, 2]
row 1triple_ele[1, 2, 3]
box3 triple_ele[1, 2, 3]
count-33866
total-33867
count-33867
total-33868
count-33868
total-33869
count-33869
total-33870
count-33870
total-33871
count-33871
total-33872
row 6double_ele[2, 7]
count-33872
total-33873
row 2triple_ele[1, 3, 4]
box3 triple_ele[1, 3, 4]
count-33873
total-33874
row 3double_ele[4, 5]
column6 double_ele[4, 5]
count-33874
total-33875
count-33875
total-33876
count-33876
total-33877
row 2double_ele[2, 3]
column8 double_ele[2, 3]
count-33877
total-33878
count-33878
total-33879
count-33879
total-33880
count-33880
total-33881
count-33881
total-33882
count-33882
total-33883
count-33883
total-33884
count-33884
total-33885
count-33885
total-33886
count-33886
total-33887
row 2double_ele[2, 7]
column8 double_ele[2, 7]
count-33887
total-33888
count-33888
total-33889
count-33889
total-33890
count-33890
total-33891
count-33891
total-33892
count-33892
total-33893
count-33893
total-33894
count-33894
total-33895
count-33895
total-33896
count-33896
total-33897
count-33897
total-33898
count-33898
total-33899
count-33899
total-33900
count-33900
total-33901
count-33901
total-33902
count-33902
total-33903
count-33903
total-33904
count-33904
total-33905
count-33905
total-33906
count-33906
total-33907
count-33907
total-33908
count-33908
total-33909
count-33909
total-33910
count-33910
total-33911
count-33911
total-33912
count-33912
total-33913
count-33913
total-33914
count-33914
total-33915
count-33915
total-33916
count-33916
total-33917
count-33917
total-33918
count-33918
total-33919
count-33919
total-33920
count-33920
total-33921
row 8double_ele[3, 4]
column9 double_ele[3, 4]
count-33921
total-33922
count-33922
total-33923
count-33923
total-33924
count-33924
total-33925
count-33925
total-33926
count-33926
total-33927
count-33927
total-33928
count-33928
total-33929
count-33929
total-33930
count-33930
total-33931
count-33931
total-33932
count-33932
total-33933
count-33933
total-33934
count-33934
total-33935
count-33935
total-33936
count-33936
total-33937
count-33937
total-33938
count-33938
total-33939
count-33939
total-33940
count-33940
total-33941
count-33941
total-33942
row 1double_ele[5, 8]
column5 double_ele[5, 8]
count-33942
total-33943
count-33943
total-33944
count-33944
total-33945
count-33945
total-33946
count-33946
total-33947
count-33947
total-33948
column2 double_ele[1, 3]
row 6double_ele[2, 5]
row 7double_ele[1, 3]
count-33948
total-33949
count-33949
total-33950
count-33950
total-33951
count-33951
total-33952
count-33952
total-33953
count-33953
total-33954
count-33954
total-33955
count-33955
total-33956
count-33956
total-33957
count-33957
total-33958
count-33958
total-33959
count-33959
total-33960
count-33960
total-33961
count-33961
total-33962
count-33962
total-33963
count-33963
total-33964
row 1double_ele[3, 8]
column9 double_ele[3, 8]
count-33964
total-33965
count-33965
total-33966
count-33966
total-33967
count-33967
total-33968
count-33968
total-33969
count-33969
total-33970
row 2double_ele[3, 6]
column4 double_ele[4, 6]
row 6double_ele[4, 6]
column6 double_ele[3, 6]
column8 double_ele[3, 6]
row 9double_ele[4, 6]
count-33970
total-33971
count-33971
total-33972
count-33972
total-33973
count-33973
total-33974
count-33974
total-33975
count-33975
total-33976
count-33976
total-33977
count-33977
total-33978
count-33978
total-33979
count-33979
total-33980
count-33980
total-33981
count-33981
total-33982
row 8triple_ele[1, 2, 3]
count-33982
total-33983
count-33983
total-33984
count-33984
total-33985
count-33985
total-33986
count-33986
total-33987
count-33987
total-33988
count-33988
total-33989
count-33989
total-33990
column1 double_ele[1, 3]
column2 double_ele[1, 9]
column3 double_ele[3, 9]
count-33990
total-33991
count-33991
total-33992
count-33992
total-33993
count-33993
total-33994
count-33994
total-33995
count-33995
total-33996
count-33996
total-33997
count-33997
total-33998
count-33998
total-33999
row 1double_ele[2, 3]
row 7double_ele[2, 5]
count-33999
total-34000
count-34000
total-34001
count-34001
total-34002
count-34002
total-34003
row 2double_ele[5, 7]
column2 double_ele[2, 7]
column5 double_ele[5, 7]
count-34003
total-34004
count-34004
total-34005
count-34005
total-34006
count-34006
total-34007
count-34007
total-34008
count-34008
total-34009
count-34009
total-34010
count-34010
total-34011
count-34011
total-34012
count-34012
total-34013
count-34013
total-34014
count-34014
total-34015
count-34015
total-34016
column2 double_ele[1, 8]
count-34016
total-34017
count-34017
total-34018
count-34018
total-34019
count-34019
total-34020
row 1triple_ele[1, 3, 9]
count-34020
total-34021
count-34021
total-34022
count-34022
total-34023
count-34023
total-34024
count-34024
total-34025
count-34025
total-34026
count-34026
total-34027
count-34027
total-34028
column3 double_ele[1, 2]
row 9double_ele[1, 2]
count-34028
total-34029
count-34029
total-34030
count-34030
total-34031
count-34031
total-34032
count-34032
total-34033
count-34033
total-34034
count-34034
total-34035
count-34035
total-34036
row 1double_ele[3, 5]
column8 double_ele[3, 5]
count-34036
total-34037
count-34037
total-34038
count-34038
total-34039
count-34039
total-34040
count-34040
total-34041
row 4double_ele[2, 4]
count-34041
total-34042
count-34042
total-34043
column1 double_ele[5, 8]
count-34043
total-34044
count-34044
total-34045
count-34045
total-34046
count-34046
total-34047
row 2double_ele[7, 9]
column6 double_ele[7, 9]
count-34047
total-34048
count-34048
total-34049
row 6double_ele[1, 2]
column7 double_ele[1, 2]
count-34049
total-34050
count-34050
total-34051
count-34051
total-34052
count-34052
total-34053
count-34053
total-34054
count-34054
total-34055
count-34055
total-34056
count-34056
total-34057
count-34057
total-34058
count-34058
total-34059
count-34059
total-34060
row 8double_ele[3, 5]
count-34060
total-34061
count-34061
total-34062
count-34062
total-34063
count-34063
total-34064
count-34064
total-34065
column6 double_ele[2, 7]
row 8double_ele[2, 7]
count-34065
total-34066
count-34066
total-34067
count-34067
total-34068
count-34068
total-34069
count-34069
total-34070
count-34070
total-34071
count-34071
total-34072
count-34072
total-34073
column2 double_ele[1, 3]
column4 double_ele[3, 6]
row 6double_ele[3, 5]
column7 double_ele[3, 5]
row 4triple_ele[1, 3, 6]
count-34073
total-34074
count-34074
total-34075
count-34075
total-34076
count-34076
total-34077
count-34077
total-34078
count-34078
total-34079
count-34079
total-34080
count-34080
total-34081
column4 double_ele[4, 6]
count-34081
total-34082
count-34082
total-34083
count-34083
total-34084
count-34084
total-34085
count-34085
total-34086
count-34086
total-34087
count-34087
total-34088
count-34088
total-34089
count-34089
total-34090
count-34090
total-34091
count-34091
total-34092
count-34092
total-34093
count-34093
total-34094
count-34094
total-34095
count-34095
total-34096
count-34096
total-34097
count-34097
total-34098
count-34098
total-34099
count-34099
total-34100
column8 double_ele[1, 3]
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-34100
total-34101
count-34101
total-34102
count-34102
total-34103
count-34103
total-34104
count-34104
total-34105
count-34105
total-34106
count-34106
total-34107
count-34107
total-34108

count-34108
total-34109
count-34109
total-34110
count-34110
total-34111
count-34111
total-34112
count-34112
total-34113
count-34113
total-34114
count-34114
total-34115
count-34115
total-34116
count-34116
total-34117
count-34117
total-34118
count-34118
total-34119
count-34119
total-34120
count-34120
total-34121
count-34121
total-34122
count-34122
total-34123
count-34123
total-34124
count-34124
total-34125
row 2double_ele[3, 4]
count-34125
total-34126
count-34126
total-34127
count-34127
total-34128
count-34128
total-34129
count-34129
total-34130
count-34130
total-34131
row 8double_ele[1, 4]
count-34131
total-34132
column1 double_ele[4, 7]
row 4double_ele[4, 7]
column9 double_ele[1, 9]
count-34132
total-34133
count-34133
total-34134
count-34134
total-34135
count-34135
total-34136
column2 double_ele[1, 6]
count-34136
total-34137
count-34137
total-34138
column4 double_ele[1, 3]
row 7double_ele[1, 3]
count-34138
total-34139
count-34139
total-34140
count-34140
total-34141
count-34141
total-34142
count-34142
total-34143
count-34143
total-34144
count-34144
total-34145
count-34145
total-34146
count-34146
total-34147
count-34147
total-34148
count-34148
total-34149
count-34149
total-34150
count-34150
total-34151
count-34151
total-34152
count-34152
total-34153
count-34153
total-34154
count-34154
total-34155
count-34155
total-34156
count-34156
total-34157
count-34157
total-34158
count-34158
total-34159
count-34159
total-34160
count-34160
total-34161
count-34161
total-34162
count-34162
total-34163
count-34163
total-34164
count-34164
total-34165
row 2double_ele[1, 2]
count-34165
total-34166
count-34166
total-34167
count-34167
total-34168
count-34168
total-34169
count-34169
total-34170
count-34170
total-34171
row 8double_ele[1, 3]
count-34171
total-34172
count-34172
total-34173
count-34173
total-34174
count-34174
total-34175
count-34175
total-34176
count-34176
total-34177
count-34177
total-34178
count-34178
total-34179
count-34179
total-34180
count-34180
total-34181
count-34181
total-34182
count-34182
total-34183
count-34183
total-34184
count-34184
total-34185
column6 double_ele[1, 5]
row 9double_ele[1, 5]
count-34185
total-34186
count-34186
total-34187
column8 double_ele[1, 3]
count-34187
total-34188
count-34188
total-34189
count-34189
total-34190
count-34190
total-34191
count-34191
total-34192
count-34192
total-34193
count-34193
total-34194
count-34194
total-34195
count-34195
total-34196
count-34196
total-34197
count-34197
total-34198
count-34198
total-34199
count-34199
total-34200
count-34200
total-34201
column1 double_ele[4, 6]
row 5double_ele[4, 6]
count-34201
total-34202
count-34202
total-34203
count-34203
total-34204
count-34204
total-34205
count-34205
total-34206
count-34206
total-34207
row 2double_ele[2, 3]
count-34207
total-34208
count-34208
total-34209
count-34209
total-34210
count-34210
total-34211
count-34211
total-34212
count-34212
total-34213
count-34213
total-34214
count-34214
total-34215
count-34215
total-34216
count-34216
total-34217
count-34217
total-34218
count-34218
total-34219
count-34219
total-34220
row 2double_ele[2, 5]
count-34220
total-34221
count-34221
total-34222
count-34222
total-34223
count-34223
total-34224
column7 double_ele[5, 6]
column8 double_ele[2, 6]
row 9double_ele[2, 6]
count-34224
total-34225
column6 double_ele[1, 4]
count-34225
total-34226
count-34226
total-34227
count-34227
total-34228
count-34228
total-34229
count-34229
total-34230
count-34230
total-34231
row 9double_ele[1, 2]
count-34231
total-34232
count-34232
total-34233
count-34233
total-34234
count-34234
total-34235
count-34235
total-34236
count-34236
total-34237
count-34237
total-34238
count-34238
total-34239
count-34239
total-34240
count-34240
total-34241
count-34241
total-34242
count-34242
total-34243
count-34243
total-34244
count-34244
total-34245
count-34245
total-34246
count-34246
total-34247
count-34247
total-34248
count-34248
total-34249
row 7double_ele[1, 6]
count-34249
total-34250
count-34250
total-34251
count-34251
total-34252
count-34252
total-34253
count-34253
total-34254
count-34254
total-34255
count-34255
total-34256
count-34256
total-34257
count-34257
total-34258
count-34258
total-34259
count-34259
total-34260
count-34260
total-34261
count-34261
total-34262
count-34262
total-34263
count-34263
total-34264
count-34264
total-34265
count-34265
total-34266
count-34266
total-34267
count-34267
total-34268
count-34268
total-34269
count-34269
total-34270
count-34270
total-34271
column3 double_ele[1, 2]
count-34271
total-34272
count-34272
total-34273
count-34273
total-34274
count-34274
total-34275
count-34275
total-34276
count-34276
total-34277
count-34277
total-34278
count-34278
total-34279
row 8double_ele[2, 4]
count-34279
total-34280
count-34280
total-34281
count-34281
total-34282
count-34282
total-34283
count-34283
total-34284
count-34284
total-34285
count-34285
total-34286
count-34286
total-34287
count-34287
total-34288
count-34288
total-34289
count-34289
total-34290
count-34290
total-34291
count-34291
total-34292
count-34292
total-34293
count-34293
total-34294
count-34294
total-34295
count-34295
total-34296
count-34296
total-34297
count-34297
total-34298
count-34298
total-34299
count-34299
total-34300
count-34300
total-34301
count-34301
total-34302
count-34302
total-34303
count-34303
total-34304
count-34304
total-34305
count-34305
total-34306
count-34306
total-34307
count-34307
total-34308
column6 double_ele[2, 3]
count-34308
total-34309
count-34309
total-34310
count-34310
total-34311
count-34311
total-34312
count-34312
total-34313
count-34313
total-34314
count-34314
total-34315
count-34315
total-34316
row 3double_ele[1, 7]
count-34316
total-34317
count-34317
total-34318
row 7double_ele[2, 4]
column7 double_ele[2, 4]
count-34318
total-34319
count-34319
total-34320
count-34320
total-34321
count-34321
total-34322
count-34322
total-34323
count-34323
total-34324
count-34324
total-34325
count-34325
total-34326
count-34326
total-34327
count-34327
total-34328
count-34328
total-34329
count-34329
total-34330
count-34330
total-34331
count-34331
total-34332
count-34332
total-34333
count-34333
total-34334
count-34334
total-34335
count-34335
total-34336
count-34336
total-34337
row 5double_ele[1, 6]
count-34337
total-34338
count-34338
total-34339
count-34339
total-34340
count-34340
total-34341
count-34341
total-34342
row 2double_ele[1, 4]
count-34342
total-34343
count-34343
total-34344
count-34344
total-34345
count-34345
total-34346
count-34346
total-34347
count-34347
total-34348
column1 double_ele[3, 5]
row 5double_ele[3, 5]
count-34348
total-34349
count-34349
total-34350
column6 double_ele[1, 4]
count-34350
total-34351
count-34351
total-34352
count-34352
total-34353
count-34353
total-34354
count-34354
total-34355
count-34355
total-34356
count-34356
total-34357
count-34357
total-34358
count-34358
total-34359
count-34359
total-34360
count-34360
total-34361
column3 double_ele[1, 2]
column4 double_ele[1, 7]
row 8double_ele[6, 9]
column9 double_ele[1, 9]
row 4triple_ele[1, 2, 7]
count-34361
total-34362
count-34362
total-34363
count-34363
total-34364
count-34364
total-34365
count-34365
total-34366
count-34366
total-34367
count-34367
total-34368
count-34368
total-34369
count-34369
total-34370
count-34370
total-34371
row 3double_ele[1, 2]
count-34371
total-34372
count-34372
total-34373
count-34373
total-34374
count-34374
total-34375
count-34375
total-34376
count-34376
total-34377
count-34377
total-34378
count-34378
total-34379
column2 double_ele[2, 3]
column5 double_ele[2, 5]
count-34379
total-34380
count-34380
total-34381
count-34381
total-34382
count-34382
total-34383
count-34383
total-34384
column3 double_ele[1, 4]
count-34384
total-34385
count-34385
total-34386
column4 double_ele[1, 2]
count-34386
total-34387
row 5double_ele[1, 2]
count-34387
total-34388
count-34388
total-34389
count-34389
total-34390
count-34390
total-34391
count-34391
total-34392
count-34392
total-34393
count-34393
total-34394
count-34394
total-34395
count-34395
total-34396
count-34396
total-34397
count-34397
total-34398
count-34398
total-34399
count-34399
total-34400
count-34400
total-34401
column2 double_ele[1, 2]
count-34401
total-34402
count-34402
total-34403
count-34403
total-34404
count-34404
total-34405
column1 double_ele[3, 5]
count-34405
total-34406
count-34406
total-34407
count-34407
total-34408
count-34408
total-34409
count-34409
total-34410
count-34410
total-34411
count-34411
total-34412

count-34412
total-34413
count-34413
total-34414
count-34414
total-34415
count-34415
total-34416
count-34416
total-34417
count-34417
total-34418
count-34418
total-34419
count-34419
total-34420
count-34420
total-34421
count-34421
total-34422
count-34422
total-34423
count-34423
total-34424
count-34424
total-34425
count-34425
total-34426
count-34426
total-34427
count-34427
total-34428
count-34428
total-34429
count-34429
total-34430
count-34430
total-34431
count-34431
total-34432
count-34432
total-34433
count-34433
total-34434
count-34434
total-34435
count-34435
total-34436
count-34436
total-34437
count-34437
total-34438
count-34438
total-34439
count-34439
total-34440
count-34440
total-34441
column8 double_ele[3, 4]
count-34441
total-34442
count-34442
total-34443
row 8double_ele[5, 8]
count-34443
total-34444
count-34444
total-34445
count-34445
total-34446
column9 double_ele[2, 8]
count-34446
total-34447
count-34447
total-34448
count-34448
total-34449
count-34449
total-34450
count-34450
total-34451
count-34451
total-34452
column7 double_ele[1, 4]
row 9double_ele[4, 5]
count-34452
total-34453
count-34453
total-34454
count-34454
total-34455
count-34455
total-34456
count-34456
total-34457
count-34457
total-34458
count-34458
total-34459
count-34459
total-34460
count-34460
total-34461
count-34461
total-34462
count-34462
total-34463
count-34463
total-34464
count-34464
total-34465
count-34465
total-34466
row 9double_ele[1, 3]
count-34466
total-34467
count-34467
total-34468
count-34468
total-34469
count-34469
total-34470
count-34470
total-34471
count-34471
total-34472
row 5double_ele[1, 2]
count-34472
total-34473
count-34473
total-34474
count-34474
total-34475
count-34475
total-34476
count-34476
total-34477
count-34477
total-34478
count-34478
total-34479
count-34479
total-34480
count-34480
total-34481
count-34481
total-34482
count-34482
total-34483
count-34483
total-34484
count-34484
total-34485
row 2double_ele[6, 8]
count-34485
total-34486
count-34486
total-34487
column7 double_ele[1, 6]
count-34487
total-34488
column3 double_ele[3, 4]
row 7double_ele[1, 5]
count-34488
total-34489
row 4double_ele[2, 4]
column8 double_ele[2, 4]
count-34489
total-34490
count-34490
total-34491
count-34491
total-34492
count-34492
total-34493
count-34493
total-34494
count-34494
total-34495
count-34495
total-34496
count-34496
total-34497
count-34497
total-34498
column4 double_ele[1, 5]
count-34498
total-34499
count-34499
total-34500
count-34500
total-34501
column2 double_ele[2, 5]
count-34501
total-34502
column1 double_ele[1, 7]
column5 double_ele[3, 7]
count-34502
total-34503
count-34503
total-34504
count-34504
total-34505
column1 double_ele[1, 3]
row 8double_ele[1, 3]
count-34505
total-34506
count-34506
total-34507
column8 double_ele[1, 2]
count-34507
total-34508
count-34508
total-34509
count-34509
total-34510
count-34510
total-34511
count-34511
total-34512
count-34512
total-34513
count-34513
total-34514
count-34514
total-34515
count-34515
total-34516
count-34516
total-34517
row 9double_ele[3, 4]
count-34517
total-34518
row 7double_ele[2, 5]
count-34518
total-34519
count-34519
total-34520
count-34520
total-34521
count-34521
total-34522
row 8double_ele[2, 7]
count-34522
total-34523
count-34523
total-34524
count-34524
total-34525
count-34525
total-34526
count-34526
total-34527
count-34527
total-34528
count-34528
total-34529
count-34529
total-34530
count-34530
total-34531
count-34531
total-34532
count-34532
total-34533
count-34533
total-34534
count-34534
total-34535
count-34535
total-34536
count-34536
total-34537
count-34537
total-34538
row 7double_ele[1, 2]
count-34538
total-34539
count-34539
total-34540
count-34540
total-34541
count-34541
total-34542
count-34542
total-34543
box6 triple_ele[3, 4, 5]
count-34543
total-34544
count-34544
total-34545
count-34545
total-34546
count-34546
total-34547
count-34547
total-34548
column2 double_ele[3, 6]
row 8double_ele[3, 6]
count-34548
total-34549
row 8double_ele[6, 7]
count-34549
total-34550
count-34550
total-34551
column1 double_ele[2, 5]
row 4double_ele[3, 4]
count-34551
total-34552
count-34552
total-34553
count-34553
total-34554
count-34554
total-34555
count-34555
total-34556
count-34556
total-34557
count-34557
total-34558
count-34558
total-34559
column9 double_ele[1, 5]
count-34559
total-34560
count-34560
total-34561
count-34561
total-34562
column5 double_ele[2, 5]
count-34562
total-34563
count-34563
total-34564
count-34564
total-34565
count-34565
total-34566
count-34566
total-34567
count-34567
total-34568
count-34568
total-34569
count-34569
total-34570
count-34570
total-34571
count-34571
total-34572
count-34572
total-34573
count-34573
total-34574
count-34574
total-34575
count-34575
total-34576
count-34576
total-34577
count-34577
total-34578
count-34578
total-34579
row 1double_ele[6, 7]
count-34579
total-34580
count-34580
total-34581
count-34581
total-34582
count-34582
total-34583
count-34583
total-34584
count-34584
total-34585
row 6double_ele[1, 6]
count-34585
total-34586
count-34586
total-34587
count-34587
total-34588
count-34588
total-34589
count-34589
total-34590
count-34590
total-34591
count-34591
total-34592
count-34592
total-34593
count-34593
total-34594
count-34594
total-34595
count-34595
total-34596
row 2double_ele[3, 4]
column4 double_ele[3, 4]
count-34596
total-34597
count-34597
total-34598
count-34598
total-34599
count-34599
total-34600
count-34600
total-34601
count-34601
total-34602
column2 double_ele[2, 3]
box3 triple_ele[2, 3, 7]
count-34602
total-34603
count-34603
total-34604
count-34604
total-34605
count-34605
total-34606
count-34606
total-34607
count-34607
total-34608
count-34608
total-34609
count-34609
total-34610
count-34610
total-34611
count-34611
total-34612
row 1double_ele[2, 7]
count-34612
total-34613
row 7double_ele[3, 7]
count-34613
total-34614
count-34614
total-34615
count-34615
total-34616
count-34616
total-34617
row 6double_ele[1, 7]
count-34617
total-34618
count-34618
total-34619
count-34619
total-34620
count-34620
total-34621
count-34621
total-34622
count-34622
total-34623
count-34623
total-34624
column3 double_ele[1, 9]
column7 double_ele[4, 9]
column9 double_ele[8, 9]
count-34624
total-34625
count-34625
total-34626
count-34626
total-34627
count-34627
total-34628
count-34628
total-34629
count-34629
total-34630
column1 double_ele[1, 3]
count-34630
total-34631
column4 double_ele[2, 4]
count-34631
total-34632
count-34632
total-34633
count-34633
total-34634
count-34634
total-34635
count-34635
total-34636
count-34636
total-34637
count-34637
total-34638
count-34638
total-34639
count-34639
total-34640
count-34640
total-34641
count-34641
total-34642
count-34642
total-34643
count-34643
total-34644
count-34644
total-34645
count-34645
total-34646
count-34646
total-34647
count-34647
total-34648
count-34648
total-34649
count-34649
total-34650
count-34650
total-34651
count-34651
total-34652
count-34652
total-34653
count-34653
total-34654
count-34654
total-34655
count-34655
total-34656
count-34656
total-34657
count-34657
total-34658
count-34658
total-34659
count-34659
total-34660
count-34660
total-34661
count-34661
total-34662
count-34662
total-34663
count-34663
total-34664
column1 double_ele[2, 4]
count-34664
total-34665
count-34665
total-34666
count-34666
total-34667
count-34667
total-34668
count-34668
total-34669
count-34669
total-34670
column5 double_ele[1, 4]
count-34670
total-34671
count-34671
total-34672
count-34672
total-34673
count-34673
total-34674
count-34674
total-34675
count-34675
total-34676
count-34676
total-34677
count-34677
total-34678
count-34678
total-34679
count-34679
total-34680
count-34680
total-34681
count-34681
total-34682
count-34682
total-34683
count-34683
total-34684
count-34684
total-34685
count-34685
total-34686
count-34686
total-34687
count-34687
total-34688
count-34688
total-34689
count-34689
total-34690
count-34690
total-34691
count-34691
total-34692
row 2double_ele[2, 5]
count-34692
total-34693
count-34693
total-34694
count-34694
total-34695
count-34695
total-34696
count-34696
total-34697
count-34697
total-34698
count-34698
total-34699
count-34699
total-34700
count-34700
total-34701
count-34701
total-34702
count-34702
total-34703
count-34703
total-34704
count-34704
total-34705
count-34705
total-34706
column4 double_ele[5, 7]
count-34706
total-34707
count-34707
total-34708
count-34708
total-34709
row 7double_ele[2, 3]
row 4triple_ele[2, 3, 5]
count-34709
total-34710
count-34710
total-34711
count-34711
total-34712
count-34712
total-34713
count-34713
total-34714
count-34714
total-34715
count-34715
total-34716
count-34716
total-34717
count-34717
total-34718
count-34718
total-34719
column8 double_ele[2, 4]
count-34719
total-34720
count-34720
total-34721
count-34721
total-34722
count-34722
total-34723

count-34723
total-34724
count-34724
total-34725
count-34725
total-34726
count-34726
total-34727
count-34727
total-34728
count-34728
total-34729
count-34729
total-34730
count-34730
total-34731
count-34731
total-34732
count-34732
total-34733
count-34733
total-34734
column6 double_ele[1, 4]
count-34734
total-34735
count-34735
total-34736
count-34736
total-34737
row 5double_ele[3, 4]
column5 double_ele[4, 9]
row 6double_ele[4, 8]
row 8double_ele[3, 8]
column9 double_ele[4, 8]
count-34737
total-34738
count-34738
total-34739
count-34739
total-34740
count-34740
total-34741
count-34741
total-34742
count-34742
total-34743
count-34743
total-34744
count-34744
total-34745
row 6double_ele[1, 3]
count-34745
total-34746
count-34746
total-34747
count-34747
total-34748
count-34748
total-34749
count-34749
total-34750
count-34750
total-34751
count-34751
total-34752
count-34752
total-34753
count-34753
total-34754
row 7double_ele[4, 8]
column9 double_ele[4, 8]
count-34754
total-34755
count-34755
total-34756
count-34756
total-34757
count-34757
total-34758
count-34758
total-34759
row 9double_ele[3, 6]
count-34759
total-34760
column6 double_ele[1, 6]
count-34760
total-34761
count-34761
total-34762
count-34762
total-34763
count-34763
total-34764
count-34764
total-34765
count-34765
total-34766
row 4double_ele[6, 9]
row 7double_ele[1, 9]
count-34766
total-34767
count-34767
total-34768
count-34768
total-34769
count-34769
total-34770
row 9double_ele[1, 3]
count-34770
total-34771
count-34771
total-34772
count-34772
total-34773
count-34773
total-34774
count-34774
total-34775
count-34775
total-34776
count-34776
total-34777
count-34777
total-34778
column1 double_ele[2, 4]
count-34778
total-34779
count-34779
total-34780
count-34780
total-34781
count-34781
total-34782
count-34782
total-34783
count-34783
total-34784
count-34784
total-34785
count-34785
total-34786
count-34786
total-34787
count-34787
total-34788
count-34788
total-34789
row 6double_ele[1, 3]
count-34789
total-34790
count-34790
total-34791
count-34791
total-34792
count-34792
total-34793
row 6double_ele[1, 6]
count-34793
total-34794
count-34794
total-34795
count-34795
total-34796
count-34796
total-34797
count-34797
total-34798
count-34798
total-34799
count-34799
total-34800
count-34800
total-34801
count-34801
total-34802
count-34802
total-34803
count-34803
total-34804
column6 double_ele[1, 2]
count-34804
total-34805
count-34805
total-34806
count-34806
total-34807
count-34807
total-34808
count-34808
total-34809
count-34809
total-34810
count-34810
total-34811
count-34811
total-34812
count-34812
total-34813
count-34813
total-34814
count-34814
total-34815
count-34815
total-34816
count-34816
total-34817
count-34817
total-34818
count-34818
total-34819
count-34819
total-34820
count-34820
total-34821
count-34821
total-34822
count-34822
total-34823
count-34823
total-34824
count-34824
total-34825
column6 double_ele[1, 5]
count-34825
total-34826
count-34826
total-34827
count-34827
total-34828
count-34828
total-34829
count-34829
total-34830
count-34830
total-34831
count-34831
total-34832
count-34832
total-34833
count-34833
total-34834
column6 double_ele[2, 6]
count-34834
total-34835
count-34835
total-34836
count-34836
total-34837
column3 double_ele[2, 6]
row 6double_ele[2, 6]
count-34837
total-34838
count-34838
total-34839
row 7double_ele[3, 4]
count-34839
total-34840
count-34840
total-34841
count-34841
total-34842
count-34842
total-34843
count-34843
total-34844
count-34844
total-34845
count-34845
total-34846
count-34846
total-34847
count-34847
total-34848
count-34848
total-34849
row 2double_ele[1, 8]
column2 double_ele[1, 2]
row 4double_ele[1, 2]
count-34849
total-34850
count-34850
total-34851
column1 double_ele[1, 3]
count-34851
total-34852
count-34852
total-34853
count-34853
total-34854
count-34854
total-34855
count-34855
total-34856
count-34856
total-34857
row 3double_ele[2, 6]
count-34857
total-34858
count-34858
total-34859
count-34859
total-34860
count-34860
total-34861
count-34861
total-34862
count-34862
total-34863
count-34863
total-34864
count-34864
total-34865
count-34865
total-34866
count-34866
total-34867
count-34867
total-34868
count-34868
total-34869
row 7double_ele[1, 5]
count-34869
total-34870
count-34870
total-34871
count-34871
total-34872
count-34872
total-34873
count-34873
total-34874
count-34874
total-34875
count-34875
total-34876
count-34876
total-34877
count-34877
total-34878
count-34878
total-34879
count-34879
total-34880
count-34880
total-34881
count-34881
total-34882
count-34882
total-34883
count-34883
total-34884
count-34884
total-34885
count-34885
total-34886
row 3double_ele[4, 6]
column3 double_ele[4, 6]
count-34886
total-34887
column1 double_ele[1, 3]
count-34887
total-34888
count-34888
total-34889
count-34889
total-34890
count-34890
total-34891
count-34891
total-34892
count-34892
total-34893
column9 double_ele[2, 7]
count-34893
total-34894
row 3double_ele[8, 9]
column6 double_ele[8, 9]
row 7double_ele[3, 9]
count-34894
total-34895
count-34895
total-34896
count-34896
total-34897
count-34897
total-34898
count-34898
total-34899
count-34899
total-34900
count-34900
total-34901
count-34901
total-34902
count-34902
total-34903
count-34903
total-34904
count-34904
total-34905
count-34905
total-34906
count-34906
total-34907
column8 double_ele[3, 4]
count-34907
total-34908
count-34908
total-34909
count-34909
total-34910
count-34910
total-34911
count-34911
total-34912
row 5double_ele[1, 3]
count-34912
total-34913
count-34913
total-34914
column2 double_ele[1, 2]
column4 double_ele[2, 3]
count-34914
total-34915
count-34915
total-34916
count-34916
total-34917
count-34917
total-34918
count-34918
total-34919
count-34919
total-34920
count-34920
total-34921
count-34921
total-34922
count-34922
total-34923
count-34923
total-34924
count-34924
total-34925
count-34925
total-34926
count-34926
total-34927
count-34927
total-34928
count-34928
total-34929
count-34929
total-34930
count-34930
total-34931
count-34931
total-34932
count-34932
total-34933
count-34933
total-34934
count-34934
total-34935
count-34935
total-34936
count-34936
total-34937
count-34937
total-34938
count-34938
total-34939
count-34939
total-34940
count-34940
total-34941
count-34941
total-34942
count-34942
total-34943
count-34943
total-34944
count-34944
total-34945
count-34945
total-34946
count-34946
total-34947
count-34947
total-34948
count-34948
total-34949
column2 double_ele[2, 7]
count-34949
total-34950
count-34950
total-34951
count-34951
total-34952
count-34952
total-34953
column8 double_ele[2, 8]
box3 triple_ele[1, 2, 4]
count-34953
total-34954
count-34954
total-34955
count-34955
total-34956
row 7double_ele[1, 6]
count-34956
total-34957
count-34957
total-34958
column8 double_ele[2, 7]
count-34958
total-34959
count-34959
total-34960
count-34960
total-34961
count-34961
total-34962
row 1double_ele[4, 8]
column2 double_ele[4, 8]
column7 double_ele[4, 8]
count-34962
total-34963
count-34963
total-34964
count-34964
total-34965
count-34965
total-34966
count-34966
total-34967
column1 double_ele[1, 5]
count-34967
total-34968
count-34968
total-34969
column8 double_ele[3, 7]
count-34969
total-34970
count-34970
total-34971
count-34971
total-34972
count-34972
total-34973
count-34973
total-34974
count-34974
total-34975
count-34975
total-34976
count-34976
total-34977
count-34977
total-34978
count-34978
total-34979
count-34979
total-34980
count-34980
total-34981
count-34981
total-34982
count-34982
total-34983
count-34983
total-34984
column4 double_ele[1, 2]
count-34984
total-34985
count-34985
total-34986
count-34986
total-34987
count-34987
total-34988
count-34988
total-34989
count-34989
total-34990
count-34990
total-34991
count-34991
total-34992
count-34992
total-34993
column1 double_ele[3, 4]
count-34993
total-34994
count-34994
total-34995
count-34995
total-34996
count-34996
total-34997
count-34997
total-34998
count-34998
total-34999
count-34999
total-35000
count-35000
total-35001
count-35001
total-35002
column9 double_ele[1, 3]
count-35002
total-35003
column5 double_ele[1, 8]
row 6double_ele[1, 8]
count-35003
total-35004
count-35004
total-35005
count-35005
total-35006
count-35006
total-35007
count-35007
total-35008
count-35008
total-35009
row 2double_ele[3, 9]
column2 double_ele[3, 9]
count-35009
total-35010
count-35010
total-35011
count-35011
total-35012
count-35012
total-35013
count-35013
total-35014
count-35014
total-35015
count-35015
total-35016
count-35016
total-35017
count-35017
total-35018
count-35018
total-35019

count-35019
total-35020
count-35020
total-35021
count-35021
total-35022
column1 double_ele[1, 3]
row 3double_ele[1, 3]
count-35022
total-35023
count-35023
total-35024
count-35024
total-35025
row 9double_ele[4, 6]
count-35025
total-35026
count-35026
total-35027
count-35027
total-35028
count-35028
total-35029
count-35029
total-35030
count-35030
total-35031
count-35031
total-35032
count-35032
total-35033
count-35033
total-35034
count-35034
total-35035
count-35035
total-35036
count-35036
total-35037
count-35037
total-35038
count-35038
total-35039
count-35039
total-35040
count-35040
total-35041
count-35041
total-35042
column7 double_ele[1, 2]
count-35042
total-35043
count-35043
total-35044
count-35044
total-35045
count-35045
total-35046
count-35046
total-35047
column5 double_ele[2, 3]
count-35047
total-35048
count-35048
total-35049
column8 double_ele[1, 2]
count-35049
total-35050
count-35050
total-35051
count-35051
total-35052
count-35052
total-35053
count-35053
total-35054
count-35054
total-35055
count-35055
total-35056
column4 double_ele[2, 6]
row 5double_ele[2, 6]
column5 double_ele[2, 6]
count-35056
total-35057
count-35057
total-35058
count-35058
total-35059
count-35059
total-35060
count-35060
total-35061
row 1double_ele[1, 2]
column6 double_ele[1, 2]
count-35061
total-35062
count-35062
total-35063
count-35063
total-35064
count-35064
total-35065
count-35065
total-35066
count-35066
total-35067
count-35067
total-35068
count-35068
total-35069
count-35069
total-35070
count-35070
total-35071
column6 double_ele[1, 2]
count-35071
total-35072
count-35072
total-35073
count-35073
total-35074
count-35074
total-35075
count-35075
total-35076
count-35076
total-35077
count-35077
total-35078
count-35078
total-35079
count-35079
total-35080
count-35080
total-35081
count-35081
total-35082
count-35082
total-35083
count-35083
total-35084
count-35084
total-35085
count-35085
total-35086
count-35086
total-35087
count-35087
total-35088
count-35088
total-35089
count-35089
total-35090
count-35090
total-35091
count-35091
total-35092
count-35092
total-35093
count-35093
total-35094
count-35094
total-35095
count-35095
total-35096
count-35096
total-35097
count-35097
total-35098
count-35098
total-35099
count-35099
total-35100
count-35100
total-35101
count-35101
total-35102
count-35102
total-35103
count-35103
total-35104
column8 double_ele[1, 2]
count-35104
total-35105
count-35105
total-35106
count-35106
total-35107
count-35107
total-35108
count-35108
total-35109
count-35109
total-35110
count-35110
total-35111
column3 double_ele[2, 8]
count-35111
total-35112
count-35112
total-35113
count-35113
total-35114
count-35114
total-35115
row 2double_ele[2, 3]
column3 double_ele[2, 3]
row 9double_ele[2, 3]
count-35115
total-35116
count-35116
total-35117
count-35117
total-35118
count-35118
total-35119
column3 double_ele[2, 6]
count-35119
total-35120
count-35120
total-35121
count-35121
total-35122
count-35122
total-35123
count-35123
total-35124
count-35124
total-35125
count-35125
total-35126
count-35126
total-35127
count-35127
total-35128
count-35128
total-35129
count-35129
total-35130
count-35130
total-35131
count-35131
total-35132
count-35132
total-35133
row 7double_ele[3, 5]
count-35133
total-35134
count-35134
total-35135
count-35135
total-35136
count-35136
total-35137
count-35137
total-35138
column4 double_ele[1, 5]
count-35138
total-35139
count-35139
total-35140
count-35140
total-35141
count-35141
total-35142
count-35142
total-35143
count-35143
total-35144
count-35144
total-35145
count-35145
total-35146
count-35146
total-35147
count-35147
total-35148
count-35148
total-35149
count-35149
total-35150
count-35150
total-35151
count-35151
total-35152
count-35152
total-35153
count-35153
total-35154
count-35154
total-35155
count-35155
total-35156
count-35156
total-35157
count-35157
total-35158
column3 double_ele[2, 8]
count-35158
total-35159
count-35159
total-35160
column7 double_ele[2, 3]
column9 double_ele[5, 7]
count-35160
total-35161
count-35161
total-35162
count-35162
total-35163
count-35163
total-35164
count-35164
total-35165
count-35165
total-35166
count-35166
total-35167
count-35167
total-35168
row 2double_ele[4, 5]
column9 double_ele[4, 5]
count-35168
total-35169
count-35169
total-35170
count-35170
total-35171
count-35171
total-35172
count-35172
total-35173
count-35173
total-35174
count-35174
total-35175
row 6double_ele[1, 2]
column9 double_ele[1, 2]
count-35175
total-35176
count-35176
total-35177
count-35177
total-35178
count-35178
total-35179
count-35179
total-35180
count-35180
total-35181
count-35181
total-35182
count-35182
total-35183
count-35183
total-35184
count-35184
total-35185
count-35185
total-35186
count-35186
total-35187
count-35187
total-35188
row 6double_ele[1, 6]
count-35188
total-35189
count-35189
total-35190
count-35190
total-35191
count-35191
total-35192
count-35192
total-35193
count-35193
total-35194
count-35194
total-35195
count-35195
total-35196
count-35196
total-35197
count-35197
total-35198
column9 double_ele[3, 5]
count-35198
total-35199
count-35199
total-35200
count-35200
total-35201
count-35201
total-35202
count-35202
total-35203
count-35203
total-35204
count-35204
total-35205
count-35205
total-35206
row 6double_ele[2, 3]
box6 triple_ele[2, 3, 6]
count-35206
total-35207
count-35207
total-35208
count-35208
total-35209
column9 double_ele[2, 4]
count-35209
total-35210
count-35210
total-35211
count-35211
total-35212
count-35212
total-35213
row 6double_ele[7, 9]
column6 double_ele[1, 5]
count-35213
total-35214
row 5double_ele[1, 4]
count-35214
total-35215
column8 double_ele[2, 6]
count-35215
total-35216
count-35216
total-35217
count-35217
total-35218
count-35218
total-35219
column1 double_ele[2, 5]
row 5double_ele[2, 7]
count-35219
total-35220
count-35220
total-35221
count-35221
total-35222
count-35222
total-35223
count-35223
total-35224
count-35224
total-35225
count-35225
total-35226
count-35226
total-35227
count-35227
total-35228
count-35228
total-35229
count-35229
total-35230
row 3double_ele[1, 9]
count-35230
total-35231
count-35231
total-35232
count-35232
total-35233
count-35233
total-35234
count-35234
total-35235
count-35235
total-35236
count-35236
total-35237
column2 double_ele[2, 5]
count-35237
total-35238
row 3double_ele[3, 7]
row 6double_ele[3, 4]
count-35238
total-35239
count-35239
total-35240
count-35240
total-35241
count-35241
total-35242
count-35242
total-35243
column2 double_ele[1, 6]
row 7double_ele[1, 4]
count-35243
total-35244
count-35244
total-35245
count-35245
total-35246
row 6double_ele[3, 5]
count-35246
total-35247
count-35247
total-35248
count-35248
total-35249
count-35249
total-35250
count-35250
total-35251
count-35251
total-35252
row 1double_ele[2, 3]
count-35252
total-35253
count-35253
total-35254
count-35254
total-35255
count-35255
total-35256
count-35256
total-35257
count-35257
total-35258
count-35258
total-35259
count-35259
total-35260
count-35260
total-35261
count-35261
total-35262
count-35262
total-35263
count-35263
total-35264
count-35264
total-35265
count-35265
total-35266
count-35266
total-35267
count-35267
total-35268
row 5double_ele[1, 4]
count-35268
total-35269
count-35269
total-35270
count-35270
total-35271
count-35271
total-35272
row 4double_ele[1, 3]
column6 double_ele[1, 3]
count-35272
total-35273
count-35273
total-35274
count-35274
total-35275
count-35275
total-35276
count-35276
total-35277
count-35277
total-35278
count-35278
total-35279
count-35279
total-35280
count-35280
total-35281
count-35281
total-35282
count-35282
total-35283
count-35283
total-35284
count-35284
total-35285
count-35285
total-35286
count-35286
total-35287
column8 double_ele[1, 5]
count-35287
total-35288
count-35288
total-35289
count-35289
total-35290
count-35290
total-35291
count-35291
total-35292
count-35292
total-35293
count-35293
total-35294
count-35294
total-35295
count-35295
total-35296
count-35296
total-35297
count-35297
total-35298
count-35298
total-35299
count-35299
total-35300
count-35300
total-35301
count-35301
total-35302
count-35302
total-35303
count-35303
total-35304
count-35304
total-35305
count-35305
total-35306
count-35306
total-35307
column1 double_ele[3, 5]
count-35307
total-35308
count-35308
total-35309
count-35309
total-35310
count-35310
total-35311
count-35311
total-35312
count-35312
total-35313
count-35313
total-35314
count-35314
total-35315
count-35315
total-35316
count-35316
total-35317
row 3double_ele[1, 2]
column6 double_ele[1, 2]
count-35317
total-35318
count-35318
total-35319
count-35319
total-35320
count-35320
total-35321
count-35321
total-35322
count-35322
total-35323
count-35323
total-35324
count-35324
total-35325
count-35325
total-35326

count-35326
total-35327
count-35327
total-35328
count-35328
total-35329
count-35329
total-35330
count-35330
total-35331
column6 double_ele[3, 4]
count-35331
total-35332
count-35332
total-35333
count-35333
total-35334
count-35334
total-35335
count-35335
total-35336
column3 double_ele[1, 4]
count-35336
total-35337
count-35337
total-35338
count-35338
total-35339
count-35339
total-35340
count-35340
total-35341
count-35341
total-35342
count-35342
total-35343
count-35343
total-35344
count-35344
total-35345
count-35345
total-35346
row 3triple_ele[1, 3, 5]
count-35346
total-35347
count-35347
total-35348
count-35348
total-35349
count-35349
total-35350
count-35350
total-35351
count-35351
total-35352
count-35352
total-35353
count-35353
total-35354
count-35354
total-35355
count-35355
total-35356
count-35356
total-35357
count-35357
total-35358
count-35358
total-35359
column7 double_ele[2, 8]
count-35359
total-35360
count-35360
total-35361
count-35361
total-35362
count-35362
total-35363
count-35363
total-35364
count-35364
total-35365
count-35365
total-35366
column2 double_ele[1, 6]
count-35366
total-35367
count-35367
total-35368
column1 double_ele[1, 7]
count-35368
total-35369
count-35369
total-35370
count-35370
total-35371
count-35371
total-35372
count-35372
total-35373
row 2double_ele[1, 5]
count-35373
total-35374
count-35374
total-35375
column5 double_ele[6, 7]
column8 double_ele[3, 6]
count-35375
total-35376
count-35376
total-35377
count-35377
total-35378
count-35378
total-35379
row 7double_ele[2, 6]
column8 double_ele[2, 6]
count-35379
total-35380
count-35380
total-35381
count-35381
total-35382
count-35382
total-35383
count-35383
total-35384
count-35384
total-35385
count-35385
total-35386
count-35386
total-35387
count-35387
total-35388
count-35388
total-35389
count-35389
total-35390
count-35390
total-35391
count-35391
total-35392
count-35392
total-35393
count-35393
total-35394
count-35394
total-35395
count-35395
total-35396
count-35396
total-35397
count-35397
total-35398
count-35398
total-35399
count-35399
total-35400
count-35400
total-35401
count-35401
total-35402
count-35402
total-35403
count-35403
total-35404
count-35404
total-35405
count-35405
total-35406
count-35406
total-35407
count-35407
total-35408
count-35408
total-35409
count-35409
total-35410
count-35410
total-35411
count-35411
total-35412
row 9double_ele[3, 4]
count-35412
total-35413
count-35413
total-35414
column2 double_ele[1, 3]
count-35414
total-35415
count-35415
total-35416
count-35416
total-35417
count-35417
total-35418
count-35418
total-35419
count-35419
total-35420
count-35420
total-35421
count-35421
total-35422
row 5double_ele[7, 8]
count-35422
total-35423
count-35423
total-35424
count-35424
total-35425
count-35425
total-35426
count-35426
total-35427
count-35427
total-35428
count-35428
total-35429
count-35429
total-35430
count-35430
total-35431
count-35431
total-35432
count-35432
total-35433
count-35433
total-35434
count-35434
total-35435
count-35435
total-35436
count-35436
total-35437
count-35437
total-35438
column7 double_ele[1, 3]
count-35438
total-35439
column1 double_ele[1, 4]
count-35439
total-35440
count-35440
total-35441
count-35441
total-35442
column1 double_ele[2, 3]
count-35442
total-35443
count-35443
total-35444
count-35444
total-35445
count-35445
total-35446
count-35446
total-35447
count-35447
total-35448
count-35448
total-35449
count-35449
total-35450
count-35450
total-35451
count-35451
total-35452
count-35452
total-35453
count-35453
total-35454
count-35454
total-35455
count-35455
total-35456
count-35456
total-35457
count-35457
total-35458
column3 double_ele[3, 4]
row 9double_ele[3, 4]
count-35458
total-35459
count-35459
total-35460
count-35460
total-35461
count-35461
total-35462
count-35462
total-35463
count-35463
total-35464
count-35464
total-35465
count-35465
total-35466
count-35466
total-35467
count-35467
total-35468
count-35468
total-35469
count-35469
total-35470
count-35470
total-35471
column5 double_ele[2, 8]
count-35471
total-35472
count-35472
total-35473
row 8double_ele[2, 4]
count-35473
total-35474
count-35474
total-35475
count-35475
total-35476
count-35476
total-35477
count-35477
total-35478
count-35478
total-35479
count-35479
total-35480
row 4double_ele[1, 6]
column6 double_ele[1, 8]
column8 double_ele[1, 6]
row 9double_ele[2, 6]
count-35480
total-35481
count-35481
total-35482
count-35482
total-35483
count-35483
total-35484
count-35484
total-35485
count-35485
total-35486
count-35486
total-35487
count-35487
total-35488
count-35488
total-35489
count-35489
total-35490
row 3double_ele[1, 8]
count-35490
total-35491
count-35491
total-35492
count-35492
total-35493
row 7double_ele[5, 6]
count-35493
total-35494
count-35494
total-35495
count-35495
total-35496
column1 double_ele[2, 6]
count-35496
total-35497
count-35497
total-35498
column8 double_ele[3, 9]
count-35498
total-35499
row 6double_ele[2, 4]
column7 double_ele[2, 4]
count-35499
total-35500
count-35500
total-35501
count-35501
total-35502
row 5double_ele[2, 4]
count-35502
total-35503
count-35503
total-35504
column3 double_ele[4, 5]
count-35504
total-35505
count-35505
total-35506
count-35506
total-35507
count-35507
total-35508
count-35508
total-35509
count-35509
total-35510
column3 double_ele[1, 8]
count-35510
total-35511
count-35511
total-35512
count-35512
total-35513
count-35513
total-35514
count-35514
total-35515
count-35515
total-35516
count-35516
total-35517
count-35517
total-35518
column7 double_ele[2, 7]
count-35518
total-35519
count-35519
total-35520
count-35520
total-35521
count-35521
total-35522
column3 double_ele[2, 4]
count-35522
total-35523
count-35523
total-35524
count-35524
total-35525
count-35525
total-35526
count-35526
total-35527
count-35527
total-35528
column1 double_ele[2, 4]
row 4double_ele[1, 2]
column7 double_ele[1, 2]
row 9double_ele[2, 4]
count-35528
total-35529
count-35529
total-35530
count-35530
total-35531
count-35531
total-35532
count-35532
total-35533
count-35533
total-35534
count-35534
total-35535
column6 double_ele[3, 6]
count-35535
total-35536
count-35536
total-35537
count-35537
total-35538
count-35538
total-35539
count-35539
total-35540
count-35540
total-35541
count-35541
total-35542
count-35542
total-35543
count-35543
total-35544
row 5double_ele[2, 5]
column7 double_ele[2, 9]
row 8double_ele[3, 6]
count-35544
total-35545
count-35545
total-35546
count-35546
total-35547
count-35547
total-35548
count-35548
total-35549
count-35549
total-35550
count-35550
total-35551
row 7double_ele[2, 5]
count-35551
total-35552
count-35552
total-35553
count-35553
total-35554
row 2double_ele[6, 8]
column7 double_ele[6, 8]
count-35554
total-35555
count-35555
total-35556
count-35556
total-35557
count-35557
total-35558
count-35558
total-35559
count-35559
total-35560
count-35560
total-35561
count-35561
total-35562
count-35562
total-35563
count-35563
total-35564
count-35564
total-35565
count-35565
total-35566
count-35566
total-35567
count-35567
total-35568
count-35568
total-35569
count-35569
total-35570
count-35570
total-35571
count-35571
total-35572
count-35572
total-35573
count-35573
total-35574
count-35574
total-35575
count-35575
total-35576
row 9double_ele[5, 7]
count-35576
total-35577
count-35577
total-35578
count-35578
total-35579
count-35579
total-35580
count-35580
total-35581
count-35581
total-35582
column4 double_ele[1, 5]
count-35582
total-35583
count-35583
total-35584
row 9double_ele[3, 6]
count-35584
total-35585
count-35585
total-35586
count-35586
total-35587
row 2double_ele[2, 6]
count-35587
total-35588
row 8double_ele[2, 4]
count-35588
total-35589
count-35589
total-35590
count-35590
total-35591
count-35591
total-35592
count-35592
total-35593
count-35593
total-35594
count-35594
total-35595
count-35595
total-35596
count-35596
total-35597
count-35597
total-35598
count-35598
total-35599
count-35599
total-35600
count-35600
total-35601
count-35601
total-35602
count-35602
total-35603
count-35603
total-35604
count-35604
total-35605
count-35605
total-35606
count-35606
total-35607
count-35607
total-35608
count-35608
total-35609
count-35609
total-35610
count-35610
total-35611
count-35611
total-35612
count-35612
total-35613
count-35613
total-35614
count-35614
total-35615
count-35615
total-35616
count-35616
total-35617

count-35617
total-35618
count-35618
total-35619
count-35619
total-35620
count-35620
total-35621
row 6double_ele[2, 3]
count-35621
total-35622
count-35622
total-35623
count-35623
total-35624
column2 double_ele[3, 6]
count-35624
total-35625
column9 double_ele[2, 5]
count-35625
total-35626
count-35626
total-35627
count-35627
total-35628
row 3double_ele[5, 8]
row 5double_ele[3, 8]
row 9double_ele[1, 4]
count-35628
total-35629
count-35629
total-35630
count-35630
total-35631
count-35631
total-35632
count-35632
total-35633
count-35633
total-35634
count-35634
total-35635
count-35635
total-35636
count-35636
total-35637
count-35637
total-35638
count-35638
total-35639
count-35639
total-35640
count-35640
total-35641
count-35641
total-35642
count-35642
total-35643
count-35643
total-35644
count-35644
total-35645
row 2double_ele[3, 4]
count-35645
total-35646
count-35646
total-35647
count-35647
total-35648
count-35648
total-35649
count-35649
total-35650
count-35650
total-35651
count-35651
total-35652
count-35652
total-35653
count-35653
total-35654
count-35654
total-35655
count-35655
total-35656
count-35656
total-35657
count-35657
total-35658
count-35658
total-35659
row 1double_ele[1, 8]
row 7double_ele[1, 5]
count-35659
total-35660
count-35660
total-35661
count-35661
total-35662
count-35662
total-35663
count-35663
total-35664
count-35664
total-35665
count-35665
total-35666
count-35666
total-35667
count-35667
total-35668
count-35668
total-35669
count-35669
total-35670
row 1double_ele[2, 3]
count-35670
total-35671
count-35671
total-35672
count-35672
total-35673
count-35673
total-35674
count-35674
total-35675
count-35675
total-35676
count-35676
total-35677
count-35677
total-35678
count-35678
total-35679
count-35679
total-35680
count-35680
total-35681
count-35681
total-35682
count-35682
total-35683
count-35683
total-35684
count-35684
total-35685
count-35685
total-35686
row 4double_ele[2, 5]
count-35686
total-35687
count-35687
total-35688
count-35688
total-35689
count-35689
total-35690
count-35690
total-35691
count-35691
total-35692
count-35692
total-35693
count-35693
total-35694
count-35694
total-35695
count-35695
total-35696
row 8double_ele[2, 8]
count-35696
total-35697
count-35697
total-35698
count-35698
total-35699
count-35699
total-35700
column5 double_ele[1, 8]
row 6double_ele[1, 8]
count-35700
total-35701
count-35701
total-35702
count-35702
total-35703
count-35703
total-35704
count-35704
total-35705
column1 double_ele[1, 7]
row 2double_ele[3, 5]
row 4double_ele[1, 7]
count-35705
total-35706
count-35706
total-35707
count-35707
total-35708
count-35708
total-35709
count-35709
total-35710
count-35710
total-35711
count-35711
total-35712
count-35712
total-35713
count-35713
total-35714
count-35714
total-35715
count-35715
total-35716
count-35716
total-35717
count-35717
total-35718
count-35718
total-35719
count-35719
total-35720
count-35720
total-35721
count-35721
total-35722
column3 double_ele[3, 9]
column4 double_ele[3, 6]
column9 double_ele[5, 9]
count-35722
total-35723
column8 double_ele[1, 2]
count-35723
total-35724
count-35724
total-35725
count-35725
total-35726
count-35726
total-35727
count-35727
total-35728
count-35728
total-35729
count-35729
total-35730
row 7double_ele[4, 6]
count-35730
total-35731
count-35731
total-35732
count-35732
total-35733
count-35733
total-35734
row 4double_ele[2, 5]
count-35734
total-35735
count-35735
total-35736
count-35736
total-35737
count-35737
total-35738
count-35738
total-35739
count-35739
total-35740
count-35740
total-35741
count-35741
total-35742
count-35742
total-35743
column1 double_ele[1, 8]
row 6double_ele[1, 8]
count-35743
total-35744
count-35744
total-35745
count-35745
total-35746
count-35746
total-35747
count-35747
total-35748
count-35748
total-35749
row 2double_ele[1, 3]
count-35749
total-35750
count-35750
total-35751
count-35751
total-35752
count-35752
total-35753
count-35753
total-35754
count-35754
total-35755
count-35755
total-35756
count-35756
total-35757
column9 double_ele[2, 3]
count-35757
total-35758
count-35758
total-35759
count-35759
total-35760
count-35760
total-35761
count-35761
total-35762
count-35762
total-35763
count-35763
total-35764
column9 double_ele[3, 5]
count-35764
total-35765
count-35765
total-35766
count-35766
total-35767
column3 double_ele[1, 3]
count-35767
total-35768
count-35768
total-35769
count-35769
total-35770
count-35770
total-35771
count-35771
total-35772
count-35772
total-35773
count-35773
total-35774
count-35774
total-35775
count-35775
total-35776
row 5double_ele[2, 6]
column8 double_ele[2, 6]
count-35776
total-35777
count-35777
total-35778
count-35778
total-35779
count-35779
total-35780
count-35780
total-35781
count-35781
total-35782
count-35782
total-35783
count-35783
total-35784
count-35784
total-35785
count-35785
total-35786
count-35786
total-35787
count-35787
total-35788
count-35788
total-35789
count-35789
total-35790
count-35790
total-35791
count-35791
total-35792
count-35792
total-35793
column1 double_ele[2, 8]
count-35793
total-35794
count-35794
total-35795
count-35795
total-35796
row 4double_ele[2, 7]
count-35796
total-35797
count-35797
total-35798
count-35798
total-35799
count-35799
total-35800
count-35800
total-35801
count-35801
total-35802
count-35802
total-35803
count-35803
total-35804
row 4double_ele[1, 5]
count-35804
total-35805
count-35805
total-35806
count-35806
total-35807
count-35807
total-35808
count-35808
total-35809
count-35809
total-35810
count-35810
total-35811
count-35811
total-35812
count-35812
total-35813
count-35813
total-35814
column2 double_ele[4, 6]
count-35814
total-35815
count-35815
total-35816
count-35816
total-35817
count-35817
total-35818
count-35818
total-35819
count-35819
total-35820
column1 double_ele[2, 4]
count-35820
total-35821
column2 double_ele[4, 6]
count-35821
total-35822
count-35822
total-35823
column8 double_ele[4, 5]
count-35823
total-35824
count-35824
total-35825
count-35825
total-35826
count-35826
total-35827
count-35827
total-35828
count-35828
total-35829
column3 double_ele[1, 6]
count-35829
total-35830
count-35830
total-35831
count-35831
total-35832
count-35832
total-35833
count-35833
total-35834
count-35834
total-35835
count-35835
total-35836
count-35836
total-35837
count-35837
total-35838
row 7double_ele[2, 5]
count-35838
total-35839
count-35839
total-35840
count-35840
total-35841
count-35841
total-35842
count-35842
total-35843
count-35843
total-35844
count-35844
total-35845
count-35845
total-35846
row 2double_ele[2, 4]
count-35846
total-35847
count-35847
total-35848
count-35848
total-35849
count-35849
total-35850
row 6double_ele[1, 2]
count-35850
total-35851
count-35851
total-35852
count-35852
total-35853
count-35853
total-35854
count-35854
total-35855
count-35855
total-35856
count-35856
total-35857
count-35857
total-35858
count-35858
total-35859
count-35859
total-35860
count-35860
total-35861
count-35861
total-35862
count-35862
total-35863
count-35863
total-35864
count-35864
total-35865
count-35865
total-35866
count-35866
total-35867
count-35867
total-35868
row 2double_ele[1, 5]
row 6double_ele[3, 7]
row 8double_ele[3, 5]
count-35868
total-35869
count-35869
total-35870
count-35870
total-35871
count-35871
total-35872
count-35872
total-35873
count-35873
total-35874
count-35874
total-35875
count-35875
total-35876
count-35876
total-35877
count-35877
total-35878
count-35878
total-35879
count-35879
total-35880
count-35880
total-35881
row 3double_ele[2, 6]
row 9double_ele[2, 4]
count-35881
total-35882
row 8double_ele[3, 4]
count-35882
total-35883
count-35883
total-35884
count-35884
total-35885
row 8double_ele[2, 3]
count-35885
total-35886
count-35886
total-35887
count-35887
total-35888
count-35888
total-35889
row 8double_ele[1, 2]
count-35889
total-35890
count-35890
total-35891
count-35891
total-35892
count-35892
total-35893
count-35893
total-35894
count-35894
total-35895
count-35895
total-35896
column3 double_ele[1, 6]
row 4double_ele[1, 6]
column4 double_ele[1, 6]
row 8double_ele[1, 6]
count-35896
total-35897
count-35897
total-35898
count-35898
total-35899
count-35899
total-35900
count-35900
total-35901
count-35901
total-35902
count-35902
total-35903
row 6double_ele[3, 4]
count-35903
total-35904
count-35904
total-35905
count-35905
total-35906
count-35906
total-35907
count-35907
total-35908
count-35908
total-35909
count-35909
total-35910
count-35910
total-35911
count-35911
total-35912
count-35912
total-35913

count-35913
total-35914
count-35914
total-35915
count-35915
total-35916
row 3triple_ele[3, 5, 7]
count-35916
total-35917
count-35917
total-35918
count-35918
total-35919
row 7double_ele[2, 4]
count-35919
total-35920
count-35920
total-35921
count-35921
total-35922
count-35922
total-35923
count-35923
total-35924
count-35924
total-35925
count-35925
total-35926
count-35926
total-35927
count-35927
total-35928
count-35928
total-35929
count-35929
total-35930
column2 double_ele[3, 4]
row 3double_ele[3, 4]
column6 double_ele[3, 4]
row 7double_ele[3, 4]
count-35930
total-35931
count-35931
total-35932
count-35932
total-35933
count-35933
total-35934
count-35934
total-35935
count-35935
total-35936
count-35936
total-35937
count-35937
total-35938
column1 double_ele[1, 2]
count-35938
total-35939
count-35939
total-35940
count-35940
total-35941
count-35941
total-35942
count-35942
total-35943
count-35943
total-35944
count-35944
total-35945
count-35945
total-35946
count-35946
total-35947
count-35947
total-35948
count-35948
total-35949
count-35949
total-35950
count-35950
total-35951
count-35951
total-35952
count-35952
total-35953
count-35953
total-35954
count-35954
total-35955
count-35955
total-35956
count-35956
total-35957
column8 double_ele[3, 6]
count-35957
total-35958
count-35958
total-35959
count-35959
total-35960
row 2double_ele[2, 3]
count-35960
total-35961
count-35961
total-35962
count-35962
total-35963
count-35963
total-35964
count-35964
total-35965
count-35965
total-35966
count-35966
total-35967
count-35967
total-35968
count-35968
total-35969
count-35969
total-35970
count-35970
total-35971
count-35971
total-35972
count-35972
total-35973
count-35973
total-35974
count-35974
total-35975
count-35975
total-35976
count-35976
total-35977
count-35977
total-35978
count-35978
total-35979
count-35979
total-35980
count-35980
total-35981
count-35981
total-35982
count-35982
total-35983
column9 double_ele[2, 4]
count-35983
total-35984
count-35984
total-35985
count-35985
total-35986
count-35986
total-35987
count-35987
total-35988
count-35988
total-35989
count-35989
total-35990
count-35990
total-35991
column3 double_ele[6, 8]
column7 double_ele[5, 6]
count-35991
total-35992
count-35992
total-35993
count-35993
total-35994
column6 double_ele[4, 7]
count-35994
total-35995
row 2double_ele[1, 4]
column5 double_ele[1, 9]
row 3triple_ele[1, 2, 9]
box3 triple_ele[1, 2, 4]
count-35995
total-35996
count-35996
total-35997
row 3double_ele[4, 5]
count-35997
total-35998
count-35998
total-35999
count-35999
total-36000
count-36000
total-36001
count-36001
total-36002
column2 double_ele[4, 8]
row 7double_ele[4, 8]
count-36002
total-36003
count-36003
total-36004
count-36004
total-36005
count-36005
total-36006
count-36006
total-36007
count-36007
total-36008
count-36008
total-36009
count-36009
total-36010
count-36010
total-36011
count-36011
total-36012
count-36012
total-36013
count-36013
total-36014
count-36014
total-36015
count-36015
total-36016
count-36016
total-36017
count-36017
total-36018
row 3double_ele[2, 3]
count-36018
total-36019
count-36019
total-36020
count-36020
total-36021
count-36021
total-36022
count-36022
total-36023
count-36023
total-36024
count-36024
total-36025
count-36025
total-36026
count-36026
total-36027
count-36027
total-36028
column9 double_ele[3, 5]
count-36028
total-36029
count-36029
total-36030
count-36030
total-36031
count-36031
total-36032
count-36032
total-36033
count-36033
total-36034
column2 double_ele[1, 2]
count-36034
total-36035
count-36035
total-36036
column4 double_ele[1, 6]
count-36036
total-36037
count-36037
total-36038
count-36038
total-36039
count-36039
total-36040
count-36040
total-36041
count-36041
total-36042
count-36042
total-36043
row 2double_ele[2, 3]
column4 double_ele[2, 3]
count-36043
total-36044
count-36044
total-36045
row 5double_ele[2, 7]
count-36045
total-36046
count-36046
total-36047
count-36047
total-36048
count-36048
total-36049
count-36049
total-36050
count-36050
total-36051
count-36051
total-36052
count-36052
total-36053
count-36053
total-36054
count-36054
total-36055
row 5double_ele[1, 3]
count-36055
total-36056
count-36056
total-36057
column9 double_ele[1, 3]
count-36057
total-36058
count-36058
total-36059
column5 double_ele[2, 5]
count-36059
total-36060
count-36060
total-36061
count-36061
total-36062
count-36062
total-36063
count-36063
total-36064
count-36064
total-36065
count-36065
total-36066
count-36066
total-36067
count-36067
total-36068
count-36068
total-36069
count-36069
total-36070
column5 double_ele[1, 3]
count-36070
total-36071
count-36071
total-36072
count-36072
total-36073
count-36073
total-36074
column4 double_ele[4, 8]
row 9double_ele[4, 8]
count-36074
total-36075
count-36075
total-36076
count-36076
total-36077
count-36077
total-36078
column1 double_ele[2, 6]
column7 double_ele[5, 6]
row 9double_ele[5, 6]
count-36078
total-36079
count-36079
total-36080
count-36080
total-36081
count-36081
total-36082
count-36082
total-36083
count-36083
total-36084
count-36084
total-36085
count-36085
total-36086
count-36086
total-36087
count-36087
total-36088
count-36088
total-36089
row 2double_ele[3, 8]
column7 double_ele[3, 8]
count-36089
total-36090
count-36090
total-36091
count-36091
total-36092
count-36092
total-36093
count-36093
total-36094
count-36094
total-36095
count-36095
total-36096
count-36096
total-36097
count-36097
total-36098
count-36098
total-36099
count-36099
total-36100
count-36100
total-36101
column7 double_ele[1, 2]
count-36101
total-36102
row 6double_ele[4, 9]
count-36102
total-36103
count-36103
total-36104
count-36104
total-36105
count-36105
total-36106
column4 double_ele[1, 2]
count-36106
total-36107
count-36107
total-36108
count-36108
total-36109
row 5double_ele[1, 3]
column6 double_ele[1, 3]
count-36109
total-36110
count-36110
total-36111
count-36111
total-36112
count-36112
total-36113
count-36113
total-36114
count-36114
total-36115
count-36115
total-36116
count-36116
total-36117
count-36117
total-36118
count-36118
total-36119
count-36119
total-36120
count-36120
total-36121
count-36121
total-36122
count-36122
total-36123
count-36123
total-36124
count-36124
total-36125
count-36125
total-36126
count-36126
total-36127
count-36127
total-36128
count-36128
total-36129
count-36129
total-36130
count-36130
total-36131
count-36131
total-36132
column5 double_ele[1, 4]
count-36132
total-36133
count-36133
total-36134
count-36134
total-36135
count-36135
total-36136
count-36136
total-36137
row 6double_ele[2, 3]
count-36137
total-36138
count-36138
total-36139
count-36139
total-36140
count-36140
total-36141
count-36141
total-36142
count-36142
total-36143
row 7double_ele[4, 5]
row 8double_ele[1, 4]
count-36143
total-36144
count-36144
total-36145
count-36145
total-36146
count-36146
total-36147
count-36147
total-36148
column9 double_ele[3, 4]
count-36148
total-36149
count-36149
total-36150
count-36150
total-36151
count-36151
total-36152
count-36152
total-36153
count-36153
total-36154
count-36154
total-36155
count-36155
total-36156
count-36156
total-36157
count-36157
total-36158
count-36158
total-36159
count-36159
total-36160
count-36160
total-36161
count-36161
total-36162
count-36162
total-36163
count-36163
total-36164
count-36164
total-36165
row 5double_ele[1, 2]
column5 double_ele[1, 2]
row 6double_ele[1, 7]
column8 double_ele[1, 7]
count-36165
total-36166
count-36166
total-36167
count-36167
total-36168
count-36168
total-36169
count-36169
total-36170
count-36170
total-36171
count-36171
total-36172
row 4double_ele[1, 3]
count-36172
total-36173
count-36173
total-36174
count-36174
total-36175
count-36175
total-36176
count-36176
total-36177
count-36177
total-36178
column8 double_ele[4, 5]
count-36178
total-36179
count-36179
total-36180
count-36180
total-36181
count-36181
total-36182
count-36182
total-36183
count-36183
total-36184
count-36184
total-36185
row 3double_ele[5, 7]
column5 double_ele[5, 7]
row 8double_ele[5, 7]
count-36185
total-36186
count-36186
total-36187
column1 double_ele[3, 6]
row 2double_ele[3, 6]
column3 double_ele[3, 6]
count-36187
total-36188
count-36188
total-36189
count-36189
total-36190
count-36190
total-36191
count-36191
total-36192
count-36192
total-36193
count-36193
total-36194
count-36194
total-36195

count-36195
total-36196
count-36196
total-36197
count-36197
total-36198
count-36198
total-36199
count-36199
total-36200
count-36200
total-36201
count-36201
total-36202
count-36202
total-36203
count-36203
total-36204
count-36204
total-36205
column6 double_ele[3, 8]
row 7double_ele[1, 4]
row 9double_ele[3, 8]
row 3triple_ele[1, 2, 3]
box3 triple_ele[1, 2, 3]
count-36205
total-36206
count-36206
total-36207
count-36207
total-36208
count-36208
total-36209
count-36209
total-36210
count-36210
total-36211
count-36211
total-36212
count-36212
total-36213
row 2double_ele[3, 5]
column4 double_ele[5, 6]
count-36213
total-36214
row 3double_ele[4, 5]
row 4double_ele[4, 6]
column7 double_ele[4, 5]
count-36214
total-36215
count-36215
total-36216
count-36216
total-36217
count-36217
total-36218
count-36218
total-36219
count-36219
total-36220
count-36220
total-36221
count-36221
total-36222
count-36222
total-36223
count-36223
total-36224
count-36224
total-36225
count-36225
total-36226
count-36226
total-36227
count-36227
total-36228
count-36228
total-36229
count-36229
total-36230
count-36230
total-36231
row 2double_ele[1, 4]
count-36231
total-36232
column6 double_ele[1, 6]
column7 double_ele[1, 3]
count-36232
total-36233
count-36233
total-36234
column4 double_ele[1, 4]
count-36234
total-36235
column3 double_ele[3, 5]
row 7double_ele[3, 5]
count-36235
total-36236
count-36236
total-36237
count-36237
total-36238
column1 double_ele[1, 6]
count-36238
total-36239
count-36239
total-36240
count-36240
total-36241
count-36241
total-36242
count-36242
total-36243
column3 double_ele[3, 4]
count-36243
total-36244
count-36244
total-36245
count-36245
total-36246
count-36246
total-36247
row 2double_ele[1, 8]
column3 double_ele[1, 8]
row 5double_ele[1, 8]
count-36247
total-36248
count-36248
total-36249
count-36249
total-36250
count-36250
total-36251
count-36251
total-36252
count-36252
total-36253
count-36253
total-36254
row 5double_ele[1, 6]
count-36254
total-36255
count-36255
total-36256
row 3double_ele[5, 8]
column6 double_ele[5, 8]
count-36256
total-36257
count-36257
total-36258
count-36258
total-36259
count-36259
total-36260
count-36260
total-36261
count-36261
total-36262
count-36262
total-36263
count-36263
total-36264
row 1double_ele[3, 7]
count-36264
total-36265
row 1double_ele[2, 7]
count-36265
total-36266
count-36266
total-36267
count-36267
total-36268
count-36268
total-36269
count-36269
total-36270
count-36270
total-36271
row 2double_ele[3, 5]
row 5double_ele[1, 5]
count-36271
total-36272
count-36272
total-36273
count-36273
total-36274
count-36274
total-36275
count-36275
total-36276
count-36276
total-36277
count-36277
total-36278
count-36278
total-36279
row 6double_ele[1, 5]
count-36279
total-36280
count-36280
total-36281
count-36281
total-36282
count-36282
total-36283
count-36283
total-36284
count-36284
total-36285
count-36285
total-36286
count-36286
total-36287
count-36287
total-36288
column2 double_ele[1, 5]
row 3double_ele[2, 5]
count-36288
total-36289
count-36289
total-36290
count-36290
total-36291
count-36291
total-36292
column2 double_ele[2, 5]
count-36292
total-36293
count-36293
total-36294
count-36294
total-36295
count-36295
total-36296
column4 double_ele[1, 2]
row 9double_ele[1, 2]
count-36296
total-36297
row 5double_ele[5, 6]
count-36297
total-36298
count-36298
total-36299
count-36299
total-36300
count-36300
total-36301
column7 double_ele[1, 3]
count-36301
total-36302
count-36302
total-36303
count-36303
total-36304
count-36304
total-36305
count-36305
total-36306
count-36306
total-36307
count-36307
total-36308
count-36308
total-36309
count-36309
total-36310
count-36310
total-36311
count-36311
total-36312
count-36312
total-36313
count-36313
total-36314
count-36314
total-36315
count-36315
total-36316
count-36316
total-36317
count-36317
total-36318
count-36318
total-36319
column7 double_ele[1, 5]
count-36319
total-36320
count-36320
total-36321
count-36321
total-36322
column6 double_ele[2, 8]
count-36322
total-36323
count-36323
total-36324
count-36324
total-36325
count-36325
total-36326
count-36326
total-36327
count-36327
total-36328
count-36328
total-36329
count-36329
total-36330
count-36330
total-36331
count-36331
total-36332
column7 double_ele[2, 3]
row 8double_ele[2, 3]
count-36332
total-36333
count-36333
total-36334
count-36334
total-36335
count-36335
total-36336
count-36336
total-36337
count-36337
total-36338
count-36338
total-36339
count-36339
total-36340
row 4double_ele[3, 4]
row 7double_ele[3, 8]
count-36340
total-36341
count-36341
total-36342
column5 double_ele[1, 8]
count-36342
total-36343
count-36343
total-36344
count-36344
total-36345
count-36345
total-36346
count-36346
total-36347
count-36347
total-36348
count-36348
total-36349
count-36349
total-36350
count-36350
total-36351
count-36351
total-36352
count-36352
total-36353
count-36353
total-36354
count-36354
total-36355
column7 double_ele[1, 2]
count-36355
total-36356
count-36356
total-36357
count-36357
total-36358
column8 double_ele[1, 2]
row 9double_ele[1, 2]
count-36358
total-36359
count-36359
total-36360
count-36360
total-36361
count-36361
total-36362
count-36362
total-36363
count-36363
total-36364
count-36364
total-36365
count-36365
total-36366
count-36366
total-36367
count-36367
total-36368
count-36368
total-36369
count-36369
total-36370
count-36370
total-36371
count-36371
total-36372
count-36372
total-36373
count-36373
total-36374
count-36374
total-36375
count-36375
total-36376
count-36376
total-36377
count-36377
total-36378
count-36378
total-36379
count-36379
total-36380
count-36380
total-36381
count-36381
total-36382
count-36382
total-36383
count-36383
total-36384
count-36384
total-36385
count-36385
total-36386
count-36386
total-36387
count-36387
total-36388
count-36388
total-36389
count-36389
total-36390
count-36390
total-36391
count-36391
total-36392
column6 double_ele[1, 3]
count-36392
total-36393
count-36393
total-36394
count-36394
total-36395
count-36395
total-36396
count-36396
total-36397
count-36397
total-36398
count-36398
total-36399
count-36399
total-36400
count-36400
total-36401
count-36401
total-36402
count-36402
total-36403
count-36403
total-36404
count-36404
total-36405
count-36405
total-36406
count-36406
total-36407
count-36407
total-36408
count-36408
total-36409
count-36409
total-36410
count-36410
total-36411
count-36411
total-36412
count-36412
total-36413
count-36413
total-36414
count-36414
total-36415
count-36415
total-36416
count-36416
total-36417
count-36417
total-36418
column9 double_ele[3, 5]
count-36418
total-36419
count-36419
total-36420
count-36420
total-36421
count-36421
total-36422
count-36422
total-36423
count-36423
total-36424
count-36424
total-36425
count-36425
total-36426
count-36426
total-36427
column2 double_ele[1, 2]
count-36427
total-36428
count-36428
total-36429
count-36429
total-36430
count-36430
total-36431
count-36431
total-36432
count-36432
total-36433
count-36433
total-36434
count-36434
total-36435
count-36435
total-36436
count-36436
total-36437
row 8double_ele[2, 7]
count-36437
total-36438
count-36438
total-36439
count-36439
total-36440
count-36440
total-36441
count-36441
total-36442
count-36442
total-36443
count-36443
total-36444
count-36444
total-36445
column8 double_ele[2, 4]
count-36445
total-36446
count-36446
total-36447
count-36447
total-36448
count-36448
total-36449
count-36449
total-36450
count-36450
total-36451
count-36451
total-36452
count-36452
total-36453
count-36453
total-36454
count-36454
total-36455
count-36455
total-36456
count-36456
total-36457
count-36457
total-36458
count-36458
total-36459
count-36459
total-36460
column8 double_ele[5, 7]
count-36460
total-36461
count-36461
total-36462
count-36462
total-36463
count-36463
total-36464
count-36464
total-36465
count-36465
total-36466
count-36466
total-36467
count-36467
total-36468
count-36468
total-36469
count-36469
total-36470
count-36470
total-36471
count-36471
total-36472
count-36472
total-36473
count-36473
total-36474
count-36474
total-36475
count-36475
total-36476
count-36476
total-36477
count-36477
total-36478
count-36478
total-36479
count-36479
total-36480
count-36480
total-36481
count-36481
total-36482
count-36482
total-36483
count-36483
total-36484
count-36484
total-36485
count-36485
total-36486
count-36486
total-36487
column6 double_ele[4, 6]
count-36487
total-36488
count-36488
total-36489
count-36489
total-36490
count-36490
total-36491
count-36491
total-36492
count-36492
total-36493
count-36493
total-36494
count-36494
total-36495
count-36495
total-36496
count-36496
total-36497
count-36497
total-36498
count-36498
total-36499
count-36499
total-36500
count-36500
total-36501
count-36501
total-36502
count-36502
total-36503

count-36503
total-36504
count-36504
total-36505
row 2double_ele[1, 2]
count-36505
total-36506
count-36506
total-36507
count-36507
total-36508
count-36508
total-36509
count-36509
total-36510
count-36510
total-36511
count-36511
total-36512
count-36512
total-36513
count-36513
total-36514
count-36514
total-36515
count-36515
total-36516
count-36516
total-36517
count-36517
total-36518
count-36518
total-36519
count-36519
total-36520
count-36520
total-36521
count-36521
total-36522
count-36522
total-36523
count-36523
total-36524
count-36524
total-36525
count-36525
total-36526
count-36526
total-36527
count-36527
total-36528
count-36528
total-36529
count-36529
total-36530
count-36530
total-36531
column3 double_ele[6, 7]
row 6double_ele[6, 7]
count-36531
total-36532
count-36532
total-36533
row 7double_ele[2, 4]
count-36533
total-36534
column2 double_ele[4, 5]
count-36534
total-36535
count-36535
total-36536
count-36536
total-36537
count-36537
total-36538
count-36538
total-36539
count-36539
total-36540
row 2double_ele[3, 5]
column6 double_ele[3, 5]
count-36540
total-36541
count-36541
total-36542
count-36542
total-36543
count-36543
total-36544
count-36544
total-36545
row 2double_ele[1, 4]
count-36545
total-36546
count-36546
total-36547
count-36547
total-36548
count-36548
total-36549
count-36549
total-36550
count-36550
total-36551
count-36551
total-36552
count-36552
total-36553
row 6double_ele[2, 4]
row 7double_ele[2, 4]
column8 double_ele[2, 4]
count-36553
total-36554
count-36554
total-36555
count-36555
total-36556
count-36556
total-36557
count-36557
total-36558
count-36558
total-36559
count-36559
total-36560
count-36560
total-36561
count-36561
total-36562
column8 double_ele[1, 7]
row 9double_ele[1, 7]
count-36562
total-36563
row 2double_ele[2, 7]
count-36563
total-36564
count-36564
total-36565
count-36565
total-36566
count-36566
total-36567
column4 double_ele[2, 7]
count-36567
total-36568
count-36568
total-36569
count-36569
total-36570
count-36570
total-36571
count-36571
total-36572
count-36572
total-36573
count-36573
total-36574
count-36574
total-36575
row 5double_ele[2, 5]
count-36575
total-36576
count-36576
total-36577
count-36577
total-36578
count-36578
total-36579
row 2double_ele[1, 5]
count-36579
total-36580
count-36580
total-36581
count-36581
total-36582
count-36582
total-36583
column6 double_ele[1, 3]
row 7double_ele[1, 3]
count-36583
total-36584
count-36584
total-36585
count-36585
total-36586
count-36586
total-36587
count-36587
total-36588
count-36588
total-36589
column4 double_ele[1, 3]
count-36589
total-36590
count-36590
total-36591
count-36591
total-36592
count-36592
total-36593
row 1double_ele[1, 3]
column6 double_ele[1, 3]
count-36593
total-36594
count-36594
total-36595
count-36595
total-36596
count-36596
total-36597
count-36597
total-36598
count-36598
total-36599
count-36599
total-36600
count-36600
total-36601
count-36601
total-36602
row 5double_ele[1, 8]
count-36602
total-36603
count-36603
total-36604
count-36604
total-36605
count-36605
total-36606
count-36606
total-36607
count-36607
total-36608
count-36608
total-36609
count-36609
total-36610
row 1double_ele[1, 6]
count-36610
total-36611
count-36611
total-36612
count-36612
total-36613
count-36613
total-36614
count-36614
total-36615
count-36615
total-36616
count-36616
total-36617
count-36617
total-36618
count-36618
total-36619
count-36619
total-36620
count-36620
total-36621
count-36621
total-36622
count-36622
total-36623
count-36623
total-36624
count-36624
total-36625
count-36625
total-36626
count-36626
total-36627
count-36627
total-36628
row 4double_ele[4, 7]
count-36628
total-36629
count-36629
total-36630
count-36630
total-36631
count-36631
total-36632
count-36632
total-36633
count-36633
total-36634
column4 double_ele[1, 5]
count-36634
total-36635
count-36635
total-36636
column1 double_ele[2, 5]
count-36636
total-36637
count-36637
total-36638
count-36638
total-36639
count-36639
total-36640
count-36640
total-36641
count-36641
total-36642
column5 double_ele[1, 3]
row 6double_ele[1, 3]
count-36642
total-36643
row 6double_ele[3, 4]
count-36643
total-36644
count-36644
total-36645
column3 double_ele[1, 2]
count-36645
total-36646
count-36646
total-36647
count-36647
total-36648
row 3double_ele[6, 9]
count-36648
total-36649
count-36649
total-36650
column5 double_ele[1, 3]
count-36650
total-36651
count-36651
total-36652
column7 double_ele[1, 2]
count-36652
total-36653
count-36653
total-36654
row 4double_ele[3, 4]
column8 double_ele[6, 8]
count-36654
total-36655
count-36655
total-36656
count-36656
total-36657
count-36657
total-36658
count-36658
total-36659
count-36659
total-36660
count-36660
total-36661
column4 double_ele[3, 4]
column9 double_ele[3, 5]
row 5triple_ele[3, 4, 5]
count-36661
total-36662
count-36662
total-36663
count-36663
total-36664
count-36664
total-36665
count-36665
total-36666
count-36666
total-36667
count-36667
total-36668
count-36668
total-36669
count-36669
total-36670
count-36670
total-36671
count-36671
total-36672
count-36672
total-36673
count-36673
total-36674
count-36674
total-36675
count-36675
total-36676
count-36676
total-36677
count-36677
total-36678
count-36678
total-36679
count-36679
total-36680
count-36680
total-36681
count-36681
total-36682
count-36682
total-36683
count-36683
total-36684
count-36684
total-36685
count-36685
total-36686
count-36686
total-36687
count-36687
total-36688
count-36688
total-36689
count-36689
total-36690
count-36690
total-36691
count-36691
total-36692
column6 double_ele[5, 6]
count-36692
total-36693
count-36693
total-36694
count-36694
total-36695
count-36695
total-36696
row 6double_ele[4, 6]
count-36696
total-36697
count-36697
total-36698
count-36698
total-36699
count-36699
total-36700
count-36700
total-36701
count-36701
total-36702
count-36702
total-36703
count-36703
total-36704
count-36704
total-36705
count-36705
total-36706
column9 double_ele[3, 5]
count-36706
total-36707
row 3double_ele[2, 5]
count-36707
total-36708
count-36708
total-36709
count-36709
total-36710
count-36710
total-36711
count-36711
total-36712
count-36712
total-36713
count-36713
total-36714
count-36714
total-36715
count-36715
total-36716
count-36716
total-36717
count-36717
total-36718
count-36718
total-36719
count-36719
total-36720
count-36720
total-36721
count-36721
total-36722
count-36722
total-36723
count-36723
total-36724
count-36724
total-36725
row 2double_ele[1, 8]
count-36725
total-36726
count-36726
total-36727
count-36727
total-36728
count-36728
total-36729
count-36729
total-36730
count-36730
total-36731
row 7double_ele[1, 9]
count-36731
total-36732
count-36732
total-36733
count-36733
total-36734
count-36734
total-36735
count-36735
total-36736
count-36736
total-36737
count-36737
total-36738
count-36738
total-36739
count-36739
total-36740
count-36740
total-36741
count-36741
total-36742
count-36742
total-36743
count-36743
total-36744
count-36744
total-36745
count-36745
total-36746
column2 double_ele[3, 5]
row 6double_ele[3, 5]
count-36746
total-36747
count-36747
total-36748
row 9double_ele[1, 3]
count-36748
total-36749
row 5double_ele[1, 6]
count-36749
total-36750
count-36750
total-36751
count-36751
total-36752
count-36752
total-36753
count-36753
total-36754
count-36754
total-36755
count-36755
total-36756
column3 double_ele[3, 4]
count-36756
total-36757
count-36757
total-36758
count-36758
total-36759
count-36759
total-36760
count-36760
total-36761
count-36761
total-36762
count-36762
total-36763
count-36763
total-36764
count-36764
total-36765
count-36765
total-36766
count-36766
total-36767
count-36767
total-36768
count-36768
total-36769
count-36769
total-36770
count-36770
total-36771
count-36771
total-36772
column9 double_ele[2, 7]
count-36772
total-36773
count-36773
total-36774
count-36774
total-36775
count-36775
total-36776
count-36776
total-36777
count-36777
total-36778
count-36778
total-36779
row 3double_ele[1, 3]
count-36779
total-36780
column1 double_ele[4, 5]
count-36780
total-36781
count-36781
total-36782
row 7triple_ele[2, 6, 7]
count-36782
total-36783
count-36783
total-36784
count-36784
total-36785
count-36785
total-36786
count-36786
total-36787
count-36787
total-36788
count-36788
total-36789
row 4double_ele[2, 7]
row 8double_ele[2, 4]
count-36789
total-36790
count-36790
total-36791
count-36791
total-36792

count-36792
total-36793
count-36793
total-36794
count-36794
total-36795
count-36795
total-36796
row 8double_ele[6, 7]
count-36796
total-36797
count-36797
total-36798
count-36798
total-36799
count-36799
total-36800
count-36800
total-36801
count-36801
total-36802
count-36802
total-36803
count-36803
total-36804
count-36804
total-36805
count-36805
total-36806
count-36806
total-36807
count-36807
total-36808
count-36808
total-36809
count-36809
total-36810
count-36810
total-36811
count-36811
total-36812
count-36812
total-36813
count-36813
total-36814
count-36814
total-36815
count-36815
total-36816
count-36816
total-36817
count-36817
total-36818
count-36818
total-36819
count-36819
total-36820
count-36820
total-36821
count-36821
total-36822
count-36822
total-36823
count-36823
total-36824
row 3double_ele[3, 4]
count-36824
total-36825
column2 double_ele[3, 5]
row 3double_ele[3, 5]
column7 double_ele[3, 6]
box3 triple_ele[1, 3, 5]
count-36825
total-36826
count-36826
total-36827
count-36827
total-36828
count-36828
total-36829
count-36829
total-36830
column9 double_ele[2, 3]
count-36830
total-36831
count-36831
total-36832
count-36832
total-36833
count-36833
total-36834
count-36834
total-36835
count-36835
total-36836
count-36836
total-36837
count-36837
total-36838
count-36838
total-36839
count-36839
total-36840
count-36840
total-36841
count-36841
total-36842
count-36842
total-36843
count-36843
total-36844
count-36844
total-36845
count-36845
total-36846
count-36846
total-36847
count-36847
total-36848
count-36848
total-36849
column8 double_ele[1, 5]
count-36849
total-36850
row 6double_ele[2, 4]
count-36850
total-36851
count-36851
total-36852
count-36852
total-36853
count-36853
total-36854
count-36854
total-36855
count-36855
total-36856
count-36856
total-36857
count-36857
total-36858
count-36858
total-36859
count-36859
total-36860
count-36860
total-36861
count-36861
total-36862
count-36862
total-36863
count-36863
total-36864
count-36864
total-36865
count-36865
total-36866
count-36866
total-36867
count-36867
total-36868
count-36868
total-36869
count-36869
total-36870
count-36870
total-36871
count-36871
total-36872
count-36872
total-36873
row 5double_ele[2, 4]
count-36873
total-36874
count-36874
total-36875
count-36875
total-36876
count-36876
total-36877
count-36877
total-36878
count-36878
total-36879
count-36879
total-36880
count-36880
total-36881
count-36881
total-36882
count-36882
total-36883
count-36883
total-36884
row 1double_ele[1, 5]
count-36884
total-36885
count-36885
total-36886
count-36886
total-36887
count-36887
total-36888
count-36888
total-36889
count-36889
total-36890
count-36890
total-36891
count-36891
total-36892
count-36892
total-36893
count-36893
total-36894
count-36894
total-36895
count-36895
total-36896
row 2double_ele[2, 3]
column9 double_ele[5, 7]
count-36896
total-36897
count-36897
total-36898
count-36898
total-36899
count-36899
total-36900
count-36900
total-36901
count-36901
total-36902
count-36902
total-36903
count-36903
total-36904
count-36904
total-36905
count-36905
total-36906
count-36906
total-36907
count-36907
total-36908
count-36908
total-36909
count-36909
total-36910
count-36910
total-36911
count-36911
total-36912
column7 double_ele[1, 2]
count-36912
total-36913
count-36913
total-36914
count-36914
total-36915
count-36915
total-36916
count-36916
total-36917
count-36917
total-36918
column3 double_ele[6, 8]
row 4double_ele[6, 8]
count-36918
total-36919
count-36919
total-36920
count-36920
total-36921
row 2double_ele[2, 4]
count-36921
total-36922
count-36922
total-36923
count-36923
total-36924
count-36924
total-36925
count-36925
total-36926
count-36926
total-36927
count-36927
total-36928
row 6double_ele[3, 6]
row 9double_ele[1, 6]
count-36928
total-36929
count-36929
total-36930
count-36930
total-36931
count-36931
total-36932
count-36932
total-36933
count-36933
total-36934
count-36934
total-36935
count-36935
total-36936
count-36936
total-36937
count-36937
total-36938
count-36938
total-36939
count-36939
total-36940
count-36940
total-36941
count-36941
total-36942
count-36942
total-36943
count-36943
total-36944
count-36944
total-36945
count-36945
total-36946
count-36946
total-36947
count-36947
total-36948
count-36948
total-36949
count-36949
total-36950
count-36950
total-36951
count-36951
total-36952
count-36952
total-36953
count-36953
total-36954
column8 double_ele[2, 7]
count-36954
total-36955
count-36955
total-36956
count-36956
total-36957
count-36957
total-36958
count-36958
total-36959
row 1double_ele[1, 3]
count-36959
total-36960
count-36960
total-36961
count-36961
total-36962
count-36962
total-36963
count-36963
total-36964
count-36964
total-36965
count-36965
total-36966
count-36966
total-36967
count-36967
total-36968
count-36968
total-36969
row 8double_ele[3, 5]
count-36969
total-36970
count-36970
total-36971
count-36971
total-36972
count-36972
total-36973
row 6double_ele[1, 3]
count-36973
total-36974
count-36974
total-36975
count-36975
total-36976
count-36976
total-36977
count-36977
total-36978
column2 double_ele[2, 5]
count-36978
total-36979
count-36979
total-36980
row 2double_ele[1, 3]
column4 double_ele[1, 3]
row 7double_ele[1, 3]
count-36980
total-36981
count-36981
total-36982
column3 double_ele[1, 2]
row 7double_ele[3, 7]
row 8double_ele[1, 2]
count-36982
total-36983
row 9double_ele[3, 4]
count-36983
total-36984
count-36984
total-36985
count-36985
total-36986
count-36986
total-36987
count-36987
total-36988
count-36988
total-36989
count-36989
total-36990
count-36990
total-36991
count-36991
total-36992
column6 double_ele[6, 8]
count-36992
total-36993
count-36993
total-36994
count-36994
total-36995
count-36995
total-36996
count-36996
total-36997
count-36997
total-36998
count-36998
total-36999
count-36999
total-37000
count-37000
total-37001
count-37001
total-37002
count-37002
total-37003
count-37003
total-37004
count-37004
total-37005
count-37005
total-37006
count-37006
total-37007
count-37007
total-37008
count-37008
total-37009
count-37009
total-37010
count-37010
total-37011
count-37011
total-37012
count-37012
total-37013
count-37013
total-37014
count-37014
total-37015
count-37015
total-37016
count-37016
total-37017
count-37017
total-37018
count-37018
total-37019
count-37019
total-37020
count-37020
total-37021
count-37021
total-37022
count-37022
total-37023
count-37023
total-37024
count-37024
total-37025
count-37025
total-37026
count-37026
total-37027
count-37027
total-37028
count-37028
total-37029
count-37029
total-37030
count-37030
total-37031
count-37031
total-37032
count-37032
total-37033
count-37033
total-37034
count-37034
total-37035
count-37035
total-37036
count-37036
total-37037
count-37037
total-37038
count-37038
total-37039
count-37039
total-37040
count-37040
total-37041
count-37041
total-37042
count-37042
total-37043
count-37043
total-37044
column3 double_ele[2, 7]
count-37044
total-37045
count-37045
total-37046
count-37046
total-37047
count-37047
total-37048
count-37048
total-37049
count-37049
total-37050
count-37050
total-37051
count-37051
total-37052
count-37052
total-37053
count-37053
total-37054
count-37054
total-37055
count-37055
total-37056
count-37056
total-37057
row 2double_ele[6, 7]
row 9triple_ele[2, 5, 6]
count-37057
total-37058
count-37058
total-37059
count-37059
total-37060
column9 double_ele[4, 5]
count-37060
total-37061
count-37061
total-37062
row 9double_ele[6, 7]
count-37062
total-37063
count-37063
total-37064
column8 double_ele[1, 5]
count-37064
total-37065
count-37065
total-37066
count-37066
total-37067
count-37067
total-37068
count-37068
total-37069
count-37069
total-37070
count-37070
total-37071
count-37071
total-37072
count-37072
total-37073
count-37073
total-37074
count-37074
total-37075
count-37075
total-37076
count-37076
total-37077
count-37077
total-37078
column3 double_ele[2, 3]
count-37078
total-37079
count-37079
total-37080
count-37080
total-37081
count-37081
total-37082
count-37082
total-37083
count-37083
total-37084
count-37084
total-37085
count-37085
total-37086
count-37086
total-37087
row 2double_ele[1, 5]
column7 double_ele[1, 5]
count-37087
total-37088
count-37088
total-37089
count-37089
total-37090
count-37090
total-37091
row 7double_ele[3, 4]
count-37091
total-37092
count-37092
total-37093
count-37093
total-37094
count-37094
total-37095
count-37095
total-37096
count-37096
total-37097
count-37097
total-37098
count-37098
total-37099
count-37099
total-37100
row 3double_ele[1, 9]
count-37100
total-37101
count-37101
total-37102
column4 double_ele[3, 5]
column9 double_ele[1, 5]
count-37102
total-37103
count-37103
total-37104

column1 double_ele[2, 8]
count-37104
total-37105
count-37105
total-37106
count-37106
total-37107
count-37107
total-37108
count-37108
total-37109
count-37109
total-37110
count-37110
total-37111
count-37111
total-37112
count-37112
total-37113
count-37113
total-37114
count-37114
total-37115
count-37115
total-37116
count-37116
total-37117
count-37117
total-37118
count-37118
total-37119
count-37119
total-37120
count-37120
total-37121
count-37121
total-37122
count-37122
total-37123
count-37123
total-37124
row 2double_ele[5, 6]
count-37124
total-37125
count-37125
total-37126
count-37126
total-37127
count-37127
total-37128
count-37128
total-37129
count-37129
total-37130
count-37130
total-37131
count-37131
total-37132
count-37132
total-37133
count-37133
total-37134
count-37134
total-37135
count-37135
total-37136
count-37136
total-37137
count-37137
total-37138
count-37138
total-37139
row 3double_ele[2, 3]
count-37139
total-37140
count-37140
total-37141
count-37141
total-37142
count-37142
total-37143
count-37143
total-37144
count-37144
total-37145
count-37145
total-37146
count-37146
total-37147
column3 double_ele[1, 2]
count-37147
total-37148
count-37148
total-37149
count-37149
total-37150
count-37150
total-37151
count-37151
total-37152
count-37152
total-37153
column1 double_ele[6, 8]
count-37153
total-37154
count-37154
total-37155
count-37155
total-37156
count-37156
total-37157
count-37157
total-37158
count-37158
total-37159
count-37159
total-37160
count-37160
total-37161
count-37161
total-37162
count-37162
total-37163
count-37163
total-37164
count-37164
total-37165
count-37165
total-37166
count-37166
total-37167
count-37167
total-37168
count-37168
total-37169
count-37169
total-37170
count-37170
total-37171
count-37171
total-37172
row 6double_ele[2, 3]
row 9double_ele[3, 4]
count-37172
total-37173
row 8double_ele[3, 7]
count-37173
total-37174
count-37174
total-37175
count-37175
total-37176
count-37176
total-37177
count-37177
total-37178
count-37178
total-37179
count-37179
total-37180
count-37180
total-37181
count-37181
total-37182
count-37182
total-37183
count-37183
total-37184
count-37184
total-37185
row 1double_ele[1, 6]
count-37185
total-37186
count-37186
total-37187
count-37187
total-37188
count-37188
total-37189
count-37189
total-37190
count-37190
total-37191
count-37191
total-37192
count-37192
total-37193
count-37193
total-37194
count-37194
total-37195
count-37195
total-37196
count-37196
total-37197
count-37197
total-37198
count-37198
total-37199
count-37199
total-37200
count-37200
total-37201
column5 double_ele[2, 7]
count-37201
total-37202
count-37202
total-37203
count-37203
total-37204
count-37204
total-37205
row 3double_ele[1, 3]
column5 double_ele[1, 3]
count-37205
total-37206
row 4double_ele[4, 7]
count-37206
total-37207
count-37207
total-37208
count-37208
total-37209
count-37209
total-37210
count-37210
total-37211
count-37211
total-37212
count-37212
total-37213
count-37213
total-37214
count-37214
total-37215
count-37215
total-37216
count-37216
total-37217
count-37217
total-37218
count-37218
total-37219
count-37219
total-37220
count-37220
total-37221
count-37221
total-37222
count-37222
total-37223
count-37223
total-37224
count-37224
total-37225
count-37225
total-37226
count-37226
total-37227
count-37227
total-37228
count-37228
total-37229
count-37229
total-37230
count-37230
total-37231
count-37231
total-37232
row 6double_ele[4, 7]
count-37232
total-37233
count-37233
total-37234
count-37234
total-37235
count-37235
total-37236
count-37236
total-37237
count-37237
total-37238
count-37238
total-37239
count-37239
total-37240
count-37240
total-37241
count-37241
total-37242
column2 double_ele[2, 3]
count-37242
total-37243
count-37243
total-37244
count-37244
total-37245
count-37245
total-37246
row 1double_ele[1, 5]
count-37246
total-37247
count-37247
total-37248
count-37248
total-37249
count-37249
total-37250
count-37250
total-37251
count-37251
total-37252
count-37252
total-37253
count-37253
total-37254
count-37254
total-37255
count-37255
total-37256
count-37256
total-37257
count-37257
total-37258
count-37258
total-37259
count-37259
total-37260
count-37260
total-37261
count-37261
total-37262
count-37262
total-37263
count-37263
total-37264
count-37264
total-37265
count-37265
total-37266
count-37266
total-37267
count-37267
total-37268
count-37268
total-37269
row 6double_ele[2, 5]
count-37269
total-37270
row 2double_ele[1, 5]
column6 double_ele[4, 5]
count-37270
total-37271
count-37271
total-37272
count-37272
total-37273
count-37273
total-37274
count-37274
total-37275
count-37275
total-37276
row 2double_ele[3, 5]
count-37276
total-37277
count-37277
total-37278
count-37278
total-37279
count-37279
total-37280
count-37280
total-37281
count-37281
total-37282
count-37282
total-37283
count-37283
total-37284
count-37284
total-37285
count-37285
total-37286
count-37286
total-37287
count-37287
total-37288
count-37288
total-37289
count-37289
total-37290
count-37290
total-37291
row 4double_ele[2, 6]
column7 double_ele[2, 6]
box3 triple_ele[1, 2, 6]
count-37291
total-37292
count-37292
total-37293
count-37293
total-37294
count-37294
total-37295
count-37295
total-37296
count-37296
total-37297
count-37297
total-37298
count-37298
total-37299
count-37299
total-37300
count-37300
total-37301
count-37301
total-37302
count-37302
total-37303
count-37303
total-37304
count-37304
total-37305
count-37305
total-37306
count-37306
total-37307
count-37307
total-37308
count-37308
total-37309
row 1double_ele[1, 4]
column5 double_ele[1, 4]
row 8double_ele[1, 4]
count-37309
total-37310
count-37310
total-37311
count-37311
total-37312
column9 double_ele[2, 4]
count-37312
total-37313
count-37313
total-37314
count-37314
total-37315
count-37315
total-37316
count-37316
total-37317
count-37317
total-37318
row 8double_ele[1, 4]
count-37318
total-37319
count-37319
total-37320
count-37320
total-37321
count-37321
total-37322
count-37322
total-37323
count-37323
total-37324
row 4double_ele[1, 7]
count-37324
total-37325
column3 double_ele[4, 6]
row 4double_ele[4, 6]
count-37325
total-37326
count-37326
total-37327
count-37327
total-37328
count-37328
total-37329
count-37329
total-37330
count-37330
total-37331
count-37331
total-37332
count-37332
total-37333
count-37333
total-37334
count-37334
total-37335
column2 double_ele[1, 3]
row 5double_ele[1, 3]
column5 double_ele[1, 3]
count-37335
total-37336
count-37336
total-37337
count-37337
total-37338
count-37338
total-37339
count-37339
total-37340
count-37340
total-37341
count-37341
total-37342
count-37342
total-37343
count-37343
total-37344
count-37344
total-37345
count-37345
total-37346
count-37346
total-37347
count-37347
total-37348
count-37348
total-37349
count-37349
total-37350
count-37350
total-37351
count-37351
total-37352
count-37352
total-37353
count-37353
total-37354
count-37354
total-37355
count-37355
total-37356
count-37356
total-37357
count-37357
total-37358
count-37358
total-37359
count-37359
total-37360
row 2double_ele[2, 4]
column7 double_ele[6, 7]
count-37360
total-37361
count-37361
total-37362
count-37362
total-37363
count-37363
total-37364
count-37364
total-37365
count-37365
total-37366
count-37366
total-37367
count-37367
total-37368
count-37368
total-37369
count-37369
total-37370
count-37370
total-37371
count-37371
total-37372
count-37372
total-37373
count-37373
total-37374
count-37374
total-37375
row 9double_ele[1, 3]
count-37375
total-37376
count-37376
total-37377
count-37377
total-37378
count-37378
total-37379
count-37379
total-37380
count-37380
total-37381
count-37381
total-37382
count-37382
total-37383
count-37383
total-37384
count-37384
total-37385
count-37385
total-37386
count-37386
total-37387
count-37387
total-37388
count-37388
total-37389
column4 double_ele[1, 3]
count-37389
total-37390
count-37390
total-37391
count-37391
total-37392
column2 double_ele[6, 9]
count-37392
total-37393
row 5double_ele[4, 7]
count-37393
total-37394
count-37394
total-37395
count-37395
total-37396
count-37396
total-37397
count-37397
total-37398
count-37398
total-37399
count-37399
total-37400
count-37400
total-37401
count-37401
total-37402
row 1double_ele[5, 6]
column1 double_ele[5, 6]
count-37402
total-37403
count-37403
total-37404
count-37404
total-37405
count-37405
total-37406
count-37406
total-37407

count-37407
total-37408
count-37408
total-37409
count-37409
total-37410
count-37410
total-37411
column9 double_ele[3, 4]
count-37411
total-37412
count-37412
total-37413
count-37413
total-37414
count-37414
total-37415
count-37415
total-37416
count-37416
total-37417
count-37417
total-37418
count-37418
total-37419
count-37419
total-37420
count-37420
total-37421
count-37421
total-37422
count-37422
total-37423
count-37423
total-37424
count-37424
total-37425
count-37425
total-37426
column1 double_ele[2, 9]
count-37426
total-37427
count-37427
total-37428
column6 double_ele[2, 3]
count-37428
total-37429
count-37429
total-37430
count-37430
total-37431
column4 double_ele[1, 2]
count-37431
total-37432
count-37432
total-37433
count-37433
total-37434
count-37434
total-37435
column6 double_ele[4, 9]
count-37435
total-37436
count-37436
total-37437
column6 double_ele[1, 3]
count-37437
total-37438
column1 double_ele[1, 4]
row 4double_ele[1, 4]
count-37438
total-37439
count-37439
total-37440
count-37440
total-37441
count-37441
total-37442
count-37442
total-37443
count-37443
total-37444
count-37444
total-37445
count-37445
total-37446
count-37446
total-37447
count-37447
total-37448
row 8double_ele[5, 6]
count-37448
total-37449
count-37449
total-37450
count-37450
total-37451
count-37451
total-37452
count-37452
total-37453
count-37453
total-37454
count-37454
total-37455
count-37455
total-37456
count-37456
total-37457
row 3double_ele[1, 6]
count-37457
total-37458
count-37458
total-37459
count-37459
total-37460
count-37460
total-37461
count-37461
total-37462
count-37462
total-37463
count-37463
total-37464
count-37464
total-37465
count-37465
total-37466
count-37466
total-37467
count-37467
total-37468
count-37468
total-37469
count-37469
total-37470
row 7double_ele[2, 3]
column9 double_ele[2, 3]
count-37470
total-37471
count-37471
total-37472
count-37472
total-37473
count-37473
total-37474
count-37474
total-37475
count-37475
total-37476
count-37476
total-37477
count-37477
total-37478
count-37478
total-37479
count-37479
total-37480
count-37480
total-37481
count-37481
total-37482
count-37482
total-37483
count-37483
total-37484
count-37484
total-37485
count-37485
total-37486
count-37486
total-37487
count-37487
total-37488
count-37488
total-37489
count-37489
total-37490
count-37490
total-37491
count-37491
total-37492
count-37492
total-37493
count-37493
total-37494
column2 double_ele[2, 4]
row 6double_ele[2, 4]
count-37494
total-37495
count-37495
total-37496
count-37496
total-37497
count-37497
total-37498
count-37498
total-37499
count-37499
total-37500
count-37500
total-37501
row 1double_ele[2, 3]
count-37501
total-37502
count-37502
total-37503
column1 double_ele[5, 6]
row 2double_ele[1, 6]
column2 double_ele[1, 6]
row 5double_ele[1, 6]
column8 double_ele[1, 6]
count-37503
total-37504
count-37504
total-37505
count-37505
total-37506
count-37506
total-37507
count-37507
total-37508
count-37508
total-37509
count-37509
total-37510
count-37510
total-37511
count-37511
total-37512
row 1double_ele[1, 8]
count-37512
total-37513
count-37513
total-37514
count-37514
total-37515
count-37515
total-37516
count-37516
total-37517
count-37517
total-37518
count-37518
total-37519
count-37519
total-37520
count-37520
total-37521
count-37521
total-37522
count-37522
total-37523
count-37523
total-37524
count-37524
total-37525
count-37525
total-37526
row 2double_ele[3, 4]
count-37526
total-37527
count-37527
total-37528
count-37528
total-37529
row 2double_ele[1, 4]
column3 double_ele[1, 5]
row 4double_ele[4, 5]
row 6double_ele[1, 5]
column6 double_ele[4, 5]
row 7double_ele[1, 5]
row 8double_ele[1, 7]
row 5triple_ele[1, 4, 5]
column5 triple_ele[1, 4, 5]
box6 triple_ele[1, 4, 5]
count-37528
total-37530
count-37529
total-37531
count-37530
total-37532
count-37531
total-37533
count-37532
total-37534
count-37533
total-37535
row 7double_ele[4, 5]
count-37534
total-37536
count-37535
total-37537
count-37536
total-37538
count-37537
total-37539
count-37538
total-37540
column7 double_ele[1, 2]
count-37539
total-37541
count-37540
total-37542
count-37541
total-37543
count-37542
total-37544
count-37543
total-37545
count-37544
total-37546
count-37545
total-37547
count-37546
total-37548
count-37547
total-37549
count-37548
total-37550
count-37549
total-37551
count-37550
total-37552
count-37551
total-37553
count-37552
total-37554
count-37553
total-37555
row 4double_ele[6, 8]
column8 double_ele[6, 8]
count-37554
total-37556
count-37555
total-37557
count-37556
total-37558
count-37557
total-37559
count-37558
total-37560
count-37559
total-37561
count-37560
total-37562
count-37561
total-37563
column4 double_ele[1, 2]
count-37562
total-37564
count-37563
total-37565
count-37564
total-37566
count-37565
total-37567
count-37566
total-37568
count-37567
total-37569
count-37568
total-37570
count-37569
total-37571
count-37570
total-37572
count-37571
total-37573
count-37572
total-37574
count-37573
total-37575
row 1double_ele[1, 6]
row 5double_ele[4, 6]
count-37574
total-37576
count-37575
total-37577
count-37576
total-37578
count-37577
total-37579
row 1double_ele[3, 6]
row 5double_ele[3, 7]
column5 double_ele[3, 7]
row 7double_ele[6, 7]
count-37578
total-37580
count-37579
total-37581
count-37580
total-37582
count-37581
total-37583
count-37582
total-37584
count-37583
total-37585
count-37584
total-37586
count-37585
total-37587
column4 double_ele[4, 7]
count-37586
total-37588
count-37587
total-37589
count-37588
total-37590
count-37589
total-37591
count-37590
total-37592
count-37591
total-37593
count-37592
total-37594
count-37593
total-37595
count-37594
total-37596
count-37595
total-37597
count-37596
total-37598
count-37597
total-37599
count-37598
total-37600
count-37599
total-37601
count-37600
total-37602
column9 double_ele[3, 5]
row 7triple_ele[2, 3, 5]
row 9triple_ele[2, 3, 5]
count-37601
total-37603
column6 double_ele[1, 6]
count-37602
total-37604
count-37603
total-37605
count-37604
total-37606
count-37605
total-37607
count-37606
total-37608
count-37607
total-37609
count-37608
total-37610
count-37609
total-37611
count-37610
total-37612
count-37611
total-37613
count-37612
total-37614
count-37613
total-37615
count-37614
total-37616
count-37615
total-37617
count-37616
total-37618
count-37617
total-37619
count-37618
total-37620
count-37619
total-37621
count-37620
total-37622
count-37621
total-37623
count-37622
total-37624
count-37623
total-37625
count-37624
total-37626
count-37625
total-37627
count-37626
total-37628
count-37627
total-37629
count-37628
total-37630
count-37629
total-37631
count-37630
total-37632
count-37631
total-37633
count-37632
total-37634
row 3double_ele[6, 7]
count-37633
total-37635
row 5double_ele[1, 6]
column9 double_ele[1, 6]
count-37634
total-37636
count-37635
total-37637
count-37636
total-37638
count-37637
total-37639
count-37638
total-37640
row 4double_ele[1, 2]
count-37639
total-37641
count-37640
total-37642
count-37641
total-37643
row 5double_ele[2, 5]
column8 double_ele[5, 8]
count-37642
total-37644
count-37643
total-37645
count-37644
total-37646
count-37645
total-37647
count-37646
total-37648
count-37647
total-37649
count-37648
total-37650
count-37649
total-37651
count-37650
total-37652
count-37651
total-37653
row 5double_ele[1, 2]
count-37652
total-37654
count-37653
total-37655
count-37654
total-37656
row 3double_ele[2, 3]
column5 double_ele[2, 3]
count-37655
total-37657
count-37656
total-37658
row 3double_ele[1, 3]
count-37657
total-37659
count-37658
total-37660
count-37659
total-37661
count-37660
total-37662
count-37661
total-37663
count-37662
total-37664
count-37663
total-37665
count-37664
total-37666
count-37665
total-37667
count-37666
total-37668
count-37667
total-37669
count-37668
total-37670
count-37669
total-37671
count-37670
total-37672
row 3double_ele[1, 7]
count-37671
total-37673
count-37672
total-37674
count-37673
total-37675
count-37674
total-37676
count-37675
total-37677
count-37676
total-37678
count-37677
total-37679
count-37678
total-37680
count-37679
total-37681
column7 double_ele[5, 7]
row 9double_ele[5, 7]
count-37680
total-37682
count-37681
total-37683
count-37682
total-37684
row 4double_ele[6, 8]
count-37683
total-37685
count-37684
total-37686
column3 double_ele[1, 4]
row 8double_ele[3, 7]
count-37685
total-37687
count-37686
total-37688
count-37687
total-37689
count-37688
total-37690
count-37689
total-37691
count-37690
total-37692

count-37691
total-37693
count-37692
total-37694
count-37693
total-37695
count-37694
total-37696
count-37695
total-37697
count-37696
total-37698
count-37697
total-37699
count-37698
total-37700
count-37699
total-37701
count-37700
total-37702
count-37701
total-37703
count-37702
total-37704
count-37703
total-37705
count-37704
total-37706
count-37705
total-37707
count-37706
total-37708
count-37707
total-37709
count-37708
total-37710
count-37709
total-37711
count-37710
total-37712
count-37711
total-37713
count-37712
total-37714
count-37713
total-37715
count-37714
total-37716
count-37715
total-37717
count-37716
total-37718
count-37717
total-37719
count-37718
total-37720
count-37719
total-37721
count-37720
total-37722
count-37721
total-37723
count-37722
total-37724
row 3double_ele[1, 3]
row 5double_ele[1, 3]
column7 double_ele[1, 3]
count-37723
total-37725
count-37724
total-37726
count-37725
total-37727
count-37726
total-37728
count-37727
total-37729
count-37728
total-37730
count-37729
total-37731
count-37730
total-37732
row 9double_ele[2, 4]
count-37731
total-37733
count-37732
total-37734
count-37733
total-37735
count-37734
total-37736
row 2double_ele[1, 6]
count-37735
total-37737
count-37736
total-37738
count-37737
total-37739
count-37738
total-37740
count-37739
total-37741
count-37740
total-37742
row 4double_ele[2, 6]
column4 double_ele[1, 2]
count-37741
total-37743
count-37742
total-37744
count-37743
total-37745
row 3double_ele[1, 7]
column7 double_ele[1, 7]
count-37744
total-37746
count-37745
total-37747
count-37746
total-37748
count-37747
total-37749
row 1double_ele[1, 3]
count-37748
total-37750
count-37749
total-37751
count-37750
total-37752
count-37751
total-37753
row 6double_ele[1, 5]
count-37752
total-37754
count-37753
total-37755
count-37754
total-37756
count-37755
total-37757
column6 double_ele[4, 7]
count-37756
total-37758
count-37757
total-37759
count-37758
total-37760
count-37759
total-37761
count-37760
total-37762
count-37761
total-37763
count-37762
total-37764
count-37763
total-37765
count-37764
total-37766
count-37765
total-37767
count-37766
total-37768
count-37767
total-37769
count-37768
total-37770
column4 double_ele[1, 2]
count-37769
total-37771
count-37770
total-37772
count-37771
total-37773
count-37772
total-37774
count-37773
total-37775
count-37774
total-37776
count-37775
total-37777
count-37776
total-37778
count-37777
total-37779
count-37778
total-37780
row 3double_ele[2, 8]
count-37779
total-37781
count-37780
total-37782
count-37781
total-37783
count-37782
total-37784
count-37783
total-37785
count-37784
total-37786
count-37785
total-37787
count-37786
total-37788
count-37787
total-37789
count-37788
total-37790
count-37789
total-37791
count-37790
total-37792
count-37791
total-37793
count-37792
total-37794
count-37793
total-37795
count-37794
total-37796
count-37795
total-37797
count-37796
total-37798
count-37797
total-37799
count-37798
total-37800
column7 double_ele[4, 7]
count-37799
total-37801
count-37800
total-37802
count-37801
total-37803
count-37802
total-37804
count-37803
total-37805
count-37804
total-37806
count-37805
total-37807
row 6double_ele[2, 3]
count-37806
total-37808
count-37807
total-37809
count-37808
total-37810
count-37809
total-37811
count-37810
total-37812
count-37811
total-37813
count-37812
total-37814
row 1double_ele[1, 4]
count-37813
total-37815
count-37814
total-37816
row 6double_ele[6, 8]
count-37815
total-37817
count-37816
total-37818
count-37817
total-37819
count-37818
total-37820
count-37819
total-37821
count-37820
total-37822
row 6double_ele[3, 4]
count-37821
total-37823
count-37822
total-37824
count-37823
total-37825
count-37824
total-37826
count-37825
total-37827
count-37826
total-37828
count-37827
total-37829
count-37828
total-37830
count-37829
total-37831
count-37830
total-37832
count-37831
total-37833
count-37832
total-37834
count-37833
total-37835
count-37834
total-37836
count-37835
total-37837
count-37836
total-37838
count-37837
total-37839
row 2double_ele[3, 6]
count-37838
total-37840
count-37839
total-37841
count-37840
total-37842
count-37841
total-37843
count-37842
total-37844
count-37843
total-37845
count-37844
total-37846
count-37845
total-37847
count-37846
total-37848
count-37847
total-37849
count-37848
total-37850
count-37849
total-37851
count-37850
total-37852
column4 double_ele[2, 6]
column8 double_ele[1, 2]
count-37851
total-37853
count-37852
total-37854
count-37853
total-37855
count-37854
total-37856
row 5double_ele[1, 4]
count-37855
total-37857
count-37856
total-37858
column2 double_ele[1, 8]
count-37857
total-37859
count-37858
total-37860
count-37859
total-37861
count-37860
total-37862
count-37861
total-37863
column3 double_ele[1, 7]
column5 double_ele[1, 2]
count-37862
total-37864
row 4double_ele[2, 7]
count-37863
total-37865
count-37864
total-37866
count-37865
total-37867
count-37866
total-37868
count-37867
total-37869
count-37868
total-37870
count-37869
total-37871
count-37870
total-37872
count-37871
total-37873
count-37872
total-37874
count-37873
total-37875
row 8double_ele[3, 8]
count-37874
total-37876
count-37875
total-37877
count-37876
total-37878
count-37877
total-37879
count-37878
total-37880
count-37879
total-37881
count-37880
total-37882
count-37881
total-37883
count-37882
total-37884
row 7double_ele[1, 6]
count-37883
total-37885
count-37884
total-37886
count-37885
total-37887
count-37886
total-37888
count-37887
total-37889
count-37888
total-37890
count-37889
total-37891
row 5double_ele[3, 6]
row 9double_ele[1, 3]
count-37890
total-37892
count-37891
total-37893
count-37892
total-37894
count-37893
total-37895
count-37894
total-37896
count-37895
total-37897
count-37896
total-37898
count-37897
total-37899
count-37898
total-37900
count-37899
total-37901
count-37900
total-37902
count-37901
total-37903
count-37902
total-37904
count-37903
total-37905
count-37904
total-37906
count-37905
total-37907
count-37906
total-37908
count-37907
total-37909
column3 double_ele[1, 3]
count-37908
total-37910
row 6double_ele[3, 7]
count-37909
total-37911
count-37910
total-37912
count-37911
total-37913
column1 double_ele[3, 4]
column2 double_ele[3, 6]
row 4double_ele[3, 6]
column7 double_ele[2, 3]
count-37912
total-37914
count-37913
total-37915
row 6double_ele[2, 3]
count-37914
total-37916
count-37915
total-37917
count-37916
total-37918
count-37917
total-37919
count-37918
total-37920
count-37919
total-37921
count-37920
total-37922
row 7double_ele[1, 3]
column8 double_ele[1, 3]
count-37921
total-37923
count-37922
total-37924
count-37923
total-37925
count-37924
total-37926
count-37925
total-37927
count-37926
total-37928
count-37927
total-37929
count-37928
total-37930
count-37929
total-37931
count-37930
total-37932
count-37931
total-37933
count-37932
total-37934
count-37933
total-37935
count-37934
total-37936
count-37935
total-37937
count-37936
total-37938
count-37937
total-37939
count-37938
total-37940
count-37939
total-37941
column2 double_ele[4, 6]
row 7double_ele[4, 6]
row 9double_ele[2, 6]
count-37940
total-37942
count-37941
total-37943
count-37942
total-37944
count-37943
total-37945
count-37944
total-37946
row 1double_ele[1, 2]
row 5double_ele[2, 9]
count-37945
total-37947
count-37946
total-37948
count-37947
total-37949
count-37948
total-37950
count-37949
total-37951
row 1double_ele[2, 6]
count-37950
total-37952
count-37951
total-37953
count-37952
total-37954
count-37953
total-37955
count-37954
total-37956
row 7double_ele[1, 6]
column9 double_ele[2, 4]
count-37955
total-37957
count-37956
total-37958
count-37957
total-37959
count-37958
total-37960
count-37959
total-37961
row 1double_ele[1, 3]
column7 double_ele[1, 3]
count-37960
total-37962
count-37961
total-37963
count-37962
total-37964
count-37963
total-37965
count-37964
total-37966
count-37965
total-37967
count-37966
total-37968
column3 double_ele[6, 7]
row 4double_ele[5, 7]
row 7double_ele[6, 7]
count-37967
total-37969
count-37968
total-37970
count-37969
total-37971
count-37970
total-37972
count-37971
total-37973
count-37972
total-37974
count-37973
total-37975
count-37974
total-37976
count-37975
total-37977
column7 double_ele[2, 6]
count-37976
total-37978
count-37977
total-37979
count-37978
total-37980
column1 double_ele[2, 4]
count-37979
total-37981
count-37980
total-37982
count-37981
total-37983
row 9double_ele[1, 5]
count-37982
total-37984
count-37983
total-37985
count-37984
total-37986
row 1double_ele[2, 4]
row 4triple_ele[2, 3, 4]
count-37985
total-37987
count-37986
total-37988
count-37987
total-37989
count-37988
total-37990
count-37989
total-37991
count-37990
total-37992
count-37991
total-37993
count-37992
total-37994
count-37993
total-37995
count-37994
total-37996
count-37995
total-37997
count-37996
total-37998
count-37997
total-37999

row 6double_ele[3, 5]
count-37998
total-38000
count-37999
total-38001
row 1double_ele[3, 9]
row 4double_ele[5, 9]
count-38000
total-38002
count-38001
total-38003
count-38002
total-38004
count-38003
total-38005
count-38004
total-38006
count-38005
total-38007
count-38006
total-38008
count-38007
total-38009
count-38008
total-38010
count-38009
total-38011
column7 double_ele[2, 5]
count-38010
total-38012
column1 double_ele[2, 5]
row 5double_ele[2, 4]
column5 double_ele[2, 4]
row 6triple_ele[2, 4, 5]
box6 triple_ele[2, 4, 5]
count-38011
total-38013
count-38012
total-38014
count-38013
total-38015
count-38014
total-38016
count-38015
total-38017
column3 double_ele[2, 3]
count-38016
total-38018
row 9double_ele[1, 4]
count-38017
total-38019
count-38018
total-38020
count-38019
total-38021
count-38020
total-38022
count-38021
total-38023
count-38022
total-38024
count-38023
total-38025
row 3double_ele[3, 6]
count-38024
total-38026
count-38025
total-38027
count-38026
total-38028
column2 double_ele[4, 5]
count-38027
total-38029
count-38028
total-38030
count-38029
total-38031
count-38030
total-38032
count-38031
total-38033
count-38032
total-38034
count-38033
total-38035
count-38034
total-38036
count-38035
total-38037
count-38036
total-38038
count-38037
total-38039
count-38038
total-38040
column5 double_ele[4, 7]
column9 double_ele[2, 7]
count-38039
total-38041
count-38040
total-38042
row 7double_ele[1, 6]
count-38041
total-38043
count-38042
total-38044
count-38043
total-38045
count-38044
total-38046
row 8double_ele[2, 5]
count-38045
total-38047
column5 double_ele[4, 6]
row 9double_ele[4, 6]
count-38046
total-38048
count-38047
total-38049
count-38048
total-38050
count-38049
total-38051
count-38050
total-38052
count-38051
total-38053
row 3double_ele[1, 2]
column7 double_ele[1, 2]
count-38052
total-38054
count-38053
total-38055
count-38054
total-38056
count-38055
total-38057
count-38056
total-38058
count-38057
total-38059
count-38058
total-38060
count-38059
total-38061
count-38060
total-38062
count-38061
total-38063
count-38062
total-38064
count-38063
total-38065
count-38064
total-38066
count-38065
total-38067
count-38066
total-38068
count-38067
total-38069
count-38068
total-38070
count-38069
total-38071
count-38070
total-38072
count-38071
total-38073
count-38072
total-38074
count-38073
total-38075
count-38074
total-38076
count-38075
total-38077
count-38076
total-38078
count-38077
total-38079
count-38078
total-38080
count-38079
total-38081
count-38080
total-38082
count-38081
total-38083
count-38082
total-38084
count-38083
total-38085
count-38084
total-38086
count-38085
total-38087
count-38086
total-38088
count-38087
total-38089
count-38088
total-38090
count-38089
total-38091
count-38090
total-38092
count-38091
total-38093
count-38092
total-38094
count-38093
total-38095
count-38094
total-38096
count-38095
total-38097
count-38096
total-38098
count-38097
total-38099
count-38098
total-38100
row 2double_ele[3, 4]
count-38099
total-38101
count-38100
total-38102
count-38101
total-38103
count-38102
total-38104
count-38103
total-38105
count-38104
total-38106
count-38105
total-38107
count-38106
total-38108
count-38107
total-38109
count-38108
total-38110
count-38109
total-38111
count-38110
total-38112
count-38111
total-38113
count-38112
total-38114
count-38113
total-38115
count-38114
total-38116
count-38115
total-38117
count-38116
total-38118
count-38117
total-38119
count-38118
total-38120
count-38119
total-38121
count-38120
total-38122
count-38121
total-38123
count-38122
total-38124
count-38123
total-38125
count-38124
total-38126
count-38125
total-38127
row 3double_ele[1, 2]
column9 double_ele[1, 2]
count-38126
total-38128
count-38127
total-38129
count-38128
total-38130
count-38129
total-38131
count-38130
total-38132
count-38131
total-38133
count-38132
total-38134
count-38133
total-38135
row 7double_ele[2, 4]
column9 double_ele[2, 4]
box6 triple_ele[2, 4, 6]
count-38134
total-38136
count-38135
total-38137
count-38136
total-38138
count-38137
total-38139
count-38138
total-38140
count-38139
total-38141
count-38140
total-38142
count-38141
total-38143
count-38142
total-38144
count-38143
total-38145
count-38144
total-38146
count-38145
total-38147
count-38146
total-38148
count-38147
total-38149
count-38148
total-38150
row 9double_ele[2, 6]
count-38149
total-38151
count-38150
total-38152
count-38151
total-38153
count-38152
total-38154
count-38153
total-38155
count-38154
total-38156
count-38155
total-38157
count-38156
total-38158
count-38157
total-38159
count-38158
total-38160
count-38159
total-38161
count-38160
total-38162
count-38161
total-38163
count-38162
total-38164
count-38163
total-38165
count-38164
total-38166
count-38165
total-38167
count-38166
total-38168
count-38167
total-38169
count-38168
total-38170
count-38169
total-38171
count-38170
total-38172
count-38171
total-38173
count-38172
total-38174
count-38173
total-38175
count-38174
total-38176
column3 double_ele[1, 2]
count-38175
total-38177
count-38176
total-38178
count-38177
total-38179
count-38178
total-38180
row 4double_ele[2, 7]
count-38179
total-38181
count-38180
total-38182
count-38181
total-38183
count-38182
total-38184
count-38183
total-38185
count-38184
total-38186
count-38185
total-38187
count-38186
total-38188
count-38187
total-38189
row 9double_ele[1, 3]
count-38188
total-38190
column8 double_ele[2, 3]
count-38189
total-38191
column2 double_ele[1, 3]
column6 double_ele[5, 6]
count-38190
total-38192
count-38191
total-38193
count-38192
total-38194
count-38193
total-38195
count-38194
total-38196
count-38195
total-38197
count-38196
total-38198
count-38197
total-38199
count-38198
total-38200
row 8double_ele[1, 5]
count-38199
total-38201
count-38200
total-38202
count-38201
total-38203
column2 double_ele[2, 7]
count-38202
total-38204
count-38203
total-38205
count-38204
total-38206
count-38205
total-38207
count-38206
total-38208
count-38207
total-38209
row 8double_ele[1, 4]
count-38208
total-38210
count-38209
total-38211
count-38210
total-38212
column7 double_ele[4, 6]
count-38211
total-38213
count-38212
total-38214
column3 double_ele[1, 4]
row 9double_ele[1, 4]
count-38213
total-38215
count-38214
total-38216
count-38215
total-38217
count-38216
total-38218
count-38217
total-38219
count-38218
total-38220
count-38219
total-38221
count-38220
total-38222
count-38221
total-38223
count-38222
total-38224
row 7double_ele[1, 2]
count-38223
total-38225
count-38224
total-38226
count-38225
total-38227
row 7double_ele[1, 4]
count-38226
total-38228
count-38227
total-38229
count-38228
total-38230
count-38229
total-38231
count-38230
total-38232
count-38231
total-38233
count-38232
total-38234
count-38233
total-38235
count-38234
total-38236
count-38235
total-38237
count-38236
total-38238
count-38237
total-38239
count-38238
total-38240
count-38239
total-38241
count-38240
total-38242
count-38241
total-38243
count-38242
total-38244
count-38243
total-38245
count-38244
total-38246
count-38245
total-38247
count-38246
total-38248
count-38247
total-38249
count-38248
total-38250
count-38249
total-38251
count-38250
total-38252
count-38251
total-38253
count-38252
total-38254
count-38253
total-38255
count-38254
total-38256
count-38255
total-38257
row 2double_ele[6, 9]
row 9double_ele[1, 3]
row 9triple_ele[2, 5, 6]
count-38256
total-38258
count-38257
total-38259
column3 double_ele[1, 3]
count-38258
total-38260
count-38259
total-38261
count-38260
total-38262
count-38261
total-38263
count-38262
total-38264
column8 double_ele[2, 8]
count-38263
total-38265
count-38264
total-38266
count-38265
total-38267
column2 double_ele[2, 4]
count-38266
total-38268
count-38267
total-38269
count-38268
total-38270
count-38269
total-38271
count-38270
total-38272
count-38271
total-38273
count-38272
total-38274
count-38273
total-38275
count-38274
total-38276
count-38275
total-38277
count-38276
total-38278
count-38277
total-38279
row 7double_ele[2, 6]
count-38278
total-38280
count-38279
total-38281
count-38280
total-38282
count-38281
total-38283
count-38282
total-38284
count-38283
total-38285
count-38284
total-38286
count-38285
total-38287
count-38286
total-38288
count-38287
total-38289
count-38288
total-38290
count-38289
total-38291
count-38290
total-38292
count-38291
total-38293
count-38292
total-38294
count-38293
total-38295
count-38294
total-38296
count-38295
total-38297
count-38296
total-38298
count-38297
total-38299
column1 double_ele[1, 4]
row 6double_ele[1, 4]
count-38298
total-38300
count-38299
total-38301
count-38300
total-38302
count-38301
total-38303
row 9double_ele[1, 2]
count-38302
total-38304
count-38303
total-38305
count-38304
total-38306
count-38305
total-38307
count-38306
total-38308
count-38307
total-38309
count-38308
total-38310
count-38309
total-38311
count-38310
total-38312
count-38311
total-38313
count-38312
total-38314
count-38313
total-38315

count-38314
total-38316
count-38315
total-38317
count-38316
total-38318
count-38317
total-38319
count-38318
total-38320
count-38319
total-38321
count-38320
total-38322
count-38321
total-38323
count-38322
total-38324
column9 double_ele[4, 7]
count-38323
total-38325
count-38324
total-38326
count-38325
total-38327
count-38326
total-38328
count-38327
total-38329
count-38328
total-38330
count-38329
total-38331
count-38330
total-38332
count-38331
total-38333
count-38332
total-38334
count-38333
total-38335
count-38334
total-38336
column3 double_ele[1, 5]
count-38335
total-38337
count-38336
total-38338
count-38337
total-38339
count-38338
total-38340
count-38339
total-38341
count-38340
total-38342
column1 double_ele[1, 3]
column4 double_ele[5, 6]
column6 double_ele[2, 5]
count-38341
total-38343
count-38342
total-38344
column2 double_ele[1, 2]
count-38343
total-38345
row 8double_ele[1, 4]
count-38344
total-38346
count-38345
total-38347
count-38346
total-38348
count-38347
total-38349
count-38348
total-38350
count-38349
total-38351
count-38350
total-38352
count-38351
total-38353
column6 double_ele[1, 3]
column8 double_ele[1, 4]
count-38352
total-38354
count-38353
total-38355
count-38354
total-38356
count-38355
total-38357
count-38356
total-38358
count-38357
total-38359
count-38358
total-38360
count-38359
total-38361
count-38360
total-38362
count-38361
total-38363
count-38362
total-38364
count-38363
total-38365
count-38364
total-38366
count-38365
total-38367
count-38366
total-38368
row 2double_ele[3, 4]
row 7double_ele[1, 4]
count-38367
total-38369
count-38368
total-38370
count-38369
total-38371
count-38370
total-38372
count-38371
total-38373
count-38372
total-38374
column7 double_ele[3, 4]
count-38373
total-38375
count-38374
total-38376
count-38375
total-38377
count-38376
total-38378
count-38377
total-38379
count-38378
total-38380
count-38379
total-38381
count-38380
total-38382
column6 double_ele[1, 5]
count-38381
total-38383
count-38382
total-38384
count-38383
total-38385
count-38384
total-38386
count-38385
total-38387
count-38386
total-38388
count-38387
total-38389
count-38388
total-38390
count-38389
total-38391
count-38390
total-38392
count-38391
total-38393
count-38392
total-38394
count-38393
total-38395
count-38394
total-38396
count-38395
total-38397
column9 double_ele[1, 6]
count-38396
total-38398
count-38397
total-38399
count-38398
total-38400
count-38399
total-38401
count-38400
total-38402
count-38401
total-38403
count-38402
total-38404
count-38403
total-38405
count-38404
total-38406
count-38405
total-38407
count-38406
total-38408
count-38407
total-38409
count-38408
total-38410
count-38409
total-38411
count-38410
total-38412
row 2double_ele[1, 3]
column7 double_ele[1, 3]
count-38411
total-38413
row 5double_ele[1, 3]
count-38412
total-38414
count-38413
total-38415
column4 double_ele[3, 4]
count-38414
total-38416
row 7double_ele[1, 3]
count-38415
total-38417
count-38416
total-38418
column3 double_ele[5, 7]
count-38417
total-38419
count-38418
total-38420
count-38419
total-38421
count-38420
total-38422
count-38421
total-38423
count-38422
total-38424
count-38423
total-38425
count-38424
total-38426
count-38425
total-38427
count-38426
total-38428
count-38427
total-38429
count-38428
total-38430
count-38429
total-38431
count-38430
total-38432
count-38431
total-38433
count-38432
total-38434
column4 double_ele[1, 6]
count-38433
total-38435
count-38434
total-38436
count-38435
total-38437
count-38436
total-38438
count-38437
total-38439
count-38438
total-38440
count-38439
total-38441
count-38440
total-38442
count-38441
total-38443
count-38442
total-38444
count-38443
total-38445
count-38444
total-38446
count-38445
total-38447
count-38446
total-38448
count-38447
total-38449
count-38448
total-38450
count-38449
total-38451
count-38450
total-38452
count-38451
total-38453
count-38452
total-38454
count-38453
total-38455
count-38454
total-38456
count-38455
total-38457
count-38456
total-38458
count-38457
total-38459
count-38458
total-38460
count-38459
total-38461
count-38460
total-38462
column4 double_ele[3, 4]
count-38461
total-38463
count-38462
total-38464
count-38463
total-38465
row 5double_ele[2, 9]
count-38464
total-38466
count-38465
total-38467
count-38466
total-38468
count-38467
total-38469
count-38468
total-38470
count-38469
total-38471
count-38470
total-38472
count-38471
total-38473
count-38472
total-38474
count-38473
total-38475
count-38474
total-38476
row 2double_ele[1, 3]
column4 double_ele[1, 3]
count-38475
total-38477
count-38476
total-38478
column1 double_ele[2, 3]
count-38477
total-38479
count-38478
total-38480
count-38479
total-38481
count-38480
total-38482
count-38481
total-38483
count-38482
total-38484
count-38483
total-38485
count-38484
total-38486
count-38485
total-38487
row 5double_ele[1, 4]
row 7double_ele[1, 4]
count-38486
total-38488
count-38487
total-38489
count-38488
total-38490
count-38489
total-38491
count-38490
total-38492
count-38491
total-38493
count-38492
total-38494
row 5double_ele[3, 5]
count-38493
total-38495
count-38494
total-38496
count-38495
total-38497
count-38496
total-38498
count-38497
total-38499
count-38498
total-38500
row 3double_ele[1, 4]
count-38499
total-38501
count-38500
total-38502
count-38501
total-38503
count-38502
total-38504
count-38503
total-38505
row 5double_ele[3, 4]
count-38504
total-38506
count-38505
total-38507
count-38506
total-38508
count-38507
total-38509
row 9double_ele[2, 4]
count-38508
total-38510
count-38509
total-38511
count-38510
total-38512
count-38511
total-38513
count-38512
total-38514
count-38513
total-38515
count-38514
total-38516
count-38515
total-38517
count-38516
total-38518
count-38517
total-38519
count-38518
total-38520
count-38519
total-38521
row 3double_ele[5, 7]
column5 double_ele[2, 5]
column7 double_ele[5, 7]
count-38520
total-38522
count-38521
total-38523
count-38522
total-38524
count-38523
total-38525
count-38524
total-38526
count-38525
total-38527
count-38526
total-38528
count-38527
total-38529
count-38528
total-38530
count-38529
total-38531
count-38530
total-38532
column1 double_ele[2, 3]
count-38531
total-38533
count-38532
total-38534
count-38533
total-38535
count-38534
total-38536
row 3double_ele[2, 3]
column7 double_ele[2, 3]
column9 double_ele[2, 3]
count-38535
total-38537
count-38536
total-38538
count-38537
total-38539
count-38538
total-38540
count-38539
total-38541
count-38540
total-38542
count-38541
total-38543
count-38542
total-38544
count-38543
total-38545
count-38544
total-38546
column1 double_ele[1, 4]
count-38545
total-38547
count-38546
total-38548
count-38547
total-38549
count-38548
total-38550
count-38549
total-38551
column9 double_ele[5, 6]
count-38550
total-38552
row 6double_ele[2, 5]
count-38551
total-38553
count-38552
total-38554
count-38553
total-38555
row 2double_ele[3, 5]
column7 double_ele[4, 6]
count-38554
total-38556
count-38555
total-38557
count-38556
total-38558
count-38557
total-38559
count-38558
total-38560
count-38559
total-38561
count-38560
total-38562
count-38561
total-38563
row 1double_ele[4, 9]
count-38562
total-38564
count-38563
total-38565
count-38564
total-38566
count-38565
total-38567
count-38566
total-38568
count-38567
total-38569
count-38568
total-38570
count-38569
total-38571
column7 double_ele[1, 7]
count-38570
total-38572
column2 double_ele[1, 9]
column9 double_ele[3, 9]
count-38571
total-38573
count-38572
total-38574
count-38573
total-38575
count-38574
total-38576
count-38575
total-38577
count-38576
total-38578
count-38577
total-38579
count-38578
total-38580
count-38579
total-38581
count-38580
total-38582
count-38581
total-38583
count-38582
total-38584
count-38583
total-38585
count-38584
total-38586
count-38585
total-38587
column2 double_ele[1, 3]
count-38586
total-38588
count-38587
total-38589
count-38588
total-38590
count-38589
total-38591
count-38590
total-38592
count-38591
total-38593
count-38592
total-38594
column4 double_ele[1, 4]
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-38593
total-38595
count-38594
total-38596
count-38595
total-38597
count-38596
total-38598
count-38597
total-38599
column4 double_ele[1, 3]
row 7double_ele[1, 3]
count-38598
total-38600
count-38599
total-38601
column2 double_ele[1, 7]
count-38600
total-38602
column1 double_ele[1, 4]
column2 double_ele[1, 4]
row 8double_ele[1, 4]
count-38601
total-38603
count-38602
total-38604
count-38603
total-38605
count-38604
total-38606
count-38605
total-38607
count-38606
total-38608
count-38607
total-38609
count-38608
total-38610
count-38609
total-38611
count-38610
total-38612
row 2double_ele[1, 2]
count-38611
total-38613
count-38612
total-38614
count-38613
total-38615
count-38614
total-38616

count-38615
total-38617
count-38616
total-38618
count-38617
total-38619
count-38618
total-38620
count-38619
total-38621
count-38620
total-38622
count-38621
total-38623
count-38622
total-38624
count-38623
total-38625
row 9double_ele[5, 6]
count-38624
total-38626
count-38625
total-38627
count-38626
total-38628
count-38627
total-38629
count-38628
total-38630
count-38629
total-38631
count-38630
total-38632
count-38631
total-38633
count-38632
total-38634
column7 double_ele[1, 4]
count-38633
total-38635
row 1double_ele[2, 5]
count-38634
total-38636
count-38635
total-38637
count-38636
total-38638
count-38637
total-38639
count-38638
total-38640
count-38639
total-38641
count-38640
total-38642
count-38641
total-38643
count-38642
total-38644
count-38643
total-38645
row 1double_ele[4, 5]
count-38644
total-38646
row 8double_ele[2, 9]
count-38645
total-38647
count-38646
total-38648
count-38647
total-38649
count-38648
total-38650
count-38649
total-38651
row 5double_ele[2, 7]
count-38650
total-38652
count-38651
total-38653
count-38652
total-38654
count-38653
total-38655
count-38654
total-38656
count-38655
total-38657
count-38656
total-38658
count-38657
total-38659
count-38658
total-38660
count-38659
total-38661
count-38660
total-38662
count-38661
total-38663
count-38662
total-38664
count-38663
total-38665
count-38664
total-38666
column2 double_ele[1, 3]
count-38665
total-38667
count-38666
total-38668
count-38667
total-38669
count-38668
total-38670
count-38669
total-38671
count-38670
total-38672
count-38671
total-38673
count-38672
total-38674
count-38673
total-38675
count-38674
total-38676
count-38675
total-38677
count-38676
total-38678
count-38677
total-38679
count-38678
total-38680
count-38679
total-38681
count-38680
total-38682
count-38681
total-38683
count-38682
total-38684
count-38683
total-38685
count-38684
total-38686
count-38685
total-38687
count-38686
total-38688
count-38687
total-38689
count-38688
total-38690
count-38689
total-38691
column4 double_ele[2, 3]
row 9double_ele[2, 3]
count-38690
total-38692
count-38691
total-38693
count-38692
total-38694
count-38693
total-38695
count-38694
total-38696
column3 double_ele[1, 6]
count-38695
total-38697
count-38696
total-38698
count-38697
total-38699
count-38698
total-38700
count-38699
total-38701
row 2double_ele[3, 6]
row 4double_ele[1, 7]
count-38700
total-38702
count-38701
total-38703
count-38702
total-38704
count-38703
total-38705
count-38704
total-38706
count-38705
total-38707
count-38706
total-38708
count-38707
total-38709
count-38708
total-38710
count-38709
total-38711
count-38710
total-38712
count-38711
total-38713
count-38712
total-38714
count-38713
total-38715
count-38714
total-38716
row 8double_ele[1, 5]
count-38715
total-38717
count-38716
total-38718
count-38717
total-38719
column4 double_ele[3, 4]
count-38718
total-38720
count-38719
total-38721
count-38720
total-38722
count-38721
total-38723
count-38722
total-38724
count-38723
total-38725
count-38724
total-38726
count-38725
total-38727
count-38726
total-38728
count-38727
total-38729
count-38728
total-38730
count-38729
total-38731
count-38730
total-38732
count-38731
total-38733
count-38732
total-38734
count-38733
total-38735
count-38734
total-38736
count-38735
total-38737
count-38736
total-38738
count-38737
total-38739
count-38738
total-38740
count-38739
total-38741
count-38740
total-38742
row 7double_ele[5, 6]
column7 double_ele[5, 6]
column8 double_ele[5, 6]
count-38741
total-38743
count-38742
total-38744
column5 double_ele[4, 6]
count-38743
total-38745
row 2double_ele[2, 4]
row 7double_ele[2, 7]
count-38744
total-38746
count-38745
total-38747
count-38746
total-38748
count-38747
total-38749
count-38748
total-38750
count-38749
total-38751
count-38750
total-38752
count-38751
total-38753
count-38752
total-38754
count-38753
total-38755
count-38754
total-38756
count-38755
total-38757
column5 double_ele[1, 3]
count-38756
total-38758
count-38757
total-38759
count-38758
total-38760
count-38759
total-38761
count-38760
total-38762
count-38761
total-38763
count-38762
total-38764
count-38763
total-38765
count-38764
total-38766
count-38765
total-38767
count-38766
total-38768
count-38767
total-38769
count-38768
total-38770
count-38769
total-38771
count-38770
total-38772
count-38771
total-38773
count-38772
total-38774
count-38773
total-38775
count-38774
total-38776
count-38775
total-38777
count-38776
total-38778
count-38777
total-38779
column2 double_ele[3, 4]
row 1triple_ele[2, 3, 4]
count-38778
total-38780
count-38779
total-38781
count-38780
total-38782
column9 double_ele[4, 5]
count-38781
total-38783
count-38782
total-38784
count-38783
total-38785
count-38784
total-38786
count-38785
total-38787
count-38786
total-38788
count-38787
total-38789
count-38788
total-38790
count-38789
total-38791
column6 double_ele[2, 6]
count-38790
total-38792
count-38791
total-38793
count-38792
total-38794
count-38793
total-38795
count-38794
total-38796
count-38795
total-38797
count-38796
total-38798
column7 double_ele[1, 2]
count-38797
total-38799
count-38798
total-38800
count-38799
total-38801
count-38800
total-38802
count-38801
total-38803
count-38802
total-38804
row 5double_ele[2, 7]
count-38803
total-38805
count-38804
total-38806
count-38805
total-38807
count-38806
total-38808
count-38807
total-38809
count-38808
total-38810
count-38809
total-38811
column9 double_ele[1, 4]
count-38810
total-38812
count-38811
total-38813
count-38812
total-38814
count-38813
total-38815
count-38814
total-38816
count-38815
total-38817
count-38816
total-38818
count-38817
total-38819
count-38818
total-38820
count-38819
total-38821
count-38820
total-38822
count-38821
total-38823
count-38822
total-38824
count-38823
total-38825
count-38824
total-38826
count-38825
total-38827
count-38826
total-38828
count-38827
total-38829
count-38828
total-38830
row 5double_ele[1, 8]
count-38829
total-38831
count-38830
total-38832
count-38831
total-38833
count-38832
total-38834
count-38833
total-38835
row 3double_ele[1, 7]
count-38834
total-38836
row 5double_ele[1, 2]
row 6double_ele[2, 4]
count-38835
total-38837
count-38836
total-38838
count-38837
total-38839
count-38838
total-38840
count-38839
total-38841
count-38840
total-38842
count-38841
total-38843
count-38842
total-38844
count-38843
total-38845
count-38844
total-38846
count-38845
total-38847
count-38846
total-38848
count-38847
total-38849
count-38848
total-38850
count-38849
total-38851
count-38850
total-38852
count-38851
total-38853
count-38852
total-38854
count-38853
total-38855
count-38854
total-38856
count-38855
total-38857
count-38856
total-38858
count-38857
total-38859
count-38858
total-38860
count-38859
total-38861
count-38860
total-38862
count-38861
total-38863
count-38862
total-38864
count-38863
total-38865
count-38864
total-38866
count-38865
total-38867
count-38866
total-38868
count-38867
total-38869
count-38868
total-38870
column3 double_ele[3, 4]
count-38869
total-38871
count-38870
total-38872
count-38871
total-38873
column3 double_ele[1, 6]
column5 double_ele[3, 4]
column7 double_ele[3, 6]
row 2triple_ele[1, 3, 6]
count-38872
total-38874
count-38873
total-38875
column1 double_ele[3, 6]
row 5double_ele[3, 6]
column8 double_ele[3, 6]
count-38874
total-38876
count-38875
total-38877
count-38876
total-38878
count-38877
total-38879
row 3double_ele[1, 5]
column5 double_ele[1, 5]
count-38878
total-38880
count-38879
total-38881
count-38880
total-38882
count-38881
total-38883
row 8double_ele[6, 7]
count-38882
total-38884
row 1double_ele[1, 4]
column3 double_ele[1, 7]
count-38883
total-38885
row 8double_ele[1, 5]
count-38884
total-38886
count-38885
total-38887
count-38886
total-38888
count-38887
total-38889
count-38888
total-38890
count-38889
total-38891
count-38890
total-38892
row 8double_ele[1, 9]
count-38891
total-38893
row 8double_ele[3, 5]
count-38892
total-38894
count-38893
total-38895
count-38894
total-38896
count-38895
total-38897
count-38896
total-38898
count-38897
total-38899
row 3double_ele[4, 7]
count-38898
total-38900
row 3double_ele[3, 9]
row 7double_ele[3, 4]
count-38899
total-38901
count-38900
total-38902
count-38901
total-38903
count-38902
total-38904
count-38903
total-38905
count-38904
total-38906
row 3double_ele[1, 3]
row 5double_ele[1, 3]
count-38905
total-38907
count-38906
total-38908
count-38907
total-38909
count-38908
total-38910
count-38909
total-38911
count-38910
total-38912
count-38911
total-38913
row 3double_ele[2, 6]
count-38912
total-38914
count-38913
total-38915
count-38914
total-38916
count-38915
total-38917
count-38916
total-38918
count-38917
total-38919
count-38918
total-38920
count-38919
total-38921
count-38920
total-38922
row 3double_ele[2, 6]
count-38921
total-38923
count-38922
total-38924

count-38923
total-38925
count-38924
total-38926
count-38925
total-38927
count-38926
total-38928
count-38927
total-38929
count-38928
total-38930
count-38929
total-38931
row 4double_ele[1, 3]
column7 double_ele[1, 3]
count-38930
total-38932
count-38931
total-38933
count-38932
total-38934
count-38933
total-38935
count-38934
total-38936
count-38935
total-38937
count-38936
total-38938
count-38937
total-38939
row 4double_ele[3, 5]
count-38938
total-38940
count-38939
total-38941
count-38940
total-38942
count-38941
total-38943
count-38942
total-38944
count-38943
total-38945
count-38944
total-38946
row 1double_ele[4, 5]
count-38945
total-38947
count-38946
total-38948
count-38947
total-38949
count-38948
total-38950
count-38949
total-38951
count-38950
total-38952
count-38951
total-38953
count-38952
total-38954
count-38953
total-38955
count-38954
total-38956
count-38955
total-38957
count-38956
total-38958
count-38957
total-38959
count-38958
total-38960
count-38959
total-38961
count-38960
total-38962
count-38961
total-38963
count-38962
total-38964
count-38963
total-38965
count-38964
total-38966
count-38965
total-38967
count-38966
total-38968
count-38967
total-38969
count-38968
total-38970
count-38969
total-38971
count-38970
total-38972
count-38971
total-38973
count-38972
total-38974
count-38973
total-38975
column5 double_ele[1, 3]
count-38974
total-38976
count-38975
total-38977
count-38976
total-38978
count-38977
total-38979
count-38978
total-38980
count-38979
total-38981
count-38980
total-38982
count-38981
total-38983
count-38982
total-38984
count-38983
total-38985
count-38984
total-38986
count-38985
total-38987
count-38986
total-38988
count-38987
total-38989
count-38988
total-38990
count-38989
total-38991
count-38990
total-38992
count-38991
total-38993
count-38992
total-38994
count-38993
total-38995
count-38994
total-38996
count-38995
total-38997
count-38996
total-38998
count-38997
total-38999
count-38998
total-39000
count-38999
total-39001
count-39000
total-39002
count-39001
total-39003
count-39002
total-39004
count-39003
total-39005
count-39004
total-39006
count-39005
total-39007
count-39006
total-39008
count-39007
total-39009
count-39008
total-39010
count-39009
total-39011
row 1double_ele[1, 2]
column6 double_ele[1, 2]
count-39010
total-39012
count-39011
total-39013
count-39012
total-39014
count-39013
total-39015
count-39014
total-39016
count-39015
total-39017
count-39016
total-39018
count-39017
total-39019
count-39018
total-39020
count-39019
total-39021
count-39020
total-39022
count-39021
total-39023
count-39022
total-39024
count-39023
total-39025
count-39024
total-39026
count-39025
total-39027
count-39026
total-39028
count-39027
total-39029
count-39028
total-39030
count-39029
total-39031
row 2double_ele[3, 4]
row 5double_ele[1, 3]
count-39030
total-39032
count-39031
total-39033
count-39032
total-39034
count-39033
total-39035
count-39034
total-39036
count-39035
total-39037
count-39036
total-39038
count-39037
total-39039
count-39038
total-39040
count-39039
total-39041
count-39040
total-39042
count-39041
total-39043
count-39042
total-39044
count-39043
total-39045
count-39044
total-39046
count-39045
total-39047
count-39046
total-39048
count-39047
total-39049
count-39048
total-39050
count-39049
total-39051
column7 double_ele[5, 6]
row 9double_ele[5, 6]
row 3triple_ele[2, 5, 6]
count-39050
total-39052
count-39051
total-39053
count-39052
total-39054
count-39053
total-39055
count-39054
total-39056
count-39055
total-39057
count-39056
total-39058
count-39057
total-39059
count-39058
total-39060
count-39059
total-39061
count-39060
total-39062
count-39061
total-39063
row 6double_ele[4, 6]
count-39062
total-39064
count-39063
total-39065
count-39064
total-39066
count-39065
total-39067
count-39066
total-39068
count-39067
total-39069
count-39068
total-39070
count-39069
total-39071
count-39070
total-39072
count-39071
total-39073
count-39072
total-39074
count-39073
total-39075
count-39074
total-39076
count-39075
total-39077
row 3double_ele[1, 4]
count-39076
total-39078
count-39077
total-39079
column7 double_ele[3, 5]
count-39078
total-39080
row 4double_ele[5, 7]
count-39079
total-39081
count-39080
total-39082
count-39081
total-39083
count-39082
total-39084
count-39083
total-39085
count-39084
total-39086
count-39085
total-39087
count-39086
total-39088
count-39087
total-39089
row 1double_ele[3, 5]
column2 double_ele[4, 8]
row 3double_ele[4, 8]
column3 double_ele[3, 5]
column8 double_ele[4, 8]
count-39088
total-39090
count-39089
total-39091
column5 double_ele[1, 8]
count-39090
total-39092
count-39091
total-39093
count-39092
total-39094
count-39093
total-39095
count-39094
total-39096
count-39095
total-39097
count-39096
total-39098
count-39097
total-39099
count-39098
total-39100
count-39099
total-39101
count-39100
total-39102
column4 double_ele[1, 4]
count-39101
total-39103
count-39102
total-39104
count-39103
total-39105
column8 double_ele[1, 8]
count-39104
total-39106
count-39105
total-39107
count-39106
total-39108
count-39107
total-39109
count-39108
total-39110
count-39109
total-39111
count-39110
total-39112
count-39111
total-39113
count-39112
total-39114
count-39113
total-39115
count-39114
total-39116
count-39115
total-39117
count-39116
total-39118
count-39117
total-39119
count-39118
total-39120
count-39119
total-39121
count-39120
total-39122
count-39121
total-39123
count-39122
total-39124
count-39123
total-39125
count-39124
total-39126
count-39125
total-39127
count-39126
total-39128
count-39127
total-39129
count-39128
total-39130
count-39129
total-39131
count-39130
total-39132
count-39131
total-39133
count-39132
total-39134
count-39133
total-39135
count-39134
total-39136
count-39135
total-39137
count-39136
total-39138
count-39137
total-39139
count-39138
total-39140
count-39139
total-39141
count-39140
total-39142
count-39141
total-39143
count-39142
total-39144
count-39143
total-39145
count-39144
total-39146
count-39145
total-39147
count-39146
total-39148
count-39147
total-39149
count-39148
total-39150
count-39149
total-39151
count-39150
total-39152
count-39151
total-39153
count-39152
total-39154
count-39153
total-39155
count-39154
total-39156
count-39155
total-39157
count-39156
total-39158
count-39157
total-39159
count-39158
total-39160
count-39159
total-39161
count-39160
total-39162
count-39161
total-39163
count-39162
total-39164
count-39163
total-39165
count-39164
total-39166
count-39165
total-39167
count-39166
total-39168
count-39167
total-39169
count-39168
total-39170
count-39169
total-39171
column7 double_ele[2, 5]
count-39170
total-39172
count-39171
total-39173
count-39172
total-39174
count-39173
total-39175
count-39174
total-39176
count-39175
total-39177
count-39176
total-39178
count-39177
total-39179
count-39178
total-39180
count-39179
total-39181
count-39180
total-39182
count-39181
total-39183
count-39182
total-39184
count-39183
total-39185
count-39184
total-39186
count-39185
total-39187
count-39186
total-39188
count-39187
total-39189
count-39188
total-39190
count-39189
total-39191
count-39190
total-39192
count-39191
total-39193
count-39192
total-39194
count-39193
total-39195
count-39194
total-39196
count-39195
total-39197
count-39196
total-39198
count-39197
total-39199
count-39198
total-39200
count-39199
total-39201
count-39200
total-39202
count-39201
total-39203
count-39202
total-39204
count-39203
total-39205
count-39204
total-39206
count-39205
total-39207
row 8double_ele[1, 7]
count-39206
total-39208
count-39207
total-39209
count-39208
total-39210
count-39209
total-39211
count-39210
total-39212
count-39211
total-39213
count-39212
total-39214
count-39213
total-39215
count-39214
total-39216
count-39215
total-39217
count-39216
total-39218
row 9double_ele[3, 4]
count-39217
total-39219
count-39218
total-39220
count-39219
total-39221
count-39220
total-39222
count-39221
total-39223
count-39222
total-39224
count-39223
total-39225
count-39224
total-39226
count-39225
total-39227
count-39226
total-39228
count-39227
total-39229
count-39228
total-39230
column2 double_ele[1, 8]
count-39229
total-39231
column5 double_ele[4, 8]
row 7double_ele[4, 8]
column7 double_ele[4, 8]
row 8double_ele[4, 8]
count-39230
total-39232
row 5double_ele[2, 3]
count-39231
total-39233
count-39232
total-39234
column3 double_ele[3, 5]
count-39233
total-39235
count-39234
total-39236
count-39235
total-39237
count-39236
total-39238
count-39237
total-39239
count-39238
total-39240
count-39239
total-39241
count-39240
total-39242
count-39241
total-39243
count-39242
total-39244
count-39243
total-39245

count-39244
total-39246
count-39245
total-39247
count-39246
total-39248
count-39247
total-39249
count-39248
total-39250
count-39249
total-39251
count-39250
total-39252
count-39251
total-39253
row 1double_ele[1, 4]
count-39252
total-39254
count-39253
total-39255
count-39254
total-39256
column4 double_ele[2, 5]
count-39255
total-39257
count-39256
total-39258
count-39257
total-39259
count-39258
total-39260
count-39259
total-39261
count-39260
total-39262
row 1double_ele[1, 6]
column9 double_ele[1, 6]
count-39261
total-39263
count-39262
total-39264
count-39263
total-39265
count-39264
total-39266
row 7double_ele[1, 6]
count-39265
total-39267
count-39266
total-39268
count-39267
total-39269
count-39268
total-39270
count-39269
total-39271
count-39270
total-39272
count-39271
total-39273
count-39272
total-39274
count-39273
total-39275
count-39274
total-39276
count-39275
total-39277
count-39276
total-39278
count-39277
total-39279
count-39278
total-39280
count-39279
total-39281
count-39280
total-39282
count-39281
total-39283
count-39282
total-39284
count-39283
total-39285
count-39284
total-39286
column6 double_ele[2, 5]
row 8double_ele[2, 5]
count-39285
total-39287
count-39286
total-39288
count-39287
total-39289
count-39288
total-39290
count-39289
total-39291
count-39290
total-39292
count-39291
total-39293
count-39292
total-39294
count-39293
total-39295
column1 double_ele[1, 7]
row 4double_ele[1, 7]
column4 double_ele[1, 3]
row 6double_ele[1, 3]
count-39294
total-39296
count-39295
total-39297
count-39296
total-39298
count-39297
total-39299
count-39298
total-39300
count-39299
total-39301
count-39300
total-39302
count-39301
total-39303
count-39302
total-39304
count-39303
total-39305
count-39304
total-39306
count-39305
total-39307
count-39306
total-39308
count-39307
total-39309
count-39308
total-39310
count-39309
total-39311
count-39310
total-39312
count-39311
total-39313
count-39312
total-39314
count-39313
total-39315
count-39314
total-39316
column5 double_ele[1, 4]
count-39315
total-39317
count-39316
total-39318
count-39317
total-39319
row 2double_ele[1, 5]
row 6double_ele[1, 5]
count-39318
total-39320
count-39319
total-39321
count-39320
total-39322
count-39321
total-39323
count-39322
total-39324
count-39323
total-39325
count-39324
total-39326
row 2double_ele[3, 6]
column3 double_ele[2, 6]
row 9double_ele[2, 6]
count-39325
total-39327
count-39326
total-39328
count-39327
total-39329
count-39328
total-39330
count-39329
total-39331
count-39330
total-39332
count-39331
total-39333
column2 double_ele[4, 9]
column9 double_ele[3, 9]
count-39332
total-39334
count-39333
total-39335
count-39334
total-39336
count-39335
total-39337
count-39336
total-39338
count-39337
total-39339
count-39338
total-39340
count-39339
total-39341
count-39340
total-39342
count-39341
total-39343
count-39342
total-39344
count-39343
total-39345
count-39344
total-39346
count-39345
total-39347
count-39346
total-39348
count-39347
total-39349
count-39348
total-39350
count-39349
total-39351
count-39350
total-39352
count-39351
total-39353
count-39352
total-39354
count-39353
total-39355
count-39354
total-39356
count-39355
total-39357
count-39356
total-39358
count-39357
total-39359
count-39358
total-39360
count-39359
total-39361
count-39360
total-39362
count-39361
total-39363
count-39362
total-39364
count-39363
total-39365
count-39364
total-39366
count-39365
total-39367
count-39366
total-39368
count-39367
total-39369
count-39368
total-39370
count-39369
total-39371
count-39370
total-39372
count-39371
total-39373
count-39372
total-39374
count-39373
total-39375
count-39374
total-39376
count-39375
total-39377
count-39376
total-39378
count-39377
total-39379
row 3double_ele[1, 5]
count-39378
total-39380
count-39379
total-39381
column7 double_ele[2, 8]
count-39380
total-39382
count-39381
total-39383
count-39382
total-39384
count-39383
total-39385
count-39384
total-39386
count-39385
total-39387
count-39386
total-39388
count-39387
total-39389
count-39388
total-39390
row 2double_ele[3, 6]
count-39389
total-39391
count-39390
total-39392
count-39391
total-39393
count-39392
total-39394
count-39393
total-39395
count-39394
total-39396
count-39395
total-39397
count-39396
total-39398
count-39397
total-39399
count-39398
total-39400
count-39399
total-39401
count-39400
total-39402
count-39401
total-39403
count-39402
total-39404
count-39403
total-39405
count-39404
total-39406
count-39405
total-39407
count-39406
total-39408
count-39407
total-39409
count-39408
total-39410
column2 double_ele[3, 6]
column4 double_ele[1, 2]
column9 double_ele[1, 3]
count-39409
total-39411
count-39410
total-39412
count-39411
total-39413
count-39412
total-39414
count-39413
total-39415
count-39414
total-39416
count-39415
total-39417
count-39416
total-39418
count-39417
total-39419
count-39418
total-39420
row 5double_ele[2, 7]
count-39419
total-39421
count-39420
total-39422
count-39421
total-39423
count-39422
total-39424
count-39423
total-39425
count-39424
total-39426
count-39425
total-39427
count-39426
total-39428
count-39427
total-39429
count-39428
total-39430
count-39429
total-39431
count-39430
total-39432
count-39431
total-39433
count-39432
total-39434
count-39433
total-39435
count-39434
total-39436
count-39435
total-39437
count-39436
total-39438
count-39437
total-39439
row 4double_ele[3, 4]
box6 triple_ele[1, 3, 4]
count-39438
total-39440
row 3double_ele[2, 3]
row 5double_ele[1, 4]
count-39439
total-39441
count-39440
total-39442
count-39441
total-39443
count-39442
total-39444
count-39443
total-39445
count-39444
total-39446
count-39445
total-39447
count-39446
total-39448
count-39447
total-39449
count-39448
total-39450
count-39449
total-39451
count-39450
total-39452
count-39451
total-39453
count-39452
total-39454
count-39453
total-39455
count-39454
total-39456
count-39455
total-39457
count-39456
total-39458
count-39457
total-39459
count-39458
total-39460
count-39459
total-39461
column4 double_ele[1, 8]
count-39460
total-39462
count-39461
total-39463
column1 double_ele[2, 3]
column9 double_ele[3, 6]
count-39462
total-39464
count-39463
total-39465
count-39464
total-39466
count-39465
total-39467
count-39466
total-39468
count-39467
total-39469
row 1double_ele[1, 7]
row 4double_ele[4, 7]
count-39468
total-39470
count-39469
total-39471
count-39470
total-39472
count-39471
total-39473
count-39472
total-39474
count-39473
total-39475
count-39474
total-39476
count-39475
total-39477
count-39476
total-39478
count-39477
total-39479
count-39478
total-39480
count-39479
total-39481
count-39480
total-39482
count-39481
total-39483
count-39482
total-39484
row 4double_ele[2, 7]
column5 double_ele[7, 8]
column7 double_ele[2, 7]
column9 double_ele[2, 7]
count-39483
total-39485
count-39484
total-39486
count-39485
total-39487
count-39486
total-39488
count-39487
total-39489
count-39488
total-39490
count-39489
total-39491
count-39490
total-39492
count-39491
total-39493
row 7double_ele[1, 2]
column7 double_ele[1, 2]
row 8double_ele[1, 2]
count-39492
total-39494
count-39493
total-39495
column1 double_ele[1, 5]
count-39494
total-39496
count-39495
total-39497
count-39496
total-39498
count-39497
total-39499
count-39498
total-39500
count-39499
total-39501
count-39500
total-39502
count-39501
total-39503
count-39502
total-39504
count-39503
total-39505
count-39504
total-39506
count-39505
total-39507
count-39506
total-39508
count-39507
total-39509
count-39508
total-39510
count-39509
total-39511
count-39510
total-39512
count-39511
total-39513
count-39512
total-39514
count-39513
total-39515
count-39514
total-39516
count-39515
total-39517
count-39516
total-39518
count-39517
total-39519
count-39518
total-39520
count-39519
total-39521
count-39520
total-39522
column3 double_ele[2, 5]
count-39521
total-39523
count-39522
total-39524
count-39523
total-39525
count-39524
total-39526
count-39525
total-39527
row 2double_ele[1, 5]
column8 double_ele[1, 5]
count-39526
total-39528
count-39527
total-39529
count-39528
total-39530
count-39529
total-39531
count-39530
total-39532
count-39531
total-39533
count-39532
total-39534
count-39533
total-39535
count-39534
total-39536
column1 double_ele[1, 8]
count-39535
total-39537
count-39536
total-39538
count-39537
total-39539
count-39538
total-39540
count-39539
total-39541
row 2double_ele[3, 4]
column7 double_ele[3, 4]
count-39540
total-39542
row 5double_ele[2, 3]
column7 double_ele[2, 3]
count-39541
total-39543
count-39542
total-39544
count-39543
total-39545
count-39544
total-39546
count-39545
total-39547
row 3double_ele[3, 7]
row 4double_ele[2, 7]
count-39546
total-39548
row 9double_ele[4, 6]
count-39547
total-39549
count-39548
total-39550
count-39549
total-39551
count-39550
total-39552
count-39551
total-39553
count-39552
total-39554
count-39553
total-39555
count-39554
total-39556
count-39555
total-39557
count-39556
total-39558
count-39557
total-39559
count-39558
total-39560
count-39559
total-39561
count-39560
total-39562
count-39561
total-39563
count-39562
total-39564
count-39563
total-39565
count-39564
total-39566
count-39565
total-39567
count-39566
total-39568
count-39567
total-39569

column7 double_ele[1, 4]
count-39568
total-39570
count-39569
total-39571
column3 double_ele[1, 3]
count-39570
total-39572
count-39571
total-39573
count-39572
total-39574
count-39573
total-39575
count-39574
total-39576
column8 double_ele[1, 7]
count-39575
total-39577
count-39576
total-39578
count-39577
total-39579
count-39578
total-39580
count-39579
total-39581
count-39580
total-39582
count-39581
total-39583
count-39582
total-39584
column5 double_ele[2, 5]
count-39583
total-39585
count-39584
total-39586
count-39585
total-39587
count-39586
total-39588
count-39587
total-39589
count-39588
total-39590
row 7double_ele[1, 3]
count-39589
total-39591
count-39590
total-39592
count-39591
total-39593
row 3double_ele[5, 8]
count-39592
total-39594
count-39593
total-39595
column5 double_ele[3, 4]
count-39594
total-39596
count-39595
total-39597
count-39596
total-39598
count-39597
total-39599
count-39598
total-39600
count-39599
total-39601
count-39600
total-39602
count-39601
total-39603
count-39602
total-39604
count-39603
total-39605
count-39604
total-39606
column8 double_ele[1, 7]
row 9double_ele[1, 7]
count-39605
total-39607
count-39606
total-39608
count-39607
total-39609
count-39608
total-39610
count-39609
total-39611
row 2double_ele[1, 2]
count-39610
total-39612
count-39611
total-39613
column1 double_ele[1, 3]
count-39612
total-39614
row 1double_ele[2, 5]
count-39613
total-39615
count-39614
total-39616
count-39615
total-39617
count-39616
total-39618
row 8double_ele[4, 6]
count-39617
total-39619
row 1double_ele[3, 6]
column4 double_ele[3, 5]
row 6double_ele[3, 5]
count-39618
total-39620
count-39619
total-39621
count-39620
total-39622
count-39621
total-39623
count-39622
total-39624
count-39623
total-39625
row 2double_ele[2, 4]
column2 double_ele[2, 4]
count-39624
total-39626
column4 double_ele[3, 7]
column6 double_ele[3, 7]
row 8double_ele[3, 7]
count-39625
total-39627
count-39626
total-39628
column1 double_ele[3, 6]
count-39627
total-39629
count-39628
total-39630
count-39629
total-39631
column6 double_ele[2, 8]
count-39630
total-39632
count-39631
total-39633
count-39632
total-39634
count-39633
total-39635
column4 double_ele[2, 3]
count-39634
total-39636
count-39635
total-39637
count-39636
total-39638
count-39637
total-39639
count-39638
total-39640
count-39639
total-39641
count-39640
total-39642
count-39641
total-39643
row 5double_ele[4, 5]
column5 double_ele[4, 5]
count-39642
total-39644
count-39643
total-39645
count-39644
total-39646
count-39645
total-39647
row 1double_ele[1, 4]
column3 double_ele[1, 4]
column7 double_ele[1, 4]
count-39646
total-39648
count-39647
total-39649
count-39648
total-39650
count-39649
total-39651
row 1double_ele[2, 4]
count-39650
total-39652
count-39651
total-39653
count-39652
total-39654
count-39653
total-39655
count-39654
total-39656
count-39655
total-39657
count-39656
total-39658
column2 double_ele[1, 3]
count-39657
total-39659
count-39658
total-39660
count-39659
total-39661
count-39660
total-39662
count-39661
total-39663
count-39662
total-39664
count-39663
total-39665
count-39664
total-39666
count-39665
total-39667
row 1double_ele[1, 5]
column5 double_ele[1, 5]
count-39666
total-39668
count-39667
total-39669
count-39668
total-39670
count-39669
total-39671
count-39670
total-39672
count-39671
total-39673
count-39672
total-39674
count-39673
total-39675
count-39674
total-39676
count-39675
total-39677
count-39676
total-39678
count-39677
total-39679
count-39678
total-39680
count-39679
total-39681
count-39680
total-39682
count-39681
total-39683
row 5double_ele[2, 4]
column6 double_ele[3, 6]
column7 double_ele[2, 6]
row 3triple_ele[2, 3, 6]
count-39682
total-39684
count-39683
total-39685
count-39684
total-39686
count-39685
total-39687
count-39686
total-39688
row 3double_ele[3, 7]
column3 double_ele[3, 7]
column7 double_ele[3, 6]
row 5triple_ele[3, 6, 7]
count-39687
total-39689
count-39688
total-39690
count-39689
total-39691
count-39690
total-39692
count-39691
total-39693
count-39692
total-39694
count-39693
total-39695
count-39694
total-39696
count-39695
total-39697
count-39696
total-39698
count-39697
total-39699
count-39698
total-39700
count-39699
total-39701
row 6double_ele[1, 3]
column6 double_ele[1, 2]
count-39700
total-39702
count-39701
total-39703
count-39702
total-39704
count-39703
total-39705
count-39704
total-39706
count-39705
total-39707
count-39706
total-39708
count-39707
total-39709
count-39708
total-39710
count-39709
total-39711
row 1double_ele[1, 8]
column3 double_ele[1, 2]
column6 double_ele[1, 8]
row 8double_ele[1, 2]
column8 double_ele[1, 2]
count-39710
total-39712
count-39711
total-39713
row 3double_ele[2, 4]
column3 double_ele[4, 6]
column4 double_ele[1, 4]
row 5double_ele[4, 6]
column8 double_ele[4, 6]
row 9double_ele[4, 6]
count-39712
total-39714
count-39713
total-39715
row 3double_ele[2, 6]
count-39714
total-39716
count-39715
total-39717
column4 double_ele[2, 4]
count-39716
total-39718
count-39717
total-39719
count-39718
total-39720
count-39719
total-39721
count-39720
total-39722
count-39721
total-39723
count-39722
total-39724
count-39723
total-39725
count-39724
total-39726
count-39725
total-39727
count-39726
total-39728
count-39727
total-39729
count-39728
total-39730
count-39729
total-39731
count-39730
total-39732
count-39731
total-39733
count-39732
total-39734
row 7double_ele[1, 2]
column9 double_ele[1, 2]
count-39733
total-39735
count-39734
total-39736
row 3double_ele[2, 4]
count-39735
total-39737
row 6triple_ele[1, 2, 5]
box6 triple_ele[1, 2, 5]
count-39736
total-39738
count-39737
total-39739
count-39738
total-39740
count-39739
total-39741
count-39740
total-39742
count-39741
total-39743
count-39742
total-39744
count-39743
total-39745
count-39744
total-39746
count-39745
total-39747
count-39746
total-39748
count-39747
total-39749
box6 triple_ele[3, 4, 6]
count-39748
total-39750
count-39749
total-39751
count-39750
total-39752
count-39751
total-39753
count-39752
total-39754
count-39753
total-39755
count-39754
total-39756
count-39755
total-39757
row 2double_ele[4, 5]
column9 double_ele[4, 5]
count-39756
total-39758
count-39757
total-39759
count-39758
total-39760
count-39759
total-39761
count-39760
total-39762
count-39761
total-39763
count-39762
total-39764
count-39763
total-39765
column7 double_ele[3, 6]
count-39764
total-39766
row 8double_ele[4, 6]
count-39765
total-39767
count-39766
total-39768
count-39767
total-39769
count-39768
total-39770
count-39769
total-39771
row 3double_ele[2, 6]
row 4double_ele[2, 5]
column7 double_ele[2, 5]
count-39770
total-39772
count-39771
total-39773
count-39772
total-39774
count-39773
total-39775
count-39774
total-39776
row 7double_ele[1, 6]
count-39775
total-39777
count-39776
total-39778
count-39777
total-39779
column3 double_ele[1, 4]
row 5double_ele[1, 4]
count-39778
total-39780
count-39779
total-39781
count-39780
total-39782
count-39781
total-39783
count-39782
total-39784
count-39783
total-39785
count-39784
total-39786
count-39785
total-39787
count-39786
total-39788
count-39787
total-39789
row 9double_ele[4, 8]
count-39788
total-39790
count-39789
total-39791
count-39790
total-39792
count-39791
total-39793
count-39792
total-39794
count-39793
total-39795
column3 double_ele[1, 4]
count-39794
total-39796
count-39795
total-39797
count-39796
total-39798
column2 double_ele[3, 5]
row 6double_ele[3, 5]
column6 double_ele[3, 5]
row 9double_ele[3, 5]
column9 double_ele[1, 4]
count-39797
total-39799
count-39798
total-39800
count-39799
total-39801
count-39800
total-39802
count-39801
total-39803
count-39802
total-39804
row 9double_ele[2, 6]
count-39803
total-39805
count-39804
total-39806
count-39805
total-39807
row 4double_ele[2, 5]
count-39806
total-39808
count-39807
total-39809
count-39808
total-39810
count-39809
total-39811
count-39810
total-39812
count-39811
total-39813
count-39812
total-39814
count-39813
total-39815
count-39814
total-39816
count-39815
total-39817
count-39816
total-39818
count-39817
total-39819
count-39818
total-39820
count-39819
total-39821
count-39820
total-39822
count-39821
total-39823
count-39822
total-39824
count-39823
total-39825
count-39824
total-39826
count-39825
total-39827
count-39826
total-39828
count-39827
total-39829
count-39828
total-39830
count-39829
total-39831
column9 double_ele[3, 5]
count-39830
total-39832
row 1double_ele[2, 8]
count-39831
total-39833
count-39832
total-39834
row 3double_ele[4, 5]
count-39833
total-39835
count-39834
total-39836
count-39835
total-39837
row 8double_ele[3, 4]
column8 double_ele[3, 4]
count-39836
total-39838
count-39837
total-39839

count-39838
total-39840
column8 double_ele[1, 4]
count-39839
total-39841
count-39840
total-39842
count-39841
total-39843
count-39842
total-39844
count-39843
total-39845
count-39844
total-39846
count-39845
total-39847
count-39846
total-39848
count-39847
total-39849
count-39848
total-39850
count-39849
total-39851
count-39850
total-39852
count-39851
total-39853
count-39852
total-39854
count-39853
total-39855
count-39854
total-39856
count-39855
total-39857
count-39856
total-39858
count-39857
total-39859
row 6double_ele[3, 8]
count-39858
total-39860
count-39859
total-39861
count-39860
total-39862
count-39861
total-39863
count-39862
total-39864
count-39863
total-39865
count-39864
total-39866
count-39865
total-39867
count-39866
total-39868
count-39867
total-39869
count-39868
total-39870
count-39869
total-39871
count-39870
total-39872
count-39871
total-39873
column1 double_ele[2, 3]
column6 double_ele[1, 2]
count-39872
total-39874
count-39873
total-39875
count-39874
total-39876
count-39875
total-39877
count-39876
total-39878
count-39877
total-39879
count-39878
total-39880
count-39879
total-39881
count-39880
total-39882
count-39881
total-39883
count-39882
total-39884
count-39883
total-39885
count-39884
total-39886
count-39885
total-39887
count-39886
total-39888
count-39887
total-39889
count-39888
total-39890
count-39889
total-39891
count-39890
total-39892
count-39891
total-39893
count-39892
total-39894
count-39893
total-39895
column3 double_ele[5, 8]
count-39894
total-39896
count-39895
total-39897
row 9double_ele[2, 6]
count-39896
total-39898
count-39897
total-39899
row 7double_ele[3, 5]
count-39898
total-39900
count-39899
total-39901
count-39900
total-39902
count-39901
total-39903
count-39902
total-39904
count-39903
total-39905
count-39904
total-39906
count-39905
total-39907
count-39906
total-39908
count-39907
total-39909
count-39908
total-39910
count-39909
total-39911
count-39910
total-39912
count-39911
total-39913
count-39912
total-39914
count-39913
total-39915
row 5double_ele[4, 8]
count-39914
total-39916
count-39915
total-39917
count-39916
total-39918
count-39917
total-39919
count-39918
total-39920
count-39919
total-39921
count-39920
total-39922
count-39921
total-39923
count-39922
total-39924
count-39923
total-39925
count-39924
total-39926
count-39925
total-39927
count-39926
total-39928
row 7double_ele[1, 4]
count-39927
total-39929
count-39928
total-39930
count-39929
total-39931
column8 double_ele[2, 3]
count-39930
total-39932
count-39931
total-39933
count-39932
total-39934
count-39933
total-39935
count-39934
total-39936
count-39935
total-39937
count-39936
total-39938
count-39937
total-39939
row 2double_ele[2, 5]
column9 double_ele[2, 5]
count-39938
total-39940
count-39939
total-39941
count-39940
total-39942
count-39941
total-39943
count-39942
total-39944
count-39943
total-39945
count-39944
total-39946
count-39945
total-39947
count-39946
total-39948
count-39947
total-39949
count-39948
total-39950
count-39949
total-39951
count-39950
total-39952
count-39951
total-39953
count-39952
total-39954
column2 double_ele[4, 9]
row 3double_ele[4, 9]
count-39953
total-39955
count-39954
total-39956
count-39955
total-39957
count-39956
total-39958
count-39957
total-39959
count-39958
total-39960
count-39959
total-39961
count-39960
total-39962
count-39961
total-39963
count-39962
total-39964
count-39963
total-39965
count-39964
total-39966
count-39965
total-39967
count-39966
total-39968
count-39967
total-39969
count-39968
total-39970
count-39969
total-39971
count-39970
total-39972
count-39971
total-39973
count-39972
total-39974
count-39973
total-39975
count-39974
total-39976
count-39975
total-39977
count-39976
total-39978
count-39977
total-39979
count-39978
total-39980
count-39979
total-39981
count-39980
total-39982
count-39981
total-39983
row 6double_ele[2, 8]
count-39982
total-39984
count-39983
total-39985
count-39984
total-39986
count-39985
total-39987
count-39986
total-39988
column1 double_ele[2, 5]
count-39987
total-39989
count-39988
total-39990
count-39989
total-39991
count-39990
total-39992
count-39991
total-39993
count-39992
total-39994
count-39993
total-39995
column3 double_ele[6, 9]
count-39994
total-39996
count-39995
total-39997
count-39996
total-39998
count-39997
total-39999
count-39998
total-40000
count-39999
total-40001
count-40000
total-40002
count-40001
total-40003
count-40002
total-40004
count-40003
total-40005
count-40004
total-40006
count-40005
total-40007
count-40006
total-40008
count-40007
total-40009
count-40008
total-40010
count-40009
total-40011
count-40010
total-40012
count-40011
total-40013
count-40012
total-40014
count-40013
total-40015
count-40014
total-40016
count-40015
total-40017
count-40016
total-40018
count-40017
total-40019
row 5double_ele[3, 4]
row 6double_ele[3, 7]
column7 double_ele[3, 7]
box6 triple_ele[3, 4, 7]
count-40018
total-40020
count-40019
total-40021
count-40020
total-40022
count-40021
total-40023
count-40022
total-40024
count-40023
total-40025
count-40024
total-40026
count-40025
total-40027
count-40026
total-40028
count-40027
total-40029
count-40028
total-40030
count-40029
total-40031
count-40030
total-40032
row 5double_ele[1, 5]
column5 double_ele[1, 5]
count-40031
total-40033
count-40032
total-40034
count-40033
total-40035
count-40034
total-40036
count-40035
total-40037
count-40036
total-40038
count-40037
total-40039
count-40038
total-40040
count-40039
total-40041
count-40040
total-40042
count-40041
total-40043
count-40042
total-40044
count-40043
total-40045
count-40044
total-40046
count-40045
total-40047
column7 double_ele[1, 4]
count-40046
total-40048
count-40047
total-40049
count-40048
total-40050
count-40049
total-40051
count-40050
total-40052
count-40051
total-40053
count-40052
total-40054
column1 double_ele[1, 4]
count-40053
total-40055
count-40054
total-40056
count-40055
total-40057
count-40056
total-40058
count-40057
total-40059
count-40058
total-40060
count-40059
total-40061
column6 double_ele[3, 4]
count-40060
total-40062
count-40061
total-40063
count-40062
total-40064
count-40063
total-40065
count-40064
total-40066
column2 double_ele[1, 3]
row 8double_ele[1, 2]
count-40065
total-40067
count-40066
total-40068
count-40067
total-40069
count-40068
total-40070
count-40069
total-40071
count-40070
total-40072
count-40071
total-40073
count-40072
total-40074
column1 double_ele[1, 8]
column2 double_ele[1, 8]
row 6double_ele[1, 8]
count-40073
total-40075
count-40074
total-40076
column4 double_ele[3, 4]
count-40075
total-40077
count-40076
total-40078
column3 double_ele[5, 6]
count-40077
total-40079
count-40078
total-40080
count-40079
total-40081
count-40080
total-40082
column7 double_ele[4, 5]
count-40081
total-40083
count-40082
total-40084
count-40083
total-40085
row 6double_ele[2, 3]
count-40084
total-40086
count-40085
total-40087
count-40086
total-40088
count-40087
total-40089
count-40088
total-40090
count-40089
total-40091
count-40090
total-40092
count-40091
total-40093
row 5double_ele[2, 6]
count-40092
total-40094
count-40093
total-40095
count-40094
total-40096
count-40095
total-40097
count-40096
total-40098
count-40097
total-40099
count-40098
total-40100
count-40099
total-40101
count-40100
total-40102
count-40101
total-40103
count-40102
total-40104
count-40103
total-40105
count-40104
total-40106
column9 double_ele[3, 6]
count-40105
total-40107
count-40106
total-40108
count-40107
total-40109
count-40108
total-40110
count-40109
total-40111
count-40110
total-40112
count-40111
total-40113
count-40112
total-40114
count-40113
total-40115
count-40114
total-40116
count-40115
total-40117
count-40116
total-40118
count-40117
total-40119
count-40118
total-40120
count-40119
total-40121
count-40120
total-40122
count-40121
total-40123
count-40122
total-40124
column1 double_ele[1, 9]
count-40123
total-40125
count-40124
total-40126
count-40125
total-40127
count-40126
total-40128
row 2double_ele[2, 4]
row 6double_ele[3, 7]
row 9double_ele[2, 3]
count-40127
total-40129
count-40128
total-40130
count-40129
total-40131
count-40130
total-40132
count-40131
total-40133
count-40132
total-40134
count-40133
total-40135
count-40134
total-40136
count-40135
total-40137
count-40136
total-40138
count-40137
total-40139
count-40138
total-40140
count-40139
total-40141
count-40140
total-40142
count-40141
total-40143
row 4double_ele[2, 7]
column4 double_ele[2, 7]
row 8double_ele[5, 7]
column9 double_ele[5, 7]
count-40142
total-40144
count-40143
total-40145
count-40144
total-40146
count-40145
total-40147
count-40146
total-40148
count-40147
total-40149
count-40148
total-40150
column4 double_ele[3, 4]
column7 double_ele[3, 8]
count-40149
total-40151
count-40150
total-40152
count-40151
total-40153
count-40152
total-40154
count-40153
total-40155
count-40154
total-40156
count-40155
total-40157
count-40156
total-40158

count-40157
total-40159
count-40158
total-40160
count-40159
total-40161
count-40160
total-40162
count-40161
total-40163
count-40162
total-40164
count-40163
total-40165
count-40164
total-40166
count-40165
total-40167
count-40166
total-40168
count-40167
total-40169
count-40168
total-40170
count-40169
total-40171
column7 double_ele[3, 5]
count-40170
total-40172
count-40171
total-40173
count-40172
total-40174
row 4double_ele[2, 3]
count-40173
total-40175
count-40174
total-40176
count-40175
total-40177
count-40176
total-40178
count-40177
total-40179
count-40178
total-40180
count-40179
total-40181
count-40180
total-40182
column4 double_ele[5, 6]
row 7double_ele[5, 6]
count-40181
total-40183
count-40182
total-40184
count-40183
total-40185
count-40184
total-40186
count-40185
total-40187
count-40186
total-40188
count-40187
total-40189
count-40188
total-40190
count-40189
total-40191
count-40190
total-40192
count-40191
total-40193
row 7double_ele[1, 3]
count-40192
total-40194
count-40193
total-40195
count-40194
total-40196
count-40195
total-40197
count-40196
total-40198
row 4double_ele[1, 5]
column5 double_ele[1, 5]
count-40197
total-40199
count-40198
total-40200
count-40199
total-40201
count-40200
total-40202
count-40201
total-40203
row 3double_ele[3, 5]
count-40202
total-40204
count-40203
total-40205
column6 double_ele[4, 7]
count-40204
total-40206
count-40205
total-40207
count-40206
total-40208
count-40207
total-40209
count-40208
total-40210
count-40209
total-40211
count-40210
total-40212
count-40211
total-40213
column7 double_ele[2, 3]
count-40212
total-40214
row 1double_ele[3, 4]
count-40213
total-40215
count-40214
total-40216
count-40215
total-40217
count-40216
total-40218
count-40217
total-40219
count-40218
total-40220
count-40219
total-40221
count-40220
total-40222
count-40221
total-40223
count-40222
total-40224
count-40223
total-40225
column4 double_ele[2, 8]
count-40224
total-40226
column1 double_ele[2, 8]
count-40225
total-40227
count-40226
total-40228
row 9double_ele[1, 6]
count-40227
total-40229
count-40228
total-40230
count-40229
total-40231
count-40230
total-40232
count-40231
total-40233
count-40232
total-40234
count-40233
total-40235
row 5double_ele[2, 6]
column6 double_ele[2, 6]
count-40234
total-40236
count-40235
total-40237
count-40236
total-40238
count-40237
total-40239
count-40238
total-40240
count-40239
total-40241
count-40240
total-40242
count-40241
total-40243
count-40242
total-40244
count-40243
total-40245
count-40244
total-40246
count-40245
total-40247
count-40246
total-40248
count-40247
total-40249
count-40248
total-40250
row 2double_ele[1, 7]
count-40249
total-40251
column4 double_ele[2, 3]
count-40250
total-40252
count-40251
total-40253
row 8double_ele[2, 4]
count-40252
total-40254
column7 double_ele[1, 6]
row 8double_ele[6, 7]
count-40253
total-40255
count-40254
total-40256
count-40255
total-40257
row 1double_ele[5, 6]
column5 double_ele[5, 6]
row 2triple_ele[4, 5, 6]
box3 triple_ele[4, 5, 6]
count-40256
total-40258
column4 double_ele[1, 6]
count-40257
total-40259
count-40258
total-40260
count-40259
total-40261
count-40260
total-40262
count-40261
total-40263
count-40262
total-40264
count-40263
total-40265
count-40264
total-40266
count-40265
total-40267
count-40266
total-40268
count-40267
total-40269
count-40268
total-40270
count-40269
total-40271
row 3double_ele[1, 3]
row 5double_ele[7, 8]
column5 double_ele[7, 8]
count-40270
total-40272
count-40271
total-40273
count-40272
total-40274
count-40273
total-40275
count-40274
total-40276
count-40275
total-40277
count-40276
total-40278
count-40277
total-40279
count-40278
total-40280
row 3double_ele[3, 8]
count-40279
total-40281
row 1double_ele[1, 2]
column3 double_ele[1, 2]
column9 double_ele[1, 3]
count-40280
total-40282
count-40281
total-40283
count-40282
total-40284
count-40283
total-40285
count-40284
total-40286
count-40285
total-40287
count-40286
total-40288
count-40287
total-40289
row 3double_ele[2, 4]
count-40288
total-40290
count-40289
total-40291
count-40290
total-40292
count-40291
total-40293
count-40292
total-40294
count-40293
total-40295
count-40294
total-40296
count-40295
total-40297
count-40296
total-40298
count-40297
total-40299
count-40298
total-40300
count-40299
total-40301
count-40300
total-40302
row 7double_ele[4, 6]
count-40301
total-40303
count-40302
total-40304
count-40303
total-40305
count-40304
total-40306
row 3double_ele[4, 6]
count-40305
total-40307
count-40306
total-40308
count-40307
total-40309
count-40308
total-40310
count-40309
total-40311
count-40310
total-40312
row 2double_ele[3, 6]
row 3double_ele[3, 6]
column6 double_ele[3, 6]
count-40311
total-40313
row 4double_ele[4, 6]
column7 double_ele[4, 6]
count-40312
total-40314
count-40313
total-40315
count-40314
total-40316
count-40315
total-40317
count-40316
total-40318
count-40317
total-40319
count-40318
total-40320
count-40319
total-40321
count-40320
total-40322
count-40321
total-40323
count-40322
total-40324
row 3double_ele[3, 7]
count-40323
total-40325
count-40324
total-40326
count-40325
total-40327
count-40326
total-40328
count-40327
total-40329
count-40328
total-40330
count-40329
total-40331
count-40330
total-40332
count-40331
total-40333
count-40332
total-40334
count-40333
total-40335
count-40334
total-40336
count-40335
total-40337
count-40336
total-40338
count-40337
total-40339
count-40338
total-40340
count-40339
total-40341
count-40340
total-40342
count-40341
total-40343
count-40342
total-40344
count-40343
total-40345
count-40344
total-40346
count-40345
total-40347
count-40346
total-40348
count-40347
total-40349
count-40348
total-40350
count-40349
total-40351
count-40350
total-40352
count-40351
total-40353
count-40352
total-40354
count-40353
total-40355
count-40354
total-40356
count-40355
total-40357
count-40356
total-40358
column3 double_ele[1, 3]
count-40357
total-40359
count-40358
total-40360
count-40359
total-40361
count-40360
total-40362
count-40361
total-40363
count-40362
total-40364
row 9double_ele[2, 4]
count-40363
total-40365
count-40364
total-40366
count-40365
total-40367
count-40366
total-40368
count-40367
total-40369
count-40368
total-40370
count-40369
total-40371
count-40370
total-40372
count-40371
total-40373
row 4double_ele[5, 6]
count-40372
total-40374
count-40373
total-40375
count-40374
total-40376
row 4double_ele[2, 6]
row 8double_ele[2, 4]
count-40375
total-40377
count-40376
total-40378
count-40377
total-40379
count-40378
total-40380
count-40379
total-40381
count-40380
total-40382
count-40381
total-40383
count-40382
total-40384
count-40383
total-40385
count-40384
total-40386
count-40385
total-40387
count-40386
total-40388
count-40387
total-40389
count-40388
total-40390
row 7double_ele[2, 3]
count-40389
total-40391
count-40390
total-40392
count-40391
total-40393
count-40392
total-40394
count-40393
total-40395
row 7double_ele[4, 6]
count-40394
total-40396
count-40395
total-40397
count-40396
total-40398
count-40397
total-40399
count-40398
total-40400
count-40399
total-40401
count-40400
total-40402
column1 double_ele[1, 8]
row 5double_ele[1, 8]
row 7double_ele[1, 8]
count-40401
total-40403
count-40402
total-40404
count-40403
total-40405
count-40404
total-40406
count-40405
total-40407
count-40406
total-40408
count-40407
total-40409
count-40408
total-40410
count-40409
total-40411
count-40410
total-40412
count-40411
total-40413
count-40412
total-40414
row 1double_ele[1, 5]
column7 double_ele[1, 5]
count-40413
total-40415
count-40414
total-40416
count-40415
total-40417
count-40416
total-40418
count-40417
total-40419
count-40418
total-40420
count-40419
total-40421
count-40420
total-40422
count-40421
total-40423
row 5double_ele[4, 6]
row 6double_ele[2, 6]
count-40422
total-40424
count-40423
total-40425
count-40424
total-40426
count-40425
total-40427
count-40426
total-40428
count-40427
total-40429
count-40428
total-40430
count-40429
total-40431
count-40430
total-40432
count-40431
total-40433
count-40432
total-40434
count-40433
total-40435
count-40434
total-40436
count-40435
total-40437
count-40436
total-40438
column6 double_ele[1, 5]
column9 double_ele[2, 6]
count-40437
total-40439
count-40438
total-40440
count-40439
total-40441
count-40440
total-40442
count-40441
total-40443
count-40442
total-40444

count-40443
total-40445
count-40444
total-40446
count-40445
total-40447
count-40446
total-40448
count-40447
total-40449
count-40448
total-40450
count-40449
total-40451
count-40450
total-40452
count-40451
total-40453
row 1double_ele[2, 3]
count-40452
total-40454
count-40453
total-40455
count-40454
total-40456
count-40455
total-40457
column7 double_ele[1, 5]
box9 triple_ele[1, 2, 7]
count-40456
total-40458
count-40457
total-40459
count-40458
total-40460
count-40459
total-40461
count-40460
total-40462
count-40461
total-40463
count-40462
total-40464
count-40463
total-40465
count-40464
total-40466
count-40465
total-40467
count-40466
total-40468
count-40467
total-40469
count-40468
total-40470
count-40469
total-40471
column6 double_ele[1, 5]
count-40470
total-40472
count-40471
total-40473
count-40472
total-40474
count-40473
total-40475
count-40474
total-40476
column9 double_ele[1, 2]
count-40475
total-40477
row 2double_ele[1, 5]
count-40476
total-40478
count-40477
total-40479
count-40478
total-40480
count-40479
total-40481
count-40480
total-40482
count-40481
total-40483
count-40482
total-40484
row 6double_ele[1, 4]
count-40483
total-40485
count-40484
total-40486
count-40485
total-40487
count-40486
total-40488
count-40487
total-40489
count-40488
total-40490
column6 double_ele[2, 3]
count-40489
total-40491
row 4double_ele[4, 6]
count-40490
total-40492
count-40491
total-40493
column8 double_ele[2, 7]
row 9double_ele[3, 6]
column9 double_ele[5, 7]
count-40492
total-40494
count-40493
total-40495
count-40494
total-40496
count-40495
total-40497
count-40496
total-40498
count-40497
total-40499
count-40498
total-40500
count-40499
total-40501
row 7double_ele[1, 2]
column8 double_ele[1, 2]
count-40500
total-40502
count-40501
total-40503
count-40502
total-40504
count-40503
total-40505
count-40504
total-40506
count-40505
total-40507
column6 double_ele[5, 8]
count-40506
total-40508
count-40507
total-40509
count-40508
total-40510
count-40509
total-40511
count-40510
total-40512
count-40511
total-40513
count-40512
total-40514
count-40513
total-40515
count-40514
total-40516
count-40515
total-40517
count-40516
total-40518
count-40517
total-40519
count-40518
total-40520
count-40519
total-40521
count-40520
total-40522
count-40521
total-40523
count-40522
total-40524
count-40523
total-40525
count-40524
total-40526
count-40525
total-40527
count-40526
total-40528
count-40527
total-40529
count-40528
total-40530
count-40529
total-40531
count-40530
total-40532
count-40531
total-40533
count-40532
total-40534
count-40533
total-40535
column1 double_ele[2, 4]
count-40534
total-40536
count-40535
total-40537
count-40536
total-40538
count-40537
total-40539
column8 double_ele[1, 8]
count-40538
total-40540
count-40539
total-40541
count-40540
total-40542
count-40541
total-40543
count-40542
total-40544
count-40543
total-40545
count-40544
total-40546
count-40545
total-40547
count-40546
total-40548
count-40547
total-40549
count-40548
total-40550
column2 double_ele[4, 6]
column6 double_ele[1, 6]
count-40549
total-40551
column3 double_ele[3, 5]
count-40550
total-40552
count-40551
total-40553
column7 double_ele[1, 8]
count-40552
total-40554
count-40553
total-40555
count-40554
total-40556
column3 double_ele[1, 5]
count-40555
total-40557
count-40556
total-40558
count-40557
total-40559
count-40558
total-40560
count-40559
total-40561
count-40560
total-40562
count-40561
total-40563
count-40562
total-40564
count-40563
total-40565
count-40564
total-40566
count-40565
total-40567
count-40566
total-40568
count-40567
total-40569
column5 double_ele[3, 6]
count-40568
total-40570
count-40569
total-40571
count-40570
total-40572
row 8double_ele[2, 6]
count-40571
total-40573
row 4double_ele[2, 3]
column9 double_ele[1, 2]
count-40572
total-40574
count-40573
total-40575
count-40574
total-40576
count-40575
total-40577
count-40576
total-40578
count-40577
total-40579
column7 double_ele[4, 6]
row 8double_ele[4, 6]
count-40578
total-40580
column7 double_ele[2, 5]
count-40579
total-40581
count-40580
total-40582
count-40581
total-40583
count-40582
total-40584
row 2double_ele[1, 6]
count-40583
total-40585
count-40584
total-40586
count-40585
total-40587
count-40586
total-40588
count-40587
total-40589
count-40588
total-40590
row 4double_ele[2, 5]
count-40589
total-40591
count-40590
total-40592
row 2double_ele[1, 2]
count-40591
total-40593
count-40592
total-40594
count-40593
total-40595
count-40594
total-40596
count-40595
total-40597
count-40596
total-40598
count-40597
total-40599
count-40598
total-40600
count-40599
total-40601
count-40600
total-40602
count-40601
total-40603
count-40602
total-40604
count-40603
total-40605
count-40604
total-40606
count-40605
total-40607
count-40606
total-40608
count-40607
total-40609
count-40608
total-40610
count-40609
total-40611
count-40610
total-40612
row 5double_ele[2, 6]
column7 double_ele[3, 5]
row 9double_ele[3, 5]
count-40611
total-40613
count-40612
total-40614
count-40613
total-40615
count-40614
total-40616
count-40615
total-40617
count-40616
total-40618
count-40617
total-40619
count-40618
total-40620
count-40619
total-40621
count-40620
total-40622
count-40621
total-40623
count-40622
total-40624
count-40623
total-40625
count-40624
total-40626
count-40625
total-40627
count-40626
total-40628
count-40627
total-40629
count-40628
total-40630
row 8double_ele[2, 4]
count-40629
total-40631
count-40630
total-40632
count-40631
total-40633
count-40632
total-40634
count-40633
total-40635
count-40634
total-40636
count-40635
total-40637
count-40636
total-40638
count-40637
total-40639
count-40638
total-40640
count-40639
total-40641
count-40640
total-40642
count-40641
total-40643
count-40642
total-40644
count-40643
total-40645
count-40644
total-40646
count-40645
total-40647
count-40646
total-40648
count-40647
total-40649
row 9triple_ele[1, 2, 3]
box9 triple_ele[1, 2, 3]
count-40648
total-40650
count-40649
total-40651
count-40650
total-40652
count-40651
total-40653
row 2double_ele[1, 2]
column2 double_ele[2, 5]
row 7triple_ele[2, 3, 5]
box3 triple_ele[2, 4, 7]
count-40652
total-40654
row 4double_ele[3, 7]
count-40653
total-40655
count-40654
total-40656
count-40655
total-40657
count-40656
total-40658
count-40657
total-40659
count-40658
total-40660
column6 double_ele[2, 5]
count-40659
total-40661
column5 double_ele[1, 6]
count-40660
total-40662
count-40661
total-40663
row 5double_ele[3, 6]
count-40662
total-40664
count-40663
total-40665
count-40664
total-40666
count-40665
total-40667
row 2double_ele[1, 2]
count-40666
total-40668
count-40667
total-40669
count-40668
total-40670
count-40669
total-40671
count-40670
total-40672
count-40671
total-40673
count-40672
total-40674
count-40673
total-40675
count-40674
total-40676
count-40675
total-40677
count-40676
total-40678
count-40677
total-40679
count-40678
total-40680
count-40679
total-40681
count-40680
total-40682
count-40681
total-40683
count-40682
total-40684
count-40683
total-40685
count-40684
total-40686
row 8double_ele[3, 8]
column8 double_ele[3, 8]
count-40685
total-40687
count-40686
total-40688
count-40687
total-40689
count-40688
total-40690
count-40689
total-40691
count-40690
total-40692
count-40691
total-40693
row 1double_ele[2, 8]
count-40692
total-40694
count-40693
total-40695
count-40694
total-40696
count-40695
total-40697
count-40696
total-40698
count-40697
total-40699
count-40698
total-40700
count-40699
total-40701
count-40700
total-40702
row 2double_ele[5, 7]
row 6double_ele[5, 7]
column7 double_ele[5, 7]
row 8double_ele[1, 5]
count-40701
total-40703
count-40702
total-40704
count-40703
total-40705
row 4double_ele[5, 6]
column4 double_ele[5, 6]
row 6triple_ele[2, 5, 6]
box6 triple_ele[2, 5, 6]
count-40704
total-40706
count-40705
total-40707
count-40706
total-40708
count-40707
total-40709
count-40708
total-40710
count-40709
total-40711
count-40710
total-40712
count-40711
total-40713
count-40712
total-40714
row 2double_ele[2, 6]
count-40713
total-40715
count-40714
total-40716
count-40715
total-40717
count-40716
total-40718
count-40717
total-40719
count-40718
total-40720
count-40719
total-40721
count-40720
total-40722
count-40721
total-40723
count-40722
total-40724
column9 double_ele[3, 5]
count-40723
total-40725
count-40724
total-40726
count-40725
total-40727
count-40726
total-40728
count-40727
total-40729
count-40728
total-40730
count-40729
total-40731
count-40730
total-40732
count-40731
total-40733
count-40732
total-40734
count-40733
total-40735
row 5double_ele[2, 3]
count-40734
total-40736
count-40735
total-40737
count-40736
total-40738
count-40737
total-40739
count-40738
total-40740
count-40739
total-40741
count-40740
total-40742
row 1double_ele[7, 8]
count-40741
total-40743
count-40742
total-40744
count-40743
total-40745
count-40744
total-40746

count-40745
total-40747
column5 double_ele[4, 6]
row 8triple_ele[3, 4, 6]
box9 triple_ele[3, 4, 6]
count-40746
total-40748
count-40747
total-40749
count-40748
total-40750
row 5double_ele[3, 4]
column7 double_ele[3, 4]
count-40749
total-40751
count-40750
total-40752
count-40751
total-40753
count-40752
total-40754
count-40753
total-40755
count-40754
total-40756
count-40755
total-40757
count-40756
total-40758
count-40757
total-40759
count-40758
total-40760
count-40759
total-40761
count-40760
total-40762
count-40761
total-40763
count-40762
total-40764
count-40763
total-40765
count-40764
total-40766
count-40765
total-40767
column3 double_ele[1, 4]
count-40766
total-40768
count-40767
total-40769
count-40768
total-40770
count-40769
total-40771
count-40770
total-40772
count-40771
total-40773
column2 double_ele[2, 7]
count-40772
total-40774
count-40773
total-40775
row 3double_ele[6, 7]
count-40774
total-40776
column6 double_ele[1, 3]
row 8double_ele[1, 3]
count-40775
total-40777
count-40776
total-40778
count-40777
total-40779
column7 double_ele[3, 6]
count-40778
total-40780
count-40779
total-40781
count-40780
total-40782
count-40781
total-40783
count-40782
total-40784
count-40783
total-40785
count-40784
total-40786
count-40785
total-40787
count-40786
total-40788
count-40787
total-40789
count-40788
total-40790
count-40789
total-40791
count-40790
total-40792
count-40791
total-40793
count-40792
total-40794
count-40793
total-40795
count-40794
total-40796
count-40795
total-40797
count-40796
total-40798
count-40797
total-40799
count-40798
total-40800
count-40799
total-40801
count-40800
total-40802
count-40801
total-40803
count-40802
total-40804
count-40803
total-40805
count-40804
total-40806
count-40805
total-40807
count-40806
total-40808
count-40807
total-40809
count-40808
total-40810
count-40809
total-40811
count-40810
total-40812
count-40811
total-40813
count-40812
total-40814
count-40813
total-40815
count-40814
total-40816
count-40815
total-40817
row 3double_ele[2, 5]
count-40816
total-40818
column7 double_ele[5, 6]
count-40817
total-40819
count-40818
total-40820
column5 double_ele[5, 8]
count-40819
total-40821
count-40820
total-40822
row 4double_ele[1, 6]
column4 double_ele[1, 7]
row 6double_ele[1, 7]
row 8double_ele[1, 7]
count-40821
total-40823
count-40822
total-40824
count-40823
total-40825
count-40824
total-40826
count-40825
total-40827
count-40826
total-40828
count-40827
total-40829
count-40828
total-40830
count-40829
total-40831
count-40830
total-40832
count-40831
total-40833
count-40832
total-40834
count-40833
total-40835
count-40834
total-40836
count-40835
total-40837
count-40836
total-40838
row 4double_ele[1, 4]
count-40837
total-40839
column6 double_ele[2, 3]
column7 double_ele[2, 4]
count-40838
total-40840
count-40839
total-40841
count-40840
total-40842
count-40841
total-40843
count-40842
total-40844
count-40843
total-40845
count-40844
total-40846
count-40845
total-40847
count-40846
total-40848
count-40847
total-40849
count-40848
total-40850
count-40849
total-40851
count-40850
total-40852
column1 double_ele[2, 3]
count-40851
total-40853
count-40852
total-40854
count-40853
total-40855
count-40854
total-40856
column4 double_ele[1, 2]
row 8double_ele[1, 2]
column8 double_ele[1, 2]
row 9double_ele[1, 2]
count-40855
total-40857
count-40856
total-40858
count-40857
total-40859
count-40858
total-40860
count-40859
total-40861
count-40860
total-40862
count-40861
total-40863
column5 double_ele[2, 3]
row 7double_ele[2, 3]
count-40862
total-40864
count-40863
total-40865
row 3double_ele[1, 8]
column3 double_ele[1, 8]
count-40864
total-40866
count-40865
total-40867
count-40866
total-40868
row 1double_ele[3, 7]
column6 double_ele[4, 6]
row 8double_ele[1, 6]
count-40867
total-40869
count-40868
total-40870
count-40869
total-40871
count-40870
total-40872
count-40871
total-40873
count-40872
total-40874
column8 double_ele[3, 7]
count-40873
total-40875
count-40874
total-40876
count-40875
total-40877
row 2double_ele[3, 4]
count-40876
total-40878
count-40877
total-40879
count-40878
total-40880
count-40879
total-40881
count-40880
total-40882
count-40881
total-40883
row 1double_ele[1, 3]
count-40882
total-40884
count-40883
total-40885
count-40884
total-40886
count-40885
total-40887
count-40886
total-40888
count-40887
total-40889
count-40888
total-40890
count-40889
total-40891
count-40890
total-40892
count-40891
total-40893
count-40892
total-40894
row 1double_ele[1, 2]
row 8double_ele[2, 6]
column8 double_ele[2, 6]
count-40893
total-40895
count-40894
total-40896
row 1double_ele[4, 7]
count-40895
total-40897
count-40896
total-40898
count-40897
total-40899
count-40898
total-40900
count-40899
total-40901
count-40900
total-40902
column7 double_ele[2, 4]
count-40901
total-40903
count-40902
total-40904
count-40903
total-40905
count-40904
total-40906
count-40905
total-40907
count-40906
total-40908
count-40907
total-40909
count-40908
total-40910
count-40909
total-40911
count-40910
total-40912
count-40911
total-40913
count-40912
total-40914
count-40913
total-40915
count-40914
total-40916
row 3double_ele[1, 5]
column3 double_ele[1, 5]
count-40915
total-40917
count-40916
total-40918
count-40917
total-40919
count-40918
total-40920
count-40919
total-40921
count-40920
total-40922
count-40921
total-40923
count-40922
total-40924
count-40923
total-40925
count-40924
total-40926
row 1double_ele[1, 3]
row 6double_ele[1, 2]
count-40925
total-40927
count-40926
total-40928
count-40927
total-40929
count-40928
total-40930
count-40929
total-40931
count-40930
total-40932
count-40931
total-40933
count-40932
total-40934
count-40933
total-40935
count-40934
total-40936
count-40935
total-40937
count-40936
total-40938
count-40937
total-40939
count-40938
total-40940
column3 double_ele[1, 9]
column4 double_ele[3, 9]
column6 double_ele[3, 9]
column8 double_ele[3, 7]
row 9double_ele[3, 9]
count-40939
total-40941
count-40940
total-40942
count-40941
total-40943
count-40942
total-40944
column2 double_ele[1, 2]
row 6double_ele[1, 2]
column6 double_ele[3, 5]
row 9double_ele[5, 9]
column9 double_ele[1, 9]
count-40943
total-40945
count-40944
total-40946
count-40945
total-40947
count-40946
total-40948
count-40947
total-40949
count-40948
total-40950
count-40949
total-40951
count-40950
total-40952
count-40951
total-40953
column2 double_ele[3, 5]
count-40952
total-40954
count-40953
total-40955
column9 double_ele[3, 4]
count-40954
total-40956
count-40955
total-40957
row 1double_ele[2, 5]
count-40956
total-40958
column3 double_ele[4, 8]
column6 double_ele[4, 8]
row 8double_ele[4, 8]
count-40957
total-40959
count-40958
total-40960
count-40959
total-40961
count-40960
total-40962
count-40961
total-40963
count-40962
total-40964
count-40963
total-40965
count-40964
total-40966
count-40965
total-40967
count-40966
total-40968
count-40967
total-40969
count-40968
total-40970
count-40969
total-40971
count-40970
total-40972
count-40971
total-40973
column8 double_ele[1, 2]
count-40972
total-40974
count-40973
total-40975
count-40974
total-40976
count-40975
total-40977
count-40976
total-40978
count-40977
total-40979
count-40978
total-40980
count-40979
total-40981
count-40980
total-40982
count-40981
total-40983
count-40982
total-40984
count-40983
total-40985
count-40984
total-40986
count-40985
total-40987
count-40986
total-40988
count-40987
total-40989
count-40988
total-40990
count-40989
total-40991
count-40990
total-40992
count-40991
total-40993
row 6double_ele[2, 3]
column6 double_ele[2, 5]
row 9double_ele[2, 5]
count-40992
total-40994
count-40993
total-40995
count-40994
total-40996
count-40995
total-40997
count-40996
total-40998
count-40997
total-40999
box3 triple_ele[2, 5, 7]
count-40998
total-41000
row 2double_ele[1, 5]
column6 double_ele[1, 5]
box6 triple_ele[1, 3, 5]
count-40999
total-41001
count-41000
total-41002
count-41001
total-41003
count-41002
total-41004
count-41003
total-41005
count-41004
total-41006
count-41005
total-41007
count-41006
total-41008
count-41007
total-41009
count-41008
total-41010
count-41009
total-41011
count-41010
total-41012
count-41011
total-41013
row 4double_ele[1, 2]
row 5double_ele[2, 4]
count-41012
total-41014
count-41013
total-41015
count-41014
total-41016
count-41015
total-41017
count-41016
total-41018
count-41017
total-41019
count-41018
total-41020

count-41019
total-41021
column1 double_ele[2, 3]
count-41020
total-41022
count-41021
total-41023
count-41022
total-41024
count-41023
total-41025
count-41024
total-41026
count-41025
total-41027
count-41026
total-41028
count-41027
total-41029
count-41028
total-41030
count-41029
total-41031
count-41030
total-41032
count-41031
total-41033
count-41032
total-41034
count-41033
total-41035
count-41034
total-41036
count-41035
total-41037
column5 double_ele[3, 5]
count-41036
total-41038
row 1double_ele[2, 7]
column1 double_ele[2, 7]
count-41037
total-41039
count-41038
total-41040
count-41039
total-41041
count-41040
total-41042
row 4double_ele[2, 3]
count-41041
total-41043
count-41042
total-41044
count-41043
total-41045
count-41044
total-41046
count-41045
total-41047
count-41046
total-41048
count-41047
total-41049
count-41048
total-41050
row 8double_ele[1, 6]
count-41049
total-41051
column9 double_ele[4, 9]
count-41050
total-41052
count-41051
total-41053
count-41052
total-41054
count-41053
total-41055
count-41054
total-41056
count-41055
total-41057
count-41056
total-41058
count-41057
total-41059
count-41058
total-41060
row 7double_ele[3, 4]
count-41059
total-41061
count-41060
total-41062
count-41061
total-41063
count-41062
total-41064
count-41063
total-41065
row 4double_ele[4, 9]
count-41064
total-41066
count-41065
total-41067
count-41066
total-41068
count-41067
total-41069
count-41068
total-41070
count-41069
total-41071
count-41070
total-41072
count-41071
total-41073
count-41072
total-41074
row 4double_ele[3, 5]
column5 double_ele[3, 5]
count-41073
total-41075
count-41074
total-41076
column8 double_ele[1, 3]
count-41075
total-41077
count-41076
total-41078
row 8double_ele[3, 8]
count-41077
total-41079
count-41078
total-41080
count-41079
total-41081
count-41080
total-41082
count-41081
total-41083
count-41082
total-41084
count-41083
total-41085
count-41084
total-41086
count-41085
total-41087
count-41086
total-41088
count-41087
total-41089
count-41088
total-41090
count-41089
total-41091
count-41090
total-41092
count-41091
total-41093
count-41092
total-41094
count-41093
total-41095
count-41094
total-41096
count-41095
total-41097
count-41096
total-41098
count-41097
total-41099
count-41098
total-41100
count-41099
total-41101
count-41100
total-41102
count-41101
total-41103
count-41102
total-41104
column7 double_ele[1, 2]
count-41103
total-41105
count-41104
total-41106
count-41105
total-41107
count-41106
total-41108
count-41107
total-41109
count-41108
total-41110
count-41109
total-41111
count-41110
total-41112
column3 double_ele[2, 4]
row 8double_ele[2, 4]
count-41111
total-41113
count-41112
total-41114
count-41113
total-41115
count-41114
total-41116
count-41115
total-41117
count-41116
total-41118
count-41117
total-41119
count-41118
total-41120
column2 double_ele[1, 7]
column5 double_ele[1, 5]
count-41119
total-41121
count-41120
total-41122
column1 double_ele[1, 3]
count-41121
total-41123
count-41122
total-41124
count-41123
total-41125
count-41124
total-41126
count-41125
total-41127
column2 double_ele[3, 7]
count-41126
total-41128
column1 double_ele[2, 5]
row 3double_ele[2, 5]
count-41127
total-41129
count-41128
total-41130
count-41129
total-41131
count-41130
total-41132
row 5double_ele[1, 2]
column9 double_ele[1, 2]
count-41131
total-41133
column5 double_ele[4, 5]
count-41132
total-41134
row 3double_ele[1, 5]
count-41133
total-41135
count-41134
total-41136
count-41135
total-41137
count-41136
total-41138
count-41137
total-41139
count-41138
total-41140
count-41139
total-41141
count-41140
total-41142
count-41141
total-41143
count-41142
total-41144
row 1double_ele[2, 8]
row 8double_ele[2, 3]
column8 double_ele[2, 8]
count-41143
total-41145
count-41144
total-41146
count-41145
total-41147
column7 double_ele[2, 5]
count-41146
total-41148
count-41147
total-41149
count-41148
total-41150
column3 double_ele[2, 6]
row 4double_ele[4, 6]
row 7double_ele[2, 6]
count-41149
total-41151
count-41150
total-41152
count-41151
total-41153
count-41152
total-41154
count-41153
total-41155
count-41154
total-41156
count-41155
total-41157
count-41156
total-41158
count-41157
total-41159
count-41158
total-41160
count-41159
total-41161
count-41160
total-41162
count-41161
total-41163
count-41162
total-41164
count-41163
total-41165
count-41164
total-41166
count-41165
total-41167
count-41166
total-41168
count-41167
total-41169
count-41168
total-41170
count-41169
total-41171
count-41170
total-41172
count-41171
total-41173
count-41172
total-41174
count-41173
total-41175
count-41174
total-41176
count-41175
total-41177
count-41176
total-41178
count-41177
total-41179
count-41178
total-41180
count-41179
total-41181
count-41180
total-41182
row 2double_ele[3, 4]
count-41181
total-41183
count-41182
total-41184
count-41183
total-41185
count-41184
total-41186
count-41185
total-41187
count-41186
total-41188
count-41187
total-41189
count-41188
total-41190
count-41189
total-41191
count-41190
total-41192
row 1double_ele[2, 6]
count-41191
total-41193
count-41192
total-41194
column2 double_ele[2, 4]
count-41193
total-41195
count-41194
total-41196
count-41195
total-41197
count-41196
total-41198
count-41197
total-41199
count-41198
total-41200
count-41199
total-41201
count-41200
total-41202
count-41201
total-41203
count-41202
total-41204
count-41203
total-41205
count-41204
total-41206
count-41205
total-41207
count-41206
total-41208
count-41207
total-41209
count-41208
total-41210
count-41209
total-41211
column8 double_ele[3, 8]
count-41210
total-41212
count-41211
total-41213
count-41212
total-41214
count-41213
total-41215
row 1double_ele[1, 2]
column4 double_ele[2, 6]
row 5double_ele[2, 6]
row 4triple_ele[2, 3, 6]
box6 triple_ele[2, 3, 6]
count-41214
total-41216
count-41215
total-41217
count-41216
total-41218
count-41217
total-41219
count-41218
total-41220
count-41219
total-41221
row 7double_ele[1, 3]
count-41220
total-41222
count-41221
total-41223
count-41222
total-41224
count-41223
total-41225
count-41224
total-41226
column8 double_ele[4, 6]
count-41225
total-41227
count-41226
total-41228
count-41227
total-41229
count-41228
total-41230
row 3double_ele[3, 6]
count-41229
total-41231
count-41230
total-41232
count-41231
total-41233
count-41232
total-41234
column4 double_ele[3, 7]
row 6double_ele[3, 7]
count-41233
total-41235
count-41234
total-41236
count-41235
total-41237
count-41236
total-41238
count-41237
total-41239
count-41238
total-41240
count-41239
total-41241
count-41240
total-41242
count-41241
total-41243
count-41242
total-41244
count-41243
total-41245
count-41244
total-41246
count-41245
total-41247
count-41246
total-41248
count-41247
total-41249
count-41248
total-41250
count-41249
total-41251
count-41250
total-41252
column1 double_ele[1, 6]
row 3double_ele[1, 6]
count-41251
total-41253
count-41252
total-41254
count-41253
total-41255
count-41254
total-41256
column1 double_ele[2, 3]
count-41255
total-41257
count-41256
total-41258
count-41257
total-41259
count-41258
total-41260
count-41259
total-41261
count-41260
total-41262
count-41261
total-41263
column6 double_ele[1, 3]
row 7double_ele[1, 3]
count-41262
total-41264
column8 double_ele[1, 3]
count-41263
total-41265
count-41264
total-41266
count-41265
total-41267
count-41266
total-41268
count-41267
total-41269
count-41268
total-41270
count-41269
total-41271
count-41270
total-41272
count-41271
total-41273
count-41272
total-41274
count-41273
total-41275
count-41274
total-41276
count-41275
total-41277
column6 double_ele[1, 7]
count-41276
total-41278
count-41277
total-41279
count-41278
total-41280
count-41279
total-41281
count-41280
total-41282
row 5double_ele[3, 8]
row 7double_ele[3, 8]
column8 double_ele[3, 8]
count-41281
total-41283
count-41282
total-41284
count-41283
total-41285
count-41284
total-41286
count-41285
total-41287
count-41286
total-41288
count-41287
total-41289
count-41288
total-41290
count-41289
total-41291
count-41290
total-41292
count-41291
total-41293
count-41292
total-41294
count-41293
total-41295
column6 double_ele[3, 6]
row 7double_ele[3, 6]
count-41294
total-41296
count-41295
total-41297
count-41296
total-41298
count-41297
total-41299
count-41298
total-41300
count-41299
total-41301
count-41300
total-41302
count-41301
total-41303
count-41302
total-41304
count-41303
total-41305
count-41304
total-41306
count-41305
total-41307
count-41306
total-41308
count-41307
total-41309
count-41308
total-41310
count-41309
total-41311
count-41310
total-41312

count-41311
total-41313
count-41312
total-41314
count-41313
total-41315
count-41314
total-41316
count-41315
total-41317
count-41316
total-41318
count-41317
total-41319
count-41318
total-41320
row 7double_ele[2, 5]
count-41319
total-41321
count-41320
total-41322
count-41321
total-41323
count-41322
total-41324
count-41323
total-41325
count-41324
total-41326
count-41325
total-41327
count-41326
total-41328
count-41327
total-41329
count-41328
total-41330
count-41329
total-41331
count-41330
total-41332
count-41331
total-41333
count-41332
total-41334
count-41333
total-41335
count-41334
total-41336
count-41335
total-41337
count-41336
total-41338
count-41337
total-41339
row 5double_ele[3, 4]
count-41338
total-41340
count-41339
total-41341
count-41340
total-41342
count-41341
total-41343
count-41342
total-41344
count-41343
total-41345
row 5double_ele[1, 2]
column6 double_ele[1, 2]
column7 double_ele[1, 2]
count-41344
total-41346
count-41345
total-41347
count-41346
total-41348
count-41347
total-41349
count-41348
total-41350
count-41349
total-41351
count-41350
total-41352
count-41351
total-41353
column2 double_ele[2, 6]
count-41352
total-41354
count-41353
total-41355
count-41354
total-41356
count-41355
total-41357
count-41356
total-41358
row 2double_ele[2, 6]
count-41357
total-41359
count-41358
total-41360
count-41359
total-41361
count-41360
total-41362
count-41361
total-41363
count-41362
total-41364
count-41363
total-41365
count-41364
total-41366
count-41365
total-41367
count-41366
total-41368
count-41367
total-41369
count-41368
total-41370
count-41369
total-41371
count-41370
total-41372
count-41371
total-41373
count-41372
total-41374
column5 double_ele[4, 5]
count-41373
total-41375
count-41374
total-41376
column1 double_ele[3, 4]
row 8double_ele[3, 4]
count-41375
total-41377
count-41376
total-41378
count-41377
total-41379
count-41378
total-41380
count-41379
total-41381
count-41380
total-41382
count-41381
total-41383
row 1double_ele[1, 5]
count-41382
total-41384
count-41383
total-41385
count-41384
total-41386
count-41385
total-41387
count-41386
total-41388
count-41387
total-41389
count-41388
total-41390
count-41389
total-41391
count-41390
total-41392
count-41391
total-41393
count-41392
total-41394
count-41393
total-41395
row 4double_ele[4, 5]
column5 double_ele[4, 5]
count-41394
total-41396
count-41395
total-41397
count-41396
total-41398
count-41397
total-41399
count-41398
total-41400
count-41399
total-41401
count-41400
total-41402
count-41401
total-41403
count-41402
total-41404
count-41403
total-41405
count-41404
total-41406
count-41405
total-41407
row 2double_ele[4, 9]
count-41406
total-41408
count-41407
total-41409
column4 double_ele[2, 7]
row 8double_ele[2, 7]
count-41408
total-41410
count-41409
total-41411
count-41410
total-41412
count-41411
total-41413
count-41412
total-41414
count-41413
total-41415
count-41414
total-41416
count-41415
total-41417
count-41416
total-41418
count-41417
total-41419
count-41418
total-41420
count-41419
total-41421
count-41420
total-41422
count-41421
total-41423
count-41422
total-41424
count-41423
total-41425
row 1double_ele[3, 5]
count-41424
total-41426
count-41425
total-41427
count-41426
total-41428
count-41427
total-41429
count-41428
total-41430
count-41429
total-41431
count-41430
total-41432
count-41431
total-41433
count-41432
total-41434
count-41433
total-41435
count-41434
total-41436
count-41435
total-41437
count-41436
total-41438
count-41437
total-41439
count-41438
total-41440
count-41439
total-41441
count-41440
total-41442
count-41441
total-41443
count-41442
total-41444
count-41443
total-41445
count-41444
total-41446
count-41445
total-41447
count-41446
total-41448
count-41447
total-41449
count-41448
total-41450
column1 double_ele[2, 3]
count-41449
total-41451
count-41450
total-41452
count-41451
total-41453
count-41452
total-41454
count-41453
total-41455
count-41454
total-41456
count-41455
total-41457
count-41456
total-41458
count-41457
total-41459
count-41458
total-41460
count-41459
total-41461
count-41460
total-41462
count-41461
total-41463
count-41462
total-41464
count-41463
total-41465
count-41464
total-41466
count-41465
total-41467
count-41466
total-41468
count-41467
total-41469
count-41468
total-41470
count-41469
total-41471
count-41470
total-41472
row 1double_ele[5, 8]
column8 double_ele[5, 8]
count-41471
total-41473
count-41472
total-41474
count-41473
total-41475
column4 double_ele[5, 7]
count-41474
total-41476
count-41475
total-41477
count-41476
total-41478
count-41477
total-41479
count-41478
total-41480
count-41479
total-41481
count-41480
total-41482
count-41481
total-41483
count-41482
total-41484
count-41483
total-41485
count-41484
total-41486
count-41485
total-41487
count-41486
total-41488
count-41487
total-41489
count-41488
total-41490
count-41489
total-41491
count-41490
total-41492
count-41491
total-41493
count-41492
total-41494
count-41493
total-41495
row 4double_ele[4, 7]
count-41494
total-41496
count-41495
total-41497
count-41496
total-41498
count-41497
total-41499
count-41498
total-41500
count-41499
total-41501
count-41500
total-41502
count-41501
total-41503
count-41502
total-41504
count-41503
total-41505
count-41504
total-41506
row 2double_ele[1, 2]
column5 double_ele[1, 2]
count-41505
total-41507
row 4double_ele[3, 4]
column7 double_ele[1, 4]
count-41506
total-41508
count-41507
total-41509
count-41508
total-41510
count-41509
total-41511
count-41510
total-41512
count-41511
total-41513
count-41512
total-41514
count-41513
total-41515
count-41514
total-41516
count-41515
total-41517
count-41516
total-41518
count-41517
total-41519
count-41518
total-41520
count-41519
total-41521
count-41520
total-41522
count-41521
total-41523
count-41522
total-41524
column5 double_ele[3, 7]
count-41523
total-41525
count-41524
total-41526
count-41525
total-41527
count-41526
total-41528
count-41527
total-41529
count-41528
total-41530
count-41529
total-41531
count-41530
total-41532
count-41531
total-41533
count-41532
total-41534
count-41533
total-41535
row 8double_ele[1, 2]
count-41534
total-41536
column4 double_ele[1, 2]
row 9double_ele[1, 2]
count-41535
total-41537
count-41536
total-41538
count-41537
total-41539
count-41538
total-41540
count-41539
total-41541
count-41540
total-41542
column5 double_ele[4, 5]
count-41541
total-41543
column2 double_ele[2, 9]
count-41542
total-41544
count-41543
total-41545
count-41544
total-41546
count-41545
total-41547
count-41546
total-41548
count-41547
total-41549
count-41548
total-41550
count-41549
total-41551
count-41550
total-41552
count-41551
total-41553
count-41552
total-41554
column6 double_ele[1, 2]
row 8double_ele[1, 2]
count-41553
total-41555
count-41554
total-41556
count-41555
total-41557
count-41556
total-41558
count-41557
total-41559
count-41558
total-41560
count-41559
total-41561
count-41560
total-41562
count-41561
total-41563
count-41562
total-41564
count-41563
total-41565
row 1double_ele[1, 2]
column2 double_ele[1, 2]
count-41564
total-41566
count-41565
total-41567
count-41566
total-41568
column1 double_ele[6, 7]
count-41567
total-41569
count-41568
total-41570
count-41569
total-41571
count-41570
total-41572
row 4double_ele[2, 7]
count-41571
total-41573
count-41572
total-41574
count-41573
total-41575
count-41574
total-41576
count-41575
total-41577
count-41576
total-41578
count-41577
total-41579
column1 double_ele[4, 7]
column7 double_ele[2, 5]
count-41578
total-41580
count-41579
total-41581
count-41580
total-41582
column2 double_ele[2, 8]
column8 double_ele[6, 8]
count-41581
total-41583
count-41582
total-41584
count-41583
total-41585
count-41584
total-41586
count-41585
total-41587
count-41586
total-41588
count-41587
total-41589
count-41588
total-41590
count-41589
total-41591
count-41590
total-41592
row 6double_ele[2, 3]
row 7double_ele[3, 4]
count-41591
total-41593
count-41592
total-41594
count-41593
total-41595
row 3double_ele[1, 3]
column6 double_ele[1, 3]
count-41594
total-41596
count-41595
total-41597
count-41596
total-41598
column1 double_ele[1, 4]
row 8double_ele[1, 4]
count-41597
total-41599
count-41598
total-41600
count-41599
total-41601
count-41600
total-41602
count-41601
total-41603
count-41602
total-41604
column5 double_ele[1, 4]
count-41603
total-41605
count-41604
total-41606
count-41605
total-41607
row 1double_ele[1, 4]
row 8double_ele[1, 2]
column9 double_ele[1, 2]
count-41606
total-41608
count-41607
total-41609
count-41608
total-41610
count-41609
total-41611

count-41610
total-41612
count-41611
total-41613
count-41612
total-41614
count-41613
total-41615
count-41614
total-41616
count-41615
total-41617
count-41616
total-41618
count-41617
total-41619
count-41618
total-41620
count-41619
total-41621
count-41620
total-41622
count-41621
total-41623
count-41622
total-41624
row 4double_ele[1, 5]
column4 double_ele[1, 3]
row 8double_ele[1, 3]
count-41623
total-41625
count-41624
total-41626
count-41625
total-41627
count-41626
total-41628
row 1double_ele[1, 7]
count-41627
total-41629
count-41628
total-41630
count-41629
total-41631
count-41630
total-41632
column4 double_ele[2, 5]
count-41631
total-41633
count-41632
total-41634
row 5double_ele[6, 7]
count-41633
total-41635
count-41634
total-41636
count-41635
total-41637
count-41636
total-41638
count-41637
total-41639
count-41638
total-41640
row 2double_ele[3, 4]
count-41639
total-41641
count-41640
total-41642
count-41641
total-41643
count-41642
total-41644
count-41643
total-41645
count-41644
total-41646
count-41645
total-41647
count-41646
total-41648
count-41647
total-41649
count-41648
total-41650
count-41649
total-41651
count-41650
total-41652
count-41651
total-41653
count-41652
total-41654
count-41653
total-41655
count-41654
total-41656
count-41655
total-41657
count-41656
total-41658
count-41657
total-41659
count-41658
total-41660
count-41659
total-41661
count-41660
total-41662
count-41661
total-41663
count-41662
total-41664
count-41663
total-41665
count-41664
total-41666
count-41665
total-41667
count-41666
total-41668
count-41667
total-41669
count-41668
total-41670
count-41669
total-41671
count-41670
total-41672
count-41671
total-41673
count-41672
total-41674
count-41673
total-41675
count-41674
total-41676
count-41675
total-41677
count-41676
total-41678
row 4double_ele[1, 8]
count-41677
total-41679
count-41678
total-41680
count-41679
total-41681
count-41680
total-41682
count-41681
total-41683
count-41682
total-41684
count-41683
total-41685
count-41684
total-41686
count-41685
total-41687
count-41686
total-41688
row 5double_ele[1, 6]
row 9double_ele[2, 5]
column9 double_ele[1, 2]
count-41687
total-41689
count-41688
total-41690
count-41689
total-41691
count-41690
total-41692
count-41691
total-41693
count-41692
total-41694
count-41693
total-41695
count-41694
total-41696
count-41695
total-41697
count-41696
total-41698
count-41697
total-41699
count-41698
total-41700
count-41699
total-41701
count-41700
total-41702
count-41701
total-41703
count-41702
total-41704
count-41703
total-41705
count-41704
total-41706
column2 double_ele[1, 3]
count-41705
total-41707
count-41706
total-41708
count-41707
total-41709
count-41708
total-41710
count-41709
total-41711
count-41710
total-41712
count-41711
total-41713
count-41712
total-41714
count-41713
total-41715
count-41714
total-41716
count-41715
total-41717
count-41716
total-41718
row 5double_ele[1, 5]
count-41717
total-41719
count-41718
total-41720
count-41719
total-41721
count-41720
total-41722
count-41721
total-41723
count-41722
total-41724
count-41723
total-41725
count-41724
total-41726
count-41725
total-41727
count-41726
total-41728
count-41727
total-41729
count-41728
total-41730
row 5double_ele[4, 6]
count-41729
total-41731
row 7double_ele[1, 4]
count-41730
total-41732
count-41731
total-41733
count-41732
total-41734
count-41733
total-41735
count-41734
total-41736
count-41735
total-41737
count-41736
total-41738
count-41737
total-41739
count-41738
total-41740
count-41739
total-41741
count-41740
total-41742
count-41741
total-41743
count-41742
total-41744
column9 double_ele[1, 3]
count-41743
total-41745
count-41744
total-41746
count-41745
total-41747
count-41746
total-41748
column2 double_ele[2, 7]
count-41747
total-41749
column7 double_ele[2, 3]
column8 double_ele[2, 4]
count-41748
total-41750
count-41749
total-41751
count-41750
total-41752
count-41751
total-41753
count-41752
total-41754
count-41753
total-41755
count-41754
total-41756
count-41755
total-41757
count-41756
total-41758
count-41757
total-41759
count-41758
total-41760
count-41759
total-41761
count-41760
total-41762
count-41761
total-41763
column6 double_ele[2, 4]
count-41762
total-41764
count-41763
total-41765
count-41764
total-41766
count-41765
total-41767
count-41766
total-41768
count-41767
total-41769
count-41768
total-41770
count-41769
total-41771
count-41770
total-41772
count-41771
total-41773
count-41772
total-41774
count-41773
total-41775
count-41774
total-41776
count-41775
total-41777
count-41776
total-41778
column7 double_ele[2, 6]
count-41777
total-41779
count-41778
total-41780
count-41779
total-41781
count-41780
total-41782
column2 double_ele[1, 3]
count-41781
total-41783
count-41782
total-41784
count-41783
total-41785
count-41784
total-41786
count-41785
total-41787
count-41786
total-41788
count-41787
total-41789
count-41788
total-41790
count-41789
total-41791
count-41790
total-41792
count-41791
total-41793
count-41792
total-41794
count-41793
total-41795
count-41794
total-41796
count-41795
total-41797
count-41796
total-41798
count-41797
total-41799
count-41798
total-41800
row 4double_ele[1, 8]
count-41799
total-41801
count-41800
total-41802
count-41801
total-41803
count-41802
total-41804
count-41803
total-41805
count-41804
total-41806
column7 double_ele[2, 5]
count-41805
total-41807
count-41806
total-41808
count-41807
total-41809
count-41808
total-41810
count-41809
total-41811
count-41810
total-41812
row 1double_ele[1, 2]
column8 double_ele[1, 2]
count-41811
total-41813
column5 double_ele[4, 5]
row 8double_ele[4, 5]
count-41812
total-41814
count-41813
total-41815
count-41814
total-41816
count-41815
total-41817
count-41816
total-41818
count-41817
total-41819
count-41818
total-41820
count-41819
total-41821
count-41820
total-41822
count-41821
total-41823
count-41822
total-41824
count-41823
total-41825
count-41824
total-41826
count-41825
total-41827
count-41826
total-41828
count-41827
total-41829
count-41828
total-41830
count-41829
total-41831
count-41830
total-41832
count-41831
total-41833
count-41832
total-41834
row 4double_ele[1, 6]
row 6double_ele[1, 6]
column6 double_ele[1, 6]
column8 double_ele[1, 6]
count-41833
total-41835
column7 double_ele[1, 5]
count-41834
total-41836
count-41835
total-41837
column4 double_ele[2, 7]
row 8double_ele[3, 4]
count-41836
total-41838
count-41837
total-41839
count-41838
total-41840
count-41839
total-41841
count-41840
total-41842
count-41841
total-41843
count-41842
total-41844
count-41843
total-41845
column7 double_ele[3, 4]
row 9triple_ele[2, 3, 4]
count-41844
total-41846
row 9double_ele[2, 7]
count-41845
total-41847
count-41846
total-41848
count-41847
total-41849
count-41848
total-41850
count-41849
total-41851
count-41850
total-41852
count-41851
total-41853
count-41852
total-41854
count-41853
total-41855
count-41854
total-41856
count-41855
total-41857
column7 double_ele[1, 4]
count-41856
total-41858
row 6double_ele[1, 6]
count-41857
total-41859
count-41858
total-41860
count-41859
total-41861
count-41860
total-41862
count-41861
total-41863
count-41862
total-41864
count-41863
total-41865
count-41864
total-41866
count-41865
total-41867
count-41866
total-41868
count-41867
total-41869
count-41868
total-41870
count-41869
total-41871
count-41870
total-41872
count-41871
total-41873
count-41872
total-41874
column2 double_ele[3, 5]
column3 double_ele[3, 5]
row 4double_ele[3, 5]
row 9double_ele[3, 5]
column9 double_ele[3, 5]
count-41873
total-41875
count-41874
total-41876
count-41875
total-41877
count-41876
total-41878
count-41877
total-41879
count-41878
total-41880
count-41879
total-41881
count-41880
total-41882
count-41881
total-41883
column3 double_ele[3, 7]
count-41882
total-41884
column7 double_ele[2, 5]
count-41883
total-41885
count-41884
total-41886
count-41885
total-41887
row 2double_ele[3, 6]
column3 double_ele[3, 6]
column5 double_ele[2, 3]
row 9triple_ele[2, 3, 6]
count-41886
total-41888
count-41887
total-41889
count-41888
total-41890
count-41889
total-41891
count-41890
total-41892
count-41891
total-41893
count-41892
total-41894
count-41893
total-41895
count-41894
total-41896
count-41895
total-41897
count-41896
total-41898
count-41897
total-41899
count-41898
total-41900
count-41899
total-41901
row 4double_ele[2, 3]
count-41900
total-41902
row 6double_ele[4, 7]
count-41901
total-41903
count-41902
total-41904
count-41903
total-41905
count-41904
total-41906
count-41905
total-41907
count-41906
total-41908
count-41907
total-41909
count-41908
total-41910
count-41909
total-41911
count-41910
total-41912
column3 double_ele[1, 5]
row 8double_ele[1, 5]
count-41911
total-41913
count-41912
total-41914
count-41913
total-41915
count-41914
total-41916
count-41915
total-41917
count-41916
total-41918
count-41917
total-41919
count-41918
total-41920
column2 double_ele[1, 3]
row 3double_ele[1, 3]
row 5double_ele[1, 3]
column9 double_ele[1, 3]
count-41919
total-41921
count-41920
total-41922
count-41921
total-41923

count-41922
total-41924
count-41923
total-41925
row 1double_ele[1, 4]
row 7double_ele[1, 2]
count-41924
total-41926
count-41925
total-41927
count-41926
total-41928
count-41927
total-41929
column6 double_ele[1, 4]
column9 double_ele[1, 4]
count-41928
total-41930
row 6double_ele[1, 3]
count-41929
total-41931
count-41930
total-41932
count-41931
total-41933
count-41932
total-41934
count-41933
total-41935
count-41934
total-41936
count-41935
total-41937
count-41936
total-41938
column2 double_ele[1, 3]
count-41937
total-41939
column7 double_ele[3, 5]
count-41938
total-41940
count-41939
total-41941
count-41940
total-41942
column4 double_ele[3, 6]
count-41941
total-41943
row 8double_ele[5, 7]
count-41942
total-41944
count-41943
total-41945
count-41944
total-41946
column5 double_ele[1, 3]
count-41945
total-41947
count-41946
total-41948
count-41947
total-41949
count-41948
total-41950
count-41949
total-41951
count-41950
total-41952
count-41951
total-41953
count-41952
total-41954
count-41953
total-41955
count-41954
total-41956
count-41955
total-41957
count-41956
total-41958
count-41957
total-41959
count-41958
total-41960
count-41959
total-41961
count-41960
total-41962
count-41961
total-41963
count-41962
total-41964
count-41963
total-41965
count-41964
total-41966
count-41965
total-41967
count-41966
total-41968
column8 double_ele[3, 5]
count-41967
total-41969
count-41968
total-41970
count-41969
total-41971
count-41970
total-41972
count-41971
total-41973
count-41972
total-41974
count-41973
total-41975
count-41974
total-41976
count-41975
total-41977
count-41976
total-41978
count-41977
total-41979
count-41978
total-41980
count-41979
total-41981
count-41980
total-41982
count-41981
total-41983
count-41982
total-41984
count-41983
total-41985
count-41984
total-41986
count-41985
total-41987
count-41986
total-41988
count-41987
total-41989
count-41988
total-41990
count-41989
total-41991
count-41990
total-41992
count-41991
total-41993
count-41992
total-41994
count-41993
total-41995
count-41994
total-41996
count-41995
total-41997
count-41996
total-41998
count-41997
total-41999
count-41998
total-42000
count-41999
total-42001
count-42000
total-42002
count-42001
total-42003
count-42002
total-42004
count-42003
total-42005
count-42004
total-42006
column3 double_ele[1, 8]
column8 double_ele[4, 8]
count-42005
total-42007
row 7double_ele[5, 7]
count-42006
total-42008
count-42007
total-42009
count-42008
total-42010
count-42009
total-42011
count-42010
total-42012
count-42011
total-42013
count-42012
total-42014
count-42013
total-42015
count-42014
total-42016
row 3double_ele[2, 6]
row 5double_ele[3, 6]
column7 double_ele[2, 6]
count-42015
total-42017
count-42016
total-42018
count-42017
total-42019
count-42018
total-42020
count-42019
total-42021
count-42020
total-42022
count-42021
total-42023
count-42022
total-42024
count-42023
total-42025
column4 double_ele[1, 2]
count-42024
total-42026
count-42025
total-42027
count-42026
total-42028
count-42027
total-42029
column5 double_ele[2, 5]
count-42028
total-42030
count-42029
total-42031
count-42030
total-42032
count-42031
total-42033
count-42032
total-42034
count-42033
total-42035
count-42034
total-42036
count-42035
total-42037
count-42036
total-42038
count-42037
total-42039
count-42038
total-42040
column7 double_ele[5, 7]
count-42039
total-42041
column6 double_ele[4, 9]
count-42040
total-42042
count-42041
total-42043
count-42042
total-42044
count-42043
total-42045
count-42044
total-42046
count-42045
total-42047
column3 double_ele[1, 2]
count-42046
total-42048
count-42047
total-42049
count-42048
total-42050
count-42049
total-42051
count-42050
total-42052
count-42051
total-42053
count-42052
total-42054
count-42053
total-42055
count-42054
total-42056
count-42055
total-42057
count-42056
total-42058
count-42057
total-42059
count-42058
total-42060
count-42059
total-42061
count-42060
total-42062
count-42061
total-42063
count-42062
total-42064
count-42063
total-42065
count-42064
total-42066
count-42065
total-42067
count-42066
total-42068
count-42067
total-42069
count-42068
total-42070
count-42069
total-42071
count-42070
total-42072
count-42071
total-42073
count-42072
total-42074
row 7double_ele[3, 4]
row 8double_ele[2, 3]
count-42073
total-42075
column1 double_ele[5, 8]
column8 double_ele[3, 5]
count-42074
total-42076
count-42075
total-42077
count-42076
total-42078
count-42077
total-42079
count-42078
total-42080
count-42079
total-42081
count-42080
total-42082
count-42081
total-42083
count-42082
total-42084
column9 double_ele[4, 5]
count-42083
total-42085
count-42084
total-42086
count-42085
total-42087
count-42086
total-42088
count-42087
total-42089
count-42088
total-42090
count-42089
total-42091
row 5double_ele[1, 9]
row 9double_ele[1, 5]
column9 double_ele[1, 9]
box9 triple_ele[1, 5, 9]
count-42090
total-42092
count-42091
total-42093
count-42092
total-42094
count-42093
total-42095
count-42094
total-42096
count-42095
total-42097
count-42096
total-42098
count-42097
total-42099
count-42098
total-42100
count-42099
total-42101
count-42100
total-42102
count-42101
total-42103
count-42102
total-42104
count-42103
total-42105
count-42104
total-42106
count-42105
total-42107
count-42106
total-42108
count-42107
total-42109
count-42108
total-42110
count-42109
total-42111
count-42110
total-42112
count-42111
total-42113
column1 double_ele[3, 8]
row 6double_ele[3, 8]
row 8double_ele[2, 4]
count-42112
total-42114
count-42113
total-42115
count-42114
total-42116
count-42115
total-42117
count-42116
total-42118
count-42117
total-42119
count-42118
total-42120
count-42119
total-42121
column3 double_ele[2, 5]
count-42120
total-42122
count-42121
total-42123
count-42122
total-42124
count-42123
total-42125
count-42124
total-42126
count-42125
total-42127
count-42126
total-42128
count-42127
total-42129
count-42128
total-42130
count-42129
total-42131
count-42130
total-42132
count-42131
total-42133
count-42132
total-42134
count-42133
total-42135
count-42134
total-42136
count-42135
total-42137
count-42136
total-42138
count-42137
total-42139
count-42138
total-42140
column5 double_ele[1, 6]
count-42139
total-42141
count-42140
total-42142
count-42141
total-42143
count-42142
total-42144
count-42143
total-42145
count-42144
total-42146
count-42145
total-42147
count-42146
total-42148
count-42147
total-42149
count-42148
total-42150
count-42149
total-42151
row 5double_ele[3, 6]
count-42150
total-42152
count-42151
total-42153
count-42152
total-42154
row 3double_ele[2, 4]
column3 double_ele[2, 4]
count-42153
total-42155
count-42154
total-42156
count-42155
total-42157
count-42156
total-42158
count-42157
total-42159
count-42158
total-42160
count-42159
total-42161
count-42160
total-42162
count-42161
total-42163
row 9double_ele[2, 6]
count-42162
total-42164
count-42163
total-42165
count-42164
total-42166
count-42165
total-42167
count-42166
total-42168
count-42167
total-42169
count-42168
total-42170
count-42169
total-42171
count-42170
total-42172
count-42171
total-42173
count-42172
total-42174
count-42173
total-42175
count-42174
total-42176
count-42175
total-42177
count-42176
total-42178
count-42177
total-42179
column6 double_ele[2, 7]
row 9double_ele[2, 7]
count-42178
total-42180
count-42179
total-42181
count-42180
total-42182
column4 double_ele[1, 3]
count-42181
total-42183
count-42182
total-42184
row 8double_ele[3, 4]
count-42183
total-42185
count-42184
total-42186
count-42185
total-42187
count-42186
total-42188
count-42187
total-42189
column5 double_ele[1, 3]
count-42188
total-42190
count-42189
total-42191
count-42190
total-42192
count-42191
total-42193
count-42192
total-42194
row 3double_ele[2, 5]
row 5double_ele[2, 7]
row 7double_ele[4, 7]
count-42193
total-42195
count-42194
total-42196
count-42195
total-42197
count-42196
total-42198
count-42197
total-42199
count-42198
total-42200
count-42199
total-42201
count-42200
total-42202
count-42201
total-42203
column2 double_ele[1, 5]
column5 double_ele[4, 5]
count-42202
total-42204
count-42203
total-42205
row 3double_ele[1, 3]
count-42204
total-42206
count-42205
total-42207
count-42206
total-42208
count-42207
total-42209
count-42208
total-42210
count-42209
total-42211
count-42210
total-42212
count-42211
total-42213
row 5double_ele[3, 7]
column8 double_ele[3, 7]
count-42212
total-42214

count-42213
total-42215
count-42214
total-42216
count-42215
total-42217
count-42216
total-42218
count-42217
total-42219
count-42218
total-42220
count-42219
total-42221
count-42220
total-42222
count-42221
total-42223
column5 double_ele[1, 3]
count-42222
total-42224
count-42223
total-42225
count-42224
total-42226
count-42225
total-42227
count-42226
total-42228
count-42227
total-42229
count-42228
total-42230
column4 double_ele[4, 8]
column9 double_ele[3, 8]
count-42229
total-42231
row 8double_ele[2, 7]
count-42230
total-42232
count-42231
total-42233
count-42232
total-42234
row 1double_ele[1, 3]
count-42233
total-42235
count-42234
total-42236
column8 double_ele[3, 5]
count-42235
total-42237
column9 double_ele[1, 2]
count-42236
total-42238
count-42237
total-42239
count-42238
total-42240
count-42239
total-42241
count-42240
total-42242
count-42241
total-42243
count-42242
total-42244
count-42243
total-42245
count-42244
total-42246
count-42245
total-42247
count-42246
total-42248
count-42247
total-42249
count-42248
total-42250
count-42249
total-42251
count-42250
total-42252
row 8double_ele[3, 4]
row 9double_ele[2, 5]
count-42251
total-42253
count-42252
total-42254
count-42253
total-42255
row 7double_ele[2, 4]
count-42254
total-42256
count-42255
total-42257
count-42256
total-42258
count-42257
total-42259
count-42258
total-42260
count-42259
total-42261
count-42260
total-42262
count-42261
total-42263
count-42262
total-42264
column5 double_ele[3, 5]
count-42263
total-42265
count-42264
total-42266
count-42265
total-42267
count-42266
total-42268
count-42267
total-42269
count-42268
total-42270
column1 double_ele[1, 3]
column6 double_ele[1, 5]
count-42269
total-42271
count-42270
total-42272
count-42271
total-42273
count-42272
total-42274
count-42273
total-42275
count-42274
total-42276
count-42275
total-42277
count-42276
total-42278
count-42277
total-42279
count-42278
total-42280
count-42279
total-42281
count-42280
total-42282
count-42281
total-42283
count-42282
total-42284
count-42283
total-42285
count-42284
total-42286
count-42285
total-42287
column5 double_ele[1, 2]
row 8double_ele[1, 2]
count-42286
total-42288
count-42287
total-42289
count-42288
total-42290
count-42289
total-42291
count-42290
total-42292
column8 double_ele[1, 3]
column1 triple_ele[1, 5, 6]
row 6triple_ele[4, 5, 6]
count-42291
total-42293
count-42292
total-42294
count-42293
total-42295
count-42294
total-42296
count-42295
total-42297
count-42296
total-42298
count-42297
total-42299
count-42298
total-42300
count-42299
total-42301
count-42300
total-42302
count-42301
total-42303
count-42302
total-42304
count-42303
total-42305
count-42304
total-42306
count-42305
total-42307
count-42306
total-42308
column5 double_ele[2, 9]
column8 double_ele[1, 9]
count-42307
total-42309
count-42308
total-42310
count-42309
total-42311
count-42310
total-42312
count-42311
total-42313
count-42312
total-42314
count-42313
total-42315
count-42314
total-42316
count-42315
total-42317
row 4double_ele[4, 6]
column6 double_ele[4, 6]
column9 double_ele[4, 6]
count-42316
total-42318
column2 double_ele[6, 7]
row 4double_ele[6, 7]
row 6double_ele[6, 7]
row 8double_ele[2, 7]
count-42317
total-42319
count-42318
total-42320
count-42319
total-42321
count-42320
total-42322
count-42321
total-42323
count-42322
total-42324
count-42323
total-42325
count-42324
total-42326
row 3double_ele[2, 4]
count-42325
total-42327
count-42326
total-42328
count-42327
total-42329
column3 double_ele[1, 4]
column4 double_ele[5, 6]
column5 double_ele[2, 6]
count-42328
total-42330
count-42329
total-42331
count-42330
total-42332
row 5double_ele[2, 6]
count-42331
total-42333
count-42332
total-42334
count-42333
total-42335
count-42334
total-42336
count-42335
total-42337
count-42336
total-42338
column3 double_ele[2, 4]
count-42337
total-42339
count-42338
total-42340
count-42339
total-42341
count-42340
total-42342
count-42341
total-42343
row 1double_ele[1, 6]
count-42342
total-42344
count-42343
total-42345
count-42344
total-42346
count-42345
total-42347
count-42346
total-42348
count-42347
total-42349
count-42348
total-42350
count-42349
total-42351
count-42350
total-42352
count-42351
total-42353
row 4double_ele[3, 7]
count-42352
total-42354
count-42353
total-42355
count-42354
total-42356
count-42355
total-42357
count-42356
total-42358
count-42357
total-42359
count-42358
total-42360
count-42359
total-42361
column7 double_ele[1, 4]
count-42360
total-42362
count-42361
total-42363
row 8double_ele[1, 4]
count-42362
total-42364
count-42363
total-42365
count-42364
total-42366
count-42365
total-42367
count-42366
total-42368
count-42367
total-42369
count-42368
total-42370
count-42369
total-42371
count-42370
total-42372
count-42371
total-42373
count-42372
total-42374
count-42373
total-42375
count-42374
total-42376
count-42375
total-42377
count-42376
total-42378
count-42377
total-42379
count-42378
total-42380
count-42379
total-42381
count-42380
total-42382
count-42381
total-42383
count-42382
total-42384
count-42383
total-42385
count-42384
total-42386
count-42385
total-42387
count-42386
total-42388
count-42387
total-42389
count-42388
total-42390
count-42389
total-42391
count-42390
total-42392
count-42391
total-42393
count-42392
total-42394
count-42393
total-42395
count-42394
total-42396
count-42395
total-42397
count-42396
total-42398
count-42397
total-42399
count-42398
total-42400
count-42399
total-42401
count-42400
total-42402
count-42401
total-42403
count-42402
total-42404
count-42403
total-42405
count-42404
total-42406
count-42405
total-42407
count-42406
total-42408
count-42407
total-42409
count-42408
total-42410
count-42409
total-42411
count-42410
total-42412
column1 double_ele[1, 5]
count-42411
total-42413
count-42412
total-42414
count-42413
total-42415
count-42414
total-42416
count-42415
total-42417
count-42416
total-42418
count-42417
total-42419
count-42418
total-42420
count-42419
total-42421
count-42420
total-42422
count-42421
total-42423
count-42422
total-42424
count-42423
total-42425
count-42424
total-42426
count-42425
total-42427
count-42426
total-42428
count-42427
total-42429
count-42428
total-42430
count-42429
total-42431
count-42430
total-42432
count-42431
total-42433
count-42432
total-42434
count-42433
total-42435
count-42434
total-42436
column7 double_ele[3, 6]
count-42435
total-42437
count-42436
total-42438
count-42437
total-42439
row 6double_ele[2, 4]
row 7double_ele[2, 6]
column9 double_ele[2, 4]
count-42438
total-42440
count-42439
total-42441
count-42440
total-42442
count-42441
total-42443
count-42442
total-42444
count-42443
total-42445
count-42444
total-42446
row 3double_ele[5, 6]
box3 triple_ele[2, 5, 6]
count-42445
total-42447
count-42446
total-42448
count-42447
total-42449
count-42448
total-42450
count-42449
total-42451
count-42450
total-42452
count-42451
total-42453
count-42452
total-42454
count-42453
total-42455
count-42454
total-42456
count-42455
total-42457
count-42456
total-42458
count-42457
total-42459
column2 double_ele[1, 6]
column9 double_ele[6, 7]
count-42458
total-42460
count-42459
total-42461
column2 double_ele[2, 6]
count-42460
total-42462
count-42461
total-42463
count-42462
total-42464
row 1double_ele[1, 3]
column6 double_ele[1, 3]
row 7double_ele[1, 8]
count-42463
total-42465
column6 double_ele[2, 3]
count-42464
total-42466
count-42465
total-42467
count-42466
total-42468
column1 double_ele[1, 4]
column6 double_ele[4, 8]
column7 double_ele[1, 8]
count-42467
total-42469
count-42468
total-42470
count-42469
total-42471
count-42470
total-42472
count-42471
total-42473
count-42472
total-42474
count-42473
total-42475
count-42474
total-42476
count-42475
total-42477
count-42476
total-42478
count-42477
total-42479
column8 double_ele[1, 4]
count-42478
total-42480
count-42479
total-42481
count-42480
total-42482
count-42481
total-42483
count-42482
total-42484
count-42483
total-42485
count-42484
total-42486
count-42485
total-42487
row 9double_ele[3, 5]
count-42486
total-42488
count-42487
total-42489
count-42488
total-42490
count-42489
total-42491
count-42490
total-42492
column4 double_ele[3, 7]
row 6double_ele[3, 7]
count-42491
total-42493
count-42492
total-42494
count-42493
total-42495
count-42494
total-42496
count-42495
total-42497
count-42496
total-42498
count-42497
total-42499
count-42498
total-42500
count-42499
total-42501
count-42500
total-42502
count-42501
total-42503
count-42502
total-42504
count-42503
total-42505
count-42504
total-42506
count-42505
total-42507

count-42506
total-42508
count-42507
total-42509
count-42508
total-42510
count-42509
total-42511
count-42510
total-42512
count-42511
total-42513
count-42512
total-42514
count-42513
total-42515
count-42514
total-42516
column3 double_ele[3, 5]
count-42515
total-42517
count-42516
total-42518
row 2double_ele[2, 3]
row 5double_ele[3, 7]
count-42517
total-42519
count-42518
total-42520
count-42519
total-42521
count-42520
total-42522
count-42521
total-42523
count-42522
total-42524
count-42523
total-42525
column6 double_ele[1, 4]
count-42524
total-42526
count-42525
total-42527
count-42526
total-42528
count-42527
total-42529
count-42528
total-42530
count-42529
total-42531
count-42530
total-42532
count-42531
total-42533
count-42532
total-42534
count-42533
total-42535
count-42534
total-42536
count-42535
total-42537
count-42536
total-42538
count-42537
total-42539
count-42538
total-42540
count-42539
total-42541
count-42540
total-42542
count-42541
total-42543
count-42542
total-42544
count-42543
total-42545
count-42544
total-42546
count-42545
total-42547
count-42546
total-42548
count-42547
total-42549
count-42548
total-42550
column6 double_ele[1, 4]
count-42549
total-42551
count-42550
total-42552
count-42551
total-42553
count-42552
total-42554
row 7double_ele[2, 3]
count-42553
total-42555
count-42554
total-42556
count-42555
total-42557
count-42556
total-42558
count-42557
total-42559
count-42558
total-42560
count-42559
total-42561
count-42560
total-42562
count-42561
total-42563
column8 double_ele[2, 7]
count-42562
total-42564
count-42563
total-42565
count-42564
total-42566
count-42565
total-42567
count-42566
total-42568
count-42567
total-42569
count-42568
total-42570
count-42569
total-42571
count-42570
total-42572
count-42571
total-42573
count-42572
total-42574
count-42573
total-42575
row 3double_ele[2, 3]
column3 double_ele[2, 3]
count-42574
total-42576
count-42575
total-42577
column8 double_ele[1, 2]
count-42576
total-42578
count-42577
total-42579
row 3double_ele[1, 9]
column3 double_ele[5, 9]
column5 double_ele[5, 6]
column7 double_ele[1, 9]
row 8double_ele[5, 6]
column8 double_ele[1, 9]
count-42578
total-42580
count-42579
total-42581
count-42580
total-42582
count-42581
total-42583
count-42582
total-42584
count-42583
total-42585
row 2double_ele[1, 9]
count-42584
total-42586
count-42585
total-42587
count-42586
total-42588
count-42587
total-42589
count-42588
total-42590
count-42589
total-42591
column6 double_ele[2, 7]
count-42590
total-42592
count-42591
total-42593
count-42592
total-42594
count-42593
total-42595
count-42594
total-42596
count-42595
total-42597
count-42596
total-42598
count-42597
total-42599
count-42598
total-42600
count-42599
total-42601
column2 double_ele[2, 3]
count-42600
total-42602
column6 double_ele[5, 6]
row 7double_ele[5, 6]
count-42601
total-42603
count-42602
total-42604
count-42603
total-42605
count-42604
total-42606
row 1triple_ele[1, 3, 7]
count-42605
total-42607
count-42606
total-42608
count-42607
total-42609
count-42608
total-42610
column7 double_ele[2, 5]
count-42609
total-42611
count-42610
total-42612
column9 double_ele[2, 5]
count-42611
total-42613
count-42612
total-42614
count-42613
total-42615
count-42614
total-42616
count-42615
total-42617
count-42616
total-42618
count-42617
total-42619
count-42618
total-42620
count-42619
total-42621
count-42620
total-42622
count-42621
total-42623
column1 double_ele[2, 5]
row 5double_ele[2, 5]
count-42622
total-42624
count-42623
total-42625
count-42624
total-42626
count-42625
total-42627
count-42626
total-42628
count-42627
total-42629
count-42628
total-42630
count-42629
total-42631
row 2double_ele[1, 2]
count-42630
total-42632
count-42631
total-42633
count-42632
total-42634
count-42633
total-42635
count-42634
total-42636
count-42635
total-42637
count-42636
total-42638
count-42637
total-42639
count-42638
total-42640
count-42639
total-42641
count-42640
total-42642
count-42641
total-42643
count-42642
total-42644
column7 double_ele[2, 5]
box9 triple_ele[2, 3, 7]
count-42643
total-42645
count-42644
total-42646
count-42645
total-42647
count-42646
total-42648
count-42647
total-42649
count-42648
total-42650
column8 double_ele[3, 7]
count-42649
total-42651
count-42650
total-42652
count-42651
total-42653
row 1double_ele[1, 3]
row 3double_ele[3, 4]
count-42652
total-42654
count-42653
total-42655
count-42654
total-42656
count-42655
total-42657
count-42656
total-42658
count-42657
total-42659
row 7double_ele[1, 4]
count-42658
total-42660
count-42659
total-42661
count-42660
total-42662
count-42661
total-42663
column2 double_ele[1, 2]
count-42662
total-42664
count-42663
total-42665
count-42664
total-42666
row 9double_ele[1, 4]
count-42665
total-42667
count-42666
total-42668
count-42667
total-42669
count-42668
total-42670
count-42669
total-42671
count-42670
total-42672
count-42671
total-42673
count-42672
total-42674
row 8double_ele[5, 8]
count-42673
total-42675
row 2double_ele[1, 2]
count-42674
total-42676
count-42675
total-42677
count-42676
total-42678
count-42677
total-42679
count-42678
total-42680
count-42679
total-42681
count-42680
total-42682
count-42681
total-42683
count-42682
total-42684
count-42683
total-42685
count-42684
total-42686
count-42685
total-42687
count-42686
total-42688
count-42687
total-42689
count-42688
total-42690
count-42689
total-42691
count-42690
total-42692
column2 double_ele[2, 4]
count-42691
total-42693
column6 double_ele[2, 3]
count-42692
total-42694
count-42693
total-42695
count-42694
total-42696
count-42695
total-42697
count-42696
total-42698
count-42697
total-42699
count-42698
total-42700
count-42699
total-42701
count-42700
total-42702
row 3double_ele[3, 8]
count-42701
total-42703
count-42702
total-42704
count-42703
total-42705
count-42704
total-42706
count-42705
total-42707
count-42706
total-42708
count-42707
total-42709
count-42708
total-42710
count-42709
total-42711
count-42710
total-42712
count-42711
total-42713
row 2double_ele[2, 5]
count-42712
total-42714
count-42713
total-42715
count-42714
total-42716
count-42715
total-42717
count-42716
total-42718
count-42717
total-42719
count-42718
total-42720
count-42719
total-42721
count-42720
total-42722
count-42721
total-42723
count-42722
total-42724
count-42723
total-42725
row 1double_ele[4, 5]
column2 double_ele[3, 5]
row 8double_ele[3, 5]
count-42724
total-42726
count-42725
total-42727
count-42726
total-42728
row 6double_ele[2, 6]
column6 double_ele[2, 6]
count-42727
total-42729
count-42728
total-42730
count-42729
total-42731
count-42730
total-42732
count-42731
total-42733
row 8double_ele[1, 4]
count-42732
total-42734
count-42733
total-42735
count-42734
total-42736
count-42735
total-42737
count-42736
total-42738
count-42737
total-42739
count-42738
total-42740
column1 double_ele[1, 2]
row 2double_ele[3, 4]
column6 double_ele[1, 3]
count-42739
total-42741
count-42740
total-42742
count-42741
total-42743
count-42742
total-42744
row 2double_ele[2, 3]
count-42743
total-42745
count-42744
total-42746
count-42745
total-42747
count-42746
total-42748
count-42747
total-42749
count-42748
total-42750
count-42749
total-42751
count-42750
total-42752
count-42751
total-42753
row 2double_ele[1, 4]
column6 double_ele[1, 4]
column3 triple_ele[1, 4, 5]
box3 triple_ele[1, 4, 5]
count-42752
total-42754
count-42753
total-42755
count-42754
total-42756
count-42755
total-42757
count-42756
total-42758
count-42757
total-42759
count-42758
total-42760
count-42759
total-42761
count-42760
total-42762
count-42761
total-42763
column2 double_ele[3, 6]
row 3double_ele[3, 6]
count-42762
total-42764
count-42763
total-42765
count-42764
total-42766
column6 double_ele[1, 8]
row 9double_ele[1, 8]
count-42765
total-42767
count-42766
total-42768
count-42767
total-42769
count-42768
total-42770
count-42769
total-42771
count-42770
total-42772
count-42771
total-42773
row 5double_ele[2, 3]
count-42772
total-42774
count-42773
total-42775
column2 double_ele[5, 7]
count-42774
total-42776
count-42775
total-42777
count-42776
total-42778
count-42777
total-42779
count-42778
total-42780
count-42779
total-42781
count-42780
total-42782
count-42781
total-42783
count-42782
total-42784
count-42783
total-42785
column9 double_ele[2, 3]
count-42784
total-42786
column9 double_ele[3, 5]
row 5triple_ele[1, 3, 5]
count-42785
total-42787
count-42786
total-42788
column4 double_ele[1, 2]
count-42787
total-42789
count-42788
total-42790
count-42789
total-42791
count-42790
total-42792
count-42791
total-42793
row 1double_ele[1, 2]
count-42792
total-42794
count-42793
total-42795
count-42794
total-42796
count-42795
total-42797
count-42796
total-42798
count-42797
total-42799
count-42798
total-42800
count-42799
total-42801

count-42800
total-42802
count-42801
total-42803
count-42802
total-42804
count-42803
total-42805
count-42804
total-42806
count-42805
total-42807
count-42806
total-42808
count-42807
total-42809
count-42808
total-42810
count-42809
total-42811
count-42810
total-42812
count-42811
total-42813
count-42812
total-42814
count-42813
total-42815
count-42814
total-42816
column1 double_ele[1, 5]
count-42815
total-42817
row 8double_ele[1, 4]
count-42816
total-42818
count-42817
total-42819
count-42818
total-42820
row 4double_ele[2, 4]
count-42819
total-42821
count-42820
total-42822
count-42821
total-42823
row 4double_ele[2, 4]
count-42822
total-42824
count-42823
total-42825
count-42824
total-42826
count-42825
total-42827
count-42826
total-42828
column3 double_ele[1, 2]
count-42827
total-42829
count-42828
total-42830
count-42829
total-42831
count-42830
total-42832
count-42831
total-42833
count-42832
total-42834
count-42833
total-42835
count-42834
total-42836
count-42835
total-42837
count-42836
total-42838
count-42837
total-42839
count-42838
total-42840
count-42839
total-42841
count-42840
total-42842
count-42841
total-42843
count-42842
total-42844
count-42843
total-42845
count-42844
total-42846
count-42845
total-42847
count-42846
total-42848
count-42847
total-42849
count-42848
total-42850
count-42849
total-42851
count-42850
total-42852
count-42851
total-42853
count-42852
total-42854
count-42853
total-42855
count-42854
total-42856
count-42855
total-42857
count-42856
total-42858
count-42857
total-42859
count-42858
total-42860
count-42859
total-42861
count-42860
total-42862
count-42861
total-42863
count-42862
total-42864
count-42863
total-42865
count-42864
total-42866
count-42865
total-42867
count-42866
total-42868
count-42867
total-42869
count-42868
total-42870
count-42869
total-42871
count-42870
total-42872
count-42871
total-42873
count-42872
total-42874
count-42873
total-42875
count-42874
total-42876
count-42875
total-42877
count-42876
total-42878
count-42877
total-42879
count-42878
total-42880
column2 double_ele[2, 7]
count-42879
total-42881
count-42880
total-42882
count-42881
total-42883
count-42882
total-42884
count-42883
total-42885
count-42884
total-42886
count-42885
total-42887
count-42886
total-42888
count-42887
total-42889
count-42888
total-42890
count-42889
total-42891
count-42890
total-42892
count-42891
total-42893
column1 double_ele[3, 9]
row 5double_ele[3, 9]
count-42892
total-42894
count-42893
total-42895
count-42894
total-42896
count-42895
total-42897
count-42896
total-42898
count-42897
total-42899
count-42898
total-42900
count-42899
total-42901
count-42900
total-42902
row 8double_ele[1, 4]
count-42901
total-42903
count-42902
total-42904
count-42903
total-42905
count-42904
total-42906
count-42905
total-42907
count-42906
total-42908
count-42907
total-42909
count-42908
total-42910
count-42909
total-42911
column1 double_ele[2, 5]
count-42910
total-42912
count-42911
total-42913
count-42912
total-42914
count-42913
total-42915
count-42914
total-42916
count-42915
total-42917
count-42916
total-42918
count-42917
total-42919
count-42918
total-42920
count-42919
total-42921
count-42920
total-42922
count-42921
total-42923
count-42922
total-42924
count-42923
total-42925
count-42924
total-42926
count-42925
total-42927
row 8double_ele[3, 4]
count-42926
total-42928
count-42927
total-42929
column9 double_ele[3, 4]
count-42928
total-42930
count-42929
total-42931
count-42930
total-42932
count-42931
total-42933
count-42932
total-42934
count-42933
total-42935
count-42934
total-42936
count-42935
total-42937
count-42936
total-42938
count-42937
total-42939
column3 double_ele[2, 7]
row 6double_ele[2, 7]
count-42938
total-42940
count-42939
total-42941
row 5double_ele[4, 7]
count-42940
total-42942
count-42941
total-42943
row 2double_ele[2, 3]
column2 double_ele[2, 3]
row 4double_ele[2, 6]
count-42942
total-42944
count-42943
total-42945
count-42944
total-42946
count-42945
total-42947
count-42946
total-42948
count-42947
total-42949
count-42948
total-42950
count-42949
total-42951
count-42950
total-42952
count-42951
total-42953
count-42952
total-42954
count-42953
total-42955
count-42954
total-42956
count-42955
total-42957
row 6double_ele[1, 3]
count-42956
total-42958
count-42957
total-42959
count-42958
total-42960
row 4double_ele[2, 3]
column1 triple_ele[2, 3, 6]
count-42959
total-42961
column2 double_ele[4, 5]
row 9triple_ele[1, 4, 5]
count-42960
total-42962
count-42961
total-42963
count-42962
total-42964
count-42963
total-42965
count-42964
total-42966
count-42965
total-42967
count-42966
total-42968
count-42967
total-42969
count-42968
total-42970
column8 double_ele[4, 7]
count-42969
total-42971
count-42970
total-42972
count-42971
total-42973
count-42972
total-42974
row 6double_ele[2, 3]
count-42973
total-42975
count-42974
total-42976
column8 double_ele[4, 7]
count-42975
total-42977
count-42976
total-42978
count-42977
total-42979
count-42978
total-42980
count-42979
total-42981
count-42980
total-42982
count-42981
total-42983
count-42982
total-42984
count-42983
total-42985
count-42984
total-42986
column3 double_ele[1, 4]
count-42985
total-42987
count-42986
total-42988
count-42987
total-42989
count-42988
total-42990
count-42989
total-42991
column1 double_ele[6, 8]
count-42990
total-42992
count-42991
total-42993
count-42992
total-42994
count-42993
total-42995
count-42994
total-42996
count-42995
total-42997
count-42996
total-42998
count-42997
total-42999
row 1double_ele[1, 6]
count-42998
total-43000
count-42999
total-43001
column6 double_ele[2, 5]
count-43000
total-43002
count-43001
total-43003
column3 double_ele[1, 4]
count-43002
total-43004
count-43003
total-43005
count-43004
total-43006
count-43005
total-43007
count-43006
total-43008
count-43007
total-43009
count-43008
total-43010
count-43009
total-43011
count-43010
total-43012
count-43011
total-43013
row 6double_ele[2, 3]
count-43012
total-43014
count-43013
total-43015
count-43014
total-43016
row 5double_ele[2, 7]
column5 double_ele[2, 7]
count-43015
total-43017
row 1double_ele[2, 5]
column4 double_ele[2, 5]
row 2triple_ele[2, 5, 7]
box3 triple_ele[2, 5, 7]
count-43016
total-43018
count-43017
total-43019
count-43018
total-43020
count-43019
total-43021
count-43020
total-43022
count-43021
total-43023
count-43022
total-43024
count-43023
total-43025
count-43024
total-43026
count-43025
total-43027
count-43026
total-43028
column1 double_ele[3, 9]
column7 double_ele[3, 4]
count-43027
total-43029
count-43028
total-43030
count-43029
total-43031
count-43030
total-43032
count-43031
total-43033
count-43032
total-43034
count-43033
total-43035
count-43034
total-43036
count-43035
total-43037
count-43036
total-43038
count-43037
total-43039
count-43038
total-43040
count-43039
total-43041
count-43040
total-43042
count-43041
total-43043
count-43042
total-43044
count-43043
total-43045
count-43044
total-43046
count-43045
total-43047
count-43046
total-43048
count-43047
total-43049
count-43048
total-43050
count-43049
total-43051
count-43050
total-43052
count-43051
total-43053
count-43052
total-43054
count-43053
total-43055
count-43054
total-43056
count-43055
total-43057
count-43056
total-43058
count-43057
total-43059
count-43058
total-43060
count-43059
total-43061
count-43060
total-43062
count-43061
total-43063
count-43062
total-43064
count-43063
total-43065
count-43064
total-43066
count-43065
total-43067
count-43066
total-43068
count-43067
total-43069
count-43068
total-43070
count-43069
total-43071
count-43070
total-43072
count-43071
total-43073
count-43072
total-43074
count-43073
total-43075
count-43074
total-43076
count-43075
total-43077
count-43076
total-43078
count-43077
total-43079
count-43078
total-43080
count-43079
total-43081
count-43080
total-43082
count-43081
total-43083
count-43082
total-43084
count-43083
total-43085
count-43084
total-43086
count-43085
total-43087
count-43086
total-43088
count-43087
total-43089
count-43088
total-43090
count-43089
total-43091
row 6double_ele[7, 9]
count-43090
total-43092
count-43091
total-43093
count-43092
total-43094
count-43093
total-43095
count-43094
total-43096
count-43095
total-43097
row 1double_ele[2, 6]
count-43096
total-43098
count-43097
total-43099
count-43098
total-43100
count-43099
total-43101
count-43100
total-43102
count-43101
total-43103
count-43102
total-43104
count-43103
total-43105
count-43104
total-43106
column5 double_ele[2, 3]
count-43105
total-43107
count-43106
total-43108
count-43107
total-43109
count-43108
total-43110
count-43109
total-43111
count-43110
total-43112
count-43111
total-43113
count-43112
total-43114
count-43113
total-43115
count-43114
total-43116
count-43115
total-43117
count-43116
total-43118
count-43117
total-43119
count-43118
total-43120

count-43119
total-43121
count-43120
total-43122
column7 double_ele[3, 5]
count-43121
total-43123
count-43122
total-43124
count-43123
total-43125
count-43124
total-43126
count-43125
total-43127
count-43126
total-43128
count-43127
total-43129
row 3double_ele[2, 3]
column6 double_ele[2, 3]
count-43128
total-43130
count-43129
total-43131
count-43130
total-43132
count-43131
total-43133
count-43132
total-43134
column1 double_ele[2, 5]
count-43133
total-43135
column3 double_ele[1, 9]
row 4double_ele[1, 9]
row 7double_ele[1, 5]
count-43134
total-43136
count-43135
total-43137
count-43136
total-43138
count-43137
total-43139
count-43138
total-43140
count-43139
total-43141
count-43140
total-43142
count-43141
total-43143
count-43142
total-43144
count-43143
total-43145
count-43144
total-43146
count-43145
total-43147
count-43146
total-43148
count-43147
total-43149
count-43148
total-43150
count-43149
total-43151
count-43150
total-43152
row 6double_ele[2, 3]
count-43151
total-43153
row 8double_ele[4, 8]
count-43152
total-43154
count-43153
total-43155
count-43154
total-43156
count-43155
total-43157
count-43156
total-43158
count-43157
total-43159
count-43158
total-43160
count-43159
total-43161
count-43160
total-43162
count-43161
total-43163
count-43162
total-43164
count-43163
total-43165
count-43164
total-43166
count-43165
total-43167
count-43166
total-43168
count-43167
total-43169
count-43168
total-43170
count-43169
total-43171
count-43170
total-43172
count-43171
total-43173
count-43172
total-43174
count-43173
total-43175
count-43174
total-43176
count-43175
total-43177
count-43176
total-43178
count-43177
total-43179
count-43178
total-43180
column6 double_ele[4, 6]
row 9double_ele[5, 6]
column9 double_ele[5, 6]
count-43179
total-43181
count-43180
total-43182
row 2double_ele[4, 6]
count-43181
total-43183
count-43182
total-43184
count-43183
total-43185
count-43184
total-43186
count-43185
total-43187
count-43186
total-43188
count-43187
total-43189
count-43188
total-43190
row 1double_ele[2, 4]
column2 double_ele[2, 4]
count-43189
total-43191
count-43190
total-43192
count-43191
total-43193
count-43192
total-43194
count-43193
total-43195
count-43194
total-43196
count-43195
total-43197
count-43196
total-43198
count-43197
total-43199
row 9double_ele[5, 6]
count-43198
total-43200
count-43199
total-43201
count-43200
total-43202
count-43201
total-43203
count-43202
total-43204
count-43203
total-43205
count-43204
total-43206
count-43205
total-43207
count-43206
total-43208
count-43207
total-43209
count-43208
total-43210
count-43209
total-43211
count-43210
total-43212
count-43211
total-43213
count-43212
total-43214
count-43213
total-43215
count-43214
total-43216
count-43215
total-43217
row 7double_ele[2, 9]
count-43216
total-43218
count-43217
total-43219
count-43218
total-43220
count-43219
total-43221
count-43220
total-43222
count-43221
total-43223
count-43222
total-43224
count-43223
total-43225
count-43224
total-43226
count-43225
total-43227
count-43226
total-43228
count-43227
total-43229
count-43228
total-43230
count-43229
total-43231
count-43230
total-43232
count-43231
total-43233
count-43232
total-43234
count-43233
total-43235
count-43234
total-43236
count-43235
total-43237
column8 double_ele[1, 2]
count-43236
total-43238
count-43237
total-43239
count-43238
total-43240
count-43239
total-43241
count-43240
total-43242
count-43241
total-43243
count-43242
total-43244
count-43243
total-43245
count-43244
total-43246
count-43245
total-43247
count-43246
total-43248
count-43247
total-43249
count-43248
total-43250
count-43249
total-43251
count-43250
total-43252
count-43251
total-43253
count-43252
total-43254
count-43253
total-43255
count-43254
total-43256
count-43255
total-43257
count-43256
total-43258
count-43257
total-43259
column7 double_ele[2, 3]
row 8double_ele[2, 3]
count-43258
total-43260
count-43259
total-43261
count-43260
total-43262
column5 double_ele[3, 8]
count-43261
total-43263
row 1double_ele[4, 8]
column2 double_ele[4, 8]
row 6double_ele[1, 8]
count-43262
total-43264
count-43263
total-43265
count-43264
total-43266
count-43265
total-43267
count-43266
total-43268
count-43267
total-43269
count-43268
total-43270
column2 double_ele[3, 4]
count-43269
total-43271
column1 double_ele[2, 3]
count-43270
total-43272
count-43271
total-43273
count-43272
total-43274
count-43273
total-43275
count-43274
total-43276
count-43275
total-43277
count-43276
total-43278
count-43277
total-43279
count-43278
total-43280
count-43279
total-43281
count-43280
total-43282
count-43281
total-43283
count-43282
total-43284
count-43283
total-43285
count-43284
total-43286
count-43285
total-43287
count-43286
total-43288
count-43287
total-43289
row 6double_ele[1, 2]
row 7double_ele[1, 3]
count-43288
total-43290
count-43289
total-43291
count-43290
total-43292
row 8double_ele[2, 3]
count-43291
total-43293
count-43292
total-43294
count-43293
total-43295
count-43294
total-43296
count-43295
total-43297
row 3double_ele[3, 9]
count-43296
total-43298
count-43297
total-43299
count-43298
total-43300
count-43299
total-43301
count-43300
total-43302
count-43301
total-43303
count-43302
total-43304
column4 double_ele[3, 4]
row 8double_ele[3, 4]
row 9double_ele[3, 4]
column9 double_ele[3, 4]
count-43303
total-43305
count-43304
total-43306
count-43305
total-43307
column5 double_ele[4, 5]
count-43306
total-43308
count-43307
total-43309
count-43308
total-43310
count-43309
total-43311
count-43310
total-43312
count-43311
total-43313
count-43312
total-43314
count-43313
total-43315
column3 double_ele[2, 5]
count-43314
total-43316
count-43315
total-43317
column7 double_ele[3, 5]
count-43316
total-43318
count-43317
total-43319
count-43318
total-43320
count-43319
total-43321
count-43320
total-43322
count-43321
total-43323
count-43322
total-43324
count-43323
total-43325
count-43324
total-43326
count-43325
total-43327
count-43326
total-43328
count-43327
total-43329
row 1double_ele[1, 7]
count-43328
total-43330
count-43329
total-43331
count-43330
total-43332
count-43331
total-43333
count-43332
total-43334
count-43333
total-43335
count-43334
total-43336
count-43335
total-43337
count-43336
total-43338
count-43337
total-43339
count-43338
total-43340
count-43339
total-43341
count-43340
total-43342
count-43341
total-43343
count-43342
total-43344
count-43343
total-43345
count-43344
total-43346
count-43345
total-43347
count-43346
total-43348
row 1double_ele[4, 6]
column6 double_ele[4, 7]
count-43347
total-43349
count-43348
total-43350
count-43349
total-43351
count-43350
total-43352
column1 double_ele[3, 4]
row 4double_ele[3, 4]
row 9double_ele[3, 4]
count-43351
total-43353
count-43352
total-43354
count-43353
total-43355
count-43354
total-43356
row 2double_ele[2, 8]
count-43355
total-43357
count-43356
total-43358
column2 double_ele[1, 3]
row 6double_ele[1, 3]
count-43357
total-43359
count-43358
total-43360
count-43359
total-43361
count-43360
total-43362
count-43361
total-43363
count-43362
total-43364
count-43363
total-43365
count-43364
total-43366
count-43365
total-43367
count-43366
total-43368
count-43367
total-43369
count-43368
total-43370
count-43369
total-43371
count-43370
total-43372
count-43371
total-43373
count-43372
total-43374
count-43373
total-43375
count-43374
total-43376
count-43375
total-43377
count-43376
total-43378
row 3double_ele[1, 3]
count-43377
total-43379
count-43378
total-43380
count-43379
total-43381
count-43380
total-43382
count-43381
total-43383
count-43382
total-43384
count-43383
total-43385
count-43384
total-43386
count-43385
total-43387
count-43386
total-43388
count-43387
total-43389
count-43388
total-43390
count-43389
total-43391
count-43390
total-43392
column9 double_ele[1, 4]
count-43391
total-43393
count-43392
total-43394
count-43393
total-43395
count-43394
total-43396
count-43395
total-43397
count-43396
total-43398
count-43397
total-43399
count-43398
total-43400
count-43399
total-43401
count-43400
total-43402
count-43401
total-43403
count-43402
total-43404
count-43403
total-43405
count-43404
total-43406
count-43405
total-43407
count-43406
total-43408
count-43407
total-43409
count-43408
total-43410
count-43409
total-43411
row 2double_ele[5, 7]
count-43410
total-43412
count-43411
total-43413
count-43412
total-43414
count-43413
total-43415
count-43414
total-43416
count-43415
total-43417

count-43416
total-43418
count-43417
total-43419
count-43418
total-43420
count-43419
total-43421
count-43420
total-43422
count-43421
total-43423
count-43422
total-43424
count-43423
total-43425
count-43424
total-43426
count-43425
total-43427
count-43426
total-43428
count-43427
total-43429
count-43428
total-43430
count-43429
total-43431
count-43430
total-43432
count-43431
total-43433
count-43432
total-43434
count-43433
total-43435
count-43434
total-43436
count-43435
total-43437
count-43436
total-43438
count-43437
total-43439
count-43438
total-43440
count-43439
total-43441
count-43440
total-43442
count-43441
total-43443
row 9double_ele[4, 5]
count-43442
total-43444
count-43443
total-43445
count-43444
total-43446
count-43445
total-43447
count-43446
total-43448
count-43447
total-43449
row 9double_ele[4, 5]
column9 double_ele[4, 5]
count-43448
total-43450
count-43449
total-43451
count-43450
total-43452
count-43451
total-43453
count-43452
total-43454
count-43453
total-43455
count-43454
total-43456
count-43455
total-43457
count-43456
total-43458
count-43457
total-43459
count-43458
total-43460
count-43459
total-43461
count-43460
total-43462
column7 double_ele[1, 6]
row 9double_ele[1, 6]
count-43461
total-43463
count-43462
total-43464
row 4double_ele[2, 7]
column9 double_ele[2, 7]
count-43463
total-43465
count-43464
total-43466
row 8double_ele[2, 3]
count-43465
total-43467
count-43466
total-43468
count-43467
total-43469
count-43468
total-43470
count-43469
total-43471
count-43470
total-43472
count-43471
total-43473
count-43472
total-43474
count-43473
total-43475
count-43474
total-43476
count-43475
total-43477
count-43476
total-43478
count-43477
total-43479
count-43478
total-43480
count-43479
total-43481
count-43480
total-43482
count-43481
total-43483
count-43482
total-43484
count-43483
total-43485
count-43484
total-43486
row 7double_ele[3, 5]
count-43485
total-43487
count-43486
total-43488
count-43487
total-43489
column1 double_ele[4, 8]
column2 double_ele[1, 4]
row 8double_ele[1, 8]
column8 double_ele[2, 4]
count-43488
total-43490
count-43489
total-43491
count-43490
total-43492
count-43491
total-43493
count-43492
total-43494
count-43493
total-43495
count-43494
total-43496
count-43495
total-43497
count-43496
total-43498
count-43497
total-43499
count-43498
total-43500
count-43499
total-43501
count-43500
total-43502
count-43501
total-43503
count-43502
total-43504
row 2double_ele[4, 9]
row 6double_ele[2, 9]
count-43503
total-43505
count-43504
total-43506
count-43505
total-43507
count-43506
total-43508
count-43507
total-43509
count-43508
total-43510
count-43509
total-43511
count-43510
total-43512
count-43511
total-43513
count-43512
total-43514
count-43513
total-43515
count-43514
total-43516
count-43515
total-43517
count-43516
total-43518
count-43517
total-43519
count-43518
total-43520
count-43519
total-43521
count-43520
total-43522
count-43521
total-43523
count-43522
total-43524
count-43523
total-43525
count-43524
total-43526
count-43525
total-43527
count-43526
total-43528
row 6double_ele[4, 6]
count-43527
total-43529
row 5double_ele[2, 6]
count-43528
total-43530
count-43529
total-43531
count-43530
total-43532
count-43531
total-43533
count-43532
total-43534
count-43533
total-43535
count-43534
total-43536
column2 double_ele[1, 3]
row 5double_ele[1, 3]
column9 double_ele[1, 2]
count-43535
total-43537
count-43536
total-43538
count-43537
total-43539
count-43538
total-43540
count-43539
total-43541
count-43540
total-43542
row 2double_ele[1, 3]
count-43541
total-43543
count-43542
total-43544
count-43543
total-43545
count-43544
total-43546
count-43545
total-43547
count-43546
total-43548
count-43547
total-43549
count-43548
total-43550
count-43549
total-43551
count-43550
total-43552
count-43551
total-43553
count-43552
total-43554
count-43553
total-43555
count-43554
total-43556
count-43555
total-43557
count-43556
total-43558
count-43557
total-43559
count-43558
total-43560
count-43559
total-43561
count-43560
total-43562
count-43561
total-43563
count-43562
total-43564
column1 double_ele[1, 5]
count-43563
total-43565
count-43564
total-43566
column6 double_ele[3, 5]
count-43565
total-43567
row 1double_ele[2, 8]
column5 double_ele[1, 8]
column8 double_ele[2, 8]
count-43566
total-43568
count-43567
total-43569
count-43568
total-43570
count-43569
total-43571
column1 double_ele[1, 2]
count-43570
total-43572
row 1double_ele[4, 7]
column9 double_ele[4, 7]
count-43571
total-43573
count-43572
total-43574
count-43573
total-43575
count-43574
total-43576
column1 double_ele[1, 3]
count-43575
total-43577
count-43576
total-43578
column5 double_ele[1, 6]
count-43577
total-43579
count-43578
total-43580
row 1double_ele[1, 4]
column8 double_ele[1, 4]
count-43579
total-43581
row 9double_ele[2, 4]
count-43580
total-43582
count-43581
total-43583
count-43582
total-43584
count-43583
total-43585
count-43584
total-43586
count-43585
total-43587
count-43586
total-43588
count-43587
total-43589
count-43588
total-43590
count-43589
total-43591
count-43590
total-43592
count-43591
total-43593
count-43592
total-43594
count-43593
total-43595
count-43594
total-43596
count-43595
total-43597
count-43596
total-43598
count-43597
total-43599
count-43598
total-43600
count-43599
total-43601
count-43600
total-43602
count-43601
total-43603
count-43602
total-43604
count-43603
total-43605
count-43604
total-43606
count-43605
total-43607
count-43606
total-43608
count-43607
total-43609
count-43608
total-43610
count-43609
total-43611
row 5double_ele[2, 3]
row 6double_ele[4, 7]
count-43610
total-43612
count-43611
total-43613
count-43612
total-43614
row 4double_ele[1, 2]
row 8double_ele[2, 4]
count-43613
total-43615
count-43614
total-43616
count-43615
total-43617
count-43616
total-43618
count-43617
total-43619
count-43618
total-43620
count-43619
total-43621
count-43620
total-43622
count-43621
total-43623
count-43622
total-43624
count-43623
total-43625
count-43624
total-43626
count-43625
total-43627
count-43626
total-43628
count-43627
total-43629
count-43628
total-43630
row 8double_ele[4, 5]
count-43629
total-43631
count-43630
total-43632
count-43631
total-43633
count-43632
total-43634
count-43633
total-43635
count-43634
total-43636
count-43635
total-43637
count-43636
total-43638
count-43637
total-43639
count-43638
total-43640
count-43639
total-43641
count-43640
total-43642
count-43641
total-43643
count-43642
total-43644
count-43643
total-43645
count-43644
total-43646
column8 double_ele[3, 5]
row 8triple_ele[1, 3, 5]
count-43645
total-43647
count-43646
total-43648
count-43647
total-43649
count-43648
total-43650
row 7double_ele[2, 7]
count-43649
total-43651
count-43650
total-43652
count-43651
total-43653
count-43652
total-43654
count-43653
total-43655
count-43654
total-43656
count-43655
total-43657
count-43656
total-43658
row 6double_ele[3, 8]
count-43657
total-43659
count-43658
total-43660
count-43659
total-43661
count-43660
total-43662
count-43661
total-43663
count-43662
total-43664
count-43663
total-43665
count-43664
total-43666
count-43665
total-43667
count-43666
total-43668
count-43667
total-43669
row 5double_ele[4, 7]
count-43668
total-43670
count-43669
total-43671
count-43670
total-43672
count-43671
total-43673
count-43672
total-43674
count-43673
total-43675
count-43674
total-43676
column6 double_ele[1, 5]
count-43675
total-43677
count-43676
total-43678
count-43677
total-43679
count-43678
total-43680
count-43679
total-43681
count-43680
total-43682
count-43681
total-43683
count-43682
total-43684
count-43683
total-43685
count-43684
total-43686
count-43685
total-43687
count-43686
total-43688
count-43687
total-43689
count-43688
total-43690
count-43689
total-43691
count-43690
total-43692
count-43691
total-43693
count-43692
total-43694
count-43693
total-43695
row 2double_ele[3, 5]
column5 double_ele[3, 5]
count-43694
total-43696
count-43695
total-43697
count-43696
total-43698
count-43697
total-43699
column1 double_ele[3, 8]
row 3double_ele[3, 8]
column3 double_ele[4, 8]
column4 double_ele[3, 4]
column7 double_ele[3, 8]
row 9double_ele[3, 4]
count-43698
total-43700
count-43699
total-43701
count-43700
total-43702
count-43701
total-43703
count-43702
total-43704
count-43703
total-43705
count-43704
total-43706
count-43705
total-43707
count-43706
total-43708
count-43707
total-43709
count-43708
total-43710
count-43709
total-43711
count-43710
total-43712
row 4double_ele[1, 4]
count-43711
total-43713
count-43712
total-43714
count-43713
total-43715
count-43714
total-43716
count-43715
total-43717
count-43716
total-43718
count-43717
total-43719
count-43718
total-43720
count-43719
total-43721
count-43720
total-43722
count-43721
total-43723
column2 double_ele[3, 6]

count-43722
total-43724
count-43723
total-43725
count-43724
total-43726
count-43725
total-43727
column3 double_ele[4, 5]
column6 double_ele[1, 5]
row 9double_ele[1, 2]
count-43726
total-43728
count-43727
total-43729
count-43728
total-43730
count-43729
total-43731
count-43730
total-43732
count-43731
total-43733
count-43732
total-43734
row 4double_ele[1, 2]
row 9double_ele[2, 4]
count-43733
total-43735
count-43734
total-43736
count-43735
total-43737
count-43736
total-43738
count-43737
total-43739
count-43738
total-43740
count-43739
total-43741
count-43740
total-43742
count-43741
total-43743
count-43742
total-43744
row 6double_ele[1, 4]
column8 double_ele[1, 4]
count-43743
total-43745
row 1double_ele[1, 2]
column2 double_ele[5, 7]
row 3double_ele[1, 7]
column4 double_ele[1, 5]
count-43744
total-43746
count-43745
total-43747
count-43746
total-43748
count-43747
total-43749
count-43748
total-43750
count-43749
total-43751
count-43750
total-43752
count-43751
total-43753
column5 double_ele[1, 5]
count-43752
total-43754
count-43753
total-43755
count-43754
total-43756
count-43755
total-43757
count-43756
total-43758
count-43757
total-43759
count-43758
total-43760
count-43759
total-43761
count-43760
total-43762
count-43761
total-43763
row 2double_ele[3, 4]
count-43762
total-43764
count-43763
total-43765
count-43764
total-43766
count-43765
total-43767
row 7double_ele[6, 8]
count-43766
total-43768
count-43767
total-43769
row 2double_ele[1, 6]
count-43768
total-43770
count-43769
total-43771
count-43770
total-43772
row 6double_ele[2, 6]
count-43771
total-43773
count-43772
total-43774
count-43773
total-43775
count-43774
total-43776
count-43775
total-43777
count-43776
total-43778
count-43777
total-43779
count-43778
total-43780
count-43779
total-43781
count-43780
total-43782
row 7double_ele[2, 5]
column7 double_ele[2, 5]
column9 double_ele[2, 5]
count-43781
total-43783
count-43782
total-43784
count-43783
total-43785
count-43784
total-43786
count-43785
total-43787
count-43786
total-43788
count-43787
total-43789
count-43788
total-43790
count-43789
total-43791
count-43790
total-43792
count-43791
total-43793
count-43792
total-43794
row 5double_ele[1, 2]
count-43793
total-43795
count-43794
total-43796
column3 double_ele[1, 2]
count-43795
total-43797
count-43796
total-43798
count-43797
total-43799
count-43798
total-43800
count-43799
total-43801
count-43800
total-43802
column1 double_ele[3, 7]
row 5double_ele[3, 4]
row 8double_ele[3, 7]
column8 double_ele[3, 4]
count-43801
total-43803
count-43802
total-43804
count-43803
total-43805
count-43804
total-43806
count-43805
total-43807
count-43806
total-43808
count-43807
total-43809
count-43808
total-43810
count-43809
total-43811
row 7double_ele[1, 4]
count-43810
total-43812
count-43811
total-43813
count-43812
total-43814
count-43813
total-43815
count-43814
total-43816
count-43815
total-43817
row 5double_ele[2, 7]
count-43816
total-43818
count-43817
total-43819
count-43818
total-43820
count-43819
total-43821
count-43820
total-43822
count-43821
total-43823
count-43822
total-43824
count-43823
total-43825
count-43824
total-43826
count-43825
total-43827
row 1double_ele[4, 6]
column2 double_ele[4, 6]
count-43826
total-43828
count-43827
total-43829
count-43828
total-43830
count-43829
total-43831
count-43830
total-43832
count-43831
total-43833
column6 double_ele[2, 5]
row 9double_ele[2, 5]
count-43832
total-43834
count-43833
total-43835
count-43834
total-43836
count-43835
total-43837
count-43836
total-43838
count-43837
total-43839
count-43838
total-43840
count-43839
total-43841
row 5double_ele[1, 3]
column9 double_ele[1, 3]
count-43840
total-43842
count-43841
total-43843
column3 double_ele[4, 9]
row 4double_ele[4, 9]
count-43842
total-43844
count-43843
total-43845
count-43844
total-43846
count-43845
total-43847
count-43846
total-43848
count-43847
total-43849
column8 double_ele[2, 4]
count-43848
total-43850
count-43849
total-43851
row 4double_ele[1, 3]
column6 double_ele[1, 3]
count-43850
total-43852
count-43851
total-43853
count-43852
total-43854
count-43853
total-43855
count-43854
total-43856
count-43855
total-43857
count-43856
total-43858
count-43857
total-43859
count-43858
total-43860
count-43859
total-43861
count-43860
total-43862
count-43861
total-43863
count-43862
total-43864
count-43863
total-43865
row 9double_ele[1, 6]
count-43864
total-43866
count-43865
total-43867
count-43866
total-43868
count-43867
total-43869
count-43868
total-43870
count-43869
total-43871
count-43870
total-43872
count-43871
total-43873
count-43872
total-43874
count-43873
total-43875
row 8double_ele[2, 8]
count-43874
total-43876
count-43875
total-43877
count-43876
total-43878
count-43877
total-43879
row 3double_ele[3, 5]
count-43878
total-43880
count-43879
total-43881
count-43880
total-43882
count-43881
total-43883
row 2double_ele[1, 2]
count-43882
total-43884
count-43883
total-43885
row 1double_ele[3, 7]
column1 double_ele[3, 7]
column8 double_ele[3, 7]
count-43884
total-43886
column6 double_ele[3, 9]
count-43885
total-43887
count-43886
total-43888
count-43887
total-43889
count-43888
total-43890
count-43889
total-43891
count-43890
total-43892
count-43891
total-43893
count-43892
total-43894
count-43893
total-43895
count-43894
total-43896
count-43895
total-43897
count-43896
total-43898
count-43897
total-43899
count-43898
total-43900
row 6double_ele[5, 8]
row 8triple_ele[3, 4, 5]
count-43899
total-43901
count-43900
total-43902
count-43901
total-43903
row 4double_ele[1, 6]
count-43902
total-43904
count-43903
total-43905
count-43904
total-43906
count-43905
total-43907
count-43906
total-43908
column3 double_ele[2, 7]
count-43907
total-43909
count-43908
total-43910
column7 double_ele[1, 7]
count-43909
total-43911
count-43910
total-43912
count-43911
total-43913
column2 double_ele[3, 5]
count-43912
total-43914
count-43913
total-43915
column4 double_ele[3, 8]
count-43914
total-43916
count-43915
total-43917
count-43916
total-43918
count-43917
total-43919
count-43918
total-43920
count-43919
total-43921
count-43920
total-43922
count-43921
total-43923
count-43922
total-43924
count-43923
total-43925
count-43924
total-43926
count-43925
total-43927
column4 double_ele[1, 4]
count-43926
total-43928
count-43927
total-43929
count-43928
total-43930
count-43929
total-43931
count-43930
total-43932
count-43931
total-43933
count-43932
total-43934
count-43933
total-43935
count-43934
total-43936
count-43935
total-43937
count-43936
total-43938
count-43937
total-43939
count-43938
total-43940
count-43939
total-43941
column5 double_ele[1, 4]
count-43940
total-43942
count-43941
total-43943
count-43942
total-43944
count-43943
total-43945
count-43944
total-43946
count-43945
total-43947
count-43946
total-43948
row 2double_ele[1, 2]
column3 double_ele[1, 2]
row 4double_ele[2, 3]
count-43947
total-43949
row 5double_ele[3, 4]
count-43948
total-43950
count-43949
total-43951
count-43950
total-43952
count-43951
total-43953
count-43952
total-43954
count-43953
total-43955
count-43954
total-43956
count-43955
total-43957
count-43956
total-43958
row 1double_ele[3, 4]
column5 double_ele[3, 7]
count-43957
total-43959
count-43958
total-43960
count-43959
total-43961
row 6double_ele[6, 7]
count-43960
total-43962
count-43961
total-43963
count-43962
total-43964
count-43963
total-43965
column9 double_ele[2, 6]
count-43964
total-43966
count-43965
total-43967
count-43966
total-43968
count-43967
total-43969
count-43968
total-43970
count-43969
total-43971
count-43970
total-43972
count-43971
total-43973
count-43972
total-43974
count-43973
total-43975
count-43974
total-43976
count-43975
total-43977
count-43976
total-43978
count-43977
total-43979
count-43978
total-43980
count-43979
total-43981
count-43980
total-43982
count-43981
total-43983
count-43982
total-43984
count-43983
total-43985
count-43984
total-43986
count-43985
total-43987
count-43986
total-43988
count-43987
total-43989
row 7double_ele[1, 2]
count-43988
total-43990
count-43989
total-43991
count-43990
total-43992
row 9double_ele[1, 3]
count-43991
total-43993
count-43992
total-43994
count-43993
total-43995
count-43994
total-43996
count-43995
total-43997
count-43996
total-43998
count-43997
total-43999
count-43998
total-44000
count-43999
total-44001
count-44000
total-44002
count-44001
total-44003
count-44002
total-44004
count-44003
total-44005
row 2double_ele[1, 4]
column4 double_ele[1, 4]
row 8double_ele[1, 5]
column9 double_ele[2, 4]
count-44004
total-44006
count-44005
total-44007
count-44006
total-44008
row 1double_ele[1, 3]
row 6double_ele[2, 3]
count-44007
total-44009
count-44008
total-44010
count-44009
total-44011
count-44010
total-44012
count-44011
total-44013
count-44012
total-44014
count-44013
total-44015
count-44014
total-44016
count-44015
total-44017
count-44016
total-44018
count-44017
total-44019
count-44018
total-44020

count-44019
total-44021
count-44020
total-44022
row 7double_ele[4, 5]
count-44021
total-44023
count-44022
total-44024
column6 double_ele[3, 4]
row 7double_ele[3, 4]
count-44023
total-44025
count-44024
total-44026
count-44025
total-44027
column1 double_ele[1, 2]
count-44026
total-44028
count-44027
total-44029
count-44028
total-44030
count-44029
total-44031
count-44030
total-44032
count-44031
total-44033
row 1double_ele[2, 3]
count-44032
total-44034
count-44033
total-44035
count-44034
total-44036
count-44035
total-44037
count-44036
total-44038
count-44037
total-44039
count-44038
total-44040
count-44039
total-44041
count-44040
total-44042
count-44041
total-44043
count-44042
total-44044
row 4double_ele[1, 4]
count-44043
total-44045
count-44044
total-44046
count-44045
total-44047
count-44046
total-44048
count-44047
total-44049
count-44048
total-44050
count-44049
total-44051
count-44050
total-44052
count-44051
total-44053
count-44052
total-44054
count-44053
total-44055
count-44054
total-44056
count-44055
total-44057
count-44056
total-44058
count-44057
total-44059
count-44058
total-44060
column4 double_ele[3, 6]
column8 double_ele[4, 6]
count-44059
total-44061
count-44060
total-44062
count-44061
total-44063
row 2double_ele[3, 5]
count-44062
total-44064
count-44063
total-44065
count-44064
total-44066
count-44065
total-44067
count-44066
total-44068
count-44067
total-44069
count-44068
total-44070
count-44069
total-44071
row 9double_ele[1, 2]
count-44070
total-44072
count-44071
total-44073
count-44072
total-44074
count-44073
total-44075
count-44074
total-44076
count-44075
total-44077
count-44076
total-44078
count-44077
total-44079
count-44078
total-44080
count-44079
total-44081
count-44080
total-44082
row 4double_ele[2, 5]
count-44081
total-44083
count-44082
total-44084
count-44083
total-44085
count-44084
total-44086
count-44085
total-44087
count-44086
total-44088
column2 double_ele[7, 8]
count-44087
total-44089
count-44088
total-44090
count-44089
total-44091
count-44090
total-44092
count-44091
total-44093
count-44092
total-44094
count-44093
total-44095
count-44094
total-44096
count-44095
total-44097
count-44096
total-44098
count-44097
total-44099
count-44098
total-44100
count-44099
total-44101
count-44100
total-44102
count-44101
total-44103
count-44102
total-44104
count-44103
total-44105
count-44104
total-44106
count-44105
total-44107
count-44106
total-44108
count-44107
total-44109
count-44108
total-44110
count-44109
total-44111
count-44110
total-44112
count-44111
total-44113
count-44112
total-44114
count-44113
total-44115
count-44114
total-44116
column3 double_ele[2, 3]
count-44115
total-44117
count-44116
total-44118
count-44117
total-44119
count-44118
total-44120
count-44119
total-44121
count-44120
total-44122
count-44121
total-44123
count-44122
total-44124
count-44123
total-44125
count-44124
total-44126
count-44125
total-44127
count-44126
total-44128
count-44127
total-44129
row 3double_ele[1, 6]
column3 double_ele[1, 6]
count-44128
total-44130
count-44129
total-44131
count-44130
total-44132
count-44131
total-44133
count-44132
total-44134
count-44133
total-44135
count-44134
total-44136
count-44135
total-44137
count-44136
total-44138
count-44137
total-44139
count-44138
total-44140
row 8double_ele[1, 3]
count-44139
total-44141
count-44140
total-44142
count-44141
total-44143
count-44142
total-44144
count-44143
total-44145
count-44144
total-44146
count-44145
total-44147
row 1double_ele[1, 2]
count-44146
total-44148
count-44147
total-44149
row 3double_ele[2, 3]
column8 double_ele[2, 3]
count-44148
total-44150
count-44149
total-44151
count-44150
total-44152
count-44151
total-44153
count-44152
total-44154
count-44153
total-44155
count-44154
total-44156
count-44155
total-44157
count-44156
total-44158
row 6double_ele[1, 4]
row 9double_ele[1, 7]
count-44157
total-44159
count-44158
total-44160
count-44159
total-44161
count-44160
total-44162
count-44161
total-44163
count-44162
total-44164
count-44163
total-44165
count-44164
total-44166
count-44165
total-44167
column7 double_ele[5, 6]
count-44166
total-44168
count-44167
total-44169
count-44168
total-44170
count-44169
total-44171
count-44170
total-44172
count-44171
total-44173
count-44172
total-44174
count-44173
total-44175
count-44174
total-44176
count-44175
total-44177
count-44176
total-44178
count-44177
total-44179
count-44178
total-44180
count-44179
total-44181
count-44180
total-44182
count-44181
total-44183
count-44182
total-44184
count-44183
total-44185
count-44184
total-44186
count-44185
total-44187
count-44186
total-44188
count-44187
total-44189
count-44188
total-44190
count-44189
total-44191
count-44190
total-44192
count-44191
total-44193
count-44192
total-44194
count-44193
total-44195
count-44194
total-44196
count-44195
total-44197
count-44196
total-44198
column4 double_ele[2, 4]
count-44197
total-44199
count-44198
total-44200
count-44199
total-44201
count-44200
total-44202
count-44201
total-44203
count-44202
total-44204
count-44203
total-44205
count-44204
total-44206
count-44205
total-44207
count-44206
total-44208
count-44207
total-44209
count-44208
total-44210
count-44209
total-44211
count-44210
total-44212
count-44211
total-44213
count-44212
total-44214
count-44213
total-44215
count-44214
total-44216
count-44215
total-44217
count-44216
total-44218
count-44217
total-44219
count-44218
total-44220
column4 double_ele[1, 7]
count-44219
total-44221
count-44220
total-44222
count-44221
total-44223
count-44222
total-44224
count-44223
total-44225
count-44224
total-44226
count-44225
total-44227
count-44226
total-44228
count-44227
total-44229
count-44228
total-44230
count-44229
total-44231
count-44230
total-44232
count-44231
total-44233
count-44232
total-44234
count-44233
total-44235
count-44234
total-44236
count-44235
total-44237
count-44236
total-44238
count-44237
total-44239
count-44238
total-44240
count-44239
total-44241
count-44240
total-44242
count-44241
total-44243
count-44242
total-44244
row 4double_ele[2, 6]
count-44243
total-44245
count-44244
total-44246
count-44245
total-44247
count-44246
total-44248
count-44247
total-44249
count-44248
total-44250
count-44249
total-44251
count-44250
total-44252
count-44251
total-44253
count-44252
total-44254
count-44253
total-44255
count-44254
total-44256
count-44255
total-44257
count-44256
total-44258
count-44257
total-44259
count-44258
total-44260
count-44259
total-44261
count-44260
total-44262
count-44261
total-44263
count-44262
total-44264
count-44263
total-44265
column8 double_ele[1, 2]
count-44264
total-44266
count-44265
total-44267
count-44266
total-44268
count-44267
total-44269
count-44268
total-44270
count-44269
total-44271
count-44270
total-44272
count-44271
total-44273
column2 double_ele[1, 4]
count-44272
total-44274
count-44273
total-44275
count-44274
total-44276
count-44275
total-44277
column5 double_ele[1, 5]
count-44276
total-44278
count-44277
total-44279
column1 double_ele[4, 7]
row 4double_ele[4, 7]
count-44278
total-44280
count-44279
total-44281
count-44280
total-44282
count-44281
total-44283
count-44282
total-44284
row 8double_ele[2, 3]
count-44283
total-44285
count-44284
total-44286
count-44285
total-44287
count-44286
total-44288
count-44287
total-44289
count-44288
total-44290
count-44289
total-44291
count-44290
total-44292
count-44291
total-44293
count-44292
total-44294
count-44293
total-44295
count-44294
total-44296
row 7double_ele[1, 3]
count-44295
total-44297
row 7double_ele[1, 2]
count-44296
total-44298
column2 double_ele[2, 5]
count-44297
total-44299
count-44298
total-44300
count-44299
total-44301
count-44300
total-44302
count-44301
total-44303
count-44302
total-44304
count-44303
total-44305
column1 double_ele[2, 3]
row 6double_ele[2, 3]
column6 double_ele[2, 3]
row 8double_ele[2, 3]
count-44304
total-44306
count-44305
total-44307
count-44306
total-44308
count-44307
total-44309
count-44308
total-44310
count-44309
total-44311
count-44310
total-44312
column8 double_ele[1, 2]
count-44311
total-44313
count-44312
total-44314
count-44313
total-44315
count-44314
total-44316
count-44315
total-44317
count-44316
total-44318
count-44317
total-44319
count-44318
total-44320
count-44319
total-44321
count-44320
total-44322
count-44321
total-44323
count-44322
total-44324
count-44323
total-44325
row 5double_ele[3, 6]
count-44324
total-44326
count-44325
total-44327
count-44326
total-44328
count-44327
total-44329
count-44328
total-44330
column2 double_ele[1, 3]
count-44329
total-44331
count-44330
total-44332
column8 triple_ele[2, 6, 7]
count-44331
total-44333
count-44332
total-44334
count-44333
total-44335
count-44334
total-44336
count-44335
total-44337
column1 double_ele[1, 2]
row 4double_ele[1, 5]
row 9double_ele[1, 2]
count-44336
total-44338
count-44337
total-44339
count-44338
total-44340
count-44339
total-44341
count-44340
total-44342
count-44341
total-44343
count-44342
total-44344
row 4double_ele[1, 8]
column8 double_ele[1, 8]
count-44343
total-44345
count-44344
total-44346

row 1double_ele[1, 8]
count-44345
total-44347
count-44346
total-44348
count-44347
total-44349
count-44348
total-44350
count-44349
total-44351
count-44350
total-44352
count-44351
total-44353
count-44352
total-44354
count-44353
total-44355
count-44354
total-44356
count-44355
total-44357
count-44356
total-44358
count-44357
total-44359
count-44358
total-44360
count-44359
total-44361
count-44360
total-44362
count-44361
total-44363
count-44362
total-44364
count-44363
total-44365
count-44364
total-44366
count-44365
total-44367
row 9double_ele[2, 9]
count-44366
total-44368
column8 double_ele[1, 8]
count-44367
total-44369
count-44368
total-44370
count-44369
total-44371
count-44370
total-44372
count-44371
total-44373
count-44372
total-44374
count-44373
total-44375
count-44374
total-44376
count-44375
total-44377
count-44376
total-44378
count-44377
total-44379
count-44378
total-44380
count-44379
total-44381
count-44380
total-44382
count-44381
total-44383
count-44382
total-44384
count-44383
total-44385
count-44384
total-44386
count-44385
total-44387
count-44386
total-44388
count-44387
total-44389
count-44388
total-44390
count-44389
total-44391
count-44390
total-44392
count-44391
total-44393
count-44392
total-44394
count-44393
total-44395
count-44394
total-44396
count-44395
total-44397
column4 triple_ele[2, 4, 7]
count-44396
total-44398
count-44397
total-44399
count-44398
total-44400
count-44399
total-44401
count-44400
total-44402
count-44401
total-44403
count-44402
total-44404
row 5double_ele[1, 5]
count-44403
total-44405
count-44404
total-44406
count-44405
total-44407
column7 double_ele[2, 3]
count-44406
total-44408
count-44407
total-44409
count-44408
total-44410
count-44409
total-44411
count-44410
total-44412
count-44411
total-44413
count-44412
total-44414
count-44413
total-44415
count-44414
total-44416
column2 double_ele[2, 4]
count-44415
total-44417
count-44416
total-44418
count-44417
total-44419
count-44418
total-44420
row 1double_ele[3, 7]
row 5double_ele[3, 7]
column8 double_ele[3, 7]
count-44419
total-44421
count-44420
total-44422
count-44421
total-44423
count-44422
total-44424
count-44423
total-44425
count-44424
total-44426
count-44425
total-44427
count-44426
total-44428
count-44427
total-44429
count-44428
total-44430
count-44429
total-44431
count-44430
total-44432
column3 double_ele[1, 2]
row 8double_ele[1, 2]
count-44431
total-44433
count-44432
total-44434
count-44433
total-44435
count-44434
total-44436
count-44435
total-44437
column9 double_ele[5, 6]
count-44436
total-44438
count-44437
total-44439
count-44438
total-44440
row 1double_ele[1, 6]
row 4double_ele[3, 4]
count-44439
total-44441
column7 double_ele[1, 3]
count-44440
total-44442
count-44441
total-44443
count-44442
total-44444
count-44443
total-44445
row 9double_ele[7, 8]
count-44444
total-44446
count-44445
total-44447
count-44446
total-44448
count-44447
total-44449
count-44448
total-44450
column4 double_ele[2, 3]
count-44449
total-44451
count-44450
total-44452
count-44451
total-44453
count-44452
total-44454
count-44453
total-44455
count-44454
total-44456
count-44455
total-44457
count-44456
total-44458
count-44457
total-44459
count-44458
total-44460
count-44459
total-44461
column4 double_ele[3, 4]
count-44460
total-44462
row 2double_ele[3, 5]
column2 double_ele[3, 5]
row 5double_ele[3, 4]
column5 double_ele[3, 4]
row 7double_ele[3, 5]
row 9double_ele[3, 4]
count-44461
total-44463
count-44462
total-44464
count-44463
total-44465
count-44464
total-44466
count-44465
total-44467
count-44466
total-44468
count-44467
total-44469
count-44468
total-44470
count-44469
total-44471
count-44470
total-44472
count-44471
total-44473
count-44472
total-44474
count-44473
total-44475
count-44474
total-44476
count-44475
total-44477
count-44476
total-44478
count-44477
total-44479
count-44478
total-44480
count-44479
total-44481
count-44480
total-44482
count-44481
total-44483
column1 double_ele[3, 5]
column8 double_ele[5, 6]
count-44482
total-44484
count-44483
total-44485
column5 double_ele[4, 5]
count-44484
total-44486
count-44485
total-44487
count-44486
total-44488
column1 double_ele[2, 3]
count-44487
total-44489
count-44488
total-44490
count-44489
total-44491
count-44490
total-44492
count-44491
total-44493
count-44492
total-44494
count-44493
total-44495
count-44494
total-44496
count-44495
total-44497
count-44496
total-44498
count-44497
total-44499
count-44498
total-44500
row 9double_ele[1, 6]
count-44499
total-44501
count-44500
total-44502
count-44501
total-44503
count-44502
total-44504
count-44503
total-44505
count-44504
total-44506
count-44505
total-44507
count-44506
total-44508
count-44507
total-44509
count-44508
total-44510
count-44509
total-44511
count-44510
total-44512
count-44511
total-44513
count-44512
total-44514
column2 double_ele[4, 7]
count-44513
total-44515
count-44514
total-44516
count-44515
total-44517
count-44516
total-44518
count-44517
total-44519
count-44518
total-44520
count-44519
total-44521
count-44520
total-44522
count-44521
total-44523
count-44522
total-44524
count-44523
total-44525
count-44524
total-44526
count-44525
total-44527
count-44526
total-44528
count-44527
total-44529
count-44528
total-44530
count-44529
total-44531
count-44530
total-44532
count-44531
total-44533
count-44532
total-44534
count-44533
total-44535
count-44534
total-44536
count-44535
total-44537
count-44536
total-44538
count-44537
total-44539
count-44538
total-44540
count-44539
total-44541
count-44540
total-44542
count-44541
total-44543
count-44542
total-44544
count-44543
total-44545
count-44544
total-44546
count-44545
total-44547
count-44546
total-44548
count-44547
total-44549
count-44548
total-44550
count-44549
total-44551
count-44550
total-44552
count-44551
total-44553
count-44552
total-44554
column1 double_ele[1, 3]
row 2double_ele[1, 3]
count-44553
total-44555
count-44554
total-44556
count-44555
total-44557
count-44556
total-44558
count-44557
total-44559
column3 double_ele[1, 3]
count-44558
total-44560
count-44559
total-44561
count-44560
total-44562
count-44561
total-44563
count-44562
total-44564
count-44563
total-44565
count-44564
total-44566
count-44565
total-44567
column9 double_ele[1, 2]
count-44566
total-44568
count-44567
total-44569
count-44568
total-44570
column8 double_ele[2, 4]
count-44569
total-44571
count-44570
total-44572
count-44571
total-44573
count-44572
total-44574
column3 double_ele[1, 3]
row 5double_ele[1, 3]
row 3triple_ele[1, 2, 3]
count-44573
total-44575
count-44574
total-44576
count-44575
total-44577
count-44576
total-44578
column4 double_ele[2, 7]
column8 double_ele[2, 4]
count-44577
total-44579
count-44578
total-44580
count-44579
total-44581
count-44580
total-44582
count-44581
total-44583
count-44582
total-44584
count-44583
total-44585
count-44584
total-44586
count-44585
total-44587
count-44586
total-44588
count-44587
total-44589
count-44588
total-44590
count-44589
total-44591
count-44590
total-44592
count-44591
total-44593
count-44592
total-44594
count-44593
total-44595
count-44594
total-44596
count-44595
total-44597
count-44596
total-44598
count-44597
total-44599
count-44598
total-44600
count-44599
total-44601
count-44600
total-44602
count-44601
total-44603
count-44602
total-44604
count-44603
total-44605
count-44604
total-44606
count-44605
total-44607
count-44606
total-44608
count-44607
total-44609
count-44608
total-44610
count-44609
total-44611
row 3double_ele[1, 8]
count-44610
total-44612
count-44611
total-44613
count-44612
total-44614
count-44613
total-44615
count-44614
total-44616
count-44615
total-44617
count-44616
total-44618
count-44617
total-44619
count-44618
total-44620
count-44619
total-44621
count-44620
total-44622
count-44621
total-44623
count-44622
total-44624
count-44623
total-44625
count-44624
total-44626
count-44625
total-44627
count-44626
total-44628
count-44627
total-44629
count-44628
total-44630
count-44629
total-44631
count-44630
total-44632
count-44631
total-44633
row 3double_ele[4, 6]
count-44632
total-44634
row 3double_ele[1, 3]
count-44633
total-44635
row 2double_ele[2, 5]
count-44634
total-44636
count-44635
total-44637
column6 double_ele[5, 7]
count-44636
total-44638
count-44637
total-44639
row 3double_ele[4, 9]
count-44638
total-44640
count-44639
total-44641
count-44640
total-44642
row 2double_ele[1, 2]
row 5double_ele[2, 3]
count-44641
total-44643
count-44642
total-44644
count-44643
total-44645
count-44644
total-44646
count-44645
total-44647
count-44646
total-44648
column8 double_ele[1, 3]
count-44647
total-44649
count-44648
total-44650
row 5double_ele[4, 5]
row 7double_ele[1, 5]
box9 triple_ele[1, 3, 5]
count-44649
total-44651
count-44650
total-44652
count-44651
total-44653
count-44652
total-44654
count-44653
total-44655
count-44654
total-44656

count-44655
total-44657
count-44656
total-44658
count-44657
total-44659
column5 double_ele[4, 9]
row 9double_ele[1, 6]
count-44658
total-44660
count-44659
total-44661
count-44660
total-44662
count-44661
total-44663
count-44662
total-44664
count-44663
total-44665
count-44664
total-44666
column1 double_ele[3, 6]
count-44665
total-44667
count-44666
total-44668
count-44667
total-44669
count-44668
total-44670
count-44669
total-44671
count-44670
total-44672
count-44671
total-44673
count-44672
total-44674
count-44673
total-44675
count-44674
total-44676
count-44675
total-44677
count-44676
total-44678
count-44677
total-44679
count-44678
total-44680
count-44679
total-44681
count-44680
total-44682
count-44681
total-44683
row 1double_ele[4, 6]
column5 double_ele[4, 6]
row 5triple_ele[1, 3, 4]
count-44682
total-44684
count-44683
total-44685
count-44684
total-44686
count-44685
total-44687
count-44686
total-44688
count-44687
total-44689
count-44688
total-44690
count-44689
total-44691
count-44690
total-44692
count-44691
total-44693
count-44692
total-44694
count-44693
total-44695
count-44694
total-44696
count-44695
total-44697
count-44696
total-44698
count-44697
total-44699
count-44698
total-44700
count-44699
total-44701
count-44700
total-44702
count-44701
total-44703
count-44702
total-44704
column4 double_ele[3, 4]
count-44703
total-44705
count-44704
total-44706
count-44705
total-44707
count-44706
total-44708
count-44707
total-44709
row 3double_ele[1, 2]
column8 double_ele[1, 2]
count-44708
total-44710
row 2double_ele[1, 4]
column5 double_ele[1, 4]
count-44709
total-44711
count-44710
total-44712
count-44711
total-44713
count-44712
total-44714
count-44713
total-44715
count-44714
total-44716
count-44715
total-44717
count-44716
total-44718
column3 double_ele[1, 3]
count-44717
total-44719
count-44718
total-44720
row 9double_ele[6, 8]
count-44719
total-44721
column4 double_ele[3, 4]
count-44720
total-44722
count-44721
total-44723
count-44722
total-44724
count-44723
total-44725
count-44724
total-44726
count-44725
total-44727
count-44726
total-44728
column4 double_ele[1, 7]
count-44727
total-44729
count-44728
total-44730
row 1double_ele[2, 7]
count-44729
total-44731
count-44730
total-44732
column8 double_ele[1, 7]
count-44731
total-44733
count-44732
total-44734
count-44733
total-44735
column1 double_ele[1, 3]
count-44734
total-44736
count-44735
total-44737
count-44736
total-44738
count-44737
total-44739
count-44738
total-44740
count-44739
total-44741
count-44740
total-44742
row 9double_ele[2, 8]
count-44741
total-44743
count-44742
total-44744
count-44743
total-44745
count-44744
total-44746
count-44745
total-44747
count-44746
total-44748
count-44747
total-44749
column5 double_ele[2, 5]
count-44748
total-44750
count-44749
total-44751
count-44750
total-44752
count-44751
total-44753
count-44752
total-44754
count-44753
total-44755
count-44754
total-44756
count-44755
total-44757
count-44756
total-44758
count-44757
total-44759
count-44758
total-44760
count-44759
total-44761
count-44760
total-44762
count-44761
total-44763
count-44762
total-44764
row 5double_ele[3, 7]
box6 triple_ele[2, 3, 7]
count-44763
total-44765
count-44764
total-44766
row 4double_ele[3, 7]
count-44765
total-44767
count-44766
total-44768
count-44767
total-44769
row 4double_ele[1, 4]
column8 double_ele[1, 4]
count-44768
total-44770
count-44769
total-44771
count-44770
total-44772
count-44771
total-44773
count-44772
total-44774
count-44773
total-44775
count-44774
total-44776
count-44775
total-44777
count-44776
total-44778
count-44777
total-44779
column1 double_ele[2, 5]
count-44778
total-44780
count-44779
total-44781
count-44780
total-44782
count-44781
total-44783
count-44782
total-44784
count-44783
total-44785
count-44784
total-44786
count-44785
total-44787
count-44786
total-44788
count-44787
total-44789
count-44788
total-44790
count-44789
total-44791
count-44790
total-44792
count-44791
total-44793
row 4double_ele[1, 2]
column8 double_ele[1, 2]
row 9double_ele[1, 2]
count-44792
total-44794
row 1double_ele[2, 6]
column8 double_ele[2, 6]
count-44793
total-44795
count-44794
total-44796
count-44795
total-44797
count-44796
total-44798
count-44797
total-44799
count-44798
total-44800
count-44799
total-44801
count-44800
total-44802
count-44801
total-44803
count-44802
total-44804
count-44803
total-44805
count-44804
total-44806
count-44805
total-44807
count-44806
total-44808
count-44807
total-44809
count-44808
total-44810
count-44809
total-44811
count-44810
total-44812
count-44811
total-44813
count-44812
total-44814
count-44813
total-44815
count-44814
total-44816
count-44815
total-44817
count-44816
total-44818
column2 double_ele[1, 4]
row 3double_ele[1, 4]
column7 double_ele[1, 4]
row 9double_ele[1, 4]
count-44817
total-44819
count-44818
total-44820
count-44819
total-44821
count-44820
total-44822
count-44821
total-44823
count-44822
total-44824
count-44823
total-44825
count-44824
total-44826
count-44825
total-44827
count-44826
total-44828
count-44827
total-44829
column5 double_ele[2, 4]
count-44828
total-44830
count-44829
total-44831
count-44830
total-44832
row 5double_ele[1, 2]
count-44831
total-44833
count-44832
total-44834
count-44833
total-44835
column2 double_ele[1, 3]
count-44834
total-44836
count-44835
total-44837
count-44836
total-44838
count-44837
total-44839
count-44838
total-44840
count-44839
total-44841
count-44840
total-44842
count-44841
total-44843
count-44842
total-44844
count-44843
total-44845
column6 double_ele[3, 5]
row 7double_ele[3, 5]
count-44844
total-44846
count-44845
total-44847
count-44846
total-44848
count-44847
total-44849
count-44848
total-44850
count-44849
total-44851
count-44850
total-44852
count-44851
total-44853
count-44852
total-44854
count-44853
total-44855
count-44854
total-44856
count-44855
total-44857
count-44856
total-44858
count-44857
total-44859
count-44858
total-44860
count-44859
total-44861
count-44860
total-44862
count-44861
total-44863
count-44862
total-44864
count-44863
total-44865
count-44864
total-44866
count-44865
total-44867
count-44866
total-44868
count-44867
total-44869
count-44868
total-44870
count-44869
total-44871
count-44870
total-44872
count-44871
total-44873
count-44872
total-44874
column8 double_ele[1, 4]
row 3triple_ele[1, 4, 5]
count-44873
total-44875
count-44874
total-44876
count-44875
total-44877
count-44876
total-44878
count-44877
total-44879
count-44878
total-44880
count-44879
total-44881
count-44880
total-44882
row 2double_ele[1, 2]
count-44881
total-44883
count-44882
total-44884
count-44883
total-44885
count-44884
total-44886
row 4double_ele[2, 3]
count-44885
total-44887
count-44886
total-44888
column5 double_ele[2, 8]
column8 double_ele[5, 8]
count-44887
total-44889
count-44888
total-44890
count-44889
total-44891
count-44890
total-44892
count-44891
total-44893
count-44892
total-44894
count-44893
total-44895
count-44894
total-44896
count-44895
total-44897
count-44896
total-44898
count-44897
total-44899
count-44898
total-44900
count-44899
total-44901
count-44900
total-44902
count-44901
total-44903
count-44902
total-44904
count-44903
total-44905
count-44904
total-44906
count-44905
total-44907
count-44906
total-44908
count-44907
total-44909
count-44908
total-44910
count-44909
total-44911
row 1double_ele[2, 3]
count-44910
total-44912
count-44911
total-44913
count-44912
total-44914
count-44913
total-44915
count-44914
total-44916
count-44915
total-44917
count-44916
total-44918
count-44917
total-44919
row 6double_ele[2, 3]
count-44918
total-44920
count-44919
total-44921
row 4double_ele[1, 3]
column8 double_ele[1, 3]
count-44920
total-44922
count-44921
total-44923
count-44922
total-44924
count-44923
total-44925
row 3double_ele[1, 3]
count-44924
total-44926
column5 double_ele[1, 2]
count-44925
total-44927
count-44926
total-44928
count-44927
total-44929
count-44928
total-44930
count-44929
total-44931
count-44930
total-44932
count-44931
total-44933
count-44932
total-44934
column6 double_ele[1, 7]
count-44933
total-44935
count-44934
total-44936
column2 double_ele[1, 6]
row 4double_ele[1, 6]
count-44935
total-44937
count-44936
total-44938
count-44937
total-44939
count-44938
total-44940
count-44939
total-44941
row 3double_ele[3, 4]
count-44940
total-44942
count-44941
total-44943
count-44942
total-44944
row 6double_ele[2, 3]
column9 double_ele[2, 3]
count-44943
total-44945
count-44944
total-44946
count-44945
total-44947
count-44946
total-44948
count-44947
total-44949
count-44948
total-44950
count-44949
total-44951

count-44950
total-44952
count-44951
total-44953
count-44952
total-44954
count-44953
total-44955
count-44954
total-44956
count-44955
total-44957
count-44956
total-44958
count-44957
total-44959
count-44958
total-44960
row 1double_ele[2, 6]
row 9double_ele[3, 4]
count-44959
total-44961
count-44960
total-44962
count-44961
total-44963
count-44962
total-44964
count-44963
total-44965
count-44964
total-44966
count-44965
total-44967
row 1double_ele[3, 7]
column2 double_ele[3, 7]
column4 double_ele[1, 8]
count-44966
total-44968
count-44967
total-44969
count-44968
total-44970
count-44969
total-44971
count-44970
total-44972
count-44971
total-44973
count-44972
total-44974
count-44973
total-44975
row 2double_ele[5, 8]
column4 double_ele[5, 8]
row 9double_ele[1, 2]
count-44974
total-44976
count-44975
total-44977
count-44976
total-44978
count-44977
total-44979
count-44978
total-44980
count-44979
total-44981
count-44980
total-44982
count-44981
total-44983
count-44982
total-44984
count-44983
total-44985
count-44984
total-44986
count-44985
total-44987
count-44986
total-44988
count-44987
total-44989
count-44988
total-44990
count-44989
total-44991
count-44990
total-44992
column8 double_ele[1, 2]
count-44991
total-44993
count-44992
total-44994
row 8double_ele[1, 6]
count-44993
total-44995
column5 double_ele[3, 8]
count-44994
total-44996
count-44995
total-44997
row 2double_ele[1, 5]
count-44996
total-44998
count-44997
total-44999
count-44998
total-45000
count-44999
total-45001
row 8double_ele[2, 4]
count-45000
total-45002
count-45001
total-45003
row 4double_ele[3, 5]
count-45002
total-45004
count-45003
total-45005
column5 double_ele[1, 2]
column8 double_ele[1, 4]
count-45004
total-45006
count-45005
total-45007
count-45006
total-45008
count-45007
total-45009
count-45008
total-45010
count-45009
total-45011
count-45010
total-45012
count-45011
total-45013
count-45012
total-45014
count-45013
total-45015
count-45014
total-45016
count-45015
total-45017
count-45016
total-45018
count-45017
total-45019
count-45018
total-45020
count-45019
total-45021
count-45020
total-45022
count-45021
total-45023
count-45022
total-45024
count-45023
total-45025
count-45024
total-45026
count-45025
total-45027
count-45026
total-45028
count-45027
total-45029
row 4double_ele[5, 7]
count-45028
total-45030
count-45029
total-45031
count-45030
total-45032
count-45031
total-45033
row 2double_ele[1, 4]
count-45032
total-45034
count-45033
total-45035
count-45034
total-45036
count-45035
total-45037
count-45036
total-45038
count-45037
total-45039
count-45038
total-45040
count-45039
total-45041
count-45040
total-45042
count-45041
total-45043
count-45042
total-45044
row 5double_ele[2, 4]
column5 double_ele[2, 4]
count-45043
total-45045
count-45044
total-45046
row 5double_ele[2, 4]
count-45045
total-45047
count-45046
total-45048
count-45047
total-45049
count-45048
total-45050
count-45049
total-45051
count-45050
total-45052
count-45051
total-45053
count-45052
total-45054
count-45053
total-45055
count-45054
total-45056
count-45055
total-45057
count-45056
total-45058
count-45057
total-45059
count-45058
total-45060
count-45059
total-45061
count-45060
total-45062
count-45061
total-45063
count-45062
total-45064
count-45063
total-45065
count-45064
total-45066
count-45065
total-45067
count-45066
total-45068
count-45067
total-45069
count-45068
total-45070
count-45069
total-45071
count-45070
total-45072
count-45071
total-45073
count-45072
total-45074
count-45073
total-45075
count-45074
total-45076
count-45075
total-45077
count-45076
total-45078
count-45077
total-45079
count-45078
total-45080
count-45079
total-45081
count-45080
total-45082
count-45081
total-45083
count-45082
total-45084
count-45083
total-45085
count-45084
total-45086
count-45085
total-45087
row 1double_ele[5, 6]
column6 double_ele[5, 6]
count-45086
total-45088
count-45087
total-45089
count-45088
total-45090
count-45089
total-45091
count-45090
total-45092
count-45091
total-45093
count-45092
total-45094
count-45093
total-45095
count-45094
total-45096
count-45095
total-45097
count-45096
total-45098
count-45097
total-45099
count-45098
total-45100
row 8double_ele[1, 6]
count-45099
total-45101
count-45100
total-45102
count-45101
total-45103
count-45102
total-45104
count-45103
total-45105
count-45104
total-45106
count-45105
total-45107
count-45106
total-45108
count-45107
total-45109
count-45108
total-45110
column2 double_ele[4, 7]
count-45109
total-45111
count-45110
total-45112
count-45111
total-45113
count-45112
total-45114
count-45113
total-45115
row 1double_ele[1, 3]
column2 double_ele[1, 3]
count-45114
total-45116
count-45115
total-45117
count-45116
total-45118
count-45117
total-45119
column5 double_ele[1, 4]
row 7double_ele[1, 4]
count-45118
total-45120
count-45119
total-45121
count-45120
total-45122
count-45121
total-45123
count-45122
total-45124
count-45123
total-45125
box9 triple_ele[1, 4, 5]
count-45124
total-45126
row 5double_ele[2, 5]
column5 double_ele[2, 6]
count-45125
total-45127
column9 double_ele[2, 6]
count-45126
total-45128
count-45127
total-45129
count-45128
total-45130
count-45129
total-45131
count-45130
total-45132
count-45131
total-45133
count-45132
total-45134
count-45133
total-45135
count-45134
total-45136
count-45135
total-45137
count-45136
total-45138
count-45137
total-45139
count-45138
total-45140
count-45139
total-45141
count-45140
total-45142
count-45141
total-45143
count-45142
total-45144
count-45143
total-45145
count-45144
total-45146
row 3double_ele[1, 2]
count-45145
total-45147
count-45146
total-45148
count-45147
total-45149
count-45148
total-45150
count-45149
total-45151
count-45150
total-45152
count-45151
total-45153
count-45152
total-45154
row 2double_ele[3, 4]
column2 double_ele[3, 4]
count-45153
total-45155
row 6double_ele[2, 3]
column6 double_ele[2, 3]
count-45154
total-45156
count-45155
total-45157
count-45156
total-45158
count-45157
total-45159
count-45158
total-45160
count-45159
total-45161
count-45160
total-45162
count-45161
total-45163
count-45162
total-45164
count-45163
total-45165
count-45164
total-45166
count-45165
total-45167
count-45166
total-45168
count-45167
total-45169
count-45168
total-45170
count-45169
total-45171
count-45170
total-45172
count-45171
total-45173
count-45172
total-45174
count-45173
total-45175
count-45174
total-45176
count-45175
total-45177
count-45176
total-45178
count-45177
total-45179
count-45178
total-45180
count-45179
total-45181
count-45180
total-45182
row 6double_ele[2, 4]
count-45181
total-45183
column9 double_ele[4, 6]
count-45182
total-45184
count-45183
total-45185
count-45184
total-45186
count-45185
total-45187
count-45186
total-45188
count-45187
total-45189
count-45188
total-45190
row 2double_ele[1, 7]
column2 double_ele[1, 7]
count-45189
total-45191
count-45190
total-45192
count-45191
total-45193
count-45192
total-45194
column3 double_ele[2, 6]
count-45193
total-45195
column4 double_ele[1, 2]
count-45194
total-45196
count-45195
total-45197
count-45196
total-45198
count-45197
total-45199
count-45198
total-45200
column2 double_ele[2, 3]
column7 double_ele[2, 5]
count-45199
total-45201
count-45200
total-45202
column7 double_ele[1, 5]
column9 double_ele[1, 3]
count-45201
total-45203
count-45202
total-45204
count-45203
total-45205
count-45204
total-45206
count-45205
total-45207
count-45206
total-45208
count-45207
total-45209
count-45208
total-45210
count-45209
total-45211
count-45210
total-45212
count-45211
total-45213
count-45212
total-45214
count-45213
total-45215
count-45214
total-45216
count-45215
total-45217
column5 double_ele[2, 5]
column8 double_ele[2, 6]
count-45216
total-45218
count-45217
total-45219
count-45218
total-45220
count-45219
total-45221
count-45220
total-45222
count-45221
total-45223
count-45222
total-45224
count-45223
total-45225
count-45224
total-45226
count-45225
total-45227
count-45226
total-45228
count-45227
total-45229
count-45228
total-45230
column1 double_ele[2, 4]
column6 double_ele[4, 7]
count-45229
total-45231
count-45230
total-45232
count-45231
total-45233
count-45232
total-45234
count-45233
total-45235
count-45234
total-45236
count-45235
total-45237
count-45236
total-45238
count-45237
total-45239
count-45238
total-45240
count-45239
total-45241
count-45240
total-45242
count-45241
total-45243
column2 double_ele[2, 7]
count-45242
total-45244
count-45243
total-45245
count-45244
total-45246
count-45245
total-45247
column9 double_ele[1, 2]
count-45246
total-45248
column1 double_ele[2, 5]
count-45247
total-45249

count-45248
total-45250
row 1double_ele[1, 2]
row 4double_ele[4, 5]
row 8double_ele[5, 8]
count-45249
total-45251
count-45250
total-45252
count-45251
total-45253
count-45252
total-45254
count-45253
total-45255
count-45254
total-45256
count-45255
total-45257
count-45256
total-45258
row 1double_ele[2, 9]
column3 double_ele[2, 9]
count-45257
total-45259
count-45258
total-45260
count-45259
total-45261
count-45260
total-45262
count-45261
total-45263
count-45262
total-45264
count-45263
total-45265
column9 double_ele[4, 7]
count-45264
total-45266
count-45265
total-45267
count-45266
total-45268
count-45267
total-45269
count-45268
total-45270
count-45269
total-45271
column3 double_ele[4, 7]
count-45270
total-45272
count-45271
total-45273
count-45272
total-45274
count-45273
total-45275
count-45274
total-45276
count-45275
total-45277
count-45276
total-45278
count-45277
total-45279
count-45278
total-45280
count-45279
total-45281
count-45280
total-45282
count-45281
total-45283
count-45282
total-45284
count-45283
total-45285
count-45284
total-45286
count-45285
total-45287
count-45286
total-45288
count-45287
total-45289
count-45288
total-45290
count-45289
total-45291
count-45290
total-45292
count-45291
total-45293
count-45292
total-45294
count-45293
total-45295
count-45294
total-45296
count-45295
total-45297
count-45296
total-45298
count-45297
total-45299
count-45298
total-45300
count-45299
total-45301
count-45300
total-45302
count-45301
total-45303
count-45302
total-45304
row 2double_ele[4, 6]
column4 double_ele[4, 6]
column6 double_ele[1, 4]
count-45303
total-45305
count-45304
total-45306
count-45305
total-45307
count-45306
total-45308
column2 double_ele[5, 7]
column7 double_ele[2, 5]
count-45307
total-45309
count-45308
total-45310
count-45309
total-45311
column3 double_ele[1, 3]
count-45310
total-45312
count-45311
total-45313
count-45312
total-45314
count-45313
total-45315
count-45314
total-45316
count-45315
total-45317
count-45316
total-45318
count-45317
total-45319
count-45318
total-45320
count-45319
total-45321
count-45320
total-45322
count-45321
total-45323
count-45322
total-45324
row 3double_ele[2, 3]
count-45323
total-45325
count-45324
total-45326
count-45325
total-45327
count-45326
total-45328
count-45327
total-45329
count-45328
total-45330
count-45329
total-45331
count-45330
total-45332
count-45331
total-45333
count-45332
total-45334
count-45333
total-45335
count-45334
total-45336
count-45335
total-45337
count-45336
total-45338
count-45337
total-45339
count-45338
total-45340
count-45339
total-45341
count-45340
total-45342
count-45341
total-45343
count-45342
total-45344
count-45343
total-45345
count-45344
total-45346
count-45345
total-45347
count-45346
total-45348
column4 double_ele[1, 3]
count-45347
total-45349
count-45348
total-45350
column6 double_ele[2, 9]
count-45349
total-45351
count-45350
total-45352
count-45351
total-45353
count-45352
total-45354
count-45353
total-45355
count-45354
total-45356
count-45355
total-45357
count-45356
total-45358
column2 double_ele[1, 5]
row 3double_ele[1, 5]
count-45357
total-45359
count-45358
total-45360
count-45359
total-45361
count-45360
total-45362
count-45361
total-45363
column4 double_ele[2, 7]
count-45362
total-45364
count-45363
total-45365
count-45364
total-45366
row 5double_ele[5, 6]
column9 double_ele[2, 6]
count-45365
total-45367
count-45366
total-45368
count-45367
total-45369
count-45368
total-45370
count-45369
total-45371
count-45370
total-45372
count-45371
total-45373
count-45372
total-45374
count-45373
total-45375
count-45374
total-45376
count-45375
total-45377
count-45376
total-45378
count-45377
total-45379
count-45378
total-45380
count-45379
total-45381
count-45380
total-45382
count-45381
total-45383
count-45382
total-45384
count-45383
total-45385
count-45384
total-45386
count-45385
total-45387
count-45386
total-45388
count-45387
total-45389
count-45388
total-45390
count-45389
total-45391
count-45390
total-45392
count-45391
total-45393
count-45392
total-45394
row 4double_ele[1, 3]
count-45393
total-45395
count-45394
total-45396
count-45395
total-45397
count-45396
total-45398
count-45397
total-45399
count-45398
total-45400
count-45399
total-45401
count-45400
total-45402
count-45401
total-45403
count-45402
total-45404
count-45403
total-45405
count-45404
total-45406
count-45405
total-45407
count-45406
total-45408
count-45407
total-45409
count-45408
total-45410
count-45409
total-45411
count-45410
total-45412
count-45411
total-45413
row 1double_ele[5, 7]
column1 double_ele[5, 7]
count-45412
total-45414
count-45413
total-45415
count-45414
total-45416
count-45415
total-45417
count-45416
total-45418
count-45417
total-45419
column9 double_ele[2, 5]
count-45418
total-45420
count-45419
total-45421
column4 double_ele[1, 2]
count-45420
total-45422
count-45421
total-45423
count-45422
total-45424
count-45423
total-45425
count-45424
total-45426
count-45425
total-45427
count-45426
total-45428
count-45427
total-45429
column1 double_ele[1, 8]
column5 double_ele[1, 2]
count-45428
total-45430
count-45429
total-45431
count-45430
total-45432
count-45431
total-45433
count-45432
total-45434
count-45433
total-45435
count-45434
total-45436
column3 double_ele[3, 5]
count-45435
total-45437
count-45436
total-45438
count-45437
total-45439
count-45438
total-45440
count-45439
total-45441
count-45440
total-45442
count-45441
total-45443
count-45442
total-45444
count-45443
total-45445
count-45444
total-45446
count-45445
total-45447
count-45446
total-45448
row 4double_ele[3, 7]
count-45447
total-45449
count-45448
total-45450
count-45449
total-45451
count-45450
total-45452
count-45451
total-45453
count-45452
total-45454
count-45453
total-45455
count-45454
total-45456
count-45455
total-45457
count-45456
total-45458
count-45457
total-45459
row 5double_ele[1, 8]
count-45458
total-45460
column2 double_ele[3, 4]
column3 double_ele[3, 4]
row 8double_ele[3, 4]
count-45459
total-45461
count-45460
total-45462
count-45461
total-45463
count-45462
total-45464
count-45463
total-45465
count-45464
total-45466
count-45465
total-45467
column7 double_ele[3, 5]
count-45466
total-45468
count-45467
total-45469
count-45468
total-45470
count-45469
total-45471
count-45470
total-45472
row 4double_ele[3, 8]
count-45471
total-45473
count-45472
total-45474
count-45473
total-45475
count-45474
total-45476
count-45475
total-45477
count-45476
total-45478
count-45477
total-45479
count-45478
total-45480
row 9double_ele[6, 7]
count-45479
total-45481
count-45480
total-45482
count-45481
total-45483
count-45482
total-45484
count-45483
total-45485
count-45484
total-45486
count-45485
total-45487
count-45486
total-45488
count-45487
total-45489
row 2double_ele[2, 6]
count-45488
total-45490
count-45489
total-45491
count-45490
total-45492
count-45491
total-45493
count-45492
total-45494
count-45493
total-45495
count-45494
total-45496
count-45495
total-45497
count-45496
total-45498
count-45497
total-45499
count-45498
total-45500
count-45499
total-45501
count-45500
total-45502
row 8double_ele[1, 3]
count-45501
total-45503
count-45502
total-45504
row 5double_ele[2, 5]
row 6double_ele[2, 5]
column9 double_ele[2, 5]
count-45503
total-45505
count-45504
total-45506
count-45505
total-45507
count-45506
total-45508
count-45507
total-45509
column2 double_ele[4, 5]
count-45508
total-45510
count-45509
total-45511
count-45510
total-45512
count-45511
total-45513
count-45512
total-45514
count-45513
total-45515
count-45514
total-45516
count-45515
total-45517
column3 double_ele[4, 8]
row 6double_ele[4, 8]
count-45516
total-45518
count-45517
total-45519
count-45518
total-45520
column2 double_ele[6, 8]
row 8double_ele[6, 8]
count-45519
total-45521
row 3double_ele[3, 5]
count-45520
total-45522
count-45521
total-45523
count-45522
total-45524
count-45523
total-45525
count-45524
total-45526
count-45525
total-45527
count-45526
total-45528
count-45527
total-45529
count-45528
total-45530
count-45529
total-45531
count-45530
total-45532
count-45531
total-45533
count-45532
total-45534
count-45533
total-45535
count-45534
total-45536
count-45535
total-45537
count-45536
total-45538
count-45537
total-45539
count-45538
total-45540
count-45539
total-45541
count-45540
total-45542
count-45541
total-45543
count-45542
total-45544
count-45543
total-45545
count-45544
total-45546
count-45545
total-45547
count-45546
total-45548
count-45547
total-45549
count-45548
total-45550
count-45549
total-45551
column1 double_ele[1, 4]
column4 double_ele[1, 5]
row 8double_ele[1, 5]
count-45550
total-45552
count-45551
total-45553
count-45552
total-45554
count-45553
total-45555
count-45554
total-45556
count-45555
total-45557
count-45556
total-45558
count-45557
total-45559
count-45558
total-45560
count-45559
total-45561
count-45560
total-45562
count-45561
total-45563

count-45562
total-45564
count-45563
total-45565
count-45564
total-45566
count-45565
total-45567
row 3double_ele[4, 5]
count-45566
total-45568
count-45567
total-45569
count-45568
total-45570
count-45569
total-45571
count-45570
total-45572
row 4double_ele[3, 4]
count-45571
total-45573
count-45572
total-45574
count-45573
total-45575
count-45574
total-45576
count-45575
total-45577
count-45576
total-45578
count-45577
total-45579
count-45578
total-45580
count-45579
total-45581
count-45580
total-45582
count-45581
total-45583
count-45582
total-45584
count-45583
total-45585
count-45584
total-45586
count-45585
total-45587
count-45586
total-45588
count-45587
total-45589
count-45588
total-45590
count-45589
total-45591
count-45590
total-45592
count-45591
total-45593
row 2double_ele[1, 4]
count-45592
total-45594
count-45593
total-45595
count-45594
total-45596
count-45595
total-45597
count-45596
total-45598
count-45597
total-45599
column4 double_ele[3, 4]
count-45598
total-45600
count-45599
total-45601
count-45600
total-45602
count-45601
total-45603
count-45602
total-45604
count-45603
total-45605
count-45604
total-45606
count-45605
total-45607
count-45606
total-45608
count-45607
total-45609
count-45608
total-45610
count-45609
total-45611
count-45610
total-45612
count-45611
total-45613
count-45612
total-45614
count-45613
total-45615
count-45614
total-45616
count-45615
total-45617
count-45616
total-45618
count-45617
total-45619
count-45618
total-45620
column9 double_ele[3, 4]
count-45619
total-45621
count-45620
total-45622
count-45621
total-45623
count-45622
total-45624
count-45623
total-45625
count-45624
total-45626
count-45625
total-45627
count-45626
total-45628
count-45627
total-45629
count-45628
total-45630
count-45629
total-45631
row 6double_ele[1, 3]
count-45630
total-45632
count-45631
total-45633
count-45632
total-45634
count-45633
total-45635
count-45634
total-45636
count-45635
total-45637
count-45636
total-45638
count-45637
total-45639
count-45638
total-45640
count-45639
total-45641
count-45640
total-45642
count-45641
total-45643
count-45642
total-45644
count-45643
total-45645
count-45644
total-45646
count-45645
total-45647
count-45646
total-45648
count-45647
total-45649
count-45648
total-45650
count-45649
total-45651
count-45650
total-45652
count-45651
total-45653
count-45652
total-45654
count-45653
total-45655
count-45654
total-45656
count-45655
total-45657
row 2double_ele[4, 7]
count-45656
total-45658
count-45657
total-45659
column7 double_ele[1, 2]
row 8double_ele[1, 2]
count-45658
total-45660
count-45659
total-45661
column8 double_ele[3, 6]
count-45660
total-45662
count-45661
total-45663
count-45662
total-45664
row 1double_ele[2, 6]
count-45663
total-45665
count-45664
total-45666
count-45665
total-45667
count-45666
total-45668
count-45667
total-45669
column8 double_ele[2, 5]
count-45668
total-45670
count-45669
total-45671
count-45670
total-45672
column2 double_ele[1, 3]
count-45671
total-45673
count-45672
total-45674
count-45673
total-45675
count-45674
total-45676
count-45675
total-45677
count-45676
total-45678
count-45677
total-45679
count-45678
total-45680
count-45679
total-45681
count-45680
total-45682
count-45681
total-45683
count-45682
total-45684
column6 double_ele[4, 7]
count-45683
total-45685
row 1double_ele[2, 6]
row 2double_ele[5, 6]
count-45684
total-45686
count-45685
total-45687
column1 double_ele[1, 3]
column2 double_ele[5, 7]
count-45686
total-45688
count-45687
total-45689
count-45688
total-45690
row 6double_ele[2, 6]
column7 double_ele[2, 6]
count-45689
total-45691
count-45690
total-45692
count-45691
total-45693
count-45692
total-45694
count-45693
total-45695
count-45694
total-45696
row 2double_ele[2, 8]
column6 double_ele[2, 8]
count-45695
total-45697
count-45696
total-45698
count-45697
total-45699
count-45698
total-45700
count-45699
total-45701
count-45700
total-45702
count-45701
total-45703
count-45702
total-45704
count-45703
total-45705
count-45704
total-45706
count-45705
total-45707
count-45706
total-45708
count-45707
total-45709
count-45708
total-45710
count-45709
total-45711
count-45710
total-45712
count-45711
total-45713
count-45712
total-45714
count-45713
total-45715
count-45714
total-45716
count-45715
total-45717
count-45716
total-45718
count-45717
total-45719
count-45718
total-45720
count-45719
total-45721
count-45720
total-45722
count-45721
total-45723
count-45722
total-45724
count-45723
total-45725
count-45724
total-45726
count-45725
total-45727
count-45726
total-45728
count-45727
total-45729
count-45728
total-45730
row 7double_ele[3, 4]
count-45729
total-45731
row 1double_ele[1, 3]
row 8double_ele[1, 8]
count-45730
total-45732
column1 double_ele[1, 7]
row 2double_ele[1, 7]
row 4double_ele[1, 3]
count-45731
total-45733
row 4double_ele[3, 7]
count-45732
total-45734
count-45733
total-45735
count-45734
total-45736
count-45735
total-45737
count-45736
total-45738
count-45737
total-45739
count-45738
total-45740
count-45739
total-45741
count-45740
total-45742
count-45741
total-45743
count-45742
total-45744
count-45743
total-45745
row 3double_ele[1, 6]
column8 double_ele[1, 6]
count-45744
total-45746
count-45745
total-45747
count-45746
total-45748
count-45747
total-45749
count-45748
total-45750
count-45749
total-45751
count-45750
total-45752
count-45751
total-45753
row 1double_ele[4, 5]
count-45752
total-45754
count-45753
total-45755
count-45754
total-45756
count-45755
total-45757
count-45756
total-45758
count-45757
total-45759
count-45758
total-45760
count-45759
total-45761
column4 double_ele[2, 5]
column5 double_ele[2, 5]
row 6double_ele[2, 5]
row 9double_ele[2, 5]
count-45760
total-45762
count-45761
total-45763
count-45762
total-45764
count-45763
total-45765
row 1double_ele[1, 5]
column5 double_ele[1, 5]
count-45764
total-45766
column8 double_ele[3, 6]
count-45765
total-45767
count-45766
total-45768
count-45767
total-45769
count-45768
total-45770
count-45769
total-45771
count-45770
total-45772
count-45771
total-45773
count-45772
total-45774
count-45773
total-45775
count-45774
total-45776
count-45775
total-45777
count-45776
total-45778
count-45777
total-45779
column4 double_ele[1, 4]
count-45778
total-45780
count-45779
total-45781
count-45780
total-45782
count-45781
total-45783
count-45782
total-45784
count-45783
total-45785
count-45784
total-45786
count-45785
total-45787
count-45786
total-45788
count-45787
total-45789
count-45788
total-45790
count-45789
total-45791
count-45790
total-45792
count-45791
total-45793
count-45792
total-45794
column6 double_ele[2, 4]
count-45793
total-45795
count-45794
total-45796
count-45795
total-45797
count-45796
total-45798
count-45797
total-45799
count-45798
total-45800
count-45799
total-45801
column8 double_ele[1, 2]
count-45800
total-45802
count-45801
total-45803
count-45802
total-45804
count-45803
total-45805
count-45804
total-45806
count-45805
total-45807
count-45806
total-45808
count-45807
total-45809
count-45808
total-45810
row 8double_ele[1, 8]
count-45809
total-45811
count-45810
total-45812
count-45811
total-45813
count-45812
total-45814
count-45813
total-45815
count-45814
total-45816
count-45815
total-45817
count-45816
total-45818
count-45817
total-45819
row 5double_ele[3, 7]
column6 double_ele[3, 7]
column7 double_ele[3, 7]
count-45818
total-45820
count-45819
total-45821
count-45820
total-45822
count-45821
total-45823
count-45822
total-45824
count-45823
total-45825
count-45824
total-45826
count-45825
total-45827
count-45826
total-45828
count-45827
total-45829
column1 double_ele[1, 3]
count-45828
total-45830
count-45829
total-45831
count-45830
total-45832
count-45831
total-45833
count-45832
total-45834
count-45833
total-45835
count-45834
total-45836
count-45835
total-45837
count-45836
total-45838
count-45837
total-45839
count-45838
total-45840
column2 double_ele[2, 3]
column8 double_ele[3, 4]
count-45839
total-45841
count-45840
total-45842
count-45841
total-45843
count-45842
total-45844
count-45843
total-45845
count-45844
total-45846
count-45845
total-45847
count-45846
total-45848
column5 double_ele[2, 7]
column6 double_ele[6, 7]
count-45847
total-45849
column8 double_ele[4, 6]
row 9double_ele[4, 6]
column9 double_ele[4, 6]
count-45848
total-45850
count-45849
total-45851
column2 double_ele[4, 8]
column5 double_ele[5, 8]
count-45850
total-45852

count-45851
total-45853
count-45852
total-45854
row 8double_ele[3, 4]
count-45853
total-45855
count-45854
total-45856
count-45855
total-45857
count-45856
total-45858
count-45857
total-45859
count-45858
total-45860
count-45859
total-45861
count-45860
total-45862
count-45861
total-45863
count-45862
total-45864
count-45863
total-45865
column1 double_ele[3, 4]
count-45864
total-45866
count-45865
total-45867
count-45866
total-45868
count-45867
total-45869
column9 double_ele[4, 5]
count-45868
total-45870
count-45869
total-45871
count-45870
total-45872
count-45871
total-45873
count-45872
total-45874
count-45873
total-45875
count-45874
total-45876
row 1double_ele[1, 2]
column3 double_ele[1, 2]
count-45875
total-45877
column2 double_ele[1, 3]
count-45876
total-45878
count-45877
total-45879
count-45878
total-45880
count-45879
total-45881
count-45880
total-45882
count-45881
total-45883
count-45882
total-45884
count-45883
total-45885
count-45884
total-45886
count-45885
total-45887
count-45886
total-45888
count-45887
total-45889
row 2double_ele[3, 9]
row 6double_ele[3, 6]
count-45888
total-45890
count-45889
total-45891
count-45890
total-45892
count-45891
total-45893
count-45892
total-45894
count-45893
total-45895
count-45894
total-45896
count-45895
total-45897
count-45896
total-45898
count-45897
total-45899
count-45898
total-45900
count-45899
total-45901
count-45900
total-45902
count-45901
total-45903
count-45902
total-45904
count-45903
total-45905
row 7double_ele[3, 5]
count-45904
total-45906
count-45905
total-45907
count-45906
total-45908
count-45907
total-45909
count-45908
total-45910
count-45909
total-45911
count-45910
total-45912
count-45911
total-45913
count-45912
total-45914
count-45913
total-45915
count-45914
total-45916
count-45915
total-45917
count-45916
total-45918
count-45917
total-45919
count-45918
total-45920
count-45919
total-45921
count-45920
total-45922
count-45921
total-45923
count-45922
total-45924
count-45923
total-45925
count-45924
total-45926
count-45925
total-45927
row 3double_ele[4, 9]
row 7double_ele[2, 5]
column9 double_ele[2, 5]
count-45926
total-45928
row 5double_ele[1, 4]
count-45927
total-45929
count-45928
total-45930
row 2double_ele[1, 2]
column4 double_ele[1, 2]
count-45929
total-45931
count-45930
total-45932
count-45931
total-45933
count-45932
total-45934
row 4double_ele[1, 9]
count-45933
total-45935
count-45934
total-45936
count-45935
total-45937
count-45936
total-45938
count-45937
total-45939
count-45938
total-45940
count-45939
total-45941
count-45940
total-45942
count-45941
total-45943
count-45942
total-45944
count-45943
total-45945
row 4double_ele[4, 7]
column4 double_ele[4, 7]
count-45944
total-45946
count-45945
total-45947
count-45946
total-45948
count-45947
total-45949
count-45948
total-45950
count-45949
total-45951
count-45950
total-45952
count-45951
total-45953
column8 double_ele[2, 3]
count-45952
total-45954
count-45953
total-45955
count-45954
total-45956
count-45955
total-45957
count-45956
total-45958
count-45957
total-45959
count-45958
total-45960
count-45959
total-45961
count-45960
total-45962
count-45961
total-45963
row 8double_ele[3, 6]
count-45962
total-45964
count-45963
total-45965
row 8double_ele[2, 3]
count-45964
total-45966
count-45965
total-45967
count-45966
total-45968
count-45967
total-45969
column4 double_ele[1, 5]
column5 double_ele[1, 5]
count-45968
total-45970
column2 double_ele[4, 6]
row 4double_ele[4, 6]
count-45969
total-45971
count-45970
total-45972
count-45971
total-45973
count-45972
total-45974
count-45973
total-45975
count-45974
total-45976
count-45975
total-45977
count-45976
total-45978
count-45977
total-45979
count-45978
total-45980
count-45979
total-45981
count-45980
total-45982
column8 double_ele[4, 5]
count-45981
total-45983
count-45982
total-45984
count-45983
total-45985
count-45984
total-45986
count-45985
total-45987
count-45986
total-45988
count-45987
total-45989
count-45988
total-45990
count-45989
total-45991
count-45990
total-45992
count-45991
total-45993
row 5double_ele[1, 2]
count-45992
total-45994
count-45993
total-45995
column1 double_ele[2, 4]
row 4double_ele[2, 4]
count-45994
total-45996
count-45995
total-45997
count-45996
total-45998
count-45997
total-45999
count-45998
total-46000
box9 triple_ele[1, 2, 7]
count-45999
total-46001
count-46000
total-46002
count-46001
total-46003
count-46002
total-46004
count-46003
total-46005
count-46004
total-46006
row 5double_ele[2, 4]
count-46005
total-46007
column3 double_ele[3, 5]
column5 double_ele[1, 2]
count-46006
total-46008
count-46007
total-46009
row 2double_ele[2, 5]
row 7double_ele[1, 5]
count-46008
total-46010
count-46009
total-46011
count-46010
total-46012
count-46011
total-46013
row 1double_ele[1, 4]
row 8double_ele[4, 8]
count-46012
total-46014
count-46013
total-46015
count-46014
total-46016
count-46015
total-46017
count-46016
total-46018
count-46017
total-46019
count-46018
total-46020
count-46019
total-46021
count-46020
total-46022
count-46021
total-46023
row 5double_ele[1, 5]
count-46022
total-46024
row 4double_ele[2, 9]
count-46023
total-46025
count-46024
total-46026
count-46025
total-46027
count-46026
total-46028
count-46027
total-46029
row 8double_ele[1, 6]
count-46028
total-46030
count-46029
total-46031
count-46030
total-46032
count-46031
total-46033
count-46032
total-46034
count-46033
total-46035
count-46034
total-46036
count-46035
total-46037
count-46036
total-46038
count-46037
total-46039
count-46038
total-46040
count-46039
total-46041
count-46040
total-46042
count-46041
total-46043
count-46042
total-46044
count-46043
total-46045
count-46044
total-46046
count-46045
total-46047
count-46046
total-46048
count-46047
total-46049
count-46048
total-46050
count-46049
total-46051
count-46050
total-46052
count-46051
total-46053
count-46052
total-46054
count-46053
total-46055
count-46054
total-46056
count-46055
total-46057
count-46056
total-46058
count-46057
total-46059
count-46058
total-46060
count-46059
total-46061
count-46060
total-46062
count-46061
total-46063
count-46062
total-46064
count-46063
total-46065
count-46064
total-46066
count-46065
total-46067
count-46066
total-46068
count-46067
total-46069
count-46068
total-46070
count-46069
total-46071
count-46070
total-46072
count-46071
total-46073
count-46072
total-46074
count-46073
total-46075
count-46074
total-46076
count-46075
total-46077
count-46076
total-46078
count-46077
total-46079
count-46078
total-46080
count-46079
total-46081
count-46080
total-46082
count-46081
total-46083
row 6double_ele[1, 5]
column6 double_ele[1, 5]
count-46082
total-46084
count-46083
total-46085
count-46084
total-46086
count-46085
total-46087
count-46086
total-46088
count-46087
total-46089
count-46088
total-46090
count-46089
total-46091
count-46090
total-46092
column3 double_ele[7, 8]
row 7double_ele[7, 8]
count-46091
total-46093
count-46092
total-46094
count-46093
total-46095
count-46094
total-46096
count-46095
total-46097
count-46096
total-46098
count-46097
total-46099
count-46098
total-46100
count-46099
total-46101
column6 double_ele[1, 5]
row 9triple_ele[1, 3, 4]
box9 triple_ele[1, 3, 4]
count-46100
total-46102
count-46101
total-46103
column7 double_ele[4, 7]
count-46102
total-46104
count-46103
total-46105
row 2double_ele[2, 5]
column2 double_ele[2, 5]
column4 double_ele[2, 5]
count-46104
total-46106
count-46105
total-46107
count-46106
total-46108
count-46107
total-46109
count-46108
total-46110
count-46109
total-46111
count-46110
total-46112
count-46111
total-46113
count-46112
total-46114
column7 double_ele[1, 4]
count-46113
total-46115
count-46114
total-46116
column2 double_ele[2, 5]
row 4double_ele[3, 5]
column9 double_ele[3, 5]
count-46115
total-46117
count-46116
total-46118
count-46117
total-46119
count-46118
total-46120
column1 double_ele[1, 8]
count-46119
total-46121
count-46120
total-46122
count-46121
total-46123
count-46122
total-46124
count-46123
total-46125
count-46124
total-46126
count-46125
total-46127
count-46126
total-46128
count-46127
total-46129
count-46128
total-46130
row 7double_ele[1, 3]
count-46129
total-46131
column1 double_ele[2, 8]
row 7double_ele[2, 8]
count-46130
total-46132
count-46131
total-46133
count-46132
total-46134
count-46133
total-46135
count-46134
total-46136
count-46135
total-46137
count-46136
total-46138
row 7double_ele[2, 3]
count-46137
total-46139
count-46138
total-46140
count-46139
total-46141

count-46140
total-46142
count-46141
total-46143
count-46142
total-46144
count-46143
total-46145
count-46144
total-46146
count-46145
total-46147
count-46146
total-46148
count-46147
total-46149
count-46148
total-46150
row 1double_ele[7, 9]
column2 double_ele[7, 9]
column7 double_ele[1, 9]
count-46149
total-46151
count-46150
total-46152
count-46151
total-46153
count-46152
total-46154
count-46153
total-46155
count-46154
total-46156
count-46155
total-46157
count-46156
total-46158
count-46157
total-46159
count-46158
total-46160
count-46159
total-46161
count-46160
total-46162
count-46161
total-46163
count-46162
total-46164
count-46163
total-46165
count-46164
total-46166
count-46165
total-46167
count-46166
total-46168
count-46167
total-46169
count-46168
total-46170
row 8double_ele[1, 6]
count-46169
total-46171
count-46170
total-46172
count-46171
total-46173
count-46172
total-46174
count-46173
total-46175
column5 double_ele[2, 5]
count-46174
total-46176
count-46175
total-46177
count-46176
total-46178
count-46177
total-46179
count-46178
total-46180
count-46179
total-46181
count-46180
total-46182
count-46181
total-46183
count-46182
total-46184
count-46183
total-46185
column5 double_ele[2, 5]
count-46184
total-46186
count-46185
total-46187
count-46186
total-46188
count-46187
total-46189
count-46188
total-46190
row 7double_ele[1, 3]
count-46189
total-46191
count-46190
total-46192
count-46191
total-46193
count-46192
total-46194
count-46193
total-46195
count-46194
total-46196
count-46195
total-46197
count-46196
total-46198
column2 double_ele[2, 3]
column4 double_ele[2, 3]
row 7double_ele[2, 3]
column7 double_ele[2, 4]
row 8double_ele[2, 3]
count-46197
total-46199
count-46198
total-46200
count-46199
total-46201
count-46200
total-46202
count-46201
total-46203
count-46202
total-46204
count-46203
total-46205
count-46204
total-46206
count-46205
total-46207
count-46206
total-46208
count-46207
total-46209
count-46208
total-46210
count-46209
total-46211
count-46210
total-46212
count-46211
total-46213
count-46212
total-46214
count-46213
total-46215
column7 double_ele[1, 4]
count-46214
total-46216
count-46215
total-46217
count-46216
total-46218
count-46217
total-46219
count-46218
total-46220
count-46219
total-46221
count-46220
total-46222
count-46221
total-46223
count-46222
total-46224
count-46223
total-46225
count-46224
total-46226
count-46225
total-46227
count-46226
total-46228
count-46227
total-46229
count-46228
total-46230
row 1double_ele[2, 7]
count-46229
total-46231
count-46230
total-46232
count-46231
total-46233
count-46232
total-46234
count-46233
total-46235
count-46234
total-46236
row 4double_ele[1, 5]
count-46235
total-46237
count-46236
total-46238
count-46237
total-46239
count-46238
total-46240
row 4double_ele[2, 7]
column6 double_ele[2, 7]
count-46239
total-46241
count-46240
total-46242
count-46241
total-46243
count-46242
total-46244
count-46243
total-46245
count-46244
total-46246
row 7double_ele[1, 3]
count-46245
total-46247
count-46246
total-46248
count-46247
total-46249
count-46248
total-46250
row 3double_ele[1, 5]
count-46249
total-46251
count-46250
total-46252
count-46251
total-46253
row 1double_ele[2, 5]
count-46252
total-46254
count-46253
total-46255
count-46254
total-46256
row 6double_ele[1, 7]
row 8double_ele[4, 7]
count-46255
total-46257
count-46256
total-46258
count-46257
total-46259
count-46258
total-46260
count-46259
total-46261
count-46260
total-46262
count-46261
total-46263
row 5double_ele[5, 6]
column7 double_ele[5, 6]
count-46262
total-46264
count-46263
total-46265
row 9double_ele[3, 5]
count-46264
total-46266
count-46265
total-46267
count-46266
total-46268
count-46267
total-46269
count-46268
total-46270
count-46269
total-46271
count-46270
total-46272
count-46271
total-46273
count-46272
total-46274
count-46273
total-46275
count-46274
total-46276
count-46275
total-46277
count-46276
total-46278
count-46277
total-46279
count-46278
total-46280
count-46279
total-46281
count-46280
total-46282
count-46281
total-46283
count-46282
total-46284
count-46283
total-46285
count-46284
total-46286
count-46285
total-46287
count-46286
total-46288
count-46287
total-46289
count-46288
total-46290
count-46289
total-46291
row 1double_ele[2, 5]
count-46290
total-46292
count-46291
total-46293
count-46292
total-46294
row 5double_ele[5, 6]
count-46293
total-46295
count-46294
total-46296
count-46295
total-46297
count-46296
total-46298
column4 double_ele[2, 5]
count-46297
total-46299
count-46298
total-46300
count-46299
total-46301
count-46300
total-46302
count-46301
total-46303
count-46302
total-46304
count-46303
total-46305
count-46304
total-46306
count-46305
total-46307
count-46306
total-46308
count-46307
total-46309
count-46308
total-46310
count-46309
total-46311
count-46310
total-46312
count-46311
total-46313
count-46312
total-46314
count-46313
total-46315
count-46314
total-46316
count-46315
total-46317
count-46316
total-46318
count-46317
total-46319
count-46318
total-46320
count-46319
total-46321
count-46320
total-46322
count-46321
total-46323
count-46322
total-46324
count-46323
total-46325
count-46324
total-46326
count-46325
total-46327
column5 double_ele[1, 5]
count-46326
total-46328
count-46327
total-46329
count-46328
total-46330
column6 double_ele[4, 5]
count-46329
total-46331
count-46330
total-46332
count-46331
total-46333
count-46332
total-46334
count-46333
total-46335
count-46334
total-46336
count-46335
total-46337
count-46336
total-46338
count-46337
total-46339
count-46338
total-46340
count-46339
total-46341
count-46340
total-46342
count-46341
total-46343
column9 double_ele[1, 6]
count-46342
total-46344
count-46343
total-46345
count-46344
total-46346
count-46345
total-46347
count-46346
total-46348
count-46347
total-46349
count-46348
total-46350
count-46349
total-46351
count-46350
total-46352
count-46351
total-46353
count-46352
total-46354
count-46353
total-46355
column1 double_ele[4, 8]
count-46354
total-46356
count-46355
total-46357
count-46356
total-46358
count-46357
total-46359
count-46358
total-46360
count-46359
total-46361
count-46360
total-46362
count-46361
total-46363
count-46362
total-46364
count-46363
total-46365
count-46364
total-46366
count-46365
total-46367
count-46366
total-46368
count-46367
total-46369
count-46368
total-46370
count-46369
total-46371
count-46370
total-46372
count-46371
total-46373
count-46372
total-46374
column9 double_ele[3, 8]
count-46373
total-46375
count-46374
total-46376
count-46375
total-46377
count-46376
total-46378
count-46377
total-46379
count-46378
total-46380
count-46379
total-46381
row 3double_ele[1, 6]
column3 double_ele[1, 6]
row 8double_ele[1, 6]
count-46380
total-46382
count-46381
total-46383
count-46382
total-46384
count-46383
total-46385
count-46384
total-46386
count-46385
total-46387
row 6double_ele[1, 3]
column6 double_ele[1, 3]
column7 double_ele[1, 2]
count-46386
total-46388
count-46387
total-46389
column2 double_ele[2, 5]
column6 double_ele[5, 6]
count-46388
total-46390
count-46389
total-46391
count-46390
total-46392
count-46391
total-46393
count-46392
total-46394
count-46393
total-46395
row 3double_ele[1, 3]
count-46394
total-46396
column1 double_ele[1, 6]
row 2double_ele[1, 6]
count-46395
total-46397
count-46396
total-46398
count-46397
total-46399
count-46398
total-46400
count-46399
total-46401
count-46400
total-46402
count-46401
total-46403
count-46402
total-46404
count-46403
total-46405
count-46404
total-46406
count-46405
total-46407
count-46406
total-46408
count-46407
total-46409
count-46408
total-46410
count-46409
total-46411
count-46410
total-46412
count-46411
total-46413
row 5double_ele[3, 6]
count-46412
total-46414
count-46413
total-46415
count-46414
total-46416
row 7double_ele[3, 8]
count-46415
total-46417
count-46416
total-46418
count-46417
total-46419
count-46418
total-46420
count-46419
total-46421
count-46420
total-46422
count-46421
total-46423
count-46422
total-46424
count-46423
total-46425
count-46424
total-46426
count-46425
total-46427
count-46426
total-46428
count-46427
total-46429
count-46428
total-46430
count-46429
total-46431
count-46430
total-46432
column2 double_ele[2, 5]
count-46431
total-46433
count-46432
total-46434
count-46433
total-46435
count-46434
total-46436
count-46435
total-46437
count-46436
total-46438
count-46437
total-46439
count-46438
total-46440
count-46439
total-46441
count-46440
total-46442
count-46441
total-46443
count-46442
total-46444
row 5double_ele[4, 5]
count-46443
total-46445
count-46444
total-46446
count-46445
total-46447
column1 double_ele[6, 8]
count-46446
total-46448
column9 double_ele[1, 5]
count-46447
total-46449
count-46448
total-46450
count-46449
total-46451
count-46450
total-46452
count-46451
total-46453
count-46452
total-46454
row 5double_ele[1, 7]
count-46453
total-46455
count-46454
total-46456

count-46455
total-46457
count-46456
total-46458
count-46457
total-46459
count-46458
total-46460
count-46459
total-46461
row 2double_ele[1, 5]
column2 double_ele[1, 5]
column3 double_ele[1, 5]
row 9double_ele[1, 5]
count-46460
total-46462
column7 double_ele[3, 7]
count-46461
total-46463
count-46462
total-46464
count-46463
total-46465
count-46464
total-46466
count-46465
total-46467
count-46466
total-46468
count-46467
total-46469
count-46468
total-46470
count-46469
total-46471
column8 double_ele[4, 5]
count-46470
total-46472
column1 double_ele[3, 5]
row 7double_ele[3, 5]
count-46471
total-46473
count-46472
total-46474
count-46473
total-46475
count-46474
total-46476
count-46475
total-46477
count-46476
total-46478
count-46477
total-46479
count-46478
total-46480
count-46479
total-46481
count-46480
total-46482
count-46481
total-46483
count-46482
total-46484
column9 double_ele[1, 6]
count-46483
total-46485
count-46484
total-46486
count-46485
total-46487
count-46486
total-46488
count-46487
total-46489
count-46488
total-46490
count-46489
total-46491
count-46490
total-46492
count-46491
total-46493
count-46492
total-46494
count-46493
total-46495
count-46494
total-46496
count-46495
total-46497
count-46496
total-46498
count-46497
total-46499
count-46498
total-46500
count-46499
total-46501
count-46500
total-46502
count-46501
total-46503
count-46502
total-46504
count-46503
total-46505
column6 double_ele[1, 5]
count-46504
total-46506
count-46505
total-46507
count-46506
total-46508
count-46507
total-46509
column8 double_ele[2, 4]
count-46508
total-46510
count-46509
total-46511
count-46510
total-46512
count-46511
total-46513
count-46512
total-46514
row 3double_ele[1, 5]
column4 double_ele[1, 5]
column5 double_ele[1, 5]
row 9double_ele[1, 5]
count-46513
total-46515
count-46514
total-46516
count-46515
total-46517
count-46516
total-46518
count-46517
total-46519
column2 double_ele[1, 8]
row 6double_ele[1, 8]
count-46518
total-46520
count-46519
total-46521
count-46520
total-46522
count-46521
total-46523
count-46522
total-46524
count-46523
total-46525
count-46524
total-46526
count-46525
total-46527
count-46526
total-46528
count-46527
total-46529
count-46528
total-46530
count-46529
total-46531
count-46530
total-46532
count-46531
total-46533
count-46532
total-46534
column7 double_ele[2, 6]
count-46533
total-46535
count-46534
total-46536
count-46535
total-46537
count-46536
total-46538
count-46537
total-46539
row 5double_ele[4, 6]
column5 double_ele[4, 6]
count-46538
total-46540
count-46539
total-46541
count-46540
total-46542
count-46541
total-46543
count-46542
total-46544
count-46543
total-46545
count-46544
total-46546
count-46545
total-46547
count-46546
total-46548
count-46547
total-46549
count-46548
total-46550
count-46549
total-46551
count-46550
total-46552
count-46551
total-46553
count-46552
total-46554
count-46553
total-46555
count-46554
total-46556
column4 double_ele[1, 3]
count-46555
total-46557
count-46556
total-46558
count-46557
total-46559
count-46558
total-46560
count-46559
total-46561
count-46560
total-46562
count-46561
total-46563
count-46562
total-46564
count-46563
total-46565
count-46564
total-46566
count-46565
total-46567
column1 double_ele[4, 7]
row 3double_ele[4, 7]
row 6double_ele[4, 7]
column6 double_ele[4, 7]
count-46566
total-46568
count-46567
total-46569
count-46568
total-46570
count-46569
total-46571
count-46570
total-46572
count-46571
total-46573
count-46572
total-46574
count-46573
total-46575
count-46574
total-46576
count-46575
total-46577
count-46576
total-46578
row 1double_ele[1, 4]
row 6double_ele[2, 4]
column8 double_ele[2, 4]
column9 double_ele[1, 4]
count-46577
total-46579
count-46578
total-46580
count-46579
total-46581
count-46580
total-46582
count-46581
total-46583
count-46582
total-46584
count-46583
total-46585
count-46584
total-46586
count-46585
total-46587
count-46586
total-46588
count-46587
total-46589
count-46588
total-46590
count-46589
total-46591
count-46590
total-46592
row 5double_ele[1, 4]
row 9double_ele[1, 5]
column9 double_ele[1, 4]
count-46591
total-46593
count-46592
total-46594
count-46593
total-46595
count-46594
total-46596
count-46595
total-46597
count-46596
total-46598
row 2double_ele[2, 4]
column6 double_ele[2, 4]
count-46597
total-46599
count-46598
total-46600
count-46599
total-46601
row 5double_ele[2, 3]
column9 double_ele[2, 3]
count-46600
total-46602
count-46601
total-46603
count-46602
total-46604
count-46603
total-46605
count-46604
total-46606
count-46605
total-46607
count-46606
total-46608
count-46607
total-46609
count-46608
total-46610
column5 double_ele[3, 6]
count-46609
total-46611
count-46610
total-46612
count-46611
total-46613
count-46612
total-46614
count-46613
total-46615
count-46614
total-46616
count-46615
total-46617
row 2double_ele[4, 5]
column9 double_ele[4, 5]
count-46616
total-46618
column7 double_ele[3, 6]
row 9double_ele[3, 6]
count-46617
total-46619
count-46618
total-46620
column6 double_ele[2, 3]
row 9double_ele[3, 5]
count-46619
total-46621
count-46620
total-46622
count-46621
total-46623
row 5double_ele[2, 4]
count-46622
total-46624
column4 double_ele[2, 4]
row 7double_ele[2, 4]
count-46623
total-46625
count-46624
total-46626
count-46625
total-46627
count-46626
total-46628
count-46627
total-46629
count-46628
total-46630
count-46629
total-46631
count-46630
total-46632
count-46631
total-46633
count-46632
total-46634
count-46633
total-46635
count-46634
total-46636
count-46635
total-46637
count-46636
total-46638
count-46637
total-46639
count-46638
total-46640
count-46639
total-46641
count-46640
total-46642
count-46641
total-46643
column1 double_ele[1, 4]
row 4double_ele[1, 4]
column8 double_ele[1, 3]
count-46642
total-46644
count-46643
total-46645
count-46644
total-46646
count-46645
total-46647
row 3double_ele[1, 3]
count-46646
total-46648
count-46647
total-46649
count-46648
total-46650
column1 double_ele[1, 2]
count-46649
total-46651
count-46650
total-46652
count-46651
total-46653
row 1double_ele[2, 4]
column1 double_ele[2, 4]
column2 double_ele[2, 4]
row 5double_ele[2, 4]
count-46652
total-46654
count-46653
total-46655
count-46654
total-46656
row 6double_ele[1, 3]
count-46655
total-46657
count-46656
total-46658
row 3double_ele[1, 6]
column9 double_ele[1, 6]
count-46657
total-46659
count-46658
total-46660
count-46659
total-46661
count-46660
total-46662
count-46661
total-46663
count-46662
total-46664
count-46663
total-46665
count-46664
total-46666
count-46665
total-46667
count-46666
total-46668
count-46667
total-46669
count-46668
total-46670
count-46669
total-46671
count-46670
total-46672
count-46671
total-46673
column6 double_ele[1, 6]
count-46672
total-46674
row 5double_ele[2, 5]
column5 double_ele[4, 5]
row 8double_ele[4, 5]
row 9triple_ele[4, 5, 7]
box9 triple_ele[4, 5, 7]
count-46673
total-46675
column5 double_ele[3, 6]
count-46674
total-46676
column5 double_ele[1, 4]
count-46675
total-46677
count-46676
total-46678
count-46677
total-46679
count-46678
total-46680
count-46679
total-46681
count-46680
total-46682
count-46681
total-46683
count-46682
total-46684
row 4double_ele[1, 2]
count-46683
total-46685
count-46684
total-46686
count-46685
total-46687
row 3double_ele[1, 4]
count-46686
total-46688
row 7double_ele[4, 8]
count-46687
total-46689
count-46688
total-46690
count-46689
total-46691
count-46690
total-46692
count-46691
total-46693
count-46692
total-46694
row 9double_ele[2, 3]
count-46693
total-46695
count-46694
total-46696
column5 double_ele[1, 4]
row 9double_ele[1, 4]
count-46695
total-46697
count-46696
total-46698
count-46697
total-46699
count-46698
total-46700
row 1double_ele[1, 2]
count-46699
total-46701
count-46700
total-46702
count-46701
total-46703
count-46702
total-46704
count-46703
total-46705
row 4double_ele[1, 2]
count-46704
total-46706
count-46705
total-46707
count-46706
total-46708
count-46707
total-46709
count-46708
total-46710
count-46709
total-46711
count-46710
total-46712
row 1double_ele[3, 4]
column4 double_ele[1, 5]
row 7double_ele[1, 3]
row 8double_ele[1, 5]
column8 double_ele[1, 3]
box3 triple_ele[1, 4, 5]
count-46711
total-46713
row 1double_ele[1, 6]
column3 double_ele[2, 4]
row 9double_ele[2, 4]
count-46712
total-46714
count-46713
total-46715
count-46714
total-46716
count-46715
total-46717
count-46716
total-46718
count-46717
total-46719
count-46718
total-46720
count-46719
total-46721
count-46720
total-46722
count-46721
total-46723
count-46722
total-46724
count-46723
total-46725
count-46724
total-46726
row 7triple_ele[2, 3, 4]
count-46725
total-46727
count-46726
total-46728
count-46727
total-46729
count-46728
total-46730
count-46729
total-46731
count-46730
total-46732
count-46731
total-46733
row 9double_ele[1, 2]
count-46732
total-46734
count-46733
total-46735
count-46734
total-46736

count-46735
total-46737
count-46736
total-46738
count-46737
total-46739
count-46738
total-46740
count-46739
total-46741
count-46740
total-46742
count-46741
total-46743
count-46742
total-46744
count-46743
total-46745
count-46744
total-46746
row 5double_ele[1, 6]
count-46745
total-46747
count-46746
total-46748
count-46747
total-46749
count-46748
total-46750
count-46749
total-46751
count-46750
total-46752
column1 double_ele[1, 3]
row 4double_ele[1, 3]
count-46751
total-46753
count-46752
total-46754
count-46753
total-46755
count-46754
total-46756
count-46755
total-46757
count-46756
total-46758
column1 double_ele[7, 8]
row 6double_ele[7, 8]
column7 double_ele[2, 8]
count-46757
total-46759
count-46758
total-46760
count-46759
total-46761
count-46760
total-46762
count-46761
total-46763
count-46762
total-46764
count-46763
total-46765
count-46764
total-46766
count-46765
total-46767
count-46766
total-46768
count-46767
total-46769
count-46768
total-46770
count-46769
total-46771
count-46770
total-46772
count-46771
total-46773
count-46772
total-46774
count-46773
total-46775
count-46774
total-46776
count-46775
total-46777
count-46776
total-46778
count-46777
total-46779
count-46778
total-46780
count-46779
total-46781
count-46780
total-46782
count-46781
total-46783
count-46782
total-46784
count-46783
total-46785
count-46784
total-46786
count-46785
total-46787
row 5double_ele[2, 7]
count-46786
total-46788
count-46787
total-46789
count-46788
total-46790
count-46789
total-46791
count-46790
total-46792
count-46791
total-46793
count-46792
total-46794
count-46793
total-46795
count-46794
total-46796
column4 double_ele[2, 3]
count-46795
total-46797
count-46796
total-46798
count-46797
total-46799
count-46798
total-46800
count-46799
total-46801
count-46800
total-46802
count-46801
total-46803
count-46802
total-46804
count-46803
total-46805
count-46804
total-46806
count-46805
total-46807
count-46806
total-46808
count-46807
total-46809
count-46808
total-46810
count-46809
total-46811
count-46810
total-46812
count-46811
total-46813
count-46812
total-46814
count-46813
total-46815
row 8double_ele[1, 5]
count-46814
total-46816
count-46815
total-46817
row 9double_ele[4, 7]
count-46816
total-46818
column2 double_ele[2, 7]
row 3double_ele[3, 4]
column5 double_ele[2, 4]
count-46817
total-46819
count-46818
total-46820
count-46819
total-46821
count-46820
total-46822
count-46821
total-46823
count-46822
total-46824
count-46823
total-46825
count-46824
total-46826
count-46825
total-46827
row 7double_ele[3, 5]
count-46826
total-46828
count-46827
total-46829
count-46828
total-46830
count-46829
total-46831
count-46830
total-46832
count-46831
total-46833
count-46832
total-46834
count-46833
total-46835
count-46834
total-46836
count-46835
total-46837
count-46836
total-46838
count-46837
total-46839
row 5double_ele[2, 6]
count-46838
total-46840
count-46839
total-46841
count-46840
total-46842
count-46841
total-46843
count-46842
total-46844
count-46843
total-46845
count-46844
total-46846
count-46845
total-46847
count-46846
total-46848
count-46847
total-46849
count-46848
total-46850
count-46849
total-46851
count-46850
total-46852
count-46851
total-46853
count-46852
total-46854
count-46853
total-46855
count-46854
total-46856
count-46855
total-46857
count-46856
total-46858
count-46857
total-46859
row 4double_ele[1, 2]
count-46858
total-46860
count-46859
total-46861
count-46860
total-46862
count-46861
total-46863
count-46862
total-46864
count-46863
total-46865
count-46864
total-46866
count-46865
total-46867
column4 double_ele[1, 5]
count-46866
total-46868
count-46867
total-46869
count-46868
total-46870
count-46869
total-46871
count-46870
total-46872
count-46871
total-46873
count-46872
total-46874
count-46873
total-46875
count-46874
total-46876
count-46875
total-46877
count-46876
total-46878
count-46877
total-46879
count-46878
total-46880
count-46879
total-46881
count-46880
total-46882
count-46881
total-46883
row 2double_ele[2, 6]
count-46882
total-46884
column3 double_ele[3, 4]
row 9double_ele[3, 8]
column9 double_ele[3, 8]
count-46883
total-46885
count-46884
total-46886
column2 double_ele[2, 5]
count-46885
total-46887
count-46886
total-46888
column6 double_ele[1, 2]
count-46887
total-46889
row 9double_ele[1, 8]
count-46888
total-46890
count-46889
total-46891
count-46890
total-46892
count-46891
total-46893
row 1double_ele[2, 7]
count-46892
total-46894
column7 double_ele[2, 5]
count-46893
total-46895
count-46894
total-46896
count-46895
total-46897
count-46896
total-46898
count-46897
total-46899
count-46898
total-46900
count-46899
total-46901
count-46900
total-46902
row 5double_ele[1, 5]
count-46901
total-46903
count-46902
total-46904
count-46903
total-46905
count-46904
total-46906
count-46905
total-46907
count-46906
total-46908
count-46907
total-46909
count-46908
total-46910
count-46909
total-46911
count-46910
total-46912
count-46911
total-46913
count-46912
total-46914
count-46913
total-46915
row 5double_ele[1, 7]
count-46914
total-46916
count-46915
total-46917
count-46916
total-46918
count-46917
total-46919
count-46918
total-46920
count-46919
total-46921
count-46920
total-46922
count-46921
total-46923
count-46922
total-46924
count-46923
total-46925
column1 double_ele[1, 6]
column2 double_ele[1, 5]
count-46924
total-46926
count-46925
total-46927
count-46926
total-46928
count-46927
total-46929
count-46928
total-46930
count-46929
total-46931
count-46930
total-46932
count-46931
total-46933
count-46932
total-46934
count-46933
total-46935
count-46934
total-46936
count-46935
total-46937
count-46936
total-46938
count-46937
total-46939
count-46938
total-46940
count-46939
total-46941
count-46940
total-46942
count-46941
total-46943
count-46942
total-46944
count-46943
total-46945
count-46944
total-46946
count-46945
total-46947
count-46946
total-46948
count-46947
total-46949
count-46948
total-46950
count-46949
total-46951
count-46950
total-46952
count-46951
total-46953
count-46952
total-46954
count-46953
total-46955
count-46954
total-46956
count-46955
total-46957
count-46956
total-46958
count-46957
total-46959
count-46958
total-46960
count-46959
total-46961
count-46960
total-46962
count-46961
total-46963
count-46962
total-46964
count-46963
total-46965
count-46964
total-46966
count-46965
total-46967
count-46966
total-46968
count-46967
total-46969
row 1double_ele[3, 6]
column4 double_ele[3, 6]
row 9double_ele[6, 7]
count-46968
total-46970
count-46969
total-46971
count-46970
total-46972
row 3double_ele[3, 8]
column4 double_ele[3, 8]
count-46971
total-46973
count-46972
total-46974
column1 double_ele[1, 3]
count-46973
total-46975
count-46974
total-46976
row 7double_ele[3, 4]
count-46975
total-46977
count-46976
total-46978
count-46977
total-46979
count-46978
total-46980
count-46979
total-46981
count-46980
total-46982
count-46981
total-46983
count-46982
total-46984
count-46983
total-46985
count-46984
total-46986
count-46985
total-46987
count-46986
total-46988
count-46987
total-46989
count-46988
total-46990
count-46989
total-46991
count-46990
total-46992
row 4double_ele[2, 4]
count-46991
total-46993
count-46992
total-46994
count-46993
total-46995
count-46994
total-46996
count-46995
total-46997
count-46996
total-46998
count-46997
total-46999
count-46998
total-47000
count-46999
total-47001
count-47000
total-47002
count-47001
total-47003
count-47002
total-47004
row 3double_ele[4, 6]
column6 double_ele[4, 6]
count-47003
total-47005
count-47004
total-47006
count-47005
total-47007
count-47006
total-47008
count-47007
total-47009
row 2double_ele[2, 3]
column2 double_ele[2, 3]
column9 double_ele[1, 4]
box6 triple_ele[2, 3, 4]
count-47008
total-47010
column6 double_ele[4, 6]
count-47009
total-47011
count-47010
total-47012
count-47011
total-47013
count-47012
total-47014
count-47013
total-47015
row 5double_ele[3, 4]
count-47014
total-47016
count-47015
total-47017
count-47016
total-47018
count-47017
total-47019
count-47018
total-47020
count-47019
total-47021
count-47020
total-47022
count-47021
total-47023
count-47022
total-47024
count-47023
total-47025
count-47024
total-47026
count-47025
total-47027
count-47026
total-47028
count-47027
total-47029
count-47028
total-47030
count-47029
total-47031
count-47030
total-47032
row 9double_ele[3, 9]
count-47031
total-47033
count-47032
total-47034
count-47033
total-47035
count-47034
total-47036
count-47035
total-47037
count-47036
total-47038
count-47037
total-47039
count-47038
total-47040
count-47039
total-47041
column3 double_ele[1, 2]
count-47040
total-47042
count-47041
total-47043
count-47042
total-47044
count-47043
total-47045
count-47044
total-47046
count-47045
total-47047
count-47046
total-47048

count-47047
total-47049
count-47048
total-47050
count-47049
total-47051
count-47050
total-47052
count-47051
total-47053
count-47052
total-47054
column2 double_ele[1, 5]
row 4double_ele[1, 5]
row 5double_ele[1, 5]
count-47053
total-47055
row 9double_ele[4, 8]
count-47054
total-47056
column3 double_ele[2, 6]
count-47055
total-47057
count-47056
total-47058
count-47057
total-47059
count-47058
total-47060
row 8double_ele[2, 3]
count-47059
total-47061
count-47060
total-47062
count-47061
total-47063
column7 double_ele[1, 2]
count-47062
total-47064
count-47063
total-47065
count-47064
total-47066
count-47065
total-47067
count-47066
total-47068
count-47067
total-47069
count-47068
total-47070
count-47069
total-47071
count-47070
total-47072
count-47071
total-47073
count-47072
total-47074
count-47073
total-47075
count-47074
total-47076
count-47075
total-47077
count-47076
total-47078
count-47077
total-47079
count-47078
total-47080
count-47079
total-47081
count-47080
total-47082
count-47081
total-47083
count-47082
total-47084
count-47083
total-47085
count-47084
total-47086
count-47085
total-47087
count-47086
total-47088
count-47087
total-47089
count-47088
total-47090
count-47089
total-47091
count-47090
total-47092
count-47091
total-47093
column7 double_ele[1, 3]
count-47092
total-47094
count-47093
total-47095
column2 double_ele[3, 4]
count-47094
total-47096
count-47095
total-47097
count-47096
total-47098
count-47097
total-47099
count-47098
total-47100
count-47099
total-47101
count-47100
total-47102
count-47101
total-47103
count-47102
total-47104
count-47103
total-47105
count-47104
total-47106
row 2double_ele[2, 8]
column4 double_ele[2, 5]
row 6double_ele[1, 3]
column7 double_ele[1, 3]
box9 triple_ele[1, 2, 9]
count-47105
total-47107
count-47106
total-47108
count-47107
total-47109
row 7double_ele[2, 5]
column7 double_ele[2, 5]
row 9double_ele[2, 5]
count-47108
total-47110
count-47109
total-47111
count-47110
total-47112
count-47111
total-47113
count-47112
total-47114
row 1double_ele[1, 4]
count-47113
total-47115
count-47114
total-47116
count-47115
total-47117
column3 double_ele[2, 5]
count-47116
total-47118
count-47117
total-47119
row 4double_ele[1, 7]
column6 double_ele[1, 7]
column7 double_ele[1, 4]
count-47118
total-47120
count-47119
total-47121
row 1double_ele[2, 4]
count-47120
total-47122
column1 double_ele[1, 3]
row 4double_ele[1, 3]
count-47121
total-47123
count-47122
total-47124
count-47123
total-47125
count-47124
total-47126
column1 double_ele[2, 5]
row 8double_ele[2, 5]
count-47125
total-47127
count-47126
total-47128
count-47127
total-47129
count-47128
total-47130
count-47129
total-47131
count-47130
total-47132
count-47131
total-47133
count-47132
total-47134
count-47133
total-47135
count-47134
total-47136
count-47135
total-47137
count-47136
total-47138
count-47137
total-47139
count-47138
total-47140
column9 double_ele[1, 3]
count-47139
total-47141
count-47140
total-47142
count-47141
total-47143
count-47142
total-47144
count-47143
total-47145
count-47144
total-47146
count-47145
total-47147
count-47146
total-47148
count-47147
total-47149
count-47148
total-47150
count-47149
total-47151
count-47150
total-47152
count-47151
total-47153
count-47152
total-47154
count-47153
total-47155
count-47154
total-47156
count-47155
total-47157
column1 double_ele[1, 7]
column6 double_ele[1, 3]
row 9double_ele[5, 6]
count-47156
total-47158
count-47157
total-47159
count-47158
total-47160
count-47159
total-47161
count-47160
total-47162
count-47161
total-47163
count-47162
total-47164
count-47163
total-47165
count-47164
total-47166
count-47165
total-47167
count-47166
total-47168
count-47167
total-47169
count-47168
total-47170
column5 double_ele[3, 8]
row 9double_ele[4, 9]
count-47169
total-47171
count-47170
total-47172
count-47171
total-47173
count-47172
total-47174
count-47173
total-47175
count-47174
total-47176
count-47175
total-47177
count-47176
total-47178
count-47177
total-47179
count-47178
total-47180
count-47179
total-47181
count-47180
total-47182
count-47181
total-47183
count-47182
total-47184
row 1double_ele[3, 5]
row 3double_ele[5, 7]
column5 double_ele[5, 7]
row 7double_ele[3, 8]
column8 double_ele[3, 5]
count-47183
total-47185
count-47184
total-47186
count-47185
total-47187
count-47186
total-47188
count-47187
total-47189
column9 double_ele[1, 5]
count-47188
total-47190
count-47189
total-47191
row 2double_ele[3, 7]
column2 double_ele[3, 7]
count-47190
total-47192
count-47191
total-47193
count-47192
total-47194
count-47193
total-47195
count-47194
total-47196
count-47195
total-47197
count-47196
total-47198
count-47197
total-47199
count-47198
total-47200
count-47199
total-47201
column2 double_ele[2, 4]
row 3double_ele[2, 3]
column6 double_ele[2, 3]
count-47200
total-47202
count-47201
total-47203
count-47202
total-47204
count-47203
total-47205
count-47204
total-47206
count-47205
total-47207
count-47206
total-47208
count-47207
total-47209
count-47208
total-47210
count-47209
total-47211
count-47210
total-47212
count-47211
total-47213
column2 double_ele[1, 8]
count-47212
total-47214
count-47213
total-47215
count-47214
total-47216
count-47215
total-47217
count-47216
total-47218
count-47217
total-47219
column1 double_ele[5, 7]
column8 double_ele[1, 7]
count-47218
total-47220
count-47219
total-47221
count-47220
total-47222
count-47221
total-47223
count-47222
total-47224
count-47223
total-47225
count-47224
total-47226
row 9double_ele[1, 2]
count-47225
total-47227
count-47226
total-47228
count-47227
total-47229
count-47228
total-47230
row 2double_ele[2, 7]
column4 double_ele[2, 7]
row 5double_ele[1, 8]
row 7double_ele[2, 7]
box9 triple_ele[1, 2, 7]
count-47229
total-47231
count-47230
total-47232
count-47231
total-47233
count-47232
total-47234
count-47233
total-47235
row 3double_ele[2, 4]
row 9double_ele[4, 5]
count-47234
total-47236
count-47235
total-47237
count-47236
total-47238
count-47237
total-47239
count-47238
total-47240
count-47239
total-47241
count-47240
total-47242
count-47241
total-47243
count-47242
total-47244
count-47243
total-47245
count-47244
total-47246
count-47245
total-47247
count-47246
total-47248
count-47247
total-47249
count-47248
total-47250
row 3double_ele[2, 3]
column6 double_ele[2, 3]
count-47249
total-47251
count-47250
total-47252
count-47251
total-47253
count-47252
total-47254
count-47253
total-47255
count-47254
total-47256
count-47255
total-47257
count-47256
total-47258
count-47257
total-47259
count-47258
total-47260
count-47259
total-47261
count-47260
total-47262
count-47261
total-47263
count-47262
total-47264
count-47263
total-47265
count-47264
total-47266
count-47265
total-47267
box3 triple_ele[1, 2, 4]
count-47266
total-47268
count-47267
total-47269
count-47268
total-47270
count-47269
total-47271
count-47270
total-47272
count-47271
total-47273
count-47272
total-47274
count-47273
total-47275
count-47274
total-47276
count-47275
total-47277
count-47276
total-47278
count-47277
total-47279
count-47278
total-47280
count-47279
total-47281
count-47280
total-47282
count-47281
total-47283
count-47282
total-47284
count-47283
total-47285
count-47284
total-47286
count-47285
total-47287
count-47286
total-47288
count-47287
total-47289
row 4double_ele[1, 2]
count-47288
total-47290
count-47289
total-47291
column2 double_ele[2, 3]
count-47290
total-47292
count-47291
total-47293
count-47292
total-47294
count-47293
total-47295
count-47294
total-47296
count-47295
total-47297
count-47296
total-47298
count-47297
total-47299
count-47298
total-47300
count-47299
total-47301
count-47300
total-47302
count-47301
total-47303
count-47302
total-47304
count-47303
total-47305
count-47304
total-47306
count-47305
total-47307
count-47306
total-47308
count-47307
total-47309
count-47308
total-47310
count-47309
total-47311
count-47310
total-47312
count-47311
total-47313
count-47312
total-47314
count-47313
total-47315
count-47314
total-47316
count-47315
total-47317
count-47316
total-47318
count-47317
total-47319
count-47318
total-47320
column9 double_ele[1, 3]
count-47319
total-47321
count-47320
total-47322
count-47321
total-47323
count-47322
total-47324
count-47323
total-47325
count-47324
total-47326
count-47325
total-47327
row 9double_ele[1, 2]
count-47326
total-47328
count-47327
total-47329

count-47328
total-47330
count-47329
total-47331
count-47330
total-47332
count-47331
total-47333
count-47332
total-47334
count-47333
total-47335
count-47334
total-47336
count-47335
total-47337
count-47336
total-47338
count-47337
total-47339
count-47338
total-47340
count-47339
total-47341
column7 double_ele[2, 5]
row 9double_ele[2, 5]
count-47340
total-47342
count-47341
total-47343
count-47342
total-47344
count-47343
total-47345
count-47344
total-47346
row 5double_ele[3, 4]
column5 double_ele[3, 4]
column6 double_ele[3, 4]
row 8double_ele[3, 4]
count-47345
total-47347
count-47346
total-47348
count-47347
total-47349
count-47348
total-47350
row 8double_ele[2, 6]
count-47349
total-47351
count-47350
total-47352
count-47351
total-47353
count-47352
total-47354
count-47353
total-47355
count-47354
total-47356
count-47355
total-47357
count-47356
total-47358
count-47357
total-47359
count-47358
total-47360
count-47359
total-47361
count-47360
total-47362
count-47361
total-47363
count-47362
total-47364
count-47363
total-47365
count-47364
total-47366
count-47365
total-47367
count-47366
total-47368
count-47367
total-47369
count-47368
total-47370
count-47369
total-47371
count-47370
total-47372
count-47371
total-47373
column2 double_ele[4, 5]
count-47372
total-47374
count-47373
total-47375
count-47374
total-47376
count-47375
total-47377
count-47376
total-47378
count-47377
total-47379
count-47378
total-47380
count-47379
total-47381
count-47380
total-47382
count-47381
total-47383
count-47382
total-47384
count-47383
total-47385
count-47384
total-47386
count-47385
total-47387
count-47386
total-47388
count-47387
total-47389
count-47388
total-47390
count-47389
total-47391
count-47390
total-47392
count-47391
total-47393
count-47392
total-47394
count-47393
total-47395
row 6double_ele[4, 5]
count-47394
total-47396
count-47395
total-47397
count-47396
total-47398
count-47397
total-47399
count-47398
total-47400
count-47399
total-47401
count-47400
total-47402
count-47401
total-47403
count-47402
total-47404
count-47403
total-47405
count-47404
total-47406
count-47405
total-47407
count-47406
total-47408
count-47407
total-47409
count-47408
total-47410
count-47409
total-47411
count-47410
total-47412
count-47411
total-47413
count-47412
total-47414
count-47413
total-47415
count-47414
total-47416
count-47415
total-47417
count-47416
total-47418
count-47417
total-47419
count-47418
total-47420
count-47419
total-47421
count-47420
total-47422
count-47421
total-47423
count-47422
total-47424
count-47423
total-47425
count-47424
total-47426
count-47425
total-47427
count-47426
total-47428
count-47427
total-47429
count-47428
total-47430
row 5double_ele[4, 5]
count-47429
total-47431
count-47430
total-47432
count-47431
total-47433
column7 double_ele[3, 6]
count-47432
total-47434
count-47433
total-47435
count-47434
total-47436
count-47435
total-47437
row 7double_ele[3, 5]
count-47436
total-47438
count-47437
total-47439
row 5double_ele[2, 4]
count-47438
total-47440
count-47439
total-47441
column9 double_ele[3, 8]
count-47440
total-47442
count-47441
total-47443
count-47442
total-47444
count-47443
total-47445
count-47444
total-47446
row 1double_ele[1, 3]
count-47445
total-47447
count-47446
total-47448
count-47447
total-47449
row 1double_ele[1, 4]
count-47448
total-47450
count-47449
total-47451
count-47450
total-47452
count-47451
total-47453
column3 double_ele[4, 7]
count-47452
total-47454
column7 double_ele[3, 4]
count-47453
total-47455
count-47454
total-47456
count-47455
total-47457
count-47456
total-47458
count-47457
total-47459
row 5double_ele[1, 7]
row 8double_ele[1, 4]
column8 double_ele[1, 4]
count-47458
total-47460
count-47459
total-47461
count-47460
total-47462
count-47461
total-47463
column9 double_ele[1, 2]
count-47462
total-47464
count-47463
total-47465
count-47464
total-47466
count-47465
total-47467
count-47466
total-47468
count-47467
total-47469
count-47468
total-47470
count-47469
total-47471
count-47470
total-47472
count-47471
total-47473
count-47472
total-47474
count-47473
total-47475
count-47474
total-47476
count-47475
total-47477
count-47476
total-47478
count-47477
total-47479
count-47478
total-47480
count-47479
total-47481
count-47480
total-47482
count-47481
total-47483
count-47482
total-47484
count-47483
total-47485
count-47484
total-47486
column8 double_ele[2, 4]
count-47485
total-47487
count-47486
total-47488
count-47487
total-47489
count-47488
total-47490
count-47489
total-47491
count-47490
total-47492
count-47491
total-47493
count-47492
total-47494
row 9double_ele[2, 5]
count-47493
total-47495
count-47494
total-47496
count-47495
total-47497
count-47496
total-47498
count-47497
total-47499
count-47498
total-47500
count-47499
total-47501
count-47500
total-47502
count-47501
total-47503
count-47502
total-47504
count-47503
total-47505
count-47504
total-47506
count-47505
total-47507
count-47506
total-47508
count-47507
total-47509
count-47508
total-47510
count-47509
total-47511
count-47510
total-47512
count-47511
total-47513
column9 double_ele[2, 5]
count-47512
total-47514
count-47513
total-47515
count-47514
total-47516
count-47515
total-47517
count-47516
total-47518
count-47517
total-47519
count-47518
total-47520
count-47519
total-47521
count-47520
total-47522
column2 double_ele[4, 7]
count-47521
total-47523
count-47522
total-47524
count-47523
total-47525
count-47524
total-47526
count-47525
total-47527
count-47526
total-47528
count-47527
total-47529
row 2double_ele[1, 4]
count-47528
total-47530
row 3double_ele[4, 6]
count-47529
total-47531
count-47530
total-47532
count-47531
total-47533
count-47532
total-47534
count-47533
total-47535
count-47534
total-47536
row 1double_ele[3, 4]
count-47535
total-47537
count-47536
total-47538
count-47537
total-47539
count-47538
total-47540
count-47539
total-47541
count-47540
total-47542
count-47541
total-47543
count-47542
total-47544
column2 double_ele[3, 9]
count-47543
total-47545
count-47544
total-47546
count-47545
total-47547
count-47546
total-47548
count-47547
total-47549
count-47548
total-47550
count-47549
total-47551
column1 double_ele[1, 4]
count-47550
total-47552
count-47551
total-47553
count-47552
total-47554
column6 double_ele[2, 4]
count-47553
total-47555
count-47554
total-47556
count-47555
total-47557
count-47556
total-47558
count-47557
total-47559
count-47558
total-47560
column8 double_ele[1, 3]
count-47559
total-47561
count-47560
total-47562
row 8double_ele[2, 4]
count-47561
total-47563
count-47562
total-47564
row 7double_ele[1, 5]
count-47563
total-47565
column4 double_ele[1, 2]
column5 double_ele[1, 2]
row 9double_ele[1, 2]
count-47564
total-47566
count-47565
total-47567
count-47566
total-47568
count-47567
total-47569
count-47568
total-47570
count-47569
total-47571
count-47570
total-47572
count-47571
total-47573
count-47572
total-47574
count-47573
total-47575
count-47574
total-47576
count-47575
total-47577
count-47576
total-47578
count-47577
total-47579
count-47578
total-47580
count-47579
total-47581
count-47580
total-47582
count-47581
total-47583
count-47582
total-47584
count-47583
total-47585
count-47584
total-47586
count-47585
total-47587
count-47586
total-47588
count-47587
total-47589
column1 double_ele[2, 3]
count-47588
total-47590
count-47589
total-47591
count-47590
total-47592
count-47591
total-47593
count-47592
total-47594
count-47593
total-47595
count-47594
total-47596
count-47595
total-47597
count-47596
total-47598
column3 double_ele[1, 3]
count-47597
total-47599
count-47598
total-47600
count-47599
total-47601
count-47600
total-47602
count-47601
total-47603
count-47602
total-47604
count-47603
total-47605
count-47604
total-47606
count-47605
total-47607
count-47606
total-47608
count-47607
total-47609
count-47608
total-47610
count-47609
total-47611
count-47610
total-47612
count-47611
total-47613
count-47612
total-47614
column1 double_ele[1, 2]
count-47613
total-47615
count-47614
total-47616
count-47615
total-47617
row 1double_ele[1, 5]
count-47616
total-47618
column2 double_ele[2, 9]
row 3double_ele[3, 9]
row 9double_ele[2, 9]
count-47617
total-47619
count-47618
total-47620
count-47619
total-47621
count-47620
total-47622
count-47621
total-47623
count-47622
total-47624
count-47623
total-47625
count-47624
total-47626
count-47625
total-47627
count-47626
total-47628

count-47627
total-47629
count-47628
total-47630
count-47629
total-47631
count-47630
total-47632
count-47631
total-47633
count-47632
total-47634
count-47633
total-47635
count-47634
total-47636
column1 double_ele[5, 9]
row 2double_ele[4, 9]
row 8double_ele[2, 9]
count-47635
total-47637
count-47636
total-47638
count-47637
total-47639
count-47638
total-47640
count-47639
total-47641
row 1double_ele[3, 5]
count-47640
total-47642
count-47641
total-47643
count-47642
total-47644
count-47643
total-47645
count-47644
total-47646
count-47645
total-47647
count-47646
total-47648
count-47647
total-47649
count-47648
total-47650
count-47649
total-47651
count-47650
total-47652
count-47651
total-47653
count-47652
total-47654
count-47653
total-47655
count-47654
total-47656
count-47655
total-47657
count-47656
total-47658
row 3double_ele[1, 2]
count-47657
total-47659
count-47658
total-47660
count-47659
total-47661
count-47660
total-47662
count-47661
total-47663
row 5double_ele[1, 4]
column5 double_ele[1, 4]
count-47662
total-47664
count-47663
total-47665
column2 double_ele[2, 4]
row 8double_ele[2, 4]
count-47664
total-47666
count-47665
total-47667
count-47666
total-47668
count-47667
total-47669
count-47668
total-47670
count-47669
total-47671
row 6double_ele[1, 4]
column6 double_ele[1, 4]
column7 double_ele[2, 3]
count-47670
total-47672
count-47671
total-47673
count-47672
total-47674
count-47673
total-47675
row 6double_ele[2, 5]
count-47674
total-47676
count-47675
total-47677
count-47676
total-47678
count-47677
total-47679
count-47678
total-47680
count-47679
total-47681
column6 double_ele[3, 5]
count-47680
total-47682
count-47681
total-47683
count-47682
total-47684
count-47683
total-47685
count-47684
total-47686
count-47685
total-47687
count-47686
total-47688
count-47687
total-47689
count-47688
total-47690
count-47689
total-47691
count-47690
total-47692
count-47691
total-47693
count-47692
total-47694
count-47693
total-47695
row 3double_ele[1, 4]
column3 double_ele[1, 4]
count-47694
total-47696
count-47695
total-47697
count-47696
total-47698
count-47697
total-47699
count-47698
total-47700
count-47699
total-47701
count-47700
total-47702
count-47701
total-47703
count-47702
total-47704
count-47703
total-47705
count-47704
total-47706
count-47705
total-47707
column2 double_ele[4, 6]
count-47706
total-47708
row 2double_ele[3, 5]
row 9double_ele[3, 4]
column9 double_ele[3, 5]
column5 triple_ele[3, 4, 5]
count-47707
total-47709
box3 triple_ele[1, 2, 3]
count-47708
total-47710
count-47709
total-47711
count-47710
total-47712
count-47711
total-47713
row 2double_ele[3, 5]
column6 double_ele[3, 5]
count-47712
total-47714
count-47713
total-47715
row 7double_ele[1, 2]
count-47714
total-47716
count-47715
total-47717
count-47716
total-47718
count-47717
total-47719
count-47718
total-47720
count-47719
total-47721
count-47720
total-47722
count-47721
total-47723
count-47722
total-47724
count-47723
total-47725
count-47724
total-47726
count-47725
total-47727
count-47726
total-47728
count-47727
total-47729
column7 double_ele[1, 6]
count-47728
total-47730
count-47729
total-47731
count-47730
total-47732
count-47731
total-47733
count-47732
total-47734
count-47733
total-47735
count-47734
total-47736
count-47735
total-47737
count-47736
total-47738
count-47737
total-47739
count-47738
total-47740
column8 double_ele[2, 5]
row 9double_ele[2, 5]
count-47739
total-47741
count-47740
total-47742
count-47741
total-47743
count-47742
total-47744
count-47743
total-47745
count-47744
total-47746
count-47745
total-47747
count-47746
total-47748
count-47747
total-47749
count-47748
total-47750
count-47749
total-47751
count-47750
total-47752
row 4double_ele[1, 4]
row 5double_ele[1, 5]
row 6double_ele[1, 8]
column7 double_ele[1, 5]
count-47751
total-47753
count-47752
total-47754
count-47753
total-47755
count-47754
total-47756
count-47755
total-47757
count-47756
total-47758
count-47757
total-47759
count-47758
total-47760
count-47759
total-47761
count-47760
total-47762
row 3double_ele[6, 8]
column5 double_ele[6, 8]
column7 double_ele[6, 8]
count-47761
total-47763
column2 double_ele[1, 5]
count-47762
total-47764
count-47763
total-47765
column6 double_ele[1, 6]
row 9double_ele[1, 6]
count-47764
total-47766
count-47765
total-47767
count-47766
total-47768
count-47767
total-47769
count-47768
total-47770
count-47769
total-47771
count-47770
total-47772
count-47771
total-47773
count-47772
total-47774
count-47773
total-47775
column4 double_ele[4, 8]
column8 double_ele[4, 5]
count-47774
total-47776
count-47775
total-47777
count-47776
total-47778
count-47777
total-47779
count-47778
total-47780
count-47779
total-47781
column7 double_ele[1, 9]
count-47780
total-47782
count-47781
total-47783
count-47782
total-47784
column4 double_ele[2, 3]
column9 double_ele[3, 5]
count-47783
total-47785
column6 double_ele[3, 4]
row 3triple_ele[3, 4, 6]
count-47784
total-47786
count-47785
total-47787
count-47786
total-47788
row 8double_ele[3, 6]
count-47787
total-47789
count-47788
total-47790
count-47789
total-47791
count-47790
total-47792
count-47791
total-47793
count-47792
total-47794
count-47793
total-47795
count-47794
total-47796
count-47795
total-47797
column7 double_ele[1, 4]
count-47796
total-47798
count-47797
total-47799
count-47798
total-47800
count-47799
total-47801
count-47800
total-47802
count-47801
total-47803
count-47802
total-47804
count-47803
total-47805
row 6double_ele[5, 8]
count-47804
total-47806
count-47805
total-47807
count-47806
total-47808
row 4double_ele[2, 3]
count-47807
total-47809
count-47808
total-47810
count-47809
total-47811
count-47810
total-47812
count-47811
total-47813
count-47812
total-47814
count-47813
total-47815
count-47814
total-47816
count-47815
total-47817
count-47816
total-47818
count-47817
total-47819
count-47818
total-47820
count-47819
total-47821
count-47820
total-47822
count-47821
total-47823
count-47822
total-47824
count-47823
total-47825
count-47824
total-47826
box3 triple_ele[1, 3, 6]
count-47825
total-47827
count-47826
total-47828
count-47827
total-47829
count-47828
total-47830
count-47829
total-47831
count-47830
total-47832
count-47831
total-47833
count-47832
total-47834
count-47833
total-47835
count-47834
total-47836
row 2double_ele[2, 4]
column2 double_ele[5, 7]
column4 double_ele[2, 4]
row 5double_ele[2, 4]
count-47835
total-47837
row 9double_ele[1, 4]
count-47836
total-47838
count-47837
total-47839
count-47838
total-47840
count-47839
total-47841
column5 double_ele[1, 4]
count-47840
total-47842
count-47841
total-47843
count-47842
total-47844
count-47843
total-47845
count-47844
total-47846
count-47845
total-47847
count-47846
total-47848
count-47847
total-47849
count-47848
total-47850
count-47849
total-47851
count-47850
total-47852
count-47851
total-47853
count-47852
total-47854
count-47853
total-47855
count-47854
total-47856
count-47855
total-47857
column7 double_ele[2, 8]
count-47856
total-47858
count-47857
total-47859
count-47858
total-47860
count-47859
total-47861
count-47860
total-47862
count-47861
total-47863
count-47862
total-47864
count-47863
total-47865
count-47864
total-47866
count-47865
total-47867
count-47866
total-47868
count-47867
total-47869
count-47868
total-47870
count-47869
total-47871
count-47870
total-47872
count-47871
total-47873
count-47872
total-47874
row 2double_ele[3, 5]
column3 double_ele[3, 5]
column7 double_ele[1, 3]
count-47873
total-47875
column9 double_ele[3, 5]
count-47874
total-47876
count-47875
total-47877
count-47876
total-47878
count-47877
total-47879
count-47878
total-47880
count-47879
total-47881
column2 double_ele[2, 5]
column7 double_ele[2, 4]
row 8double_ele[2, 4]
count-47880
total-47882
count-47881
total-47883
row 1double_ele[1, 5]
column3 double_ele[1, 5]
count-47882
total-47884
count-47883
total-47885
count-47884
total-47886
count-47885
total-47887
count-47886
total-47888
count-47887
total-47889
count-47888
total-47890
count-47889
total-47891
count-47890
total-47892
count-47891
total-47893
count-47892
total-47894
count-47893
total-47895
count-47894
total-47896
count-47895
total-47897
column9 double_ele[1, 2]
count-47896
total-47898
count-47897
total-47899
count-47898
total-47900
count-47899
total-47901
count-47900
total-47902
count-47901
total-47903
count-47902
total-47904
count-47903
total-47905
column1 double_ele[4, 7]
count-47904
total-47906
count-47905
total-47907
count-47906
total-47908
count-47907
total-47909
count-47908
total-47910
count-47909
total-47911
row 5double_ele[1, 8]
column5 double_ele[4, 8]
row 9double_ele[4, 8]
count-47910
total-47912

count-47911
total-47913
count-47912
total-47914
row 4double_ele[1, 3]
column8 double_ele[1, 3]
count-47913
total-47915
count-47914
total-47916
count-47915
total-47917
count-47916
total-47918
count-47917
total-47919
count-47918
total-47920
count-47919
total-47921
count-47920
total-47922
count-47921
total-47923
count-47922
total-47924
count-47923
total-47925
count-47924
total-47926
column6 double_ele[5, 6]
row 7double_ele[1, 4]
count-47925
total-47927
count-47926
total-47928
count-47927
total-47929
count-47928
total-47930
count-47929
total-47931
count-47930
total-47932
count-47931
total-47933
count-47932
total-47934
count-47933
total-47935
row 3double_ele[1, 5]
column3 double_ele[1, 4]
row 8double_ele[1, 4]
row 9double_ele[1, 4]
count-47934
total-47936
count-47935
total-47937
column2 double_ele[1, 5]
row 5double_ele[3, 5]
column6 double_ele[3, 5]
row 7double_ele[1, 5]
count-47936
total-47938
column7 double_ele[3, 7]
count-47937
total-47939
row 3double_ele[1, 4]
count-47938
total-47940
count-47939
total-47941
count-47940
total-47942
count-47941
total-47943
count-47942
total-47944
count-47943
total-47945
count-47944
total-47946
count-47945
total-47947
count-47946
total-47948
count-47947
total-47949
count-47948
total-47950
count-47949
total-47951
count-47950
total-47952
count-47951
total-47953
count-47952
total-47954
count-47953
total-47955
count-47954
total-47956
count-47955
total-47957
count-47956
total-47958
count-47957
total-47959
row 8double_ele[1, 6]
count-47958
total-47960
count-47959
total-47961
count-47960
total-47962
count-47961
total-47963
count-47962
total-47964
count-47963
total-47965
count-47964
total-47966
count-47965
total-47967
row 1double_ele[3, 6]
column1 double_ele[3, 6]
column8 double_ele[3, 6]
count-47966
total-47968
count-47967
total-47969
column7 double_ele[2, 3]
count-47968
total-47970
count-47969
total-47971
count-47970
total-47972
count-47971
total-47973
count-47972
total-47974
count-47973
total-47975
count-47974
total-47976
count-47975
total-47977
count-47976
total-47978
count-47977
total-47979
row 1double_ele[3, 4]
row 3double_ele[4, 8]
row 4double_ele[3, 4]
column7 double_ele[3, 4]
row 9double_ele[1, 4]
column5 triple_ele[3, 4, 6]
box6 triple_ele[3, 4, 6]
count-47978
total-47980
column1 double_ele[1, 5]
count-47979
total-47981
count-47980
total-47982
count-47981
total-47983
count-47982
total-47984
column7 double_ele[1, 3]
count-47983
total-47985
column3 double_ele[3, 5]
row 6double_ele[3, 5]
column7 double_ele[1, 7]
row 8double_ele[1, 7]
count-47984
total-47986
count-47985
total-47987
count-47986
total-47988
count-47987
total-47989
count-47988
total-47990
row 8double_ele[1, 4]
count-47989
total-47991
row 5double_ele[1, 2]
row 9double_ele[1, 7]
count-47990
total-47992
count-47991
total-47993
count-47992
total-47994
count-47993
total-47995
count-47994
total-47996
count-47995
total-47997
count-47996
total-47998
count-47997
total-47999
count-47998
total-48000
count-47999
total-48001
row 2double_ele[1, 2]
count-48000
total-48002
count-48001
total-48003
count-48002
total-48004
count-48003
total-48005
count-48004
total-48006
row 6double_ele[1, 5]
count-48005
total-48007
count-48006
total-48008
row 2double_ele[1, 3]
count-48007
total-48009
count-48008
total-48010
count-48009
total-48011
row 5double_ele[5, 6]
column8 double_ele[1, 6]
count-48010
total-48012
count-48011
total-48013
count-48012
total-48014
count-48013
total-48015
count-48014
total-48016
count-48015
total-48017
count-48016
total-48018
count-48017
total-48019
count-48018
total-48020
count-48019
total-48021
count-48020
total-48022
count-48021
total-48023
count-48022
total-48024
count-48023
total-48025
count-48024
total-48026
count-48025
total-48027
count-48026
total-48028
count-48027
total-48029
count-48028
total-48030
count-48029
total-48031
count-48030
total-48032
count-48031
total-48033
count-48032
total-48034
column3 double_ele[1, 3]
count-48033
total-48035
count-48034
total-48036
count-48035
total-48037
count-48036
total-48038
count-48037
total-48039
count-48038
total-48040
count-48039
total-48041
count-48040
total-48042
count-48041
total-48043
row 2double_ele[2, 6]
column7 double_ele[1, 4]
count-48042
total-48044
count-48043
total-48045
count-48044
total-48046
count-48045
total-48047
column9 double_ele[5, 9]
count-48046
total-48048
count-48047
total-48049
count-48048
total-48050
count-48049
total-48051
count-48050
total-48052
count-48051
total-48053
count-48052
total-48054
count-48053
total-48055
count-48054
total-48056
count-48055
total-48057
count-48056
total-48058
count-48057
total-48059
count-48058
total-48060
column2 double_ele[3, 6]
count-48059
total-48061
count-48060
total-48062
count-48061
total-48063
count-48062
total-48064
count-48063
total-48065
count-48064
total-48066
row 1double_ele[1, 6]
count-48065
total-48067
count-48066
total-48068
count-48067
total-48069
count-48068
total-48070
count-48069
total-48071
count-48070
total-48072
count-48071
total-48073
count-48072
total-48074
count-48073
total-48075
count-48074
total-48076
count-48075
total-48077
count-48076
total-48078
count-48077
total-48079
count-48078
total-48080
count-48079
total-48081
count-48080
total-48082
count-48081
total-48083
count-48082
total-48084
count-48083
total-48085
count-48084
total-48086
count-48085
total-48087
count-48086
total-48088
column4 double_ele[1, 6]
row 5double_ele[2, 8]
count-48087
total-48089
count-48088
total-48090
count-48089
total-48091
count-48090
total-48092
count-48091
total-48093
column4 double_ele[6, 7]
count-48092
total-48094
count-48093
total-48095
count-48094
total-48096
count-48095
total-48097
count-48096
total-48098
count-48097
total-48099
count-48098
total-48100
count-48099
total-48101
count-48100
total-48102
count-48101
total-48103
count-48102
total-48104
count-48103
total-48105
count-48104
total-48106
count-48105
total-48107
count-48106
total-48108
count-48107
total-48109
count-48108
total-48110
count-48109
total-48111
count-48110
total-48112
count-48111
total-48113
count-48112
total-48114
count-48113
total-48115
count-48114
total-48116
count-48115
total-48117
count-48116
total-48118
count-48117
total-48119
count-48118
total-48120
count-48119
total-48121
count-48120
total-48122
count-48121
total-48123
count-48122
total-48124
count-48123
total-48125
count-48124
total-48126
count-48125
total-48127
count-48126
total-48128
column1 double_ele[2, 7]
row 4double_ele[2, 7]
count-48127
total-48129
count-48128
total-48130
count-48129
total-48131
count-48130
total-48132
count-48131
total-48133
count-48132
total-48134
count-48133
total-48135
count-48134
total-48136
count-48135
total-48137
count-48136
total-48138
count-48137
total-48139
count-48138
total-48140
count-48139
total-48141
column4 double_ele[2, 9]
count-48140
total-48142
count-48141
total-48143
count-48142
total-48144
count-48143
total-48145
column4 double_ele[1, 2]
count-48144
total-48146
count-48145
total-48147
count-48146
total-48148
count-48147
total-48149
count-48148
total-48150
count-48149
total-48151
count-48150
total-48152
count-48151
total-48153
count-48152
total-48154
count-48153
total-48155
count-48154
total-48156
column5 double_ele[2, 3]
count-48155
total-48157
count-48156
total-48158
count-48157
total-48159
count-48158
total-48160
count-48159
total-48161
count-48160
total-48162
count-48161
total-48163
count-48162
total-48164
count-48163
total-48165
count-48164
total-48166
count-48165
total-48167
count-48166
total-48168
count-48167
total-48169
count-48168
total-48170
count-48169
total-48171
count-48170
total-48172
column4 double_ele[3, 5]
count-48171
total-48173
count-48172
total-48174
count-48173
total-48175
column7 double_ele[2, 7]
count-48174
total-48176
count-48175
total-48177
count-48176
total-48178
count-48177
total-48179
count-48178
total-48180
count-48179
total-48181
count-48180
total-48182
count-48181
total-48183
count-48182
total-48184
count-48183
total-48185
count-48184
total-48186
count-48185
total-48187
row 9double_ele[1, 2]
column9 double_ele[1, 2]
count-48186
total-48188
count-48187
total-48189
count-48188
total-48190
count-48189
total-48191
count-48190
total-48192
column5 double_ele[3, 5]
count-48191
total-48193
count-48192
total-48194
count-48193
total-48195
count-48194
total-48196
count-48195
total-48197
count-48196
total-48198
count-48197
total-48199
count-48198
total-48200
count-48199
total-48201

count-48200
total-48202
count-48201
total-48203
count-48202
total-48204
count-48203
total-48205
count-48204
total-48206
count-48205
total-48207
column4 double_ele[2, 3]
column5 double_ele[1, 3]
row 6double_ele[2, 3]
count-48206
total-48208
count-48207
total-48209
column1 double_ele[1, 6]
row 2double_ele[1, 6]
count-48208
total-48210
count-48209
total-48211
count-48210
total-48212
count-48211
total-48213
count-48212
total-48214
count-48213
total-48215
count-48214
total-48216
count-48215
total-48217
count-48216
total-48218
count-48217
total-48219
column9 double_ele[1, 6]
count-48218
total-48220
count-48219
total-48221
count-48220
total-48222
count-48221
total-48223
count-48222
total-48224
count-48223
total-48225
count-48224
total-48226
count-48225
total-48227
count-48226
total-48228
count-48227
total-48229
count-48228
total-48230
count-48229
total-48231
count-48230
total-48232
column7 double_ele[3, 4]
count-48231
total-48233
count-48232
total-48234
count-48233
total-48235
count-48234
total-48236
count-48235
total-48237
count-48236
total-48238
count-48237
total-48239
count-48238
total-48240
count-48239
total-48241
count-48240
total-48242
count-48241
total-48243
count-48242
total-48244
count-48243
total-48245
count-48244
total-48246
count-48245
total-48247
count-48246
total-48248
count-48247
total-48249
count-48248
total-48250
count-48249
total-48251
count-48250
total-48252
count-48251
total-48253
count-48252
total-48254
count-48253
total-48255
count-48254
total-48256
count-48255
total-48257
count-48256
total-48258
count-48257
total-48259
count-48258
total-48260
count-48259
total-48261
count-48260
total-48262
count-48261
total-48263
count-48262
total-48264
count-48263
total-48265
count-48264
total-48266
count-48265
total-48267
count-48266
total-48268
count-48267
total-48269
count-48268
total-48270
column6 double_ele[2, 3]
count-48269
total-48271
count-48270
total-48272
count-48271
total-48273
count-48272
total-48274
count-48273
total-48275
count-48274
total-48276
count-48275
total-48277
count-48276
total-48278
count-48277
total-48279
count-48278
total-48280
count-48279
total-48281
count-48280
total-48282
count-48281
total-48283
count-48282
total-48284
row 9double_ele[2, 3]
count-48283
total-48285
count-48284
total-48286
count-48285
total-48287
count-48286
total-48288
count-48287
total-48289
count-48288
total-48290
count-48289
total-48291
count-48290
total-48292
count-48291
total-48293
row 7double_ele[2, 6]
count-48292
total-48294
count-48293
total-48295
count-48294
total-48296
count-48295
total-48297
count-48296
total-48298
count-48297
total-48299
count-48298
total-48300
count-48299
total-48301
count-48300
total-48302
count-48301
total-48303
count-48302
total-48304
count-48303
total-48305
count-48304
total-48306
count-48305
total-48307
count-48306
total-48308
count-48307
total-48309
count-48308
total-48310
count-48309
total-48311
count-48310
total-48312
count-48311
total-48313
count-48312
total-48314
count-48313
total-48315
count-48314
total-48316
count-48315
total-48317
count-48316
total-48318
count-48317
total-48319
count-48318
total-48320
row 1double_ele[1, 7]
column4 double_ele[1, 7]
column6 double_ele[1, 7]
row 7triple_ele[1, 4, 7]
count-48319
total-48321
count-48320
total-48322
count-48321
total-48323
count-48322
total-48324
column7 double_ele[1, 5]
count-48323
total-48325
count-48324
total-48326
column2 double_ele[1, 5]
count-48325
total-48327
count-48326
total-48328
column2 double_ele[1, 7]
count-48327
total-48329
row 3double_ele[1, 7]
column7 double_ele[1, 7]
count-48328
total-48330
count-48329
total-48331
count-48330
total-48332
count-48331
total-48333
count-48332
total-48334
count-48333
total-48335
count-48334
total-48336
count-48335
total-48337
count-48336
total-48338
count-48337
total-48339
count-48338
total-48340
count-48339
total-48341
count-48340
total-48342
count-48341
total-48343
count-48342
total-48344
count-48343
total-48345
count-48344
total-48346
count-48345
total-48347
count-48346
total-48348
count-48347
total-48349
count-48348
total-48350
count-48349
total-48351
count-48350
total-48352
count-48351
total-48353
count-48352
total-48354
count-48353
total-48355
count-48354
total-48356
count-48355
total-48357
column6 double_ele[2, 8]
count-48356
total-48358
count-48357
total-48359
count-48358
total-48360
count-48359
total-48361
count-48360
total-48362
count-48361
total-48363
count-48362
total-48364
count-48363
total-48365
row 4double_ele[2, 4]
count-48364
total-48366
count-48365
total-48367
count-48366
total-48368
row 9double_ele[1, 2]
count-48367
total-48369
count-48368
total-48370
count-48369
total-48371
count-48370
total-48372
count-48371
total-48373
row 2double_ele[2, 7]
column2 double_ele[2, 7]
count-48372
total-48374
column6 double_ele[1, 2]
count-48373
total-48375
row 5double_ele[1, 6]
count-48374
total-48376
count-48375
total-48377
count-48376
total-48378
count-48377
total-48379
count-48378
total-48380
count-48379
total-48381
row 1double_ele[6, 7]
row 9double_ele[1, 7]
count-48380
total-48382
count-48381
total-48383
count-48382
total-48384
row 7double_ele[1, 4]
count-48383
total-48385
count-48384
total-48386
count-48385
total-48387
count-48386
total-48388
count-48387
total-48389
count-48388
total-48390
count-48389
total-48391
count-48390
total-48392
count-48391
total-48393
count-48392
total-48394
count-48393
total-48395
count-48394
total-48396
count-48395
total-48397
count-48396
total-48398
count-48397
total-48399
count-48398
total-48400
count-48399
total-48401
column1 double_ele[1, 4]
row 2double_ele[1, 4]
count-48400
total-48402
count-48401
total-48403
count-48402
total-48404
count-48403
total-48405
count-48404
total-48406
count-48405
total-48407
count-48406
total-48408
count-48407
total-48409
count-48408
total-48410
count-48409
total-48411
count-48410
total-48412
count-48411
total-48413
count-48412
total-48414
count-48413
total-48415
count-48414
total-48416
count-48415
total-48417
row 2double_ele[4, 6]
row 6double_ele[4, 6]
column7 double_ele[4, 6]
count-48416
total-48418
count-48417
total-48419
count-48418
total-48420
count-48419
total-48421
count-48420
total-48422
count-48421
total-48423
count-48422
total-48424
count-48423
total-48425
count-48424
total-48426
count-48425
total-48427
count-48426
total-48428
count-48427
total-48429
count-48428
total-48430
count-48429
total-48431
count-48430
total-48432
count-48431
total-48433
count-48432
total-48434
count-48433
total-48435
count-48434
total-48436
count-48435
total-48437
count-48436
total-48438
count-48437
total-48439
count-48438
total-48440
count-48439
total-48441
count-48440
total-48442
row 1double_ele[3, 6]
count-48441
total-48443
count-48442
total-48444
count-48443
total-48445
count-48444
total-48446
count-48445
total-48447
row 3double_ele[1, 5]
column3 double_ele[1, 5]
count-48446
total-48448
count-48447
total-48449
count-48448
total-48450
count-48449
total-48451
count-48450
total-48452
count-48451
total-48453
count-48452
total-48454
count-48453
total-48455
count-48454
total-48456
count-48455
total-48457
count-48456
total-48458
count-48457
total-48459
count-48458
total-48460
count-48459
total-48461
count-48460
total-48462
count-48461
total-48463
count-48462
total-48464
column9 double_ele[1, 7]
count-48463
total-48465
count-48464
total-48466
count-48465
total-48467
count-48466
total-48468
count-48467
total-48469
count-48468
total-48470
column3 double_ele[3, 4]
count-48469
total-48471
count-48470
total-48472
count-48471
total-48473
count-48472
total-48474
count-48473
total-48475
count-48474
total-48476
count-48475
total-48477
column7 double_ele[4, 5]
count-48476
total-48478
count-48477
total-48479
count-48478
total-48480
count-48479
total-48481
count-48480
total-48482
column1 double_ele[1, 6]
column5 double_ele[2, 6]
count-48481
total-48483
count-48482
total-48484
count-48483
total-48485
row 9double_ele[2, 7]
count-48484
total-48486
count-48485
total-48487
count-48486
total-48488
count-48487
total-48489
count-48488
total-48490
row 6double_ele[3, 4]
box6 triple_ele[3, 4, 7]
count-48489
total-48491
count-48490
total-48492
row 4double_ele[1, 3]
count-48491
total-48493
count-48492
total-48494
count-48493
total-48495
count-48494
total-48496
count-48495
total-48497
count-48496
total-48498
count-48497
total-48499
count-48498
total-48500
column9 double_ele[3, 9]
count-48499
total-48501
count-48500
total-48502
count-48501
total-48503
column7 double_ele[1, 2]
count-48502
total-48504
column6 double_ele[3, 5]
count-48503
total-48505
count-48504
total-48506
count-48505
total-48507

count-48506
total-48508
count-48507
total-48509
count-48508
total-48510
count-48509
total-48511
count-48510
total-48512
count-48511
total-48513
count-48512
total-48514
count-48513
total-48515
count-48514
total-48516
count-48515
total-48517
row 1double_ele[1, 3]
column3 double_ele[1, 3]
count-48516
total-48518
count-48517
total-48519
count-48518
total-48520
row 6double_ele[3, 4]
column9 double_ele[3, 4]
count-48519
total-48521
count-48520
total-48522
count-48521
total-48523
count-48522
total-48524
row 3double_ele[3, 8]
row 4double_ele[1, 3]
column4 double_ele[1, 3]
count-48523
total-48525
count-48524
total-48526
count-48525
total-48527
count-48526
total-48528
count-48527
total-48529
count-48528
total-48530
count-48529
total-48531
count-48530
total-48532
count-48531
total-48533
count-48532
total-48534
count-48533
total-48535
count-48534
total-48536
count-48535
total-48537
column6 double_ele[1, 6]
count-48536
total-48538
count-48537
total-48539
count-48538
total-48540
count-48539
total-48541
count-48540
total-48542
count-48541
total-48543
count-48542
total-48544
count-48543
total-48545
row 3double_ele[2, 4]
count-48544
total-48546
count-48545
total-48547
count-48546
total-48548
count-48547
total-48549
count-48548
total-48550
count-48549
total-48551
count-48550
total-48552
count-48551
total-48553
count-48552
total-48554
count-48553
total-48555
count-48554
total-48556
count-48555
total-48557
count-48556
total-48558
count-48557
total-48559
count-48558
total-48560
count-48559
total-48561
count-48560
total-48562
count-48561
total-48563
count-48562
total-48564
count-48563
total-48565
count-48564
total-48566
count-48565
total-48567
row 1double_ele[2, 5]
row 3double_ele[2, 5]
column6 double_ele[2, 5]
count-48566
total-48568
count-48567
total-48569
count-48568
total-48570
count-48569
total-48571
count-48570
total-48572
count-48571
total-48573
column3 double_ele[2, 6]
count-48572
total-48574
count-48573
total-48575
count-48574
total-48576
row 1double_ele[1, 5]
count-48575
total-48577
count-48576
total-48578
count-48577
total-48579
count-48578
total-48580
row 3double_ele[3, 4]
count-48579
total-48581
count-48580
total-48582
count-48581
total-48583
count-48582
total-48584
count-48583
total-48585
column4 double_ele[3, 4]
row 9double_ele[3, 4]
count-48584
total-48586
count-48585
total-48587
count-48586
total-48588
count-48587
total-48589
column3 double_ele[3, 5]
column6 double_ele[5, 6]
count-48588
total-48590
count-48589
total-48591
count-48590
total-48592
column5 double_ele[1, 3]
row 7double_ele[1, 3]
count-48591
total-48593
count-48592
total-48594
row 7double_ele[1, 9]
count-48593
total-48595
count-48594
total-48596
count-48595
total-48597
count-48596
total-48598
column8 double_ele[3, 5]
count-48597
total-48599
count-48598
total-48600
count-48599
total-48601
count-48600
total-48602
count-48601
total-48603
count-48602
total-48604
count-48603
total-48605
count-48604
total-48606
count-48605
total-48607
count-48606
total-48608
count-48607
total-48609
row 3double_ele[3, 6]
count-48608
total-48610
count-48609
total-48611
count-48610
total-48612
count-48611
total-48613
count-48612
total-48614
count-48613
total-48615
row 4double_ele[2, 4]
count-48614
total-48616
count-48615
total-48617
count-48616
total-48618
count-48617
total-48619
count-48618
total-48620
count-48619
total-48621
row 6double_ele[1, 2]
count-48620
total-48622
count-48621
total-48623
count-48622
total-48624
count-48623
total-48625
count-48624
total-48626
count-48625
total-48627
count-48626
total-48628
count-48627
total-48629
count-48628
total-48630
count-48629
total-48631
count-48630
total-48632
count-48631
total-48633
count-48632
total-48634
count-48633
total-48635
row 7double_ele[1, 3]
count-48634
total-48636
count-48635
total-48637
column8 double_ele[4, 9]
count-48636
total-48638
count-48637
total-48639
count-48638
total-48640
count-48639
total-48641
count-48640
total-48642
count-48641
total-48643
count-48642
total-48644
count-48643
total-48645
count-48644
total-48646
count-48645
total-48647
count-48646
total-48648
count-48647
total-48649
count-48648
total-48650
count-48649
total-48651
count-48650
total-48652
count-48651
total-48653
count-48652
total-48654
count-48653
total-48655
count-48654
total-48656
count-48655
total-48657
count-48656
total-48658
count-48657
total-48659
count-48658
total-48660
count-48659
total-48661
count-48660
total-48662
count-48661
total-48663
count-48662
total-48664
count-48663
total-48665
count-48664
total-48666
count-48665
total-48667
count-48666
total-48668
count-48667
total-48669
count-48668
total-48670
count-48669
total-48671
count-48670
total-48672
count-48671
total-48673
count-48672
total-48674
count-48673
total-48675
count-48674
total-48676
count-48675
total-48677
count-48676
total-48678
count-48677
total-48679
count-48678
total-48680
count-48679
total-48681
count-48680
total-48682
row 9double_ele[6, 9]
count-48681
total-48683
count-48682
total-48684
count-48683
total-48685
count-48684
total-48686
count-48685
total-48687
count-48686
total-48688
count-48687
total-48689
count-48688
total-48690
row 3double_ele[3, 6]
row 8double_ele[1, 3]
count-48689
total-48691
count-48690
total-48692
count-48691
total-48693
count-48692
total-48694
count-48693
total-48695
count-48694
total-48696
row 7double_ele[2, 6]
row 1triple_ele[1, 5, 6]
count-48695
total-48697
count-48696
total-48698
count-48697
total-48699
count-48698
total-48700
count-48699
total-48701
count-48700
total-48702
column1 double_ele[1, 5]
count-48701
total-48703
count-48702
total-48704
count-48703
total-48705
count-48704
total-48706
count-48705
total-48707
count-48706
total-48708
count-48707
total-48709
count-48708
total-48710
column3 double_ele[3, 4]
row 4double_ele[1, 5]
count-48709
total-48711
count-48710
total-48712
count-48711
total-48713
count-48712
total-48714
count-48713
total-48715
count-48714
total-48716
count-48715
total-48717
count-48716
total-48718
count-48717
total-48719
column2 double_ele[1, 5]
row 6double_ele[1, 5]
count-48718
total-48720
count-48719
total-48721
count-48720
total-48722
count-48721
total-48723
count-48722
total-48724
count-48723
total-48725
count-48724
total-48726
count-48725
total-48727
count-48726
total-48728
count-48727
total-48729
row 6double_ele[5, 6]
count-48728
total-48730
count-48729
total-48731
count-48730
total-48732
count-48731
total-48733
row 1double_ele[2, 3]
column2 double_ele[2, 3]
row 3double_ele[2, 3]
column4 double_ele[2, 3]
count-48732
total-48734
count-48733
total-48735
count-48734
total-48736
count-48735
total-48737
count-48736
total-48738
count-48737
total-48739
count-48738
total-48740
count-48739
total-48741
count-48740
total-48742
count-48741
total-48743
count-48742
total-48744
count-48743
total-48745
count-48744
total-48746
count-48745
total-48747
count-48746
total-48748
count-48747
total-48749
count-48748
total-48750
count-48749
total-48751
count-48750
total-48752
count-48751
total-48753
count-48752
total-48754
count-48753
total-48755
count-48754
total-48756
count-48755
total-48757
count-48756
total-48758
count-48757
total-48759
count-48758
total-48760
count-48759
total-48761
count-48760
total-48762
count-48761
total-48763
count-48762
total-48764
count-48763
total-48765
count-48764
total-48766
count-48765
total-48767
count-48766
total-48768
count-48767
total-48769
count-48768
total-48770
count-48769
total-48771
count-48770
total-48772
count-48771
total-48773
count-48772
total-48774
count-48773
total-48775
count-48774
total-48776
count-48775
total-48777
count-48776
total-48778
count-48777
total-48779
count-48778
total-48780
count-48779
total-48781
count-48780
total-48782
count-48781
total-48783
count-48782
total-48784
count-48783
total-48785
count-48784
total-48786
count-48785
total-48787
row 4double_ele[2, 4]
count-48786
total-48788
count-48787
total-48789
count-48788
total-48790
row 3double_ele[2, 5]
row 4double_ele[1, 7]
count-48789
total-48791
count-48790
total-48792
row 3double_ele[3, 4]
count-48791
total-48793
count-48792
total-48794
count-48793
total-48795
count-48794
total-48796
count-48795
total-48797
count-48796
total-48798
count-48797
total-48799
column2 double_ele[2, 4]
row 5double_ele[2, 4]
count-48798
total-48800
count-48799
total-48801
count-48800
total-48802
count-48801
total-48803
count-48802
total-48804
count-48803
total-48805
count-48804
total-48806
count-48805
total-48807
count-48806
total-48808
count-48807
total-48809
count-48808
total-48810
row 2double_ele[2, 7]
row 3double_ele[2, 7]
column4 double_ele[2, 7]
column7 double_ele[2, 8]
column8 double_ele[2, 7]
count-48809
total-48811
column3 double_ele[4, 5]
count-48810
total-48812
count-48811
total-48813
column6 double_ele[1, 3]
count-48812
total-48814
count-48813
total-48815
count-48814
total-48816
count-48815
total-48817

count-48816
total-48818
count-48817
total-48819
column1 double_ele[1, 7]
row 3double_ele[3, 4]
column4 double_ele[3, 4]
count-48818
total-48820
row 9double_ele[1, 4]
count-48819
total-48821
column1 double_ele[1, 3]
row 5double_ele[1, 3]
count-48820
total-48822
count-48821
total-48823
count-48822
total-48824
column2 double_ele[3, 5]
row 9double_ele[1, 8]
count-48823
total-48825
column5 double_ele[4, 5]
count-48824
total-48826
count-48825
total-48827
count-48826
total-48828
count-48827
total-48829
count-48828
total-48830
count-48829
total-48831
count-48830
total-48832
count-48831
total-48833
count-48832
total-48834
count-48833
total-48835
count-48834
total-48836
count-48835
total-48837
count-48836
total-48838
count-48837
total-48839
count-48838
total-48840
count-48839
total-48841
count-48840
total-48842
count-48841
total-48843
count-48842
total-48844
row 1double_ele[2, 4]
count-48843
total-48845
count-48844
total-48846
count-48845
total-48847
count-48846
total-48848
count-48847
total-48849
column9 double_ele[3, 4]
count-48848
total-48850
count-48849
total-48851
count-48850
total-48852
count-48851
total-48853
count-48852
total-48854
count-48853
total-48855
row 2double_ele[4, 5]
count-48854
total-48856
count-48855
total-48857
count-48856
total-48858
count-48857
total-48859
count-48858
total-48860
count-48859
total-48861
count-48860
total-48862
count-48861
total-48863
count-48862
total-48864
count-48863
total-48865
count-48864
total-48866
count-48865
total-48867
count-48866
total-48868
count-48867
total-48869
count-48868
total-48870
count-48869
total-48871
count-48870
total-48872
count-48871
total-48873
count-48872
total-48874
count-48873
total-48875
count-48874
total-48876
count-48875
total-48877
count-48876
total-48878
count-48877
total-48879
count-48878
total-48880
count-48879
total-48881
row 4double_ele[4, 5]
count-48880
total-48882
count-48881
total-48883
column2 double_ele[2, 9]
row 5double_ele[2, 9]
count-48882
total-48884
count-48883
total-48885
count-48884
total-48886
count-48885
total-48887
count-48886
total-48888
column9 double_ele[2, 3]
count-48887
total-48889
count-48888
total-48890
count-48889
total-48891
count-48890
total-48892
count-48891
total-48893
count-48892
total-48894
count-48893
total-48895
count-48894
total-48896
count-48895
total-48897
count-48896
total-48898
row 1double_ele[3, 6]
column4 double_ele[3, 6]
column8 double_ele[3, 6]
count-48897
total-48899
count-48898
total-48900
count-48899
total-48901
count-48900
total-48902
count-48901
total-48903
column9 double_ele[1, 4]
count-48902
total-48904
count-48903
total-48905
count-48904
total-48906
count-48905
total-48907
count-48906
total-48908
count-48907
total-48909
count-48908
total-48910
row 8double_ele[1, 4]
column8 double_ele[1, 4]
count-48909
total-48911
count-48910
total-48912
count-48911
total-48913
count-48912
total-48914
count-48913
total-48915
count-48914
total-48916
count-48915
total-48917
count-48916
total-48918
count-48917
total-48919
count-48918
total-48920
count-48919
total-48921
count-48920
total-48922
count-48921
total-48923
count-48922
total-48924
count-48923
total-48925
count-48924
total-48926
count-48925
total-48927
count-48926
total-48928
count-48927
total-48929
count-48928
total-48930
count-48929
total-48931
count-48930
total-48932
count-48931
total-48933
column3 double_ele[1, 7]
row 5double_ele[1, 7]
count-48932
total-48934
count-48933
total-48935
count-48934
total-48936
count-48935
total-48937
count-48936
total-48938
count-48937
total-48939
count-48938
total-48940
count-48939
total-48941
count-48940
total-48942
count-48941
total-48943
count-48942
total-48944
count-48943
total-48945
count-48944
total-48946
count-48945
total-48947
count-48946
total-48948
count-48947
total-48949
count-48948
total-48950
count-48949
total-48951
count-48950
total-48952
count-48951
total-48953
row 2double_ele[2, 4]
count-48952
total-48954
count-48953
total-48955
row 2double_ele[1, 5]
count-48954
total-48956
count-48955
total-48957
count-48956
total-48958
count-48957
total-48959
count-48958
total-48960
count-48959
total-48961
count-48960
total-48962
count-48961
total-48963
count-48962
total-48964
count-48963
total-48965
count-48964
total-48966
count-48965
total-48967
count-48966
total-48968
row 3double_ele[1, 6]
count-48967
total-48969
count-48968
total-48970
count-48969
total-48971
count-48970
total-48972
count-48971
total-48973
count-48972
total-48974
count-48973
total-48975
count-48974
total-48976
column2 double_ele[3, 6]
count-48975
total-48977
column4 double_ele[6, 7]
row 5double_ele[6, 7]
column9 double_ele[5, 6]
count-48976
total-48978
count-48977
total-48979
count-48978
total-48980
column3 double_ele[2, 8]
count-48979
total-48981
count-48980
total-48982
count-48981
total-48983
count-48982
total-48984
count-48983
total-48985
count-48984
total-48986
row 4double_ele[1, 5]
count-48985
total-48987
count-48986
total-48988
count-48987
total-48989
count-48988
total-48990
count-48989
total-48991
count-48990
total-48992
count-48991
total-48993
count-48992
total-48994
count-48993
total-48995
count-48994
total-48996
count-48995
total-48997
count-48996
total-48998
count-48997
total-48999
count-48998
total-49000
count-48999
total-49001
count-49000
total-49002
count-49001
total-49003
count-49002
total-49004
count-49003
total-49005
count-49004
total-49006
count-49005
total-49007
count-49006
total-49008
column3 double_ele[3, 8]
row 4double_ele[3, 4]
count-49007
total-49009
column5 double_ele[1, 5]
count-49008
total-49010
count-49009
total-49011
count-49010
total-49012
count-49011
total-49013
count-49012
total-49014
row 2double_ele[2, 3]
column5 double_ele[2, 3]
count-49013
total-49015
count-49014
total-49016
count-49015
total-49017
column3 double_ele[2, 4]
row 4double_ele[2, 4]
column4 double_ele[2, 4]
row 5double_ele[2, 4]
column7 double_ele[1, 7]
count-49016
total-49018
count-49017
total-49019
count-49018
total-49020
count-49019
total-49021
count-49020
total-49022
count-49021
total-49023
row 2double_ele[1, 6]
count-49022
total-49024
count-49023
total-49025
count-49024
total-49026
row 3double_ele[1, 5]
count-49025
total-49027
column2 double_ele[1, 2]
count-49026
total-49028
count-49027
total-49029
count-49028
total-49030
count-49029
total-49031
count-49030
total-49032
count-49031
total-49033
count-49032
total-49034
count-49033
total-49035
count-49034
total-49036
count-49035
total-49037
count-49036
total-49038
count-49037
total-49039
count-49038
total-49040
count-49039
total-49041
count-49040
total-49042
count-49041
total-49043
count-49042
total-49044
count-49043
total-49045
row 1double_ele[2, 3]
column5 double_ele[2, 3]
column7 double_ele[2, 3]
count-49044
total-49046
count-49045
total-49047
column3 double_ele[3, 6]
count-49046
total-49048
count-49047
total-49049
count-49048
total-49050
count-49049
total-49051
count-49050
total-49052
count-49051
total-49053
count-49052
total-49054
row 8double_ele[4, 7]
column9 double_ele[4, 7]
row 1triple_ele[2, 4, 7]
count-49053
total-49055
count-49054
total-49056
column2 double_ele[1, 2]
count-49055
total-49057
count-49056
total-49058
count-49057
total-49059
count-49058
total-49060
count-49059
total-49061
count-49060
total-49062
row 1double_ele[4, 6]
count-49061
total-49063
column7 double_ele[2, 5]
count-49062
total-49064
count-49063
total-49065
count-49064
total-49066
count-49065
total-49067
count-49066
total-49068
count-49067
total-49069
count-49068
total-49070
count-49069
total-49071
count-49070
total-49072
count-49071
total-49073
count-49072
total-49074
count-49073
total-49075
count-49074
total-49076
row 3double_ele[4, 5]
column6 double_ele[4, 5]
box3 triple_ele[2, 4, 5]
count-49075
total-49077
count-49076
total-49078
count-49077
total-49079
count-49078
total-49080
count-49079
total-49081
count-49080
total-49082
count-49081
total-49083
count-49082
total-49084
count-49083
total-49085
count-49084
total-49086
count-49085
total-49087
row 3double_ele[1, 8]
row 6double_ele[2, 8]
count-49086
total-49088
count-49087
total-49089
count-49088
total-49090
count-49089
total-49091
count-49090
total-49092
count-49091
total-49093
count-49092
total-49094
count-49093
total-49095
count-49094
total-49096
count-49095
total-49097
column1 double_ele[3, 4]
row 6double_ele[3, 4]
count-49096
total-49098
column4 double_ele[1, 2]
row 8double_ele[1, 2]
count-49097
total-49099
count-49098
total-49100

count-49099
total-49101
count-49100
total-49102
count-49101
total-49103
count-49102
total-49104
count-49103
total-49105
count-49104
total-49106
count-49105
total-49107
count-49106
total-49108
count-49107
total-49109
column1 double_ele[2, 4]
row 6double_ele[2, 4]
count-49108
total-49110
count-49109
total-49111
count-49110
total-49112
count-49111
total-49113
count-49112
total-49114
count-49113
total-49115
column9 double_ele[2, 5]
count-49114
total-49116
count-49115
total-49117
count-49116
total-49118
count-49117
total-49119
count-49118
total-49120
count-49119
total-49121
count-49120
total-49122
count-49121
total-49123
count-49122
total-49124
count-49123
total-49125
count-49124
total-49126
count-49125
total-49127
count-49126
total-49128
count-49127
total-49129
count-49128
total-49130
count-49129
total-49131
count-49130
total-49132
count-49131
total-49133
count-49132
total-49134
count-49133
total-49135
count-49134
total-49136
column4 double_ele[2, 6]
count-49135
total-49137
count-49136
total-49138
count-49137
total-49139
row 1double_ele[1, 7]
column6 double_ele[1, 7]
count-49138
total-49140
count-49139
total-49141
count-49140
total-49142
count-49141
total-49143
count-49142
total-49144
count-49143
total-49145
count-49144
total-49146
count-49145
total-49147
count-49146
total-49148
count-49147
total-49149
count-49148
total-49150
count-49149
total-49151
count-49150
total-49152
count-49151
total-49153
row 9double_ele[2, 5]
count-49152
total-49154
count-49153
total-49155
count-49154
total-49156
count-49155
total-49157
count-49156
total-49158
row 6double_ele[3, 7]
column7 double_ele[3, 7]
count-49157
total-49159
count-49158
total-49160
count-49159
total-49161
count-49160
total-49162
count-49161
total-49163
count-49162
total-49164
count-49163
total-49165
count-49164
total-49166
count-49165
total-49167
count-49166
total-49168
count-49167
total-49169
column1 double_ele[1, 2]
column9 double_ele[1, 3]
count-49168
total-49170
count-49169
total-49171
count-49170
total-49172
count-49171
total-49173
count-49172
total-49174
count-49173
total-49175
count-49174
total-49176
count-49175
total-49177
count-49176
total-49178
count-49177
total-49179
count-49178
total-49180
count-49179
total-49181
count-49180
total-49182
count-49181
total-49183
count-49182
total-49184
count-49183
total-49185
count-49184
total-49186
count-49185
total-49187
count-49186
total-49188
count-49187
total-49189
count-49188
total-49190
count-49189
total-49191
count-49190
total-49192
count-49191
total-49193
count-49192
total-49194
count-49193
total-49195
count-49194
total-49196
count-49195
total-49197
count-49196
total-49198
row 2double_ele[1, 6]
column7 double_ele[1, 6]
count-49197
total-49199
count-49198
total-49200
count-49199
total-49201
count-49200
total-49202
count-49201
total-49203
count-49202
total-49204
count-49203
total-49205
count-49204
total-49206
count-49205
total-49207
count-49206
total-49208
count-49207
total-49209
count-49208
total-49210
row 8double_ele[1, 6]
count-49209
total-49211
count-49210
total-49212
count-49211
total-49213
count-49212
total-49214
count-49213
total-49215
count-49214
total-49216
count-49215
total-49217
count-49216
total-49218
count-49217
total-49219
count-49218
total-49220
count-49219
total-49221
column3 double_ele[2, 3]
row 6double_ele[2, 3]
count-49220
total-49222
count-49221
total-49223
count-49222
total-49224
row 1double_ele[5, 8]
count-49223
total-49225
count-49224
total-49226
count-49225
total-49227
count-49226
total-49228
count-49227
total-49229
count-49228
total-49230
count-49229
total-49231
count-49230
total-49232
count-49231
total-49233
count-49232
total-49234
count-49233
total-49235
count-49234
total-49236
count-49235
total-49237
count-49236
total-49238
column8 double_ele[1, 6]
count-49237
total-49239
count-49238
total-49240
count-49239
total-49241
count-49240
total-49242
count-49241
total-49243
count-49242
total-49244
count-49243
total-49245
count-49244
total-49246
count-49245
total-49247
count-49246
total-49248
count-49247
total-49249
count-49248
total-49250
count-49249
total-49251
row 2double_ele[1, 3]
row 4double_ele[1, 3]
column7 double_ele[1, 3]
count-49250
total-49252
count-49251
total-49253
count-49252
total-49254
count-49253
total-49255
count-49254
total-49256
count-49255
total-49257
count-49256
total-49258
count-49257
total-49259
column6 double_ele[2, 5]
column7 double_ele[1, 4]
count-49258
total-49260
count-49259
total-49261
count-49260
total-49262
count-49261
total-49263
count-49262
total-49264
count-49263
total-49265
count-49264
total-49266
count-49265
total-49267
count-49266
total-49268
column1 double_ele[2, 7]
count-49267
total-49269
count-49268
total-49270
count-49269
total-49271
count-49270
total-49272
count-49271
total-49273
count-49272
total-49274
count-49273
total-49275
count-49274
total-49276
count-49275
total-49277
count-49276
total-49278
count-49277
total-49279
count-49278
total-49280
count-49279
total-49281
count-49280
total-49282
count-49281
total-49283
count-49282
total-49284
count-49283
total-49285
count-49284
total-49286
count-49285
total-49287
count-49286
total-49288
count-49287
total-49289
count-49288
total-49290
row 2double_ele[1, 8]
count-49289
total-49291
count-49290
total-49292
count-49291
total-49293
count-49292
total-49294
count-49293
total-49295
count-49294
total-49296
count-49295
total-49297
count-49296
total-49298
count-49297
total-49299
count-49298
total-49300
count-49299
total-49301
count-49300
total-49302
count-49301
total-49303
count-49302
total-49304
count-49303
total-49305
count-49304
total-49306
count-49305
total-49307
count-49306
total-49308
count-49307
total-49309
count-49308
total-49310
row 1double_ele[2, 6]
count-49309
total-49311
count-49310
total-49312
count-49311
total-49313
count-49312
total-49314
count-49313
total-49315
count-49314
total-49316
column2 double_ele[2, 4]
column8 double_ele[2, 3]
box6 triple_ele[2, 3, 4]
count-49315
total-49317
count-49316
total-49318
count-49317
total-49319
row 6double_ele[2, 4]
count-49318
total-49320
count-49319
total-49321
column2 double_ele[3, 7]
count-49320
total-49322
count-49321
total-49323
count-49322
total-49324
count-49323
total-49325
count-49324
total-49326
count-49325
total-49327
count-49326
total-49328
count-49327
total-49329
count-49328
total-49330
count-49329
total-49331
count-49330
total-49332
count-49331
total-49333
count-49332
total-49334
count-49333
total-49335
count-49334
total-49336
count-49335
total-49337
count-49336
total-49338
count-49337
total-49339
count-49338
total-49340
count-49339
total-49341
count-49340
total-49342
count-49341
total-49343
count-49342
total-49344
count-49343
total-49345
row 5double_ele[2, 8]
count-49344
total-49346
count-49345
total-49347
count-49346
total-49348
count-49347
total-49349
count-49348
total-49350
count-49349
total-49351
count-49350
total-49352
column3 double_ele[2, 9]
count-49351
total-49353
count-49352
total-49354
count-49353
total-49355
count-49354
total-49356
column2 double_ele[2, 3]
row 3double_ele[2, 3]
column5 double_ele[2, 4]
row 7double_ele[2, 4]
count-49355
total-49357
count-49356
total-49358
column4 double_ele[2, 4]
count-49357
total-49359
count-49358
total-49360
count-49359
total-49361
count-49360
total-49362
count-49361
total-49363
count-49362
total-49364
count-49363
total-49365
count-49364
total-49366
column4 double_ele[1, 3]
count-49365
total-49367
column6 double_ele[1, 3]
count-49366
total-49368
count-49367
total-49369
column5 double_ele[4, 5]
count-49368
total-49370
count-49369
total-49371
count-49370
total-49372
count-49371
total-49373
count-49372
total-49374
count-49373
total-49375
count-49374
total-49376
count-49375
total-49377
count-49376
total-49378
row 3double_ele[3, 5]
count-49377
total-49379
count-49378
total-49380
count-49379
total-49381
count-49380
total-49382
count-49381
total-49383
count-49382
total-49384
count-49383
total-49385
count-49384
total-49386
count-49385
total-49387
column5 double_ele[1, 6]
column6 double_ele[3, 7]
row 7double_ele[3, 7]
column7 double_ele[3, 7]
row 8double_ele[3, 7]
column8 double_ele[3, 6]
count-49386
total-49388
count-49387
total-49389
count-49388
total-49390
count-49389
total-49391
row 9double_ele[4, 5]
box9 triple_ele[2, 5, 6]
count-49390
total-49392
count-49391
total-49393
count-49392
total-49394
count-49393
total-49395
count-49394
total-49396
count-49395
total-49397
count-49396
total-49398
count-49397
total-49399

count-49398
total-49400
count-49399
total-49401
count-49400
total-49402
count-49401
total-49403
count-49402
total-49404
count-49403
total-49405
count-49404
total-49406
count-49405
total-49407
count-49406
total-49408
count-49407
total-49409
count-49408
total-49410
count-49409
total-49411
count-49410
total-49412
column2 double_ele[2, 8]
column7 double_ele[2, 4]
count-49411
total-49413
count-49412
total-49414
count-49413
total-49415
count-49414
total-49416
column1 double_ele[1, 5]
row 3double_ele[1, 5]
count-49415
total-49417
row 2double_ele[3, 6]
column6 double_ele[1, 7]
row 8double_ele[1, 7]
count-49416
total-49418
count-49417
total-49419
count-49418
total-49420
count-49419
total-49421
count-49420
total-49422
count-49421
total-49423
count-49422
total-49424
count-49423
total-49425
count-49424
total-49426
count-49425
total-49427
count-49426
total-49428
column5 double_ele[2, 3]
count-49427
total-49429
count-49428
total-49430
count-49429
total-49431
count-49430
total-49432
count-49431
total-49433
count-49432
total-49434
count-49433
total-49435
count-49434
total-49436
count-49435
total-49437
count-49436
total-49438
column6 double_ele[3, 5]
count-49437
total-49439
count-49438
total-49440
count-49439
total-49441
count-49440
total-49442
count-49441
total-49443
count-49442
total-49444
count-49443
total-49445
count-49444
total-49446
column5 double_ele[1, 5]
column7 double_ele[6, 8]
count-49445
total-49447
count-49446
total-49448
count-49447
total-49449
count-49448
total-49450
count-49449
total-49451
count-49450
total-49452
count-49451
total-49453
count-49452
total-49454
count-49453
total-49455
count-49454
total-49456
count-49455
total-49457
count-49456
total-49458
count-49457
total-49459
count-49458
total-49460
count-49459
total-49461
count-49460
total-49462
count-49461
total-49463
count-49462
total-49464
count-49463
total-49465
count-49464
total-49466
row 9double_ele[1, 6]
count-49465
total-49467
count-49466
total-49468
count-49467
total-49469
count-49468
total-49470
count-49469
total-49471
count-49470
total-49472
count-49471
total-49473
count-49472
total-49474
count-49473
total-49475
column2 double_ele[2, 9]
row 8double_ele[1, 2]
count-49474
total-49476
count-49475
total-49477
count-49476
total-49478
count-49477
total-49479
count-49478
total-49480
count-49479
total-49481
column7 double_ele[2, 4]
count-49480
total-49482
count-49481
total-49483
count-49482
total-49484
count-49483
total-49485
count-49484
total-49486
count-49485
total-49487
count-49486
total-49488
count-49487
total-49489
count-49488
total-49490
count-49489
total-49491
count-49490
total-49492
count-49491
total-49493
count-49492
total-49494
count-49493
total-49495
count-49494
total-49496
count-49495
total-49497
count-49496
total-49498
column1 double_ele[1, 4]
row 3double_ele[1, 4]
column3 double_ele[1, 4]
row 8double_ele[1, 4]
count-49497
total-49499
count-49498
total-49500
count-49499
total-49501
count-49500
total-49502
count-49501
total-49503
count-49502
total-49504
column2 double_ele[1, 3]
count-49503
total-49505
count-49504
total-49506
count-49505
total-49507
count-49506
total-49508
count-49507
total-49509
count-49508
total-49510
count-49509
total-49511
row 2double_ele[2, 4]
row 4double_ele[4, 6]
count-49510
total-49512
count-49511
total-49513
count-49512
total-49514
count-49513
total-49515
count-49514
total-49516
count-49515
total-49517
count-49516
total-49518
count-49517
total-49519
count-49518
total-49520
count-49519
total-49521
count-49520
total-49522
count-49521
total-49523
column9 double_ele[1, 2]
count-49522
total-49524
count-49523
total-49525
count-49524
total-49526
count-49525
total-49527
count-49526
total-49528
count-49527
total-49529
count-49528
total-49530
count-49529
total-49531
count-49530
total-49532
count-49531
total-49533
count-49532
total-49534
count-49533
total-49535
count-49534
total-49536
count-49535
total-49537
count-49536
total-49538
count-49537
total-49539
count-49538
total-49540
count-49539
total-49541
count-49540
total-49542
count-49541
total-49543
count-49542
total-49544
row 4double_ele[2, 3]
column4 double_ele[2, 3]
count-49543
total-49545
row 5double_ele[1, 2]
column5 double_ele[1, 4]
row 8double_ele[1, 4]
box9 triple_ele[1, 2, 4]
count-49544
total-49546
count-49545
total-49547
count-49546
total-49548
count-49547
total-49549
count-49548
total-49550
column3 double_ele[1, 4]
count-49549
total-49551
count-49550
total-49552
count-49551
total-49553
count-49552
total-49554
count-49553
total-49555
column3 double_ele[2, 5]
count-49554
total-49556
count-49555
total-49557
count-49556
total-49558
count-49557
total-49559
count-49558
total-49560
count-49559
total-49561
count-49560
total-49562
count-49561
total-49563
count-49562
total-49564
row 6double_ele[4, 7]
count-49563
total-49565
count-49564
total-49566
count-49565
total-49567
count-49566
total-49568
row 1double_ele[2, 4]
column9 double_ele[2, 4]
count-49567
total-49569
count-49568
total-49570
count-49569
total-49571
row 3double_ele[2, 5]
column6 double_ele[2, 5]
count-49570
total-49572
count-49571
total-49573
count-49572
total-49574
count-49573
total-49575
count-49574
total-49576
count-49575
total-49577
row 3double_ele[2, 3]
column3 double_ele[1, 3]
row 6double_ele[1, 7]
row 7double_ele[1, 3]
count-49576
total-49578
column5 double_ele[1, 6]
row 6double_ele[1, 6]
count-49577
total-49579
count-49578
total-49580
count-49579
total-49581
count-49580
total-49582
count-49581
total-49583
count-49582
total-49584
count-49583
total-49585
count-49584
total-49586
column6 double_ele[2, 3]
count-49585
total-49587
count-49586
total-49588
count-49587
total-49589
count-49588
total-49590
count-49589
total-49591
count-49590
total-49592
count-49591
total-49593
column2 double_ele[1, 3]
count-49592
total-49594
count-49593
total-49595
count-49594
total-49596
count-49595
total-49597
count-49596
total-49598
count-49597
total-49599
count-49598
total-49600
count-49599
total-49601
count-49600
total-49602
count-49601
total-49603
column1 double_ele[3, 5]
column3 double_ele[5, 7]
column4 double_ele[1, 2]
row 5double_ele[5, 7]
row 6double_ele[5, 7]
row 8double_ele[3, 5]
count-49602
total-49604
count-49603
total-49605
count-49604
total-49606
count-49605
total-49607
count-49606
total-49608
row 1double_ele[3, 6]
column3 double_ele[3, 6]
column5 double_ele[2, 7]
row 9double_ele[2, 6]
count-49607
total-49609
count-49608
total-49610
count-49609
total-49611
count-49610
total-49612
count-49611
total-49613
count-49612
total-49614
count-49613
total-49615
count-49614
total-49616
column7 double_ele[1, 4]
count-49615
total-49617
count-49616
total-49618
count-49617
total-49619
count-49618
total-49620
count-49619
total-49621
count-49620
total-49622
count-49621
total-49623
count-49622
total-49624
row 7double_ele[1, 5]
count-49623
total-49625
count-49624
total-49626
count-49625
total-49627
count-49626
total-49628
row 6double_ele[1, 2]
count-49627
total-49629
count-49628
total-49630
row 5double_ele[1, 3]
count-49629
total-49631
count-49630
total-49632
count-49631
total-49633
count-49632
total-49634
count-49633
total-49635
count-49634
total-49636
count-49635
total-49637
count-49636
total-49638
count-49637
total-49639
count-49638
total-49640
count-49639
total-49641
count-49640
total-49642
count-49641
total-49643
count-49642
total-49644
count-49643
total-49645
count-49644
total-49646
count-49645
total-49647
count-49646
total-49648
count-49647
total-49649
count-49648
total-49650
row 2double_ele[3, 8]
column2 double_ele[3, 8]
column6 double_ele[3, 8]
count-49649
total-49651
count-49650
total-49652
count-49651
total-49653
count-49652
total-49654
count-49653
total-49655
count-49654
total-49656
count-49655
total-49657
count-49656
total-49658
count-49657
total-49659
count-49658
total-49660
count-49659
total-49661
count-49660
total-49662
count-49661
total-49663
count-49662
total-49664
count-49663
total-49665
row 9double_ele[1, 5]
count-49664
total-49666
count-49665
total-49667
count-49666
total-49668
count-49667
total-49669
count-49668
total-49670
count-49669
total-49671
count-49670
total-49672
count-49671
total-49673
count-49672
total-49674
count-49673
total-49675
count-49674
total-49676
count-49675
total-49677
count-49676
total-49678
count-49677
total-49679
count-49678
total-49680
count-49679
total-49681
count-49680
total-49682
row 1double_ele[4, 7]
column1 double_ele[4, 7]
row 6double_ele[4, 7]
count-49681
total-49683
count-49682
total-49684
row 8double_ele[1, 3]
count-49683
total-49685
count-49684
total-49686
count-49685
total-49687
count-49686
total-49688
count-49687
total-49689
count-49688
total-49690
count-49689
total-49691
count-49690
total-49692
count-49691
total-49693
row 4double_ele[1, 3]
count-49692
total-49694
count-49693
total-49695
count-49694
total-49696

count-49695
total-49697
count-49696
total-49698
count-49697
total-49699
count-49698
total-49700
count-49699
total-49701
count-49700
total-49702
count-49701
total-49703
count-49702
total-49704
count-49703
total-49705
count-49704
total-49706
count-49705
total-49707
count-49706
total-49708
column7 double_ele[3, 4]
count-49707
total-49709
row 3double_ele[2, 3]
row 6double_ele[3, 4]
count-49708
total-49710
count-49709
total-49711
count-49710
total-49712
count-49711
total-49713
row 2double_ele[3, 6]
row 6double_ele[1, 6]
count-49712
total-49714
count-49713
total-49715
column7 double_ele[3, 6]
row 5triple_ele[1, 3, 6]
count-49714
total-49716
count-49715
total-49717
count-49716
total-49718
count-49717
total-49719
count-49718
total-49720
count-49719
total-49721
count-49720
total-49722
count-49721
total-49723
count-49722
total-49724
count-49723
total-49725
count-49724
total-49726
count-49725
total-49727
count-49726
total-49728
row 8double_ele[2, 4]
count-49727
total-49729
count-49728
total-49730
count-49729
total-49731
count-49730
total-49732
count-49731
total-49733
count-49732
total-49734
count-49733
total-49735
count-49734
total-49736
count-49735
total-49737
count-49736
total-49738
count-49737
total-49739
count-49738
total-49740
count-49739
total-49741
count-49740
total-49742
count-49741
total-49743
count-49742
total-49744
column5 double_ele[2, 6]
row 8double_ele[1, 6]
count-49743
total-49745
count-49744
total-49746
column2 double_ele[3, 8]
row 3double_ele[3, 8]
count-49745
total-49747
column1 double_ele[5, 6]
row 2double_ele[5, 6]
count-49746
total-49748
count-49747
total-49749
count-49748
total-49750
count-49749
total-49751
count-49750
total-49752
count-49751
total-49753
column7 double_ele[2, 6]
count-49752
total-49754
count-49753
total-49755
count-49754
total-49756
count-49755
total-49757
count-49756
total-49758
count-49757
total-49759
count-49758
total-49760
count-49759
total-49761
count-49760
total-49762
column1 double_ele[4, 7]
count-49761
total-49763
count-49762
total-49764
column3 double_ele[3, 4]
row 6double_ele[3, 4]
count-49763
total-49765
count-49764
total-49766
count-49765
total-49767
row 5double_ele[5, 8]
count-49766
total-49768
count-49767
total-49769
count-49768
total-49770
count-49769
total-49771
count-49770
total-49772
count-49771
total-49773
count-49772
total-49774
count-49773
total-49775
row 7double_ele[2, 7]
count-49774
total-49776
count-49775
total-49777
count-49776
total-49778
count-49777
total-49779
count-49778
total-49780
count-49779
total-49781
count-49780
total-49782
count-49781
total-49783
count-49782
total-49784
count-49783
total-49785
count-49784
total-49786
column2 double_ele[6, 7]
row 3double_ele[1, 6]
column4 double_ele[1, 5]
row 5double_ele[1, 8]
row 7double_ele[2, 6]
row 9double_ele[6, 7]
column9 double_ele[1, 8]
box9 triple_ele[2, 6, 7]
count-49785
total-49787
count-49786
total-49788
count-49787
total-49789
count-49788
total-49790
count-49789
total-49791
count-49790
total-49792
column3 double_ele[5, 6]
row 6double_ele[5, 6]
column7 double_ele[3, 7]
row 2triple_ele[3, 6, 7]
count-49791
total-49793
count-49792
total-49794
count-49793
total-49795
count-49794
total-49796
row 9double_ele[3, 4]
column9 double_ele[3, 4]
count-49795
total-49797
count-49796
total-49798
column1 double_ele[1, 2]
row 2double_ele[1, 2]
column2 double_ele[1, 2]
column3 double_ele[1, 2]
row 8double_ele[1, 2]
count-49797
total-49799
count-49798
total-49800
column1 double_ele[3, 6]
row 4double_ele[3, 6]
column6 double_ele[1, 2]
count-49799
total-49801
count-49800
total-49802
count-49801
total-49803
count-49802
total-49804
count-49803
total-49805
count-49804
total-49806
count-49805
total-49807
count-49806
total-49808
row 3double_ele[2, 6]
column4 double_ele[2, 6]
count-49807
total-49809
count-49808
total-49810
count-49809
total-49811
count-49810
total-49812
count-49811
total-49813
count-49812
total-49814
count-49813
total-49815
count-49814
total-49816
count-49815
total-49817
count-49816
total-49818
count-49817
total-49819
count-49818
total-49820
column2 double_ele[2, 3]
row 4double_ele[2, 3]
count-49819
total-49821
count-49820
total-49822
count-49821
total-49823
count-49822
total-49824
count-49823
total-49825
count-49824
total-49826
count-49825
total-49827
count-49826
total-49828
count-49827
total-49829
row 6double_ele[1, 3]
count-49828
total-49830
row 8double_ele[2, 4]
count-49829
total-49831
count-49830
total-49832
count-49831
total-49833
count-49832
total-49834
count-49833
total-49835
count-49834
total-49836
count-49835
total-49837
count-49836
total-49838
count-49837
total-49839
column1 double_ele[3, 8]
row 3double_ele[3, 8]
count-49838
total-49840
count-49839
total-49841
count-49840
total-49842
count-49841
total-49843
count-49842
total-49844
count-49843
total-49845
row 4double_ele[2, 9]
count-49844
total-49846
count-49845
total-49847
count-49846
total-49848
count-49847
total-49849
count-49848
total-49850
count-49849
total-49851
count-49850
total-49852
count-49851
total-49853
count-49852
total-49854
count-49853
total-49855
count-49854
total-49856
count-49855
total-49857
count-49856
total-49858
count-49857
total-49859
count-49858
total-49860
count-49859
total-49861
count-49860
total-49862
count-49861
total-49863
row 9double_ele[3, 4]
count-49862
total-49864
count-49863
total-49865
count-49864
total-49866
count-49865
total-49867
count-49866
total-49868
count-49867
total-49869
count-49868
total-49870
count-49869
total-49871
count-49870
total-49872
count-49871
total-49873
count-49872
total-49874
column8 double_ele[4, 7]
count-49873
total-49875
count-49874
total-49876
count-49875
total-49877
row 2double_ele[1, 3]
count-49876
total-49878
count-49877
total-49879
count-49878
total-49880
count-49879
total-49881
row 5double_ele[1, 2]
column7 double_ele[2, 3]
count-49880
total-49882
count-49881
total-49883
count-49882
total-49884
count-49883
total-49885
count-49884
total-49886
count-49885
total-49887
count-49886
total-49888
count-49887
total-49889
count-49888
total-49890
row 9double_ele[1, 3]
count-49889
total-49891
count-49890
total-49892
count-49891
total-49893
row 4double_ele[2, 5]
count-49892
total-49894
count-49893
total-49895
count-49894
total-49896
count-49895
total-49897
count-49896
total-49898
row 7double_ele[4, 8]
row 8double_ele[1, 3]
count-49897
total-49899
count-49898
total-49900
count-49899
total-49901
column2 double_ele[2, 3]
count-49900
total-49902
row 4double_ele[3, 4]
count-49901
total-49903
count-49902
total-49904
count-49903
total-49905
count-49904
total-49906
count-49905
total-49907
count-49906
total-49908
row 1double_ele[1, 4]
count-49907
total-49909
count-49908
total-49910
count-49909
total-49911
count-49910
total-49912
column5 double_ele[4, 6]
row 7double_ele[4, 6]
count-49911
total-49913
row 7double_ele[4, 6]
count-49912
total-49914
count-49913
total-49915
count-49914
total-49916
count-49915
total-49917
count-49916
total-49918
count-49917
total-49919
row 2double_ele[3, 5]
count-49918
total-49920
count-49919
total-49921
row 4double_ele[2, 5]
column9 double_ele[2, 5]
count-49920
total-49922
count-49921
total-49923
count-49922
total-49924
count-49923
total-49925
row 5double_ele[4, 7]
count-49924
total-49926
row 2double_ele[1, 2]
count-49925
total-49927
count-49926
total-49928
count-49927
total-49929
count-49928
total-49930
count-49929
total-49931
count-49930
total-49932
count-49931
total-49933
count-49932
total-49934
count-49933
total-49935
count-49934
total-49936
count-49935
total-49937
count-49936
total-49938
count-49937
total-49939
count-49938
total-49940
count-49939
total-49941
count-49940
total-49942
count-49941
total-49943
count-49942
total-49944
count-49943
total-49945
count-49944
total-49946
count-49945
total-49947
count-49946
total-49948
count-49947
total-49949
count-49948
total-49950
column1 double_ele[2, 4]
row 3double_ele[2, 4]
row 4double_ele[2, 4]
row 9double_ele[2, 5]
count-49949
total-49951
count-49950
total-49952
count-49951
total-49953
count-49952
total-49954
count-49953
total-49955
count-49954
total-49956
count-49955
total-49957
count-49956
total-49958
count-49957
total-49959
count-49958
total-49960
count-49959
total-49961
count-49960
total-49962
count-49961
total-49963
count-49962
total-49964
count-49963
total-49965
count-49964
total-49966
count-49965
total-49967
count-49966
total-49968
count-49967
total-49969
count-49968
total-49970

count-49969
total-49971
count-49970
total-49972
count-49971
total-49973
count-49972
total-49974
row 9double_ele[4, 6]
count-49973
total-49975
count-49974
total-49976
count-49975
total-49977
column1 double_ele[2, 6]
column2 double_ele[2, 5]
count-49976
total-49978
count-49977
total-49979
count-49978
total-49980
count-49979
total-49981
count-49980
total-49982
count-49981
total-49983
count-49982
total-49984
count-49983
total-49985
count-49984
total-49986
count-49985
total-49987
count-49986
total-49988
count-49987
total-49989
count-49988
total-49990
count-49989
total-49991
count-49990
total-49992
count-49991
total-49993
count-49992
total-49994
row 3double_ele[4, 8]
count-49993
total-49995
box3 triple_ele[3, 5, 6]
count-49994
total-49996
count-49995
total-49997
count-49996
total-49998
column7 double_ele[3, 5]
count-49997
total-49999
count-49998
total-50000
count-49999
total-50001
count-50000
total-50002
count-50001
total-50003
count-50002
total-50004
count-50003
total-50005
count-50004
total-50006
count-50005
total-50007
count-50006
total-50008
count-50007
total-50009
count-50008
total-50010
count-50009
total-50011
count-50010
total-50012
count-50011
total-50013
column5 double_ele[4, 6]
row 8double_ele[1, 6]
column9 double_ele[1, 6]
count-50012
total-50014
count-50013
total-50015
count-50014
total-50016
count-50015
total-50017
count-50016
total-50018
count-50017
total-50019
count-50018
total-50020
count-50019
total-50021
count-50020
total-50022
count-50021
total-50023
count-50022
total-50024
row 3double_ele[4, 5]
count-50023
total-50025
count-50024
total-50026
count-50025
total-50027
column1 double_ele[1, 8]
count-50026
total-50028
count-50027
total-50029
count-50028
total-50030
row 2double_ele[4, 6]
column2 double_ele[4, 6]
row 4double_ele[4, 6]
count-50029
total-50031
count-50030
total-50032
count-50031
total-50033
count-50032
total-50034
count-50033
total-50035
column3 double_ele[3, 5]
count-50034
total-50036
count-50035
total-50037
count-50036
total-50038
count-50037
total-50039
count-50038
total-50040
count-50039
total-50041
count-50040
total-50042
row 3double_ele[1, 4]
count-50041
total-50043
count-50042
total-50044
count-50043
total-50045
column1 double_ele[3, 9]
column2 double_ele[3, 4]
column6 double_ele[2, 9]
count-50044
total-50046
count-50045
total-50047
count-50046
total-50048
count-50047
total-50049
count-50048
total-50050
row 1double_ele[3, 7]
column4 double_ele[3, 7]
row 9double_ele[1, 5]
column9 double_ele[6, 7]
count-50049
total-50051
count-50050
total-50052
count-50051
total-50053
count-50052
total-50054
row 3double_ele[1, 4]
count-50053
total-50055
row 2double_ele[2, 5]
column2 double_ele[2, 8]
count-50054
total-50056
count-50055
total-50057
column7 double_ele[1, 6]
count-50056
total-50058
count-50057
total-50059
count-50058
total-50060
count-50059
total-50061
count-50060
total-50062
count-50061
total-50063
count-50062
total-50064
count-50063
total-50065
count-50064
total-50066
count-50065
total-50067
count-50066
total-50068
count-50067
total-50069
count-50068
total-50070
count-50069
total-50071
count-50070
total-50072
count-50071
total-50073
count-50072
total-50074
count-50073
total-50075
count-50074
total-50076
count-50075
total-50077
count-50076
total-50078
count-50077
total-50079
row 7double_ele[1, 8]
count-50078
total-50080
row 4double_ele[2, 4]
column4 double_ele[2, 4]
count-50079
total-50081
count-50080
total-50082
count-50081
total-50083
count-50082
total-50084
count-50083
total-50085
count-50084
total-50086
count-50085
total-50087
count-50086
total-50088
count-50087
total-50089
count-50088
total-50090
count-50089
total-50091
count-50090
total-50092
count-50091
total-50093
count-50092
total-50094
count-50093
total-50095
column2 double_ele[2, 4]
row 8double_ele[2, 4]
count-50094
total-50096
count-50095
total-50097
count-50096
total-50098
count-50097
total-50099
count-50098
total-50100
count-50099
total-50101
count-50100
total-50102
count-50101
total-50103
count-50102
total-50104
count-50103
total-50105
count-50104
total-50106
count-50105
total-50107
count-50106
total-50108
row 7double_ele[3, 5]
count-50107
total-50109
count-50108
total-50110
count-50109
total-50111
count-50110
total-50112
count-50111
total-50113
row 2double_ele[1, 2]
column3 double_ele[5, 8]
column9 double_ele[1, 2]
count-50112
total-50114
count-50113
total-50115
count-50114
total-50116
count-50115
total-50117
count-50116
total-50118
count-50117
total-50119
count-50118
total-50120
count-50119
total-50121
count-50120
total-50122
count-50121
total-50123
column6 double_ele[1, 3]
count-50122
total-50124
column2 double_ele[1, 3]
count-50123
total-50125
count-50124
total-50126
count-50125
total-50127
count-50126
total-50128
count-50127
total-50129
count-50128
total-50130
count-50129
total-50131
count-50130
total-50132
count-50131
total-50133
count-50132
total-50134
row 1double_ele[2, 8]
count-50133
total-50135
count-50134
total-50136
count-50135
total-50137
count-50136
total-50138
count-50137
total-50139
column4 double_ele[2, 3]
count-50138
total-50140
count-50139
total-50141
count-50140
total-50142
count-50141
total-50143
count-50142
total-50144
count-50143
total-50145
count-50144
total-50146
count-50145
total-50147
count-50146
total-50148
count-50147
total-50149
count-50148
total-50150
column7 double_ele[3, 5]
count-50149
total-50151
count-50150
total-50152
row 2double_ele[1, 2]
column4 double_ele[1, 2]
count-50151
total-50153
count-50152
total-50154
count-50153
total-50155
count-50154
total-50156
count-50155
total-50157
count-50156
total-50158
count-50157
total-50159
count-50158
total-50160
count-50159
total-50161
count-50160
total-50162
count-50161
total-50163
count-50162
total-50164
count-50163
total-50165
count-50164
total-50166
count-50165
total-50167
count-50166
total-50168
count-50167
total-50169
count-50168
total-50170
count-50169
total-50171
count-50170
total-50172
count-50171
total-50173
count-50172
total-50174
count-50173
total-50175
count-50174
total-50176
count-50175
total-50177
count-50176
total-50178
count-50177
total-50179
count-50178
total-50180
count-50179
total-50181
count-50180
total-50182
count-50181
total-50183
count-50182
total-50184
count-50183
total-50185
count-50184
total-50186
count-50185
total-50187
count-50186
total-50188
count-50187
total-50189
count-50188
total-50190
count-50189
total-50191
count-50190
total-50192
count-50191
total-50193
count-50192
total-50194
count-50193
total-50195
row 1double_ele[1, 4]
column1 double_ele[1, 4]
row 8double_ele[1, 5]
count-50194
total-50196
count-50195
total-50197
count-50196
total-50198
count-50197
total-50199
count-50198
total-50200
count-50199
total-50201
count-50200
total-50202
count-50201
total-50203
count-50202
total-50204
count-50203
total-50205
count-50204
total-50206
count-50205
total-50207
count-50206
total-50208
count-50207
total-50209
count-50208
total-50210
count-50209
total-50211
count-50210
total-50212
count-50211
total-50213
count-50212
total-50214
count-50213
total-50215
count-50214
total-50216
count-50215
total-50217
count-50216
total-50218
count-50217
total-50219
row 7double_ele[3, 7]
count-50218
total-50220
count-50219
total-50221
count-50220
total-50222
count-50221
total-50223
count-50222
total-50224
row 1double_ele[7, 8]
column3 double_ele[7, 8]
column5 double_ele[3, 6]
count-50223
total-50225
count-50224
total-50226
count-50225
total-50227
count-50226
total-50228
count-50227
total-50229
count-50228
total-50230
count-50229
total-50231
count-50230
total-50232
column2 double_ele[2, 5]
count-50231
total-50233
count-50232
total-50234
count-50233
total-50235
count-50234
total-50236
count-50235
total-50237
count-50236
total-50238
count-50237
total-50239
column1 double_ele[2, 5]
count-50238
total-50240
count-50239
total-50241
count-50240
total-50242
count-50241
total-50243
count-50242
total-50244
column1 double_ele[3, 4]
row 4double_ele[3, 4]
count-50243
total-50245
count-50244
total-50246
count-50245
total-50247
count-50246
total-50248
count-50247
total-50249
count-50248
total-50250
count-50249
total-50251
count-50250
total-50252
count-50251
total-50253
count-50252
total-50254
count-50253
total-50255
count-50254
total-50256
column4 double_ele[2, 3]
count-50255
total-50257
count-50256
total-50258
count-50257
total-50259
count-50258
total-50260
count-50259
total-50261
count-50260
total-50262
count-50261
total-50263
count-50262
total-50264
count-50263
total-50265
row 1double_ele[3, 5]
row 7double_ele[3, 6]
count-50264
total-50266
count-50265
total-50267
count-50266
total-50268
count-50267
total-50269
count-50268
total-50270

row 1double_ele[1, 4]
row 4double_ele[1, 6]
count-50269
total-50271
row 7double_ele[2, 5]
count-50270
total-50272
count-50271
total-50273
count-50272
total-50274
column2 double_ele[1, 2]
count-50273
total-50275
row 1double_ele[1, 6]
count-50274
total-50276
count-50275
total-50277
count-50276
total-50278
count-50277
total-50279
count-50278
total-50280
count-50279
total-50281
row 5double_ele[2, 6]
count-50280
total-50282
count-50281
total-50283
count-50282
total-50284
count-50283
total-50285
row 5double_ele[2, 4]
count-50284
total-50286
count-50285
total-50287
count-50286
total-50288
count-50287
total-50289
count-50288
total-50290
count-50289
total-50291
column6 double_ele[1, 3]
count-50290
total-50292
count-50291
total-50293
column9 double_ele[3, 4]
count-50292
total-50294
count-50293
total-50295
count-50294
total-50296
count-50295
total-50297
count-50296
total-50298
count-50297
total-50299
count-50298
total-50300
count-50299
total-50301
count-50300
total-50302
count-50301
total-50303
count-50302
total-50304
count-50303
total-50305
count-50304
total-50306
count-50305
total-50307
count-50306
total-50308
count-50307
total-50309
column5 double_ele[2, 5]
count-50308
total-50310
count-50309
total-50311
row 2double_ele[1, 2]
row 6double_ele[3, 4]
count-50310
total-50312
count-50311
total-50313
count-50312
total-50314
count-50313
total-50315
count-50314
total-50316
row 5double_ele[1, 4]
count-50315
total-50317
row 3double_ele[2, 4]
column3 double_ele[2, 4]
row 4double_ele[2, 4]
count-50316
total-50318
count-50317
total-50319
count-50318
total-50320
count-50319
total-50321
column7 double_ele[3, 7]
count-50320
total-50322
count-50321
total-50323
count-50322
total-50324
count-50323
total-50325
row 6double_ele[5, 7]
count-50324
total-50326
count-50325
total-50327
count-50326
total-50328
count-50327
total-50329
count-50328
total-50330
count-50329
total-50331
count-50330
total-50332
count-50331
total-50333
count-50332
total-50334
count-50333
total-50335
count-50334
total-50336
count-50335
total-50337
count-50336
total-50338
count-50337
total-50339
count-50338
total-50340
count-50339
total-50341
count-50340
total-50342
count-50341
total-50343
count-50342
total-50344
count-50343
total-50345
count-50344
total-50346
count-50345
total-50347
count-50346
total-50348
count-50347
total-50349
count-50348
total-50350
count-50349
total-50351
column7 double_ele[3, 4]
count-50350
total-50352
count-50351
total-50353
count-50352
total-50354
count-50353
total-50355
count-50354
total-50356
count-50355
total-50357
row 7double_ele[3, 5]
count-50356
total-50358
count-50357
total-50359
count-50358
total-50360
count-50359
total-50361
row 5double_ele[1, 7]
column6 double_ele[1, 7]
count-50360
total-50362
count-50361
total-50363
count-50362
total-50364
count-50363
total-50365
count-50364
total-50366
count-50365
total-50367
count-50366
total-50368
count-50367
total-50369
count-50368
total-50370
count-50369
total-50371
count-50370
total-50372
count-50371
total-50373
column1 double_ele[3, 5]
count-50372
total-50374
count-50373
total-50375
count-50374
total-50376
count-50375
total-50377
count-50376
total-50378
count-50377
total-50379
column3 double_ele[4, 9]
row 9double_ele[4, 9]
count-50378
total-50380
count-50379
total-50381
column7 double_ele[1, 4]
count-50380
total-50382
count-50381
total-50383
count-50382
total-50384
count-50383
total-50385
count-50384
total-50386
count-50385
total-50387
count-50386
total-50388
count-50387
total-50389
count-50388
total-50390
row 5double_ele[3, 6]
count-50389
total-50391
count-50390
total-50392
count-50391
total-50393
count-50392
total-50394
count-50393
total-50395
count-50394
total-50396
count-50395
total-50397
column1 double_ele[1, 6]
row 2double_ele[1, 6]
box9 triple_ele[1, 2, 6]
count-50396
total-50398
count-50397
total-50399
row 7double_ele[3, 7]
row 8double_ele[3, 7]
count-50398
total-50400
count-50399
total-50401
count-50400
total-50402
count-50401
total-50403
count-50402
total-50404
count-50403
total-50405
count-50404
total-50406
count-50405
total-50407
count-50406
total-50408
count-50407
total-50409
count-50408
total-50410
count-50409
total-50411
count-50410
total-50412
count-50411
total-50413
count-50412
total-50414
count-50413
total-50415
count-50414
total-50416
count-50415
total-50417
count-50416
total-50418
count-50417
total-50419
count-50418
total-50420
row 8double_ele[4, 5]
count-50419
total-50421
count-50420
total-50422
column1 double_ele[1, 5]
count-50421
total-50423
count-50422
total-50424
count-50423
total-50425
count-50424
total-50426
count-50425
total-50427
count-50426
total-50428
count-50427
total-50429
count-50428
total-50430
count-50429
total-50431
count-50430
total-50432
count-50431
total-50433
count-50432
total-50434
count-50433
total-50435
count-50434
total-50436
count-50435
total-50437
count-50436
total-50438
column2 double_ele[3, 5]
row 3double_ele[3, 5]
count-50437
total-50439
count-50438
total-50440
column2 double_ele[3, 4]
row 6double_ele[3, 4]
count-50439
total-50441
count-50440
total-50442
count-50441
total-50443
count-50442
total-50444
count-50443
total-50445
count-50444
total-50446
count-50445
total-50447
count-50446
total-50448
count-50447
total-50449
row 2double_ele[1, 4]
count-50448
total-50450
count-50449
total-50451
count-50450
total-50452
count-50451
total-50453
count-50452
total-50454
count-50453
total-50455
count-50454
total-50456
count-50455
total-50457
count-50456
total-50458
count-50457
total-50459
count-50458
total-50460
count-50459
total-50461
count-50460
total-50462
count-50461
total-50463
count-50462
total-50464
count-50463
total-50465
count-50464
total-50466
count-50465
total-50467
count-50466
total-50468
count-50467
total-50469
count-50468
total-50470
count-50469
total-50471
count-50470
total-50472
count-50471
total-50473
count-50472
total-50474
count-50473
total-50475
count-50474
total-50476
count-50475
total-50477
count-50476
total-50478
count-50477
total-50479
count-50478
total-50480
row 5double_ele[1, 3]
column9 double_ele[1, 3]
count-50479
total-50481
count-50480
total-50482
count-50481
total-50483
count-50482
total-50484
count-50483
total-50485
count-50484
total-50486
count-50485
total-50487
count-50486
total-50488
count-50487
total-50489
count-50488
total-50490
count-50489
total-50491
count-50490
total-50492
count-50491
total-50493
column8 double_ele[1, 4]
count-50492
total-50494
row 6double_ele[1, 3]
count-50493
total-50495
count-50494
total-50496
count-50495
total-50497
count-50496
total-50498
count-50497
total-50499
count-50498
total-50500
count-50499
total-50501
count-50500
total-50502
column4 double_ele[1, 3]
row 6double_ele[1, 3]
count-50501
total-50503
count-50502
total-50504
count-50503
total-50505
count-50504
total-50506
count-50505
total-50507
count-50506
total-50508
count-50507
total-50509
count-50508
total-50510
count-50509
total-50511
count-50510
total-50512
count-50511
total-50513
column5 double_ele[1, 7]
count-50512
total-50514
row 1double_ele[4, 8]
row 7double_ele[4, 8]
column8 double_ele[4, 8]
column9 double_ele[2, 4]
count-50513
total-50515
count-50514
total-50516
count-50515
total-50517
count-50516
total-50518
count-50517
total-50519
count-50518
total-50520
count-50519
total-50521
row 6double_ele[1, 4]
count-50520
total-50522
count-50521
total-50523
row 7double_ele[1, 7]
count-50522
total-50524
count-50523
total-50525
count-50524
total-50526
count-50525
total-50527
count-50526
total-50528
count-50527
total-50529
count-50528
total-50530
count-50529
total-50531
count-50530
total-50532
row 1double_ele[1, 2]
count-50531
total-50533
count-50532
total-50534
row 3double_ele[4, 6]
column7 double_ele[4, 6]
count-50533
total-50535
count-50534
total-50536
count-50535
total-50537
count-50536
total-50538
count-50537
total-50539
count-50538
total-50540
count-50539
total-50541
count-50540
total-50542
count-50541
total-50543
count-50542
total-50544
count-50543
total-50545
count-50544
total-50546
count-50545
total-50547
count-50546
total-50548
count-50547
total-50549
count-50548
total-50550
count-50549
total-50551
row 1double_ele[2, 6]
row 6double_ele[2, 4]
row 8double_ele[3, 4]
count-50550
total-50552
count-50551
total-50553
count-50552
total-50554
row 4double_ele[2, 8]
column5 double_ele[2, 8]
count-50553
total-50555
count-50554
total-50556
count-50555
total-50557
count-50556
total-50558
count-50557
total-50559
count-50558
total-50560
count-50559
total-50561
count-50560
total-50562
count-50561
total-50563
count-50562
total-50564
count-50563
total-50565
count-50564
total-50566
count-50565
total-50567
count-50566
total-50568
count-50567
total-50569
count-50568
total-50570
count-50569
total-50571

count-50570
total-50572
row 3double_ele[5, 6]
column6 double_ele[1, 5]
count-50571
total-50573
count-50572
total-50574
count-50573
total-50575
count-50574
total-50576
count-50575
total-50577
count-50576
total-50578
count-50577
total-50579
count-50578
total-50580
count-50579
total-50581
row 5double_ele[2, 8]
column8 double_ele[2, 8]
count-50580
total-50582
column2 double_ele[3, 8]
count-50581
total-50583
count-50582
total-50584
count-50583
total-50585
count-50584
total-50586
count-50585
total-50587
count-50586
total-50588
count-50587
total-50589
count-50588
total-50590
count-50589
total-50591
count-50590
total-50592
count-50591
total-50593
count-50592
total-50594
count-50593
total-50595
count-50594
total-50596
column7 double_ele[3, 4]
row 9double_ele[3, 4]
count-50595
total-50597
count-50596
total-50598
count-50597
total-50599
count-50598
total-50600
column1 double_ele[1, 7]
count-50599
total-50601
count-50600
total-50602
count-50601
total-50603
count-50602
total-50604
count-50603
total-50605
count-50604
total-50606
count-50605
total-50607
count-50606
total-50608
count-50607
total-50609
count-50608
total-50610
count-50609
total-50611
count-50610
total-50612
count-50611
total-50613
count-50612
total-50614
count-50613
total-50615
count-50614
total-50616
row 9double_ele[4, 6]
count-50615
total-50617
count-50616
total-50618
row 8double_ele[2, 3]
count-50617
total-50619
count-50618
total-50620
count-50619
total-50621
count-50620
total-50622
count-50621
total-50623
count-50622
total-50624
count-50623
total-50625
count-50624
total-50626
count-50625
total-50627
count-50626
total-50628
count-50627
total-50629
row 3double_ele[1, 3]
row 4double_ele[1, 3]
column4 double_ele[1, 3]
count-50628
total-50630
count-50629
total-50631
count-50630
total-50632
count-50631
total-50633
row 1double_ele[2, 7]
column2 double_ele[2, 7]
count-50632
total-50634
count-50633
total-50635
count-50634
total-50636
count-50635
total-50637
count-50636
total-50638
count-50637
total-50639
count-50638
total-50640
count-50639
total-50641
count-50640
total-50642
count-50641
total-50643
count-50642
total-50644
count-50643
total-50645
count-50644
total-50646
count-50645
total-50647
count-50646
total-50648
count-50647
total-50649
count-50648
total-50650
count-50649
total-50651
row 9double_ele[3, 4]
count-50650
total-50652
count-50651
total-50653
count-50652
total-50654
row 8double_ele[3, 7]
row 9double_ele[2, 3]
count-50653
total-50655
count-50654
total-50656
count-50655
total-50657
count-50656
total-50658
count-50657
total-50659
count-50658
total-50660
count-50659
total-50661
count-50660
total-50662
count-50661
total-50663
count-50662
total-50664
count-50663
total-50665
count-50664
total-50666
count-50665
total-50667
count-50666
total-50668
row 5double_ele[1, 3]
count-50667
total-50669
count-50668
total-50670
count-50669
total-50671
count-50670
total-50672
count-50671
total-50673
count-50672
total-50674
count-50673
total-50675
count-50674
total-50676
count-50675
total-50677
count-50676
total-50678
count-50677
total-50679
count-50678
total-50680
count-50679
total-50681
column8 double_ele[1, 4]
count-50680
total-50682
count-50681
total-50683
count-50682
total-50684
count-50683
total-50685
count-50684
total-50686
count-50685
total-50687
count-50686
total-50688
count-50687
total-50689
count-50688
total-50690
count-50689
total-50691
count-50690
total-50692
count-50691
total-50693
count-50692
total-50694
row 1double_ele[1, 5]
column9 double_ele[1, 5]
count-50693
total-50695
count-50694
total-50696
count-50695
total-50697
count-50696
total-50698
count-50697
total-50699
count-50698
total-50700
count-50699
total-50701
count-50700
total-50702
row 1double_ele[1, 2]
count-50701
total-50703
count-50702
total-50704
column6 double_ele[4, 5]
count-50703
total-50705
count-50704
total-50706
column1 double_ele[4, 6]
count-50705
total-50707
count-50706
total-50708
count-50707
total-50709
count-50708
total-50710
count-50709
total-50711
count-50710
total-50712
count-50711
total-50713
count-50712
total-50714
row 3double_ele[3, 7]
column3 double_ele[1, 2]
row 4double_ele[1, 2]
column6 double_ele[1, 2]
column8 double_ele[3, 7]
count-50713
total-50715
count-50714
total-50716
count-50715
total-50717
count-50716
total-50718
count-50717
total-50719
column2 double_ele[3, 6]
row 6double_ele[2, 9]
count-50718
total-50720
count-50719
total-50721
row 6double_ele[3, 6]
count-50720
total-50722
count-50721
total-50723
count-50722
total-50724
count-50723
total-50725
count-50724
total-50726
count-50725
total-50727
count-50726
total-50728
count-50727
total-50729
count-50728
total-50730
count-50729
total-50731
count-50730
total-50732
count-50731
total-50733
count-50732
total-50734
count-50733
total-50735
count-50734
total-50736
count-50735
total-50737
count-50736
total-50738
count-50737
total-50739
count-50738
total-50740
column7 double_ele[1, 4]
count-50739
total-50741
count-50740
total-50742
count-50741
total-50743
count-50742
total-50744
count-50743
total-50745
count-50744
total-50746
count-50745
total-50747
row 3double_ele[4, 6]
column5 double_ele[4, 6]
count-50746
total-50748
count-50747
total-50749
count-50748
total-50750
count-50749
total-50751
count-50750
total-50752
count-50751
total-50753
count-50752
total-50754
count-50753
total-50755
count-50754
total-50756
count-50755
total-50757
count-50756
total-50758
count-50757
total-50759
count-50758
total-50760
count-50759
total-50761
count-50760
total-50762
count-50761
total-50763
count-50762
total-50764
column6 double_ele[1, 7]
count-50763
total-50765
count-50764
total-50766
count-50765
total-50767
count-50766
total-50768
count-50767
total-50769
count-50768
total-50770
count-50769
total-50771
count-50770
total-50772
column3 double_ele[3, 5]
count-50771
total-50773
count-50772
total-50774
count-50773
total-50775
count-50774
total-50776
count-50775
total-50777
count-50776
total-50778
count-50777
total-50779
row 1double_ele[1, 4]
column1 double_ele[1, 4]
column4 double_ele[1, 4]
count-50778
total-50780
count-50779
total-50781
count-50780
total-50782
count-50781
total-50783
count-50782
total-50784
count-50783
total-50785
count-50784
total-50786
count-50785
total-50787
count-50786
total-50788
count-50787
total-50789
count-50788
total-50790
count-50789
total-50791
count-50790
total-50792
count-50791
total-50793
count-50792
total-50794
count-50793
total-50795
count-50794
total-50796
count-50795
total-50797
count-50796
total-50798
count-50797
total-50799
count-50798
total-50800
count-50799
total-50801
column6 double_ele[2, 3]
count-50800
total-50802
count-50801
total-50803
count-50802
total-50804
count-50803
total-50805
count-50804
total-50806
count-50805
total-50807
count-50806
total-50808
count-50807
total-50809
column5 double_ele[1, 6]
count-50808
total-50810
count-50809
total-50811
count-50810
total-50812
count-50811
total-50813
count-50812
total-50814
count-50813
total-50815
count-50814
total-50816
count-50815
total-50817
count-50816
total-50818
count-50817
total-50819
count-50818
total-50820
count-50819
total-50821
column7 double_ele[3, 5]
count-50820
total-50822
count-50821
total-50823
count-50822
total-50824
count-50823
total-50825
count-50824
total-50826
count-50825
total-50827
row 9double_ele[1, 2]
count-50826
total-50828
count-50827
total-50829
count-50828
total-50830
count-50829
total-50831
count-50830
total-50832
column8 double_ele[2, 3]
count-50831
total-50833
count-50832
total-50834
count-50833
total-50835
count-50834
total-50836
count-50835
total-50837
count-50836
total-50838
count-50837
total-50839
count-50838
total-50840
count-50839
total-50841
count-50840
total-50842
count-50841
total-50843
count-50842
total-50844
count-50843
total-50845
count-50844
total-50846
count-50845
total-50847
row 3double_ele[4, 6]
count-50846
total-50848
count-50847
total-50849
count-50848
total-50850
count-50849
total-50851
count-50850
total-50852
count-50851
total-50853
count-50852
total-50854
count-50853
total-50855
count-50854
total-50856
count-50855
total-50857
count-50856
total-50858
count-50857
total-50859
count-50858
total-50860
count-50859
total-50861
count-50860
total-50862
count-50861
total-50863
count-50862
total-50864
count-50863
total-50865
count-50864
total-50866
count-50865
total-50867
count-50866
total-50868
count-50867
total-50869
count-50868
total-50870
count-50869
total-50871
count-50870
total-50872
count-50871
total-50873
count-50872
total-50874
count-50873
total-50875
count-50874
total-50876

count-50875
total-50877
count-50876
total-50878
count-50877
total-50879
count-50878
total-50880
count-50879
total-50881
count-50880
total-50882
count-50881
total-50883
count-50882
total-50884
count-50883
total-50885
count-50884
total-50886
count-50885
total-50887
count-50886
total-50888
count-50887
total-50889
count-50888
total-50890
count-50889
total-50891
count-50890
total-50892
count-50891
total-50893
count-50892
total-50894
count-50893
total-50895
count-50894
total-50896
count-50895
total-50897
count-50896
total-50898
count-50897
total-50899
count-50898
total-50900
count-50899
total-50901
count-50900
total-50902
count-50901
total-50903
count-50902
total-50904
count-50903
total-50905
count-50904
total-50906
count-50905
total-50907
count-50906
total-50908
count-50907
total-50909
count-50908
total-50910
column6 double_ele[3, 5]
count-50909
total-50911
row 4double_ele[3, 5]
count-50910
total-50912
count-50911
total-50913
count-50912
total-50914
count-50913
total-50915
count-50914
total-50916
count-50915
total-50917
row 1double_ele[1, 4]
count-50916
total-50918
column3 double_ele[1, 3]
count-50917
total-50919
count-50918
total-50920
count-50919
total-50921
count-50920
total-50922
count-50921
total-50923
count-50922
total-50924
column1 double_ele[1, 4]
row 2double_ele[1, 4]
row 6double_ele[1, 4]
count-50923
total-50925
count-50924
total-50926
count-50925
total-50927
count-50926
total-50928
count-50927
total-50929
count-50928
total-50930
count-50929
total-50931
row 5double_ele[3, 5]
count-50930
total-50932
count-50931
total-50933
count-50932
total-50934
count-50933
total-50935
count-50934
total-50936
count-50935
total-50937
count-50936
total-50938
count-50937
total-50939
count-50938
total-50940
count-50939
total-50941
count-50940
total-50942
count-50941
total-50943
count-50942
total-50944
count-50943
total-50945
count-50944
total-50946
count-50945
total-50947
count-50946
total-50948
count-50947
total-50949
count-50948
total-50950
count-50949
total-50951
count-50950
total-50952
count-50951
total-50953
column6 double_ele[2, 4]
row 8double_ele[3, 8]
count-50952
total-50954
count-50953
total-50955
row 9double_ele[2, 3]
count-50954
total-50956
count-50955
total-50957
count-50956
total-50958
count-50957
total-50959
count-50958
total-50960
count-50959
total-50961
row 4double_ele[1, 6]
count-50960
total-50962
column5 double_ele[2, 6]
count-50961
total-50963
count-50962
total-50964
count-50963
total-50965
count-50964
total-50966
count-50965
total-50967
count-50966
total-50968
count-50967
total-50969
count-50968
total-50970
count-50969
total-50971
row 5double_ele[1, 3]
column9 double_ele[1, 3]
count-50970
total-50972
count-50971
total-50973
row 1double_ele[1, 2]
column5 double_ele[1, 7]
count-50972
total-50974
count-50973
total-50975
count-50974
total-50976
count-50975
total-50977
count-50976
total-50978
column1 double_ele[1, 3]
row 6double_ele[1, 3]
count-50977
total-50979
count-50978
total-50980
column6 double_ele[2, 4]
row 9double_ele[1, 2]
count-50979
total-50981
count-50980
total-50982
count-50981
total-50983
count-50982
total-50984
count-50983
total-50985
count-50984
total-50986
count-50985
total-50987
count-50986
total-50988
count-50987
total-50989
count-50988
total-50990
count-50989
total-50991
count-50990
total-50992
count-50991
total-50993
count-50992
total-50994
column9 double_ele[3, 4]
count-50993
total-50995
count-50994
total-50996
count-50995
total-50997
count-50996
total-50998
count-50997
total-50999
count-50998
total-51000
count-50999
total-51001
count-51000
total-51002
count-51001
total-51003
count-51002
total-51004
count-51003
total-51005
count-51004
total-51006
count-51005
total-51007
count-51006
total-51008
count-51007
total-51009
count-51008
total-51010
count-51009
total-51011
row 1double_ele[1, 4]
column2 double_ele[1, 4]
count-51010
total-51012
count-51011
total-51013
count-51012
total-51014
count-51013
total-51015
row 7double_ele[1, 7]
count-51014
total-51016
count-51015
total-51017
count-51016
total-51018
count-51017
total-51019
count-51018
total-51020
row 3double_ele[1, 2]
count-51019
total-51021
count-51020
total-51022
count-51021
total-51023
count-51022
total-51024
count-51023
total-51025
column4 double_ele[1, 3]
count-51024
total-51026
column3 double_ele[3, 4]
row 4double_ele[2, 3]
column6 double_ele[2, 4]
count-51025
total-51027
count-51026
total-51028
count-51027
total-51029
count-51028
total-51030
count-51029
total-51031
count-51030
total-51032
count-51031
total-51033
count-51032
total-51034
count-51033
total-51035
count-51034
total-51036
row 1double_ele[4, 5]
count-51035
total-51037
count-51036
total-51038
count-51037
total-51039
count-51038
total-51040
column3 double_ele[3, 9]
row 6double_ele[3, 9]
column6 double_ele[3, 6]
row 7double_ele[1, 4]
column7 double_ele[1, 4]
count-51039
total-51041
row 9double_ele[1, 4]
column9 double_ele[1, 4]
count-51040
total-51042
count-51041
total-51043
count-51042
total-51044
count-51043
total-51045
count-51044
total-51046
count-51045
total-51047
count-51046
total-51048
count-51047
total-51049
count-51048
total-51050
count-51049
total-51051
count-51050
total-51052
column9 double_ele[4, 8]
count-51051
total-51053
count-51052
total-51054
count-51053
total-51055
count-51054
total-51056
count-51055
total-51057
count-51056
total-51058
count-51057
total-51059
count-51058
total-51060
row 2double_ele[3, 4]
row 6double_ele[2, 3]
column6 double_ele[2, 8]
column7 double_ele[3, 4]
row 8double_ele[2, 8]
count-51059
total-51061
count-51060
total-51062
count-51061
total-51063
count-51062
total-51064
count-51063
total-51065
count-51064
total-51066
column7 double_ele[2, 7]
count-51065
total-51067
count-51066
total-51068
count-51067
total-51069
count-51068
total-51070
count-51069
total-51071
count-51070
total-51072
count-51071
total-51073
count-51072
total-51074
count-51073
total-51075
count-51074
total-51076
column1 double_ele[1, 5]
row 4double_ele[1, 5]
count-51075
total-51077
count-51076
total-51078
row 1double_ele[2, 5]
count-51077
total-51079
count-51078
total-51080
count-51079
total-51081
count-51080
total-51082
count-51081
total-51083
count-51082
total-51084
count-51083
total-51085
count-51084
total-51086
count-51085
total-51087
count-51086
total-51088
count-51087
total-51089
row 1double_ele[2, 7]
row 3double_ele[4, 5]
column9 double_ele[2, 7]
count-51088
total-51090
count-51089
total-51091
count-51090
total-51092
column5 double_ele[1, 3]
count-51091
total-51093
row 2double_ele[2, 4]
count-51092
total-51094
count-51093
total-51095
row 7double_ele[3, 4]
count-51094
total-51096
row 1double_ele[1, 2]
column2 double_ele[1, 2]
row 5double_ele[1, 2]
count-51095
total-51097
count-51096
total-51098
count-51097
total-51099
count-51098
total-51100
count-51099
total-51101
count-51100
total-51102
count-51101
total-51103
count-51102
total-51104
count-51103
total-51105
count-51104
total-51106
row 7double_ele[4, 8]
count-51105
total-51107
count-51106
total-51108
count-51107
total-51109
count-51108
total-51110
count-51109
total-51111
count-51110
total-51112
count-51111
total-51113
column1 double_ele[1, 6]
row 5double_ele[1, 6]
row 9double_ele[1, 3]
count-51112
total-51114
count-51113
total-51115
count-51114
total-51116
count-51115
total-51117
count-51116
total-51118
count-51117
total-51119
count-51118
total-51120
count-51119
total-51121
count-51120
total-51122
count-51121
total-51123
count-51122
total-51124
row 2double_ele[2, 3]
count-51123
total-51125
count-51124
total-51126
count-51125
total-51127
count-51126
total-51128
count-51127
total-51129
count-51128
total-51130
count-51129
total-51131
count-51130
total-51132
count-51131
total-51133
row 1double_ele[2, 3]
column2 double_ele[2, 3]
column8 double_ele[3, 5]
count-51132
total-51134
count-51133
total-51135
count-51134
total-51136
count-51135
total-51137
count-51136
total-51138
count-51137
total-51139
column9 double_ele[1, 2]
count-51138
total-51140
count-51139
total-51141
count-51140
total-51142
count-51141
total-51143
count-51142
total-51144
row 8double_ele[1, 7]
column9 double_ele[5, 7]
count-51143
total-51145
count-51144
total-51146
count-51145
total-51147
count-51146
total-51148
count-51147
total-51149
count-51148
total-51150
count-51149
total-51151
count-51150
total-51152
count-51151
total-51153
count-51152
total-51154

count-51153
total-51155
count-51154
total-51156
count-51155
total-51157
count-51156
total-51158
count-51157
total-51159
count-51158
total-51160
count-51159
total-51161
count-51160
total-51162
count-51161
total-51163
column6 double_ele[2, 3]
count-51162
total-51164
count-51163
total-51165
count-51164
total-51166
column2 double_ele[3, 4]
count-51165
total-51167
count-51166
total-51168
count-51167
total-51169
count-51168
total-51170
column2 double_ele[2, 4]
count-51169
total-51171
row 1double_ele[1, 3]
column3 double_ele[1, 3]
count-51170
total-51172
count-51171
total-51173
count-51172
total-51174
count-51173
total-51175
count-51174
total-51176
count-51175
total-51177
count-51176
total-51178
count-51177
total-51179
row 3double_ele[1, 6]
count-51178
total-51180
count-51179
total-51181
row 3double_ele[1, 2]
count-51180
total-51182
count-51181
total-51183
count-51182
total-51184
count-51183
total-51185
count-51184
total-51186
count-51185
total-51187
count-51186
total-51188
count-51187
total-51189
count-51188
total-51190
count-51189
total-51191
count-51190
total-51192
count-51191
total-51193
count-51192
total-51194
count-51193
total-51195
count-51194
total-51196
count-51195
total-51197
count-51196
total-51198
count-51197
total-51199
column1 double_ele[2, 3]
count-51198
total-51200
count-51199
total-51201
count-51200
total-51202
count-51201
total-51203
column2 double_ele[2, 3]
count-51202
total-51204
count-51203
total-51205
count-51204
total-51206
row 2double_ele[6, 8]
column2 double_ele[6, 8]
count-51205
total-51207
count-51206
total-51208
count-51207
total-51209
count-51208
total-51210
count-51209
total-51211
row 6double_ele[1, 3]
count-51210
total-51212
count-51211
total-51213
count-51212
total-51214
column1 double_ele[2, 4]
count-51213
total-51215
count-51214
total-51216
count-51215
total-51217
count-51216
total-51218
count-51217
total-51219
count-51218
total-51220
count-51219
total-51221
count-51220
total-51222
count-51221
total-51223
count-51222
total-51224
count-51223
total-51225
count-51224
total-51226
count-51225
total-51227
count-51226
total-51228
count-51227
total-51229
count-51228
total-51230
count-51229
total-51231
count-51230
total-51232
count-51231
total-51233
column4 double_ele[4, 5]
row 6double_ele[4, 5]
column6 double_ele[4, 5]
count-51232
total-51234
count-51233
total-51235
count-51234
total-51236
count-51235
total-51237
count-51236
total-51238
count-51237
total-51239
count-51238
total-51240
count-51239
total-51241
count-51240
total-51242
column1 double_ele[3, 5]
row 6double_ele[3, 8]
count-51241
total-51243
count-51242
total-51244
count-51243
total-51245
count-51244
total-51246
count-51245
total-51247
count-51246
total-51248
count-51247
total-51249
count-51248
total-51250
count-51249
total-51251
count-51250
total-51252
count-51251
total-51253
column8 double_ele[1, 3]
row 9double_ele[1, 3]
column9 double_ele[1, 3]
count-51252
total-51254
count-51253
total-51255
count-51254
total-51256
row 3double_ele[1, 2]
count-51255
total-51257
count-51256
total-51258
row 5double_ele[4, 5]
column5 double_ele[4, 5]
column8 double_ele[2, 6]
count-51257
total-51259
count-51258
total-51260
count-51259
total-51261
count-51260
total-51262
count-51261
total-51263
count-51262
total-51264
count-51263
total-51265
column7 double_ele[4, 5]
count-51264
total-51266
count-51265
total-51267
count-51266
total-51268
count-51267
total-51269
count-51268
total-51270
count-51269
total-51271
count-51270
total-51272
count-51271
total-51273
count-51272
total-51274
count-51273
total-51275
count-51274
total-51276
count-51275
total-51277
row 1double_ele[1, 9]
row 2double_ele[5, 9]
row 3double_ele[1, 5]
count-51276
total-51278
count-51277
total-51279
count-51278
total-51280
count-51279
total-51281
count-51280
total-51282
count-51281
total-51283
count-51282
total-51284
count-51283
total-51285
count-51284
total-51286
count-51285
total-51287
count-51286
total-51288
count-51287
total-51289
count-51288
total-51290
count-51289
total-51291
count-51290
total-51292
row 9double_ele[3, 7]
count-51291
total-51293
count-51292
total-51294
row 4double_ele[5, 7]
row 7double_ele[5, 6]
column8 double_ele[5, 7]
row 9double_ele[3, 4]
count-51293
total-51295
count-51294
total-51296
count-51295
total-51297
count-51296
total-51298
count-51297
total-51299
count-51298
total-51300
count-51299
total-51301
count-51300
total-51302
count-51301
total-51303
count-51302
total-51304
count-51303
total-51305
count-51304
total-51306
count-51305
total-51307
column5 double_ele[1, 5]
count-51306
total-51308
count-51307
total-51309
count-51308
total-51310
count-51309
total-51311
count-51310
total-51312
row 6double_ele[4, 5]
count-51311
total-51313
count-51312
total-51314
count-51313
total-51315
count-51314
total-51316
row 6double_ele[5, 6]
count-51315
total-51317
count-51316
total-51318
count-51317
total-51319
count-51318
total-51320
count-51319
total-51321
count-51320
total-51322
count-51321
total-51323
count-51322
total-51324
count-51323
total-51325
count-51324
total-51326
count-51325
total-51327
count-51326
total-51328
count-51327
total-51329
count-51328
total-51330
count-51329
total-51331
column1 double_ele[7, 8]
row 3double_ele[7, 8]
count-51330
total-51332
count-51331
total-51333
count-51332
total-51334
count-51333
total-51335
count-51334
total-51336
row 2double_ele[1, 3]
count-51335
total-51337
count-51336
total-51338
count-51337
total-51339
count-51338
total-51340
count-51339
total-51341
count-51340
total-51342
count-51341
total-51343
count-51342
total-51344
column3 double_ele[2, 6]
count-51343
total-51345
count-51344
total-51346
count-51345
total-51347
count-51346
total-51348
count-51347
total-51349
count-51348
total-51350
count-51349
total-51351
count-51350
total-51352
count-51351
total-51353
count-51352
total-51354
count-51353
total-51355
count-51354
total-51356
count-51355
total-51357
row 6double_ele[1, 6]
count-51356
total-51358
count-51357
total-51359
count-51358
total-51360
column7 double_ele[2, 4]
count-51359
total-51361
count-51360
total-51362
count-51361
total-51363
count-51362
total-51364
count-51363
total-51365
count-51364
total-51366
count-51365
total-51367
count-51366
total-51368
count-51367
total-51369
row 3double_ele[2, 5]
row 5double_ele[5, 6]
count-51368
total-51370
count-51369
total-51371
count-51370
total-51372
count-51371
total-51373
count-51372
total-51374
count-51373
total-51375
count-51374
total-51376
count-51375
total-51377
count-51376
total-51378
count-51377
total-51379
count-51378
total-51380
count-51379
total-51381
count-51380
total-51382
count-51381
total-51383
count-51382
total-51384
count-51383
total-51385
count-51384
total-51386
count-51385
total-51387
count-51386
total-51388
count-51387
total-51389
count-51388
total-51390
count-51389
total-51391
count-51390
total-51392
count-51391
total-51393
count-51392
total-51394
count-51393
total-51395
count-51394
total-51396
count-51395
total-51397
column1 double_ele[3, 8]
count-51396
total-51398
count-51397
total-51399
count-51398
total-51400
column9 double_ele[3, 8]
count-51399
total-51401
count-51400
total-51402
count-51401
total-51403
count-51402
total-51404
count-51403
total-51405
count-51404
total-51406
count-51405
total-51407
count-51406
total-51408
count-51407
total-51409
count-51408
total-51410
count-51409
total-51411
count-51410
total-51412
count-51411
total-51413
count-51412
total-51414
count-51413
total-51415
count-51414
total-51416
count-51415
total-51417
count-51416
total-51418
count-51417
total-51419
count-51418
total-51420
count-51419
total-51421
count-51420
total-51422
column6 double_ele[2, 7]
count-51421
total-51423
count-51422
total-51424
count-51423
total-51425
count-51424
total-51426
count-51425
total-51427
count-51426
total-51428
count-51427
total-51429
count-51428
total-51430
count-51429
total-51431
count-51430
total-51432
count-51431
total-51433
count-51432
total-51434
count-51433
total-51435
count-51434
total-51436
row 9double_ele[2, 3]
count-51435
total-51437
count-51436
total-51438
row 4double_ele[1, 6]
count-51437
total-51439
count-51438
total-51440
count-51439
total-51441
count-51440
total-51442
count-51441
total-51443
count-51442
total-51444
column2 double_ele[3, 6]
count-51443
total-51445
count-51444
total-51446
count-51445
total-51447
count-51446
total-51448
row 9double_ele[4, 6]

count-51447
total-51449
count-51448
total-51450
count-51449
total-51451
column1 double_ele[1, 2]
count-51450
total-51452
count-51451
total-51453
column4 double_ele[3, 6]
row 6double_ele[3, 6]
count-51452
total-51454
column7 double_ele[1, 8]
column8 double_ele[4, 5]
count-51453
total-51455
count-51454
total-51456
count-51455
total-51457
count-51456
total-51458
count-51457
total-51459
count-51458
total-51460
count-51459
total-51461
count-51460
total-51462
count-51461
total-51463
count-51462
total-51464
count-51463
total-51465
count-51464
total-51466
count-51465
total-51467
column2 double_ele[2, 5]
count-51466
total-51468
count-51467
total-51469
count-51468
total-51470
count-51469
total-51471
count-51470
total-51472
count-51471
total-51473
column2 double_ele[2, 7]
count-51472
total-51474
count-51473
total-51475
count-51474
total-51476
count-51475
total-51477
count-51476
total-51478
count-51477
total-51479
count-51478
total-51480
row 9double_ele[1, 2]
count-51479
total-51481
row 5double_ele[5, 6]
count-51480
total-51482
count-51481
total-51483
count-51482
total-51484
count-51483
total-51485
count-51484
total-51486
count-51485
total-51487
count-51486
total-51488
count-51487
total-51489
count-51488
total-51490
column2 double_ele[1, 5]
row 7double_ele[1, 5]
count-51489
total-51491
count-51490
total-51492
count-51491
total-51493
count-51492
total-51494
count-51493
total-51495
count-51494
total-51496
count-51495
total-51497
count-51496
total-51498
count-51497
total-51499
count-51498
total-51500
count-51499
total-51501
column6 double_ele[2, 6]
count-51500
total-51502
count-51501
total-51503
count-51502
total-51504
count-51503
total-51505
row 6double_ele[3, 6]
count-51504
total-51506
count-51505
total-51507
count-51506
total-51508
row 7double_ele[1, 4]
count-51507
total-51509
count-51508
total-51510
count-51509
total-51511
count-51510
total-51512
count-51511
total-51513
row 4double_ele[4, 8]
count-51512
total-51514
count-51513
total-51515
column1 double_ele[1, 3]
count-51514
total-51516
count-51515
total-51517
row 7double_ele[1, 2]
count-51516
total-51518
count-51517
total-51519
count-51518
total-51520
count-51519
total-51521
count-51520
total-51522
count-51521
total-51523
count-51522
total-51524
count-51523
total-51525
count-51524
total-51526
count-51525
total-51527
count-51526
total-51528
count-51527
total-51529
column6 double_ele[1, 7]
count-51528
total-51530
count-51529
total-51531
count-51530
total-51532
count-51531
total-51533
count-51532
total-51534
count-51533
total-51535
count-51534
total-51536
count-51535
total-51537
count-51536
total-51538
count-51537
total-51539
count-51538
total-51540
count-51539
total-51541
count-51540
total-51542
count-51541
total-51543
count-51542
total-51544
column5 double_ele[3, 4]
count-51543
total-51545
count-51544
total-51546
count-51545
total-51547
count-51546
total-51548
count-51547
total-51549
count-51548
total-51550
count-51549
total-51551
count-51550
total-51552
count-51551
total-51553
count-51552
total-51554
count-51553
total-51555
count-51554
total-51556
count-51555
total-51557
count-51556
total-51558
count-51557
total-51559
count-51558
total-51560
count-51559
total-51561
count-51560
total-51562
count-51561
total-51563
count-51562
total-51564
count-51563
total-51565
count-51564
total-51566
count-51565
total-51567
count-51566
total-51568
count-51567
total-51569
count-51568
total-51570
count-51569
total-51571
column3 double_ele[2, 4]
row 4double_ele[1, 2]
count-51570
total-51572
count-51571
total-51573
count-51572
total-51574
count-51573
total-51575
count-51574
total-51576
count-51575
total-51577
count-51576
total-51578
count-51577
total-51579
count-51578
total-51580
count-51579
total-51581
count-51580
total-51582
column7 double_ele[4, 6]
count-51581
total-51583
column1 double_ele[4, 5]
row 4double_ele[4, 5]
count-51582
total-51584
count-51583
total-51585
count-51584
total-51586
count-51585
total-51587
count-51586
total-51588
count-51587
total-51589
count-51588
total-51590
count-51589
total-51591
count-51590
total-51592
count-51591
total-51593
count-51592
total-51594
count-51593
total-51595
count-51594
total-51596
count-51595
total-51597
count-51596
total-51598
count-51597
total-51599
count-51598
total-51600
count-51599
total-51601
count-51600
total-51602
count-51601
total-51603
count-51602
total-51604
column1 double_ele[1, 2]
count-51603
total-51605
count-51604
total-51606
count-51605
total-51607
count-51606
total-51608
count-51607
total-51609
count-51608
total-51610
count-51609
total-51611
count-51610
total-51612
count-51611
total-51613
count-51612
total-51614
count-51613
total-51615
count-51614
total-51616
count-51615
total-51617
count-51616
total-51618
count-51617
total-51619
count-51618
total-51620
column2 double_ele[2, 3]
count-51619
total-51621
row 5double_ele[2, 7]
column6 double_ele[2, 7]
count-51620
total-51622
count-51621
total-51623
count-51622
total-51624
row 5double_ele[2, 8]
column9 double_ele[2, 8]
count-51623
total-51625
count-51624
total-51626
count-51625
total-51627
count-51626
total-51628
count-51627
total-51629
count-51628
total-51630
count-51629
total-51631
count-51630
total-51632
count-51631
total-51633
count-51632
total-51634
count-51633
total-51635
count-51634
total-51636
count-51635
total-51637
count-51636
total-51638
count-51637
total-51639
count-51638
total-51640
row 1double_ele[1, 3]
count-51639
total-51641
count-51640
total-51642
count-51641
total-51643
count-51642
total-51644
column5 double_ele[1, 3]
count-51643
total-51645
count-51644
total-51646
count-51645
total-51647
column9 double_ele[1, 7]
count-51646
total-51648
count-51647
total-51649
column4 double_ele[1, 2]
count-51648
total-51650
count-51649
total-51651
column3 double_ele[1, 7]
row 6double_ele[1, 7]
count-51650
total-51652
count-51651
total-51653
count-51652
total-51654
count-51653
total-51655
count-51654
total-51656
column1 double_ele[2, 3]
count-51655
total-51657
count-51656
total-51658
count-51657
total-51659
column3 double_ele[3, 4]
count-51658
total-51660
count-51659
total-51661
count-51660
total-51662
count-51661
total-51663
count-51662
total-51664
count-51663
total-51665
count-51664
total-51666
count-51665
total-51667
count-51666
total-51668
count-51667
total-51669
count-51668
total-51670
count-51669
total-51671
count-51670
total-51672
count-51671
total-51673
count-51672
total-51674
count-51673
total-51675
count-51674
total-51676
count-51675
total-51677
count-51676
total-51678
count-51677
total-51679
count-51678
total-51680
count-51679
total-51681
count-51680
total-51682
count-51681
total-51683
row 4double_ele[2, 9]
row 5double_ele[2, 6]
count-51682
total-51684
count-51683
total-51685
count-51684
total-51686
count-51685
total-51687
count-51686
total-51688
row 8double_ele[1, 5]
count-51687
total-51689
count-51688
total-51690
count-51689
total-51691
count-51690
total-51692
count-51691
total-51693
count-51692
total-51694
count-51693
total-51695
count-51694
total-51696
row 1double_ele[1, 2]
row 5double_ele[1, 2]
column5 double_ele[1, 2]
column6 double_ele[1, 2]
column7 double_ele[1, 2]
count-51695
total-51697
row 5double_ele[1, 6]
count-51696
total-51698
count-51697
total-51699
count-51698
total-51700
count-51699
total-51701
count-51700
total-51702
count-51701
total-51703
count-51702
total-51704
count-51703
total-51705
count-51704
total-51706
count-51705
total-51707
row 7double_ele[1, 7]
count-51706
total-51708
count-51707
total-51709
row 9double_ele[1, 4]
count-51708
total-51710
row 6double_ele[2, 4]
column6 double_ele[2, 4]
count-51709
total-51711
count-51710
total-51712
count-51711
total-51713
count-51712
total-51714
count-51713
total-51715
count-51714
total-51716
count-51715
total-51717
count-51716
total-51718
count-51717
total-51719
count-51718
total-51720
count-51719
total-51721
count-51720
total-51722
count-51721
total-51723
count-51722
total-51724
count-51723
total-51725
count-51724
total-51726
count-51725
total-51727
column7 double_ele[2, 6]
count-51726
total-51728
row 4double_ele[2, 4]
count-51727
total-51729
count-51728
total-51730
count-51729
total-51731
count-51730
total-51732
count-51731
total-51733
count-51732
total-51734
count-51733
total-51735
count-51734
total-51736
count-51735
total-51737
count-51736
total-51738
count-51737
total-51739
count-51738
total-51740
row 5double_ele[4, 5]
row 8double_ele[2, 4]
count-51739
total-51741
count-51740
total-51742
count-51741
total-51743
count-51742
total-51744
count-51743
total-51745

count-51744
total-51746
column1 double_ele[1, 3]
count-51745
total-51747
count-51746
total-51748
count-51747
total-51749
count-51748
total-51750
count-51749
total-51751
count-51750
total-51752
count-51751
total-51753
count-51752
total-51754
count-51753
total-51755
column6 double_ele[1, 2]
count-51754
total-51756
count-51755
total-51757
count-51756
total-51758
count-51757
total-51759
count-51758
total-51760
count-51759
total-51761
count-51760
total-51762
count-51761
total-51763
count-51762
total-51764
count-51763
total-51765
count-51764
total-51766
count-51765
total-51767
count-51766
total-51768
row 2double_ele[1, 6]
count-51767
total-51769
count-51768
total-51770
count-51769
total-51771
count-51770
total-51772
count-51771
total-51773
count-51772
total-51774
count-51773
total-51775
count-51774
total-51776
count-51775
total-51777
column4 double_ele[2, 5]
count-51776
total-51778
count-51777
total-51779
count-51778
total-51780
column1 double_ele[2, 7]
column3 double_ele[6, 7]
row 5double_ele[6, 7]
count-51779
total-51781
count-51780
total-51782
count-51781
total-51783
count-51782
total-51784
count-51783
total-51785
count-51784
total-51786
count-51785
total-51787
count-51786
total-51788
count-51787
total-51789
count-51788
total-51790
count-51789
total-51791
count-51790
total-51792
count-51791
total-51793
count-51792
total-51794
count-51793
total-51795
count-51794
total-51796
count-51795
total-51797
count-51796
total-51798
count-51797
total-51799
count-51798
total-51800
count-51799
total-51801
count-51800
total-51802
count-51801
total-51803
count-51802
total-51804
count-51803
total-51805
count-51804
total-51806
count-51805
total-51807
count-51806
total-51808
count-51807
total-51809
count-51808
total-51810
count-51809
total-51811
count-51810
total-51812
column2 double_ele[1, 5]
row 9double_ele[2, 9]
count-51811
total-51813
count-51812
total-51814
count-51813
total-51815
count-51814
total-51816
count-51815
total-51817
count-51816
total-51818
count-51817
total-51819
count-51818
total-51820
count-51819
total-51821
count-51820
total-51822
count-51821
total-51823
count-51822
total-51824
count-51823
total-51825
count-51824
total-51826
count-51825
total-51827
column2 double_ele[2, 4]
count-51826
total-51828
count-51827
total-51829
count-51828
total-51830
count-51829
total-51831
count-51830
total-51832
count-51831
total-51833
count-51832
total-51834
count-51833
total-51835
count-51834
total-51836
count-51835
total-51837
count-51836
total-51838
count-51837
total-51839
count-51838
total-51840
count-51839
total-51841
count-51840
total-51842
count-51841
total-51843
count-51842
total-51844
count-51843
total-51845
count-51844
total-51846
count-51845
total-51847
count-51846
total-51848
count-51847
total-51849
count-51848
total-51850
count-51849
total-51851
count-51850
total-51852
count-51851
total-51853
column3 double_ele[6, 8]
count-51852
total-51854
count-51853
total-51855
count-51854
total-51856
count-51855
total-51857
count-51856
total-51858
count-51857
total-51859
row 6double_ele[1, 5]
count-51858
total-51860
count-51859
total-51861
count-51860
total-51862
count-51861
total-51863
count-51862
total-51864
count-51863
total-51865
count-51864
total-51866
count-51865
total-51867
count-51866
total-51868
count-51867
total-51869
count-51868
total-51870
count-51869
total-51871
count-51870
total-51872
count-51871
total-51873
count-51872
total-51874
row 8double_ele[2, 3]
count-51873
total-51875
count-51874
total-51876
count-51875
total-51877
count-51876
total-51878
count-51877
total-51879
count-51878
total-51880
count-51879
total-51881
count-51880
total-51882
count-51881
total-51883
count-51882
total-51884
count-51883
total-51885
row 9double_ele[1, 3]
count-51884
total-51886
count-51885
total-51887
count-51886
total-51888
count-51887
total-51889
count-51888
total-51890
count-51889
total-51891
count-51890
total-51892
count-51891
total-51893
count-51892
total-51894
count-51893
total-51895
count-51894
total-51896
count-51895
total-51897
count-51896
total-51898
count-51897
total-51899
count-51898
total-51900
row 4double_ele[1, 6]
count-51899
total-51901
count-51900
total-51902
count-51901
total-51903
count-51902
total-51904
count-51903
total-51905
count-51904
total-51906
count-51905
total-51907
row 8double_ele[2, 4]
count-51906
total-51908
count-51907
total-51909
count-51908
total-51910
count-51909
total-51911
count-51910
total-51912
count-51911
total-51913
count-51912
total-51914
count-51913
total-51915
count-51914
total-51916
count-51915
total-51917
count-51916
total-51918
count-51917
total-51919
row 1double_ele[1, 4]
count-51918
total-51920
count-51919
total-51921
count-51920
total-51922
count-51921
total-51923
count-51922
total-51924
count-51923
total-51925
box6 triple_ele[3, 5, 7]
count-51924
total-51926
count-51925
total-51927
count-51926
total-51928
count-51927
total-51929
count-51928
total-51930
count-51929
total-51931
count-51930
total-51932
count-51931
total-51933
count-51932
total-51934
count-51933
total-51935
count-51934
total-51936
count-51935
total-51937
count-51936
total-51938
count-51937
total-51939
count-51938
total-51940
count-51939
total-51941
count-51940
total-51942
count-51941
total-51943
column3 double_ele[2, 5]
count-51942
total-51944
count-51943
total-51945
count-51944
total-51946
count-51945
total-51947
count-51946
total-51948
count-51947
total-51949
count-51948
total-51950
count-51949
total-51951
count-51950
total-51952
count-51951
total-51953
count-51952
total-51954
count-51953
total-51955
count-51954
total-51956
count-51955
total-51957
row 8double_ele[1, 7]
count-51956
total-51958
count-51957
total-51959
count-51958
total-51960
count-51959
total-51961
count-51960
total-51962
count-51961
total-51963
count-51962
total-51964
count-51963
total-51965
count-51964
total-51966
count-51965
total-51967
count-51966
total-51968
count-51967
total-51969
count-51968
total-51970
column8 double_ele[3, 8]
count-51969
total-51971
count-51970
total-51972
count-51971
total-51973
count-51972
total-51974
count-51973
total-51975
column6 double_ele[2, 5]
count-51974
total-51976
count-51975
total-51977
count-51976
total-51978
count-51977
total-51979
row 4double_ele[3, 5]
row 9double_ele[4, 5]
count-51978
total-51980
count-51979
total-51981
count-51980
total-51982
count-51981
total-51983
count-51982
total-51984
row 5double_ele[1, 2]
count-51983
total-51985
count-51984
total-51986
count-51985
total-51987
count-51986
total-51988
count-51987
total-51989
count-51988
total-51990
count-51989
total-51991
count-51990
total-51992
count-51991
total-51993
column7 double_ele[1, 7]
count-51992
total-51994
count-51993
total-51995
row 2double_ele[1, 3]
count-51994
total-51996
count-51995
total-51997
column1 double_ele[1, 5]
count-51996
total-51998
count-51997
total-51999
count-51998
total-52000
count-51999
total-52001
count-52000
total-52002
row 3double_ele[4, 6]
count-52001
total-52003
count-52002
total-52004
row 8double_ele[1, 5]
count-52003
total-52005
column7 double_ele[6, 7]
row 8double_ele[1, 5]
count-52004
total-52006
count-52005
total-52007
row 6double_ele[2, 8]
count-52006
total-52008
count-52007
total-52009
count-52008
total-52010
count-52009
total-52011
count-52010
total-52012
count-52011
total-52013
count-52012
total-52014
count-52013
total-52015
row 3double_ele[3, 5]
count-52014
total-52016
count-52015
total-52017
count-52016
total-52018
column5 double_ele[4, 7]
row 9double_ele[4, 7]
column7 triple_ele[1, 4, 7]
box9 triple_ele[1, 4, 7]
count-52017
total-52019
count-52018
total-52020
count-52019
total-52021
count-52020
total-52022
column6 double_ele[4, 6]
column9 double_ele[1, 4]
count-52021
total-52023
count-52022
total-52024
count-52023
total-52025
column5 double_ele[2, 5]
row 6triple_ele[1, 2, 5]
count-52024
total-52026
count-52025
total-52027
count-52026
total-52028
count-52027
total-52029
count-52028
total-52030
count-52029
total-52031
count-52030
total-52032
count-52031
total-52033
count-52032
total-52034
count-52033
total-52035
column8 double_ele[1, 8]
count-52034
total-52036
count-52035
total-52037
count-52036
total-52038
count-52037
total-52039
count-52038
total-52040
count-52039
total-52041
count-52040
total-52042
count-52041
total-52043
count-52042
total-52044
count-52043
total-52045
column4 double_ele[3, 8]
row 6double_ele[1, 3]
count-52044
total-52046
count-52045
total-52047
count-52046
total-52048
count-52047
total-52049
count-52048
total-52050
count-52049
total-52051
count-52050
total-52052
count-52051
total-52053
count-52052
total-52054
count-52053
total-52055
row 6double_ele[1, 2]
count-52054
total-52056
count-52055
total-52057
count-52056
total-52058
count-52057
total-52059
count-52058
total-52060
count-52059
total-52061
count-52060
total-52062
count-52061
total-52063
count-52062
total-52064
count-52063
total-52065
count-52064
total-52066
column4 double_ele[1, 7]
row 7double_ele[1, 7]
row 9double_ele[1, 7]
count-52065
total-52067

row 3double_ele[4, 8]
row 4double_ele[1, 4]
row 8double_ele[2, 8]
count-52066
total-52068
count-52067
total-52069
count-52068
total-52070
count-52069
total-52071
row 6double_ele[2, 3]
column6 double_ele[2, 3]
count-52070
total-52072
count-52071
total-52073
count-52072
total-52074
count-52073
total-52075
count-52074
total-52076
count-52075
total-52077
count-52076
total-52078
count-52077
total-52079
count-52078
total-52080
count-52079
total-52081
count-52080
total-52082
row 1double_ele[1, 2]
row 3double_ele[1, 2]
column3 double_ele[1, 2]
column8 double_ele[1, 2]
count-52081
total-52083
count-52082
total-52084
column3 double_ele[4, 7]
column8 double_ele[4, 6]
count-52083
total-52085
count-52084
total-52086
count-52085
total-52087
count-52086
total-52088
count-52087
total-52089
count-52088
total-52090
count-52089
total-52091
count-52090
total-52092
count-52091
total-52093
count-52092
total-52094
count-52093
total-52095
count-52094
total-52096
count-52095
total-52097
row 1double_ele[2, 3]
column2 double_ele[2, 3]
count-52096
total-52098
count-52097
total-52099
count-52098
total-52100
count-52099
total-52101
count-52100
total-52102
row 6double_ele[3, 7]
count-52101
total-52103
count-52102
total-52104
row 7double_ele[1, 2]
count-52103
total-52105
count-52104
total-52106
count-52105
total-52107
count-52106
total-52108
count-52107
total-52109
count-52108
total-52110
count-52109
total-52111
column1 double_ele[1, 3]
row 8double_ele[1, 3]
count-52110
total-52112
count-52111
total-52113
count-52112
total-52114
count-52113
total-52115
count-52114
total-52116
column5 double_ele[1, 4]
row 6double_ele[1, 4]
count-52115
total-52117
count-52116
total-52118
count-52117
total-52119
count-52118
total-52120
count-52119
total-52121
count-52120
total-52122
count-52121
total-52123
count-52122
total-52124
count-52123
total-52125
count-52124
total-52126
count-52125
total-52127
count-52126
total-52128
count-52127
total-52129
count-52128
total-52130
count-52129
total-52131
column2 double_ele[3, 5]
count-52130
total-52132
count-52131
total-52133
count-52132
total-52134
count-52133
total-52135
count-52134
total-52136
count-52135
total-52137
count-52136
total-52138
count-52137
total-52139
count-52138
total-52140
count-52139
total-52141
count-52140
total-52142
count-52141
total-52143
count-52142
total-52144
row 7double_ele[1, 5]
column8 double_ele[1, 5]
count-52143
total-52145
count-52144
total-52146
count-52145
total-52147
count-52146
total-52148
count-52147
total-52149
count-52148
total-52150
count-52149
total-52151
count-52150
total-52152
count-52151
total-52153
count-52152
total-52154
column8 double_ele[1, 3]
count-52153
total-52155
count-52154
total-52156
count-52155
total-52157
count-52156
total-52158
count-52157
total-52159
count-52158
total-52160
column7 double_ele[2, 6]
count-52159
total-52161
row 3double_ele[1, 4]
column6 double_ele[1, 4]
count-52160
total-52162
count-52161
total-52163
count-52162
total-52164
count-52163
total-52165
count-52164
total-52166
count-52165
total-52167
count-52166
total-52168
count-52167
total-52169
count-52168
total-52170
count-52169
total-52171
count-52170
total-52172
row 2double_ele[1, 2]
row 9double_ele[1, 7]
count-52171
total-52173
count-52172
total-52174
count-52173
total-52175
count-52174
total-52176
count-52175
total-52177
count-52176
total-52178
count-52177
total-52179
count-52178
total-52180
count-52179
total-52181
count-52180
total-52182
count-52181
total-52183
row 9double_ele[1, 5]
count-52182
total-52184
count-52183
total-52185
count-52184
total-52186
count-52185
total-52187
count-52186
total-52188
count-52187
total-52189
count-52188
total-52190
count-52189
total-52191
count-52190
total-52192
count-52191
total-52193
count-52192
total-52194
count-52193
total-52195
count-52194
total-52196
count-52195
total-52197
count-52196
total-52198
count-52197
total-52199
count-52198
total-52200
count-52199
total-52201
count-52200
total-52202
count-52201
total-52203
count-52202
total-52204
count-52203
total-52205
count-52204
total-52206
count-52205
total-52207
column8 double_ele[2, 3]
count-52206
total-52208
count-52207
total-52209
count-52208
total-52210
count-52209
total-52211
count-52210
total-52212
count-52211
total-52213
count-52212
total-52214
count-52213
total-52215
count-52214
total-52216
column1 double_ele[4, 5]
count-52215
total-52217
column2 double_ele[1, 3]
row 4double_ele[1, 3]
count-52216
total-52218
count-52217
total-52219
count-52218
total-52220
row 8double_ele[3, 4]
count-52219
total-52221
count-52220
total-52222
count-52221
total-52223
count-52222
total-52224
count-52223
total-52225
count-52224
total-52226
count-52225
total-52227
row 7double_ele[4, 5]
count-52226
total-52228
count-52227
total-52229
count-52228
total-52230
count-52229
total-52231
column4 double_ele[2, 5]
count-52230
total-52232
count-52231
total-52233

KeyboardInterrupt:

In [53]:
count/count1

0.9999551891019895

In [4]:
percent()

[4, 4, 4, 4, 5, 3, 2, 3, 9]

46

In [63]:
sum([7,7,7,6,5,9,3,4,5])/9

5.888888888888889

In [25]:
data['quizzes'][0]

'004300209005009001070060043006002087190007400050083000600000105003508690042910300'

In [2]:
r

'---987456'

In [3]:
from multiprocessing import cpu_count

In [4]:
cpu_count()

4

In [8]:
for i in r:
    print(i)

-
-
-
9
8
7
4
5
6

In [41]:
data=pd.read_csv("sudoku.csv")

In [42]:
data=data['quizzes']

In [43]:
len(data)

1000000

In [32]:
b=[]
j=0
for i in a:
    if(j==0):
        b.append([])
    b[-1].append(int(i))
    j=(j+1)%9

In [33]:
b

[[0, 0, 4, 3, 0, 0, 2, 0, 9],
 [0, 0, 5, 0, 0, 9, 0, 0, 1],
 [0, 7, 0, 0, 6, 0, 0, 4, 3],
 [0, 0, 6, 0, 0, 2, 0, 8, 7],
 [1, 9, 0, 0, 0, 7, 4, 0, 0],
 [0, 5, 0, 0, 8, 3, 0, 0, 0],
 [6, 0, 0, 0, 0, 0, 1, 0, 5],
 [0, 0, 3, 5, 0, 8, 6, 9, 0],
 [0, 4, 2, 9, 1, 0, 3, 0, 0]]

In [20]:
a=str(a)

In [21]:
a

'[[8, 6, 4, 3, 7, 1, 2, 5, 9], [3, 2, 5, 8, 4, 9, 7, 6, 1], [9, 7, 1, 2, 6, 5, 8, 4, 3], [4, 3, 6, 1, 9, 2, 5, 8, 7], [1, 9, 8, 6, 5, 7, 4, 3, 2], [2, 5, 7, 4, 8, 3, 9, 1, 6], [6, 8, 9, 7, 3, 4, 1, 2, 5], [7, 1, 3, 5, 2, 8, 6, 9, 4], [5, 4, 2, 9, 1, 6, 3, 7, 8]]'

In [ ]:
data['']